#manage-sale {
  height: 100vh;
  background-color: #e0e7fe;
}

#manage-sale #loading-data {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ecedef;
  background-image: url(/images/restaurant/loading.jpeg);
  background-size: cover;
  z-index: 9999;
  width: 100%;
  height: 100%;
}

#manage-sale #loading-data .loading-data {
  position: absolute;
  bottom: 50px;
  left: calc(50% - 22px);
}

#manage-sale #screen {
  height: 100%;
  padding: 0;
}

#manage-sale #screen .main-wrapper {
  height: 100%;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

#manage-sale #screen .main-wrapper .left-screen {
  padding: 0;
  width: calc(100% - 630px);
  height: 100%;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant {
  height: 100%;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant .header {
  height: 43px;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant .header__tabs {
  width: 233px;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant .header__tabs--tables a,
#manage-sale #screen .main-wrapper .left-screen .restaurant .header__tabs--dishs a {
  border: 1px solid #55ACEE !important;
  color: #777;
  padding: 5.5px !important;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant .header__tabs--tables a:hover,
#manage-sale #screen .main-wrapper .left-screen .restaurant .header__tabs--dishs a:hover {
  color: white;
  background-color: #387ef5 !important;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant .header__tabs .active a {
  color: white;
  background-color: #55ACEE !important;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant .header__notification {
  width: calc(100% - 100px);
}

#manage-sale #screen .main-wrapper .left-screen .restaurant .header__notification .notification {
  height: 34px;
  border-radius: 5px;
  background-color: #e2e9f0;
  color: #387ef5;
  font-style: oblique;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant .header__notification .notification--show {
  width: 30px;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant .header__notification .notification--message,
#manage-sale #screen .main-wrapper .left-screen .restaurant .header__notification .notification--show {
  line-height: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant .header__hide-show-invoice {
  margin-top: 7px;
  margin-right: 10px;
  color: #3899ea;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant .header .width-custom {
  width: calc(100% - 275px);
}

#manage-sale #screen .main-wrapper .left-screen .restaurant #select-wrapper {
  height: calc(100% - 43px);
  margin-top: 0;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant #select-wrapper #table-select {
  height: 100%;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant #select-wrapper #table-select .tables {
  height: 100%;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant #select-wrapper #table-select .tables__info {
  height: 43px;
  padding: 7px 5px !important;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant #select-wrapper #table-select .tables__map {
  height: calc(100% - 188px);
}

#manage-sale #screen .main-wrapper .left-screen .restaurant #select-wrapper #table-select .tables__map .tables-positions {
  max-height: 100%;
  overflow-y: auto;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant #select-wrapper #table-select .tables__map .area__title {
  border-bottom: 1px solid #c5c5c5;
  margin: 0 10px;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant #select-wrapper #table-select .tables__area-option {
  height: 148px;
  padding: 20px;
  margin-top: 2px !important;
  margin-bottom: 0 !important;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant #select-wrapper #table-select .tables__area-option .wrapper .area-option__status {
  width: 120px;
  margin: 0 10px;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant #select-wrapper #table-select .tables__area-option .wrapper .area-option__status button {
  margin-bottom: 5px;
  padding: 0.2rem 0.5rem !important;
  text-align: left;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant #select-wrapper #table-select .tables__area-option .wrapper .area-option__floor {
  overflow-y: auto;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant #select-wrapper #table-select .tables__area-option .wrapper .area-option__floor .p-2 {
  padding: 0 !important;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant #select-wrapper #table-select .tables__area-option .wrapper .area-option__floor .floor:hover {
  background-color: #9bcb6c;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant #select-wrapper #table-select .tables__area-option .wrapper .area-option__floor .floor__image {
  margin: 0.6rem auto;
  background-position: center center;
  background-size: cover;
  background-image: url(/images/restaurant/floor.png);
  width: 40px !important;
  height: 40px !important;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant #select-wrapper #table-select .tables__area-option .wrapper .area-option__floor .floor__name {
  width: 80px;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
  font-size: 1.2rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant #select-wrapper #table-select .tables__area-option .wrapper .area-option__floor .fa-chevron-circle-left,
#manage-sale #screen .main-wrapper .left-screen .restaurant #select-wrapper #table-select .tables__area-option .wrapper .area-option__floor .fa-chevron-circle-right {
  color: #55ACEE;
  font-size: 3rem;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant #select-wrapper #table-select .tables__area-option .wrapper .area-option__floor .fa-chevron-circle-left:hover,
#manage-sale #screen .main-wrapper .left-screen .restaurant #select-wrapper #table-select .tables__area-option .wrapper .area-option__floor .fa-chevron-circle-right:hover {
  color: #387ef5;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant #select-wrapper #table-select .tables__area-option .wrapper .area-option__floor .disable {
  color: #ababab;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant #select-wrapper #table-select .tables__area-option .wrapper .area-option__floor .disable:hover {
  color: #ababab;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant #select-wrapper #dishs-select {
  height: 100%;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant #select-wrapper #dishs-select .dishs {
  height: 100%;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant #select-wrapper #dishs-select .dishs__menu-group {
  height: 100%;
  overflow-y: auto;
  position: relative;
  width: 160px;
  margin-bottom: 0 !important;
  margin-right: 5px;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant #select-wrapper #dishs-select .dishs__container {
  width: calc(100% - 100px);
  padding: 0 !important;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant #select-wrapper #dishs-select .dishs__container .dishs__search {
  padding: 4px;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant #select-wrapper #dishs-select .dishs__container .dishs__search input {
  height: 34px;
  padding: 2px 5px;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant #select-wrapper #dishs-select .dishs__container .dishs__list {
  height: calc(100% - 43px);
}

#manage-sale #screen .main-wrapper .left-screen .restaurant #select-wrapper #dishs-select .dishs__container .dishs__list .wrapper {
  overflow-y: auto;
  padding-bottom: 15px;
  max-height: 100%;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant #select-wrapper #dishs-select .dishs__container .dishs__list .wrapper .dish__wrapper {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  margin: 10px;
  width: 130px !important;
  height: 175px !important;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant #select-wrapper #dishs-select .dishs__container .dishs__list .wrapper .dish__wrapper:hover {
  background-color: #e2e9f0;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant #select-wrapper #dishs-select .dishs__container .dishs__list .wrapper .dish__wrapper .dish {
  position: relative;
  height: 100%;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant #select-wrapper #dishs-select .dishs__container .dishs__list .wrapper .dish__wrapper .dish__out-stock {
  position: absolute;
  bottom: -5px;
  right: -10px;
  color: #c62717;
  font-size: 2rem;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant #select-wrapper #dishs-select .dishs__container .dishs__list .wrapper .dish__wrapper .dish__count {
  position: absolute;
  bottom: -15px;
  right: -15px;
  background-color: #349813;
  color: white;
  width: 28px !important;
  height: 28px !important;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant #select-wrapper #dishs-select .dishs__container .dishs__list .wrapper .dish__wrapper .dish__image {
  height: calc(100% - 85px);
}

#manage-sale #screen .main-wrapper .left-screen .restaurant #select-wrapper #dishs-select .dishs__container .dishs__list .wrapper .dish__wrapper .dish__image img,
#manage-sale #screen .main-wrapper .left-screen .restaurant #select-wrapper #dishs-select .dishs__container .dishs__list .wrapper .dish__wrapper .dish__image i {
  height: 100%;
  width: 100%;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant #select-wrapper #dishs-select .dishs__container .dishs__list .wrapper .dish__wrapper .dish__name {
  height: 60px;
  font-weight: 500;
  font-size: 1.3rem;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  text-overflow: ellipsis;
  overflow: hidden;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant #select-wrapper #dishs-select .dishs__container .dishs__list .wrapper .dish__wrapper .dish__unit {
  margin-top: 2px;
  height: 15px;
  font-size: 1.3rem;
}

#manage-sale #screen .main-wrapper .left-screen .restaurant #select-wrapper #dishs-select .dishs__container .dishs__list .wrapper .dish__wrapper .dish__code {
  font-style: italic;
  height: 30px;
  color: #3899ea;
  font-size: 1.2rem;
}

#manage-sale #screen .main-wrapper .left-screen .invoice {
  height: 100%;
}

#manage-sale #screen .main-wrapper .left-screen .invoice .invoice-template {
  height: calc(100% - 43px);
  margin: 0;
  padding-right: 0;
  overflow-y: auto;
}

#manage-sale #screen .main-wrapper .left-screen .invoice .invoice-template .template-invoice {
  height: 100%;
  background-position: center center;
  background-size: cover;
}

#manage-sale #screen .main-wrapper .left-screen .invoice .invoice-template .template-invoice .view-invoice {
  height: 100%;
  overflow-y: auto;
}

#manage-sale #screen .main-wrapper .left-screen .invoice .invoice-template .template-invoice .view-invoice table {
  width: 98%;
  border: none;
}

#manage-sale #screen .main-wrapper .left-screen .invoice .invoice-template .template-invoice .view-invoice table .tables ul li {
  list-style-type: none !important;
}

#manage-sale #screen .main-wrapper .left-screen .invoice .confirm {
  height: 62px;
  margin: 4px 0 0 0;
  padding: 0.7rem 0.5rem !important;
}

#manage-sale #screen .main-wrapper .left-screen .invoice .confirm button {
  margin: 10px;
}

#manage-sale #screen .main-wrapper .left-screen .invoice .confirm .size {
  margin: 10px 0 10px 20px;
  cursor: pointer;
}

#manage-sale #screen .main-wrapper .left-screen .invoice .confirm .size i {
  color: #55ACEE;
}

#manage-sale #screen .main-wrapper .order {
  padding: 0 0 0 5px;
  background-color: #e0e7fe;
  padding-left: 2px;
  width: 628px !important;
  height: 100% !important;
}

#manage-sale #screen .main-wrapper .order #dropdownInvoicesList {
  background: none !important;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
  border-right: solid 1px #eee;
}

#manage-sale #screen .main-wrapper .order .header {
  height: 43px;
  background-color: #55ACEE;
  color: white;
}

#manage-sale #screen .main-wrapper .order .header .menu-account .image-user {
  margin: 0 auto;
  background-position: center center;
  background-size: cover;
  width: 30px !important;
  height: 30px !important;
}

#manage-sale #screen .main-wrapper .order .header .show-list-order {
  background: none !important;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
  border-right: 1px solid white !important;
  border-left: 1px solid white !important;
  width: 45px !important;
  height: 37px !important;
}

#manage-sale #screen .main-wrapper .order .header .add-order {
  background-color: #55ACEE;
  color: white;
}

#manage-sale #screen .main-wrapper .order .header .add-order ul {
  min-width: 200px;
}

#manage-sale #screen .main-wrapper .order .header .add-order ul li {
  padding: 15px;
  background-color: #fefefe;
  font-size: 13px;
}

#manage-sale #screen .main-wrapper .order .header .name-order {
  height: 100%;
  max-width: 360px;
  line-height: 35px;
  flex-grow: 1;
}

#manage-sale #screen .main-wrapper .order .header .name-order .table-order {
  width: 100%;
  background: none !important;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#manage-sale #screen .main-wrapper .order .content {
  position: relative;
  height: calc(100% - 43px);
}

#manage-sale #screen .main-wrapper .order .content .general {
  height: 42px;
  margin: 2px 0;
  padding: 0 !important;
}

#manage-sale #screen .main-wrapper .order .content .general #order-actions {
  padding: 0 8px 0 0 !important;
}

#manage-sale #screen .main-wrapper .order .content .general #order-actions .actions {
  height: 42px;
}

#manage-sale #screen .main-wrapper .order .content .general #order-actions .actions .btn-action {
  border: 1px solid #55ACEE;
  margin-left: 10px;
  width: 30px !important;
  height: 30px !important;
}

#manage-sale #screen .main-wrapper .order .content .general #order-actions .actions .btn-action:hover {
  border-color: #55ACEE;
}

#manage-sale #screen .main-wrapper .order .content .general #order-actions .actions .noted {
  border-color: #fc7300 !important;
  background-color: #fc7300 !important;
}

#manage-sale #screen .main-wrapper .order .content .dishs-select {
  flex-grow: 1;
}

#manage-sale #screen .main-wrapper .order .content .dishs-select .list-dishs {
  width: 100% !important;
}

#manage-sale #screen .main-wrapper .order .content .dishs-select .list-dishs .goods {
  width: 100%;
  border-bottom: 2px solid #e2e9f0;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

#manage-sale #screen .main-wrapper .order .content .dishs-select .list-dishs .goods .goods-item {
  overflow: hidden;
  padding: 5px 0;
}

#manage-sale #screen .main-wrapper .order .content .dishs-select .list-dishs .goods .goods-item .status {
  width: 133px;
  margin: 0 10px;
}

#manage-sale #screen .main-wrapper .order .content .dishs-select .list-dishs .goods .goods-item .status .label {
  width: 80% !important;
  display: inline-block !important;
}

#manage-sale #screen .main-wrapper .order .content .dishs-select .list-dishs .goods .goods-item:hover {
  background-color: #e2e9f0;
}

#manage-sale #screen .main-wrapper .order .content .dishs-select .list-dishs .goods .goods-item .unavailable {
  color: #c62717;
  margin-left: 70px;
  transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
}

#manage-sale #screen .main-wrapper .order .content .dishs-select .list-dishs .goods__info {
  width: 624px;
  flex-grow: 1;
}

#manage-sale #screen .main-wrapper .order .content .dishs-select .list-dishs .goods__info:hover .btn-decrement,
#manage-sale #screen .main-wrapper .order .content .dishs-select .list-dishs .goods__info:hover .btn-increment {
  display: block;
  margin: 0 5px;
  height: 28px;
  width: 28px;
  padding: 3.5px 7px;
  opacity: 0.65;
}

#manage-sale #screen .main-wrapper .order .content .dishs-select .list-dishs .goods__info:hover .btn-delete {
  display: block;
}

#manage-sale #screen .main-wrapper .order .content .dishs-select .list-dishs .goods__info:hover .btn-delete:hover {
  cursor: pointer;
}

#manage-sale #screen .main-wrapper .order .content .dishs-select .list-dishs .goods__info .btn-decrement,
#manage-sale #screen .main-wrapper .order .content .dishs-select .list-dishs .goods__info .btn-increment {
  padding: 3.5px 7px;
  display: none;
}

#manage-sale #screen .main-wrapper .order .content .dishs-select .list-dishs .goods__info .goods_name_and_status {
  position: relative;
  flex-grow: 1;
}

#manage-sale #screen .main-wrapper .order .content .dishs-select .list-dishs .goods__info .goods_name_and_status .goods_name {
  white-space: nowrap;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  text-overflow: ellipsis;
  overflow: hidden;
}

#manage-sale #screen .main-wrapper .order .content .dishs-select .list-dishs .goods__info .goods_name_and_status .goods_unit {
  font-size: 12px;
  white-space: nowrap;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  text-overflow: ellipsis;
  overflow: hidden;
}

#manage-sale #screen .main-wrapper .order .content .dishs-select .list-dishs .goods__info .time {
  font-size: 13px;
  margin-right: 5px;
  margin-left: 45px;
  color: dimgrey;
  width: 135px;
  text-align: left;
}

#manage-sale #screen .main-wrapper .order .content .dishs-select .list-dishs .goods__info .amount {
  width: 120px;
}

#manage-sale #screen .main-wrapper .order .content .dishs-select .list-dishs .goods__info .goods_amount {
  width: 45px !important;
  height: 30px !important;
  padding: 4.5px 12px;
}

#manage-sale #screen .main-wrapper .order .content .dishs-select .list-dishs .goods__info .goods_return_amount {
  margin-top: 0;
  width: 160px !important;
  height: 30px !important;
}

#manage-sale #screen .main-wrapper .order .content .dishs-select .list-dishs .goods__info .goods_price {
  width: 100px;
  text-align: right;
  background: none !important;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

#manage-sale #screen .main-wrapper .order .content .dishs-select .list-dishs .goods__info .goods_price .price-discount {
  color: #c62717;
  font-size: 1.2rem;
  font-style: italic;
}

#manage-sale #screen .main-wrapper .order .content .dishs-select .list-dishs .goods__info .goods_price-total {
  width: 100px;
  text-align: right;
  background: none !important;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

#manage-sale #screen .main-wrapper .order .content .dishs-select .list-dishs .goods__info .divider {
  margin: 0px 50px;
}

#manage-sale #screen .main-wrapper .order .content .dishs-select .list-dishs .goods__info .btn-delete {
  background: none !important;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
  margin-right: 18px !important;
  margin-top: 6px !important;
  font-size: 1.6rem;
  color: #c62717;
  display: none;
}

#manage-sale #screen .main-wrapper .order .content .price {
  margin-top: 2px !important;
}

#manage-sale #screen .main-wrapper .order .content .price .highlight {
  border-bottom: 0.5px solid #c7c7c7;
}

#manage-sale #screen .main-wrapper .order .content .price .employee {
  font-weight: bold;
}

#manage-sale #screen .main-wrapper .order .content .price .employee .btn-employee {
  background: none !important;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

#manage-sale #screen .main-wrapper .order .content .price .employee .btn-employee .employee_name {
  text-decoration: underline;
  color: #55ACEE;
}

#manage-sale #screen .main-wrapper .order .content .price .total {
  font-weight: bold;
}

#manage-sale #screen .main-wrapper .order .content .price .add-discount .edit-discount {
  color: #55ACEE;
}

#manage-sale #screen .main-wrapper .order .content .price .add-discount .edit-discount:hover {
  color: #387ef5;
}

#manage-sale #screen .main-wrapper .order .content .price .p-2 {
  padding: 0.2rem 0.5rem !important;
}

#manage-sale #screen .main-wrapper .order .content .actions {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

#manage-sale #screen .main-wrapper .order .content .actions button {
  margin: 10px 5px;
}

#manage-sale #screen .main-wrapper .order .content .actions .shortcut {
  position: relative;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

#manage-sale #screen .main-wrapper .order .content .actions .shortcut__item {
  display: inline-block;
  margin-right: 20px;
}

#manage-sale #screen .main-wrapper .order .content .actions .shortcut__icon {
  color: #55ACEE;
}

#manage-sale #screen .main-wrapper .order .content .actions .btn-update-order {
  position: relative;
  width: 100px;
}

#manage-sale #screen .main-wrapper .order .content .actions .btn-update-order .fa {
  display: inline-block;
  width: 20px;
  font-size: 1.5rem;
  color: white;
}

#manage-sale #screen .main-wrapper .order .content .actions .btn-update-order .text {
  position: absolute;
  top: 5px;
  left: 28px;
}

#manage-sale .fs-12 {
  font-size: 12px;
}

#manage-sale .fs-13 {
  font-size: 13px;
}

#manage-sale .fw-500 {
  font-weight: 500;
}

#manage-sale .p-x-5 {
  padding-left: 5px;
  padding-right: 5px;
}

#manage-sale .p-x-10 {
  padding-left: 10px;
  padding-right: 10px;
}

#manage-sale .p-x-15 {
  padding-left: 15px;
  padding-right: 15px;
}

#manage-sale .p-y-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

#manage-sale .p-y-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

#manage-sale .p-y-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

#manage-sale .m-x-5 {
  margin-left: 5px;
  margin-right: 5px;
}

#manage-sale .m-x-10 {
  margin-left: 10px;
  margin-right: 10px;
}

#manage-sale .m-x-30 {
  margin-left: 30px;
  margin-right: 30px;
}

#manage-sale .m-2 {
  margin: 2px;
}

#manage-sale .m-t-2 {
  margin-top: 2px;
}

#manage-sale .m-r-2 {
  margin-right: 2px;
}

#manage-sale .m-b-2 {
  margin-bottom: 2px;
}

#manage-sale .m-l-2 {
  margin-left: 2px;
}

#manage-sale .m-5 {
  margin: 5px;
}

#manage-sale .m-t-5 {
  margin-top: 5px;
}

#manage-sale .m-r-5 {
  margin-right: 5px;
}

#manage-sale .m-b-5 {
  margin-bottom: 5px;
}

#manage-sale .m-l-5 {
  margin-left: 5px;
}

#manage-sale .m-t-10 {
  margin-top: 10px;
}

#manage-sale .m-r-10 {
  margin-right: 10px;
}

#manage-sale .m-b-10 {
  margin-bottom: 10px;
}

#manage-sale .m-l-10 {
  margin-left: 10px;
}

#manage-sale .m-t-15 {
  margin-top: 15px;
}

#manage-sale .m-r-15 {
  margin-right: 15px;
}

#manage-sale .m-b-15 {
  margin-bottom: 15px;
}

#manage-sale .m-l-15 {
  margin-left: 15px;
}

#history {
  height: 100vh;
}

#history .p-2 {
  padding: 0 !important;
}

#history .history__body {
  height: calc(100% - 62px);
  padding: 0;
  color: #55ACEE;
}

#history .history__body .orders {
  margin: 0;
  background-color: #e0e7fe;
  width: 100% !important;
  height: 100% !important;
}

#history .history__body .orders__list {
  display: inline-block;
  width: 350px !important;
  height: 100% !important;
}

#history .history__body .orders__list .search-box {
  position: relative;
  background-color: white;
}

#history .history__body .orders__list .search-box i {
  position: absolute;
  right: 0px;
  padding: 0 15px;
  line-height: 45px;
  font-size: 2rem;
  cursor: pointer;
}

#history .history__body .orders__list .search-box input {
  height: 45px;
  font-size: 1.5rem;
  padding-right: 50px !important;
}

#history .history__body .orders__list .orders-box {
  height: calc(100% - 45px);
  padding-top: 1px !important;
  padding-bottom: 2px !important;
}

#history .history__body .orders__list .orders-box .orders-list {
  height: 100%;
  overflow-y: auto;
}

#history .history__body .orders__list .orders-box .orders-list .date {
  margin: 8px 15px;
  color: #989898;
  font-size: 1.5rem;
}

#history .history__body .orders__list .orders-box .orders-list .order-item {
  margin-bottom: 2px;
  background-color: white;
}

#history .history__body .orders__list .orders-box .orders-list .order-item:hover {
  background-color: #f3f3f3;
}

#history .history__body .orders__list .orders-box .orders-list .order-item .order {
  padding: 12px 15px;
}

#history .history__body .orders__list .orders-box .orders-list .order-item .order__code {
  font-size: 1.4rem;
}

#history .history__body .orders__list .orders-box .orders-list .order-item .order__user {
  font-size: 1.2rem;
  color: #989898;
}

#history .history__body .orders__list .orders-box .orders-list .order-item .order__total {
  font-size: 1.4rem;
}

#history .history__body .orders__list .orders-box .orders-list .order-item .order__time {
  font-size: 1.2rem;
  color: #989898;
}

#history .history__body .orders__list .orders-box .orders-list .order-item--selected {
  background-color: #387ef5 !important;
  color: #fff !important;
}

#history .history__body .orders__list .orders-box .orders-list .order-item--selected .order__user,
#history .history__body .orders__list .orders-box .orders-list .order-item--selected .order__time {
  color: #fff !important;
}

#history .history__body .orders__detail {
  display: inline-block;
  margin-left: 2px;
  width: calc(100% - 352px) !important;
  height: 100% !important;
}

#history .history__body .orders__detail .content {
  height: 100%;
}

#history .history__body .orders__detail .content__code {
  height: 45px;
  line-height: 45px;
  background-color: #55ACEE;
  color: white;
  font-size: 1.6rem;
}

#history .history__body .orders__detail .content__detail {
  height: calc(100% - 45px);
}

#history .history__body .orders__detail .content__detail table .field {
  float: left;
  color: #797979;
  min-width: 130px;
  line-height: 26px;
}

#history .history__body .orders__detail .content__detail table .value {
  float: right;
  line-height: 26px;
}

#history .history__body .orders__detail .content__detail .order__overview,
#history .history__body .orders__detail .content__detail .order__price {
  margin: 2px 0;
  padding: 15px 30px;
  background-color: white;
  font-size: 1.4rem;
  height: 108px;
}

#history .history__body .orders__detail .content__detail .order__overview .total,
#history .history__body .orders__detail .content__detail .order__price .total {
  font-size: 3.7rem;
}

#history .history__body .orders__detail .content__detail .order__overview .restaurant-information .value,
#history .history__body .orders__detail .content__detail .order__price .restaurant-information .value {
  width: 400px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#history .history__body .orders__detail .content__detail .order__goods {
  height: calc(100% - 224px);
  background-color: white;
  overflow-y: auto;
}

#history .history__body .orders__detail .content__detail .order__goods table {
  width: 100%;
  margin-bottom: 0;
}

#history .history__body .orders__detail .content__detail .order__goods table thead th {
  background-color: #387ef5;
  color: white;
}

#history .history__footer {
  height: 62px;
}

#history .history__footer .group-button {
  height: 62px;
}

#history .history__footer .group-button .btn--history {
  margin: 10px 5px;
  padding: 0.5rem !important;
}

.btn--action {
  background-color: #55ACEE !important;
  color: white;
}

.btn--action:hover {
  background-color: #387ef5 !important;
  color: white;
  cursor: pointer;
}

.btn--cancel {
  background-color: #e8e6e6;
  color: black;
}

.btn--number {
  width: 100px;
  margin: 1px;
  font-size: 1.6rem;
}

.btn--delete {
  color: #c62717;
}

.btn--table-select {
  border-color: #55ACEE;
  background-color: white;
}

.btn--table-select:hover {
  color: white !important;
  background-color: #387ef5 !important;
}

.btn--table-selected {
  border: 1px solid #55ACEE;
  background-color: #55ACEE;
  color: #fff !important;
}

.btn--dish-selected {
  background-color: #c1dee7 !important;
}

.btn-group-menu {
  background-color: #55ACEE;
  color: white;
}

.btn-group-menu:hover {
  background-color: #387ef5;
  color: white;
  cursor: pointer;
}

.btn-group-menu--lv2 {
  border-left: 5px solid #C0C0C0;
}

.btn-group-menu--lv3 {
  border-left: 5px solid #C0C0C0;
}

.btn-group-menu--active {
  background-color: #275585;
}

.btn-discount {
  background-color: white;
  color: #55ACEE;
  border: 1px solid #55ACEE;
}

.btn-discount:hover {
  color: white;
  background-color: #387ef5;
}

.btn-none-button {
  background: none !important;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.btn-none-button[disabled='disabled'] i {
  opacity: 0.5;
}

.box--0 {
  background-color: white;
}

.box--1 {
  margin: 2px 0;
  background-color: white;
}

.box--2 {
  background-color: #f7f8fc;
}

.floor {
  margin: 10px;
  background-color: #e5f8d0;
  border: 1px solid #55ACEE;
  width: 80px !important;
  height: 85px !important;
}

.floor--selected {
  background-color: #9bcb6c;
}

.table__restaurant {
  margin: 5px auto;
  text-align: center;
  background-size: 60px 60px;
  width: 60px !important;
  height: 60px !important;
}

.table__restaurant:hover {
  background-color: #e0e7fe;
}

.table__name {
  width: 100px;
  white-space: nowrap;
  font-size: 1.2rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.table--empty {
  background-image: url(/images/restaurant/table.png);
}

.table--acting {
  background-image: url(/images/restaurant/table-acting.png);
}

.table--booking {
  background-image: url(/images/restaurant/table-booking.png);
}

.order__status {
  line-height: 37px;
}

.order__status:before {
  padding-right: 15px;
  content: ' \25CF';
  font-size: 20px;
}

.input-search {
  border: 1px solid #eee !important;
  border-radius: 17px;
  padding-left: 15px !important;
}

.bell {
  color: #ffc800 !important;
  -webkit-animation: ring 4s .7s ease-in-out infinite;
  -webkit-transform-origin: 50% 4px;
  -moz-animation: ring 4s .7s ease-in-out infinite;
  -moz-transform-origin: 50% 4px;
  animation: ring 4s .7s ease-in-out infinite;
  transform-origin: 50% 4px;
}

@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotateZ(0);
  }

  1% {
    -webkit-transform: rotateZ(30deg);
  }

  3% {
    -webkit-transform: rotateZ(-28deg);
  }

  5% {
    -webkit-transform: rotateZ(34deg);
  }

  7% {
    -webkit-transform: rotateZ(-32deg);
  }

  9% {
    -webkit-transform: rotateZ(30deg);
  }

  11% {
    -webkit-transform: rotateZ(-28deg);
  }

  13% {
    -webkit-transform: rotateZ(26deg);
  }

  15% {
    -webkit-transform: rotateZ(-24deg);
  }

  17% {
    -webkit-transform: rotateZ(22deg);
  }

  19% {
    -webkit-transform: rotateZ(-20deg);
  }

  21% {
    -webkit-transform: rotateZ(18deg);
  }

  23% {
    -webkit-transform: rotateZ(-16deg);
  }

  25% {
    -webkit-transform: rotateZ(14deg);
  }

  27% {
    -webkit-transform: rotateZ(-12deg);
  }

  29% {
    -webkit-transform: rotateZ(10deg);
  }

  31% {
    -webkit-transform: rotateZ(-8deg);
  }

  33% {
    -webkit-transform: rotateZ(6deg);
  }

  35% {
    -webkit-transform: rotateZ(-4deg);
  }

  37% {
    -webkit-transform: rotateZ(2deg);
  }

  39% {
    -webkit-transform: rotateZ(-1deg);
  }

  41% {
    -webkit-transform: rotateZ(1deg);
  }

  43% {
    -webkit-transform: rotateZ(0);
  }

  100% {
    -webkit-transform: rotateZ(0);
  }
}

@keyframes ring {
  0% {
    transform: rotate(0);
  }

  1% {
    transform: rotate(30deg);
  }

  3% {
    transform: rotate(-28deg);
  }

  5% {
    transform: rotate(34deg);
  }

  7% {
    transform: rotate(-32deg);
  }

  9% {
    transform: rotate(30deg);
  }

  11% {
    transform: rotate(-28deg);
  }

  13% {
    transform: rotate(26deg);
  }

  15% {
    transform: rotate(-24deg);
  }

  17% {
    transform: rotate(22deg);
  }

  19% {
    transform: rotate(-20deg);
  }

  21% {
    transform: rotate(18deg);
  }

  23% {
    transform: rotate(-16deg);
  }

  25% {
    transform: rotate(14deg);
  }

  27% {
    transform: rotate(-12deg);
  }

  29% {
    transform: rotate(10deg);
  }

  31% {
    transform: rotate(-8deg);
  }

  33% {
    transform: rotate(6deg);
  }

  35% {
    transform: rotate(-4deg);
  }

  37% {
    transform: rotate(2deg);
  }

  39% {
    transform: rotate(-1deg);
  }

  41% {
    transform: rotate(1deg);
  }

  43% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(0);
  }
}

#modal .m-s-modal .modal-title {
  display: inline-block;
}

#modal .m-s-modal .modal-field {
  margin-bottom: 12px;
  font-size: 1.6rem;
  text-align: left;
  margin-right: 7px !important;
  margin-left: 7px !important;
}

#modal .m-s-modal .modal-field__label {
  height: 42px;
  line-height: 42px;
  padding-top: 0;
  text-align: left;
}

#modal .m-s-modal .modal-field__text {
  height: 42px;
  font-size: 1.6rem;
  text-align: right;
}

#modal .m-s-modal .modal-btn-percent {
  margin-left: 1px;
  width: 65px;
}

#modal .m-s-modal .modal-btn-percent.focus,
#modal .m-s-modal .modal-btn-percent:focus,
#modal .m-s-modal .modal-btn-percent:hover {
  color: white;
}

#modal .m-s-modal .modal-search-person {
  padding: 10px;
}

#modal .m-s-modal .modal-search-person input {
  height: 40px !important;
  font-size: 1.4rem;
}

#modal .m-s-user,
#modal .m-s-employee {
  width: 350px;
}

#modal #m-s-user .modal-body,
#modal #m-s-employee .modal-body {
  height: 400px;
  padding-bottom: 0px !important;
}

#modal #m-s-user .modal-body .list-item,
#modal #m-s-employee .modal-body .list-item {
  height: calc(100% - 50px);
}

#modal .m-s-discount-goods,
#modal .m-s-discount-invoice {
  width: 350px;
}

#modal #m-s-discount-goods .modal-field__label,
#modal #m-s-discount-invoice .modal-field__label {
  padding: 0 5px;
}

#modal #m-s-discount-goods .discount-selected,
#modal #m-s-discount-invoice .discount-selected {
  background-color: #55ACEE;
  color: white;
}

#modal .m-s-size-invoice {
  width: 380px;
}

#modal .m-s-size-invoice #m-s-size-invoice .size {
  cursor: pointer;
}

#modal .m-s-size-invoice #m-s-size-invoice .size .selected {
  line-height: 35px;
  color: #349813;
}

#modal .m-s-shortcut {
  width: 350px;
}

#modal .m-s-shortcut #m-s-shortcut .shortcut {
  margin-right: 10px !important;
  margin-left: 10px !important;
}

#modal .m-s-shortcut #m-s-shortcut .shortcut ul {
  padding-left: 10px;
}

#modal .m-s-shortcut #m-s-shortcut .shortcut ul li {
  list-style-type: none !important;
}

#modal .m-s-shortcut #m-s-shortcut .shortcut ul li .key {
  display: inline-block;
  width: 100px;
  font-weight: bold;
}

#modal .m-s-shortcut #m-s-shortcut .shortcut ul li .note {
  display: inline-block;
}

#modal .m-s-setting {
  width: 500px;
}

#modal .m-s-setting #m-s-setting .vue-switcher {
  margin-top: 10px !important;
}

#modal .m-s-select-return-invoice {
  width: 85%;
  height: calc(100% - 60px);
}

#modal .m-s-select-return-invoice #m-s-select-return-invoice {
  height: 100%;
}

#modal .m-s-select-return-invoice #m-s-select-return-invoice .modal-body {
  height: calc(100% - 56px);
  padding: 5px;
}

#modal .m-s-select-return-invoice #m-s-select-return-invoice .modal-body .search {
  width: 350px;
  height: 100%;
}

#modal .m-s-select-return-invoice #m-s-select-return-invoice .modal-body .search .form-label {
  padding-left: 15px;
  line-height: 40px;
  font-size: 16px;
}

#modal .m-s-select-return-invoice #m-s-select-return-invoice .modal-body .search .form-search {
  padding-left: 30px;
}

#modal .m-s-select-return-invoice #m-s-select-return-invoice .modal-body .search .form-search .form-group {
  margin-bottom: 12px;
}

#modal .m-s-select-return-invoice #m-s-select-return-invoice .modal-body .table-invoices {
  width: 100%;
  height: 100%;
}

#modal .m-s-select-return-invoice #m-s-select-return-invoice .modal-body .table-invoices .table-wrapper {
  height: calc(100% - 100px);
}

#modal .m-s-select-return-invoice #m-s-select-return-invoice .modal-body .table-invoices .table-wrapper .table {
  margin-bottom: 5px !important;
}

#modal .m-s-select-return-invoice #m-s-select-return-invoice .modal-body .table-invoices .table-wrapper .table tbody > tr > td {
  max-width: 125px;
  padding: 3px 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#modal .m-s-select-return-invoice #m-s-select-return-invoice .modal-body .return-invoice {
  padding-top: 8px !important;
  border-top: 1px solid #e5e5e5;
}

#modal .m-s-number-goods-invoice {
  width: 350px;
}

#modal .m-s-set-good-status {
  width: 350px;
}

#modal .m-s-confirm {
  width: 380px;
}

.ms__scrollbar-custom {
  overflow-y: auto;
  overflow-x: hidden;
}

.ms__scrollbar-custom::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.ms__scrollbar-custom::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.ms__scrollbar-custom::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #55acee;
}

.w-0 {
  width: 0% !important;
}

.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.h-0 {
  height: 0% !important;
}

.h-25 {
  height: 25% !important;
}

.h-50 {
  height: 50% !important;
}

.h-75 {
  height: 75% !important;
}

.h-100 {
  height: 100% !important;
}

.w-h-100 {
  width: 100% !important;
  height: 100% !important;
}

.table__restaurant,
.dish,
.header__notification,
.header__hide-show-invoice,
.hide-show-invoice,
.hide-show-menus,
.edit-discount,
.back-select,
.delete-dish,
.btn-action,
.user-name,
.name-user,
.show-list-order,
.add-order,
.employee_name,
.employee-name,
.goods,
.notification,
.table-order,
.floor,
.location,
.shortcut,
.order-item,
.fa-chevron-circle-left,
.fa-chevron-circle-right {
  cursor: pointer;
}

@media (max-width: 1279px) {
  #loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/images/restaurant/loading.jpeg);
    background-size: cover;
    z-index: 9999;
  }
}

.background-color-red {
  background-color: red !important;
}

/* (ignored) *//* (ignored) *//* (ignored) *//* (ignored) *//* (ignored) */var map = {
	"./af": "./node_modules/moment/locale/af.js",
	"./af.js": "./node_modules/moment/locale/af.js",
	"./ar": "./node_modules/moment/locale/ar.js",
	"./ar-dz": "./node_modules/moment/locale/ar-dz.js",
	"./ar-dz.js": "./node_modules/moment/locale/ar-dz.js",
	"./ar-kw": "./node_modules/moment/locale/ar-kw.js",
	"./ar-kw.js": "./node_modules/moment/locale/ar-kw.js",
	"./ar-ly": "./node_modules/moment/locale/ar-ly.js",
	"./ar-ly.js": "./node_modules/moment/locale/ar-ly.js",
	"./ar-ma": "./node_modules/moment/locale/ar-ma.js",
	"./ar-ma.js": "./node_modules/moment/locale/ar-ma.js",
	"./ar-sa": "./node_modules/moment/locale/ar-sa.js",
	"./ar-sa.js": "./node_modules/moment/locale/ar-sa.js",
	"./ar-tn": "./node_modules/moment/locale/ar-tn.js",
	"./ar-tn.js": "./node_modules/moment/locale/ar-tn.js",
	"./ar.js": "./node_modules/moment/locale/ar.js",
	"./az": "./node_modules/moment/locale/az.js",
	"./az.js": "./node_modules/moment/locale/az.js",
	"./be": "./node_modules/moment/locale/be.js",
	"./be.js": "./node_modules/moment/locale/be.js",
	"./bg": "./node_modules/moment/locale/bg.js",
	"./bg.js": "./node_modules/moment/locale/bg.js",
	"./bm": "./node_modules/moment/locale/bm.js",
	"./bm.js": "./node_modules/moment/locale/bm.js",
	"./bn": "./node_modules/moment/locale/bn.js",
	"./bn.js": "./node_modules/moment/locale/bn.js",
	"./bo": "./node_modules/moment/locale/bo.js",
	"./bo.js": "./node_modules/moment/locale/bo.js",
	"./br": "./node_modules/moment/locale/br.js",
	"./br.js": "./node_modules/moment/locale/br.js",
	"./bs": "./node_modules/moment/locale/bs.js",
	"./bs.js": "./node_modules/moment/locale/bs.js",
	"./ca": "./node_modules/moment/locale/ca.js",
	"./ca.js": "./node_modules/moment/locale/ca.js",
	"./cs": "./node_modules/moment/locale/cs.js",
	"./cs.js": "./node_modules/moment/locale/cs.js",
	"./cv": "./node_modules/moment/locale/cv.js",
	"./cv.js": "./node_modules/moment/locale/cv.js",
	"./cy": "./node_modules/moment/locale/cy.js",
	"./cy.js": "./node_modules/moment/locale/cy.js",
	"./da": "./node_modules/moment/locale/da.js",
	"./da.js": "./node_modules/moment/locale/da.js",
	"./de": "./node_modules/moment/locale/de.js",
	"./de-at": "./node_modules/moment/locale/de-at.js",
	"./de-at.js": "./node_modules/moment/locale/de-at.js",
	"./de-ch": "./node_modules/moment/locale/de-ch.js",
	"./de-ch.js": "./node_modules/moment/locale/de-ch.js",
	"./de.js": "./node_modules/moment/locale/de.js",
	"./dv": "./node_modules/moment/locale/dv.js",
	"./dv.js": "./node_modules/moment/locale/dv.js",
	"./el": "./node_modules/moment/locale/el.js",
	"./el.js": "./node_modules/moment/locale/el.js",
	"./en-SG": "./node_modules/moment/locale/en-SG.js",
	"./en-SG.js": "./node_modules/moment/locale/en-SG.js",
	"./en-au": "./node_modules/moment/locale/en-au.js",
	"./en-au.js": "./node_modules/moment/locale/en-au.js",
	"./en-ca": "./node_modules/moment/locale/en-ca.js",
	"./en-ca.js": "./node_modules/moment/locale/en-ca.js",
	"./en-gb": "./node_modules/moment/locale/en-gb.js",
	"./en-gb.js": "./node_modules/moment/locale/en-gb.js",
	"./en-ie": "./node_modules/moment/locale/en-ie.js",
	"./en-ie.js": "./node_modules/moment/locale/en-ie.js",
	"./en-il": "./node_modules/moment/locale/en-il.js",
	"./en-il.js": "./node_modules/moment/locale/en-il.js",
	"./en-nz": "./node_modules/moment/locale/en-nz.js",
	"./en-nz.js": "./node_modules/moment/locale/en-nz.js",
	"./eo": "./node_modules/moment/locale/eo.js",
	"./eo.js": "./node_modules/moment/locale/eo.js",
	"./es": "./node_modules/moment/locale/es.js",
	"./es-do": "./node_modules/moment/locale/es-do.js",
	"./es-do.js": "./node_modules/moment/locale/es-do.js",
	"./es-us": "./node_modules/moment/locale/es-us.js",
	"./es-us.js": "./node_modules/moment/locale/es-us.js",
	"./es.js": "./node_modules/moment/locale/es.js",
	"./et": "./node_modules/moment/locale/et.js",
	"./et.js": "./node_modules/moment/locale/et.js",
	"./eu": "./node_modules/moment/locale/eu.js",
	"./eu.js": "./node_modules/moment/locale/eu.js",
	"./fa": "./node_modules/moment/locale/fa.js",
	"./fa.js": "./node_modules/moment/locale/fa.js",
	"./fi": "./node_modules/moment/locale/fi.js",
	"./fi.js": "./node_modules/moment/locale/fi.js",
	"./fo": "./node_modules/moment/locale/fo.js",
	"./fo.js": "./node_modules/moment/locale/fo.js",
	"./fr": "./node_modules/moment/locale/fr.js",
	"./fr-ca": "./node_modules/moment/locale/fr-ca.js",
	"./fr-ca.js": "./node_modules/moment/locale/fr-ca.js",
	"./fr-ch": "./node_modules/moment/locale/fr-ch.js",
	"./fr-ch.js": "./node_modules/moment/locale/fr-ch.js",
	"./fr.js": "./node_modules/moment/locale/fr.js",
	"./fy": "./node_modules/moment/locale/fy.js",
	"./fy.js": "./node_modules/moment/locale/fy.js",
	"./ga": "./node_modules/moment/locale/ga.js",
	"./ga.js": "./node_modules/moment/locale/ga.js",
	"./gd": "./node_modules/moment/locale/gd.js",
	"./gd.js": "./node_modules/moment/locale/gd.js",
	"./gl": "./node_modules/moment/locale/gl.js",
	"./gl.js": "./node_modules/moment/locale/gl.js",
	"./gom-latn": "./node_modules/moment/locale/gom-latn.js",
	"./gom-latn.js": "./node_modules/moment/locale/gom-latn.js",
	"./gu": "./node_modules/moment/locale/gu.js",
	"./gu.js": "./node_modules/moment/locale/gu.js",
	"./he": "./node_modules/moment/locale/he.js",
	"./he.js": "./node_modules/moment/locale/he.js",
	"./hi": "./node_modules/moment/locale/hi.js",
	"./hi.js": "./node_modules/moment/locale/hi.js",
	"./hr": "./node_modules/moment/locale/hr.js",
	"./hr.js": "./node_modules/moment/locale/hr.js",
	"./hu": "./node_modules/moment/locale/hu.js",
	"./hu.js": "./node_modules/moment/locale/hu.js",
	"./hy-am": "./node_modules/moment/locale/hy-am.js",
	"./hy-am.js": "./node_modules/moment/locale/hy-am.js",
	"./id": "./node_modules/moment/locale/id.js",
	"./id.js": "./node_modules/moment/locale/id.js",
	"./is": "./node_modules/moment/locale/is.js",
	"./is.js": "./node_modules/moment/locale/is.js",
	"./it": "./node_modules/moment/locale/it.js",
	"./it-ch": "./node_modules/moment/locale/it-ch.js",
	"./it-ch.js": "./node_modules/moment/locale/it-ch.js",
	"./it.js": "./node_modules/moment/locale/it.js",
	"./ja": "./node_modules/moment/locale/ja.js",
	"./ja.js": "./node_modules/moment/locale/ja.js",
	"./jv": "./node_modules/moment/locale/jv.js",
	"./jv.js": "./node_modules/moment/locale/jv.js",
	"./ka": "./node_modules/moment/locale/ka.js",
	"./ka.js": "./node_modules/moment/locale/ka.js",
	"./kk": "./node_modules/moment/locale/kk.js",
	"./kk.js": "./node_modules/moment/locale/kk.js",
	"./km": "./node_modules/moment/locale/km.js",
	"./km.js": "./node_modules/moment/locale/km.js",
	"./kn": "./node_modules/moment/locale/kn.js",
	"./kn.js": "./node_modules/moment/locale/kn.js",
	"./ko": "./node_modules/moment/locale/ko.js",
	"./ko.js": "./node_modules/moment/locale/ko.js",
	"./ku": "./node_modules/moment/locale/ku.js",
	"./ku.js": "./node_modules/moment/locale/ku.js",
	"./ky": "./node_modules/moment/locale/ky.js",
	"./ky.js": "./node_modules/moment/locale/ky.js",
	"./lb": "./node_modules/moment/locale/lb.js",
	"./lb.js": "./node_modules/moment/locale/lb.js",
	"./lo": "./node_modules/moment/locale/lo.js",
	"./lo.js": "./node_modules/moment/locale/lo.js",
	"./lt": "./node_modules/moment/locale/lt.js",
	"./lt.js": "./node_modules/moment/locale/lt.js",
	"./lv": "./node_modules/moment/locale/lv.js",
	"./lv.js": "./node_modules/moment/locale/lv.js",
	"./me": "./node_modules/moment/locale/me.js",
	"./me.js": "./node_modules/moment/locale/me.js",
	"./mi": "./node_modules/moment/locale/mi.js",
	"./mi.js": "./node_modules/moment/locale/mi.js",
	"./mk": "./node_modules/moment/locale/mk.js",
	"./mk.js": "./node_modules/moment/locale/mk.js",
	"./ml": "./node_modules/moment/locale/ml.js",
	"./ml.js": "./node_modules/moment/locale/ml.js",
	"./mn": "./node_modules/moment/locale/mn.js",
	"./mn.js": "./node_modules/moment/locale/mn.js",
	"./mr": "./node_modules/moment/locale/mr.js",
	"./mr.js": "./node_modules/moment/locale/mr.js",
	"./ms": "./node_modules/moment/locale/ms.js",
	"./ms-my": "./node_modules/moment/locale/ms-my.js",
	"./ms-my.js": "./node_modules/moment/locale/ms-my.js",
	"./ms.js": "./node_modules/moment/locale/ms.js",
	"./mt": "./node_modules/moment/locale/mt.js",
	"./mt.js": "./node_modules/moment/locale/mt.js",
	"./my": "./node_modules/moment/locale/my.js",
	"./my.js": "./node_modules/moment/locale/my.js",
	"./nb": "./node_modules/moment/locale/nb.js",
	"./nb.js": "./node_modules/moment/locale/nb.js",
	"./ne": "./node_modules/moment/locale/ne.js",
	"./ne.js": "./node_modules/moment/locale/ne.js",
	"./nl": "./node_modules/moment/locale/nl.js",
	"./nl-be": "./node_modules/moment/locale/nl-be.js",
	"./nl-be.js": "./node_modules/moment/locale/nl-be.js",
	"./nl.js": "./node_modules/moment/locale/nl.js",
	"./nn": "./node_modules/moment/locale/nn.js",
	"./nn.js": "./node_modules/moment/locale/nn.js",
	"./pa-in": "./node_modules/moment/locale/pa-in.js",
	"./pa-in.js": "./node_modules/moment/locale/pa-in.js",
	"./pl": "./node_modules/moment/locale/pl.js",
	"./pl.js": "./node_modules/moment/locale/pl.js",
	"./pt": "./node_modules/moment/locale/pt.js",
	"./pt-br": "./node_modules/moment/locale/pt-br.js",
	"./pt-br.js": "./node_modules/moment/locale/pt-br.js",
	"./pt.js": "./node_modules/moment/locale/pt.js",
	"./ro": "./node_modules/moment/locale/ro.js",
	"./ro.js": "./node_modules/moment/locale/ro.js",
	"./ru": "./node_modules/moment/locale/ru.js",
	"./ru.js": "./node_modules/moment/locale/ru.js",
	"./sd": "./node_modules/moment/locale/sd.js",
	"./sd.js": "./node_modules/moment/locale/sd.js",
	"./se": "./node_modules/moment/locale/se.js",
	"./se.js": "./node_modules/moment/locale/se.js",
	"./si": "./node_modules/moment/locale/si.js",
	"./si.js": "./node_modules/moment/locale/si.js",
	"./sk": "./node_modules/moment/locale/sk.js",
	"./sk.js": "./node_modules/moment/locale/sk.js",
	"./sl": "./node_modules/moment/locale/sl.js",
	"./sl.js": "./node_modules/moment/locale/sl.js",
	"./sq": "./node_modules/moment/locale/sq.js",
	"./sq.js": "./node_modules/moment/locale/sq.js",
	"./sr": "./node_modules/moment/locale/sr.js",
	"./sr-cyrl": "./node_modules/moment/locale/sr-cyrl.js",
	"./sr-cyrl.js": "./node_modules/moment/locale/sr-cyrl.js",
	"./sr.js": "./node_modules/moment/locale/sr.js",
	"./ss": "./node_modules/moment/locale/ss.js",
	"./ss.js": "./node_modules/moment/locale/ss.js",
	"./sv": "./node_modules/moment/locale/sv.js",
	"./sv.js": "./node_modules/moment/locale/sv.js",
	"./sw": "./node_modules/moment/locale/sw.js",
	"./sw.js": "./node_modules/moment/locale/sw.js",
	"./ta": "./node_modules/moment/locale/ta.js",
	"./ta.js": "./node_modules/moment/locale/ta.js",
	"./te": "./node_modules/moment/locale/te.js",
	"./te.js": "./node_modules/moment/locale/te.js",
	"./tet": "./node_modules/moment/locale/tet.js",
	"./tet.js": "./node_modules/moment/locale/tet.js",
	"./tg": "./node_modules/moment/locale/tg.js",
	"./tg.js": "./node_modules/moment/locale/tg.js",
	"./th": "./node_modules/moment/locale/th.js",
	"./th.js": "./node_modules/moment/locale/th.js",
	"./tl-ph": "./node_modules/moment/locale/tl-ph.js",
	"./tl-ph.js": "./node_modules/moment/locale/tl-ph.js",
	"./tlh": "./node_modules/moment/locale/tlh.js",
	"./tlh.js": "./node_modules/moment/locale/tlh.js",
	"./tr": "./node_modules/moment/locale/tr.js",
	"./tr.js": "./node_modules/moment/locale/tr.js",
	"./tzl": "./node_modules/moment/locale/tzl.js",
	"./tzl.js": "./node_modules/moment/locale/tzl.js",
	"./tzm": "./node_modules/moment/locale/tzm.js",
	"./tzm-latn": "./node_modules/moment/locale/tzm-latn.js",
	"./tzm-latn.js": "./node_modules/moment/locale/tzm-latn.js",
	"./tzm.js": "./node_modules/moment/locale/tzm.js",
	"./ug-cn": "./node_modules/moment/locale/ug-cn.js",
	"./ug-cn.js": "./node_modules/moment/locale/ug-cn.js",
	"./uk": "./node_modules/moment/locale/uk.js",
	"./uk.js": "./node_modules/moment/locale/uk.js",
	"./ur": "./node_modules/moment/locale/ur.js",
	"./ur.js": "./node_modules/moment/locale/ur.js",
	"./uz": "./node_modules/moment/locale/uz.js",
	"./uz-latn": "./node_modules/moment/locale/uz-latn.js",
	"./uz-latn.js": "./node_modules/moment/locale/uz-latn.js",
	"./uz.js": "./node_modules/moment/locale/uz.js",
	"./vi": "./node_modules/moment/locale/vi.js",
	"./vi.js": "./node_modules/moment/locale/vi.js",
	"./x-pseudo": "./node_modules/moment/locale/x-pseudo.js",
	"./x-pseudo.js": "./node_modules/moment/locale/x-pseudo.js",
	"./yo": "./node_modules/moment/locale/yo.js",
	"./yo.js": "./node_modules/moment/locale/yo.js",
	"./zh-cn": "./node_modules/moment/locale/zh-cn.js",
	"./zh-cn.js": "./node_modules/moment/locale/zh-cn.js",
	"./zh-hk": "./node_modules/moment/locale/zh-hk.js",
	"./zh-hk.js": "./node_modules/moment/locale/zh-hk.js",
	"./zh-tw": "./node_modules/moment/locale/zh-tw.js",
	"./zh-tw.js": "./node_modules/moment/locale/zh-tw.js"
};


function webpackContext(req) {
	var id = webpackContextResolve(req);
	return __webpack_require__(id);
}
function webpackContextResolve(req) {
	if(!__webpack_require__.o(map, req)) {
		var e = new Error("Cannot find module '" + req + "'");
		e.code = 'MODULE_NOT_FOUND';
		throw e;
	}
	return map[req];
}
webpackContext.keys = function webpackContextKeys() {
	return Object.keys(map);
};
webpackContext.resolve = webpackContextResolve;
module.exports = webpackContext;
webpackContext.id = "./node_modules/moment/locale sync recursive ^\\.\\/.*$";var map = {
	"./date-fns": "./node_modules/vue2-daterange-picker/src/components/date_util/date-fns.js",
	"./date-fns.js": "./node_modules/vue2-daterange-picker/src/components/date_util/date-fns.js",
	"./moment": "./node_modules/vue2-daterange-picker/src/components/date_util/moment.js",
	"./moment.js": "./node_modules/vue2-daterange-picker/src/components/date_util/moment.js",
	"./native": "./node_modules/vue2-daterange-picker/src/components/date_util/native.js",
	"./native.js": "./node_modules/vue2-daterange-picker/src/components/date_util/native.js",
	"./template": "./node_modules/vue2-daterange-picker/src/components/date_util/template.js",
	"./template.js": "./node_modules/vue2-daterange-picker/src/components/date_util/template.js"
};


function webpackContext(req) {
	var id = webpackContextResolve(req);
	return __webpack_require__(id);
}
function webpackContextResolve(req) {
	if(!__webpack_require__.o(map, req)) {
		var e = new Error("Cannot find module '" + req + "'");
		e.code = 'MODULE_NOT_FOUND';
		throw e;
	}
	return map[req];
}
webpackContext.keys = function webpackContextKeys() {
	return Object.keys(map);
};
webpackContext.resolve = webpackContextResolve;
module.exports = webpackContext;
webpackContext.id = "./node_modules/vue2-daterange-picker/src/components/date_util sync recursive ^\\.\\/.*$";