.printing #navbar,
.printing #page-wrapper,
.printing #sidebar,
.printing .modal {
  display: none;
}

.printing #print-me {
  display: block;
}

#print-me {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #000000;
}

#print-me .print-box {
  width: 90%;
  margin: 0 auto;
  padding: 25px;
  background-color: #ffffff;
}

#print-me .print-box table {
  width: 98%;
  border: none;
}

@media print {
@page {
    margin: 0;
}
}

