.btn--primary {
  background-color: #1c7dd5 !important;
  color: #fff;
}

.btn--primary:hover {
  background-color: #054982 !important;
  color: #fff;
}

.btn--action {
  background-color: #1c7dd5 !important;
  color: #fff;
}

.btn--action:hover {
  background-color: #054982 !important;
  color: #fff;
  cursor: pointer;
}

.btn--cancel {
  background-color: #e8e6e6;
  color: #000;
}

.btn--number {
  width: 100px;
  margin: 1px;
  font-size: 18px;
}

.btn--delete {
  color: #c62717;
}

.btn--table-select {
  border-color: #1c7dd5;
  background-color: #fff;
}

.btn--table-select:hover {
  color: #ffffff !important;
  background-color: #054982 !important;
}

.btn--table-selected {
  border: 1px solid #1c7dd5;
  background-color: #1c7dd5;
  color: #fff !important;
}

.btn--dish-selected {
  background-color: #c1dee7 !important;
}

.full-height {
  height: 100%;
}

.table__restaurant {
  width: 80px;
  height: 80px;
  margin: 10px;
  font-size: 13px;
  text-align: center;
  background-size: 80px 80px;
}

.table__restaurant:hover {
  background-color: #e0e7fe;
}

.table__name {
  width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.table--empty {
  background-image: url(/images/restaurant/table.png);
}

.table--acting {
  background-image: url(/images/restaurant/table-acting.png);
}

.table--booking {
  background-image: url(/images/restaurant/table-booking.png);
}

.option {
  margin-bottom: 5px;
  text-align: left;
}

.floor {
  width: 80px;
  height: 85px;
  margin: 10px;
  background-color: #e5f8d0;
  border: 1px solid #4682b4;
}

.floor--selected {
  background-color: #9bcb6c;
}

.box--0 {
  background-color: #fff;
}

.box--1 {
  margin: 4px 0;
  background-color: #fff;
}

.box--2 {
  background-color: #f7f8fc;
}

.icon-color {
  color: #1c7dd5;
}

body {
  overflow-y: hidden;
}

body #loading-data {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ecedef;
  background-image: url(/images/restaurant/loading.jpeg);
  background-size: cover;
  z-index: 100;
}

body #loading-data .loading-data {
  position: absolute;
  bottom: 50px;
  left: calc(50% - 22px);
}

body .main {
  height: 100vh;
  background-color: #e0e7fe;
}

body .main .container-fluid {
  height: 100%;
  padding: 0;
}

body .main .container-fluid .main-wrapper {
  height: 100%;
  margin-left: 0;
  margin-right: 0;
}

body .main .container-fluid .main-wrapper .left-screen {
  width: calc(100% - 630px);
  height: 100%;
  padding: 0;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant {
  height: 100%;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant .header {
  height: 56px;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant .header__tabs {
  width: 225px;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant .header__tabs--tables a,
body .main .container-fluid .main-wrapper .left-screen .restaurant .header__tabs--dishs a {
  border: 1px solid #1c7dd5 !important;
  color: #000;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant .header__tabs--tables a:hover,
body .main .container-fluid .main-wrapper .left-screen .restaurant .header__tabs--dishs a:hover {
  color: #fff;
  background-color: #054982 !important;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant .header__tabs .active a {
  color: #fff;
  background-color: #1c7dd5 !important;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant .header__notification {
  width: calc(100% - 225px);
}

body .main .container-fluid .main-wrapper .left-screen .restaurant .header__notification .notification {
  height: 34px;
  margin: 6px 10px 6px 0;
  padding-left: 5px;
  padding-right: 10px;
  border-radius: 5px;
  background-color: #e2e9f0;
  color: #355a85;
  font-style: oblique;
  font-weight: bold;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant .header__notification .notification--message,
body .main .container-fluid .main-wrapper .left-screen .restaurant .header__notification .notification--show {
  line-height: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant .header__hide-show-invoice {
  margin-top: 12px;
  margin-right: 10px;
  color: #3899ea;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant .header .width-custom {
  width: calc(100% - 275px);
}

body .main .container-fluid .main-wrapper .left-screen .restaurant #select-wrapper {
  height: calc(100% - 56px);
  margin-top: 0;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant #select-wrapper #table-select {
  height: 100%;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant #select-wrapper #table-select .tables {
  height: 100%;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant #select-wrapper #table-select .tables__info {
  height: 44px;
  padding: 7px 5px !important;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant #select-wrapper #table-select .tables__map {
  height: calc(100% - 188px);
  padding: 20px 20px 30px 20px !important;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant #select-wrapper #table-select .tables__map .tables-positions {
  height: 100%;
  overflow-y: auto;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant #select-wrapper #table-select .tables__map .tables-expand__checkbox-info {
  display: inline-block;
  margin-top: 5px;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant #select-wrapper #table-select .tables__map .tables-expand__create-map {
  float: right;
  display: inline-block;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant #select-wrapper #table-select .tables__map .tables-expand__create-map .wrapper {
  position: relative;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant #select-wrapper #table-select .tables__area-option {
  height: 130px;
  padding: 20px;
  margin-bottom: 0 !important;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant #select-wrapper #table-select .tables__area-option .wrapper {
  height: 100%;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant #select-wrapper #table-select .tables__area-option .wrapper .area-option__status {
  width: 120px;
  margin: 0 10px;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant #select-wrapper #table-select .tables__area-option .wrapper .area-option__status button {
  padding: 0.2rem 0.5rem !important;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant #select-wrapper #table-select .tables__area-option .wrapper .area-option__floor {
  overflow-y: auto;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant #select-wrapper #table-select .tables__area-option .wrapper .area-option__floor .floor:hover {
  background-color: #9bcb6c;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant #select-wrapper #table-select .tables__area-option .wrapper .area-option__floor .floor__image {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  background-position: center center;
  background-size: cover;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant #select-wrapper #table-select .tables__area-option .wrapper .area-option__floor .floor__name {
  width: 68px;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant #select-wrapper #table-select .tables__area-option .wrapper .area-option__floor .floor__name span {
  font-size: 14px;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant #select-wrapper #dishs-select {
  height: 100%;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant #select-wrapper #dishs-select .dishs {
  height: 100%;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant #select-wrapper #dishs-select .dishs__menu-group {
  position: relative;
  width: 140px;
  margin-bottom: 0 !important;
  margin-right: 5px;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant #select-wrapper #dishs-select .dishs__menu-group .hide-show-menus {
  margin-top: 0;
  margin-bottom: 5px;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant #select-wrapper #dishs-select .dishs__menu-group .hide-show-menus i {
  padding: 5px 5px 10px 5px;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant #select-wrapper #dishs-select .dishs__menu-group ul li {
  margin-bottom: 5px;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant #select-wrapper #dishs-select .dishs__menu-group ul li label {
  width: 110px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant #select-wrapper #dishs-select .dishs__menu-group ul .selected {
  border-left: 5px solid #054982;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant #select-wrapper #dishs-select .dishs__container {
  width: calc(100% - 100px);
  padding: 0 !important;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant #select-wrapper #dishs-select .dishs__container .dishs__search input {
  height: 34px;
  padding: 2px 5px;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant #select-wrapper #dishs-select .dishs__container .dishs__list {
  height: calc(100% - 52px);
}

body .main .container-fluid .main-wrapper .left-screen .restaurant #select-wrapper #dishs-select .dishs__container .dishs__list .wrapper {
  height: 100%;
  overflow-y: auto;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant #select-wrapper #dishs-select .dishs__container .dishs__list .wrapper .dish__wrapper {
  width: 140px;
  height: 192px;
  margin: 10px;
  padding: 10px 5px 5px 5px;
  border: 1px solid #4682b4;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant #select-wrapper #dishs-select .dishs__container .dishs__list .wrapper .dish__wrapper:hover {
  background-color: #e2e9f0;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant #select-wrapper #dishs-select .dishs__container .dishs__list .wrapper .dish__wrapper .dish {
  position: relative;
  height: 100%;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant #select-wrapper #dishs-select .dishs__container .dishs__list .wrapper .dish__wrapper .dish__out-stock {
  position: absolute;
  bottom: -10px;
  right: -10px;
  color: #c62717;
  font-size: 20px;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant #select-wrapper #dishs-select .dishs__container .dishs__list .wrapper .dish__wrapper .dish__count {
  height: 28px;
  width: 28px;
  position: absolute;
  bottom: -15px;
  right: -10px;
  background-color: #349813;
  color: #fff;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant #select-wrapper #dishs-select .dishs__container .dishs__list .wrapper .dish__wrapper .dish__image {
  height: calc(100% - 96px);
  padding: 8px !important;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant #select-wrapper #dishs-select .dishs__container .dishs__list .wrapper .dish__wrapper .dish__image img {
  max-height: 100%;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant #select-wrapper #dishs-select .dishs__container .dishs__list .wrapper .dish__wrapper .dish__name {
  height: 64px;
  font-size: 16px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  text-overflow: ellipsis;
  overflow: hidden;
}

body .main .container-fluid .main-wrapper .left-screen .restaurant #select-wrapper #dishs-select .dishs__container .dishs__list .wrapper .dish__wrapper .dish__code {
  height: 32px;
  font-style: italic;
  color: #3899ea;
}

body .main .container-fluid .main-wrapper .left-screen .history {
  height: 100%;
}

body .main .container-fluid .main-wrapper .left-screen .history__search {
  height: 56px;
}

body .main .container-fluid .main-wrapper .left-screen .history__list {
  height: calc(100% - 120px);
}

body .main .container-fluid .main-wrapper .left-screen .history__button {
  height: 63px;
  margin-bottom: 0;
}

body .main .container-fluid .main-wrapper .left-screen .invoice {
  height: 100%;
}

body .main .container-fluid .main-wrapper .left-screen .invoice .invoice-template {
  height: calc(100% - 52px);
  margin: 0;
  padding-right: 0;
  overflow-y: auto;
}

body .main .container-fluid .main-wrapper .left-screen .invoice .invoice-template .template-invoice {
  height: 100%;
  background-position: center center;
  background-size: cover;
}

body .main .container-fluid .main-wrapper .left-screen .invoice .invoice-template .template-invoice .view-invoice {
  height: 100%;
  overflow-y: auto;
}

body .main .container-fluid .main-wrapper .left-screen .invoice .invoice-template .template-invoice .view-invoice table {
  width: 98%;
  border: none;
}

body .main .container-fluid .main-wrapper .left-screen .invoice .invoice-template .template-invoice .view-invoice table .tables ul li {
  list-style-type: none !important;
}

body .main .container-fluid .main-wrapper .left-screen .invoice .confirm {
  height: 62px;
  margin: 4px 0 0 0;
  padding-right: 0;
  padding: 0.7rem 0.5rem !important;
}

body .main .container-fluid .main-wrapper .left-screen .invoice .confirm button {
  margin: 10px;
}

body .main .container-fluid .main-wrapper .left-screen .invoice .confirm .size {
  margin: 10px 0 10px 20px;
  cursor: pointer;
}

body .main .container-fluid .main-wrapper .order {
  width: 628px;
  height: 100%;
  padding: 0 0 0 5px;
  background-color: #e0e7fe;
  padding-left: 2px;
}

body .main .container-fluid .main-wrapper .order .header {
  height: 56px;
  background-color: #1c7dd5;
  color: #fff;
}

body .main .container-fluid .main-wrapper .order .header .hide-show-invoice {
  margin-left: 10px;
}

body .main .container-fluid .main-wrapper .order .header .menu-account .image-user {
  margin: 0 auto;
  width: 30px;
  height: 30px;
  background-position: center center;
  background-size: cover;
}

body .main .container-fluid .main-wrapper .order .content {
  position: relative;
  height: calc(100% - 56px);
}

body .main .container-fluid .main-wrapper .order .content .list-order {
  display: none;
  position: absolute;
  max-height: 400px;
  min-width: 300px;
  overflow-y: auto;
  top: 48px;
  left: 0;
  background-color: #fff;
  z-index: 1;
}

body .main .container-fluid .main-wrapper .order .content .list-order ul {
  max-width: 350px;
  overflow-y: auto;
  list-style-type: none;
  padding: 0;
}

body .main .container-fluid .main-wrapper .order .content .list-order ul li {
  width: 100%;
  padding: 2px 25px;
  font-size: 16px;
  line-height: 35px;
  border: 0.1px solid #c7c7c7;
  border-top: none;
  cursor: pointer;
  font-size: 13px;
  padding: 2px auto 2px 10px;
}

body .main .container-fluid .main-wrapper .order .content .list-order ul li:hover {
  background-color: #f3f3f3;
}

body .main .container-fluid .main-wrapper .order .content .list-order ul .selected {
  background-color: #e5ddc5 !important;
}

body .main .container-fluid .main-wrapper .order .content .general {
  height: 44px;
  position: relative;
  margin: 4px 0;
}

body .main .container-fluid .main-wrapper .order .content .general .name-order {
  height: 100%;
  position: absolute;
  left: 100px;
  bottom: 0;
  line-height: 35px;
}

body .main .container-fluid .main-wrapper .order .content .general .name-order .table-order {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

body .main .container-fluid .main-wrapper .order .content .general .show-list-order {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 45px;
  background-color: #1c7dd5;
  color: #fff;
  border-right: 1px solid #fff;
}

body .main .container-fluid .main-wrapper .order .content .general .show-list-order i {
  line-height: 35px;
}

body .main .container-fluid .main-wrapper .order .content .general .show-list-order i .order_number {
  margin-left: 5px;
}

body .main .container-fluid .main-wrapper .order .content .general .add-order {
  position: absolute;
  left: 45px;
  bottom: 0;
  height: 100%;
  width: 45px;
  background-color: #1c7dd5;
  color: #fff;
}

body .main .container-fluid .main-wrapper .order .content .general .add-order i {
  line-height: 35px;
}

body .main .container-fluid .main-wrapper .order .content .general .actions .name-user {
  font-weight: bold;
  line-height: 30px;
  text-decoration: underline;
  color: #337ab7;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

body .main .container-fluid .main-wrapper .order .content .general .actions .btn-set-comment,
body .main .container-fluid .main-wrapper .order .content .general .actions .btn-unselect-all,
body .main .container-fluid .main-wrapper .order .content .general .actions .btn-select-all,
body .main .container-fluid .main-wrapper .order .content .general .actions .btn-matching-order {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

body .main .container-fluid .main-wrapper .order .content .general .actions .btn-action {
  border: 1px solid #1c7dd5;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

body .main .container-fluid .main-wrapper .order .content .general .actions .btn-action:hover {
  border-color: #1c7dd5;
}

body .main .container-fluid .main-wrapper .order .content .general .actions .noted {
  border-color: #fc7300 !important;
  background-color: #fc7300 !important;
}

body .main .container-fluid .main-wrapper .order .content .goods-select {
  position: relative;
  height: calc(100% - 272px);
}

body .main .container-fluid .main-wrapper .order .content .goods-select .goods {
  width: 100%;
  border: 1px solid #e2e9f0;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

body .main .container-fluid .main-wrapper .order .content .goods-select .goods:hover {
  background-color: #e2e9f0;
}

body .main .container-fluid .main-wrapper .order .content .goods-select .goods__info {
  width: 95%;
}

body .main .container-fluid .main-wrapper .order .content .goods-select .goods__info .goods_image {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

body .main .container-fluid .main-wrapper .order .content .goods-select .goods__info .goods_image img {
  width: 80px;
  height: 50px;
  background-position: center center;
  background-size: cover;
}

body .main .container-fluid .main-wrapper .order .content .goods-select .goods__info .goods_name_and_status {
  width: calc(100% - 333px);
}

body .main .container-fluid .main-wrapper .order .content .goods-select .goods__info .goods_name_and_status .goods_name {
  white-space: nowrap;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  text-overflow: ellipsis;
  overflow: hidden;
}

body .main .container-fluid .main-wrapper .order .content .goods-select .goods__info .goods_name_and_status .time {
  margin-right: 5px;
  font-size: 13px;
  color: dimgrey;
}

body .main .container-fluid .main-wrapper .order .content .goods-select .goods__info .goods_name_and_status .status {
  display: inline-block;
}

body .main .container-fluid .main-wrapper .order .content .goods-select .goods__info .goods_amount {
  width: 55px;
  height: 30px;
  margin-top: 0;
}

body .main .container-fluid .main-wrapper .order .content .goods-select .goods__info .goods_price {
  width: 80px;
  text-align: right;
  line-height: 15px;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

body .main .container-fluid .main-wrapper .order .content .goods-select .goods__info .goods_price .price-discount {
  color: red;
  font-size: 12px;
  font-style: italic;
  text-decoration: line-through;
}

body .main .container-fluid .main-wrapper .order .content .goods-select .goods__info .goods_price-total {
  width: 100px;
  text-align: right;
  line-height: 15px;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

body .main .container-fluid .main-wrapper .order .content .goods-select .goods__delete {
  line-height: 60px;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

body .main .container-fluid .main-wrapper .order .content .goods-select .goods__delete .delete-dish {
  width: 30px;
  line-height: 48px;
}

body .main .container-fluid .main-wrapper .order .content .goods-select .goods__delete .delete-dish i {
  font-size: 18px;
}

body .main .container-fluid .main-wrapper .order .content .goods-select .btn-dishs {
  width: 30px;
  position: absolute;
  left: 5px;
  top: calc(50% - 75px);
  padding-right: 0 !important;
}

body .main .container-fluid .main-wrapper .order .content .goods-select .btn-dishs .btn-dish {
  padding: 0 !important;
}

body .main .container-fluid .main-wrapper .order .content .goods-select .btn-dishs .btn-dish i {
  line-height: 20px;
  margin-bottom: 5px;
}

body .main .container-fluid .main-wrapper .order .content .goods-select .btn-dishs .set-status-dishs {
  position: relative;
}

body .main .container-fluid .main-wrapper .order .content .goods-select .btn-dishs .set-status-dishs .options {
  display: none;
  position: absolute;
  top: 0px;
  right: 35px;
}

body .main .container-fluid .main-wrapper .order .content .goods-select .btn-dishs .set-status-dishs .options .arrow-status {
  float: right;
  line-height: 30px;
}

body .main .container-fluid .main-wrapper .order .content .goods-select .btn-dishs .set-status-dishs .options .label-status {
  padding-left: 10px;
  padding-right: 10px;
}

body .main .container-fluid .main-wrapper .order .content .price {
  margin-top: 0 !important;
  height: 154px;
}

body .main .container-fluid .main-wrapper .order .content .price .highlight {
  border-bottom: 1px solid #c7c7c7;
}

body .main .container-fluid .main-wrapper .order .content .price .employee {
  font-weight: bold;
}

body .main .container-fluid .main-wrapper .order .content .price .employee .btn-employee {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

body .main .container-fluid .main-wrapper .order .content .price .employee .btn-employee .employee_name {
  text-decoration: underline;
  color: #337ab7;
}

body .main .container-fluid .main-wrapper .order .content .price .total {
  font-weight: bold;
}

body .main .container-fluid .main-wrapper .order .content .price .add-discount .btn-edit-discount {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

body .main .container-fluid .main-wrapper .order .content .price .p-2 {
  padding: 0.2rem 0.5rem !important;
}

body .main .container-fluid .main-wrapper .order .content .actions {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

body .main .container-fluid .main-wrapper .order .content .actions button {
  margin: 10px 5px;
}

body .main .container-fluid .main-wrapper .order .content .actions .shortcut {
  position: relative;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

body .main .container-fluid .main-wrapper .order .content .actions .shortcut__item {
  display: inline-block;
  margin-right: 20px;
}

.modal .modal-title {
  display: inline-block;
}

#modal .modal-field {
  margin-bottom: 5px;
  font-size: 18px;
  text-align: left;
  margin-right: 7px !important;
  margin-left: 7px !important;
}

#modal .modal-field__label {
  height: 42px;
  line-height: 42px;
  padding-top: 0;
  text-align: left;
}

#modal .modal-field__text {
  height: 42px;
  font-size: 18px;
  text-align: right;
}

#modal .modal-btn-percent {
  margin-left: 1px;
  width: 50px;
}

#modal .modal-search-person {
  padding: 10px;
}

#modal .modal-search-person input {
  height: 40px !important;
  font-size: 16px;
}

#discount-dish .modal-field__label {
  padding: 0 5px;
}

#discount-order .modal-field__label {
  padding: 0 5px;
}

#shortcut .shortcut {
  margin-right: 10px !important;
  margin-left: 10px !important;
}

#shortcut .shortcut ul {
  padding-left: 10px;
}

#shortcut .shortcut ul li {
  list-style-type: none !important;
}

#shortcut .shortcut ul li .key {
  display: inline-block;
  width: 100px;
  font-weight: bold;
}

#shortcut .shortcut ul li .note {
  display: inline-block;
}

.list-item ul {
  height: calc(100% - 20px);
  overflow-y: auto;
  padding-left: 10px;
  padding-right: 10px;
  list-style-type: none;
}

.list-item ul li {
  padding: 0 7px;
  font-size: 16px;
  line-height: 35px;
  border-bottom: 1px solid #c7c7c7;
}

.list-item ul li:hover {
  background-color: #f3f3f3;
}

.list-item .selected {
  float: right;
  color: #349813;
}

#user .modal-body,
#employee .modal-body {
  height: 350px;
}

#setSizeMap .modal-dialog {
  width: 450px;
}

#createMap .modal-dialog {
  width: 96%;
}

#createMap .modal-dialog .modal-content .modal-body {
  max-height: calc(100vh - 125px);
  overflow: scroll;
}

#createMap .modal-dialog .modal-content .modal-body .table {
  cursor: default;
}

#createMap .modal-dialog .modal-content .modal-body .table .location {
  width: 50px;
  height: 50px;
  border: 2px solid darkgray;
}

#createMap .modal-dialog .modal-content .modal-body .table tbody tr td {
  padding-right: 50px;
}

#listTableCode .modal-dialog {
  width: 300px;
  margin-top: 100px;
}

#listTableCode .modal-dialog .modal-content {
  background: teal;
}

#listTableCode .modal-dialog .modal-content .modal-body {
  padding: 8px !important;
}

#listTableCode .modal-dialog .modal-content .modal-body #list-table-code {
  max-height: 400px;
  overflow-y: auto;
}

#sizeInvoice .size {
  cursor: pointer;
}

#sizeInvoice .size .selected {
  line-height: 35px;
  color: #349813;
}

.btn-discount {
  background-color: #fff;
  color: #1c7dd5;
  border: 1px solid #1c7dd5;
}

.btn-discount:hover {
  color: #fff;
  background-color: #054982;
}

.discount-selected {
  background-color: #1c7dd5;
  color: #fff;
}

.table__restaurant,
.dish,
.header__notification,
.header__hide-show-invoice,
.hide-show-invoice,
.hide-show-menus,
.edit-discount,
.back-select,
.delete-dish,
.btn-action,
.user-name,
.name-user,
.show-list-order,
.add-order,
.employee_name,
.employee-name,
.goods,
.notification,
.table-order,
.floor,
.location,
.shortcut {
  cursor: pointer;
}

.padding-left-0 {
  padding-left: 0 !important;
}

.input-search:focus {
  border: 1px solid #e5ddc5 !important;
}

.printing * {
  display: none;
}

.printing #print-me * {
  display: block;
}

.printing #print-me span,
.printing #print-me b,
.printing #print-me i {
  display: inline-block;
}

.printing #print-me table {
  display: table;
}

.printing #print-me table thead {
  display: table-header-group;
}

.printing #print-me table tbody {
  display: table-row-group;
}

.printing #print-me table tr {
  display: table-row;
}

.printing #print-me table td,
.printing #print-me table th {
  display: table-cell;
}

#print-me {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #000000;
  z-index: 10000;
}

#print-me .print-box {
  width: 90%;
  margin: 0 auto;
  padding: 25px;
  background-color: #ffffff;
}

#print-me .print-box table {
  width: 98%;
  border: none;
}

@media print {
@page {
    margin: 0;
}
}

.visible {
  display: block !important;
}

.empty-width {
  width: 0% !important;
}

.full-width {
  width: 100% !important;
}

.hidden-menus {
  width: 33px !important;
}

.overflow-y {
  overflow-y: auto;
}

#loader-left-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 630px);
  height: 100%;
  background-color: #00000080;
  z-index: 10;
}

#loader-left-screen .loader {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 18px);
}

.left-screen-enter-active,
.left-screen-leave-active {
  -webkit-transition: opacity .1s ease;
  transition: opacity .1s ease;
}

.left-screen-enter,
.left-screen-leave-to {
  opacity: 0;
}

