<template>
  <div id="history" class="history">
    <div class="history__body">
      <div class="row orders">
        <!-- Danh sách các hóa đơn -->
        <div class="orders__list">
          <div class="d-flex flex-column h-100">
            <div class="p-2">
              <div class="search-box">
                <i class="far fa-search" @click="searchInvoices"></i>
                <input v-model="textSearch" 
                       type="text" 
                       class="form-control input-sm input-search search" 
                       :placeholder="$t('manage_sale.history.search_invoies_by_code')"
                       @keyup.enter="searchInvoices">
              </div>
            </div>
            <div class="p-2 orders-box">
              <div v-if="loadingListInvoices" class="loading-list-invoices">
                <clip-loader :loading="loadingListInvoices" color="#1c7dd5" size="38px"></clip-loader>
              </div>
              <div v-else class="d-flex flex-column orders-list ms__scrollbar-custom">
                <template v-for="invoices in invoiceGroups">
                  <div :key="invoices[0]" class="p-2 date">
                    <span>{{ invoices[0] }}</span>
                  </div>
                  <template v-for="invoice in invoices[1]">
                    <div v-show="invoice.show === true" 
                         :key="invoice.id" 
                         class="p-2 order-item" 
                         :class="{ 'order-item--selected': (invoice.code == currentInvoice.code) }"
                         @click="getInvoice(invoice._id)">
                      <div class="d-flex order">
                        <div class="p-2">
                          <span class="order__status" :style="{ color: getInvoiceStatusColor(invoice.status) }"></span>
                        </div>
                        <div class="p-2">
                          <div class="d-flex flex-column">
                            <div class="p-2 order__code">{{ invoice.code }}</div>
                            <div v-if="invoice.recipient" class="p-2 order__user">
                              {{ fullName(invoice.recipient.first_name, invoice.recipient.last_name) }}
                            </div>
                          </div>
                        </div>
                        <div class="ml-auto p-2">
                          <div class="d-flex align-items-end flex-column">
                            <div class="p-2 order__total">
                              {{ formatPrice(totalInvoice(invoice)) }} VND
                            </div>
                            <div class="p-2 order__time">{{ momentTime(invoice.created_at.date) }}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </template>
                </template>
              </div>
            </div>
          </div>
        </div>
        <!-- Thông tin chi tiết các hóa đơn -->
        <div class="orders__detail">
          <div class="d-flex flex-column content">
            <div class="p-2 content__code text-center">
              <template v-if="currentInvoice.code">
                <span class="order__status" :style="{ color: getInvoiceStatusColor(currentInvoice.status) }"></span>
                <span>
                  {{ currentInvoice.code }} 
                  {{ (currentInvoice.table_ids.length > 0) ? `(${invoicePosition})` : '' }}
                </span>
              </template>
            </div>
            <div class="p-2 content__detail">
              <div v-if="loadingInvoice" class="background-loading">
                <div class="loading-invoice">
                  <clip-loader :loading="loadingInvoice" color="#1c7dd5" size="50px"></clip-loader>
                </div>
              </div>
              <template v-else>
                <div class="d-flex align-items-center order__overview">
                  <div class="mr-auto p-2 total">
                    <div class="d-flex flex-column">
                      <div class="p-2"></div>
                      <div class="p-2 total">
                        {{ formatPrice(totalCurrentInvoice) }} VND
                      </div>
                    </div>
                  </div>
                  <div class="p-2">
                    <table class="restaurant-information">
                      <tr>
                        <td class="field">{{ $t('manage_sale.history.restaurant') }}: </td>
                        <td class="value">{{ restaurantName }}</td>
                      </tr>
                      <tr>
                        <td class="field">{{ $t('manage_sale.history.address') }}: </td>
                        <td class="value">{{ restaurantPosition }}</td>
                      </tr>
                      <tr v-if="currentInvoice.recipient">
                        <td class="field">{{ $t('manage_sale.history.cashier') }}: </td>
                        <td class="value">
                          {{ fullName(currentInvoice.recipient.first_name, currentInvoice.recipient.last_name) }}
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="d-flex justify-content-center order__goods ms__scrollbar-custom">
                  <table class="table color-table">
                    <thead>
                      <tr>
                        <th v-if="currentInvoice.status === invoiceStatusPurchased"></th>
                        <th>{{ $t('manage_sale.history.good') }}</th>
                        <template v-if="currentInvoice.status === invoiceStatusInited">
                          <th>{{ $t('manage_sale.history.order_time') }}</th>
                          <th>{{ $t('manage_sale.history.status') }}</th>
                        </template>
                        <th>{{ $t('manage_sale.history.amount') }}</th>
                        <th>{{ $t('manage_sale.history.unit_price') }}</th>
                        <th>{{ $t('manage_sale.history.total_money') }}</th>
                      </tr>
                    </thead>
                    <!-- Hóa đơn đã thanh toán -->
                    <tbody v-if="currentInvoice.status === invoiceStatusPurchased">
                      <template v-for="(good, index) in currentInvoice.goods">
                        <tr :key="good.id">
                          <td>{{ index + 1 }}</td>
                          <td>{{ good.name }}</td>
                          <td>{{ good.count }}</td>
                          <td>{{ formatGoodPrice(good) }}</td>
                          <td>{{ formatTotalGoodPrice(good) }}</td>
                        </tr>
                      </template>
                    </tbody>
                    <!-- Hóa đơn chưa thanh toán -->
                    <tbody v-else-if="currentInvoice.status === invoiceStatusInited">
                      <template v-for="good in currentInvoice.goods">
                        <template v-for="goodOrder in good.goods_order">
                          <tr :key="good.id + goodOrder.created_at">
                            <td>{{ good.name }}</td>
                            <td>{{ goodOrder.created_at ? momentTime(goodOrder.created_at) : '' }}</td>
                            <td>{{ getItemStatus(goodOrder) }}</td>
                            <td>{{ goodOrder.order_number }}</td>
                            <td>{{ formatGoodPrice(good) }}</td>
                            <td>{{ formatTotalGoodPrice(good, goodOrder) }}</td>
                          </tr>
                        </template>
                      </template>
                    </tbody>
                  </table>
                </div>
                <div class="d-flex order__price">
                  <div class="mr-auto p-2">
                    <table>
                      <tr>
                        <td class="field">{{ $t('manage_sale.history.status') }}: </td>
                        <td class="value">{{ currentInvoiceStatus }}</td>
                      </tr>
                      <tr>
                        <td class="field">{{ $t('manage_sale.history.created_date') }}: </td>
                        <td class="value">{{ createdDate }}</td>
                      </tr>
                      <tr>
                        <td class="field">{{ $t('manage_sale.history.created_time') }}: </td>
                        <td class="value">{{ createdTime }}</td>
                      </tr>
                    </table>
                  </div>
                  <div class="p-2">
                    <table>
                      <tr>
                        <td class="field">{{ $t('manage_sale.history.total_money') }}: </td>
                        <td class="value">{{ formatPrice(subtotalCurrentInvoice) }} VND</td>
                      </tr>
                      <tr>
                        <td class="field">{{ $t('manage_sale.history.discount') }}: </td>
                        <td class="value">{{ formatPrice(discountCurrentInvoice) }} VND</td>
                      </tr>
                      <tr>
                        <td class="field">{{ $t('manage_sale.history.customer_need_pay') }}: </td>
                        <td class="value">{{ formatPrice(totalCurrentInvoice) }} VND</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="history__footer">
      <div class="d-flex justify-content-end align-items-center group-button">
        <router-link :to="{ path: '/restaurant/manage-sale/sale' }" class="p-2 btn btn-default btn--history">
          <i class="far fa-arrow-alt-to-left"></i> {{ $t('manage_sale.history.come_back') }}
        </router-link>
        <button 
          type="button" 
          class="p-2 btn btn-primary btn--history" 
          @click="getInvoices">
          <i class="far fa-clipboard-check"></i> {{ $t('manage_sale.history.update') }}
        </button>
      </div>
    </div>
  </div>
</template>
<script>
  import { ClipLoader } from 'vue-spinner/dist/vue-spinner.min.js'
  import { LIST_TABLES, LIST_INVOICES, GET_INVOICE } from './../../../api.js'
  import {  INVOICE_STATUS_INITED, INVOICE_STATUS_PURCHASED } from './../../../constants.js'
  import { formatPrice, getFullName, priceGoodAfterDiscount }  from './../../../helpers/handle_function.js'
  import { 
    invoicePosition, 
    momentTime, 
    momentDate,
    calcSubtotalPurchaseInvoice,
    discountPurchaseInvoice,
    totalPurchaseInvoice
  } from './../../../helpers/helper_manage_sale.js'
  export default {
    name: 'OrdersHistory',
    components: {
      ClipLoader
    },
    data() {
      return {
        loadingListInvoices: true,
        loadingInvoice: false,
        textSearch: '',
        tables: [],
        invoiceGroups: [],
        currentInvoice: {},
        currentInvoiceStatus: '',
        subtotalCurrentInvoice: 0,
        discountCurrentInvoice: 0,
        totalCurrentInvoice: 0
      }
    },
    computed: {
      invoiceStatusInited() {
        return INVOICE_STATUS_INITED
      },
      invoiceStatusPurchased() {
        return INVOICE_STATUS_PURCHASED
      },
      invoicePosition() {
        return invoicePosition(this.tables, this.currentInvoice.table_ids)
      },
      textSearchFormat() {
        return this.formatTextSearch(this.textSearch)
      },
      restaurant() {
        return this.$store.getters.group
      },
      restaurantName() {
        return this.$store.getters.groupName
      },
      restaurantPosition() {
        return this.$store.getters.groupAddress
      },
      isNoneCurrentInvoice() {
        return _.isEmpty(this.currentInvoice)
      },
      invoiceStatus() {
        if (!this.isNoneCurrentInvoice) return this.currentInvoice.status
        return null
      },
      createdDate() {
        if (!this.isNoneCurrentInvoice) return this.momentDate(this.currentInvoice.created_at) 
        return null
      },
      createdTime() {
        if (!this.isNoneCurrentInvoice) return this.momentTime(this.currentInvoice.created_at) 
        return null
      }
    },
    watch: {
      invoiceStatus(value) {
        if (this.isInvoiceInited(value)) {
          this.currentInvoiceStatus = this.$t('manage_sale.history.ordering_status')
        } else {
          this.currentInvoiceStatus = this.$t('manage_sale.history.checkouted_status')
        }
      },
      currentInvoice(invoice) {
        if (invoice.status === INVOICE_STATUS_PURCHASED) {
          this.totalCurrentInvoice = invoice.total
          this.discountCurrentInvoice = discountPurchaseInvoice(invoice)
          this.subtotalCurrentInvoice = this.totalCurrentInvoice + this.discountCurrentInvoice
        } else {
          this.subtotalCurrentInvoice = calcSubtotalPurchaseInvoice(invoice)
          this.discountCurrentInvoice = discountPurchaseInvoice(invoice, this.subtotalCurrentInvoice)
          this.totalCurrentInvoice = this.subtotalCurrentInvoice - this.discountCurrentInvoice
        }
      }
    },
    created() {
      // Thiết lập tiêu đề trang
      document.title = this.$t('manage_sale.general.invoice_history_title')
      this.getTables()
      this.getInvoices()
    },
    methods: {
      getTables() {
        axios.get(LIST_TABLES)
            .then(res => {
              this.tables = res.data.tables.map(table => {
                return {
                  id: table.id,
                  name: table.name,
                  description: table.description,
                  count_seat: table.count_seat,
                  status: table.status,
                  place_id: table.place_id,
                  place_name: table.place.name
                }
              })
            })
      },
      getInvoices() {
        this.loadingListInvoices = true
        axios.get(LIST_INVOICES)
            .then(res => {
              let invoiceGroups = Object.entries(res.data.invoices)
              invoiceGroups.forEach(invoiceGroup => {
                let invoices = invoiceGroup[1].map(invoice => {
                  invoice.show = true
                  return invoice
                })
                invoiceGroup[1] = invoices
              })
              this.invoiceGroups = invoiceGroups
              this.currentInvoice = res.data.current_invoice
            })
            .finally(() => {
              this.loadingListInvoices = false
            })
      },
      getInvoice(invoiceId) {
        this.loadingInvoice = true
        axios.get(GET_INVOICE, {
              params: {
                id: invoiceId
              }
            })
            .then(res => {
              this.currentInvoice = res.data.invoice
            })
            .finally(() => {
              this.loadingInvoice = false
            })
      },
      searchInvoices() {
        this.invoiceGroups.forEach(invoiceGroup => {
          invoiceGroup[1].forEach(invoice => {
            if (this.formatTextSearch(invoice.code).indexOf(this.textSearchFormat) >= 0) {
              invoice.show = true
            } else {
              invoice.show = false
            }
          })
        })
      },
      fullName(firstName, lastName) {
        return getFullName(firstName, lastName)
      },
      isInvoiceInited(status) {
        return status === INVOICE_STATUS_INITED
      },
      // Màu trạng thái của hóa đơn
      getInvoiceStatusColor(status) {
        return this.isInvoiceInited(status) ? '#ffc800' : '#4CB050'
      },
      // Trạng thái của item
      getItemStatus(item) {
        if (item.is_disable) {
          return this.$t('manage_sale.history.all_out')
        }
        return this.$t(`manage_sale.history.good_status.${item.status}`)
      },
      momentTime(dateTime) {
        return momentTime(dateTime)
      },
      momentDate(dateTime) {
        return momentDate(dateTime)
      },
      formatTextSearch(text) {
        return text.trim().toLowerCase()
      },
      formatPrice(value) {
        return value ? formatPrice(value) : '0'
      },
      goodPrice(good) {
        return priceGoodAfterDiscount(good)
      },
      formatGoodPrice(good) {
        return this.formatPrice(this.goodPrice(good))
      },
      formatTotalGoodPrice(good, goodOrder) {
        const price = this.goodPrice(good)
        if (!goodOrder) {
          return this.formatPrice(price * good.count)
        }
        return this.formatPrice(price * goodOrder.order_number)
      },
      // Tổng giá trị của hóa đơn
      totalInvoice(invoice) {
        return totalPurchaseInvoice(invoice)
      }
    }
  }
</script>

<style type="text/css" scoped>
  .loading-list-invoices {
    position: relative;
    height: 100%;
    background-color: #ffffff;
  }
  .loading-list-invoices .v-spinner {
    position: absolute;
    top: calc(50% - 19px);
    left: calc(50% - 19px);
  }
  .background-loading {
    position: relative;
    height: calc(100% - 2px);
    margin-bottom: 2px;
    background-color: #ffffff;
  }
  .loading-invoice {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
  }
</style>

<style lang="scss">
  @import "../../../../sass/restaurants/manage-sale.scss";
</style>