<template>
  <div id="manage-sale" class="manage-sale">
    <div v-show="!loading" id="screen" class="container-fluid">
      <div class="row main-wrapper">
        <!-- Màn hình quản lý: danh sách bàn, món ăn, hóa đơn thanh toán -->
        <div class="left-screen" :class="{ 'w-100': !displayInvoice }">
          <transition name="left-screen" mode="out-in">
            <keep-alive include="RestaurantScreen">
              <component :is="currentLeftScreen"
                         :invoice="currentInvoice"
                         @printInvoice="printInvoice"></component>
            </keep-alive>
          </transition>
          <loader></loader>
        </div>
        <invoices-screen></invoices-screen>
      </div>
    </div>
    <!-- In hóa đơn -->
    <div id="print-template-invoice">
      <div class="print-box">
      </div>
    </div>
    <!-- Màn hình đợi loading -->
    <div v-show="loading" id="loading-data">
      <scale-loader class="loading-data" :loading="loading" color="#1c7dd5"></scale-loader>
    </div>
    <!-- Màn hình chờ -->
    <div id="loading-screen"></div>
    <modal></modal>
  </div>
</template>

<script>
  import configManageSale from './../../../helpers/config_manage_sale.js'
  import { ScaleLoader } from 'vue-spinner/dist/vue-spinner.min.js'
  import Sounds from './mixins/sounds.js'
  import InvoiceScreen from './scr_invoice.vue'
  import Loader from './general/gen_m_loader_left_screen.vue'
  import asyncCache from './mixins/async_cache.js'
  import saleVuex from './../../../store/modules/sale.js'
  // import LOCAL_NOTIFICATIONS_QUERY from './../../../apollo/query/sale/local_notifications.gql'
  import { invoicePosition } from './../../../helpers/helper_manage_sale.js'
  // import moment from 'moment'

  export default {
    name: 'ManageSale',
    components: {
      ScaleLoader,
      Loader,
      InvoiceScreen,
      'modal': () => import('../../partials/modal.vue'),
      'invoices-screen': () => import('./scr_invoices.vue'),
      'restaurant-screen': () => import('./scr_restaurant.vue')
    },
    mixins: [ Sounds, asyncCache ],
    data() {
      return {
        loading: true,
        asyncComponentLoading: false,
        componentLoading: ['invoices-screen', 'tables-screen'], // Components cần phải load
        currentInvoice: {}
      }
    },
    computed: {
      currentLeftScreen() {
        return this.$store.getters.currentLeftScreen
      },
      groupId() {
        return this.$store.getters.groupId
      },
      displayInvoice() {
        return this.$store.getters.isShowOrder
      },
      placeIdsManage() {
        return this.$store.getters.placesManage
      },
      tables() {
        return this.$store.getters.tables
      }
    },
    created() {
      this.$store.registerModule('sale', saleVuex)
      // Thiết lập tiêu đề trang
      document.title = this.$t('manage_sale.general.manage_sale_title')
      this.loading = true

      // Set default config
      if (configManageSale.getItem()) {
        this.$store.dispatch('setConfig', configManageSale.getItem())
      } else {
        const defaultConfig = {
          auto_next_screen: true,
          place_number: 4,
          places_manage: [], // Mảng rỗng là mặc định tất cả các khu vực
          print_invoice: true,
          notify_sound: true
        }
        configManageSale.setItem(defaultConfig)
        this.$store.dispatch('setConfig', defaultConfig)
      }

      window.Echo.private(`${this.groupId}.sale`)
          .listen('Restaurant\\RequestAccepted', payload => {
            this.requestApproved(payload.invoice)
            this.notifyWithInvoiceIdPayload(payload)
          })
          .listen('Restaurant\\InvoiceDestroyed', payload => {
            this.invoiceDestroyed(payload.invoice_id)
            this.notifyWithInvoiceIdPayload(payload)
          })
          .listen('Restaurant\\InvoiceCreated', payload => {
            this.invoiceCreated(payload.invoice)
            this.notifyWithInvoiceInstance(payload)
          })
          .listen('Restaurant\\InvoiceUpdated', payload => {
            this.invoiceUpdated(payload)
            this.notifyWithInvoiceInstance(payload)
          })
    },
    mounted() {
      this.$nextTick(() => {
        this.$store.dispatch('isLoadingLeftScreen', false)
        // Đợi khi load xong các components thì hiển thị màn hình quản lý bán hàng
        bus.$on('componentLoaded', this.componentLoaded)
        // Chuyển sang Tab Good
        bus.$on('moveGoodTab', this.switchGoodsTab)
        // Chuyển sang màn hình thanh toán
        bus.$on('performCheckout', this.performCheckout)
        // Phím tắt
        window.addEventListener('keydown', this.shortcut)
        // Chuyển màn hình sau khi print xong
        window.addEventListener('afterprint', () => {
          this.switchRestaurantScreen()
        })
      })
    },
    beforeDestroy() {
      this.$store.unregisterModule('sale')
      bus.$off('componentLoaded', this.componentLoaded)
      bus.$off('moveGoodTab', this.switchGoodsTab)
      bus.$off('performCheckout', this.performCheckout)

      Echo.leave(`${this.$store.getters.groupId}.sale`)
    },
    methods: {
      invoicePosition(tableIds) {
        return invoicePosition(this.tables, tableIds)
      },
      switchRestaurantScreen() {
        this.$store.dispatch('isCheckout', false)
      },
      switchTablesTab() {
        $('#restaurant-tabs a[href="#table-select"]').tab('show')
      },
      switchGoodsTab() {
        $('#restaurant-tabs a[href="#dishs-select"]').tab('show')
      },
      shortcut(e) {
        if (e.code !== 'Unidentified') {
          switch (e.code) {
            case 'F1':
              this.switchTablesTab()
              break
            case 'F2':
              this.switchGoodsTab()
              break
          }
        }
      },
      performCheckout(currentInvoice) {
        this.currentInvoice = currentInvoice
        this.$store.dispatch('isCheckout', true)
      },
      printInvoice(invoice) {
        $('#print-template-invoice .print-box').html(invoice)
        $('#manage-sale').addClass('printing')
        $('#print-template-invoice').show()
        $('#awn-toast-container').css('display', 'none')
        window.print()
        $('#awn-toast-container').css('display', '')
        $('#manage-sale').removeClass('printing')
        $('#print-template-invoice').hide()
      },
      componentLoaded() {
        this.componentLoading.shift()
        // Màn hình loading sẽ chuyển khi load xong 2 component Table và Order
        if (this.componentLoading.length === 0) {
          this.loading = false
        }
      },
      // Hoá đơn đã huỷ, đã thanh toán, hoặc yêu cầu của người dùng được
      // một nhân viên khác chấp nhận
      notifyWithInvoiceIdPayload(payload) {
        // Phát âm thanh báo
        this.playNotifyCustomer()

        // Hiển thị thông báo flash
        const messageContent = payload.invoice_code + '<br />' +
          this.invoicePosition(payload.table_ids || []) + '<br />' +
          this.$t(`manage_sale.notify.${payload.type}`)
        this.$awn.info(messageContent)

        // Thêm thông báo tĩnh
        // const client = this.$apollo.provider.defaultClient
        // const notificationsData = client.readQuery({ query: LOCAL_NOTIFICATIONS_QUERY })
        // notificationsData.local_notifications.unshift({
        //   __typename: 'LocalNotfication',
        //   invoice_id: payload.invoice_id,
        //   code: payload.invoice_code,
        //   type: payload.type,
        //   from_type: payload.from_type,
        //   created_at: moment().format('YYYY-MM-DD hh:mm:ss'),
        //   table_ids: payload.table_ids,
        //   creator: payload.creator,
        //   is_execute: false
        // })
        // client.writeQuery({ query: LOCAL_NOTIFICATIONS_QUERY, data: notificationsData })
      },
      // Thêm thông báo thêm mới, cập nhật hoá đơn
      notifyWithInvoiceInstance(payload) {
        // Phát âm thanh báo
        this.playNotifyCustomer()

        // Hiển thị thông báo flash
        const messageContent = payload.invoice.code + '<br />' +
          this.invoicePosition(payload.invoice.table_ids || []) + '<br />' +
          this.$t(`manage_sale.notify.${payload.type}`)
        this.$awn.info(messageContent)
        
        // Thêm thông báo tĩnh
        // const invoice = payload.invoice
        // const client = this.$apollo.provider.defaultClient
        // const notificationsData = client.readQuery({ query: LOCAL_NOTIFICATIONS_QUERY })
        // notificationsData.local_notifications.unshift({
        //   __typename: 'LocalNotfication',
        //   invoice_id: invoice.id,
        //   code: invoice.code,
        //   type: payload.type,
        //   from_type: payload.from_type,
        //   created_at: moment().format('YYYY-MM-DD hh:mm:ss'),
        //   table_ids: invoice.table_ids || [],
        //   creator: payload.creator,
        //   is_execute: false
        // })
        // client.writeQuery({ query: LOCAL_NOTIFICATIONS_QUERY, data: notificationsData })
      }
    }
  }
</script>

<style type="text/css">
  .nav {
    padding: 0!important;
  }
  #awn-toast-container {
    width: 320px;
    left: 24px;
  }
  .multiselect__tags {
    height: auto;
  }
  .multiselect__input, .multiselect__single {
    min-width: auto;
  }
</style>

<style lang="scss">
  @import "./../../../../sass/restaurants/manage-sale.scss";
</style>
