<template>
  <div class="right-screen order">
    <!-- Thông tin tài khoản -->
    <div class="d-flex flex-row align-items-center header">
      <template v-if="!isCheckout">
        <div class="dropdown">
          <button id="dropdownInvoicesList"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                  class="show-list-order dropdown-toggle">
            {{ invoices.length }}
          </button>
          <ul class="list-group dropdown-menu ms__scrollbar-custom"
              aria-labelledby="dropdownInvoicesList">
            <li v-for="(invoice, index) in invoices"
                :key="index"
                class="list-group-item cursor-pointer"
                :class="{ 'list-group-item-active': currentInvoice.id == invoice.id }"
                @click="changeCurrentInvoice(invoice)">
              <div class="d-flex align-items-center">
                <div class="p-2 p-r-0">
                  <span class="status order__status"
                        :style="getStatusClassInvoice(invoice)"></span>
                </div>
                <div class="p-2 p-l-0">
                  <div class="position">{{ invoiceInformation(invoice) }}</div>
                  <div class=" text-muted">{{ momentFromNow(invoice.updated_at) }}</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="add-order dropdown">
          <button id="dropdownAddInvoice"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                  class="show-list-order dropdown-toggle">
            <i class="far fa-plus"></i>
          </button>
          <ul class="list-group dropdown-menu"
              aria-labelledby="dropdownAddInvoice">
            <li class="list-group-item" @click="createPurchaseInvoice()">
              <i class="far fa-shopping-cart"></i>&nbsp;&nbsp;
              {{ $t('restaurant.invoice.sale_invoice') }}
            </li>
            <li class="list-group-item" @click="showModalSelectReturnInvoice()">
              <i class="far fa-share-square fa-flip-horizontal"></i>&nbsp;&nbsp;
              {{ $t('restaurant.returned_invoice.invoice') }}
            </li>
          </ul>
        </div>
      </template>
      <div v-show="invoices.length > 0" class="p-2 name-order" :class="{ 'l-10': isCheckout }">
        <button class="table-order"
                :disabled="disableChangeInvoiceTables"
                @click="showModalTablesInvoice()">
          {{ invoiceInformation(currentInvoice) }}
        </button>
      </div>
      <profile></profile>
    </div>
    <keep-alive>
      <component :is="component"
                 :current-invoice="currentInvoice"
                 :current-invoice-id="currentInvoiceId"
                 :goods="goods"
                 :items-selected="itemsSelected"
                 :select-all="selectAll"
                 :loading="$apollo.queries.sale_invoices.loading"
                 @refresh="refresh"></component>
    </keep-alive>
  </div>
</template>
<script>
  import SALE_INVOICES_QUERY from './../../../apollo/query/sale/sale_invoices.gql'
  import mixinInvoices from './mixins/invoices.js'
  import mixinEvents from './mixins/events.js'
  import asyncCache from './mixins/async_cache.js'
  var SaleInvoice = () => import('./invoice/sale_invoice.vue')
  var ReturnInvoice = () => import('./invoice/return_invoice.vue')
  var Profile = () => import('./profile/index.vue')

  export default {
    components: { SaleInvoice, ReturnInvoice, Profile },
    mixins: [mixinInvoices, mixinEvents, asyncCache ],
    data() {
      return {
        invoices: [],
        currentInvoiceId: '',
        currentInvoice: {},
        goods: [],
        itemsSelected: [],
        maxCountSelect: 0,
        indexInvoice: 1
      }
    },
    apollo: {
      sale_invoices: {
        query: SALE_INVOICES_QUERY,
        variables() {
          return {
            groupId: this.groupId,
            placeIds: this.placeIdsManage
          }
        },
        manual: true,
        result ({ data }) {
          this.invoices = data.sale_invoices

          if (data.sale_invoices.length > 0) {
            this.$store.dispatch('setInvoices', JSON.parse(JSON.stringify(data.sale_invoices)))

            if (this.currentInvoiceId !== '' && !this.currentInvoice.is_draft) {
              let index = data.sale_invoices.findIndex(item => item.id === this.currentInvoiceId)
              if (index >= 0) {
                this.changeCurrentInvoice(data.sale_invoices[index])
              } else {
                this.changeCurrentInvoice(data.sale_invoices[0])
              }
            } else {
              this.changeCurrentInvoice(data.sale_invoices[0])
            }
          } else {
            this.goods = []
            this.currentInvoice = {}
            this.currentInvoiceId = ''
          }
          bus.$emit('componentLoaded')
        }
      }
    },
    computed: {
      component() {
        if (this.currentInvoice.is_return) {
          return 'return-invoice'
        }
        return 'sale-invoice'
      },
      selectAll() {
        return this.itemsSelected.length === this.maxCountSelect
      },
      tables() {
        return this.$store.getters.tables
      },
      groupId() {
        return this.$store.getters.groupId
      },
      placeIdsManage() {
        return this.$store.getters.placesManage
      },
      // Đang ở trang thanh toán
      isCheckout() {
        return this.$store.getters.isCheckout
      },
      // Không có hóa đơn hiện tại
      isNoneCurrentInvoice() {
        return _.isEmpty(this.currentInvoice)
      },
      // Hóa đơn có bàn dùng không
      isNoneTableCurrentInvoice() {
        return !this.isNoneCurrentInvoice &&
               !this.currentInvoice.is_return &&
               this.currentInvoice.table_ids.length === 0
      },
      disableChangeInvoiceTables() {
        return this.isCheckout ||
               this.isNoneCurrentInvoice ||
               this.currentInvoice.is_return ||
               this.currentInvoice.table_ids.length === 0
      }
    },
    created() {
      this.$store.watch(state => {
        return state.internet.status
      }, (state) => {
        if (state) {
          this.$apollo.queries.sale_invoices.refetch()
        }
      }, {
        deep: true
      })
    },
    methods: {
      showModalSelectReturnInvoice() {
        bus.$emit('modal', {
          component: 'm-s-select-return-invoice',
          backdrop: 'static'
        })
      },
      refresh() {
        this.$apollo.queries.sale_invoices.refetch()
      }
    }
  }
</script>
<style lang="scss" scoped>
  .l-10 {
    left: 10px !important;
  }
  .dropdown-menu {
    max-height: 400px;
    overflow-y: auto;
    margin-top: 4px;
    color: #191919;
    font-size: 12px;
    padding: 0;
    .list-group-item {
      padding: 0;
      background-color: #eee;;
    }
    .list-group-item-active {
      background-color: rgb(183, 224, 255);
    }
    .position {
      overflow-x: hidden;
      white-space: nowrap; 
      text-overflow: ellipsis; 
    }
  }
</style>