<template>
  <div id="restaurant" class="restaurant">
    <div class="d-flex flex-row box--0 header" role="tablist">
      <!-- Tab chuyển màn hình quản lý -->
      <div class="p-2 header__tabs">
        <ul id="restaurant-tabs" class="nav nav-tabs" role="tablist">
          <li role="presentation" class="header__tabs--tables active">
            <a class="btn"
               href="#table-select"
               aria-controls="table-select"
               role="tab"
               data-toggle="tab"><i class="far fa-tablet-android"></i> {{ $t("manage_sale.restaurant.book") }}</a>
          </li>
          <li role="presentation" class="header__tabs--dishs">
            <a class="btn"
               href="#dishs-select"
               aria-controls="dishs-select"
               role="tab"
               data-toggle="tab"><i class="far fa-utensils"></i> {{ $t("manage_sale.restaurant.order") }}</a>
          </li>
        </ul>
      </div>
      <!-- Hiển thị thông báo -->
      <div class="p-2 header__notification">
        <div class="d-flex flex-row justify-content-center notification"
             data-toggle="modal"
             data-target="#notification-table">
          <button type="button" class="btn btn-info">
            <i class="fas fa-bell"></i> 
          </button>
          <div class="mr-auto p-2 notification--message">{{ latestMessage }}</div>
          <button type="button" class="btn btn-info">{{ notifications.length }}</button>
        </div>
      </div>
      <div class="ml-auto p-2 header__hide-show-invoice" @click="setDisplayOrder">
        <template v-if="displayInvoice">
          <i class="far fa-expand-arrows"></i>
        </template>
        <template v-else>
          <i class="far fa-compress-arrows-alt"></i>
        </template>
      </div>
    </div>
    <div id="select-wrapper" class="tab-content">
      <!-- Tab chọn bàn -->
      <div id="table-select" role="tabpanel" class="tab-pane active">
        <tables-tab></tables-tab>
      </div>
      <!-- Tab chọn món ăn -->
      <div id="dishs-select" role="tabpanel" class="tab-pane">
        <goods-tab></goods-tab>
      </div>
    </div>
    <!-- Notification Table -->
    <div id="notification-table"
         class="modal fade"
         tabindex="-1"
         role="dialog"
         data-modal-index="1"
         data-backdrop="static">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="table-responsive ms__scrollbar-custom">
              <table id="notify" class="table">
                <thead>
                  <tr>
                    <th>{{ $t('word.order_code') }}</th>
                    <th>{{ $t('common.area') }}</th>
                    <th>{{ $t('word.content') }}</th>
                    <th>{{ $t('word.creator') }}</th>
                    <th class="text-center datetime">{{ $t('word.created_at') }}</th>
                    <th class="text-center action">{{ $t('word.confirm') }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(notify, index) in notifications" :key="index">
                    <td>{{ notify.invoice_code }}</td>
                    <td>{{ invoicePosition(notify.table_ids || []) }}</td>
                    <td>{{ $t(`manage_sale.notify.${notify.type}`) }}</td>
                    <td>{{ notify.creator.fullname }}</td>
                    <td>{{ notify.created_at }}</td>
                    <td>
                      <button class="btn btn-sm btn-info pull-right btn-rounded"
                              @click.prevent="confirm(notify)">
                        <i class="far fa-check"></i> {{ $t('word.confirm') }}</button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div v-if="notifications.length == 0" class="text-center no-bell text-muted">
                <i class="fa fa-bell-slash"> {{ $t('manage_sale.restaurant.no-notify') }}</i>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default">
              <i class="far fa-ban"></i> {{ $t('manage_sale.modal.close') }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  var TablesTab  = () => import('./restaurant/res_tables.vue')
  var GoodsTab   = () => import('./restaurant/res_goods.vue')
  import Sounds from './mixins/sounds.js'
  import { NOTIFY_REQUEST_PURCHASE } from './../../../constants.js'
  import { invoicePosition } from './../../../helpers/helper_manage_sale.js'
  import SALE_INVOICES_QUERY from './../../../apollo/query/sale/sale_invoices.gql'
  import ACCEPT_REQUEST_MUTATION from './../../../apollo/mutation/sale/accept_request.gql'

  export default {
    name: 'RestaurantScreen',
    components: { TablesTab, GoodsTab },
    mixins: [ Sounds ],
    data() {
      return {
        notifies: [],
        notifications: []
      }
    },
    apollo: {
      sale_invoices: {
        query: SALE_INVOICES_QUERY,
        variables() {
          return {
            groupId: this.groupId,
            placeIds: this.placeIds
          }
        },
        fetchPolicy: 'cache-only',
        manual: true,
        result ({ data }) {
          if (!data.sale_invoices) {
            return
          }
          this.notifications = []
          data.sale_invoices.forEach(invoice => {
            invoice.notifications.forEach((notify, index) => {
              if (!notify.is_execute && (notify.from_type === 1 || notify.from_type === 3)) {
                this.notifications.push({
                  invoice_id: invoice.id,
                  invoice_code: invoice.code,
                  table_ids: invoice.table_ids || [],
                  creator: notify.creator,
                  created_at: notify.created_at,
                  type: notify.type,
                  from_type: notify.from_type,
                  index: index
                })
              }
            })
          })
        }
      },
    },
    computed: {
      groupId() {
        return this.$store.getters.groupId
      },
      placeIds() {
        return this.$store.getters.placesManage
      },
      tables() {
        return this.$store.getters.tables
      },
      latestMessage() {
        if (this.notifications.length > 0) {
          return this.invoicePosition(this.notifications[0].table_ids || []) + ' ' +
            this.$t(`manage_sale.notify.${this.notifications[0].type}`)
        }
        return ''
      },
      displayInvoice() {
        return this.$store.getters.isShowOrder
      },
    },
    mounted() {
      this.$nextTick(() => {
        $('#notification-table').on('hidden.bs.modal', () => {
          const notifies = JSON.parse(JSON.stringify(this.notifies))
          notifies.forEach(notify => {
            if (notify.watched === false) {
              notify.watched === true
            }
          })
          this.notifies = notifies
        })
        
        bus.$on('NotifyRequestPurchaseUser', this.notifyRequestPurchaseUser)
      })
    },
    beforeDestroy() {
      bus.$off('NotifyRequestPurchaseUser', this.notifyRequestPurchaseUser)
    },
    methods: {
      invoicePosition(tableIds) {
        return invoicePosition(this.tables, tableIds)
      },
      setDisplayOrder() {
        this.$store.dispatch('setDisplayOrder', !this.displayInvoice)
      },
      confirm(notify) {
        this.$apollo.mutate({
          mutation: ACCEPT_REQUEST_MUTATION,
          variables: {
            groupId: this.groupId,
            invoiceId: notify.invoice_id,
            notificationIndex: notify.index,
            fromType: notify.from_type
          }
        }).then(result => {
          this.$awn.success(this.$t('word.updated'))
        })
      },
      notifyRequestPurchaseUser(invoice) {
        this.playNotifyCustomer()

        const messageContent = this.$t('manage_sale.event_notify.user_require_purchase_invoice', {
          invoice_code: invoice.code,
          position: this.invoicePosition(invoice.table_ids)
        })
        this.$awn.info(messageContent)
        this.addNotify({
          status: 'info',
          message: messageContent,
          type: NOTIFY_REQUEST_PURCHASE,
          invoice_id: invoice.id,
          invoice_code: invoice.code,
          confirm: false
        })
      }
    }
  }
</script>
<style type="text/css" scoped>
  .alert-grey {
    background-color: #c5c5c5;
  }
  .btn-confirm {
    width: 90px;
    background: #ffffff!important;
    color: #3da2b8!important;
  }
  .btn-confirm:hover {
    background: #f0f8fe!important;
  }
  .no-bell {
    margin-top: 200px;
  }
  #restaurant-tabs { border-bottom: none; }
  #notification-table .modal-dialog { width: calc(100% - 100px); }
  #notification-table .table-responsive { height: calc(100vh - 205px); }
  #notification-table .table .datetime { width: 150px; }
  #notification-table .table .action { width: 150px; }
  .badge-danger { background-color: #f33155 !important; color: #fff !important; }
</style>