<template>
  <div id="invoice" class="invoice">
    <div class="d-flex flex-column h-100">
      <div class="row p-2 box--1 invoice-template ms__scrollbar-custom justify-content-center">
        <template-compiled
          :type="typeInvoice"
          :variables-value="variablesValue"
          :size="parseInt(templateSelected.size)"
          :template-editor="templateSelected.content"></template-compiled>
      </div>
      <div class="p-2 box--1 confirm">
        <div class="d-flex justify-content-center">
          <div class="p-2">
            <div v-if="templateSelected && templateSelected.name"
                 class="size" @click="showModalSize">
              <i class="fas fa-file-alt"></i>
              {{ `${templateSelected.name}
              (${templateSelected.size ? sizeDefault[templateSelected.size].name : ''})` }}
            </div>
          </div>
          <button type="button" class="ml-auto p-2 btn btn-primary" @click="checkoutInvoice">
            <i class="far fa-check"></i>
            {{ $t('manage_sale.invoice.confirm') }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import { formatPrice, getFullName } from '../../../helpers/handle_function.js'
  import {
    DISCOUNT_TYPE_FIXED,
    DISCOUNT_TYPE_PERCENT,
    INVOICE_FORM_TYPE_SALE_INVOICE,
    INVOICE_FORM_TYPE_RETURNED_INVOICE,
    SIZE_K80,
    SIZE_TEMPLATE
  } from '../../../constants.js'
  import { convertToDateTime } from './../../../helpers/handle_date_time.js'
  import TemplateCompiled from '../../restaurants/templates/template_compiled'
  import INVOICE_FORM_QUERY from './../../../apollo/query/invoice_form/get_by_type.gql'
  import templateSaleInvoice from '../../../helpers/sale_invoice_default'
  import templateReturnedInvoice from '../../../helpers/returned_invoice_default'
  import exampleSaleInvoiceTemplates from '../../../print_template/sale_invoice'
  import exampleReturnedInvoiceTemplates from '../../../print_template/returned_invoice'

  export default {
    name: 'InvoiceScreen',
    components: {
      TemplateCompiled
    },
    props: {
      invoice: {
        type: Object,
        default: null
      }
    },
    data() {
      return {
        variablesValue: {},
        templates: [],
        templateSelected: {}
      }
    },
    computed: {
      groupId() {
        return this.$store.getters.groupId
      },
      tables() {
        return this.$store.getters.tables
      },
      typeInvoice() {
        if (this.invoice.is_return === true) {
          return INVOICE_FORM_TYPE_RETURNED_INVOICE
        }
        return INVOICE_FORM_TYPE_SALE_INVOICE
      },
      locale() {
        return this.$i18n ? this.$i18n.locale : 'vi'
      },
      sizeDefault() {
        return SIZE_TEMPLATE
      },
      discount() {
        if (this.invoice.discount_type == DISCOUNT_TYPE_FIXED) {
          return formatPrice(this.invoice.discount)
        } else {
          return `${this.invoice.discount}%`
        }
      },
      tablesName() {
        let str = ''
        let tables = []
        if (this.invoice.table_ids !== 'undefined') {
          tables = this.tables.filter(table =>
            this.invoice.table_ids.includes(table.id)
          )
        }
        if (tables.length) {
          str = `${str}${tables[0].name} - ${tables[0].place_name}`
          for (let i = 1; i < tables.length; i++) {
            str = `${str}, ${tables[i].name} - ${tables[i].place_name}`
          }
        }
        return str
      },
      recipientName() {
        return getFullName(
          this.$store.getters.firstname,
          this.$store.getters.lastname
        )
      },
      printInvoice() {
        return this.$store.getters.printInvoice
      }
    },
    watch: {
      templateSelected: function() {
        this.setSize()
      }
    },
    apollo: {
      invoice_forms: {
        query: INVOICE_FORM_QUERY,
        variables() {
          return {
            groupId: this.groupId,
            type: this.typeInvoice
          }
        },
        result ({data}) {
          const exampleTemplates = this.getExampleTemplates()
          this.templates = [...data.invoice_forms, ...exampleTemplates]
          if (Object.keys(this.templateSelected).length === 0) {
            this.templateSelected = this.templates.find(
              obj => obj.size == SIZE_K80
            )
            this.setTemplateSelected(this.templateSelected)
          }
        }
      }
    },
    created() {
      this.getTemplateSelected()
      this.setVariablesValue()
    },
    mounted() {
      this.$nextTick(() => {
        bus.$on('updatedDefaultSaleTemplate', this.updatedDefaultSaleTemplate)
        bus.$on('checkoutSuccessfully', this.printInvoiceCheckouted)
      })
    },
    methods: {
      getExampleTemplates() {
        const result = []
        let exampleInvoiceTemplates = []
        let examples = []
        switch (this.typeInvoice) {
          case INVOICE_FORM_TYPE_RETURNED_INVOICE:
            exampleInvoiceTemplates = exampleReturnedInvoiceTemplates
            break
          case INVOICE_FORM_TYPE_SALE_INVOICE:
          default:
            exampleInvoiceTemplates = exampleSaleInvoiceTemplates
        }
        examples = exampleInvoiceTemplates[this.locale]
        for (let index in examples) {
          result.push({
            size: index,
            type: this.typeInvoice,
            name: this.$t('word.template_default'),
            content: exampleInvoiceTemplates[this.locale][index]
          })
        }
        return result
      },
      setTemplateSelected(templateSelected) {
        switch (this.typeInvoice) {
          case INVOICE_FORM_TYPE_RETURNED_INVOICE:
            templateReturnedInvoice.setItem(templateSelected)
            break
          case INVOICE_FORM_TYPE_SALE_INVOICE:
          default:
            templateSaleInvoice.setItem(templateSelected)
        }
      },
      getTemplateSelected() {
        switch (this.typeInvoice) {
          case INVOICE_FORM_TYPE_RETURNED_INVOICE:
            if (templateReturnedInvoice.getItem()) {
              this.templateSelected = templateReturnedInvoice.getItem()
            }
            break
          case INVOICE_FORM_TYPE_SALE_INVOICE:
          default:
            if (templateSaleInvoice.getItem()) {
              this.templateSelected = templateSaleInvoice.getItem()
            }
        }
      },
      setVariablesValueSaleInvoice(data, outTable, inTable) {
        data[outTable[0]] = this.invoice.code
        data[outTable[1]] = this.$store.getters.groupName
        data[outTable[2]] = this.$store.getters.groupAddress
        data[outTable[3]] = convertToDateTime(Date.now())
        data[outTable[4]] = this.tablesName
        data[outTable[5]] = this.recipientName
        data[outTable[6]] = formatPrice(this.invoice.subtotal)
        data[outTable[7]] = this.discount
        data[outTable[8]] = formatPrice(this.invoice.total)
        data[outTable[9]] = this.invoice.note || ''
        for (let good of this.invoice.goods) {
          if (good.count === 0) {
            continue
          }
          let goods = {}
          let priceDiscount = good.discount || 0
          if (good.discount && good.discount_type == DISCOUNT_TYPE_PERCENT) {
            priceDiscount = (good.price * good.discount) / 100
          }
          goods[inTable[0]] = good.code
          goods[inTable[1]] = good.name
          goods[inTable[2]] = formatPrice(good.count)
          goods[inTable[3]] = formatPrice(good.price)
          goods[inTable[4]] =
            formatPrice(priceDiscount) +
            (good.discount_type == DISCOUNT_TYPE_PERCENT ? '%' : '')
          goods[inTable[5]] = formatPrice(parseInt(good.price - priceDiscount))
          goods[inTable[6]] = formatPrice(
            parseInt((good.price - priceDiscount) * good.count)
          )
          data.Goods.push(goods)
        }
        return data
      },
      setVariablesValueReturnedInvoice(data, outTable, inTable) {
        // data[outTable[0]] = this.invoice.code;
        data[outTable[1]] = this.invoice.invoice_id
        data[outTable[2]] = this.$store.getters.groupName
        data[outTable[3]] = this.$store.getters.groupAddress
        data[outTable[4]] = convertToDateTime(Date.now())
        data[outTable[5]] = this.recipientName
        data[outTable[6]] = formatPrice(this.invoice.total)
        data[outTable[7]] = this.invoice.note || ''
        for (let good of this.invoice.goods) {
          const goods = {}
          goods[inTable[0]] = good.code
          goods[inTable[1]] = good.name
          goods[inTable[2]] = good.return_count
          goods[inTable[3]] = formatPrice(good.price)
          goods[inTable[4]] = formatPrice(good.price * good.return_count)
          data.Goods.push(goods)
        }
        return data
      },
      setVariablesValue() {
        const data = { Goods: [] }
        const outTable = Object.keys(
          this.$t(`config.invoice_form.variables.${this.typeInvoice}.out_table`)
        )
        const inTable = Object.keys(
          this.$t(`config.invoice_form.variables.${this.typeInvoice}.in_table`)
        )
        if (this.typeInvoice === INVOICE_FORM_TYPE_SALE_INVOICE) {
          this.variablesValue = this.setVariablesValueSaleInvoice(
            data,
            outTable,
            inTable
          )
        } else {
          this.variablesValue = this.setVariablesValueReturnedInvoice(
            data,
            outTable,
            inTable
          )
        }
      },
      setSize() {
        let size = SIZE_TEMPLATE[this.templateSelected.size]
        let value = size.width + (size.height ? ` ${size.height}` : '')
        $('head').append(
          '<style title=\'size\'>@media print {@page { size: ' +
            value +
            ';}}</style>'
        )
      },
      updatedDefaultSaleTemplate() {
        this.templateSelected = templateSaleInvoice.getItem()
      },
      showModalSize() {
        console.log(this.templates)
        console.log(this.templateSelected)
        bus.$emit('modal', {
          component: 'm-s-size-invoice',
          backdrop: true,
          payload: {
            templates: this.templates,
            templateSelected: this.templateSelected
          }
        })
      },
      printInvoiceCheckouted() {
        if (this.printInvoice) {
          let invoice = $('#invoiceForm').html()
          this.$emit('printInvoice', invoice)
        }
      },
      checkoutInvoice() {
        bus.$emit('confirmedCheckoutInvoice', this.invoice)
      }
    }
  }
</script>
<style type="text/css" scoped>
  .position-center {
    margin: auto;
  }
</style>
