@import "helpers/variables";
@import "helpers/mixins";

@import "pages/sale";
@import "pages/history";

@import "components/buttons";
@import "components/elements";
@import "components/modals";
@import "components/scrollbar";

@import "base/sizes";
@import "base/events";

@media (max-width: 1279px) {
  #loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/images/restaurant/loading.jpeg);
    background-size: cover;
    z-index: 9999;
  }  
}

.background-color-red {
    background-color: red!important;
}