<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">{{ $t('master.customer_care_manager.edit_customer_care') }}</h4></div>
      <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{name: 'home'}">{{ $t('word.home') }}</router-link>
          </li>
          <li>
            <router-link :to="{name: 'customercare.list'}">{{ $t('word.customer_care') }}</router-link>
          </li>
          <li class="active">{{ $t('word.edit') }}</li>
        </ol>
      </div>
    </div>
    <div v-if="!loading" class="row">
      <div class="white-box col">
        <div class="table-responsive">
          <div class="col-sm-12">
            <form id="form-create-customer-care" action="#" method="POST">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group" :class="{ 'has-error' : errors.name }">
                    <label for="name">{{ $t('word.employee_name') }}</label>
                    <input id="name"
                           v-model="customerCare.name"
                           class="form-control"
                           type="text"
                           name="name">
                    <span v-if="errors.name" class="text-danger">
                      <strong>{{ errors.name[0] }}</strong>
                    </span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group" :class="{ 'has-error' : errors.phone_number }">
                    <label for="phone_number">{{ $t('word.phone_number') }}</label>
                    <input id="phone_number"
                           v-model="customerCare.phone_number"
                           class="form-control"
                           type="text"
                           name="phone_number">
                    <span v-if="errors.phone_number" class="text-danger">
                      <strong>{{ errors.phone_number[0] }}</strong>
                    </span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group" :class="{ 'has-error' : errors.zalo }">
                    <label for="zalo">Zalo</label>
                    <input id="zalo"
                           v-model="customerCare.zalo"
                           class="form-control"
                           type="text"
                           name="zalo">
                    <span v-if="errors.zalo" class="text-danger">
                      <strong>{{ errors.zalo[0] }}</strong>
                    </span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group" :class="{ 'has-error' : errors.skype }">
                    <label for="skype">Skype</label>
                    <input id="skype"
                           v-model="customerCare.skype"
                           class="form-control"
                           type="text"
                           name="skype">
                    <span v-if="errors.skype" class="text-danger">
                      <strong>{{ errors.skype[0] }}</strong>
                    </span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group" :class="{ 'has-error' : errors.email }">
                    <label for="email">Email</label>
                    <input id="email"
                           v-model="customerCare.email"
                           class="form-control"
                           type="text"
                           name="email">
                    <span v-if="errors.email" class="text-danger">
                      <strong>{{ errors.email[0] }}</strong>
                    </span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 text-center">
                  <button type="button" class="btn btn-success btn-rounded btn-submit-form" @click.prevent="save()"><i
                    class="fa fa-save"> {{ $t('word.submit') }}</i></button>
                  <router-link :to="{name: 'master.customercare.list'}" class="btn btn-danger btn-rounded"><i
                    class="fa fa-remove"> {{ $t('word.cancel') }}</i></router-link>
                </div>
              </div>
            </form>
          </div>
          <scale-loader :loading="scaleLoading" :color="'#27a1f2'"></scale-loader>
        </div>
      </div>
    </div>
    <div v-if="loading" class="spinner-rise">
      <rise-loader :loading="loading" :color="'#27a1f2'"></rise-loader>
    </div>
  </div>
</template>
<script>
  import { GET_CUSTOMER_CARE_EDIT, UPDATE_CUSTOMER_CARE } from './../../../api_master'
  import RiseLoader from 'vue-spinner/src/RiseLoader'
  import ScaleLoader from 'vue-spinner/src/ScaleLoader'

  export default {
    name: 'EditCustomerCare',
    components: { RiseLoader, ScaleLoader },
    data() {
      return {
        customerCareId: '',
        customerCare: {
          name: '',
          phone_number: '',
          zalo: '',
          skype: '',
          email: '',
        },
        errors: [],
        loading: true,
        scaleLoading: false
      }
    },
    created() {
      this.customerCareId = this.$route.params.id
      axios.get(`${GET_CUSTOMER_CARE_EDIT}/${this.customerCareId}`)
        .then(result => {
          this.customerCare = result.data.customerCare
        })
        .then(() => {
          this.loading = false
        })
    },
    methods: {
      save() {
        this.scaleLoading = true
        let data = {
          'name': this.customerCare.name,
          'phone_number': this.customerCare.phone_number,
          'zalo': this.customerCare.zalo,
          'skype': this.customerCare.skype,
          'email': this.customerCare.email,
        }
        axios.put(`${UPDATE_CUSTOMER_CARE}/${this.customerCareId}`, data)
          .then(result => {
            this.$router.push({ name: 'master.customercare.list' })
            this.$awn.success(result.data.message)
          }).catch(error => {
          if (typeof error.response !== undefined && error.response.status == 422) {
            this.errors = error.response.data.errors
          }
        }).then(() => {
          this.scaleLoading = false
        })
      }
    }
  }
</script>
<style scoped>
  @media screen and (max-width: 767px) {
    .table-responsive {
      border: none;
    }
  }
</style>