<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">{{ $t('master.customer_care_manager.customer_care_manager') }}</h4>
      </div>
      <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{name: 'home'}">{{ $t('word.home') }}</router-link>
          </li>
          <li class="active">{{ $t('word.customer_care') }}</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="white-box col">
        <div class="searchform clearfix">
          <h3 class="box-title row">
            <span class="row col">{{ $t('word.list') }}</span>
            <router-link :to="{name: 'master.customercare.create'}"
                         class="btn btn-info pull-right btn-create btn-rounded">
              <i class="fa fa-plus"></i> {{ $t('word.create') }}
            </router-link>
          </h3>
        </div>
        <div class="table-responsive">
          <table class="table color-table info-table">
            <thead>
              <tr>
                <th class="sort">{{ $t('word.sort') }}</th>
                <th>{{ $t('word.employee_name') }}</th>
                <th>{{ $t('word.phone_number') }}</th>
                <th>Zalo</th>
                <th>Skype</th>
                <th>Email</th>
                <th class="actions"></th>
              </tr>
            </thead>
            <tbody>
              <template v-if="!loading">
                <tr v-for="(customerCare, index) in customerCareList" :key="index">
                  <td>{{ index + 1 }}</td>
                  <td>{{ customerCare.name }}</td>
                  <td>{{ customerCare.phone_number }}</td>
                  <td>{{ customerCare.zalo }}</td>
                  <td>{{ customerCare.skype }}</td>
                  <td>{{ customerCare.email }}</td>
                  <td class="text-center">
                    <router-link :to="{name: 'master.customercare.edit', params: {id: customerCare._id}}"
                                 data-toggle="tooltip"
                                 :title="$t('word.edit')"
                                 class="btn btn-info btn-circle"><i
                                   class="fa fa-pencil"></i></router-link>
                    <a class="btn btn-danger btn-circle"
                       data-toggle="tooltip"
                       :title="$t('word.delete')"
                       @click="deleteCustomerCare(customerCare._id, index)"><i class="fa fa-trash"></i>
                    </a>
                  </td>
                </tr>
              </template>

              <tr v-if="loading">
                <td colSpan="7">
                  <pulse-loader :loading="loading" :color="'#27a1f2'"></pulse-loader>
                </td>
              </tr>
              <tr v-else-if="customerCareList.length === 0">
                <td class="no-data" colSpan="7">{{ $t('word.no_data') }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div v-if="scaleLoading" class="screen-loading">
          <scale-loader :loading="scaleLoading" :color="'#27a1f2'"></scale-loader>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import { GET_CUSTOMER_CARE_LIST, DELETE_CUSTOMER_CARE } from './../../../api_master'
  import PulseLoader from 'vue-spinner/src/PulseLoader'
  import ScaleLoader from 'vue-spinner/src/ScaleLoader'

  export default {
    name: 'CustomerCareList',
    components: { PulseLoader, ScaleLoader },
    data() {
      return {
        loading: true,
        scaleLoading: false,
        customerCareList: [],
      }
    },
    created() {
      axios.get(GET_CUSTOMER_CARE_LIST)
        .then(result => {
          this.customerCareList = result.data.customerCareList
        })
        .finally(() => {
          this.loading = false
        })
    },
    methods: {
      changePage(page) {
        this.loading = true
        axios.get(`${GET_CUSTOMER_CARE_LIST}?page=${page}`)
          .then(result => {
            this.customerCareList = result.data.customerCareList.data
            this.loading = false
          })
          .finally(() => {
            this.loading = false
          })
      },
      deleteCustomerCare(customerCareId, index) {
        let conf = confirm(this.$i18n.t('master.customer_care_manager.delete_customer_care_confirm'))
        if (conf) {
          this.scaleLoading = true
          axios.delete(`${DELETE_CUSTOMER_CARE}/${customerCareId}`)
            .then(result => {
              this.customerCareList.splice(index, 1)
              this.$awn.success(result.data.message)
              this.scaleLoading = false
            })
            .finally(() => {
              this.scaleLoading = false
            })
        }
      }
    }
  }
</script>