<template>
  <div id="m-s-size-invoice" class="m-s-modal">
    <div class="modal-body">
      <div class="d-flex flex-column">
        <ul v-if="payload.templates && payload.templates.length" class="list-group">
          <li v-for="(item, index) in payload.templates"
              :key="index"
              class="list-group-item cursor-pointer"
              @click="setDefaultSaleInvoice(item)">
            <div class="row justify-content-between">
              <div class="col">{{ item.name }} ({{ sizeDefault[item.size].name }})</div>
              <div class="col-auto text-right">
                <i v-if="item.name == payload.templateSelected.name &&
                     item.size == payload.templateSelected.size"
                   class="fas fa-check text-success"></i>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-default">
        <i class="far fa-ban"></i> {{ $t('manage_sale.modal.close') }}
      </button>
    </div>
  </div>
</template>
<script>
  import { SIZE_TEMPLATE } from './../../../../../constants'
  import defaultSaleTemplate from './../../../../../helpers/sale_invoice_default'

  export default {
    name: 'MSSizeInvoice',
    props: {
      payload: {
        type: Object,
        default: null
      }
    },
    data() {
      return {
        template: {}
      }
    },
    computed: {
      sizeDefault() {
        return SIZE_TEMPLATE
      }
    },
    methods: {
      setDefaultSaleInvoice(template) {
        defaultSaleTemplate.setItem(template)
        $('style[title="size"]').remove()
        bus.$emit('updatedDefaultSaleTemplate')
        bus.$emit('close-modal')
      }
    }
  }
</script>