<template>
  <div id="sidebar" class="navbar-default sidebar" :class="{ 'hide': isServiceHomePage }" role="navigation">
    <div class="sidebar-nav position-relative">
      <div class="sidebar-head">
        <h3>
          <span
            class="fa-fw open-close-custom"
            style="cursor: pointer"
            @click.prevent="toggleMenu()"><i class="mdi mdi-close"></i></span>
          <span class="hide-menu">{{ $t("word.menu") }}</span>
        </h3>
      </div>
      <div id="tab-sidebar" class="slimscrollsidebar">
        <component :is="currentTabSideBar"></component>
      </div>
    </div>
    <div class="p-absolute panel panel-default text-right">
      <p class="panel-heading">{{ $t('word.manage_group') }}</p>
      <template v-if="serviceType === 2">
        <router-link
          v-check-role="{ role: 'cashier,owner,admin' }"
          :to="{ name: 'restaurant.manage-sale.sale' }"
          data-toggle="tooltip" data-placement="top"
          :title="$t('word.sale_manage')"
          class="icon-nav tooltip-danger" target="_blank">
          <i class="fal fa-desktop"></i>
        </router-link>
        <router-link
          v-check-role="{ role: 'chef,owner,admin' }"
          :to="{ name: 'restaurant.kitchen' }"
          data-toggle="tooltip" data-placement="top"
          :title="$t('word.kitchen')"
          class="icon-nav tooltip-primary" target="_blank">
          <i class="fal fa-hat-chef"></i>
        </router-link>
      </template>
      <router-link
        v-check="{ permission: 'group.update-profile' }"
        data-toggle="tooltip" data-placement="top"
        :title="$t('word.update_group_info')"
        :to="{ name: 'group.information.edit' }"
        class="icon-nav tooltip-info">
        <i class="fal fa-cog"></i>
      </router-link>
      <span :to="{ name: 'group.information.edit' }"
            data-toggle="tooltip" data-placement="top"
            :title="$t('word.qrcode')"
            class="icon-nav tooltip-success" @click.prevent="showQR()">
        <i class="fal fa-qrcode"></i>
      </span>
    </div>
  </div>
</template>
<script>
  require('jquery-slimscroll')
  import { customFunction } from './../../../assets/js/custom.js'
  import MasterSidebar from './master.vue'
  import TimekeepingSidebar from './timekeeping.vue'
  import RestaurantSidebar from './restaurant.vue'
  import {
    MASTER_SERVICE,
    TIMEKEEPING_SERVICE,
    RESTAURANT_SERVICE
  } from '../../../constants.js'

  export default {
    components: {
      TimekeepingSidebar,
      RestaurantSidebar,
      MasterSidebar
    },
    computed: {
      currentTabSideBar() {
        switch (this.$store.getters.serviceType) {
          case MASTER_SERVICE:
            return 'master-sidebar'
          case TIMEKEEPING_SERVICE:
            return 'timekeeping-sidebar'
          case RESTAURANT_SERVICE:
            return 'restaurant-sidebar'
          default:
            return ''
        }
      },
      isServiceHomePage() {
        return (!this.serviceType) ? true : false
      },
      serviceType() {
        return this.$store.getters.serviceType
      },
      groupId() {
        return this.$store.state.current.group.id
      }
    },
    updated() {
      customFunction()
    },
    mounted() {
      this.$nextTick(() => {
        customFunction()
      })
    },
    methods: {
      toggleMenu() {
        this.$emit('toggle-sidebar')
      },
      showQR() {
        if (this.serviceType == TIMEKEEPING_SERVICE) {
          let data = {
            group_id: this.groupId,
            type: this.serviceType
          }
          bus.$emit('modal', {
            component: 'qr-code-render',
            payload: {
              data: JSON.stringify(data)
            }
          })
        } else {
          this.$router.push({ name: 'restaurant.table.list' })
        }
      }
    }
  }
</script>
<style scoped lang="scss">
  .sidebar.hide {
    width: 0 !important;
  }
  .router-link-exact-active {
    color: #2cabe3 !important;
    font-weight: 500;
  }
  .panel-heading {
    background: #EEEEEE
  }
  .sidebar-nav {
    margin-top: 46px;
    height: calc(100% - 157px) !important;
  }
  .p-absolute {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 0px;
    .icon-nav {
      font-size: 20px;
      i {
        color: #54667A;
        padding: 15px;
        font-size: 25px;
        cursor: pointer;
      }
      &:hover {
        i {
          color: #2cabe3;
        }
      }
    }
  }
</style>
