<template>
  <ul id="side-menu" class="nav">
    <li>
      <router-link :to="{ name: 'master.slider.list' }"
                   :class="{ 'active' : routerName.slice(0, 13) == 'master.slider' }">
        <i class="far fa-sliders-h" aria-hidden="true"></i>
        <span class="hide-menu">{{ $t('master.slider_manager.slider_manager') }}</span>
      </router-link>
    </li>
    <li>
      <router-link :to="{ name: 'master.company.list' }"
                   :class="{ 'active' : routerName == 'master.company.list' }">
        <i class="far fa-building" aria-hidden="true"></i>
        <span class="hide-menu">{{ $t('master.group_manager.group_manager') }}</span>
      </router-link>
    </li>
    <li>
      <router-link :to="{ name: 'master.good_image' }"
                   :class="{ 'active' : routerName === 'master.good_image' }">
        <i class="far fa-file-image" aria-hidden="true"></i>
        <span class="hide-menu">{{ $t('word.image') }}</span>
      </router-link>
    </li>
  </ul>
</template>
<script>
  export default {
    computed: {
      routerName() {
        return this.$route.name
      }
    }
  }
</script>
<style scoped>
  .fa,
  .far,
  .fas,
  .fab,
  .mdi {
    font-size: 16px;
    margin-right: 10px;
  }
</style>
