<template>
  <ul id="side-menu" :key="groupId" class="nav">
    <!-- Quản lý khu vực -->
    <li v-check="{ permission: 'place.list' }">
      <router-link :to="{ name: 'restaurant.place.list' }"
                   :class="{ 'active' : placeRouterNames.includes(routerName) }">
        <i class="fa fa-map-marked-alt"></i>
        <span class="hide-menu"> {{ $t('restaurant.manage_place') }}</span>
      </router-link>
    </li>

    <!-- Quản lý bàn -->
    <li v-check="{ permission: 'table.list' }">
      <router-link :to="{ name: 'restaurant.table.list' }"
                   :class="{ 'active' : tableRouterNames.includes(routerName) }">
        <i class="fa fa-chair"></i>
        <span class="hide-menu"> {{ $t('restaurant.manage_table') }}</span>
      </router-link>
    </li>

    <!-- Quản lý nhóm thực đơn -->
    <li v-check="{ permission: 'group-menus.list' }">
      <router-link :to="{ name: 'restaurant.menu.list' }"
                   :class="{ 'active' : groupMenuRouterNames.includes(routerName) }">
        <i class="fa fa-ball-pile"></i>
        <span class="hide-menu"> {{ $t('restaurant.manage_group_menus') }}</span>
      </router-link>
    </li>

    <!-- Quản lý kho -->
    <li class="divider"></li>
    <li v-check="{ permission: 'goods.list' }"
        :class="{ 'active' : inventoryRouterNames.includes(routerName) }">
      <a href="javascript:void(0);" :class="{ 'active' : inventoryRouterNames.includes(routerName) }">
        <i class="fa fa-dolly-flatbed-alt"></i>
        <span class="hide-menu"> {{ $t('restaurant.inventory_management') }}</span>
        <span class="fal fa-chevron-down pull-right m-t-5"></span>
      </a>
      <ul class="nav nav-second-level collapse">
        <li>
          <router-link :to="{ name: 'restaurant.good_import.list' }"
                       :class="{ 'active' : goodsImportRouterNames.includes(routerName) }">
            <i class="fa fa-tint"></i>
            <span class="hide-menu">{{ $t('restaurant.material_management') }}</span>
          </router-link>
          <router-link v-check="{ permission: 'imported-invoice.list' }"
                       :to="{ name: 'restaurant.import_invoice.list' }"
                       :class="{ 'active' : importedInvoiceRouterNames.includes(routerName) }">
            <i class="fa fa-inbox-in"></i>
            <span class="hide-menu">{{ $t('restaurant.manage_import_invoice') }}</span>
          </router-link>
        </li>
      </ul>
    </li>

    <!-- Quản lý thực đơn -->
    <li v-check="{ permission: 'goods.list' }">
      <router-link :to="{ name: 'restaurant.good_sale.list' }"
                   :class="{ 'active' : goodsSaleRouterNames.includes(routerName) }">
        <i class="fa fa-ball-pile"></i>
        <span class="hide-menu"> {{ $t('restaurant.menu_management') }}</span>
      </router-link>
    </li>
    
    <!-- Quản lý hoá đơn -->
    <li class="divider"></li>
    <li v-check="{ permission: 'invoice.list, imported-invoice.list,returned-invoice.list' }"
        :class="{ 'active' : invoiceRouterNames.includes(routerName) }">
      <a href="javascript:void(0);"
         :class="{ 'active' : invoiceRouterNames.includes(routerName) }">
        <i class="fa fa-file-invoice"></i>
        <span class="hide-menu"> {{ $t('restaurant.manage_transaction') }}</span>
        <span class="fal fa-chevron-down pull-right m-t-5"></span>
      </a>
      <ul class="nav nav-second-level collapse">
        <li>
          <router-link v-check="{ permission: 'invoice.list' }"
                       :to="{ name: 'restaurant.invoice.list' }"
                       :class="{ 'active' : routerName === 'restaurant.invoice.list' }">
            <i class="fa fa-inbox-out"></i>
            <span class="hide-menu">{{ $t('restaurant.manage_invoice') }}</span>
          </router-link>
          <router-link v-check="{ permission: 'imported-invoice.list' }"
                       :to="{ name: 'restaurant.invoice.imported.list' }"
                       :class="{ 'active' : invoiceImportedRouterNames.includes(routerName) }">
            <i class="fa fa-inbox-in"></i>
            <span class="hide-menu">{{ $t('restaurant.manage_import_invoice') }}</span>
          </router-link>
          <router-link v-check="{ permission: 'returned-invoice.list' }"
                       :to="{ name: 'restaurant.returned_invoice.list' }"
                       :class="{ 'active' : routerName === 'restaurant.returned_invoice.list' }">
            <i class="fa fa-exchange"></i>
            <span class="hide-menu">{{ $t('restaurant.manage_return_invoice') }}</span>
          </router-link>
        </li>
      </ul>
    </li>

    <!-- Quản lý thống kê -->
    <li v-check="{ permission: 'report.sale,report.goods' }" class="">
      <a href="javascript:void(0);"
         :class="{ 'active' : routerName == 'restaurant.report.sale' || routerName == 'restaurant.report.goods' }">
        <i class="fa fa-chart-area" aria-hidden="true"></i>
        <span class="hide-menu"> {{ $t('word.statistics') }}</span>
        <span class="fal fa-chevron-down pull-right m-t-5"></span>
      </a>
      <ul class="nav nav-second-level collapse" aria-expanded="true">
        <li>
          <router-link v-check="{ permission: 'report.sale' }"
                       :to="{ name: 'restaurant.report.sale' }"
                       :class="{ 'active' : routerName == 'restaurant.report.sale'}">
            <i class="fa fa-usd-circle"></i>
            <span class="hide-menu">
              {{ $t('restaurant.report_type.sale') }}
            </span>
          </router-link>
          <router-link v-check="{ permission: 'report.goods' }"
                       :to="{ name: 'restaurant.report.goods' }"
                       :class="{ 'active' : routerName == 'restaurant.report.goods'}">
            <i class="fa fa-box-usd"></i>
            <span class="hide-menu">
              {{ $t('restaurant.report_type.goods') }}
            </span>
          </router-link>
        </li>
      </ul>
    </li>

    <!-- Quản lý mẫu in -->
    <li class="divider"></li>
    <li v-check="{ permission: 'form-invoice.list' }">
      <router-link :to="{ name: 'restaurant.invoice-form.list' }"
                   :class="{ 'active': routerName == 'restaurant.invoice-form.list' }">
        <i class="fa fa-print"></i>
        <span class="hide-menu"> {{ $t('restaurant.manage_template') }}</span>
      </router-link>
    </li>

    <!-- Quản lý nhân viên -->
    <li :class="{ 'active' : employeeRouterNames.includes(routerName) }">
      <a href="javascript:void(0);" :class="{ 'active' : employeeRouterNames.includes(routerName) }">
        <i class="fa fa-users"></i>
        <span class="hide-menu"> {{ $t('word.employee_manage') }}</span>
        <span class="fal fa-chevron-down pull-right m-t-5"></span>
      </a>
      <ul class="nav nav-second-level collapse">
        <li>
          <router-link v-check="{ permission: 'employee.list' }"
                       :to="{ name: 'company.user.list' }"
                       :class="{ 'active' : userRouterNames.includes(routerName) }">
            <i class="fa fa-users-class"></i>
            <span class="hide-menu">{{ $t('word.employee_list') }}</span>
          </router-link>
          <router-link :to="{ name: 'role.manage' }"
                       :class="{ 'active' : routerName === 'role.manage' }">
            <i class="fa fa-user-tag"></i>
            <span class="hide-menu">{{ $t('word.role_management') }}</span>
          </router-link>
          <router-link :to="{ name: 'permission.manage' }"
                       :class="{ 'active' : routerName === 'permission.manage' }">
            <i class="fa fa-shield-check"></i>
            <span class="hide-menu">{{ $t('word.permission_manage') }}</span>
          </router-link>
        </li>
      </ul>
    </li>
  </ul>
</template>
<script>
  export default {
    data() {
      return {
        placeRouterNames: ['restaurant.place.list', 'restaurant.place.create', 'restaurant.place.edit'],
        tableRouterNames: ['restaurant.table.list', 'restaurant.table.create', 'restaurant.table.edit'],
        groupMenuRouterNames: ['restaurant.menu.list', 'restaurant.menu.create', 'restaurant.menu.edit'],
        goodsImportRouterNames: ['restaurant.good_import.list', 'restaurant.good_import.create',
          'restaurant.good_import.edit'],
        goodsSaleRouterNames: ['restaurant.good_sale.list',
          'restaurant.good_sale.create', 'restaurant.good_sale.edit'],
        importedInvoiceRouterNames: ['restaurant.import_invoice.create', 'restaurant.import_invoice.list'],
        userRouterNames: ['company.user.list', 'company.user.detail'],
        invoiceImportedRouterNames: ['restaurant.invoice.imported.list', 'restaurant.invoice.imported.create']
      }
    },
    computed: {
      groupId() {
        return this.$store.getters.groupId
      },
      routerName() {
        return this.$route.name
      },
      inventoryRouterNames() {
        return [...this.goodsImportRouterNames, ...this.importedInvoiceRouterNames]
      },
      employeeRouterNames() {
        return [...this.userRouterNames, 'role.manage', 'permission.manage']
      },
      invoiceRouterNames() {
        return ['restaurant.invoice.list', 'restaurant.returned_invoice.list', ...this.invoiceImportedRouterNames]
      }
    }
  }
</script>
<style scoped lang="scss">
  .fa, .far {
    font-size: 16px;
    margin-right: 10px;
  }
  .divider {
    height: 15px;
    background-color: #e5e5e5;
  }
</style>