<template>
  <ul id="side-menu" :key="groupId" class="nav">
    <li v-check="{ permission: 'employee.list' }">
      <router-link :to="{ name: 'company.user.list' }"
                   :class="{ 'active' : userRouterNames.includes(routerName) }">
        <i class="far fa-users" aria-hidden="true"></i>
        <span class="hide-menu"> {{ $t('word.employee_manage') }}</span>
      </router-link>
    </li>

    <li v-check="{ permission: 'shift.list' }">
      <router-link :to="{ name: 'shift.list' }"
                   :class="{ 'active' : shiftRouterNames.includes(routerName) }">
        <i class="far fa-calendar" aria-hidden="true"></i>
        <span class="hide-menu"> {{ $t('word.shift_manage') }}</span>
      </router-link>
    </li>

    <li v-check="{ permission: 'timekeeping.list' }">
      <router-link :to="{ name: 'timekeeping.list' }"
                   :class="{ 'active' : timekeepingRouterNames.includes(routerName) }">
        <i class="far fa-user-clock" aria-hidden="true"></i>
        <span class="hide-menu"> {{ $t('word.time_keeping_manage') }}</span>
      </router-link>
    </li>

    <li v-check="{ permission: 'report.timekeeping-group' }">
      <router-link :to="{ name: 'company.report' }"
                   :class="{ 'active' : statisticRouterNames.includes(routerName) }">
        <i class="far fa-chart-area" aria-hidden="true"></i>
        <span class="hide-menu"> {{ $t('word.statistics') }}</span>
      </router-link>
    </li>

    <li :class="{ 'active' : employeeRouterNames.includes(routerName) }">
      <a href="javascript:void(0);" :class="{ 'active' : employeeRouterNames.includes(routerName) }">
        <i class="far fa-user-shield"></i>
        <span class="hide-menu"> {{ $t('word.permission_manage') }}</span>
        <span class="fal fa-chevron-down pull-right m-t-5"></span>
      </a>
      <ul class="nav nav-second-level collapse">
        <li>
          <router-link :to="{ name: 'role.manage' }"
                       :class="{ 'active' : routerName === 'role.manage' }">
            <i class="far fa-user-tag"></i>
            <span class="hide-menu">{{ $t('word.role_management') }}</span>
          </router-link>
          <router-link :to="{ name: 'permission.manage' }"
                       :class="{ 'active' : routerName === 'permission.manage' }">
            <i class="far fa-shield-check"></i>
            <span class="hide-menu">{{ $t('word.permission_manage') }}</span>
          </router-link>
        </li>
      </ul>
    </li>
  </ul>
</template>
<script>
  export default {
    data() {
      return {
        userRouterNames: ['company.user.list', 'company.user.detail'],
        shiftRouterNames: ['shift.list', 'shift.create', 'shift.edit', 'shift.user.list', 'shift.user.add'],
        timekeepingRouterNames: ['timekeeping.list', 'timekeeping.list'],
        statisticRouterNames: ['company.report', 'employee.report']
      }
    },
    computed: {
      groupId() {
        return this.$store.getters.groupId
      },
      routerName() {
        return this.$route.name
      },
      employeeRouterNames() {
        return [...this.userRouterNames, 'role.manage', 'permission.manage']
      },
    }
  }
</script>
<style scoped>
  .fa, .far {
    font-size: 16px;
    margin-right: 10px;
  }
</style>