<template>
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-6 col-md-4 bg-white d-flex flex-column align-items-center verification">
      <span class="m-t-30 h2">WELCOME!</span>
      <span class="fa-stack fa-2x text-muted">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-user-check fa-stack-1x fa-inverse"></i>
      </span>
      <h4 class="content">{{ $t('auth.welcome_content') }}</h4>
      <button v-if="!verified" class="btn btn-primary m-b-20" @click="emailVeriy()">
        <span v-if="emailVerifying" class="fal fa-spinner-third fa-spin"></span>
        <span v-else>{{ $t('auth.resend_email') }}</span>
      </button>
      <div class="divider"></div>
      <div v-if="!phoneVerified" class="form-group d-flex flex-column align-items-center m-t-20">
        <div class="form-group m-b-20">
          <input v-if="!phoneNumber" v-model="phoneNumberInput" type="tel"
                 class="form-control">
          <span v-if="errors.phone_number" class="text-danger m-t-5">
            {{ errors.phone_number[0] }}
          </span>
        </div>
        <button class="btn btn-primary verify-phone" :disabled="phoneVerifying"
                @click="phoneNumberVerify()">
          <span v-if="phoneVerifying" class="fal fa-spinner-third fa-spin"></span>
          <span v-else>{{ $t('auth.resend_verification_code') }}</span>
        </button>
      </div>
      <h4 class="contact">{{ $t('auth.contact_zeko') }}</h4>
      <h4 class="align-self-start team">ZEKO Team!</h4>
    </div>
  </div>
</template>

<script>
import { INIT_VERIFY_PHONE_NUMBER } from './../../../api.js'
import { RESEND_VERIFY_EMAIL } from './../../../api.js'

export default {
  data() {
    return {
      errors: [],
      emailVerifying: false,
      phoneVerifying: false,
      phoneNumberInput: ''
    }
  },
  computed: {
    verified() {
      return this.$store.getters.verified
    },
    phoneVerified() {
      return this.$store.getters.phoneVerified
    },
    phoneNumber() {
      return this.$store.getters.phoneNumber
    },
    email() {
      return this.$store.getters.email
    }
  },
  created() {
    if (this.verified && this.phoneVerified) {
      return this.$router.push('/')
    }
  },
  methods: {
    emailVeriy() {
      this.emailVerifying = true
      axios.post(RESEND_VERIFY_EMAIL).then(result => {
        this.$awn.success(result.data.message)
      }).catch(error => {
        this.$awn.alert(error.response.data.message)
      }).finally(() => {
        this.emailVerifying = false
      })
    },
    phoneNumberVerify() {
      this.errors = []
      this.phoneVerifying = true
      axios.post(INIT_VERIFY_PHONE_NUMBER, {
        phone_number: this.phoneNumberInput
      }).then(result => {
        this.$awn.success(result.data.message)
        this.$router.push('/verification/phone-number')
      }).catch(error => {
        if (error.response.status === 422) {
          this.errors = error.response.data.errors
        } else {
          this.$awn.alert(error.response.data.message)
        }
      }).finally(() => {
        this.phoneVerifying = false
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  .verification {
    margin-top: 40px;
    min-height: 600px;
    .content {
      margin: 40px 20px;
    }
    .divider {
      width: 80%;
      border-bottom: 0.5px solid #ddd;
    }
    .contact, { margin: 50px 20px 0 20px; }
    .team { margin: 20px; }
    .form-control {
      width: 300px;
    }
  }
</style>