<template>
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-6 col-md-4 bg-white d-flex flex-column align-items-center verification">
      <span class="m-t-30 h2">{{ $t('auth.resend_verification_code') }}</span>
      <span class="fa-stack fa-2x text-muted">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-mobile fa-stack-1x fa-inverse"></i>
      </span>
      <h4 class="content">{{ $t('esms.enter_verification_code') }}</h4>
      <div class="input">
        <input v-model="code" type="tel" class="form-control" 
               maxlength="6" :placeholder="$t('esms.6_char')">
        <span v-if="errors.code" class="text-danger m-t-5">
          {{ errors.code[0] }}
        </span>
      </div>
      <button class="btn btn-primary" :disabled="verifying"
              @click="phoneNumberVerify()">
        <span v-if="verifying" class="fal fa-spinner-third fa-spin"></span>
        <span v-else>{{ $t('auth.verify') }}</span>
      </button>
    </div>
  </div>
</template>

<script>
import VERIFY_PHONE_NUMBER from './../../../apollo/mutation/auth/verify_phone_number.gql'

export default {
  data() {
    return {
      verifying: false,
      errors: [],
      code: ''
    }
  },
  computed: {
    phoneVerified() {
      return this.$store.getters.phoneVerified
    }
  },
  created() {
    if (this.phoneVerified) {
      return this.$router.push('/')
    }
  },
  methods: {
    phoneNumberVerify() {
      this.verifying = true
      this.$apollo.mutate({
        mutation: VERIFY_PHONE_NUMBER,
        variables: {
          code: this.code
        }
      }).then(result => {
        this.$awn.success(this.$t('word.updated'))
        this.$store.dispatch('setUserInfo', result.data.verify_phone_number)
        this.$router.push('/')
      }).catch(error => {
        if (error.graphQLErrors[0].message === 'validation') {
          this.errors = error.graphQLErrors[0].extensions.validation
        } else {
          this.$awn.alert(error.graphQLErrors[0].message)
        }
      }).finally(() => {
        this.verifying = false
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  .verification {
    margin-top: 15px;
    min-height: 400px;
    .content {
      margin: 40px 20px;
    }
    .form-control {
      width: 300px;
    }
    .btn-primary {
      margin-top: 20px;
    }
  }
</style>