<template>
  <div>
    <div class="panel panel-primary">
      <div class="panel-heading"> {{ $t('time_keeping.timekeeping_info') }}</div>
      <div class="white-box">
        <table class="table">
          <tbody>
            <tr>
              <td>{{ $t('shifts.shift_name') }}</td>
              <td><b>{{ timekeeping.shift_name }}</b></td>
            </tr>
            <tr>
              <td>{{ $t('word.date') }}</td>
              <td>{{ payload.requirement.date || timekeeping.date }}</td>
            </tr>
            <template v-for="time in timekeeping.times">
              <tr :key="time">
                <td>{{ $t('word.checkin') }}</td>
                <td v-if="time.checkin"><b>{{ time.checkin.time }}</b></td>
              </tr>
              <tr :key="time + '1'">
                <td>{{ $t('word.checkout') }}</td>
                <td v-if="time.checkout"><b>{{ time.checkout.time }}</b></td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>

  export default {
    name: 'Detail',
    props: {
      payload: {
        type: Object,
        default: () => {
        }
      }
    },
    computed: {
      timekeeping() {
        return this.payload.requirement.timekeeping
      }
    }
  }
</script>

<style scoped>

</style>