<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <h3 class="page-title">{{ $t('notification.notification_all') }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="white-box col-12 status">
        <div class="row">
          <ul id="notification" class="col-12 notify-list">
            <a v-for="(notify, index) in notifications"
               :key="notify._id"
               href="javascript:void(0)"
               @click.prevent="detail(notify, index)">
              <li class="d-flex" :class="{ 'notify-not-active': !notify.view }">
                <div class="pull-left col-auto">
                  <avatar :username="notify.creator ? notify.creator.fullname : 'Zeko'"
                          :size="50"
                          class="row"
                          :src="notify.creator_avatar"></avatar>
                </div>
                <div class="p-2">
                  <div class="d-flex align-items-start">
                    <span class="mail-desc"
                          v-html="notify.content"></span>
                  </div>
                  <span class="align-self-stretch created text-muted">{{ notify.time_at }}</span>
                </div>
              </li>
            </a>
            <li>
              <pulse-loader :loading="currentPage < totalPage" :color="'#27a1f2'"></pulse-loader>
            </li>
          </ul>
          <div class="col-12">
            <scale-loader :loading="loading" :color="'#27a1f2'"></scale-loader>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import { GET_NOTIFICATION_BY_ID } from '../../api'
  import ScaleLoader from 'vue-spinner/src/ScaleLoader.vue'
  import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
  import moment from 'moment'
  import NOTIFICATIONS_QUERY from './../../apollo/query/notification/list.gql'
  import MARK_SEEN from './../../apollo/mutation/notification/mark_seen.gql'

  export default {
    components: { ScaleLoader, PulseLoader },
    data() {
      return {
        notifications: [],
        currentPage: 1,
        totalPage: 0,
        loading: true,
        isScrolling: false
      }
    },
    computed: {
      id() {
        return this.$store.getters.id
      }
    },
    apollo: {
      my_notifications: {
        query: NOTIFICATIONS_QUERY,
        variables() {
          return {
            page: 1
          }
        },
        manual: true,
        result({ data, loading }) {
          this.loading = loading
          data.my_notifications.data.map(item => {
            item.content = this.getTitle(item)
            item.creator_avatar = item.creator && item.creator.avatars ? item.creator.avatars.x2 : ''
            item.time_at = this.convertCreatedAt(item.created_at)
            return item
          })
          this.notifications = this.notifications.concat(data.my_notifications.data)
          this.currentPage = data.my_notifications.current_page
          this.totalPage = data.my_notifications.last_page
        }
      }
    },
    created() {
      Echo.private(`notification.${this.id}`)
          .listen('NotificationCreated', (event) => {
            this.notifications.unshift(event.notification)
          })
      this.scroll()
    },
    methods: {
      getTitle(item) {
        return this.$t(`notification.messages.${item.type}`, {
          creator_name: item.creator ? item.creator.fullname : null,
          invoice_code: item.invoice ? item.invoice.code : null,
          group_name: item.group ? item.group.name : null,
          shift_name: item.shift ? item.shift.name : null,
          month: item.month || null
        })
      },
      convertCreatedAt(date) {
        return moment(date, 'YYYY-MM-DD HH:mm:ss').format('HH:mm:ss DD/MM/YYYY')
      },
      async detail(notify, index) {
        if (!notify.view) {
          this.$apollo.mutate({
            mutation: MARK_SEEN,
            variables: {
              notificationId: notify.id
            }
          })
        }
        if ([10, 11, 12, 13].includes(notify.type)) {
          this.$router.push({ name: 'user.profile', params: { component: 'organization' } })
        } else if ([14, 15, 16].includes(notify.type)) {
          this.$router.push({ name: 'user.profile', params: { component: 'shift' } })
        } else if ([17, 18, 19, 20, 21, 22].includes(notify.type)) {
          this.loadIndex = index
          $('.dropdown-menu').on('click', function(e) {
            e.stopPropagation()
          })
          await axios.get(`${GET_NOTIFICATION_BY_ID}/${notify._id}`)
              .then(res => {
                this.loadIndex = null
                $('.dropdown').removeClass('open')
                bus.$emit('modal', {
                  component: 'detail-notification',
                  size: 'sm',
                  payload: res.data.notification
                })
              })
        } else if ([101, 103, 104].includes(notify.type)) {
          this.$router.push({ name: 'service.payment' })
        }
      },
      loadmore() {
        if (this.currentPage < this.totalPage) {
          return new Promise((resolve) => {
            this.$apollo.queries.my_notifications.fetchMore({
              variables: {
                page: this.currentPage + 1
              },
              updateQuery: (previousResult, { fetchMoreResult }) => {
                const newDatas = fetchMoreResult.my_notifications.data
                return {
                  my_notifications: {
                    __typename: previousResult.my_notifications.__typename,
                    data: newDatas,
                    current_page: fetchMoreResult.my_notifications.current_page,
                    last_page: fetchMoreResult.my_notifications.last_page
                  }
                }
              }
            }).then(() => {
              resolve()
            })
          })
        }
      },
      scroll() {
        window.onscroll = async () => {
          let bottomOfWindow = document.documentElement.scrollTop +
              window.innerHeight === document.documentElement.offsetHeight
          if (bottomOfWindow && this.isScrolling == false) {
            this.isScrolling = true
            if (this.currentPage < this.totalPage) {
              await this.loadmore()
            }
          }
        }
      }
    },
  }
</script>
<style scoped>

  .notify-list {
    list-style: none;
  }

  .notify-list li {
    border-bottom: dashed 0.5px #dddfe2;
    color: #4C4C4C;
    opacity: 0.95;
    padding: 15px;
  }

  .notify-list li:hover {
    background: #D1FFFF;
    opacity: 1;
  }

  .notify-list .notify-not-active {
    background: #EFEFEF;
    color: #7F7F7F;
  }

  .badge-secondary {
    font-weight: 300;
    margin-right: 10px;
    text-transform: none;
    background-image: linear-gradient(to right, #BCC5D0, #BCCFFF);
    margin-bottom: 5px;
  }

  .created {
    font-size: 13px;
  }

  p {
    margin-top: 12px;
  }
</style>
