<template>
  <div class="container-fluid">
    <div v-if="!loading" class="row bg-title">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">{{ $t('master.news_manager.add_news') }}</h4></div>
      <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{name: 'home'}">{{ $t('word.home') }}</router-link>
          </li>
          <li>
            <router-link :to="{name: 'master.news.list'}">{{ $t('word.news') }}</router-link>
          </li>
          <li class="active">{{ $t('word.add') }}</li>
        </ol>
      </div>
    </div>
    <div v-if="!loading" class="row">
      <div class="white-box col">
        <div class="table-responsive">
          <div class="col-sm-12">
            <form id="form-create-news" action="#" method="POST" enctype="multipart/form-data">
              <div class="row">
                <div class="col-md-8 col-offset-md-2">
                  <div class="form-group" :class="{ 'has-error' : errors.title }">
                    <label for="title">{{ $t('word.title') }}</label>
                    <input id="title"
                           v-model="title"
                           class="form-control"
                           type="text"
                           name="title">
                    <span v-if="errors.title" class="text-danger">
                      <strong>{{ errors.title[0] }}</strong>
                    </span>
                  </div>
                  <div v-if="isPost" class="form-group" :class="{ 'has-error' : errors.slug }">
                    <label for="slug">Slug</label>
                    <input id="slug"
                           v-model="slug"
                           class="form-control"
                           type="text"
                           name="title">
                    <span v-if="errors.slug" class="text-danger">
                      <strong>{{ errors.slug[0] }}</strong>
                    </span>
                  </div>
                  <div class="form-group" :class="{ 'has-error': errors.type }">
                    <label for="type">{{ $t('word.news_type') }}</label>
                    <multiselect id="type"
                                 v-model="type"
                                 label="title"
                                 track-by="title"
                                 placeholder="Lựa chọn loại bài viết"
                                 deselect-label="Nhấn enter để xóa"
                                 select-label="Nhấn enter để chọn"
                                 selected-label="Đã chọn"
                                 :option-height="200"
                                 :options="listType"
                                 :taggable="true">
                      <template slot="option" slot-scope="props">
                        <span>{{ props.option.title }}</span>
                      </template>
                    </multiselect>

                    <span v-if="errors.type" class="text-danger">
                      <strong>{{ errors.type[0] }}</strong>
                    </span>
                  </div>
                  <div class="form-group" :class="{ 'has-error': errors.sort }">
                    <label for="sort">{{ $t('word.sort') }}</label>
                    <input id="sort"
                           v-model="sort"
                           class="form-control"
                           type="number"
                           min="0"
                           name="sort">
                    <span v-if="errors.sort" class="text-danger">
                      <strong>{{ errors.sort[0] }}</strong>
                    </span>
                  </div>
                  <div v-if="isPost" class="form-group" :class="{ 'has-error' : errors.tags }">
                    <label for="tags">{{ $t('word.list_tag') }}</label>
                    <multiselect id="tagSelected"
                                 v-model="tagSelected"
                                 placeholder="Lựa chọn nhãn thêm vào"
                                 deselect-label="Nhấn enter để xóa"
                                 select-label="Nhấn enter để chọn"
                                 selected-label="Đã chọn"
                                 :options="tags"
                                 :allow-empty="false"
                                 :multiple="true"
                                 :taggable="true"
                                 @tag="addTag"></multiselect>

                    <span v-if="errors.tags" class="text-danger">
                      <strong>{{ errors.tags[0] }}</strong>
                    </span>
                  </div>
                  <div v-if="isPost" class="form-group" :class="{ 'has-error' : errors.image }">
                    <label for="image">{{ $t('word.upload_image') }}</label>
                    <img class="img-thumbnail item" :src="photo_url">
                    <input id="image" type="file" name="image[]" @change="fileChange">
                    <span v-if="errors.image" class="text-danger">
                      <strong>{{ errors.image[0] }}</strong>
                    </span>
                  </div>
                  <div class="form-group" :class="{ 'has-error' : errors.description }">
                    <label for="description">{{ $t('word.description') }}</label>
                    <textarea id="description"
                              v-model="description"
                              class="form-control"
                              name="description"
                              style="height: 120px;"></textarea>
                    <span v-if="errors.description" class="text-danger">
                      <strong>{{ errors.description[0] }}</strong>
                    </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group" :class="{ 'has-error' : errors.content }">
                    <label for="content">{{ $t('word.content') }}</label>
                    <froala v-model="content" class="form-control" :tag="'textarea'" :config="config"></froala>
                    <span v-if="errors.content" class="text-danger">
                      <strong>{{ errors.content[0] }}</strong>
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group text-center">
                <button type="button" class="btn btn-success btn-rounded btn-submit-form" @click.prevent="save()"><i
                  class="fa fa-save"> {{ $t('word.submit') }}</i></button>
                <router-link :to="{name: 'master.news.list'}" class="btn btn-danger btn-rounded"><i
                  class="fa fa-remove"> {{ $t('word.cancel') }}</i></router-link>
              </div>
            </form>
          </div>
        </div>
        <scale-loader :loading="scaleLoading" :color="'#27a1f2'"></scale-loader>
      </div>
    </div>
    <div v-if="loading" class="spinner-rise">
      <rise-loader :loading="loading" :color="'#27a1f2'"></rise-loader>
    </div>
  </div>
</template>
<script>
  import { GET_NEWS_CREATE, STORE_NEWS } from './../../../api_master'
  import RiseLoader from 'vue-spinner/src/RiseLoader'
  import ScaleLoader from 'vue-spinner/src/ScaleLoader'
  import { strToSlug } from '../../../helpers/handle_function.js'
  import configFroala from './../../../mixins/config_froala.js'

  export default {
    name: 'CreateNews',
    components: { RiseLoader, ScaleLoader },
    mixins: [configFroala],
    data() {
      return {
        title: '',
        slug: '',
        type: null,
        sort: '',
        tags: [],
        tagSelected: [],
        description: '',
        content: '',
        photo_url: [],
        image: '',
        isDisplayImage: false,
        listType: [],
        listTag: [],
        errors: {},
        loading: true,
        scaleLoading: false
      }
    },
    computed: {
      isPost() {
        if (this.type && (this.type.value == 1 || this.type.value == 5)) {
          return true
        }
        return false
      }
    },
    watch: {
      title: function() {
        this.slug = strToSlug(this.title)
      }
    },
    created() {
      axios.get(GET_NEWS_CREATE).then(result => {
        this.tags = result.data.tags.map(obj => obj.name)
        this.listType = $.map(this.$t('configuration.news_type'), function(value, index) {
          return {
            title: value,
            value: index
          }
        })
        this.loading = false
      })
    },
    methods: {
      addTag(newTag) {
        this.tags.push(newTag)
        this.tagSelected.push(newTag)
      },
      fileChange(e) {
        let files = e.target.files || e.dataTransfer.files
        let reader = new FileReader()
        reader.onload = (e) => {
          let result = e.target.result
          if (result.slice(0, 10) == 'data:image') {
            this.image = files[0]
            this.photo_url = result
          }
        }
        reader.readAsDataURL(files[0])
      },
      save() {
        this.scaleLoading = true
        let formData = new FormData()
        formData.append('title', this.title)
        formData.append('sort', this.sort)
        formData.append('type', this.type.value)
        formData.append('description', this.description)
        formData.append('content', this.content)
        if (this.type.value == 1 || this.type.value == 5) {
          formData.append('slug', this.slug)
          formData.append('image', this.image)
          formData.append('tags', JSON.stringify(this.tagSelected || []))
        }
        axios.post(STORE_NEWS,
          formData,
          {
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          }
        ).then(result => {
          this.$router.push({ name: 'master.news.list' })
          this.$awn.success(result.data.message)
        }).catch(error => {
          if (error.response && error.response.status == 422) {
            this.errors = error.response.data.errors
          }
        }).finally(() => {
          this.scaleLoading = false
        })
      }
    }
  }
</script>
<style scoped>
  .img-thumbnail {
    max-width: 200px;
    max-height: 200px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin: 5px 5px 10px 5px;
  }

  .item {
    display: inline-table;
    line-height: 1.5;
  }

  @media screen and (max-width: 767px) {
    .table-responsive {
      border: none;
    }
  }
</style>