<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">{{ $t('master.news_manager.news_manager') }}</h4>
      </div>
      <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{name: 'home'}">{{ $t('word.home') }}</router-link>
          </li>
          <li class="active">{{ $t('word.news') }}</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="white-box col">
        <div class="filterform">
          <form id="filter" action="#" method="GET">
            <div class="row">
              <div class="radio radio-info col-xs-3 col-xs-offset-3 text-center">
                <input id="visible" v-model="filterStatus" type="radio" value="1">
                <label for="visible">{{ $t('master.not_delete') }}</label>
              </div>
              <div class="radio radio-info col-xs-6 unvisible text-center">
                <input id="unvisible" v-model="filterStatus" type="radio" value="0">
                <label for="unvisible">{{ $t('master.deleted') }}</label>
              </div>
            </div>
          </form>
        </div>

        <div class="searchform clearfix">
          <h3 class="box-title row">
            <span class="col row">{{ $t('word.list') }}</span>
            <router-link :to="{name: 'master.news.create'}"
                         class="btn btn-info pull-right btn-create btn-rounded col-auto">
              <i class="fa fa-plus"></i> {{ $t('word.create') }}
            </router-link>
          </h3>
        </div>

        <div class="table-responsive">
          <table class="table color-table info-table table-responsive">
            <thead>
              <tr>
                <th class="sort">{{ $t('word.sort') }}</th>
                <th>{{ $t('word.title') }}</th>
                <th>{{ $t('word.news_type') }}</th>
                <th class="status">{{ $t('word.status') }}</th>
                <th class="text-center">{{ $t('word.list_tag') }}</th>
                <th v-if="filterStatus === '0'" width="120px" class="text-center">Ngày xóa</th>
                <th class="actions">
                  <div class="record-number">
                    <span>{{ $t('word.count') }}
                      <span class="badge">{{ (newses.length) ? newses.length : '0' }}/{{ total }}</span>
                    </span>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <template v-if="!loading">
                <tr v-for="(news, index) in newses" :key="index">
                  <td>{{ (currentPage - 1) * perPage + index + 1 }}</td>
                  <td>{{ news.title }}</td>
                  <td>{{ getTypeNews(news.type) }}</td>
                  <td class="text-center">
                    <div @change="changeStatus(news.id, news.status)">
                      <switches v-model="news.status" theme="bootstrap" color="success"></switches>
                    </div>
                  </td>
                  <td>
                    <span v-for="tag in news.tags" :key="tag" class="label label-primary tag-name">{{ tag }}</span>
                  </td>
                  <td v-if="filterStatus == 0">{{ getDeleteDate(news.deleted_at.date) }}</td>
                  <td class="text-center">
                    <template v-if="!news.deleted_at">
                      <router-link :to="{name: 'master.news.edit', params: {id: news.id}}"
                                   data-toggle="tooltip"
                                   :title="$t('word.edit')"
                                   class="btn btn-info btn-circle"><i class="fa fa-pencil"></i>
                      </router-link>
                      <div class="display-inline">
                        <a class="btn btn-danger btn-circle"
                           data-toggle="tooltip"
                           :title="$t('word.delete')"
                           @click="deleteNews(news.id, index)"><i class="fa fa-trash"></i>
                        </a>
                      </div>
                    </template>
                    <div v-else class="display-inline">
                      <a class="btn btn-success btn-circle"
                         data-toggle="tooltip"
                         :title="$t('word.restore')"
                         @click="restoreNews(news.id, index)"><i class="fa fa-recycle"></i>
                      </a>
                    </div>
                  </td>
                </tr>
              </template>

              <tr v-if="loading">
                <td colSpan="6">
                  <pulse-loader :loading="loading" :color="'#27a1f2'"></pulse-loader>
                </td>
              </tr>
              <tr v-else-if="newses.length === 0">
                <td colSpan="6" class="no-data">{{ $t('word.no_data') }}</td>
              </tr>
            </tbody>
          </table>
          <pagination v-if="lastPage > 1"
                      :current-page="currentPage"
                      :total-page="lastPage"
                      @changePage="changePage"></pagination>
          <div v-if="scaleLoading" class="screen-loading">
            <scale-loader :loading="scaleLoading" :color="'#27a1f2'"></scale-loader>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import moment from 'moment'
  import Switches from 'vue-switches'
  import { GET_NEWS_LIST, DELETE_NEWS, RESTORE_NEWS, CHANGE_STATUS_NEWS } from './../../../api_master'
  import Pagination from './../../partials/pagination'
  import PulseLoader from 'vue-spinner/src/PulseLoader'
  import ScaleLoader from 'vue-spinner/src/ScaleLoader'

  export default {
    name: 'NewsList',
    components: { Switches, Pagination, PulseLoader, ScaleLoader },
    data() {
      return {
        loading: true,
        scaleLoading: false,
        newses: {},
        filterStatus: '1',
        total: 0,
        currentPage: 1,
        perPage: 10,
        lastPage: null
      }
    },
    watch: {
      filterStatus: function() {
        this.getNews()
      }
    },
    created() {
      this.getNews()
    },
    methods: {
      getDeleteDate(date) {
        return moment(date).format('DD-MM-YYYY')
      },
      getTypeNews(type) {
        return this.$t('configuration.news_type.' + type)
      },
      getNews(page = 1) {
        this.loading = true
        let queryStatus = this.filterStatus ? `status=${this.filterStatus}&` : ''
        axios.get(`${GET_NEWS_LIST}?${queryStatus}page=${page}`)
          .then(result => {
            this.newses = result.data.newses.data
            this.setPagination(result.data.newses.pagination)
            this.loading = false
          })
      },
      changePage(page) {
        this.getNews(page)
      },
      setPagination(pagination) {
        this.total = pagination.total
        this.perPage = pagination.per_page
        this.lastPage = pagination.total_page
        this.currentPage = pagination.current_page
      },
      changeStatus(newsId, filterStatus) {
        let data = {
          id: newsId,
          status: (filterStatus === true) ? 1 : 0
        }
        axios.put(CHANGE_STATUS_NEWS, data).then(() => {
        })
      },
      deleteNews(newsId, index) {
        let conf = confirm(this.$i18n.t('master.news_manager.delete_news_confirm'))
        if (conf) {
          this.scaleLoading = true
          axios.delete(`${DELETE_NEWS}/${newsId}`)
            .then(result => {
              this.newses.splice(index, 1)
              this.$awn.success(result.data.message)
            })
            .finally(() => {
              this.scaleLoading = false
            })
        }
      },
      restoreNews(newsId, index) {
        let conf = confirm(this.$i18n.t('master.news_manager.restore_news_confirm'))
        if (conf) {
          let method = {
            '_method': 'PUT'
          }
          axios.post(`${RESTORE_NEWS}/${newsId}`, method).then(result => {
            this.newses.splice(index, 1)
            this.$awn.success(result.data.message)
          }).then(() => {
            this.scaleLoading = false
          })
        }
      }
    }
  }
</script>
<style scoped>
  .unvisible {
    margin-top: 10px;
  }

  .tag-name {
    margin-right: 5px;
  }

  .display-inline {
    display: inline-block;
  }

  .list-tags {
    max-width: 250px;
    line-height: 25px !important;
  }

  .list-tags .label {
    display: inline-block;
  }
</style>
