<template>
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div v-if="!user.password_none" class="form-group">
        <input v-model="old_password" type="password" class="form-control" :placeholder="$t('word.old_password')">
        <span v-if="errors.old_password" class="text-danger">
          {{ errors.old_password[0] }}
        </span>
      </div>
      <div class="form-group">
        <input v-model="password" type="password" class="form-control" :placeholder="$t('word.password')">
        <span v-if="errors.password" class="text-danger">
          {{ errors.password[0] }}
        </span>
      </div>
      <div class="form-group">
        <input v-model="password_confirmation"
               type="password"
               class="form-control"
               :placeholder="$t('word.comfirm_password')">
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-xs-5">
            <input v-model="code" type="text" class="form-control" placeholder="Captcha">
          </div>
          <div class="col-xs-7" style="display: flex;">
            <img v-if="!loading" :src="captcha.img" alt="Captcha" class="img-responsive">
            <a href="javascript:void(0)" @click.prevent="getCaptcha()">
              <i class="fa fa-sync-alt m-l-15"
                 :class="{'fa-spin' : loadingCaptcha}"
                 style="font-size: 25px; margin-top: 8px;"></i>
            </a>
          </div>
        </div>
        <span v-if="errors.code" class="text-danger">
          {{ errors.code[0] }}
        </span>
      </div>
      <div class="text-center m-t-30">
        <button type="button" class="btn btn-info" @click="update()">
          <template v-if="updating">
            <i class="fa fa-circle-notch fa-spin"></i> {{ $t('word.updating') }}
          </template>
          <template v-else>
            <i class="fa fa-unlock-alt"></i> {{ $t('word.update') }}
          </template>
        </button>
      </div>
    </div>
  </div>
</template>
<script>
  import { USER_UPDATE_ACCOUNT, GET_CAPTCHA } from './../../../api'

  export default {
    props: {
      user: {
        type: Object,
        default: () => {
          password_none: false
        }
      }
    },
    data() {
      return {
        old_password: '',
        password: '',
        password_confirmation: '',
        code: '',
        errors: [],
        captcha: {},
        loadingCaptcha: false,
        loading: true,
        updating: false
      }
    },
    created() {
      this.getCaptcha()
    },
    methods: {
      getCaptcha() {
        this.loading = true
        this.loadingCaptcha = true
        axios.get(GET_CAPTCHA).then(result => {
          this.captcha = result.data
          this.loadingCaptcha = false
          this.loading = false
        })
      },
      update() {
        if (this.loading === false) {
          this.updating = true
          this.errors = []
          axios.put(USER_UPDATE_ACCOUNT, {
            old_password: this.old_password,
            password: this.password,
            password_confirmation: this.password_confirmation,
            key: this.captcha.key,
            expires: this.captcha.expires,
            code: this.code
          }).then(result => {
            this.updating = false
            this.$awn.success(result.data.message)
            this.errors = []
            this.password = ''
            this.old_password = ''
            this.password_confirmation = ''
          }).catch(error => {
            this.updating = false
            this.errors = error.response.data.errors
          })
        }
      }
    }
  }
</script>