<template>
  <div>
    <div class="modal-header text-center col-12 justify-content-center">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title"><b>{{ $t('user.word.update_avatar') }}</b></h4>
    </div>
    <div class="modal-body text-center col-12 justify-content-center">
      <vue-avatar ref="vueAvatar"
                  :width="576"
                  :height="576"
                  :scale="scale"
                  :border-radius="288"
                  :border="0"
                  :color="[216, 212, 212, 0.5]"
                  :image="avatar.x3 || '/images/avatar_x3.png'"></vue-avatar>
      <div class="row justify-content-center m-t-20">
        <div class="col-sm-6">
          <vue-slider v-model="scale"
                      :min="1"
                      :max="5"
                      :interval="0.1"
                      :real-time="true"
                      :tooltip="false"></vue-slider>
        </div>
      </div>
    </div>
    <div class="modal-footer center-block col-12">
      <div class="col-12 text-center">
        <button type="button" class="btn btn-info" data-dismiss="modal" @click="saveImage()">
          <i class="fa fa-save"></i> {{ $t('word.update') }}
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <i class="far fa-ban"></i> {{ $t('word.cancel') }}
        </button>
      </div>
    </div>
  </div>
</template>
<script>
  import { VueAvatar } from 'vue-avatar-editor-improved'
  import VueSlider from 'vue-slider-component'
  import common from './../../../helpers/common'
  import { USER_UPDATE_AVATAR } from './../../../api'

  export default {
    components: { VueAvatar, VueSlider },
    props: {
      payload: {
        type: Object,
        default: () => {}
      }
    },
    data() {
      return {
        config: { movable: false, toolbar: false, navbar: false, title: false, zoomable: false },
        scale: 1,
        image: ''
      }
    },
    computed: {
      avatar() {
        return this.$store.getters.avatar
      }
    },
    methods: {
      saveImage() {
        this.image = this.$refs.vueAvatar.getImageScaled().toDataURL()
        let block = this.image.split(';')
        let contentType = block[0].split(':')[1]
        let imageSource = this.image.split(',')[1]
        let file = common.base64ToBlob(imageSource, contentType)

        let formData = new FormData()
        formData.append('avatar', file)
        // formData.append('_method', 'PUT');
        axios.post(USER_UPDATE_AVATAR,
            formData,
            {
              headers: {
                'Content-Type': 'multipart/form-data'
              }
            })
            .then(result => {
              this.$awn.success(result.data.message)

              // set user in vuex
              this.$store.dispatch('updateAvatar', result.data.user.avatars)

              bus.$emit('avatar-updated', this.image)
            }).catch(error => {
          this.$awn.warning(error.response.data.errors.avatar[0])
        })
      },
    }
  }
</script>