<template>
  <div class="row m-t-10">
    <div class="group-image">
      <img :src="$coverImage(user.cover_image)" alt="Cover image" @click="previewCoverImage()">

      <div class="btn-update-cover-image" @click="updateCoverImage()">
        <i class="mdi mdi-camera"></i> <span class="m-l-5"> {{ $t('user.word.update_cover_image') }}</span>
      </div>
      <div class="name-user">
        <span>{{ fullname }}</span>
      </div>

      <div class="avatar">
        <div style="position: relative">
          <div @click="previewAvatar()">
            <avatar :username="user.first_name"
                    size="160"
                    :src="avatar.x2"></avatar>
          </div>
          <div class="update-avatar" @click="updateAvatar()">
            <span class="mdi mdi-camera"></span>
          </div>
        </div>
      </div>
      <div v-if="avatar" v-viewer="config" class="avatarPre hide">
        <img :src="avatar.x3">
      </div>
      <div v-if="coverImage" v-viewer="config" class="cover-image hide">
        <img v-for="(src, index) in coverImage" :key="index" :src="src">
      </div>
    </div>

    <div id="upload-avatar" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content"></div>
      </div>
    </div>

  </div>
</template>
<script>
  export default {
    data() {
      return {
        config: { movable: false, toolbar: false, navbar: false, title: false, zoomable: false },
        scale: 1
      }
    },
    computed: {
      user() {
        return this.$store.state.auth.user
      },
      avatar() {
        return this.$store.getters.avatar
      },
      coverImage() {
        return [this.$coverImage(this.user.cover_image)]
      },
      fullname() {
        return this.user.last_name + ' ' + this.user.first_name
      }
    },
    methods: {
      previewAvatar() {
        if (this.avatar.x3) {
          this.$el.querySelector('.avatarPre').$viewer.show()
        }
      },
      previewCoverImage() {
        this.$el.querySelector('.cover-image').$viewer.show()
      },
      updateAvatar() {
        bus.$emit('modal', {
          component: 'avatar-upload',
          payload: this.user
        })
      },
      updateCoverImage() {}
    }
  }
</script>
<style lang="scss" scoped>
  .group-image {
    position: relative;
    max-height: 400px;
    cursor: pointer;
    img {
      overflow: hidden;
      width: 100%;
    }
    .name-user {
      position: absolute;
      left: 210px;
      bottom: 30px;
      span {
        color: white;
        font-size: 24px;
        text-transform: uppercase;
      }
    }
    .avatar {
      padding: 3px;
      border: solid 1px #d3d6db;
      position: absolute;
      bottom: -50px;
      left: 30px;
      border-radius: 50%;
      background-color: white;
      .update-avatar {
        display: none;
      }
      &:hover {
        .update-avatar {
          border-radius: 0 0 80px 80px;
          overflow: hidden;
          background-color: rgba(0, 0, 0, 0.1);
          transition: background-color 0.13s ease-out;
          position: absolute;
          bottom: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 50%;
          &:hover {
            background-color: rgba(0, 0, 0, 0.8);
            span {
              transform: scale(0.7);
            }
          }
          span {
            font-size: 30px;
            color: white;
            transition: all 0.2s ease-in-out;
          }
        }
      }
    }
    .btn-update-cover-image {
      background-color: rgba(0, 0, 0, 0.1);
      display: flex;
      color: white;
      position: absolute;
      padding: 5px 10px;
      top: 10px;
      left: 30px;
      i {
        font-size: 20px;
      }
      span {
        display: none;
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
        padding: 6px 12px;
        position: absolute;
        top: 10px;
        left: 30px;
        i {
          font-size: 16px;
        }
        span {
          display: block;
        }
      }
    }
  }
</style>