<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <transition name="fade" class="col-12">
          <heading></heading>
        </transition>
      </div>

      <p class="alert alert-info col-12" style="margin-top: 55px">
        <i class="fa fa-user"></i> {{ $t('word.introduction') }}
      </p>

      <div class="white-box col-12" style="min-height: 400px;">
        <div class="row">
          <div class="vtabs customvtab">
            <ul id="profile" class="nav tabs-vertical">
              <li class="tab" :class="[component === 'overview' ? 'active' : '']">
                <a data-toggle="tab" href="#overview" aria-expanded="true" @click.prevent="component = 'overview'">
                  <i class="far fa-house-damage"></i> <span>{{ $t('word.overview') }}</span>
                </a>
              </li>
              <li class="tab" :class="[component === 'account' ? 'active' : '']">
                <a href="#account" aria-expanded="false" data-toggle="tab" @click.prevent="component = 'account'">
                  <i class="far fa-lock"></i> <span>{{ $t('word.account') }}</span>
                </a>
              </li>
              <li class="tab" :class="[component === 'organization' ? 'active' : '']">
                <a href="#organization"
                   aria-expanded="false"
                   data-toggle="tab"
                   @click.prevent="component = 'organization'">
                  <i class="far fa-sitemap"></i> <span>{{ $t('word.organization') }}</span>
                </a>
              </li>
              <li class="tab" :class="[component === 'shift' ? 'active' : '']">
                <a data-toggle="tab" href="#shift" aria-expanded="false" @click.prevent="component = 'shift'">
                  <i class="far fa-clock"></i> <span>{{ $t('word.shifts') }}</span>
                </a>
              </li>
            </ul>
            <div class="tab-content">
              <keep-alive>
                <component :is="component" :user="user"></component>
              </keep-alive>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { PROFILE } from './../../../api.js'

  var Overview = () => import('./overview.vue')
  var Heading = () => import('./heading.vue')
  var Account = () => import('./account.vue')
  var Organization = () => import('./organization.vue')
  var Shift = () => import('./shift.vue')

  export default {
    components: {
      Heading, Overview, Account, Organization, Shift
    },
    data() {
      return {
        loading: true,
        showUpdate: false,
        isEditOverview: false,
        isAccount: false,
        user: {},
        groups: {
          loaded: false,
          data: []
        },
        shifts: {
          loaded: false,
          data: []
        },
        component: ''
      }
    },
    computed: {
      currentGroup() {
        return this.$store.state.current.group
      }
    },
    created() {
      if (this.$route.params.component) this.component = this.$route.params.component
      else this.component = 'overview'
      axios.get(PROFILE).then(result => {
        this.loading = false
        this.user = result.data.user
      })
    },
    mounted() {
      var hash = window.location.hash
      if (hash) {
        this.component = hash.substr(1)
      }

      $('ul.tabs-vertical > li > a').on('click', function() {
        window.location.hash = $(this).attr('href')
      })
    },
    methods: {
      showUpdateAvatar() {
        this.showUpdate = true
      },
      hiddenUpdateAvatar() {
        this.showUpdate = false
      },
    }
  }
</script>
<style lang="scss" @scoped>
  .information-detail {
    border-radius: 5px;
    li {
      i {
        margin-right: 10px;
        color: #808080;
      }
    }
  }

  .tab {
    &.active {
      font-weight: bold;
      span, i {
        color: #27a1f2;
      }
    }
  }

  .information {
    padding: 10px 0 20px;
    border-bottom: solid 0.5px #f5f6f7;
    line-height: 1.4;
    letter-spacing: 0.5px;
    span {
      padding-left: 10px;
    }
    i {
      color: #808080;
    }
  }

  .customvtab {
    width: 100%;
    .tab-content {
      width: calc(100% - 150px);
    }
  }
</style>
<style scoped>
  .fade-enter-active {
    transition: opacity 0.5s;
  }

  .fade-enter,
  .fade-leave-active {
    opacity: 0
  }
</style>
