<template>
  <div class="col-xs-22">
    <h3 class="box-title">{{ $t('home.company.company_info') }}</h3>
    <div class="table-responsive">
      <table class="table color-bordered-table info-bordered-table">
        <thead>
          <tr>
            <th>#</th>
            <th>{{ $t('word.company_name') }}</th>
            <th>{{ $t('word.address') }}</th>
          </tr>
        </thead>
        <tbody>
          <template v-if="loaded">
            <tr v-for="(group, index) in groups" :key="index">
              <td>{{ index + 1 }}</td>
              <td>{{ group.name }}</td>
              <td>{{ group.area.name + ', ' + group.commune.name + ', ' + group.address }}</td>
            </tr>
          </template>
          <tr v-else>
            <td colspan="3" class="text-center">
              <i class="fa fa-circle-notch fa-spin text-info"></i>
            </td>
          </tr>
          <tr v-if="loaded && !groups.length" class="text-center">
            <td colspan="3">
              {{ $t('word.no_data') }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
  import GROUPS_QUERY from './../../../apollo/query/group/get_by_user_id.gql'

  export default {
    props: {
      user: {
        type: Object,
        required: true
      }
    },
    data() {
      return {
        groups: [],
        loaded: false
      }
    },
    apollo: {
      groups: {
        query: GROUPS_QUERY,
        variables() {
          return {
            userId: this.user.id
          }
        },
        result({ loading }) {
          this.loaded = !loading
        }
      }
    },
  }
</script>