<template>
  <div class="row" style="min-height: 400px;">
    <listing v-if="user.email === undefined"></listing>
    <overview-edit v-else-if="user.email !== undefined && isEditOverview"
                   :user="user"
                   @overview="overviewEdited"></overview-edit>
    <template v-else>
      <div class="col-md-8">
        <div class="information">
          <i class="fa fa-envelope"></i> <span> {{ user.email }}</span>
        </div>
        <div class="information">
          <i class="fa fa-location-arrow"></i>
          <span v-if="user.area"> {{ address }}</span>
        </div>
        <div class="information">
          <i class="fa fa-transgender"></i><span> {{ gender }}</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="information">
          <i class="fa fa-mobile"></i>
          <span>{{ user.phone_number }}</span>
        </div>
        <div class="information">
          <i class="fa fa-birthday-cake"></i>
          <span> {{ user.birthday }}</span>
        </div>
      </div>
      <div v-if="currentUserId == user.id" class="col-12 text-center">
        <button type="button" class="btn btn-info" @click="isEditOverview = true">
          <i class="fa fa-user-edit"></i> {{ $t('word.profile_update') }}
        </button>
      </div>
    </template>
  </div>
</template>

<script>
  var OverviewEdit = () => import('./overview_edit.vue')
  var Listing = () => import('./../../templates/loading/listing.vue')

  export default {
    components: { OverviewEdit, Listing },
    props: {
      user: {
        type: Object,
        required: true
      }
    },
    data() {
      return {
        isEditOverview: false
      }
    },
    computed: {
      gender() {
        switch (this.user.gender) {
          case 2:
            return this.$t('word.female')
          case 3:
            return this.$t('word.other')
          default:
            return this.$t('word.male')
        }
      },
      address() {
        return this.user.area ? this.user.area.name + ', ' + this.user.commune.name + ', ' + this.user.address : ''
      },
      currentUserId() {
        return this.$store.getters.id
      }
    },
    methods: {
      overviewEdited(user) {
        if (user != null) {
          this.user.first_name = user.first_name
          this.user.last_name = user.last_name
          this.user.gender = user.gender
          this.user.birthday = user.birthday
          this.user.area = user.area
          this.user.commune = user.commune
          this.user.address = user.address
        }
        this.isEditOverview = !this.isEditOverview
      }
    }
  }
</script>