<template>
  <div class="col-sm-8 col-sm-offset-2">
    <div class="form-group">
      <input v-model="user.email" type="text" class="form-control" placeholder="Email">
      <span v-if="errors.email" class="text-danger">
        {{ errors.email[0] }}
      </span>
    </div>
    <div class="form-group">
      <input v-model="user.phone_number" type="text" class="form-control"
             :placeholder="$t('word.phone_number')">
      <span v-if="errors.phone_number" class="text-danger">
        {{ errors.phone_number[0] }}
      </span>
    </div>
    <div class="form-group">
      <input v-model="user.first_name" type="text" class="form-control" :placeholder="$t('word.first_name')">
      <span v-if="errors.first_name" class="text-danger">
        {{ errors.first_name[0] }}
      </span>
    </div>
    <div class="form-group">
      <input v-model="user.last_name" type="text" class="form-control" :placeholder="$t('word.last_name')">
      <span v-if="errors.last_name" class="text-danger">
        {{ errors.last_name[0] }}
      </span>
    </div>
    <div class="form-group">
      <date-picker v-model="birthday"
                   :language="language"
                   input-class="form-control"
                   wrapper-class="wrapper"
                   format="dd-MM-yyyy"
                   :placeholder="$t('word.birthday')"></date-picker>
      <span v-if="errors.birthday" class="text-danger">
        {{ errors.birthday[0] }}
      </span>
    </div>
    <div class="d-flex align-items-center">
      <div class="form-group">
        <div class="radio radio-primary">
          <input id="male" v-model="user.gender" type="radio" value="1">
          <label for="male"> {{ $t("word.male") }} </label>
        </div>
      </div>
      <div class="form-group">
        <div class="radio radio-primary m-l-30">
          <input id="female" v-model="user.gender" type="radio" value="2">
          <label for="female"> {{ $t("word.female") }} </label>
        </div>
      </div>
      <div class="form-group">
        <div class="radio radio-primary m-l-30">
          <input id="other" v-model="user.gender" type="radio" value="3">
          <label for="other"> {{ $t("word.other") }} </label>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <span v-if="errors.gender" class="text-danger">
      {{ errors.gender[0] }}
    </span>

    <form-area :areas-origin="areasOrigin"
               :communes="communes"
               :errors="errors"
               :area-loading="areaLoading"
               :commune-loading="communeLoading"
               :area-selected="areaSelected"
               :commune-selected="communeSelected"
               :address="address"
               @selectArea="selectArea"
               @selectCommune="communeSelected = $event"
               @changeAddress="address = $event"></form-area>
    <div class="text-center m-t-20">
      <button type="button" class="btn btn-default" @click="$emit('overview')">
        <i class="far fa-ban"></i> {{ $t('word.cancel') }}
      </button>
      <button type="button" class="btn btn-info" :disabled="updating" @click="update()">
        <i class="far" :class="[updating ? 'fa-circle-notch fa-spin' : 'fa-check']"></i> 
        {{ $t('word.update') }}
      </button>
    </div>
  </div>
</template>
<script>
  import DatePicker from 'vuejs-datepicker'
  import { USER_UPDATE_OVERVIEW } from './../../../api'
  import AREAS_QUERY from './../../../apollo/query/location/areas.gql'
  import COMMUNES_QUERY from './../../../apollo/query/location/communes.gql'
  import * as lang from 'vuejs-datepicker/src/locale'
  import moment from 'moment'
  import FormArea from './../../elements/form_area'

  export default {
    components: { DatePicker, FormArea },
    props: {
      user: {
        type: Object,
        default: () => {}
      }
    },
    data() {
      return {
        errors: [],
        areas: [],
        birthday: '',
        updating: false,
        areaLoading: false,
        areasOrigin: [],
        communes: [],
        communeLoading: false,
        areaSelected: {},
        communeSelected: {},
      }
    },
    apollo: {
      areas: {
        query: AREAS_QUERY,
        variables: {
          all: true
        },
        manual: true,
        result({ data: { areas } }) {
          this.areasOrigin = areas
          this.areas = areas
          this.areaLoading = false
        }
      }
    },
    computed: {
      language() {
        return lang[this.$i18n.locale]
      }
    },
    created() {
      this.birthday = this.user.birthday ? moment(this.user.birthday, 'DD-MM-YYYY').toDate() : new Date()
      this.address = this.user.address
      this.areaSelected = this.user.area
      this.communeSelected = this.user.commune
    },
    methods: {
      selectArea(area) {
        this.communeLoading = true
        this.areaSelected = area

        this.$apollo.addSmartQuery('communes', {
          query: COMMUNES_QUERY,
          variables: {
            areaId: area.id
          },
          result ({ loading }) {
            this.communeLoading = loading
          }
        })
      },
      update() {
        this.errors = []
        this.updating = true
        let payload = {
          first_name: this.user.first_name,
          last_name: this.user.last_name,
          birthday: moment(this.birthday).format('DD-MM-YYYY'),
          gender: this.user.gender,
          area: this.areaSelected,
          commune: this.communeSelected,
          address: this.address,
          email: this.user.email.toLowerCase(),
          phone_number: this.user.phone_number
        }

        axios.put(USER_UPDATE_OVERVIEW, payload).then(result => {
          this.$awn.success(result.data.message)
          this.$emit('overview', payload)
        }).catch(error => {
          if (error.response.status === 422) {
            this.errors = error.response.data.errors
          }
        }).finally(() => this.updating = false)
      }
    }
  }
</script>