<template>
  <div class="col-xs-22">
    <h3 class="box-title">{{ $t('home.company.shifts') }}</h3>
    <div class="table-responsive">
      <table class="table color-bordered-table info-bordered-table">
        <thead>
          <tr>
            <th>{{ $t('home.company.name') }}</th>
            <th>{{ $t('word.checkin') }}</th>
            <th>{{ $t('word.checkout') }}</th>
            <th>{{ $t('datetime.week.7') }}</th>
            <th>{{ $t('datetime.week.1') }}</th>
            <th>{{ $t('datetime.week.2') }}</th>
            <th>{{ $t('datetime.week.3') }}</th>
            <th>{{ $t('datetime.week.4') }}</th>
            <th>{{ $t('datetime.week.5') }}</th>
            <th>{{ $t('datetime.week.6') }}</th>
          </tr>
        </thead>
        <tbody>
          <template v-if="loaded">
            <tr v-for="(shift, index) in shifts" :key="index">
              <td>{{ shift.name }}</td>
              <td><b class="text-info">{{ shift.times[0].checkin }}</b></td>
              <td><b class="text-danger">{{ shift.times[0].checkout }}</b></td>
              <td :rowspan="shift.type == 1 ? 1 : 2">
                <span v-if="shift.schedules.monday == 'on'" class="mdi mdi-check text-success"></span>
                <span v-else class="mdi mdi-close text-danger"></span>
              </td>
              <td :rowspan="shift.type == 1 ? 1 : 2">
                <span v-if="shift.schedules.indexOf('monday') > -1" class="mdi mdi-check text-success"></span>
                <span v-else class="mdi mdi-close text-danger"></span>
              </td>
              <td :rowspan="shift.type == 1 ? 1 : 2">
                <span v-if="shift.schedules.indexOf('wednesday') > -1" class="mdi mdi-check text-success"></span>
                <span v-else class="mdi mdi-close text-danger"></span>
              </td>
              <td :rowspan="shift.type == 1 ? 1 : 2">
                <span v-if="shift.schedules.indexOf('thursday') > -1" class="mdi mdi-check text-success"></span>
                <span v-else class="mdi mdi-close text-danger"></span>
              </td>
              <td :rowspan="shift.type == 1 ? 1 : 2">
                <span v-if="shift.schedules.indexOf('friday') > -1" class="mdi mdi-check text-success"></span>
                <span v-else class="mdi mdi-close text-danger"></span>
              </td>
              <td :rowspan="shift.type == 1 ? 1 : 2">
                <span v-if="shift.schedules.indexOf('saturday') > -1" class="mdi mdi-check text-success"></span>
                <span v-else class="mdi mdi-close text-danger"></span>
              </td>
              <td :rowspan="shift.type == 1 ? 1 : 2">
                <span v-if="shift.schedules.indexOf('sunday') > -1" class="mdi mdi-check text-success"></span>
                <span v-else class="mdi mdi-close text-danger"></span>
              </td>
            </tr>
          </template>
          <tr v-else>
            <td colspan="10" class="text-center">
              <i class="fa fa-circle-notch fa-spin text-info"></i>
            </td>
          </tr>
          <tr v-if="loaded && shifts.length == 0" class="text-center">
            <td colspan="10">
              {{ $t('word.no_data') }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
  import SHIFTS_USER from './../../../apollo/query/shift/list.gql'

  export default {
    props: {
      user: {
        type: Object,
        require: false,
        default: () => {}
      }
    },
    data() {
      return {
        loaded: false,
        shifts: []
      }
    },
    apollo: {
      shifts: {
        query: SHIFTS_USER,
        variables() {
          return {
            userId: this.user.id
          }
        },
        result({ loading }) {
          this.loaded = !loading
        }
      }
    },
  }
</script>