#history {
  height: 100vh;
  .p-2 {
    padding: 0!important;
  }
  .history__body {
    height: calc(100% - 62px);
    padding: 0;
    color: $color-name;
    .orders {
      margin: 0;
      background-color: $color-primary-background;
      @include size(100%, 100%);
      &__list {
        display: inline-block;
        @include size(350px, 100%);
        .search-box {
          position: relative;
          background-color: white;
          i {
            position: absolute;
            right: 0px;
            padding: 0 15px;
            line-height: 45px;
            font-size: 2rem;
            cursor: pointer;
          }
          input {
            height: 45px;
            font-size: 1.5rem;
            padding-right: 50px!important;
          }
        }
        .orders-box {
          height: calc(100% - 45px);
          padding-top: 1px!important;
          padding-bottom: 2px!important;
          .orders-list {
            height: 100%;
            overflow-y: auto;
            .date {
              margin: 8px 15px;
              color: $color-translucent-text;
              font-size: 1.5rem;
            }
            .order-item {
              margin-bottom: 2px;
              background-color: white;
              &:hover {
                background-color: #f3f3f3;
              }
              .order {
                padding: 12px 15px;
                &__code {
                  font-size: 1.4rem;
                }
                &__user {
                  font-size: 1.2rem;
                  color: $color-translucent-text;
                }
                &__total {
                  font-size: 1.4rem;
                }
                &__time {
                  font-size: 1.2rem;
                  color: $color-translucent-text;
                }
              }
            }
            .order-item--selected {
              background-color: $color-primary-lv1!important;
              color: #fff!important;
              .order {
                &__user, &__time {
                  color: #fff!important;
                }                
              }
            }
          }
        }
      }
      &__detail {
        display: inline-block;
        margin-left: 2px;
        @include size(calc(100% - 352px), 100%);
        .content {
          height: 100%;
          &__code {
            height: 45px;
            line-height: 45px;
            background-color: $color-primary-lv2;
            color: white;
            font-size: 1.6rem;
          }
          &__detail {
            height: calc(100% - 45px);
            table {
              .field {
                float: left;
                color: $color-field-table;
                min-width: 130px;
                line-height: 26px;
              }
              .value {
                float: right;
                line-height: 26px;
              }
            }
            .order__overview, .order__price {
              margin: 2px 0;
              padding: 15px 30px;
              background-color: white;
              font-size: 1.4rem;
              height: 108px;
              .total {
                font-size: 3.7rem;
              }
              .restaurant-information {
                .value {
                  width: 400px;
                  white-space: nowrap;
                  @include text-overflow(ellipsis);
                }
              }
            }
            .order__goods {
              height: calc(100% - 224px);
              background-color: white;
              overflow-y: auto;
              table {
                width: 100%;
                margin-bottom: 0;
                thead th {
                  background-color: $color-primary-lv1;
                  color: white;
                }
              }
            }
          }
        }
      }
    }
  }
  .history__footer {
    height: 62px;
    .group-button {
      height: 62px;
      .btn--history {
        margin: 10px 5px;
        padding: .5rem!important;
      }
    }
  }
}