#manage-sale {
  height: 100vh;
  background-color: $color-primary-background;
  #loading-data {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ecedef;
    background-image: url(/images/restaurant/loading.jpeg);
    background-size: cover;
    z-index: 9999;
    @include full-size();
    .loading-data {
      @include position-abs-b-l(50px, calc(50% - 22px));
    }
  }
  #screen {
    height: 100%;
    padding: 0;
    .main-wrapper {
      height: 100%;
      @include margin-horizontal(0);
      .left-screen {
        padding: 0;
        width: calc(100% - 630px);
        height: 100%;
        .restaurant {
          height: 100%;
          .header {
            height: 43px;
            &__tabs {
              width: 233px;
              &--tables, &--dishs {
                a {
                  border: 1px solid $btn-action!important;
                  color: #777;
                  padding: 5.5px!important;
                  &:hover {
                    color: white;
                    background-color: $btn-action-hover!important;
                  }
                }
              }
              .active {
                a {
                  color: white;
                  background-color: $btn-action!important;
                }
              }
            }
            &__notification {
              width: calc(100% - 100px);
              .notification {
                height: 34px;
                border-radius: 5px;
                background-color: $color-background-notification;
                color: $color-notification;
                font-style: oblique;
                &--show {
                  width: 30px;
                }
                &--message, &--show {
                  line-height: 24px;
                  @include text-overflow(ellipsis);
                }
              }
            }
            &__hide-show-invoice {
              margin-top: 7px;
              margin-right: 10px;
              color: #3899ea;
            }
            .width-custom {
              width: calc(100% - 275px);
            }
          }
          #select-wrapper {
            height: calc(100% - 43px);
            margin-top: 0;
            #table-select {
              height: 100%;
              .tables {
                height: 100%;
                &__info {
                  height: 43px;
                  padding: 7px 5px!important;
                }
                &__map {
                  height: calc(100% - 188px);
                  .tables-positions {
                    max-height: 100%;
                    overflow-y: auto;
                  }
                  .area {
                    &__title {
                      border-bottom: 1px solid #c5c5c5;
                      margin: 0 10px;
                    }
                  }
                }
                &__area-option {
                  height: 148px;
                  padding: 20px;
                  margin-top: 2px!important;
                  margin-bottom: 0!important;
                  .wrapper {
                    .area-option__status {
                      width: 120px;
                      margin: 0 10px;
                      button {
                        margin-bottom: 5px;
                        padding: .2rem .5rem!important;
                        text-align: left;
                      }
                    }
                    .area-option__floor {
                      overflow-y: auto;
                      .p-2 {
                        padding: 0!important;
                      }
                      .floor {
                        &:hover {
                          background-color: #9bcb6c;
                        }
                        &__image {
                          margin: 0.6rem auto;
                          background-position: center center;
                          background-size: cover;
                          background-image: url(/images/restaurant/floor.png);
                          @include size(40px, 40px);
                        }
                        &__name {
                          width: 80px;
                          padding: 5px;
                          text-align: center;
                          white-space: nowrap;
                          font-size: 1.2rem;
                          @include text-overflow(ellipsis);
                        }
                      }
                      .fa-chevron-circle-left, .fa-chevron-circle-right {
                        color: $color-primary-lv2;
                        font-size: 3rem;
                        &:hover {
                          color: $color-primary-lv1;
                        }
                      }
                      .disable {
                        color: #ababab;
                        &:hover {
                          color: #ababab;
                        }
                      }
                    }
                  }
                }
              }
            }
            #dishs-select {
              height: 100%;
              .dishs {
                height: 100%;
                &__menu-group {
                  height: 100%;
                  overflow-y: auto;
                  position: relative;
                  width: 160px;
                  margin-bottom: 0!important;
                  margin-right: 5px;
                  padding-bottom: 0!important;
                  padding-left: 0!important;
                }
                &__container {
                  width: calc(100% - 100px);
                  padding: 0!important;
                  .dishs__search {
                    padding: 4px;
                    input {
                      height: 34px;
                      padding: 2px 5px;
                    }
                  }
                  .dishs__list {
                    height: calc(100% - 43px);
                    .wrapper {
                      overflow-y: auto;
                      padding-bottom: 15px;
                      max-height: 100%;
                      .dish__wrapper {
                        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
                        border-radius: 2px;
                        margin: 10px;
                        @include size(130px, 175px);
                        &:hover {
                          background-color: $color-select-dish;
                        }
                        .dish {
                          position: relative;
                          height: 100%;
                          &__out-stock {
                            position: absolute;
                            bottom: -5px;
                            right: -10px;
                            color: $color-error;
                            font-size: 2rem;
                          }
                          &__count {
                            position: absolute;
                            bottom: -15px;
                            right: -15px;
                            background-color: #349813;
                            color: white;
                            @include size(28px, 28px);
                          }
                          &__image {
                            height: calc(100% - 85px);
                            img, i {
                              height: 100%;
                              width: 100%;
                            }
                          }
                          &__name {
                            height: 60px;
                            font-weight: 500;
                            font-size: 1.3rem;
                            @include padding-vertical(0px);
                            @include text-overflow(ellipsis);
                          }
                          &__unit {
                            margin-top: 2px;
                            height: 15px;
                            font-size: 1.3rem;
                          }
                          &__code {
                            font-style: italic;
                            height: 30px;
                            color: #3899ea;
                            font-size: 1.2rem;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .invoice {
          height: 100%;
          .invoice-template {
            height: calc(100% - 43px);
            margin: 0;
            padding-right: 0;
            overflow-y: auto;
            .template-invoice {
              height: 100%;
              background-position: center center;
              background-size: cover;
              .view-invoice {
                height: 100%;
                overflow-y: auto;
                table {
                  width: 98%;
                  border: none;
                  .tables ul li {
                    list-style-type: none !important;
                  }
                }
              }
            }
          }
          .confirm {
            height: 62px;
            margin: 4px 0 0 0;
            padding: .7rem .5rem!important;
            button {
              margin: 10px;
            }
            .size {
              margin: 10px 0 10px 20px;
              cursor: pointer;
              i {
                color: $color-icon;
              }
            }
          }
        }
      }
      .order {
        padding: 0 0 0 5px;
        background-color: #e0e7fe;
        padding-left: 2px;
        @include size(628px, 100%);
        #dropdownInvoicesList {
          @include none-button();
          border-right: solid 1px #eee;
        }
        .header {
          height: 43px;
          background-color: $color-primary-lv2;
          color: white;
          .menu-account {
            .image-user {
                margin: 0 auto;
                background-position: center center;
                background-size: cover;
                @include size(30px, 30px);
            }
          }
          .show-list-order {
            @include none-button();
            border-right: 1px solid white !important;
            border-left: 1px solid white !important;
            @include size(45px, 37px);
          }
          .add-order {
            background-color: $btn-action;
            color: white;
            ul {
              min-width: 200px;
              li {
                padding: 15px;
                background-color: #fefefe;
                font-size: 13px;
              }
            }
          }
          .name-order {
            height: 100%;
            max-width: 360px;
            line-height: 35px;
            flex-grow: 1;
            .table-order {
              width: 100%;
              @include none-button();
              text-align: left;
              white-space: nowrap;
              @include text-overflow(ellipsis);
            }
          }
        }
        .content {
          position: relative;
          height: calc(100% - 43px);
          .general {
            height: 42px;
            margin: 2px 0;
            padding: 0!important;
            #order-actions {
              padding: 0 8px 0 0!important;
              .actions {
                height: 42px;
                .btn-action {
                  border: 1px solid $btn-action;
                  margin-left: 10px;
                  @include size(30px, 30px);
                  &:hover {
                    border-color: $btn-action;
                  }
                }
                .noted {
                  border-color: #fc7300!important;
                  background-color: #fc7300!important;
                }
              }
            }
          }
          .dishs-select {
            flex-grow: 1;
            .list-dishs {
              width: 100%!important;
              .goods {
                width: 100%;
                border-bottom: 2px solid $color-select-dish;
                @include margin-vertical(0px);
                .goods-item {
                  overflow: hidden;
                  padding: 5px 0;
                  .status {
                    width: 133px;
                    margin: 0 10px;
                    .label {
                      width: 80% !important;
                      display: inline-block !important;
                    }
                  }
                  &:hover {
                    background-color: $color-select-dish;
                  }
                  .unavailable {
                    color: $color-error;
                    margin-left: 70px;
                    transform: rotate(-10deg);
                    -webkit-transform: rotate(-10deg);
                    -ms-transform: rotate(-10deg);
                    -moz-transform: rotate(-10deg);
                  }
                }
                &__info {
                  width: 624px;
                  &:hover {
                    .btn-decrement, .btn-increment {
                      display: block;
                      margin: 0 5px;
                      height: 28px;
                      width: 28px;
                      padding: 3.5px 7px;
                      opacity: 0.65;
                    }
                    .btn-delete {
                      display: block;
                      &:hover {
                        cursor: pointer;
                      }
                    }
                  }
                  .btn-decrement, .btn-increment {
                    padding: 3.5px 7px;
                    display: none;
                  }
                  flex-grow: 1;
                  .goods_name_and_status {
                    // width: 150px;
                    position: relative;
                    flex-grow: 1;
                    .goods_name {
                      white-space: nowrap;
                      @include padding-vertical(0px);
                      @include text-overflow(ellipsis);
                    }
                    .goods_unit {
                      font-size: 12px;
                      white-space: nowrap;
                      @include padding-vertical(0px);
                      @include text-overflow(ellipsis);
                    }
                  }
                  .time {
                    font-size: 13px;
                    margin-right: 5px;
                    margin-left: 45px;
                    color: dimgrey;
                    width: 135px;
                    text-align: left;
                  }
                  .amount {
                    width: 120px;
                  }
                  .goods_amount {
                    @include size(45px, 30px);
                    padding: 4.5px 12px;
                  }
                  .goods_return_amount {
                    margin-top: 0;
                    @include size(160px, 30px);
                  }
                  .goods_price {
                    width: 100px;
                    text-align: right;
                    @include none-button();
                    .price-discount {
                      color: $color-error;
                      font-size: 1.2rem;
                      font-style: italic;
                    }
                  }
                  .goods_price-total {
                    width: 100px;
                    text-align: right;
                    @include none-button();
                  }
                  .divider {
                    margin: 0px 50px;
                  }
                  .btn-delete {
                    @include none-button();
                    margin-right: 18px !important;
                    margin-top: 6px !important;
                    font-size: 1.6rem;
                    color: $color-error;
                    display: none;
                  }
                }
              }
            }
          }
          .price {
            margin-top: 2px!important;
            .highlight {
              border-bottom: 0.5px solid #c7c7c7;
            }
            .employee {
              font-weight: bold;
              .btn-employee {
                @include none-button();
                .employee_name {
                  text-decoration: underline;
                  color: $color-name;
                }
              }
            }
            .total {
              font-weight: bold;
            }
            .add-discount {
              .edit-discount {
                color: $btn-action;
                &:hover {
                  color: $btn-action-hover;
                }
              }
            }
            .p-2 {
              padding: .2rem .5rem!important;
            }
          }
          .actions {
            @include margin-vertical(0px);
            button {
              margin: 10px 5px;
            }
            .shortcut {
              position: relative;
              @include padding-vertical(15px);
              &__item {
                display: inline-block;
                margin-right: 20px;
              }
              &__icon {
                color: $color-icon;
              }
            }
            .btn-update-order {
              position: relative;
              width: 100px;
              .fa {
                display: inline-block;
                width: 20px;
                font-size: 1.5rem;
                color: white;
              }
              .text {
                @include position-abs-t-l(5px, 28px);
              }
            }
          }
        }
      }
    }
  }
  .fs-12 { font-size: 12px; }
  .fs-13 { font-size: 13px; }
  .fw-500 { font-weight: 500; }
  .p-x-5 { padding-left: 5px; padding-right: 5px; }
  .p-x-10 { padding-left: 10px; padding-right: 10px; }
  .p-x-15 { padding-left: 15px; padding-right: 15px; }
  .p-y-5 { padding-top: 5px; padding-bottom: 5px; }
  .p-y-10 { padding-top: 10px; padding-bottom: 10px; }
  .p-y-15 { padding-top: 15px; padding-bottom: 15px; }
  .m-x-5 { margin-left: 5px; margin-right: 5px; }
  .m-x-10 { margin-left: 10px; margin-right: 10px; }
  .m-x-30 { margin-left: 30px; margin-right: 30px; }
  .m-2 { margin: 2px; }
  .m-t-2 { margin-top: 2px; }
  .m-r-2 { margin-right: 2px; }
  .m-b-2 { margin-bottom: 2px; }
  .m-l-2 { margin-left: 2px; }
  .m-5 { margin: 5px; }
  .m-t-5 { margin-top: 5px; }
  .m-r-5 { margin-right: 5px; }
  .m-b-5 { margin-bottom: 5px; }
  .m-l-5 { margin-left: 5px; }
  .m-t-10 { margin-top: 10px; }
  .m-r-10 { margin-right: 10px; }
  .m-b-10 { margin-bottom: 10px; }
  .m-l-10 { margin-left: 10px; }
  .m-t-15 { margin-top: 15px; }
  .m-r-15 { margin-right: 15px; }
  .m-b-15 { margin-bottom: 15px; }
  .m-l-15 { margin-left: 15px; }
}