<template>
  <div id="area-option" class="d-flex justify-content-between align-items-center area-option__floor">
    <i class="far fa-chevron-circle-left" 
       :class="{ 'disable': currentPage == 0 }"
       @click="currentPage > 0 ? currentPage-- : null"></i>
    <div class="d-flex justify-content-center flex-wrap">
      <div v-for="place in currentPlaces" 
           :key="place._id"
           class="p-2 floor"
           :class="{ 'floor--selected': (typeFilter === place.name) }"
           data-toggle="tooltip"
           :title="place.name"
           @click="$emit('filter-tables-with-floor', place.name)">
        <div class="floor__image"></div>
        <div class="floor__name">
          {{ place.name }}
        </div>
      </div>
    </div>
    <i class="far fa-chevron-circle-right"
       :class="{ 'disable': currentPage >= lastPage }"     
       @click="currentPage < lastPage ? currentPage++ : null"></i>
  </div>
</template>
<script>
  export default {
    name: 'AreaOptionTable',
    props: {
      typeFilter: {
        type: String,
        default: ''
      },
      places: {
        type: Array,
        required: true
      }
    },
    data() {
      return {
        placesList: [],
        lastPage: 0,
        currentPage: 0,
        currentPlaces: []
      }
    },
    computed: {
      perPage() {
        return this.$store.getters.placeNumber
      }
    },
    watch: {
      places(value) {
        this.placesList = value
      },
      placesList(value) {
        this.lastPage = (value.length % this.perPage === 0)
                        ? Math.floor(value.length / this.perPage) - 1
                        : Math.floor(value.length / this.perPage)
        this.currentPage = 0
        this.changePlaces(this.currentPage)
      },
      perPage(value) {
        this.lastPage = (this.placesList.length % this.perPage === 0)
                        ? Math.floor(this.placesList.length / this.perPage) - 1
                        : Math.floor(this.placesList.length / this.perPage)
        this.currentPage = 0
        this.changePlaces(this.currentPage)
      },
      currentPage(value) {
        this.changePlaces(value)
      }
    },
    methods: {
      changePlaces(currentPage) {
        let start = currentPage * this.perPage
        let end = start + this.perPage
        this.currentPlaces = this.placesList.slice(start, end)
      }
    }
  }
</script>