<template>
  <div>
    <template v-if="type == 1">
      <div v-if="dataChart.length > 1" class="text-center">
        <h4 class="col box-title">
          {{ $t('restaurant.report_profit') + ' ' + titleDate.toLowerCase() }}
        </h4>
        <g-chart type="ColumnChart"
                 :data="dataChart"
                 :options="configChart"></g-chart>
      </div>
      <div v-else class="chart-height">
        <h3>{{ $t('word.no_data') }}</h3>
      </div>
    </template>
    <template v-else>
      <div id="tableReport" class="table-responsive">
        <div class="text-center">
          <h2>{{ $t('restaurant.report_profit') }}</h2>
          <div class="m-b-20">{{ titleDate }}</div>
        </div>
        <table id="table" class="table color-table info-table table-responsive">
          <thead>
            <tr>
              <th>{{ $t('word.time') }}</th>
              <th>{{ $t('word.total_value') }}</th>
              <th>{{ $t('word.discount') }}</th>
              <th>{{ $t('restaurant.revenue') }}</th>
              <th>{{ $t('word.total_costs') }}</th>
              <th>{{ $t('restaurant.profit') }}</th>
            </tr>
          </thead>
          <tbody v-if="!$apollo.queries.restaurant_profit_report.loading">
            <template v-if="datas.length > 0">
              <tr class="text-right tr-total">
                <td colspan="2"><b>{{ formatPrice(totalDiscount + total) }}</b></td>
                <td><b>{{ formatPrice(totalDiscount) }}</b></td>
                <td><b>{{ formatPrice(total) }}</b></td>
                <td><b>{{ formatPrice(totalOrigin) }}</b></td>
                <td><b>{{ formatPrice(total - totalOrigin) }}</b></td>
              </tr>
              <template v-for="(data, index) in datas">
                <tr :key="index">
                  <td class="cursor-pointer">
                    <b v-if="diff < 31" class="text-primary" @click="setOpen(index, data)">
                      <i v-check="{permission: 'invoice.list'}" class="fa"
                         :class="[data.show_invoices_list ? 'fa-minus-circle': 'fa-plus-circle']">
                      </i> {{ getTimestamp(data.time) }}
                    </b>
                    <b v-else class="text-primary" @click="emitReport(data)">
                      {{ getTimestamp(data.time) }}
                    </b>
                  </td>
                  <td>{{ formatPrice(data.total + data.total_discount) }}</td>
                  <td>{{ formatPrice(data.total_discount) }}</td>
                  <td>{{ formatPrice(data.total) }}</td>
                  <td>{{ formatPrice(data.total_origin) }}</td>
                  <td>{{ formatPrice(data.total - data.total_origin) }}</td>
                </tr>
                <tr :key="'key' + index">
                  <td colspan="6" style="padding: 0 0 0 30px">
                    <table v-if="data.show_invoices_list && data.invoices && data.invoices.length > 0" 
                           class="table"
                           style="background-color: #f7fafc">
                      <tbody>
                        <tr :key="'head-child' + index" class="tr-head2">
                          <th>{{ $t('restaurant.invoice.code') }}</th>
                          <th>{{ $t('word.created_at') }}</th>
                          <th>{{ $t('restaurant.revenue') }}</th>
                          <th>{{ $t('word.total_costs') }}</th>
                          <th>{{ $t('restaurant.profit') }}</th>
                        </tr>
                        <tr v-for="invoice in data.invoices" :key="invoice.code">
                          <td>
                            <a href="javascript:void(0)" @click="detail(invoice.id)">
                              {{ invoice.code }}</a>
                          </td>
                          <td>{{ invoice.created_at }}</td>
                          <td class="text-right">{{ formatPrice(invoice.total) }}</td>
                          <td class="text-right">{{ formatPrice(invoice.total_origin) }}</td>
                          <td class="text-right">{{ formatPrice(invoice.total - invoice.total_origin) }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </template>
            </template>
            <tr v-else>
              <td class="no-data text-center" colspan="6">{{ $t('word.no_data') }}</td>
            </tr>
          </tbody>
          <tbody v-else>
            <tr>
              <td colspan="6" class="text-center">
                <pulse-loader :loading="true" :color="'#41ABE3'"></pulse-loader>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </template>
  </div>
</template>

<script>
  import { GChart } from 'vue-google-charts'
  import PulseLoader from 'vue-spinner/src/PulseLoader'
  import { convertToDate } from './../../../../../helpers/handle_date_time.js'
  import { formatPrice } from './../../../../../helpers/handle_function.js'
  import configChart from './../../../../../mixins/config_chart.js'
  import moment from 'moment'
  import PROFIT_REPORT_QUERY from './../../../../../apollo/query/statistical/profit_report.gql'
  import INVOICES_QUERY from './../../../../../apollo/query/invoice/list_for_report.gql'

  export default {
    components: { GChart, PulseLoader },
    mixins: [configChart],
    props: {
      type: {
        type: Number,
        default: 1
      },
      start: {
        type: String,
        required: true
      },
      end: {
        type: String,
        required: true
      },
    },
    data() {
      return {
        statistics: [],
        totalDiscount: 0,
        total: 0,
        totalOrigin: 0,
        dataChart: [],
        datas: []
      }
    },
    apollo: {
      restaurant_profit_report: {
        query: PROFIT_REPORT_QUERY,
        variables() {
          return {
            groupId: this.groupId,
            startDate: this.start,
            endDate: this.end
          }
        },
        manual: true,
        result({ data }) {
          this.dataChart = [
            [this.$t('word.time'), this.$t('restaurant.revenue'), this.$t('restaurant.expense'),
              this.$t('restaurant.profit')]
          ]
          this.total = this.total_discount = this.totalOrigin
          data.restaurant_profit_report.forEach(item => {
            this.dataChart.push([
              this.getChartTimestamp(item.time),
              item.total,
              item.total_origin,
              item.total - item.total_origin
            ])
            this.total += item.total
            this.totalDiscount += item.total_discount
            this.totalOrigin += item.total_origin
          })
          this.datas = data.restaurant_profit_report
          this.getConfigChart()
        }
      }
    },
    computed: {
      groupId() {
        return this.$store.getters.groupId
      },
      diff() {
        return moment.duration(moment(this.end).diff(moment(this.start))).asDays()
      },
      titleDate() {
        if (this.diff > 0) {
          return this.$t('word.from_date') + ' ' + convertToDate(this.start) + ' ' + this.$t('word.to_date')
              + ' ' + convertToDate(this.end)
        } else {
          return this.$t('word.date') + ' ' + convertToDate(this.start)
        }
      }
    },
    methods: {
      getTimestamp(time) {
        if (time.hour) {
          return time.hour
        }
        if (time.day) {
          return `${time.day}-${time.month}-${time.year}`
        }
        if (time.month) {
          return `${time.month}-${time.year}`
        }
        return time.year
      },
      getChartTimestamp(time) {
        if (time.hour) {
          return time.hour
        }
        if (time.day) {
          return `${time.day}`
        }
        if (time.month) {
          return `${time.month}-${time.year}`
        }
        return time.year
      },
      setOpen(index, data) {
        let startTime
        let endTime
        if (this.diff == 0) {
          startTime = moment(data.time.hour + ':00', 'H:i').startOf('hour').format('YYYY-MM-DD HH:mm:ss')
          endTime = moment(data.time.hour + ':00', 'H:i').endOf('hour').format('YYYY-MM-DD HH:mm:ss')
        } else {
          startTime = moment(data.time.year + '-' + data.time.month + '-' + data.time.day)
                      .startOf('day').format('YYYY-MM-DD HH:mm:ss')
          endTime = moment(data.time.year + '-' + data.time.month + '-' + data.time.day)
                      .endOf('day').format('YYYY-MM-DD HH:mm:ss')
        }

        this.$emit('loading', true)
        this.$apollo.query({
          query: INVOICES_QUERY,
          variables: {
            groupId: this.groupId,
            startDate: startTime,
            endDate: endTime
          }
        }).then(result => {
          this.datas[index].invoices = result.data.invoices.data
          this.datas.map((item, key) => {
            if (key != index) {
              item.show_invoices_list = false
            } else {
              item.show_invoices_list = !item.show_invoices_list
            }
            return item
          })
          this.$set(this.datas, index, this.datas[index])
        }).finally(() => {
          this.$emit('loading', false)
        })
      },
      emitReport(data) {
        let start = moment().format('YYYY-MM-DD')
        let end = moment().format('YYYY-MM-DD')
        if (data.time.month) {
          start = moment(data.time.year + '-' + data.time.month, 'YYYY-MM')
                      .startOf('month').format('YYYY-MM-DD')
          end = moment(data.time.year + '-' + data.time.month, 'YYYY-MM')
                      .endOf('month').format('YYYY-MM-DD')
        } else {
          start = moment(data.time.year, 'YYYY')
                      .startOf('year').format('YYYY-MM-DD')
          end = moment(data.time.year, 'YYYY')
                      .endOf('year').format('YYYY-MM-DD')
        }
        this.$emit('reportMonth', { start: start, end: end })
      },
      formatPrice(price) {
        return formatPrice(price)
      },
      getConfigChart() {
        delete this.configChart.hAxis.minValue
        let leng = this.statistics.length
        let width = 'auto'
        if (leng > 0 && leng < 10) {
          width = `${parseInt(leng * 10)}%`
        }
        this.configChart.bar = {
          groupWidth: width
        }
        if (this.dataChart.length > 20) {
          this.configChart.chartArea.left = '50'
          this.configChart.chartArea.width = '100%'
          this.configChart.legend = { position: 'none' }
        } else {
          delete this.configChart.chartArea.left
          delete this.configChart.chartArea.width
          delete this.configChart.legend
        }
      },
      detail(id) {
        bus.$emit('modal', {
          component: 'detail-invoice',
          backdrop: 'static',
          size: 'lg',
          payload: id
        })
      },
    }
  }
</script>

<style scoped lang="scss">
  #table {
    tr {
      td, th {
        &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6) {
          text-align: right;
        }
      }
    }
  }
</style>