<template>
  <div id="wrapper">
    <navbar @toggle-sidebar="toggleMenu"></navbar>
    <sidebar @toggle-sidebar="toggleMenu"></sidebar>
    <div id="page-wrapper">
      <router-view></router-view>
      <footer-component></footer-component>
    </div>
    <modal></modal>
  </div>
</template>
<script>
  var Navbar = () => import('./partials/navbar.vue')
  var Sidebar = () => import('./../partials/sidebar/index.vue')
  var FooterComponent = () => import('./../partials/footer.vue')
  var Modal = () => import('./../partials/modal.vue')

  export default {
    components: { Navbar, Sidebar, FooterComponent, Modal },
    mounted() {
      $('#side-menu').metisMenu()
    },
    methods: {
      toggleMenu() {
        $('body').toggleClass('show-sidebar').toggleClass('hide-sidebar')
        $('.sidebar-head .open-close-custom i').toggleClass('ti-menu')
      }
    }
  }
</script>
