<template>
  <div id="m-s-set-good-status" class="m-s-modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">{{ $t('manage_sale.goods.modal.set_good_status') }}</h4>
    </div>
    <div class="modal-body">
      <div class="text-center">
        <button type="button" class="btn btn-default m-r-10"
                @click="setStatus(goodStatusInactive)">
          <i :class="[disabling ? 'fal fa-spin fa-spinner-third' : 'far fa-ban']"></i> 
          {{ $t('manage_sale.goods.modal.stop_selling') }}
        </button>
        <button type="button" class="btn btn-primary" @click="setStatus(goodStatusActive)">
          <i :class="[enabling ? 'fal fa-spin fa-spinner-third' : 'far fa-check']"></i> 
          {{ $t('manage_sale.goods.modal.continue_sell') }}
        </button>
      </div>
    </div>
  </div>
</template>
<script>
  import { GOODS_STATUS_ACTIVE, GOODS_STATUS_INACTIVE } from '../../../../../../constants.js'
  import DISABLE_GOODS_MUTATION from './../../../../../../apollo/mutation/good/disable.gql'
  import ENABLE_GOODS_MUTATION from './../../../../../../apollo/mutation/good/enable.gql'
  import ASYNC_GOODS_ITEMS_STATUS 
    from './../../../../../../apollo/mutation/sale/async_goods_items_status.gql'

  export default {
    name: 'MSSetGoodStatus',
    props: {
      payload: {
        type: Object,
        required: true
      }
    },
    data() {
      return {
        goodStatus: GOODS_STATUS_ACTIVE,
        disabling: false,
        enabling: false
      }
    },
    computed: {
      goodStatusActive() {
        return GOODS_STATUS_ACTIVE
      },
      goodStatusInactive() {
        return GOODS_STATUS_INACTIVE
      }
    },
    created() {
      this.setData()
    },
    methods: {
      setData() {
        this.goodStatus = this.payload.good_status
      },
      setStatus(status) {
        if (status !== this.payload.good_status) {
          bus.$emit('close-modal')
        }
        if (status === GOODS_STATUS_ACTIVE) {
          this.enable()
          this.asyncGoodsItems(false)
        } else if (status === GOODS_STATUS_INACTIVE) {
          this.disable()
          this.asyncGoodsItems(true)
        }
      },
      disable() {
        this.disabling = true
        this.$apollo.mutate({
          mutation: DISABLE_GOODS_MUTATION,
          variables: {
            groupId: this.$store.state.current.group.id,
            goodId: this.payload.good_id
          }
        }).then(() => {
          this.disabling = false
          this.$awn.success(this.$t('word.updated'))
          bus.$emit('close-modal')
        })
      },
      enable() {
        this.enabling = true
        this.$apollo.mutate({
          mutation: ENABLE_GOODS_MUTATION,
          variables: {
            groupId: this.$store.state.current.group.id,
            goodId: this.payload.good_id
          }
        }).then(() => {
          this.enabling = false
          this.$awn.success(this.$t('word.updated'))
          bus.$emit('close-modal')
        })
      },
      /**
       * Cập nhật trạng thái goods item tương ứng
       * @param  {Bool} status
       * @return {void}
       */
      asyncGoodsItems(status) {
        this.$apollo.mutate({
          mutation: ASYNC_GOODS_ITEMS_STATUS,
          variables: {
            groupId: this.$store.state.current.group.id,
            goodsId: this.payload.good_id,
            isDisable: status
          }
        })
      }
    }
  };
</script>