// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.cursor-pointer {
  cursor: pointer;
}

.tab-content {
  .tab-panel {
    display: none;
  }
  .active {
    display: block;
  }
}

.menu-lv0 {
  font-weight: bold;
}

.menu-lv1 {
  padding-left: 15px;
}

.tr-total {
  background-color: #e9ecef;
}

.menu-lv2 {
  font-size: 14px;
  padding-left: 30px;
}

.position-relative {
  position: relative;
}

.tab-content .tab-panel {
  display: none;
}

.tab-content .active {
  display: block;
}

.overflow-auto {
  overflow: auto;
  &::-webkit-scrollbar {
    width: 6px;
    height: 8px;
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: linear-gradient(to right, #fff, #e4e4e4);
    border: 1px solid #aaa;
    &:hover {
      background: #fff;
    }
    &:active {
      background: linear-gradient(to right, #22ADD4, #4eabe3);
    }
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
  }
}

// div {
//   &:nth-child(1 of .modal-backdrop) {
//     z-index: 1039 !important;
//   }
// }

.modal-backdrop {
  z-index: 1039;
  ~ .modal-backdrop {
    z-index: 1040;
  }
}

.modal[data-modal-index = "1"] {
  z-index: 1040 !important;
}

.modal[data-modal-index = "2"] {
  z-index: 1041 !important;
}

.out-table {
  td {
    border: none !important;
  }
}

tr th {
  white-space: nowrap;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.printing {
  #navbar, #page-wrapper, #sidebar, .modal, #screen {
    display: none;
  }
}

.printing #print-template-invoice {
  display: block;
}

#print-template-invoice {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #000000;
  .print-box {
    width: 90%;
    margin: 0 auto;
    background-color: #ffffff;
  }
}

.show-print {
  display: none;
}

@media print {
  .show-print {
    display: block !important;
  }
}

a {
  cursor: pointer;
}

.chart-height {
  min-height: 200px;
  display: flex;
  h3 {
    color: #e0e0e0;
    margin: auto;
  }
}

.image-border {
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  max-width: 100%;
  height: auto;
}

.d-flex {
  display: flex;
}

.group-image,.list-image {
  position: relative;
  &:hover .btn-delete-image {
    display: block;
  }
}

.btn-delete-image {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
}
