.homepage {
  padding: 0;
}

.p-relative {
  position: relative;
}

.nav-category {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: unset;
  padding: 14px 0;
  &::-webkit-scrollbar {
    display: none;
  }
  a {
    font-weight: bold;
    padding: 15px;
    position: relative;
    &.active, &:hover {
      span {
        color: #1792fc;
      }
      &:after {
        width: 100%;
        background-color: #1792fc;
      }
    }
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      width: 0;
      transition: all .3s;
    }
    span {
      color: black;
    }
  }
}

.btn-mouse-wheel {
  position: absolute;
  background-color: #f1f6fa;
  top: 1px;
  z-index: 1;
  color: #147ddc;
  margin: auto;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  display: none;
  &:nth-child(1) {
    left: -10px;
  }
  ~ .btn-mouse-wheel {
    right: -10px;
  }
}

.breadcrumb {
  border-bottom: 1px solid #dfe3e8;
  .breadcrumb__item {
    padding: 15px;
  }
  a {
    &:hover {
      text-decoration: underline !important;
    }
  }
}

.guide-sidebar {
  &.sticky {
    position: fixed;
    top: 0;
  }
  &.sticky--absolute {
    position: absolute;
    bottom: 0;
  }
  .guide-lv1 {
    border-top: solid 1px #dfe3e8;
    li {
      padding: 10px 0;
      cursor: pointer;
      a {
        color: #42464e;
        font-size: 15px;
      }
      &.active a {
        font-weight: bold;
      }
    }
  }
  .guide-lv2 {
    margin-left: 20px !important;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: -20px;
      width: 3px;
      height: 90%;
      top: 5%;
      background-color: #dbdbdb;
      transition: all .3s;
    }
    li.active {
      color: #1790df;
    }
  }
}

.guide-content {
  padding: 2.5rem;
  background-color: white;
  h1 {
    margin: 0;
  }
  ol, ul {
    padding: 0 40px;
    margin: 1em 0;
    list-style-type: disc;
    li {
      list-style: unset;
    }
  }
}