#loader-left-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 630px);
  height: 100%;
  background-color: #00000080;
  z-index: 10;
  .loader {
    position: absolute;
    top: calc(50% - 20px); 
    left: calc(50% - 18px);
  }
}
.left-screen-enter-active, .left-screen-leave-active {
  transition: opacity .1s ease;
}
.left-screen-enter, .left-screen-leave-to
/* .left-screen-leave-active below version 2.1.8 */ {
  opacity: 0;
}
