<template>
  <div>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        ×
      </button>
      <h5 class="modal-title">
        <b>{{ $t("common.create_organization") }}</b>
      </h5>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label class="control-label">{{ $t("common.organization_name") }}:</label>
          <input v-model="name" type="text" class="form-control"
                 :placeholder="$t('common.organization_placeholder')">
          <span v-if="errors.name" class="text-danger">
            {{ errors.name[0] }}
          </span>
        </div>
        <div class="form-group">
          <label class="control-label">
            {{ $t("common.service_type") }}
          </label><br>
          <div class="col-xs-6 col-sm-3">
            <div class="radio radio-primary">
              <input id="timekeeping"
                     v-model="type"
                     type="radio"
                     name="radio"
                     value="1">
              <label for="timekeeping"> {{ $t("word.time_keeping") }} </label>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="radio radio-primary">
              <input id="restaurant" v-model="type" type="radio" value="2">
              <label for="restaurant"> {{ $t("word.restaurant") }} </label>
            </div>
          </div>
          <div class="clearfix"></div>
          <span v-if="errors.service_type" class="text-danger">
            {{ errors.service_type[0] }}
          </span>
        </div>
        <div class="clearfix"></div>
        <form-area :areas-origin="areasOrigin"
                   :communes="communes"
                   :errors="errors"
                   :area-loading="areaLoading"
                   :commune-loading="communeLoading"
                   :area-selected="areaSelected"
                   :commune-selected="communeSelected"
                   :address="address"
                   @selectArea="selectArea"
                   @selectCommune="communeSelected = $event"
                   @changeAddress="address = $event"></form-area>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">
        <i class="fa fa-ban"></i> {{ $t("word.cancel") }}
      </button>
      <button type="button" class="btn btn-info" :disabled="loading" @click="createGroup()">
        <i class="fa" :class="[loading ? 'fa-spin fa-circle-notch' : 'fa-plus']"></i>
        {{ $t("word.create") }}
      </button>
    </div>
  </div>
</template>
<script>
  import FormArea from './../elements/form_area.vue'
  import AREAS_QUERY from './../../apollo/query/location/areas.gql'
  import COMMUNES_QUERY from './../../apollo/query/location/communes.gql'
  import CREATE_GROUP_MUTATION from './../../apollo/mutation/group/create.gql'
  import GROUPS_QUERY from './../../apollo/query/group/list.gql'
  import currentGroupHelper from './../../helpers/current_group.js'

  export default {
    components: { FormArea },
    data() {
      return {
        name: '',
        address: '',
        errors: '',
        type: '',
        loading: false,
        areasOrigin: [],
        communes: [],
        communeLoading: false,
        areaLoading: false,
        areaSelected: {},
        communeSelected: {},
      }
    },
    apollo: {
      areas: {
        query: AREAS_QUERY,
        variables: {
          all: true
        },
        manual: true,
        result({ data: { areas }, loading }) {
          this.areasOrigin = areas
          this.areaLoading = loading
        }
      }
    },
    methods: {
      selectArea(area) {
        this.communeLoading = true
        this.areaSelected = area
        this.$apollo.addSmartQuery('communes', {
          query: COMMUNES_QUERY,
          variables: {
            areaId: area.id
          },
          result ({ loading }) {
            this.communeLoading = loading
          }
        })
      },
      removeTypename(obj) {
        delete obj.__typename
        return obj
      },
      createGroup() {
        this.loading = true
        this.$apollo.mutate({
          client: 'verified',
          mutation: CREATE_GROUP_MUTATION,
          variables: {
            name: this.name,
            serviceType: this.type,
            address: this.address,
            commune: this.removeTypename(this.communeSelected),
            area: this.removeTypename(this.areaSelected)
          },
          update: (store, { data: { create_group }}) => {
            const data = store.readQuery({query: GROUPS_QUERY})
            data.groups.push(create_group)
            store.writeQuery({ query: GROUPS_QUERY, data: data })

            window.axios.defaults.params['group_id'] = create_group.id
            currentGroupHelper.setCurrentPermission(create_group.permissions_user || [])
            this.$store.dispatch('setCurrentPermissions', create_group.permissions_user || [])
              .then(() => {
                this.$store.dispatch('setCurrentGroup', create_group)
                currentGroupHelper.setCurrentGroup(create_group)
              })
          }
        }).then(() => {
          this.$awn.success(this.$t('word.created'))
          bus.$emit('close-modal')
        }).catch(error => {
          if (error.graphQLErrors[0].message === 'validation') {
            this.errors = error.graphQLErrors[0].extensions.validation
          }
        }).finally(() => {
          this.loading = false
        })
      }
    }
  }
</script>

