// .btn-primary {
//   background-color: $btn-primary!important;
//   color: white!important;
// }
.btn--action {
  background-color: $btn-action!important;
  color: white;
  &:hover {
    background-color: $btn-action-hover!important;
    color: white;
    cursor: pointer;
  }
}
.btn--cancel {
  background-color: $btn-cancel;
  color: black;
}
.btn--number {
  width: 100px;
  margin: 1px;
  font-size: 1.6rem;
}
.btn--delete {
  color: $color-delete; 
}
.btn--table-select {
  border-color: $btn-action;
  background-color: white;
  &:hover {
    color: white!important;
    background-color: $btn-action-hover!important;
  }
}
.btn--table-selected {
    border: 1px solid $btn-action;
    background-color: $btn-action;
    color: #fff!important;
}
.btn--dish-selected {
  background-color: #c1dee7!important;
}
.btn-group-menu {
  background-color: $color-primary-lv2;
  color: white;
  &:hover {
    background-color: $btn-primary-hover;
    color: white;
    cursor: pointer;
  }
}
.btn-group-menu--lv2 {
  border-left: 5px solid $color-group-menu-lv2;
}
.btn-group-menu--lv3 {
  border-left: 5px solid $color-group-menu-lv2;
}
.btn-group-menu--active {
  background-color: $color-background-active;
}
.btn-discount {
  background-color: white;
  color: $btn-primary;
  border: 1px solid $btn-primary;
  &:hover {
    color: white;
    background-color: $btn-action-hover;
  }
}
.btn-none-button {
  @include none-button();
}
.btn-none-button[disabled='disabled'] i {
  opacity: 0.5;
}
