#modal {
  .m-s-modal {
    .modal-title {
      display: inline-block;
    }
    .modal-field {
      margin-bottom: 12px;
      font-size: 1.6rem;
      text-align: left;
      @include margin-horizontal(7px);
      &__label {
        height: 42px;
        line-height: 42px;
        padding-top: 0;
        text-align: left;
      }
      &__text {
        height: 42px;
        font-size: 1.6rem;
        text-align: right;
      }
    }
    .modal-btn-percent {
      margin-left: 1px;
      width: 65px;
      &.focus, &:focus, &:hover {
        color: white;
      }
    }
    .modal-search-person {
      padding: 10px;
      input {
        height: 40px!important;
        font-size: 1.4rem;
      }
    }
  }
  .m-s-user, .m-s-employee {
    width: 350px;
  }
  #m-s-user, #m-s-employee {
    .modal-body {
      height: 400px;
      padding-bottom: 0px!important;
      .list-item {
        height: calc(100% - 50px);
      }
    }
  }
  .m-s-discount-goods, .m-s-discount-invoice {
    width: 350px;
  }
  #m-s-discount-goods, #m-s-discount-invoice {
    .modal-field__label {
      padding: 0 5px;
    }
    .discount-selected {
      background-color: $btn-action;
      color: white;
    }
  }
  .m-s-size-invoice {
    width: 380px;
    #m-s-size-invoice {
      .size {
        cursor: pointer;
        .selected {
          line-height: 35px;
          color: #349813;
        }
      }
    }
  }
  .m-s-shortcut {
    width: 350px;
    #m-s-shortcut {
      .shortcut {
        @include margin-horizontal(10px);
        ul {
          padding-left: 10px;
          li {
            list-style-type: none!important;
            .key {
              display: inline-block;
              width: 100px;
              font-weight: bold;
            }
            .note {
              display: inline-block;
            }
          }
        } 
      }
    }
  }
  .m-s-setting {
    width: 500px;
    #m-s-setting {
      .vue-switcher {
        margin-top: 10px!important;
      }
    }
  }
  .m-s-select-return-invoice {
    width: 85%;
    height: calc(100% - 60px);
    #m-s-select-return-invoice {
      height: 100%;
      .modal-body { 
        height: calc(100% - 56px); 
        padding: 5px;
        .search {
          width: 350px;
          height: 100%;
          .form-label { 
            padding-left: 15px;
            line-height: 40px; 
            font-size: 16px; 
          }
          .form-search {
            padding-left: 30px;
            .form-group {
              margin-bottom: 12px;
            }
          }
        }
        .table-invoices {
          @include full-size();
          .table-wrapper {
            height: calc(100% - 100px); 
            .table {
              margin-bottom: 5px!important;
              tbody>tr>td {
                max-width: 125px;
                padding: 3px 8px;
                white-space: nowrap;
                @include text-overflow(ellipsis);
              }
            }
          }
        }
        .return-invoice {
          padding-top: 8px!important; 
          border-top: 1px solid #e5e5e5;
        }
      }
    }
  }
  .m-s-number-goods-invoice {
    width: 350px;
  }
  .m-s-set-good-status {
    width: 350px;
  }
  .m-s-confirm {
    width: 380px;
  }
}
