.ms__scrollbar-custom {
	overflow-y: auto;
    overflow-x: hidden;
}
.ms__scrollbar-custom::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}
.ms__scrollbar-custom::-webkit-scrollbar
{
  width: 6px;
  background-color: #f5f5f5;
}
.ms__scrollbar-custom::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #55acee;
}