<template>
  <section id="wrapper"
           class="new-login-register"
           style="overflow: scroll;">
    <div class="lg-info-panel">
      <div class="inner-panel">
        <div class="lg-content">
          <a href="javascript:void(0)" class="p-10 di"><img src="images/icon.png"></a>
          <h2>{{ $t('word.slogan') }}</h2>
          <p class="text-muted">
            {{ $t('word.info_more') }}
          </p>
        </div>
      </div>
    </div>
    <div class="new-login-box">
      <div class="white-box">
        <form id="loginform" class="form-horizontal">
          <div class="form-group ">
            <div class="col-xs-12">
              <h3>{{ $t('word.recover_pass') }}</h3>
              <p class="text-muted">
                {{ $t('word.enter_your_email') }}
              </p>
            </div>
          </div>
          <div class="form-group ">
            <div class="col-xs-12" :class="{'has-error' : errors.email}">
              <input id="email"
                     v-model="email"
                     type="email"
                     class="form-control"
                     name="email"
                     :placeholder="$t('word.email')">
              <span v-if="errors.email" class="help-block">{{ errors.email[0] }}</span>
            </div>
          </div>
          <div class="form-group text-center m-t-20">
            <div class="col-xs-12">
              <button class="btn btn-info btn-rounded btn-lg btn-block text-uppercase"
                      :disabled="loading"
                      @click.prevent="forgetPassword()">
                <i v-if="loading" class="far fa-spinner-third fa-spin"></i>
                <span v-else>{{ $t('word.reset') }}</span>
              </button>
            </div>
          </div>
          <div class="col-xs-12 text-center">
            <router-link to="/login" class="text-primary m-l-5">
              {{ $t('word.return_login_page') }}
            </router-link>
          </div>
        </form>
      </div>
    </div>
  </section>
</template>
<script>
  import FORGOT_PASSWORD_MUTATION from './../../../apollo/mutation/auth/forgot_password.gql'

  export default {
    data() {
      return {
        email: '',
        errors: [],
        loading: false
      }
    },
    methods: {
      forgetPassword() {
        this.loading = true
        this.errors = []
        this.$apollo.mutate({
          client: 'guest',
          mutation: FORGOT_PASSWORD_MUTATION,
          variables: {
            email: this.email
          }
        }).then(result => {
          if (result.data.forgot_password.code == 200) {
            this.$awn.success(result.data.forgot_password.message)
            this.$router.push('/login')
          } else if (result.data.forgot_password.code == 405) {
            this.$awn.alert(result.data.forgot_password.message)
          }
        }).catch(error => {
          if (error.graphQLErrors[0].message === 'validation') {
            this.errors = error.graphQLErrors[0].extensions.validation
          }
        }).finally(() => {
          this.loading = false
        })
      }
    }
  }
</script>