<template>
  <section id="wrapper" class="new-login-register" style="overflow: scroll;">
    <div class="lg-info-panel">
      <div class="inner-panel">
        <div class="lg-content">
          <a href="javascript:void(0)" class="p-20 di"><img src="/images/icon.png"></a>
          <h2>{{ $t('word.slogan') }}</h2>
          <p class="text-muted">
            {{ $t('word.info_more') }}
          </p>
        </div>
      </div>
    </div>
    <div class="new-login-box">
      <div class="white-box">
        <form class="form-horizontal new-lg-form">
          <div class="form-group ">
            <div class="col-xs-12">
              <h3>{{ $t('word.reset') }}</h3>
              <p class="text-muted">
                {{ $t('login.word.enter_detail') }}
              </p>
            </div>
          </div>
          <div class="form-group" :class="{'has-error' : errors.email}">
            <div class="col-xs-12">
              <label>{{ $t('word.email') }}</label>
              <input v-model="email"
                     class="form-control"
                     name="email"
                     type="email"
                     :placeholder="$t('word.email')">
              <span v-if="errors.email" class="help-block">{{ errors.email[0] }}</span>
            </div>
          </div>

          <div class="form-group" :class="{'has-error' : errors.password}">
            <div class="col-xs-12">
              <label>{{ $t('word.password') }}</label>
              <input v-model="password"
                     class="form-control"
                     name="password"
                     type="password"
                     :placeholder="$t('word.password')">
              <span v-if="errors.password" class="help-block">{{ errors.password[0] }}</span>
            </div>
          </div>

          <div class="form-group" :class="{'has-error' : errors.password_confirmation}">
            <div class="col-xs-12">
              <label>{{ $t('word.re_password') }}</label>
              <input v-model="password_confirmation"
                     type="password"
                     class="form-control"
                     name="password_confirmation"
                     :placeholder="$t('word.re_password')">
              <span v-if="errors.password_confirmation" class="help-block">
                {{ errors.password_confirmation }}</span>
            </div>
          </div>
          <div class="form-group text-center m-t-20">
            <div class="col-xs-12">
              <button class="btn btn-info btn-block btn-rounded btn-lg text-uppercase"
                      @click.prevent="resetPassword()">
                <i v-if="loading" class="far fa-spinner-third fa-spin"></i>
                <span v-else>{{ $t('word.reset') }}</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</template>
<script>
  import RESET_PASSWORD_MUTATION from './../../../apollo/mutation/auth/reset_password.gql'

  export default {
    data() {
      return {
        errors: [],
        email: '',
        password: '',
        password_confirmation: '',
        loading: false
      }
    },
    computed: {
      token() {
        return this.$route.query.token
      }
    },
    created() {
      this.email = this.$route.query.email
    },
    methods: {
      resetPassword() {
        this.loading = true
        this.errors = []

        this.$apollo.mutate({
          client: 'guest',
          mutation: RESET_PASSWORD_MUTATION,
          variables: {
            email: this.email,
            password: this.password,
            passwordConfirmation: this.password_confirmation,
            token: this.token
          }
        }).then(result => {
          console.log(result)
          this.$awn.success(this.$t('passwords.reset_password_success'))

          const currentUser = result.data.reset_password.user
          currentUser.permissions = []
          this.$store.dispatch('setAuth', {
            access_token: result.data.reset_password.access_token,
            user: currentUser
          }).then(() => {
            this.$router.push('/')
          })
        }).catch(error => {
          if (error.graphQLErrors[0].message === 'validation') {
            this.errors = error.graphQLErrors[0].extensions.validation
          } else if (error.graphQLErrors[0].message) {
            this.$awn.alert(error.graphQLErrors[0].message)
          }
        }).finally(() => {
          this.loading = false
        })
      }
    }
  }
</script>