<template>
  <div class="row">
    <template v-if="type == 1">
      <div class="white-box col-12">
        <div class="title-chart">
          <h3> {{ $t('restaurant.top_10_hot_sell') }} - {{ $t('restaurant.follow_profit') }}</h3>
        </div>
        <div v-if="loading" class="chart-height">
          <clip-loader :loading="true" :color="'#27a1f2'" style="margin: auto"></clip-loader>
        </div>
        <div v-else-if="bestProfit.length > 1">
          <g-chart ref="gChartBestProfit"
                   type="BarChart"
                   :data="bestProfit"
                   :options="configChart"
                   :events="chartEventsBestProfit"
                   style="min-height: 450px"></g-chart>
        </div>
        <div v-else class="chart-height" style="min-height: 450px">
          <h3>{{ $t('word.no_data') }}</h3>
        </div>
      </div>
      <div class="white-box col-12 m-t-10">
        <div class="title-chart">
          <h3> {{ $t('restaurant.top_10_hot_sell') }} - {{ $t('restaurant.follow_profit_margin') }}</h3>
        </div>
        <div v-if="loading" class="chart-height">
          <clip-loader :loading="true" :color="'#27a1f2'" style="margin: auto"></clip-loader>
        </div>
        <div v-else-if="bestProfitMargin.length > 1">
          <g-chart ref="gChartBestProfitMargin"
                   type="BarChart"
                   :data="bestProfitMargin"
                   :options="configChartProfitMargin"
                   :events="chartEventsBestProfitMargin"
                   style="min-height: 450px"></g-chart>
        </div>
        <div v-else class="chart-height" style="min-height: 450px">
          <h3>{{ $t('word.no_data') }}</h3>
        </div>
      </div>
    </template>
    <template v-else>
      <div id="tableReport" class="table-responsive col-12 white-box">
        <div class="text-center m-b-10">
          <h2>{{ $t('restaurant.report_profit') }} {{ $t('word.by_goods') }}</h2>
          <div>{{ titleDate }}
          </div>
        </div>
        <div class="text-right"><i>{{ $t('restaurant.not_have_discount_total_invoice') }}</i></div>
        <div v-if="loading" class="chart-height">
          <clip-loader :loading="true" :color="'#27a1f2'" style="margin: auto"></clip-loader>
        </div>
        <table v-else id="table" class="table color-table info-table table-responsive">
          <thead>
            <tr>
              <th>{{ $t('restaurant.good.code') }}</th>
              <th>{{ $t('restaurant.good.name') }}</th>
              <th>{{ $t('word.count') }}</th>
              <th>{{ $t('word.total_value') }}</th>
              <th>{{ $t('restaurant.count_returned') }}</th>
              <th>{{ $t('restaurant.value_returned') }}</th>
              <th>{{ $t('restaurant.real_revenue') }}</th>
              <th>{{ $t('word.total_costs') }}</th>
              <th>{{ $t('restaurant.profit') }}</th>
              <th>{{ $t('restaurant.profit_margin') }}</th>
            </tr>
          </thead>
          <tbody>
            <template v-if="datas.length">
              <tr class="tr-total">
                <td colspan="2" class="text-left">{{ $t('word.number_goods') }}: {{ datas.length }}</td>
                <td class="text-right">{{ formatPrice(totalCount) }}</td>
                <td>{{ formatPrice(total + totalReturned) }}</td>
                <td>{{ formatPrice(totalCountReturned) }}</td>
                <td>{{ formatPrice(totalReturned) }}</td>
                <td>{{ formatPrice(total) }}</td>
                <td>{{ formatPrice(totalOrigin) }}</td>
                <td>{{ formatPrice(total - totalOrigin) }}</td>
                <td>{{ parseFloat((total - totalOrigin)/total * 100).toFixed(2) }}%</td>
              </tr>
              <template v-for="(data, index) in datas">
                <tr :key="index">
                  <td class="cursor-pointer">
                    <router-link :to="{name: 'restaurant.good_sale.edit', params: {goodId: data.id}}"
                                 class="hidden-print">{{ data.code }}
                    </router-link>
                    <span class="show-print">{{ data.code }}</span>
                  </td>
                  <td>{{ data.name }}</td>
                  <td>{{ formatPrice(data.count) }}</td>
                  <td>{{ formatPrice(data.total + data.total_returned) }}</td>
                  <td>{{ formatPrice(data.count_returned) }}</td>
                  <td>{{ formatPrice(data.total_returned) }}</td>
                  <td>{{ formatPrice(data.total) }}</td>
                  <td>{{ formatPrice(data.total_origin) }}</td>
                  <td>{{ formatPrice(data.total - data.total_origin) }}</td>
                  <td>{{ parseFloat((data.total - data.total_origin)/data.total * 100).toFixed(2) }}%</td>
                </tr>
              </template>
            </template>
            <tr v-else>
              <td class="no-data text-center" colspan="9">{{ $t('word.no_data') }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </template>
  </div>
</template>

<script>
  import { GChart } from 'vue-google-charts'
  import { formatPrice } from './../../../../../helpers/handle_function.js'
  import configChart from './../../../../../mixins/config_chart.js'
  import ClipLoader from 'vue-spinner/src/ClipLoader'
  import moment from 'moment'

  export default {
    name: 'Profit',
    components: { GChart, ClipLoader },
    mixins: [configChart],
    props: {
      type: {
        type: Number,
        default: 2
      },
      datas: {
        type: Array,
        default: null
      },
      start: {
        type: String,
        default: ''
      },
      end: {
        type: String,
        default: ''
      },
      loading: {
        type: Boolean,
        default: true
      }
    },
    data() {
      return {
        totalCount: 0,
        totalCountReturned: 0,
        total: 0,
        totalReturned: 0,
        totalOrigin: 0,
        chartEventsBestProfitMargin: {
          select: () => {
            let selection = this.$refs.gChartBestProfitMargin.chartObject.getSelection()
            let datas = this.datas.slice(0)
            datas.sort((a, b) => (b.total - b.total_origin) / b.total - (a.total - a.total_origin) / a.total)
            if (selection.length > 0 && selection[0].row != null && selection[0].column != null) {
              let route = this.$router.resolve({
                name: 'restaurant.good_sale.edit',
                params: { goodId: datas[selection[0].row].id }
              })
              window.open(route.href, '_blank')
            }
          }
        },
        chartEventsBestProfit: {
          select: () => {
            let selection = this.$refs.gChartBestProfit.chartObject.getSelection()
            let datas = this.datas.slice(0)
            datas.sort((a, b) => (b.total - b.total_origin) - (a.total - a.total_origin))
            if (selection.length > 0 && selection[0].row != null && selection[0].column != null) {
              let route = this.$router.resolve({
                name: 'restaurant.good_sale.edit',
                params: { goodId: datas[selection[0].row].id }
              })
              window.open(route.href, '_blank')
            }
          }
        }
      }
    },
    computed: {
      bestProfit() {
        let bestProfit = [[this.$t('restaurant.good.name'), this.$t('restaurant.profit')]]
        let datas = this.datas.slice(0)
        datas = datas.sort((a, b) => {
          return (b.total - b.total_origin) - (a.total - a.total_origin)
        }).slice(0, 10)
        for (let data of datas) {
          bestProfit.push([data.name, data.total - data.total_origin])
        }
        return bestProfit
      },
      bestProfitMargin() {
        let bestProfitMargin = [[this.$t('restaurant.good.name'), this.$t('restaurant.profit_margin')]]
        let datas = this.datas.slice(0)
        datas = datas.sort((a, b) => {
          return (b.total - b.total_origin) / b.total - (a.total - a.total_origin) / a.total
        }).slice(0, 10)
        for (let data of datas) {
          bestProfitMargin.push([
            data.name, {
              v: parseFloat((data.total - data.total_origin) / data.total),
              f: parseFloat((data.total - data.total_origin) / data.total * 100).toFixed(2) + '%'
            }
          ])
        }
        return bestProfitMargin
      },
      configChartProfitMargin() {
        let config = JSON.parse(JSON.stringify(this.configChart))
        config.hAxis.format = 'percent'
        return config
      },
      titleDate() {
        if (moment(this.end).diff(this.start) > 0) {
          return this.$t('word.from_date') + ' ' + this.start + ' ' + this.$t('word.to_date')
              + ' ' + this.end
        } else {
          return this.$t('word.date') + ' ' + this.start
        }
      }
    },
    watch: {
      datas: function() {
        this.prepareData()
      }
    },
    created() {
      this.prepareData()
    },
    methods: {
      prepareData() {
        this.totalCount = 0
        this.totalCountReturned = 0
        this.total = 0
        this.totalReturned = 0
        this.totalOrigin = 0
        this.datas.forEach(item => {
          this.totalCount += item.count
          this.totalCountReturned += item.count_returned
          this.total += item.total
          this.totalReturned += item.total_returned
          this.totalOrigin += item.total_origin
        })
      },
      formatPrice(price) {
        return formatPrice(price)
      },
    }
  }
</script>

<style scoped lang="scss">
  #table {
    tr {
      td, th {
        &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7),
        &:nth-child(8), &:nth-child(9), &:nth-child(10) {
          text-align: right;
        }
      }
    }
  }
  .chart-height {
    min-height: 400px;
  }
  .title-chart h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
  }
</style>