.filterform {
  margin-bottom: 10px;
  font-size: 14px;
}

.label-require {
  color: red;
}

/* old login */

.emailed {
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  display: block;
  width: 100%;
  position: fixed;
  z-index: 9999;
}

/* profile */

.user-btm-box {
  padding: 10px;
}

/* slider */

.select-slider-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.select-slider-image .img-thumbnail {
  margin: 5px 5px 10px 5px;
}

/* customize select2 */

.select2-search-choice {
  background-image: none !important;
  background-color: #2cabe3 !important;
  border: none !important;
  border-radius: 60px !important;
  padding: 7px 15px 7px 15px !important;
  color: white !important;
  font-weight: 500;
}

.select2-search-choice-close {
  margin-top: 4px;
}

/* index.vue */

.caret {
  margin-left: 8px !important;
}

.additional {
  clear: both;
}

.tag-input { 
  width: 400px; margin: 
  15px auto; 
}


/* products */

.note {
  padding-top: 5px;
}

.table-set-user tr td:nth-child(1) {
  text-align: center;
}

/*route('company.timekeeping.list')*/

.statistics {
  border-top: none !important;
  margin: 0px !important;
  padding: 20px !important;
}

#table-time-keeping-list tr th:nth-child(5) {
  text-align: center;
}

#table-time-keeping-list tr td {
  vertical-align: middle;
}

#table-time-keeping-list tr td:nth-child(5),
#table-time-keeping-list tr td:nth-child(6) {
  text-align: center;
  width: 150px;
}

#table-time-keeping-list tr td:last-child {
  text-align: center;
}

#table-time-keeping-list .photo_time_keeping {
  margin: auto;
}

#table-time-keeping-list .photo_time_keeping img {
  display: block;
  max-height: 80px;
  max-width: 80px;
  margin: auto;
}

/*route('company.timekeeping.detail')*/

#time-keeping-detail .photo {
  padding-left: 30px;
}

#time-keeping-detail .photo img {
  display: block;
  max-height: 160px;
  max-width: 160px;
}

/*route('contact')*/

#contact-info {
  background: #FFFFFF;
  font-size: 14px;
  line-height: 1.8rem;
}

#contact-info .local-title {
  margin-bottom: 30px;
  color: #1790df;
  text-align: center;
}

#contact-info .local-title h3:after {
  content: "";
  position: absolute;
  top: 48px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #1790df;
  width: 75px;
  height: 1px;
}

#contact-info .info {
  padding: 15px 0;
}

#contact-info .local-info {
  border-top: 1px dashed rgba(0, 0, 0, 0.1);
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
  font-size: 15px;
  line-height: 24px;
}

.highline {
  font-weight: 700 !important;
}

#contact-info .support-info {
  padding-bottom: 20px;
}

#contact-info .social-network {
  bottom: 0px;
  height: 80px;
}

#map {
  min-height: 699px;
}

/*route('master.store.configuration')*/

.side-left {
  -webkit-box-sizing: padding;
          box-sizing: padding;
  margin-top: 25px;
  margin-left: 30px;
  border: 1px solid #DDDDDD;
  padding: 0px !important;
  background: #FFFFFF;
}

.side-left .fa {
  float: right;
}

.side-left ul li a {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #000000;
}

.side-left ul li a:hover {
  background: #f2f2f3;
}

.side-left .item-first-level i {
  float: right;
}

.side-left .nav-first-level li a {
  height: 56px;
  cursor: pointer;
  font-size: 1.4rem;
  padding-top: 18px;
  padding-bottom: 20px;
  border-bottom: 1px solid #DDDDDD;
  text-transform: uppercase;
}

.side-left .nav-first-level li .active {
  background: #FFFFFF;
}

.side-left .nav-second-level {
  display: none;
}

.side-left .nav-second-level li a {
  height: 60px;
  margin-top: 5px;
  padding-left: 20px;
  border-bottom: none;
  background: #FFFFFF;
  border-left: 5px solid #2cabe3;
}

.side-left .nav-second-level li .active {
  background: #f2f2f3;
}

.config {
  border: 1px solid #DDDDDD;
  background: #FFFFFF;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #000000;
}

.type-config {
  height: 62px;
  font-size: 2rem;
  font-weight: 900;
  position: relative;
  text-decoration: none;
  -webkit-transition: color .15s linear;
  transition: color .15s linear;
  text-align: right;
  margin-right: 20px;
  padding: 15px 0;
  border-bottom: 1px solid #DDDDDD;
  cursor: pointer;
}

.config .section-config fieldset {
  display: none;
}

.config .section-config table {
  width: 100%;
  margin: 30px 0;
  border-collapse: collapse;
}

.config .section-config tbody {
  border-bottom: 25px solid white;
}

.config .section-config .item {
  margin-bottom: 30px;
}

.config .section-config td {
  padding: 2.2rem 1.5rem 0 0;
}

.config .section-config .form-control {
  border-radius: 0px;
  width: 80%;
}

.type-config i {
  float: right;
}

.label-config {
  color: #303030 !important;
  float: none;
  font-size: 15px;
  font-weight: 600;
  padding-right: 30px;
  text-align: right;
  width: 40%;
}

.value-config {
  vertical-align: middle;
  text-align: left;
  width: 60%;
}

/*route('news.list')*/

.card {
  box-sizing: padding-box;
  -moz-box-sizing: padding-box;
  -webkit-box-sizing: padding-box;
}

.card__img {
  position: relative;
  height: 230px;
}

.card__img img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 165px;
  margin-left: auto;
  margin-right: auto;
}

.card__title {
  height: 21px;
}

.card__des {
  height: 76px;
}

/*route('news.show')*/

.page__content-time {
  margin-left: 10px;
  margin-bottom: 10px;
  color: #777;
}

/*route('company.timekeeping.report')*/

.report__list-user {
  margin-top: 24px;
}

/* blade career */

.career {
  width: 100%;
  margin-bottom: 100px;
}

.career__title {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1790df;
}

.career__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.career__item {
  width: 100%;
  font-size: 14px;
  line-height: 35px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.career__item-date {
  font-size: 12px;
}

.new-job {
  margin-left: 5px;
  padding: 2px 3px;
  background-color: #1790df;
  color: #fff;
  font-size: 10px;
  border-radius: 4px;
}

.career__item-job {
  font-weight: 600;
}

.career__item-content {
  display: none;
}

.career__item-detail {
  float: right;
}

.job-available__title {
  position: relative;
  width: 100%;
  padding: 10px 15px;
  text-align: center;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
  color: #1790df;
}

.job-available__title h3:after {
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #1790df;
  width: 80px;
  height: 1px;
}

.job-available__tag {
  margin: 15px auto;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}

.job-available__tag span {
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #1790df;
}

.job-available__tag__list {
  background: #f2f2f3;
  border: 1px dashed rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
  overflow: hidden;
}

.job-tag {
  display: inline-block;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  background: #1790df;
  color: #fff;
}

.job-tag:hover {
  color: #d7d9da;
}

/* blade common/web */

.sidebar-left {
  width: 310px;
  background: #fff;
  margin-right: 30px;
  float: left;
}

.sidebar-left__title {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 15px 15px;
  font-size: 1.625rem;
  background: #1790df;
  color: #fff;
}

.list-group {
  margin-bottom: 0 !important;
  border-radius: 4px;
}

.list-group a {
  display: block;
  color: #337ab7;
  text-decoration: none;
  font-size: 16px;
}

.list-group .select {
  background: ghostwhite;
}

.list-group .active span {
  border-left: 2px solid #337ab7;
}

.list-group__item {
  position: relative;
  display: block;
  padding: 10px 0;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.list-group__item span {
  padding: 0 25px;
}

.main-content {
  width: calc(100% - 340px);
  float: right;
  margin-bottom: 60px;
}

.main-content h1 {
  margin: 0;
}

.btn-create {
  margin-right: 10px;
}

.btn-submit-form {
  margin: 0 10px;
}

.form-group-field {
  margin-bottom: 15px;
}

.btn-create {
  margin-right: 10px;
}

.btn-submit-form {
  margin: 0 10px;
}

table tr .no-data {
  text-align: center;
  font-size: 16px;
  padding: 15px 0;
}

table thead tr th {
  white-space: nowrap;
}

table thead tr th.sort {
  width: 75px;
}

table thead tr th.status {
  width: 90px;
  text-align: center;
}

table thead tr th.actions {
  width: 120px;
  text-align: center;
}

#language {
  float: left;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: relative;
}

#language select {
  border: none;
  background-color: #1373b3;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

#language select:active {
  border: none;
}

@media (max-width: 1199px) and (min-width: 980px) {
  .sidebar-left {
    display: none;
  }

  .main-content {
    width: calc(100% - 10px);
    margin-right: 5px;
  }
}

@media (max-width: 979px) {
  .sidebar-left {
    display: none;
  }

  .main-content {
    width: 100%;
    padding: 0 15px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .top-left-part {
    width: 65px !important;
  }
}

