.breadcrumb {
    margin-bottom: 0px;
    padding: 0px;
    background: #1790df;
}
.homepage {
    padding: 0px;
}
.homepage .container {
    margin: 0px;
    padding: 0px;
    width: 100%;
}
/*.container .row {
    margin: 0px;
}*/
.title {
    position: relative;
    display: block;
    text-align: center;
}
.title h2 {
    color: #1790df;
}
.why {
    background: #f0eeef;
    padding: 50px 0px;
}
.text {
    text-align: justify;
}
.slider {
    /*margin-top: 15px;*/
}
.carousel-indicators li {
    width: 30px;
    height: 3px;
    border-radius: 0;
    background-color: rgba(255,255,255,.5);
}
.carousel-indicators .active {
    width: 30px;
    height: 3px;
    background-color: #fff;
}
.slider .carousel-inner .item img {
    width: 100%;
    height: 100%;
}
@media (min-width: 1200px) {
    .section {
        padding: 50px 0px;
    }
    .title {
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .title h2 {
        margin-top: 0px;
        font-size: 40px;
        line-height: 42px;
    }
    .text {
        text-align: justify;
        font-size: 14px;
        line-height: 24px;
    }
    .slider .carousel-inner .item {
        width: 100%;
    }
    .news__content {
        overflow: hidden;
        padding: 0px 84px;
        margin-top: 30px;
    }
    #product-image .carousel-indicators {
        bottom: -40px;
    }
    #product-image .carousel-indicators li {
        background-color: #1790df;
    }
    .news__content__main {
        width: 100%;
        padding: 40px 30px 60px 30px;
        margin: 0px
    }
    .news__content__image {
        min-height: 0px;
    }
    .why__list {
        display: flex;
        padding: 0px 15px;
        margin: 30px 69px;
    }
    .why__list__item {
        width: calc(100%/4 - 20px);
        /*background: #fff;*/
        margin-right: 10px;
        padding: 20px 20px 0px 20px;
        min-height: 280px;
        text-align: center;
        font-size: 14px;
        line-height: 2.2rem;
    }
    .why__list__item .icon {
        margin-bottom: 16px;
    }
    .why__list__item i {
        font-size: 8em;
        color: #1790df;
    }
    .why__list__item h3 {
        font-size: 24px;
        margin: 20px 0px;
    }
    .news__list-item {
        padding: 0px 84px;
        margin-top: 30px;
    }
    .news__view-more {
        text-align: center;
        font-size: 16px;
        margin-top: 30px;
    }
}
@media (min-width: 769px) and (max-width: 1199px) {
    .section {
        padding: 35px 0px;
    }
    .title h2 {
        margin-top: 0px;
    }
    .text {
        width: 65%;
        font-size: 14px;
        line-height: 24px;
    }
    .slider .carousel-inner .item {
        width: 100%;
    }
    .news__content {
        overflow: hidden;
        padding: 0 30px;
        margin-top: 20px;
    }
    .news__content .news__content__main {
        width: 100%;
        padding: 20px;
        margin-bottom: 0;
    }
    #product-image .carousel-indicators {
        bottom: -45px;
    }
    #product-image .carousel-indicators li {
        background-color: #1790df;
    }
    .news__content__image {
        width: 35%;
        min-height: 0px;
        margin: 0px;
    }
    .news__content__image .carousel-inner .item img {
        width: 100%;
    }
    .why__list {
        display: flex;
        margin-top: 20px;
        padding-bottom: 30px;
    }
    .why__list__item {
        width: calc(100%/4 - 20px);
        /*background: #fff;*/
        margin: 10px;
        padding: 15px 20px;
        min-height: 280px;
        text-align: center;
        font-size: 14px;
        line-height: 2.2rem;
    }
    .why__list__item i {
        font-size: 8em;
        color: #1790df;
    }
    .news__list-item {
        padding: 0px 20px;
    }
    .news__list-item .card {
        width: calc(100% / 2 - 40px);
        margin: 20px;
    }
    .news__view-more {
        text-align: center;
        font-size: 16px;
        margin-top: 30px;
    }
}
@media (max-width: 768px) {
    .section {
        padding: 20px 0;
    }
    .title {
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .title h2 {
        margin-top: 0px;
        font-size: 20px;
        line-height: 42px;
    }
    .text {
        text-align: justify;
        font-size: 12px;
        line-height: 24px;
    }
    .slider .carousel-inner .item {
        width: 100%;
    }
    .news__content {
        overflow: hidden;
        padding: 0 20px;
    }
    .news__content__main {
        height: 100%;
        font-size: 1.8rem;
        padding: 10px;
    }
    .news__content__main .text {
        margin-top: 10px;
    }
    .news__content__image {
        float: left;
        min-height: 0px;
        /*margin: 15px 20px 25px 15px;*/
    }
    #product-image .carousel-indicators {
        bottom: -30px;
    }
    #product-image .carousel-indicators li {
        background-color: #1790df;
    }
    .why__list {
        display: table-header-group;
        padding: 0px 40px 30px 40px;
        text-align: center;
    }
    .why__list__item {
        display: inline-table;
        width: calc(100%/2 - 60px);
        margin: 20px 10px;
    }
    .why__list__item .icon {
        font-size: 3.2rem;
        color: #1790df;
    }
    .why__list__item h3 {
        font-size: 14px;
    }
    .why__list__item p {
        font-size: 12px;
    }
    .news__list-item {
        padding: 0px 20px;
    }
    .news__view-more {
        margin-top: 20px;
        text-align: center;
        font-size: 14px;
    }
}