.emailed {
    box-shadow: 2px 2px 2px rgba(0,0,0,.1);
    display: block;
    width: 100%;
    position: fixed;
    z-index: 9999;
}

/* Profile */
.label-require {
    color: red;
}

.navbar-top-links .dropdown-user .dw-user-box {
    display: inline-block;
}

.header__account span {
    color: #fff;
}

.user-btm-box {
    padding: 10px;
}

.header__account__sub {
    width: 180px!important;
}

.header__account__sub li {
    width: 100%;
    float: left;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    border-bottom: 1px dashed rgba(0,0,0,.1);
}

.header__account__sub li a i {
    margin-right: 10px;
}

.header__account__register {
    border-bottom: none!important;
}

.step .step__items a {
    display: inline-block;
    width: 100%;
}
.status {
    margin-top: 25px;
}
/*Slider*/
#form-delete-slider {
    display: inline-block;
}
.select-slider-image {
    display: flex;
    flex-direction: column;
}
.select-slider-image .item {

}
.select-slider-image .img-thumbnail {
    margin: 5px 5px 10px 5px;
}
/*End*/
/*Tag*/
.filterform {
    margin-bottom: 10px;
    font-size: 18px;
}
.filterform .btn-group .btn {
    border-radius: 3px;
    background-color: #fff;
    border-color: #e5e5e5;
}
.filterform .btn-group .btn:hover {
    background-color: #e4e6e7;
}
.filterform .status {
    width: 158px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.form-delete-tag {
    display: inline-block;
}
.form-restore-tag {
    display: inline-block;
}
.record-number span {
    font-size: 16px;
}
.record-number .badge {
    margin-left: 5px;
}
/*End*/
/*News*/
/*Customize Select2*/
.select2-search-choice {
    background-image: none!important;
    background-color: #2cabe3!important;
    border: none!important;
    border-radius: 60px!important;
    padding: 7px 15px 7px 15px!important;
    color: white!important;
    font-weight: 500;
}
.select2-search-choice-close {
    margin-top: 4px;
}
/*Blade Index*/
.filterform {
    margin-bottom: 10px;
    font-size: 14px;
}
.filterform .btn-group .btn {
    border-radius: 3px;
    background-color: #fff;
    border-color: #e5e5e5;
}
.filterform .btn-group .btn:hover {
    background-color: #e4e6e7;
}
.filterform .status {
    width: 158px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.caret {
    margin-left: 8px!important;
}
.additional {
    clear: both;
}
.record-number span {
    font-size: 16px;
}
.record-number .badge {
    margin-left: 5px;
}
.list-tags {
    line-height: 25px!important;
}
.form-delete-news {
    display: inline-block;
}
.form-restore-news {
    display: inline-block;
}
/*Blade Create*/
#form-create-news .group-btn-form {
    text-align: center;
}
#form-create-news textarea {
    height: 100px;
}
.select-news-image {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
/*Products*/
.note {
    padding-top: 5px;
}
/*End*/
.loading {
  position: fixed;
  background-image: url('{{ asset('images/app/spinner.svg') }}');
  background-repeat:no-repeat;
  background-size: 100% 100%;
  top: 50%;
  left: 50%;
  height: 75px;
  width: 75px;
}
.table-set-user tr td:nth-child(1) {
    text-align: center;
}
/*end*/
/*route('master.news.edit')*/
.select-news-image .list-image {
    display: table;
    margin-bottom: 5px;
}
.select-news-image .list-image .item {
    display: inline-table;
    line-height: 1.5;
}
.select-news-image .list-image .img-thumbnail {
    max-width: 200px;
    max-height: 200px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin: 5px 5px 10px 5px;
}
/*end*/
/*Blade Edit*/
#form-edit-news .group-btn-form {
    text-align: center;
}
#form-edit-news textarea {
    height: 100px;
}
/*End*/
/*route('company.timekeeping.list')*/
.statistics {
    border-top: none!important;
    margin: 0px!important;
    padding: 20px!important;
}
#table-time-keeping-list tr th:nth-child(5) {
    text-align: center;
}
#table-time-keeping-list tr td {
    vertical-align: middle;
}
#table-time-keeping-list tr td:nth-child(5), #table-time-keeping-list tr td:nth-child(6) {
    text-align: center;
    width: 150px;
}
#table-time-keeping-list tr td:last-child {
    text-align: center;
}
#table-time-keeping-list .photo_time_keeping {
    margin: auto;
}
#table-time-keeping-list .photo_time_keeping img {
    display: block;
    max-height: 80px;
    max-width: 80px;
    margin: auto;
}
/*end*/

/*route('company.timekeeping.detail')*/
#time-keeping-detail .photo {
    padding-left: 30px;
}
#time-keeping-detail .photo img {
    display: block;
    max-height: 160px;
    max-width: 160px;
}
/*end*/

/*route('contact')*/
#contact-info {
    background: #FFFFFF;
    font-size: 14px;
    line-height: 1.8rem;
}
#contact-info .local-title {
    margin-bottom: 30px;
    color: #1790df;
    text-align: center;
}
#contact-info .local-title h3:after {
    content: "";
    position: absolute;
    top: 48px;
    left: 50%;
    transform: translateX(-50%);
    background: #1790df;
    width: 75px;
    height: 1px;
}
#contact-info .info {
    padding: 15px 0;
}
#contact-info .local-info {
    border-top: 1px dashed rgba(0,0,0,.1);
    border-bottom: 1px dashed rgba(0,0,0,.1);
    font-size: 15px;
    line-height: 24px;
}
.highline {
    font-weight: 700!important;
}
#contact-info .support-info {
    padding-bottom: 20px;

}
#contact-info .social-network {
    bottom: 0px;
    height: 80px;
}
#map {
    min-height: 699px;
}
/*End*/
/*route('master.store.configuration')*/
.actions {
    position: relative;
    box-sizing: padding;
    padding: 10px 20px;
    margin: 0;
    background: #FFFFFF;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}
.actions .btn-save {
    position: absolute;
    right: 10px;
    border-radius: 0px;
    height: 45px;
    background: #2cabe3;
    color: #FFFFFF;
    font-size: 1.6rem;
    letter-spacing: .025em;
}
.side-left {
    box-sizing: padding;
    margin-top: 25px;
    margin-left: 30px;
    border: 1px solid #DDDDDD;
    padding: 0px!important;
    background: #FFFFFF;
}
.side-left .fa {
    float: right;
}
.side-left ul li a {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #000000;
}
.side-left ul li a:hover {
    background: #f2f2f3;
}
.side-left .item-first-level i {
    float: right;
}
.side-left .nav-first-level li a {
    height: 56px;
    cursor: pointer;
    font-size: 1.4rem;
    padding-top: 18px;
    padding-bottom: 20px;
    border-bottom: 1px solid #DDDDDD;
    text-transform: uppercase;
}
.side-left .nav-first-level li .active {
    background: #FFFFFF;
}
.side-left .nav-second-level {
    display: none;
}
.side-left .nav-second-level li a {
    height: 60px;
    margin-top: 5px;
    padding-left: 20px;
    border-bottom: none;
    background: #FFFFFF;
    border-left: 5px solid #2cabe3;
}
.side-left .nav-second-level li .active {
    background: #f2f2f3;
}
.config {
    margin-top: 10px;
    border: 1px solid #DDDDDD;
    background: #FFFFFF;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #000000;
}
.type-config {
    height: 62px;
    font-size: 2rem;
    font-weight: 900;
    position: relative;
    text-decoration: none;
    transition: color .15s linear;
    padding-top: 19px;
    padding-bottom: 19px;
    border-bottom: 1px solid #DDDDDD;
    cursor: pointer;
}
.config .section-config fieldset {
    display: none;
}
.config .section-config table {
    width: 100%;
    margin: 30px 0;
    border-collapse: collapse;
}
.config .section-config tbody {
    border-bottom: 25px solid white;
}
.config .section-config .item {
    margin-bottom: 30px;
}
.config .section-config td {
    padding: 2.2rem 1.5rem 0 0;
}
.config .section-config .form-control {
    border-radius: 0px;
    width: 80%;
}
.type-config i {
    float: right;
}
.label-config {
    color: #303030!important;
    float: none;
    font-size: 15px;
    font-weight: 600;
    padding-right: 30px;
    text-align: right;
    width: 40%;
}
.value-config {
    vertical-align: middle;
    text-align: left;
    width: 60%;
}
/*end*/
/*route('news.list')*/
.card {
    box-sizing: padding-box;
    -moz-box-sizing: padding-box;
    -webkit-box-sizing: padding-box;
}
.card__img {
    position: relative;
    height: 230px;
}
.card__img img {
    position: absolute;
    margin: auto;
    top: 0;left: 0;bottom: 0;right: 0;
    max-height: 165px;
    margin-left: auto;
    margin-right: auto;
}
.card__title {
    height: 21px;
}
.card__des {
    height: 76px;
}
/*end*/
/*route('news.show')*/
.page__content-time {
    margin-left: 10px;
    margin-bottom: 10px;
    color: #777;
}
/*end*/
/*route('company.timekeeping.report')*/
.report__list-user {
    margin-top: 24px;
}
/*end*/
/**/
.career {
    width: 100%;
    margin-bottom: 100px;
}
.career__title {
    border-bottom: 1px dashed rgba(0,0,0,.1);
    justify-content: space-between;
    align-items: center;
    color: #1790df;
}
.career__items {
    display: flex;
    flex-direction: column;
}
.career__item {
    width: 100%;
    font-size: 14px;
    line-height: 35px;
    border-bottom: 1px dashed rgba(0,0,0,.1);
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.career__item-date {
    font-size: 12px;
}
.new-job {
    margin-left: 5px;
    padding: 2px 3px;
    background-color: #1790df;
    color: #fff;
    font-size: 10px;
    border-radius: 4px;
}
.career__item-job {
    font-weight: 600;
}
.career__item-content {
    display: none;
}
.career__item-detail {
    float: right;
}
.job-available__title {
    position: relative;
    width: 100%;
    padding: 10px 15px;
    text-align: center;
    border-bottom: 1px dashed rgba(0,0,0,.1);
    color: #1790df;
}
.job-available__title h3:after {
    content: "";
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    background: #1790df;
    width: 80px;
    height: 1px;
}
.job-available__tag {
    margin: 15px auto;
    border-bottom: 1px dashed rgba(0,0,0,.1);
}
.job-available__tag span {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #1790df;
}
.job-available__tag__list {
    background: #f2f2f3;
    border: 1px dashed rgba(0,0,0,.1);
    padding: 10px;
    margin: 10px;
    overflow: hidden;
}
.job-tag {
    display: inline-block;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    background: #1790df;
    color: #fff;
}
.job-tag:hover {
    color: #d7d9da;
}
/*end*/
/* blade common/web */
.sidebar-left {
    width: 310px;
    background: #fff;
    margin-right: 30px;
    float: left;
}
.sidebar-left__title {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 15px 15px;
    font-size: 1.625rem;
    background: #1790df;
    color: #fff;
}
.list-group {
    margin-bottom: 0!important;
    border-radius: 4px;
}
.list-group a {
    display: block;
    color: #337ab7;
    text-decoration: none;
    font-size: 16px;
}
.list-group .select {
    background: ghostwhite;
}
.list-group .active span {
    border-left: 2px solid #337ab7;
}
.list-group__item {
    position: relative;
    display: block;
    padding: 10px 0;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.list-group__item span {
    padding: 0 25px;
}
.main-content {
    width: calc(100% - 340px);
    float: right;
    margin-bottom: 60px;
}
.main-content h1 {
  margin: 0;
}
.form-group-field { margin-bottom: 15px; }
.btn-create { margin-right: 10px; }
.btn-submit-form { margin: 0 10px; }
table tbody tr td.sort { width: 80px; }
table tbody tr td.title { min-width: 150px; }

.form-group-field { margin-bottom: 15px; }
.btn-create { margin-right: 10px; }
.btn-submit-form { margin: 0 10px; }
@media (max-width: 1199px) and (min-width: 980px) {
    .sidebar-left {
        display: none;
    }
    .main-content {
        width: calc(100% - 10px);
        margin-right: 5px;
    }
}
@media (max-width: 979px) {
    .sidebar-left {
        display: none;
    }
    .main-content {
        width: 100%;
        padding: 0 15px;
        margin-right: 0;
    }
}