.carousel-inner .item img {
    cursor: pointer;
}
.download-app {
    vertical-align: middle;
}
.link-download {
    display: inline-block;
    margin: 0;
    padding: 6px 10px 6px 0;
    height: 44px;
}
@media (max-width: 979px) {
    header {
        height: 50px;
    }
    .header__logo {
        display: inline-block;
        height: 50px;
        width: 40px;
    }
    .header__logo img {
        margin-top: 5px;
        margin-left: 20px;
    }
    .header__option {
        width: calc(100% - 60px);
    }
    .header__bottom {
        display: none;
    }
    #contact-info .local-title {
        margin-bottom: 20px!important;
        padding-top: 10px;
    }
    #contact-info .local-title h3:after {
        top: 60px!important;
    }
    #contact-info .local-info {
        padding: 0 0 20px 20px!important;
    }
    #contact-info .customer-care {
        padding: 0 0 20px 20px;
    }
    #contact-info .local-social-network {
        padding-bottom: 80px;
    }
    #map {
        height: 550px;
    }
}
@media (min-width: 980px) {
    header .header__top .header__logo {
        display: none;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1220px;
    }
}
