<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <h4 class="page-title">{{ $t('requirement.timekeeping_addition') }}</h4>
      </div>
      <div class="col-lg-8 col-sm-6 col-xs-12">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{ name: 'home' }">{{ $t('word.home') }}</router-link>
          </li>
          <li class="active">{{ $t('word.requirement') }}</li>
        </ol>
      </div>
    </div>
    <div v-if="!loading && requirement.is_accept !== null" class="alert alert-warning col">
      <div class="row">
        <span class="col">{{ $t('requirement.executed') }}</span>
        <span v-if="requirement.is_accept === false"
              class="pull-right label label-danger col-auto m-r-10">
          {{ $t('requirement.rejected') }}  {{ requirement.updated_at }}
        </span>
        <span v-else-if="requirement.is_accept === true"
              class="label label-success col-auto m-r-10">
          {{ $t('requirement.approved') }}  {{ requirement.updated_at }}
        </span>
      </div>
    </div>
    <div v-if="!loading" class="row">
      <div class="col-xs-12 col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading"> {{ $t('shifts.shift_info') }}</div>
          <div class="white-box">
            <table v-if="shift" class="table">
              <tbody>
                <tr>
                  <td>{{ $t('shifts.shift_name') }}</td>
                  <td><b>{{ shift.name }}</b></td>
                </tr>
                <template v-for="time in shift.times">
                  <template v-if="time.checkin">
                    <tr :key="time.checkin">
                      <td>{{ $t('word.checkin') }}</td>
                      <td><b>{{ time.checkin }}</b></td>
                    </tr>
                    <tr :key="time.checkin">
                      <td>{{ $t('word.checkout') }}</td>
                      <td><b>{{ time.checkout }}</b></td>
                    </tr>
                  </template>
                </template>
                <tr v-for="(schedule, key) in weekdays" :key="schedule">
                  <td>{{ schedule }}</td>
                  <td>{{ shift.schedules.includes(key) ? $t('word.yes') : $t('word.no') }}</td>
                </tr>
              </tbody>
            </table>
            <div v-else class="text-center">{{ $t('shifts.user_not_shift') }}</div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="panel panel-info">
          <div class="panel-heading"> {{ $t('word.request') }}</div>
          <div class="white-box">
            <table class="table">
              <tbody>
                <tr>
                  <td>{{ $t('word.name') }}</td>
                  <td>{{ requirement.creator.fullname }}</td>
                </tr>
                <tr>
                  <td>{{ $t('word.date') }}</td>
                  <td>{{ requirement.date }}</td>
                </tr>
                <template v-if="requirement.timekeeping">
                  <template v-for="(time, index) in requirement.timekeeping.times">
                    <tr :key="index">
                      <td>{{ $t('word.checkin') }}</td>
                      <td><b>{{ time.checkin && time.checkin.time || $t('word.empty') }}</b></td>
                    </tr>
                    <tr :key="index">
                      <td>{{ $t('word.checkout') }}</td>
                      <td><b>{{ time.checkout && time.checkout.time || $t('word.empty') }}</b></td>
                    </tr>
                  </template>
                </template>
                <template v-else-if="shift">
                  <template v-for="index in shift.type">
                    <tr :key="index">
                      <td>{{ $t('word.checkin') }}</td>
                      <td><b>{{ $t('word.empty') }}</b></td>
                    </tr>
                    <tr :key="index">
                      <td>{{ $t('word.checkout') }}</td>
                      <td><b>{{ $t('word.empty') }}</b></td>
                    </tr>
                  </template>
                </template>
                <tr>
                  <td style="min-width: 90px;">{{ $t('word.content') }}</td>
                  <td>{{ requirement.content }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="panel panel-success">
          <div class="panel-heading"> {{ $t('requirement.handle_request') }}</div>
          <div class="white-box">
            <form class="form-horizontal" autocomplete="off">
              <div class="row m-b-30">
                <div class="radio radio-success col-6 text-right">
                  <input id="radio4" v-model="isAccept" type="radio"
                         name="radio" :value="true">
                  <label for="radio4"> {{ $t('word.accept') }} </label>
                </div>
                <div class="radio radio-danger col-6 text-left">
                  <input id="radio6" v-model="isAccept" type="radio"
                         name="radio" :value="false">
                  <label for="radio6"> {{ $t('word.reject') }} </label>
                </div>
              </div>
              <template v-if="isAccept">
                <div class="form-group">
                  <label for="checkin1" class="col-sm-3 control-label">{{ $t('word.checkin') }}</label>
                  <div class="col-sm-9">
                    <div class="input-group">
                      <input id="checkin1"
                             type="text"
                             class="form-control clockpicker-with-callbacks"
                             :value="checkin1"
                             :disabled="requirement.is_accept !== null || checkin_1"
                             @focus="clockPicker('checkin1')">
                      <div class="input-group-addon"><i class="fa fa-sign-in"></i></div>
                    </div>
                    <span v-if="errors['checkin_1']" class="text-danger">
                      <strong>{{ errors['checkin_1'][0] }}</strong>
                    </span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="checkout1" class="col-sm-3 control-label">{{ $t('word.checkout') }}</label>
                  <div class="col-sm-9">
                    <div class="input-group">
                      <input id="checkout1"
                             type="text"
                             class="form-control clockpicker-with-callbacks"
                             :value="checkout1"
                             :disabled="requirement.is_accept !== null || checkout_1"
                             @focus="clockPicker('checkout1')">
                      <div class="input-group-addon"><i class="fa fa-sign-out"></i></div>
                    </div>
                    <span v-if="errors['checkout_1']" class="text-danger">
                      <strong>{{ errors['checkout_1'][0] }}</strong>
                    </span>
                  </div>
                </div>
                <template v-if="shiftType == 2">
                  <div class="form-group">
                    <label for="checkin1" class="col-sm-3 control-label">{{ $t('word.checkin') }}</label>
                    <div class="col-sm-9">
                      <div class="input-group">
                        <input id="checkin2"
                               type="text"
                               class="form-control clockpicker-with-callbacks"
                               :value="checkin2"
                               :disabled="requirement.is_accept !== null || checkin_2"
                               @focus="clockPicker('checkin2')">
                        <div class="input-group-addon"><i class="fa fa-sign-in"></i></div>
                      </div>
                      <span v-if="errors['checkin_2']" class="text-danger">
                        <strong>{{ errors['checkin_2'][0] }}</strong>
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="checkout1" class="col-sm-3 control-label">{{ $t('word.checkout') }}</label>
                    <div class="col-sm-9">
                      <div class="input-group">
                        <input id="checkout2"
                               type="text"
                               class="form-control clockpicker-with-callbacks"
                               :value="checkout2"
                               :disabled="requirement.is_accept !== null || checkout_2"
                               @focus="clockPicker('checkout2')">
                        <div class="input-group-addon"><i class="fa fa-sign-out"></i></div>
                      </div>
                      <span v-if="errors['checkout_2']" class="text-danger">
                        <strong>{{ errors['checkout_2'][0] }}</strong>
                      </span>
                    </div>
                  </div>
                </template>
              </template>
              <div class="form-group">
                <label class="col-sm-3 control-label">{{ $t('word.content') }}</label>
                <div class="col-sm-9">
                  <div class="input-group">
                    <textarea v-model="content"
                              class="form-control"
                              rows="4"
                              :disabled="requirement.is_accept !== null"></textarea>
                    <div class="input-group-addon"><i class="fa fa-book"></i></div>
                  </div>
                  <span v-if="errors.content" class="text-danger">
                    <strong>{{ errors.content[0] }}</strong>
                  </span>
                </div>
              </div>
              <div v-check="{permission: 'requirement.handle'}" class="form-group m-b-0">
                <div class="text-right">
                  <button id="approve"
                          type="button"
                          class="btn btn-primary m-t-10 m-r-15"
                          :disabled="requirement.is_accept !== null"
                          @click.prevent="confirmRequire()">
                    <i class="far" :class="[updating ? 'fa-spinner-third fa-spin' : 'fa-check']"></i> 
                    {{ $t('word.confirm') }}
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div v-else class="spinner-rise">
      <rise-loader :loading="loading" :color="'#27a1f2'"></rise-loader>
    </div>
  </div>
</template>
<script>
  import RiseLoader from 'vue-spinner/src/RiseLoader'
  import REQUIREMENT_QUERY from './../../apollo/query/requirement/get_by_id.gql'
  import APPROVE_ADDITION from './../../apollo/mutation/requirement/approve_addition.gql'
  import REJECT_ADDITION from './../../apollo/mutation/requirement/reject_addition.gql'
  import COUNT_REQUIREMENT_QUERY from './../../apollo/query/requirement/count_requirement.gql'
  import GET_SHIFT_BY_USER_GROUP from './../../apollo/query/shift/get_shift_by_user_group.gql'

  export default {
    components: { RiseLoader },
    data() {
      return {
        loading: true,
        requirement: {},
        shift: null,
        shifts: [],
        errors: [],
        checkin_1: '',  // Dữ liệu hiện tại
        checkout_1: '', // Dữ liệu hiện tại
        checkin_2: '',  // Dữ liệu hiện tại
        checkout_2: '', // Dữ liệu hiện tại
        checkin1: '',   // Dữ liệu gửi lên server
        checkout1: '',  // Dữ liệu gửi lên server
        checkin2: '',   // Dữ liệu gửi lên server
        checkout2: '',  // Dữ liệu gửi lên server
        content: '',
        isAccept: true,
        updating: false
      }
    },
    computed: {
      requirementId() {
        return this.$route.params.id
      },
      weekdays() {
        return this.$t('datetime.weekdays')
      },
      shiftType() {
        return (this.requirement.timekeeping && this.requirement.timekeeping.shift_type) ||
               (this.shift && this.shift.type) || 1
      },
      groupId() {
        return this.$store.getters.groupId
      }
    },
    apollo: {
      requirement: {
        query: REQUIREMENT_QUERY,
        variables() {
          return {
            requirementId: this.requirementId
          }
        },
        result ({ data, loading }) {
          this.loading = loading
          if (data.requirement.timekeeping) {
            let timekeeping = data.requirement.timekeeping
            this.checkin_1 = timekeeping.times[0] && timekeeping.times[0].checkin
                             && timekeeping.times[0].checkin.time
            this.checkout_1 = timekeeping.times[0] && timekeeping.times[0].checkout
                              && timekeeping.times[0].checkout.time
            if (timekeeping.shift_type === 2) {
              this.checkin_2 = timekeeping.times[1] && timekeeping.times[1].checkin
                             && timekeeping.times[1].checkin.time
              this.checkout_2 = timekeeping.times[1] && timekeeping.times[1].checkout
                                && timekeeping.times[1].checkout.time
            }
            this.checkin1 = this.checkin_1
            this.checkin2 = this.checkin_2
            this.checkout1 = this.checkout_1
            this.checkout2 = this.checkout_2
          }
          this.content = data.requirement.res_content
          this.getShift(data.requirement.creator.id)
        }
      },
    },
    methods: {
      getShift(userId) {
        this.$apollo.query({
          query: GET_SHIFT_BY_USER_GROUP,
          variables: {
            groupId: this.groupId,
            userId: userId
          }
        }).then(result => {
          this.shift = result.data.shift_user_in_group
          if (!this.checkin1) {
            this.checkin1 = this.shift.times[0].checkin
          }
          if (!this.checkout1) {
            this.checkout1 = this.shift.times[0].checkout
          }
          if (this.shift.type === 2) {
            if (!this.checkin2) {
              this.checkin2 = this.shift.times[1].checkin
            }
            if (!this.checkout2) {
              this.checkout2 = this.shift.times[1].checkout
            }
          }
        })
      },
      clockPicker(id) {
        require('./../../assets/js/bootstrap-clockpicker.min')
        $(`#${id}`).clockpicker({
          donetext: 'Done',
          autoclose: true,
          afterDone: () => {
            switch (id) {
              case 'checkin1':
                this.checkin1 = $(`#${id}`).val()
                break
              case 'checkout1':
                this.checkout1 = $(`#${id}`).val()
                break
              case 'checkin2':
                this.checkin2 = $(`#${id}`).val()
                break
              case 'checkout2':
                this.checkout2 = $(`#${id}`).val()
                break
            }
          }
        })
      },
      confirmRequire() {
        let status = this.isAccept ? 'accept' : 'deny'
        let conf = confirm(
          this.$t('requirement.confirm_addition', {
            status: this.$t(`word.${status}`).toLowerCase()
          })
        )
        this.errors = []
        if (conf) {
          if (this.isAccept) {
            this.approve()
          } else {
            this.reject()
          }
        }
      },
      approve() {
        this.updating = true
        this.$apollo.mutate({
          mutation: APPROVE_ADDITION,
          variables: {
            groupId: this.groupId,
            requirementId: this.requirementId,
            content: this.content,
            shiftType: this.shift.type,
            checkin1: this.checkin1,
            checkout1: this.checkout1,
            checkin2: this.checkin2,
            checkout2: this.checkout2
          },
          update: store => {
            let query = {
              query: COUNT_REQUIREMENT_QUERY,
              variables: { groupId: this.groupId }
            }
            let data = store.readQuery(query)
            if (data.count_requirement > 0) {
              data.count_requirement -= 1
            }
            store.writeQuery({ ...query, data: data })
          }
        }).then(() => {
          this.$awn.success(this.$t('word.updated'))
        }).catch(error => {
          if (error.graphQLErrors[0].extensions.validation) {
            this.errors = error.graphQLErrors[0].extensions.validation
          }
        }).finally(() => {
          this.updating = false
        })
      },
      reject() {
        this.updating = true
        this.$apollo.mutate({
          mutation: REJECT_ADDITION,
          variables: {
            groupId: this.groupId,
            requirementId: this.requirementId,
            content: this.content
          },
          update: store => {
            let query = {
              query: COUNT_REQUIREMENT_QUERY,
              variables: { groupId: this.groupId }
            }
            let data = store.readQuery(query)
            if (data.count_requirement > 0) {
              data.count_requirement -= 1
            }
            store.writeQuery({ ...query, data: data })
          }
        }).then(() => {
          this.$awn.success(this.$t('word.updated'))
        }).catch(error => {
          if (error.graphQLErrors[0].extensions.validation) {
            this.errors = error.graphQLErrors[0].extensions.validation
          }
        }).finally(() => {
          this.updating = false
        })
      }
    }
  }
</script>
<style scoped>
  @import './../../assets/css/bootstrap-clockpicker.min.css';

  .badge {
    font-weight: 400;
    padding: 5px;
    color: #333333;
  }
</style>