<template>
  <div class="modal-content">
    <p class="alert alert-info">{{ $t('requirement.handle_join_group') }}
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
    </p>
    <div class="white-box col">
      <div class="row">
        <div class="col card card-body">
          <div class="col-xs-2">
            <img :src="$avatar(payload.creator.avatars)" class="img-circle" width="45">
          </div>
          <div class="col-xs-4 m-t-15">
            {{ $getFullName(payload.creator.first_name, payload.creator.last_name) }}
          </div>
          <div class="col-xs-3 m-t-15">
            {{ payload.creator.phone_number }}
          </div>
          <div v-if="payload.is_exec" class="col-xs-3 btn-group m-t-10">
            <button type="button" class="btn btn-primary btn-outline btn-sm" disabled>
              <i class="fa fa-user-plus"></i> {{ $t('word.processed') }}
            </button>
          </div>
          <div v-else v-check="{permission: 'requirement.handle'}" class="col-xs-3 btn-group m-t-10">
            <button class="btn btn-outline btn-default btn-sm" data-toggle="dropdown">
              <i class="fa fa-check"></i> <span>{{ $t('word.employee') }}</span>
              <i class="fa fa-caret-down"></i></button>
            <ul role="menu" class="dropdown-menu">
              <li>
                <a href="javascript:void(0)" @click.prevent="handle(1)">
                  <i class="fa fa-user-alt"></i> {{ $t('word.accept') }}
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" @click.prevent="handle(0)">
                  <i class="fa fa-user-alt-slash"></i> {{ $t('word.deny') }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { HANDLE_JOIN_GROUP } from '../../api'

  export default {
    name: 'JoinGroup',
    props: {
      payload: {
        type: Object,
        default: () => {}
      }
    },
    data() {
      return {
        requirement: {}
      }
    },
    created() {

    },
    methods: {
      handle(status) {
        axios.put(`${HANDLE_JOIN_GROUP}/${this.payload._id}`, { status: status })
            .then(res => {
              this.$awn.success(res.data.message)
            })
      }
    }
  }
</script>

<style scoped>

</style>