<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <h4 class="page-title">{{ $t('requirement.switch_shift') }}</h4>
      </div>
      <div class="col-lg-8 col-sm-6 col-xs-12">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{ name: 'home' }">{{ $t('word.home') }}</router-link>
          </li>
          <li class="active">{{ $t('word.requirement') }}</li>
        </ol>
      </div>
    </div>
    <div v-if="requirement.is_exec" class="row alert alert-warning">
      <div class="col"><i class="fa fa-exclamation-triangle"></i> <strong>{{ $t('requirement.executed') }}</strong>
      </div>
      <span v-if="requirement.notification && requirement.notification.type == 22"
            class="badge badge-danger col-auto">
        {{ $t('requirement.rejected') }}  {{ requirement.updated_at }}
      </span>
      <span v-else-if="requirement.notification && requirement.notification.type == 21"
            class="badge badge-success col-auto">
        {{ $t('requirement.approved') }}  {{ requirement.updated_at }}
      </span>
    </div>
    <div v-if="!loading" class="row">
      <div class="col-xs-12 col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading"> {{ $t('time_keeping.timekeeping_info') }}</div>
          <div class="white-box">
            <table class="table">
              <tbody>
                <tr>
                  <td>{{ $t('shifts.shift_name') }}</td>
                  <td><b>{{ requirement.timekeeping.shift_name }}</b></td>
                </tr>
                <template v-for="time in requirement.timekeeping.times">
                  <tr :key="time">
                    <td>{{ $t('word.checkin') }}</td>
                    <td v-if="time.checkin"><b>{{ time.checkin.time }}</b></td>
                  </tr>
                  <tr :key="time + '1'">
                    <td>{{ $t('word.checkout') }}</td>
                    <td v-if="time.checkout"><b>{{ time.checkout.time }}</b></td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="panel panel-info">
          <div class="panel-heading"> {{ $t('word.request') }}</div>
          <div class="white-box">
            <table class="table">
              <tbody>
                <tr>
                  <td>{{ $t('word.name') }}</td>
                  <td>{{ requirement.creator ? $getFullName(requirement.creator.first_name,
                                                            requirement.creator.last_name) : '' }}
                  </td>
                </tr>
                <tr>
                  <td>{{ $t('word.date') }}</td>
                  <td>{{ requirement.timekeeping.date }}</td>
                </tr>
                <tr>
                  <td>{{ $t('shifts.shift_name') }}</td>
                  <td><b>{{ requirement.shift.name }}</b></td>
                </tr>
                <template v-for="time in requirement.shift.times">
                  <template v-if="time.checkin">
                    <tr :key="time">
                      <td>{{ $t('word.checkin') }}</td>
                      <td><b>{{ time.checkin }}</b></td>
                    </tr>
                    <tr :key="time + '1'">
                      <td>{{ $t('word.checkout') }}</td>
                      <td><b>{{ time.checkout }}</b></td>
                    </tr>
                  </template>
                </template>
                <tr>
                  <td style="min-width: 90px;">{{ $t('word.content') }}</td>
                  <td>{{ requirement.content }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="panel panel-success">
          <div class="panel-heading"> {{ $t('requirement.handle_request') }}</div>
          <div class="white-box">
            <form class="form-horizontal" autocomplete="off">
              <div class="form-group">
                <label class="col-sm-3 control-label">{{ $t('word.content') }}</label>
                <div class="col-sm-9">
                  <div class="input-group">
                    <textarea v-model="content"
                              class="form-control"
                              rows="4"
                              :disabled="requirement.is_exec"></textarea>
                    <div class="input-group-addon"><i class="fa fa-book"></i></div>
                  </div>
                  <span v-if="errors.content" class="text-danger">
                    <strong>{{ errors.content[0] }}</strong>
                  </span>
                </div>
              </div>
              <div v-check="{permission: 'requirement.handle'}" class="form-group m-b-0">
                <div class="text-center">
                  <button id="reject"
                          type="button"
                          class="btn btn-danger btn-rounded m-t-10"
                          :disabled="requirement.is_exec"
                          @click="confirmRequire('deny')">
                    {{ $t('word.reject') }}
                  </button>
                  <button id="approve"
                          type="button"
                          class="btn btn-info btn-rounded m-t-10"
                          :disabled="requirement.is_exec"
                          @click.prevent="confirmRequire('accept')">
                    {{ $t('word.confirm') }}
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div v-else class="spinner-rise">
      <rise-loader :loading="loading" :color="'#27a1f2'"></rise-loader>
    </div>
  </div>
</template>
<script>
  import { GET_REQUIREMENT_TIMEKEEPING, HANDLE_SWITCH_SHIFT } from '../../api'
  import RiseLoader from 'vue-spinner/src/RiseLoader'

  export default {
    components: { RiseLoader },
    data() {
      return {
        loading: false,
        requirement: {},
        errors: {},
        content: '',
        shift: {},
      }
    },
    computed: {
      requirementId() {
        return this.$route.params.id
      },
    },
    watch: {
      'requirementId': function() {
        this.getRequirement()
      }
    },
    created() {
      this.getRequirement()
    },
    methods: {
      getRequirement() {
        this.loading = true
        axios.get(`${GET_REQUIREMENT_TIMEKEEPING}/${this.requirementId}`)
            .then(result => {
              this.requirement = result.data.requirement
              this.shift = result.data.shift
              if (this.requirement.is_exec) {
                this.content = this.requirement.notification.content
              }
            })
            .finally(() => {
              this.loading = false
            })
      },
      confirmRequire(status) {
        let conf = confirm(this.$t('requirement.confirm_witch_shift', {
          status: this.$t(`word.${status}`).toLowerCase()
        }))
        if (conf) {
          let payload = {
            content: this.content,
          }
          axios.put(`${HANDLE_SWITCH_SHIFT}/${this.requirementId}/${status}`, payload)
              .then(result => {
                this.$awn.success(result.data.message)
                this.$router.push({ name: 'home' })
              })
              .catch(error => {
                if (error.response && error.response.status == 422) {
                  this.errors = error.response.data.errors
                }
              })
        }
      }
    }
  }
</script>
<style scoped>
  .badge {
    font-weight: 400;
    padding: 5px;
    color: #333333;
  }
</style>