<template>
  <ul class="ml-auto p-2 nav navbar-top-links navbar-right pull-right">
    <li id="#wrap" class="dropdown">
      <a href="javascript:void(0)" class="dropdown-toggle profile-pic" data-toggle="dropdown">
        <div class="row">
          <avatar :username="lastname"
                  :size="32"
                  alt="user-img"
                  class="avatar"
                  color="#fff"
                  :src="avatar.x1"
                  :custom-style="{'margin': '6px'}"></avatar>
          <b class="hidden-xs m-r-10">{{ firstname }} <i class="fa fa-caret-down"></i></b>
        </div>
      </a>
      <ul class="dropdown-menu dropdown-user animated flipInY">
        <li>
          <div class="dw-user-box" style="display: flex">
            <div class="u-img">
              <avatar :username="lastname"
                      alt="user"
                      color="#fff"
                      :rounded="false"
                      :custom-style="{'border-radius': '5px'}"
                      :src="avatar.x2"></avatar>
            </div>
            <div class="u-text">
              <h4>{{ firstname }}</h4>
              <p class="text-muted" data-toggle="tooltip" :title="email">{{ email }}</p>
            </div>
          </div>
        </li>
        <li role="separator" class="divider"></li>
        <li>
          <router-link :to="{ name: 'user.profile', params: { userId: $store.getters.id || 'null' } }">
            <i class="fa fa-user"></i> {{ $t("word.my_profile") }}
          </router-link>
        </li>
        <li role="separator" class="divider"></li>
        <li>
          <a :href="webDomain"><i class="fa fa-home"></i> {{ $t("word.home") }}</a>
        </li>
        <li role="separator" class="divider"></li>
        <li>
          <router-link :to="{ name: 'home' }">
            <i class="mdi mdi-coffee"></i> {{ $t("word.restaurant_manage") }}
          </router-link>
        </li>
        <li role="separator" class="divider"></li>
        <li>
          <a href="javascript:void(0)" @click.prevent="logout()">
            <i class="fa fa-power-off"></i> {{ $t("word.logout") }}
          </a>
        </li>
      </ul>
    </li>
  </ul>
</template>

<script>
  import logout from './../../../../mixins/logout.js'

  export default {
    mixins: [logout],
    computed: {
      firstname() {
        return this.$store.getters.firstname
      },
      lastname() {
        return this.$store.getters.lastname
      },
      email() {
        return this.$store.getters.email
      },
      avatar() {
        return this.$store.getters.avatar
      },
      webDomain() {
        return window.Laravel.webDomain
      }
    },
    methods: {
      logout() {
        $('.dropdown-menu').on('click', function(e) {
          e.stopPropagation()
        })
        this.logoutExec()
      },
    }
  }
</script>