<template>
  <div class="box-loading col-12">
    <div class="box-item box-item-xl"></div>
    <div class="box-item box-item-lg"></div>
    <div class="box-item box-item-sm"></div>
    <div class="box-item box-item-md"></div>
    <div class="box-item box-item-lg"></div>
    <div class="box-item box-item-xl"></div>
  </div>
</template>
<style scoped>
  .box-loading {
    padding: 10px;
  }
  .box-item {
    height: 8px;
    border-radius: 10px;
    margin-bottom: 30px;
    background: #f6f7f9;
  }
  .box-item-sm {
    width: 33%;
  }
  .box-item-md {
    width: 65%;
  }
  .box-item-lg {
    width: 75%;
  }
  .box-item-xl {
    width: 95%;
  }
  [class*="box-item"] {
    animation: timeline;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px auto;
  }
  @keyframes timeline {
    0% {
      background-position: -350px 0;
  }
    100% {
      background-position: 400px 0; }
  }
</style>