<template>
  <div class="panel panel-default text-center p-20">
    <pulse-loader :loading="true" :color="'#27a1f2'" class="m-t-20"></pulse-loader>
  </div>
</template>
<script>
  import PulseLoader from 'vue-spinner/src/PulseLoader'
  export default {
    components: { PulseLoader }
  }
</script>