<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-12 col-sm">
        <h4 class="page-title">{{ $t('restaurant.manage_import_invoice') }}</h4>
      </div>
      <div class="col-12 col-sm-auto">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{ name: 'home' }">{{ $t('word.home') }}</router-link>
          </li>
          <li>
            <router-link :to="{ name: 'restaurant.import_invoice.list' }">{{ $t('restaurant.import_invoice.list') }}
            </router-link>
          </li>
          <li class="active">{{ $t('word.create') }}</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="white-box col-12">
        <div class="row">
          <div class="col-12 col-md-8">
            <div class="form-group col-10 col-md-8">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-search"></i>
                </div>
                <input v-model="name"
                       v-click-outside="hidden"
                       type="text"
                       class="form-control"
                       :placeholder="$t('restaurant.good.name')"
                       @input="search"
                       @focus="showGoods = true">
              </div>
              <div v-if="showGoods" class="list-goods">
                <div v-if="loading" class="goods-item text-center">
                  <clip-loader :loading="loading" :color="'#27a1f2'" :size="'15px'"></clip-loader>
                </div>
                <template v-else-if="goods.length > 0">
                  <div v-for="good in goods"
                       :key="good._id"
                       class="goods-item"
                       @click="selectGoods(good)">
                    <div class="row">
                      <span class="col-12 col-sm-12">
                        <strong>{{ good.name }}</strong>
                      </span>
                      <span class="col-12 col-md-6">{{ good.code }}</span>
                      <span
                        class="col-12 col-md-6">{{ $t('restaurant.good.price') }}: {{ good.code }}</span>
                      <span class="col-12 col-md-6">
                        {{ $t('restaurant.good.inventory_number') }}: {{ good.inventory_number }}
                        {{ getUnit(good.unit) }}</span>
                    </div>
                  </div>
                </template>
                <div v-else class="goods-item text-center">{{ $t('word.no_data') }}</div>
              </div>
            </div>
            <div class="form-material">
              <table class="table color-table info-table table-responsive">
                <thead>
                  <tr>
                    <th>{{ $t('word.sort') }}</th>
                    <th>{{ $t('restaurant.good.code') }}</th>
                    <th>{{ $t('restaurant.good.name') }}</th>
                    <th>{{ $t('word.count') }}</th>
                    <th>{{ $t('restaurant.good.price_import') }}</th>
                    <th>{{ $t('word.discount') }}</th>
                    <th>{{ $t('word.total_money') }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(good, index) in goodsSelected" :key="good._id">
                    <td>
                      {{ index + 1 }}
                      <span>
                        <i class="fa fa-times cursor-pointer"
                           @click="goodsSelected.splice(index, 1)"></i>
                      </span>
                    </td>
                    <td>{{ good.code }}</td>
                    <td>{{ good.name }}</td>
                    <td>
                      <div class="input-group col-12">
                        <input class="form-control text-right"
                               type="number"
                               min="0"
                               :value="good.count"
                               @input="changeCount($event.target.value, index)">
                        <div class="input-group-addon input-empty">
                          <span>{{ getUnit(good.unit) }}</span>
                        </div>
                      </div>
                    </td>
                    <td>
                      <input type="number"
                             class="form-control text-right"
                             min="0"
                             step="1000"
                             :value="good.price"
                             @input="changePrice($event.target.value, index)">
                    </td>
                    <td>
                      <div class="input-group col-12">
                        <input type="number"
                               class="form-control text-right"
                               min="0"
                               :max="good.discount_type == 1 ? good.price : '100'"
                               :step="good.discount_type == 1 ? '1000' : '1'"
                               :value="good.discount"
                               @input="changeDiscount($event.target.value, index)">
                        <div class="input-group-addon input-discount cursor-pointer"
                             data-toggle="tooltip"
                             :title="$t('word.click_to_change')"
                             @click="changeDiscountType(index)">
                          <span>{{ good.discount_type == 1 ? 'VND' : '%' }}</span>
                        </div>
                      </div>
                    </td>
                    <td>{{ formatPrice(getMoney(good)) }}</td>
                  </tr>
                </tbody>
              </table>
              <div v-if="goodsSelected.length == 0" class="no-goods col-12">
                <div class="group-upload text-center">
                  <div class="m-b-15">
                    <h4>{{ $t('restaurant.import_invoice.add_good_from_excel') }}</h4>
                    <div>
                      ({{ $t('import_export.download_file_example') }} {{ $t('word.here') }}:
                      <a :href="exampleCSV">
                        <b>CSV</b>
                      </a>,
                      <a :href="exampleXLSX">
                        <b>XLSX</b>
                      </a>)
                    </div>
                    <p class="note">{{ $t('restaurant.import_invoice.note_import_invoice') }}</p>
                  </div>
                  <div class="form-group text-center m-b-10">
                    <div data-provides="fileinput" class="fileinput fileinput-new cursor-pointer">
                      <button class="btn btn-success btn-file">
                        <span class="fileinput-new">
                          <i class="fa fa-file-excel"></i>
                          {{ $t('word.upload_file') }}
                        </span>
                        <input type="file" name="file" @change="processFiles">
                      </button>
                    </div>
                  </div>
                  <div v-if="file">
                    <div class="m-b-10">
                      <span class="file-name">{{ file.name }}</span>
                      <button v-show="errorsParse"
                              class="upload-file"
                              data-toggle="tooltip"
                              :title="$t('word.detail')"
                              @click="showErrors()">
                        <i class="fa fa-pencil-alt"></i>
                      </button>
                      <button class="m-l-30 btn btn-info"
                              style="margin-top: -1px"
                              :disabled="checking"
                              @click="parseFile()">
                        <i :class="[checking ? 'far fa-spin fa-circle-notch' : 'fa fa-sync-alt']"></i>
                        {{ $t('word.perform') }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 form-material">
            <div class="form-group" :class="{'has-error': errors.code}">
              <label for>{{ $t('restaurant.import_invoice.code') }}</label>
              <input v-model="code" type="text" class="form-control" :placeholder="$t('word.auto')">
            </div>
            <div class="form-group">
              <label for>{{ $t('word.note') }}</label>
              <textarea v-model="note" type="text" class="form-control"></textarea>
            </div>
            <div>
              <span for>{{ $t('word.total_money') }}: {{ getTotalMoney }}</span>
            </div>
            <div class="form-group">
              <label for>{{ $t('word.payment') }}</label>
              <div class="row m-0 text-center">
                <div class="col radio radio-success">
                  <input id="cash" v-model="payment" type="radio" :value="paymentMethods.cash">
                  <label for="cash">{{ $t('word.cash') }}</label>
                </div>
                <div class="col radio radio-success m-t-10">
                  <input id="card" v-model="payment" type="radio" :value="paymentMethods.transfer">
                  <label for="card">{{ $t('word.card') }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <button type="button"
                    class="btn btn-success"
                    :disabled="saving"
                    @click.prevent="store()">
              <i :class="[saving ? 'far fa-circle-notch fa-spin' : 'fa fa-save']"></i>
              {{ $t('word.payment') }}
            </button>
            <button class="btn btn-danger" @click="redirectList()">
              <i class="fa fa-remove"></i>
              {{ $t('word.cancel') }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <error-parse :errors="errorsParse" :file="file"></error-parse>
    <confirm :title="$t('word.save_change')"
             :message="$t('word.confirm_save_change_invoice')"
             @confirmed="confirm"></confirm>
  </div>
</template>

<script>
  import {
    LIST_IMPORTED_GOODS,
    STORE_IMPORT_INVOICE,
    CHECK_INFO_GOODS_UPLOAD
  } from '../../../api'
  import ClipLoader from 'vue-spinner/src/ClipLoader'
  import handleUploadFileExcel from './../../../mixins/handle_upload_file_excel.js'
  import Papa from 'papaparse'
  import XLSX from 'xlsx'
  import ErrorParse from './errors_parse_file'
  import { formatPrice } from '../../../helpers/handle_function.js'
  import Confirm from './../../elements/confirm'
  import handleUnit from './../../../mixins/handle_unit.js'
  import { PAYMENT_METHOD } from '../../../constants'

  export default {
    name: 'Create',
    components: {
      ClipLoader,
      ErrorParse,
      Confirm
    },
    mixins: [handleUploadFileExcel, handleUnit],
    data() {
      return {
        loading: false,
        saving: false,
        goods: [],
        name: '',
        goodsSelected: [],
        showGoods: false,
        code: '',
        note: '',
        payment: 1,
        errors: {},
        checking: false,
        errorsParse: null
      }
    },
    computed: {
      getTotalMoney() {
        let total = 0
        for (let good of this.goodsSelected) {
          total += this.getMoney(good)
        }
        return formatPrice(total)
      },
      exampleCSV() {
        let path = `sample_files/${this.$i18n.locale}/`
        switch (this.$i18n.locale) {
          case 'vi':
            path = path + 'MauFileNhapHang.csv'
            break
          case 'en':
            path = path + 'ImportedGoodsFileTemplate.csv'
            break
        }
        return this.$baseUrl(path)
      },
      exampleXLSX() {
        let path = `sample_files/${this.$i18n.locale}/`
        switch (this.$i18n.locale) {
          case 'vi':
            path = path + 'MauFileNhapHang.xlsx'
            break
          case 'en':
            path = path + 'ImportedGoodsFileTemplate.xlsx'
            break
        }
        return this.$baseUrl(path)
      },
      paymentMethods() {
        return PAYMENT_METHOD
      }
    },
    updated() {
      $('[data-toggle="tooltip"]').tooltip()
    },
    methods: {
      search: _.debounce(function(e) {
        if (e.target.value != '') {
          this.loading = true
          this.name = e.target.value
          axios.get(`${LIST_IMPORTED_GOODS}?name=${this.name}`).then(res => {
            this.loading = false
            this.goods = res.data.goods
          })
        }
      }, 200),
      selectGoods(good) {
        this.showGoods = false
        let obj = this.goodsSelected.find(obj => obj.code == good.code)
        if (!obj) {
          this.goodsSelected.push({
            id: good._id,
            code: good.code,
            name: good.name,
            count: 1,
            unit: good.unit,
            price: parseInt(good.price),
            discount: 0,
            discount_type: 1
          })
        }
      },
      formatPrice(number) {
        return formatPrice(number)
      },
      parseFile() {
        this.checking = true
        if (this.file.name.split('.').pop() == 'csv') {
          this.papaParse(this.file)
        } else {
          this.parseFileExcel()
        }
      },
      papaParse(data) {
        Papa.parse(data, {
          skipEmptyLines: 'greedy',
          complete: async records => {
            var array = []
            await records.data.slice(1).forEach(arr => {
              let obj = {
                code: arr[0],
                name: arr[1],
                count: arr[2] || 1,
                price: arr[3],
                discount: arr[4] || 0,
                discount_type: arr[5] || 1
              }
              array.push(obj)
            })
            axios
                .post(CHECK_INFO_GOODS_UPLOAD, { rows: array })
                .then(res => {
                  this.checking = false
                  this.errorsParse = null
                  this.goodsSelected = res.data.goods
                })
                .catch(err => {
                  this.checking = false
                  if (err.response && err.response.status == 422) {
                    this.errorsParse = err.response.data.errors
                    $('#errorParse').modal('show')
                  }
                })
          }
        })
      },
      getMoney(good) {
        if (good.discount_type == 1) {
          return parseInt((good.price - good.discount) * good.count)
        } else {
          return parseInt(good.count * good.price * (1 - good.discount / 100))
        }
      },
      showErrors() {
        $('#errorParse').modal('show')
      },
      parseFileExcel() {
        var reader = new FileReader()
        reader.onload = e => {
          var data = e.target.result
          var workbook = XLSX.read(data, { type: 'binary' })
          var first_sheet_name = workbook.SheetNames[0]
          var csvString = XLSX.utils.sheet_to_csv(
              workbook.Sheets[first_sheet_name]
          )
          this.papaParse(csvString)
        }
        reader.readAsBinaryString(this.file)
      },
      hidden() {
        this.showGoods = false
      },
      changeCount(value, index) {
        if (value) {
          this.goodsSelected[index].count =
              parseInt(value) >= 1 ? parseInt(value) : 1
        }
        this.$set(this.goodsSelected, index, this.goodsSelected[index])
      },
      changePrice(value, index) {
        if (value) {
          this.goodsSelected[index].price =
              parseInt(value) >= 1 ? parseInt(value) : 0
          if (
              this.goodsSelected[index].discount_type == 1 &&
              this.goodsSelected[index].price < this.goodsSelected[index].discount
          ) {
            this.goodsSelected[index].discount = this.goodsSelected[index].price
          }
        }
        this.$set(this.goodsSelected, index, this.goodsSelected[index])
      },
      changeDiscount(value, index) {
        let good = this.goodsSelected[index]
        if (value) {
          if (good.discount_type == 1) {
            if (parseInt(value) > good.price) {
              good.discount = good.price
            } else if (parseInt(value) < 0) {
              good.discount = 0
            } else {
              good.discount = parseInt(value)
            }
          } else {
            if (parseInt(value) > 100) {
              good.discount = 100
            } else if (parseInt(value) < 0) {
              good.discount = 0
            } else {
              good.discount = parseInt(value)
            }
          }
        }
        this.$set(this.goodsSelected, index, this.goodsSelected[index])
      },
      changeDiscountType(index) {
        this.goodsSelected[index].discount_type =
            this.goodsSelected[index].discount_type == 1 ? 2 : 1
        this.changeDiscount(this.goodsSelected[index].discount, index)
      },
      store(status = 2) {
        this.saving = true
        let payload = {
          goods: this.goodsSelected,
          code: this.code,
          note: this.note,
          status: status,
          payment_method: this.payment
        }
        axios
            .post(STORE_IMPORT_INVOICE, payload)
            .then(res => {
              this.saving = false
              this.$awn.success(res.data.message)
              this.$router.push({ name: 'restaurant.import_invoice.list' })
            })
            .catch(err => {
              this.saving = false
              if (err.response && err.response.status == 422) {
                this.errors = err.response.data.errors
                if (this.errors.goods) this.$awn.alert(this.errors.goods[0])
              }
            })
      },
      redirectList() {
        if (this.goodsSelected.length) {
          $('#confirm').modal('show')
        } else {
          this.$router.push({ name: 'restaurant.import_invoice.list' })
        }
      },
      confirm(value) {
        if (value) {
          this.store(1)
        } else {
          this.$router.push({ name: 'restaurant.import_invoice.list' })
        }
      }
    },
  }
</script>

<style scoped lang="scss">
  @import "./../../../assets/css/jquery.bootstrap-touchspin.min.css";

  .list-goods {
    position: absolute;
    top: 100%;
    width: calc(100% - 30px);
    background-color: white;
    cursor: pointer;
    z-index: 3;
    max-height: 200px;
    overflow: auto;
    .goods-item {
      border: solid #cccccc;
      border-width: 0 1px 1px 1px;
      padding: 10px 15px;
      font-size: 11px;
      &:hover {
        background-color: #f5f5f5;
        color: #555;
      }
    }
  }

  .fa-times {
    line-height: 0.8;
    &:hover {
      padding: 3px;
      background-color: red;
      border-radius: 50%;
    }
  }

  .no-goods {
    display: flex;
    min-height: 300px;
    .group-upload {
      margin: auto;
    }
  }

  .note {
    color: red;
    text-decoration: inherit;
  }

  .file-name {
    padding: 9px 15px;
    background-color: #4eabe3;
  }

  .upload-file {
    background-color: red;
    border: none;
    padding: 7px 10px;
    color: white;
  }

  th {
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7) {
      text-align: right;
    }
  }

  td {
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7) {
      text-align: right;
    }
  }

  .input-discount {
    background-color: white;
    border: none;
    width: 54px;
    &:hover {
      background-color: #00f3ff;
    }
  }

  th {
    &:nth-child(4),
    &:nth-child(5) {
      width: 100px;
    }
    &:nth-child(6) {
      width: 150px;
    }
  }

  .input-empty {
    background-color: white;
    border: none;
    padding-right: 0;
  }
</style>
