<template>
  <div class="modal-content">
    <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <div class="row">
        <div class="col-md-8 col-12">
          <h3 class="box-title">{{ $t('restaurant.invoice.detail') }}</h3>
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td width="40%">{{ $t('restaurant.import_invoice.code') }}</td>
                  <td>{{ payload.code }}</td>
                </tr>
                <tr>
                  <td width="40%">{{ $t('word.created_at') }}</td>
                  <td>{{ convertToDateTime(payload.created_at) }}</td>
                </tr>
                <tr>
                  <td width="40%">{{ $t('restaurant.invoice.recipient') }}</td>
                  <td>{{ payload.recipient.last_name }} {{ payload.recipient.first_name }}</td>
                </tr>
                <tr>
                  <td width="40%">{{ $t('word.status') }}</td>
                  <td>
                    <span
                      v-if="payload.status == 1"
                      class="label label-success">{{ $t('restaurant.invoice.inited') }}</span>
                    <span
                      v-else-if="payload.status == 2"
                      class="label label-info">{{ $t('restaurant.invoice.purchased') }}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div>{{ payload.note }}</div>
        </div>
      </div>
      <div class="row col-12">
        <table class="table color-table info-table table-responsive">
          <thead>
            <tr>
              <th>{{ $t('restaurant.good.code') }}</th>
              <th>{{ $t('restaurant.good.name') }}</th>
              <th>{{ $t('word.count') }}</th>
              <th>{{ $t('restaurant.good.price') }}</th>
              <th>{{ $t('word.discount') }}</th>
              <th>{{ $t('word.total_money') }}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-if="payload.goods && payload.goods.length == 0" class="text-center">
              <td colspan="5">{{ $t('word.no_data') }}</td>
            </tr>
            <template v-else>
              <tr v-for="(good, index) in payload.goods" :key="index">
                <td>{{ good.code }}</td>
                <td>{{ good.name }}</td>
                <td>{{ formatPrice(good.count) + getUnit(good.unit) }}</td>
                <td>{{ formatPrice(good.price) }}</td>
                <td>{{ formatPrice(good.discount) }}{{ good.discount_type == 2 ? '%' : 'VND' }}</td>
                <td>{{ getMoney(good) }}</td>
              </tr>
              <tr class="text-right">
                <td colspan="5">
                  <span>
                    <strong>{{ $t('word.total_money') }}:</strong>
                  </span>
                </td>
                <td>{{ total }}</td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <template>
        <button
          v-if="payload.status == 1"
          v-check="{permission: 'imported-invoice.create'}"
          class="btn btn-success"
          @click="confirmPaid()">
          <i class="fa fa-paypal"></i>
          {{ $t('word.payment') }}
        </button>
      </template>
      <button type="button" class="btn btn-default" data-dismiss="modal">
        <i class="far fa-ban"></i>
        {{ $t('word.close') }}
      </button>
    </div>
  </div>
</template>

<script>
  import { convertToDateTime } from './../../../helpers/handle_date_time.js'
  import { formatPrice } from './../../../helpers/handle_function.js'
  import { PAY_IMPORT_INVOICE } from './../../../api.js'
  import handleUnit from './../../../mixins/handle_unit.js'
  import { priceGoodsAfterDiscount, totalInvoice } from './../../../helpers/calculate_invoice.js'

  export default {
    name: 'Detail',
    mixins: [handleUnit],
    props: {
      payload: {
        type: Object,
        default: null
      }
    },
    computed: {
      total() {
        return formatPrice(totalInvoice(this.payload))
      }
    },
    methods: {
      convertToDateTime(date) {
        return convertToDateTime(date)
      },
      formatPrice(number) {
        return formatPrice(number)
      },
      getMoney(good) {
        return priceGoodsAfterDiscount(good)
      },
      confirmPaid() {
        let conf = confirm(this.$t('restaurant.import_invoice.confirm_pay'))
        if (conf) {
          axios.put(`${PAY_IMPORT_INVOICE}/${this.payload._id}`).then(res => {
            bus.$emit('paidImportInvoice', this.payload._id)
            $('#modal').modal('hide')
            this.$awn.success(res.data.message)
          })
        }
      }
    }
  }
</script>

<style scoped lang="scss">
  .table {
    th,
    td {
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        text-align: right;
      }
    }
  }
</style>