<template>
  <div id="errorParse" class="modal fade" data-modal-index="2">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 v-if="file" class="modal-title">{{ file.name }}</h4>
          <div class="clearfix"></div>
        </div>
        <div class="modal-body">
          <div v-if="errors">
            <ul class="group-error">
              <template v-for="(property, key) in errors">
                <li
                  v-for="(error, index) in property"
                  :key="key + index"
                  class="text-danger">{{ error }}</li>
              </template>
            </ul>
          </div>
          <p class="text-danger">
            <i>{{ $t('restaurant.good.note_error_parse_file') }}</i>
          </p>
        </div>
        <div class="modal-footer">
          <button
            v-if="!hasErrorPrice"
            type="button"
            class="btn btn-info"
            data-dismiss="modal"
            @click.prevent="confirm()">
            <i class="fa fa-save"></i>
            {{ $t('word.confirm') }}
          </button>
          <button class="btn btn-default" data-dismiss="modal">
            <i class="fa fa-remove"></i>
            {{ $t('word.cancel') }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ErrorsParseFile',
  props: {
    errors: {
      type: Object,
      default: null
    },
    file: {
      type: File,
      default: null
    }
  },
  data() {
    return {}
  },
  computed: {
    hasErrorPrice() {
      for (let error in this.errors) {
        if (error.split('.').pop() == 'price_origin') {
          return true
        }
      }
      return false
    }
  },
  methods: {
    confirm() {}
  }
}
</script>

<style scoped>
.group-error {
  max-height: 200px;
  overflow: auto;
}
</style>