<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-12 col-sm">
        <h4 class="page-title">{{ $t('restaurant.manage_import_invoice') }}</h4>
      </div>
      <div class="col-12 col-sm-auto">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{ name: 'home' }">{{ $t('word.home') }}</router-link>
          </li>
          <li class="active">{{ $t('restaurant.import_invoice.list') }}</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="white-box col-12">
        <div class="row clearfix">
          <h3 class="col-12 box-title row justify-content-end">
            <span class="col-sm hidden-xs row">{{ $t('word.list') }}</span>
            <div class="col-auto row">
              <button
                class="btn btn-info m-r-10"
                data-toggle="collapse"
                data-target="#search"
                aria-expanded="false"
                aria-controls="collapseExample">
                <i class="fa fa-search"></i>
                {{ $t('word.filter') }}
              </button>
              <router-link
                v-check="{permission: 'imported-invoice.create'}"
                class="btn btn-info"
                :to="{ name: 'restaurant.import_invoice.create' }">
                <i class="fa fa-plus"></i>
                {{ $t('word.create') }}
              </router-link>
            </div>
          </h3>
          <div class="col-12">
            <div class="row">
              <div id="search" class="collapse col-12">
                <div class="row justify-content-center">
                  <div class="form-group col-6 col-md">
                    <date-picker
                      v-model="startDate"
                      :language="language"
                      input-class="form-control"
                      wrapper-class="wrapper"
                      format="dd-MM-yyyy"
                      :placeholder="$t('word.start_date')"
                      @input="search"></date-picker>
                  </div>
                  <div class="form-group col-6 col-md">
                    <date-picker
                      v-model="endDate"
                      :language="language"
                      input-class="form-control"
                      wrapper-class="wrapper"
                      format="dd-MM-yyyy"
                      :placeholder="$t('word.end_date')"
                      @input="search"></date-picker>
                  </div>
                  <div class="form-group col-6 col-md">
                    <multiselect
                      v-model="statusSelected"
                      :options="statusOptions"
                      label="name"
                      track-by="value"
                      :searchable="false"
                      :show-labels="false"
                      :placeholder="$t('word.status')"
                      @input="search"></multiselect>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table color-table info-table invoice-table">
            <thead>
              <tr>
                <th>#</th>
                <th>{{ $t('restaurant.import_invoice.code') }}</th>
                <th>{{ $t('restaurant.invoice.recipient') }}</th>
                <th>{{ $t('word.created_at') }}</th>
                <th>{{ $t('word.total_money') }}</th>
                <th>{{ $t('word.payment') }}</th>
                <th>{{ $t('word.status') }}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="loading">
                <td colspan="7">
                  <pulse-loader :loading="loading" :color="'#27a1f2'"></pulse-loader>
                </td>
              </tr>
              <template v-else-if="invoices.data && invoices.data.length > 0">
                <tr v-for="(invoice, index) in invoices.data" :key="invoice.id">
                  <td>{{ index + 1 }}</td>
                  <td>{{ invoice.code }}</td>
                  <td>{{ invoice.recipient.last_name }} {{ invoice.recipient.first_name }}</td>
                  <td>{{ convertToDateTime(invoice.created_at) }}</td>
                  <td>{{ getTotal(invoice) }}</td>
                  <td>{{ invoice.payment_method == 1 ? $t('word.cash') : $t('word.card') }}</td>
                  <td>
                    <span
                      v-if="invoice.status == 1"
                      class="label label-info">{{ $t('restaurant.import_invoice.temporary') }}</span>
                    <span
                      v-else-if="invoice.status == 2"
                      class="label label-success">{{ $t('restaurant.import_invoice.finished') }}</span>
                  </td>
                  <th>
                    <a
                      class="btn btn-info btn-circle"
                      data-toggle="tooltip"
                      :title="$t('word.detail')"
                      @click="detail(invoice)">
                      <i class="fa fa-info"></i>
                    </a>
                    <a
                      v-if="invoice.status == 2"
                      v-check="{permission: 'form-invoice.list'}"
                      class="btn btn-primary btn-circle"
                      data-toggle="tooltip"
                      :title="$t('word.print')"
                      @click="print(invoice)">
                      <i class="far fa-print"></i>
                    </a>
                    <a
                      v-else
                      v-check="{permission: 'form-invoice.list'}"
                      disabled="true"
                      class="btn btn-primary btn-circle"
                      data-toggle="tooltip">
                      <i class="far fa-print"></i>
                    </a>
                  </th>
                </tr>
              </template>
              <tr v-else>
                <td class="no-data" colspan="7">{{ $t('word.no_data') }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <pagination
          v-if="invoices.last_page > 1"
          :current-page="invoices.current_page"
          :total-page="invoices.last_page"
          @changePage="changePage"></pagination>
      </div>
    </div>
    <div style="display: none">
      <template-compiled
        :type="typeImportInvoice"
        :variables-value="variablesValue"
        :template-editor="templateSelected.content"
        :size="parseInt(templateSelected.size)"></template-compiled>
    </div>
    <select-template :templates="templates" :template="templateSelected" @selected="selectTemplate"></select-template>
  </div>
</template>

<script>
  import { LIST_IMPORT_INVOICE, LIST_INVOICE_FORM_BY_TYPE } from './../../../api.js'
  import PulseLoader from 'vue-spinner/src/PulseLoader'
  import Pagination from './../../partials/pagination'
  import DatePicker from 'vuejs-datepicker'
  import * as lang from 'vuejs-datepicker/src/locale'
  import { convertToDateTime } from './../../../helpers/handle_date_time.js'
  import TemplateCompiled from './../templates/template_compiled'
  import { INVOICE_FORM_TYPE_IMPORT_INVOICE, SIZE_A4 } from '../../../constants'
  import SelectTemplate from './../templates/select_template'
  import templateImportInvoice from './../../../helpers/import_invoice_default'
  import { formatPrice } from './../../../helpers/handle_function.js'
  import exampleTemplates from './../../../print_template/import_invoice'
  import variablesValue from './../../../mixins/set_variables_import_invoice'
  import moment from 'moment'
  import { totalInvoice } from './../../../helpers/calculate_invoice.js'

  export default {
    name: 'ListImportInvoice',
    components: {
      PulseLoader,
      Pagination,
      DatePicker,
      TemplateCompiled,
      SelectTemplate
    },
    mixins: [variablesValue],
    data() {
      return {
        loading: false,
        invoices: {},
        startDate: null,
        endDate: null,
        statusOptions: [],
        statusSelected: null,
        templates: [],
        templateSelected: {},
        variablesValue: {},
        loadedTemplate: false
      }
    },
    computed: {
      language() {
        return lang[this.locale]
      },
      typeImportInvoice() {
        return INVOICE_FORM_TYPE_IMPORT_INVOICE
      },
      locale() {
        return this.$i18n.locale
      },
      sizeA4() {
        return SIZE_A4
      }
    },
    created() {
      this.date = Date.now()
      this.statusOptions = [
        { name: this.$t('restaurant.import_invoice.temporary'), value: 1 },
        { name: this.$t('restaurant.import_invoice.finished'), value: 2 }
      ]
      this.getInvoices()
      bus.$on('paidImportInvoice', this.paidImportInvoice)
    },
    updated() {
      $('[data-toggle="tooltip"]').tooltip()
    },
    methods: {
      getInvoices(page = 1) {
        this.loading = true
        let start = this.startDate ? `start=${moment(this.startDate).format('DD-MM-YYYY')}&` : ''
        let end = this.endDate ? `end=${moment(this.endDate).format('DD-MM-YYYY')}&` : ''
        let queryStatus = this.statusSelected && this.statusSelected.value ? `status=${this.statusSelected.value}&` : ''
        axios.get(`${LIST_IMPORT_INVOICE}?${start}${end}${queryStatus}page=${page}`)
            .then(res => {
              this.loading = false
              this.invoices = res.data.invoices
            })
            .catch(() => {
              this.loading = false
            })
      },
      getTotal(invoice) {
        return formatPrice(totalInvoice(invoice))
      },
      paidImportInvoice(id) {
        let index = this.invoices.data.findIndex(obj => obj._id == id)
        this.invoices.data[index].status = 2
      },
      search() {
        this.getInvoices()
      },
      convertToDateTime(date) {
        return convertToDateTime(date)
      },
      detail(invoice) {
        bus.$emit('modal', {
          component: 'detail-import-invoice',
          size: 'lg',
          payload: invoice
        })
      },
      async print(invoice) {
        this.variablesValue = this.getValueInvoice(invoice)
        if (!this.loadedTemplate) {
          await axios
              .get(`${LIST_INVOICE_FORM_BY_TYPE}?type=${this.typeImportInvoice}`)
              .then(res => {
                this.templates = res.data.invoice_forms
                let examples = exampleTemplates[this.locale]
                for (let index in examples) {
                  this.templates.push({
                    size: index,
                    type: this.typeSaleInvoice,
                    name: this.$t('word.template_default'),
                    content: exampleTemplates[this.locale][index]
                  })
                }
                if (templateImportInvoice.getItem()) {
                  this.templateSelected = templateImportInvoice.getItem()
                } else {
                  this.templateSelected = this.templates[0]
                  templateImportInvoice.setItem(this.templateSelected)
                }
                this.loadedTemplate = true
              })
        }
        $('#selectTemplate').modal('show')
      },
      async selectTemplate(template) {
        this.templateSelected = template
        templateImportInvoice.setItem(template)
        await this.convertPrintData()
      },
      changePage(page) {
        this.getInvoices(page)
      },
      convertPrintData() {
        this.$nextTick(() => {
          bus.$emit('print', $('#invoiceForm').html())
        })
      }
    }
  }
</script>

<style scoped lang="scss">
  tr {
    th,
    td {
      &:nth-child(5) {
        text-align: right;
      }
      &:nth-child(6),
      &:nth-child(7) {
        text-align: center;
      }
    }
  }
</style>