<template>
  <div>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
        aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">{{ $t(`import_export.import.${payload}`) }}</h4>
      <div>{{ $t('import_export.download_file_example') }} {{ $t('word.here') }}:
        <a :href="exampleCSV"><b>CSV</b></a>, <a :href="exampleXLSX"><b>XLSX</b></a>
      </div>
      <i class="text-danger" style="font-size: 12px">{{ $t('import_export.note') }}</i>
    </div>
    <div class="modal-body">
      <div class="file-upload">
        <div class="">
          <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8">
              <label v-if="fileUpload != null" class="file-name">
                <span class="btn-delete-file">
                  <i class="fas fa-file text-info"></i>
                </span> {{ fileUpload.name }}
              </label>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <label class="btn btn-info pull-right" :disabled="importFile.importing">
                <i class="fa fa-copy"></i> {{ $t('import_export.select_file') }}
                <input id="uploadFile"
                       type="file"
                       name="File Upload"
                       accept=".xlsx, .xls, .csv"
                       class="hidden"
                       :disabled="importFile.importing"
                       @change="changeFile">
              </label>
            </div>
          </div>
          <div v-if="fileUpload != null && uploadStatus == 0" class="row">
            <div class="spinner-pulse">
              <pulse-loader :loading="true" :color="'#27a1f2'"></pulse-loader>
            </div>
          </div>
          <br>
          <div v-if="uploadStatus == 1" class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="list-group">
                <div class="list-group-item">
                  <span class="badge">{{ resultsParse.data ? resultsParse.data.length : 0 }}</span>
                  {{ $t('import_export.total_record') }}
                </div>
                <div v-if="resultsParse.errors.length == 0" class="list-group-item">
                  <span class="badge">0</span>
                  {{ $t('import_export.error_response') }}
                </div>
                <template v-else>
                  <div v-for="(error, index) in resultsParse.errors" :key="index" class="list-group-item">
                    <span class="badge">{{ $t('word.row') }}: {{ error.row ? error.row : $t('word.undefined') }}</span>
                    <span v-if="error.code == 'MissingQuotes'">
                      {{ $t('import_export.error_parse_data.missing_quotes') }}
                    </span>
                    <span v-else-if="error.code == 'UndetectableDelimiter'">
                      {{ $t('import_export.error_parse_data.undetectable_delimiter') }}
                    </span>
                    <span v-else-if="error.code == 'TooFewFields'">
                      {{ $t('import_export.error_parse_data.too_few_fields') }}
                    </span>
                    <span v-else-if="error.code == 'TooManyFields'">
                      {{ $t('import_export.error_parse_data.too_many_fields') }}
                    </span>
                  </div>
                </template>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div v-if="importFile.importing && (importFile.total > 0)" class="progress_import wrapper-content m-t-30">
        <h5>{{ $t('import_export.progress_import') }} ({{ importFile.index }}/{{ importFile.total }})<span
          class="pull-right">{{ progressImport }}%</span></h5>
        <div class="progress ">
          <div class="progress-bar progress-bar-info"
               :aria-valuenow="progressImport"
               aria-valuemin="0"
               aria-valuemax="100"
               :style="{ width: progressImport + '%'}"
               role="progressbar">
            <span class="sr-only">85% Complete (success)</span>
          </div>
        </div>
        <div class="actions">
          <span v-if="importFile.pausing" class="status-import">
            {{ $t('import_export.pause_import_file') }}
          </span>
          <span v-else-if="!importFile.pausing && importFile.index < importFile.total" class="status-import">
            {{ $t('import_export.running_import_file') }}
          </span>
          <span v-else-if="!importFile.pausing && importFile.index == importFile.total" class="status-import">
            {{ $t('import_export.completed_import_file') }}
          </span>
          <button class="btn btn-info pull-right btn-circle m-b-5"
                  :disabled="progressImport == 100"
                  @click="setStatusProcessImportFile">
            <i class="fa" :class="[importFile.pausing ? 'fa-play' : 'fa-pause']"></i>
          </button>
        </div>
      </div>
      <div class="clearfix"></div>
      <div v-if="progressImport == 100" class="result-import wrapper-content">
        <h5>{{ $t('import_export.result_import') }}</h5>
        <ul class="common-list">
          <li>
            <span class="result-status"><i class="fa fa-check text-success"></i></span>
            {{ $t('import_export.total_record_imported') }}:
            <span class="">{{ importFile.index }}</span>
          </li>
          <li>
            <span class="result-status"><i class="fa fa-check text-success"></i></span>
            {{ $t('import_export.record_imported_success') }}:
            <span class="">{{ importFile.success }}</span>
          </li>
          <li>
            <span class="result-status"><i class="fa fa-times text-danger"></i></span>
            {{ $t('import_export.record_imported_fail') }}:
            <span class="">{{ importFile.fail }}</span>
          </li>
        </ul>
        <div style="margin-top: 8px">
          <a class="result-detail" @click="showImportDetail()">{{ $t('word.detail') }}</a>
        </div>
      </div>
    </div>
    <div v-if="uploadStatus == 1" class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">
        <i class="far fa-ban"></i> {{ $t('word.close') }}
      </button>
      <button type="button" class="btn btn-info" @click="showPreview()">
        <i class="fa fa-eye"></i> {{ $t('word.preview') }}
      </button>
      <button type="button" class="btn btn-primary" @click="processImportFile">
        <i class="fa fa-file"></i> {{ $t('word.import_file') }}
      </button>
    </div>
  </div>
</template>
<script>
  import PulseLoader from 'vue-spinner/src/PulseLoader'
  import Papa from 'papaparse'
  import XLSX from 'xlsx'

  export default {
    components: { PulseLoader },
    props: {
      payload: {
        type: String,
        default: ''
      }  // config key "config.php => import_export => ..."
    },
    data() {
      return {
        uploadStatus: 0,      // Trạng thái upload
        fileUpload: null,     // Dữ liệu file tải lên
        resultsParse: {},     // Kết qủa phân tích file
        importFile: {
          importing: false, // Trạng thái đang import
          pausing: false,   // Trạng thái đang tạm dừng import
          total: 0,         // Tổng số bản ghi
          index: 0,         // Chỉ số đã import (trong tổng số bản ghi)
          success: 0,       // Số bản ghi import thành công
          fail: 0,          // Số bản ghi import thất bại
        },
        results: [], // Biến lưu trạng thái và nội dung import từng bản ghi
      }
    },
    computed: {
      config() {
        return this.$t(`config.import_file.${this.payload}`)
      },
      exampleCSV() {
        return this.$baseUrl(this.config.example_csv)
      },
      exampleXLSX() {
        return this.$baseUrl(this.config.example_xlsx)
      },
      api() {
        return this.$baseUrl(`api/${this.config.api}`)
      },
      progressImport() {
        if (this.importFile.total) {
          return ((this.importFile.index / this.importFile.total) * 100).toFixed(2)
        }
        return 0
      },
    },
    created() {
      $(window).bind('beforeunload', function() {
        return '1'
      })
    },
    methods: {
      changeFile(e) {
        if (!this.importFile.importing) {
          let files = e.target.files || e.dataTransfer.files
          if (!files.length) return

          this.resetParseFile()
          this.fileUpload = files[0]
          if (this.fileUpload.type == 'text/csv') {
            this.papaParse(this.fileUpload)
          } else {
            this.parseFileExcel(e, this.fileUpload)
          }
        }
      },
      papaParse(data) {
        Papa.parse(data, {
          skipEmptyLines: 'greedy',
          complete: records => {
            this.resultsParse = {
              errors: records.errors,
              header: records.data.shift(),
              data: records.data
            }
            this.uploadStatus = 1
          }
        })
      },
      parseFileExcel(e, file) {
        var reader = new FileReader()
        reader.onload = (e) => {
          var data = e.target.result
          var workbook = XLSX.read(data, { type: 'binary' })
          var first_sheet_name = workbook.SheetNames[0]
          var csvString = XLSX.utils.sheet_to_csv(workbook.Sheets[first_sheet_name])
          this.papaParse(csvString)
        }
        reader.readAsBinaryString(file)
      },
      async processImportFile() {
        this.importFile.importing = true
        this.importFile.total = this.resultsParse.data.length
        await this.loopImport()
      },
      async loopImport() {
        for (let i = this.importFile.index; i < this.resultsParse.data.length; i++) {
          if (!this.importFile.pausing) {
            await this.processFile(this.resultsParse.data[i])
          }
          else break
        }
        if (this.importFile.index == this.resultsParse.data.length) {
          this.$awn.success(this.$t('word.completed'))
          this.importFile.importing = false
        }
      },
      setStatusProcessImportFile() {
        if (this.importFile.pausing) {
          this.importFile.pausing = false
          this.loopImport()
        } else {
          this.importFile.pausing = true
        }
      },
      async processFile(record) {
        let payload = {}
        this.config.data_field.forEach((value, key) => {
          payload[value] = record[key]
        })
        let tmpMessage = ''
        await axios.post(this.api, payload)
          .then(res => {
            if (res.data.code == 1) {
              this.importFile.success++
            } else if (res.data.code == 0) {
              this.importFile.fail++
            }
            this.final(res.data.code, res.data.message)
          })
          .catch(err => {
            if (err.response.status === 429) {
              this.importFile.pausing = true
              this.$awn.alert(this.$t('import_export.too_many_record'))
            } else {
              this.importFile.fail++
              if (err.response.status === 422) {
                tmpMessage = Object.values(err.response.data.errors)[0][0]
              }
              this.final(0, tmpMessage)
            }
          })
      },
      final(status, message) {
        this.results.push({
          status: status,
          message: message
        })
        // Cập nhật chỉ số import
        this.importFile.index++
      },
      resetParseFile() {
        this.uploadStatus = 0
        this.fileUpload = null
        this.resetImportFile()
      },
      resetImportFile() {
        this.importFile = {
          pausing: false,
          importing: false,
          total: 0,
          index: 0,
          success: 0,
          fail: 0,
        }
      },
      showPreview() {
        bus.$emit('modal2', {
          component: 'import-preview',
          backdrop: 'static',
          size: 'lg',
          payload: {
            filename: this.fileUpload.name,
            data: this.resultsParse,
            config_key: this.payload
          }
        })
      },
      showImportDetail() {
        bus.$emit('modal2', {
          component: 'import-detail',
          backdrop: 'static',
          size: 'lg',
          payload: {
            filename: this.fileUpload.name,
            data: this.resultsParse,
            results: this.results,
            config_key: this.payload
          }
        })
      },
    },
  }
</script>