<template>
  <div>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">
        <span style="font-weight: bold">File import</span>
        {{ payload.filename }}
      </h4>
    </div>
    <div class="modal-body overflow-auto">
      <table data-toggle="table" data-mobile-responsive="true" class="table table-hover">
        <thead>
          <tr>
            <th v-for="(field, index) in payload.data.header" :key="index">{{ field }}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="row in dataRender" :key="row">
            <td v-for="col in row" :key="col">{{ col }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="pull-left btn btn-default">
        <i class="far fa-ban"></i> {{ $t('word.close') }}
      </button>
      <pagination v-if="lastPage > 1"
                  :current-page="currentPage"
                  :total-page="lastPage"
                  @changePage="changePage"></pagination>
    </div>
  </div>
</template>
<script>
  import Pagination from '../../partials/pagination.vue'

  export default {
    components: { Pagination },
    props: {
      payload: {
        type: Object,
        default: () => {}
      }
    },
    data() {
      return {
        perPage: 20,
        currentPage: 0,
        dataRender: []
      }
    },
    computed: {
      lastPage() {
        return Math.floor(this.payload.data.data.length / this.perPage) + 1
      }
    },
    watch: {
      'payload': function() {
        this.changePage()
      }
    },
    created() {
      this.changePage()
    },
    methods: {
      changePage(page = 1) {
        let start = (page - 1) * this.perPage
        let end = start + this.perPage
        this.dataRender = this.payload.data.data.slice(start, end)
        this.currentPage = page
      },
    }
  }
</script>