<template>
  <div>
    <div class="modal-content">
      <p class="alert alert-info m-b-0">{{ $t('word.note_search_user') }}
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
      </p>
      <div class="white-box col">
        <div class="row justify-content-center">
          <div class="form-group card card-body col-xs-8 m-b-15">
            <input ref="input"
                   type="text"
                   class="form-control"
                   name="keyword"
                   :placeholder="$t('word.email_phone_number_or_name')"
                   @input="search">
          </div>
        </div>
        <div>
          <div v-for="(user, index) in users" :key="user.id" class="row item">
            <div class="col-xs-2">
              <avatar :username="user.fullname"
                      :size="45"
                      alt="user-img"
                      class="avatar"
                      color="#fff"
                      :src="user.avatars ? user.avatars.x2 : ''"></avatar>
            </div>
            <div class="col-xs-4 m-t-15">
              {{ user.fullname }}
            </div>
            <div class="col-xs-3 m-t-15">
              {{ user.phone_number }}
            </div>
            <div class="col-xs-3 btn-group m-t-10">
              <button type="button" class="btn btn-primary btn-outline btn-sm" :disabled="user.adding"
                      @click="assignUser(user, index)">
                <i class="fa fa-user-plus"></i> {{ $t('word.set_user') }}
              </button>
            </div>
          </div>
        </div>
        <scale-loader v-if="loading" :loading="loading" :color="'#27a1f2'"></scale-loader>
        <div v-else-if="currentPage < lastPage" class="text-center m-t-15">
          <button class="btn btn-primary" @click.prevent="loadmore()">
            {{ $t('word.loadmore') }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import ScaleLoader from 'vue-spinner/src/ScaleLoader'
  import USERS_GROUP_QUERY from './../../../apollo/query/employee/list.gql'
  import ASSIGN_GROUP_MUTATION from './../../../apollo/mutation/employee/assign_group.gql'

  export default {
    components: { ScaleLoader },
    data() {
      return {
        loading: true,
        users: [],
        lastPage: 1,
        currentPage: 1,
        oldKeyword: this.$route.query.keyword || '',
        oldPage: this.$route.query.page || 1
      }
    },
    apollo: {
      users_group: {
        query: USERS_GROUP_QUERY,
        variables() {
          return {
            groupId: this.groupId,
            keyword: '',
            outside: true,
            page: 1
          }
        },
        manual: true,
        result({ data, loading }) {
          this.loading = loading
          data.users_group.data = data.users_group.data.map(user => {
            user.adding = false
            return user
          })
          this.users = data.users_group.data
          this.lastPage = data.users_group.last_page
          this.currentPage = data.users_group.current_page
        },
      }
    },
    computed: {
      groupId() {
        return this.$store.getters.groupId
      }
    },
    updated() {
      $('[data-toggle="tooltip"]').tooltip()
    },
    methods: {
      search: _.debounce(function(event) {
        this.$apollo.queries.users_group.refetch({
          page: 1,
          keyword: event.target.value
        })
      }, 500),
      loadmore() {
        this.loading = true
        this.$apollo.queries.users_group.fetchMore({
          variables: {
            page: this.currentPage + 1
          },
          updateQuery: (previousResult, { fetchMoreResult }) => {
            const currentDatas = previousResult.users_group.data
            const newDatas = fetchMoreResult.users_group.data
            return {
              users_group: {
                __typename: previousResult.users_group.__typename,
                data: [...currentDatas, ...newDatas],
                current_page: fetchMoreResult.users_group.current_page,
                last_page: fetchMoreResult.users_group.last_page
              }
            }
          }
        })
      },
      assignUser(user, index) {
        if (confirm(this.$t('company.user.add_user_confirm'))) {
          this.users[index].adding = true
          this.$apollo.mutate({
            mutation: ASSIGN_GROUP_MUTATION,
            variables: {
              groupId: this.groupId,
              userId: user.id
            },
            update: (store) => {
              const query = {
                query: USERS_GROUP_QUERY,
                variables: {
                  groupId: this.groupId,
                  keyword: '',
                  outside: true,
                  page: 1
                }
              }
              const data = store.readQuery(query)
              data.users_group.data.filter(item => item.id !== user.id)
              store.writeQuery({ ...query, data: data })

              const listQuery = {
                query: USERS_GROUP_QUERY,
                variables: {
                  groupId: this.groupId,
                  keyword: this.oldKeyword,
                  page: this.oldPage
                }
              }
              const listData = store.readQuery(listQuery)
              delete user.adding
              listData.users_group.data.unshift(user)
              store.writeQuery({ ...listQuery, data: listData })
            }
          }).then(() => {
            this.users.splice(index, 1)
            this.$awn.success(this.$t('company.user.add_user_success'))
          })
        }
      },
    }
  }
</script>
<style scoped>
  .modal-content {
    min-height: 450px;
  }
  .item {
    border-bottom: 0.1px solid #EEEEEE;
    padding: 10px;
  }
</style>