<template>
  <div class="container-fluid">
    <div class="row">
      <div class="m-t-10 col-12">
        <div class="row group-image">
          <img :src="$coverImage(user.cover_image)" alt="Cover image">
          <div class="name-user">
            <span>{{ user.fullname }}</span>
          </div>
          <template v-if="!loading">
            <div v-if="user.group_ids.indexOf(groupId) >= 0" class="btn-group btn-action">
              <button class="btn btn-outline btn-default" data-toggle="dropdown">
                <i class="fa fa-check"></i> <span>{{ $t('word.employee') }}</span>
                <i class="fa fa-caret-down"></i>
              </button>
              <ul role="menu" class="dropdown-menu dropdown-menu-right">
                <li>
                  <a href="javascript:void(0)" @click.prevent="removeMember()">
                    <i class="fa fa-user-alt-slash"></i> {{ $t('word.remove_member') }}
                  </a>
                </li>
              </ul>
            </div>
            <button v-else type="button" class="btn btn-default btn-outline btn-action"
                    @click="assignUser()">
              <i class="fa fa-user-plus"></i> {{ $t('word.set_user') }}
            </button>
          </template>

          <div class="avatar">
            <div style="position: relative">
              <img :src="$avatar(user.avatar)"
                   class="img-circle img-responsive"
                   alt="">
            </div>
          </div>
        </div>
      </div>
      <p class="alert alert-info col-12" style="margin-top: 55px">
        <i class="fa fa-user"></i> Giới thiệu
      </p>
      <div class="white-box col-12" style="min-height: 400px;">
        <div class="row">
          <div class="vtabs customvtab">
            <ul id="profile" class="nav tabs-vertical">
              <li class="tab" :class="[component === 'overview' ? 'active' : '']">
                <a data-toggle="tab" href="#overview" aria-expanded="true"
                   @click.prevent="component = 'overview'">
                  <i class="far fa-house-damage"></i> <span>{{ $t('word.overview') }}</span>
                </a>
              </li>
              <li class="tab" :class="[component === 'organization' ? 'active' : '']">
                <a href="#organization"
                   aria-expanded="false"
                   data-toggle="tab"
                   @click.prevent="component = 'organization'">
                  <i class="far fa-sitemap"></i> <span>{{ $t('word.organization') }}</span>
                </a>
              </li>
              <li class="tab" :class="[component === 'shift' ? 'active' : '']">
                <a data-toggle="tab" href="#shift" aria-expanded="false" @click.prevent="component = 'shift'">
                  <i class="far fa-clock"></i> <span>{{ $t('word.shifts') }}</span>
                </a>
              </li>
            </ul>
            <div class="tab-content">
              <component :is="component" :user="user"></component>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import USER_QUERY from './../../../apollo/query/employee/get_by_id.gql'
  import GROUP_QUERY from './../../../apollo/query/group/group_info.gql'
  import ASSIGN_GROUP from './../../../apollo/mutation/employee/assign_group.gql'
  import REMOVE_GROUP from './../../../apollo/mutation/employee/remove_group.gql'
  import GET_GROUP_BY_USER from './../../../apollo/query/group/get_by_user_id.gql'
  import USERS_QUERY from './../../../apollo/query/employee/list.gql'

  var Overview = () => import('./../../users/profile/overview.vue')
  var Organization = () => import('./../../users/profile/organization.vue')
  var Shift = () => import('./../../users/profile/shift.vue')

  export default {
    components: { Overview, Organization, Shift },
    data() {
      return {
        loading: true,
        user: {
          fullname: '',
          group_ids: []
        },
        component: 'overview'
      }
    },
    apollo: {
      user: {
        query: USER_QUERY,
        variables() {
          return {
            userId: this.userId
          }
        },
        result({ loading }) {
          this.loading = loading
        }
      },
      group: {
        query: GROUP_QUERY,
        variables() {
          return {
            id: this.groupId
          }
        }
      }
    },
    computed: {
      userId() {
        return this.$route.params.userId
      },
      groupId() {
        return this.$store.getters.groupId
      },
      groupsQuery() {
        return {
          query: GET_GROUP_BY_USER,
          variables: {
            userId: this.userId
          }
        }
      },
      usersQuery() {
        return {
          query: USERS_QUERY,
          variables: {
            page: 1,
            keyword: '',
            groupId: this.groupId
          }
        }
      }
    },
    methods: {
      removeMember() {
        let conf = confirm(this.$t('company.user.delete_user_confirm'))
        if (conf) {
          this.$apollo.mutate({
            mutation: REMOVE_GROUP,
            variables: {
              groupId: this.groupId,
              userId: this.user.id,
            },
            update: store => {
              const userQuery = {
                query: USER_QUERY,
                variables: { userId: this.userId }
              }
              const userData = store.readQuery(userQuery)
              userData.user.group_ids = userData.user.group_ids.filter(groupId => {
                return groupId !== this.groupId
              })
              store.writeQuery({ ...userQuery, data: userData })

              try {
                const groupsData = store.readQuery(this.groupsQuery)
                groupsData.groups = groupsData.groups.filter(group => group.id !== this.groupId)
                store.writeQuery({ ...this.groupsQuery, data: groupsData })
              } catch (e) {}

              try {
                const usersData = store.readQuery(this.usersQuery)
                usersData.users_group.data = usersData.users_group.data.filter(user => {
                  return user.id !== this.userId
                })
                store.writeQuery({ ...this.usersQuery, data: usersData })
              } catch (e) {}
            }
          }).then(() => {
            this.$awn.success(this.$t('company.user.delete_user_success'))
          })
        }
      },
      assignUser() {
        if (confirm(this.$t('company.user.add_user_confirm'))) {
          this.$apollo.mutate({
            mutation: ASSIGN_GROUP,
            variables: {
              groupId: this.groupId,
              userId: this.user.id
            },
            update: store => {
              const userQuery = {
                query: USER_QUERY,
                variables: { userId: this.userId }
              }
              const userData = store.readQuery(userQuery)
              userData.user.group_ids.push(this.groupId)
              store.writeQuery({ ...userQuery, data: userData })
              
              try {
                const groupsData = store.readQuery(this.groupsQuery)
                groupsData.groups.push(this.group)
                store.writeQuery({ ...this.groupsQuery, data: groupsData })
              } catch (e) {}
              try {
                const usersData = store.readQuery(this.usersQuery)
                usersData.users_group.data.unshift(this.user)
                store.writeQuery({ ...this.usersQuery, data: usersData })
              } catch (e) {}
            },
          }).then(() => {
            this.$awn.success(this.$t('company.user.add_user_success'))
          })
        }
      },
    }
  }
</script>
<style @scoped lang="scss">
  .group-image {
    position: relative;
    max-height: 400px;
    cursor: pointer;
    img {
      overflow: hidden;
      width: 100%;
    }
    .name-user {
      position: absolute;
      left: 210px;
      bottom: 30px;
      span {
        color: white;
        font-size: 24px;
        text-transform: uppercase;
      }
    }
    .btn-action {
      position: absolute;
      right: 20px;
      bottom: 10px;
    }
    .avatar {
      padding: 3px;
      border: solid 1px #d3d6db;
      position: absolute;
      bottom: -50px;
      left: 30px;
      border-radius: 50%;
      background-color: white;
      img {
        width: 160px;
        height: 160px;
      }
    }
  }

  .information-detail {
    border-radius: 5px;
    .title-profile {
      background-color: #f5f6f7;
      padding: 15px;
      border-bottom: solid 1px #d3d6db;
      span {
        font-size: 30px;
        i {
          padding-right: 10px;
        }
      }
    }
  }

  .tab {
    &.active {
      font-weight: bold;
    }
  }

  .information {
    padding: 10px 0 20px;
    border-bottom: solid 0.5px #f5f6f7;
    line-height: 1.4;
    letter-spacing: 0.5px;
    label {
      font-weight: bold;
    }
  }

  .customvtab {
    width: 100%;
    .tab-content {
      width: calc(100% - 150px);
    }
  }

  #update-information {
    display: none;
    margin-top: 15px;
    &.active {
      display: block;
    }
  }
</style>
