<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-12 col-sm">
        <h4 class="page-title">{{ $t('word.user_manage') }}</h4></div>
      <div class="col-12 col-sm-auto">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{ name: 'home' }">{{ $t('word.home') }}</router-link>
          </li>
          <li class="active">{{ $t('word.employee') }}</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="white-box col">
        <div class="row">
          <h3 class="col-md hidden-xs">{{ $t('word.list') }}</h3>
          <div class="form-group col col-md-5">
            <input type="text" class="form-control" :placeholder="$t('word.name_or_phone')"
                   :value="keyword" @keyup.enter="search($event.target.value)">
          </div>
          <div class="col-auto text-center">
            <button v-check="{ permission: 'employee.add' }"
                    type="button"
                    class="btn btn-info pull-right"
                    @click="showModalAddUser()">
              <i class="fa fa-plus"></i> {{ $t('word.set_user') }}
            </button>
            <button v-check="{ permission: 'employee.add' }"
                    type="button"
                    class="btn btn-info pull-right m-r-10"
                    @click="showModalImport()">
              <i class="fa fa-file-alt"></i> {{ $t('word.import_file') }}
            </button>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table color-table info-table table-responsive">
            <thead>
              <tr>
                <th>{{ $t('word.sort') }}</th>
                <th>{{ $t('word.avatar') }}</th>
                <th>{{ $t('word.name') }}</th>
                <th>{{ $t('word.phone_number') }}</th>
                <th>{{ $t('word.email') }}</th>
                <th>{{ $t('word.birthday') }}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(user, index) in users" :key="user.id">
                <td>{{ (currentPage - 1) * perPage + index + 1 }}</td>
                <td>
                  <avatar :username="user.fullname"
                          :size="45"
                          class="avatar"
                          color="#fff"
                          :src="user.avatars ? user.avatars.x2 : ''"></avatar>
                </td>
                <td>{{ user.fullname }}</td>
                <td>{{ user.phone_number }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.birthday }}</td>
                <td>
                  <router-link v-if="currentUserId != user.id"
                               v-check="{ permission: 'employee.detail' }"
                               :to="{name: 'company.user.detail', params: {userId: user.id}}"
                               data-toggle="tooltip"
                               :title="$t('word.detail')"
                               class="btn btn-info btn-circle">
                    <i class="fa fa-info"></i>
                  </router-link>
                  <router-link v-else
                               v-check="{ permission: 'employee.detail' }"
                               :to="{name: 'user.profile', params: {userId: user.id}}"
                               data-toggle="tooltip"
                               :title="$t('word.detail')"
                               class="btn btn-info btn-circle">
                    <i class="fa fa-info"></i>
                  </router-link>
                  <button v-check="{ permission: 'employee.remove' }"
                          type="button"
                          :disabled="(owner == 'owner' && user.id == currentUserId) || user.deleting"
                          class="btn btn-danger btn-circle"
                          data-toggle="tooltip"
                          :title="$t('word.delete')"
                          @click.prevent="removeMember(user.id, index)">
                    <i :class="user.deleting ? 'far fa-circle-notch fa-spin' : 'fa fa-trash'"></i>
                  </button>
                </td>
              </tr>
              <tr v-if="loading">
                <td colSpan="7">
                  <pulse-loader :loading="true" :color="'#27a1f2'"></pulse-loader>
                </td>
              </tr>
              <tr v-if="!loading && users.length === 0">
                <td colSpan="7" class="no-data">{{ $t('word.no_data') }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <pagination v-if="lastPage > 1"
                    :current-page="currentPage"
                    :total-page="lastPage"
                    @changePage="pageChanged"></pagination>
      </div>
    </div>
  </div>
</template>
<script>
  import PulseLoader from 'vue-spinner/src/PulseLoader'
  import Pagination from './../../partials/pagination'
  import USERS_GROUP from './../../../apollo/query/employee/list.gql'
  import REMOVE_GROUP from './../../../apollo/mutation/employee/remove_group.gql'

  export default {
    components: {
      Pagination,
      PulseLoader
    },
    data() {
      return {
        loading: true,
        users: [],
        perPage: 10,
        lastPage: null,
        isAddUser: false,
        isImport: false,
        oldKeyword: this.$route.query.keyword || '',
        oldPage: this.$route.query.page || 1
      }
    },
    apollo: {
      users_group: {
        query: USERS_GROUP,
        variables() {
          return {
            groupId: this.groupId,
            page: this.oldPage,
            keyword: this.oldKeyword
          }
        },
        manual: true,
        result({ data, loading }) {
          this.loading = loading
          data.users_group.data = data.users_group.data.map(user => {
            user.deleting = false
            return user
          })
          this.users = data.users_group.data
          this.perPage = data.users_group.per_page
          this.lastPage = data.users_group.last_page
        }
      }
    },
    computed: {
      language() {
        return this.$i18n.locale
      },
      owner() {
        return this.$store.state.current.group.role_current_user.name
      },
      currentUserId() {
        return this.$store.getters.id
      },
      currentPage() {
        return this.$route.query.page || 1
      },
      keyword() {
        return this.$route.query.keyword || ''
      },
      groupId() {
        return this.$store.getters.groupId
      }
    },
    updated() {
      $('[data-toggle="tooltip"]').tooltip()
    },
    methods: {
      pageChanged(page) {
        this.$apollo.queries.users_group.refetch({
          page: page
        })
        this.$router.replace({ name: 'company.user.list', query: {
          keyword: this.keyword,
          page: page }
        }).catch(() => {})
      },
      search(keyword) {
        this.$apollo.queries.users_group.refetch({
          page: 1,
          keyword: keyword
        })
        this.$router.replace({ name: 'company.user.list', query: { keyword: keyword, page: 1 } })
            .catch(() => {})
      },
      removeMember(userId, index) {
        let conf = confirm(this.$t('company.user.delete_user_confirm'))
        if (conf) {
          this.users[index].deleting = true
          this.$apollo.mutate({
            mutation: REMOVE_GROUP,
            variables: {
              groupId: this.$store.getters.groupId,
              userId: userId,
            },
            update: (store, { data: { remove_group } }) => {
              if (remove_group.code == 200) {
                const query = {
                  query: USERS_GROUP,
                  variables: {
                    page: this.oldPage,
                    groupId: this.groupId,
                    keyword: this.oldKeyword
                  }
                }
                const data = store.readQuery(query)
                data.users_group.data.filter(item => item.id !== userId)
                store.writeQuery({ ...query, data: data })
              }
            }
          })
          .then(() => {
            this.users.splice(index, 1)
            this.$awn.success(this.$t('company.user.delete_user_success'))
          })
        }
      },
      showModalImport() {
        bus.$emit('modal', {
          component: 'import',
          backdrop: 'static',
          payload: 'import_user_into_group'
        })
      },
      showModalAddUser() {
        bus.$emit('modal', {
          component: 'add-user-into-group',
          backdrop: 'static'
        })
      }
    },
  }
</script>
<style scoped>
  .form-group {
    margin-bottom: 10px
  }
</style>