<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-12 col-sm">
        <h4 class="page-title">{{ $t('restaurant.manage_imported_goods') }}</h4>
      </div>
      <div class="col-12 col-sm-auto">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{ name: 'home' }">{{ $t('word.home') }}</router-link>
          </li>
          <li>
            <router-link :to="{ name: 'restaurant.good_import.list' }">
              {{ $t('restaurant.good.imported') }}
            </router-link>
          </li>
          <li class="active">{{ $t('word.create') }}</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="white-box col-12">
        <div class="panel-body">
          <ul class="nav customtab nav-tabs" role="tablist">
            <li class="active">
              <a href="#tab1"
                 data-toggle="tab"
                 aria-expanded="true">{{ $t('word.information') }}</a>
            </li>
            <li>
              <a href="#tab2"
                 data-toggle="tab"
                 aria-expanded="false">{{ $t('restaurant.good.description') }}</a>
            </li>
          </ul>
          <div class="tab-content">
            <div id="tab1" class="tab-panel active in">
              <div class="row">
                <div class="col-md col-12">
                  <form class="form-horizontal">
                    <div class="form-group " :class="{'has-error': errors.code }">
                      <label class="col-lg-3 control-label">
                        {{ $t('restaurant.good.code') }} <span class="text-danger">*</span>
                      </label>
                      <div class="col-lg-9">
                        <div class="input-group">
                          <input v-model="code" type="text" class="form-control">
                          <span class="input-group-btn">
                            <button class="btn btn-info"
                                    data-container="body"
                                    type="button"
                                    data-toggle="popover"
                                    data-placement="right"
                                    data-trigger="focus"
                                    data-html="true"
                                    :data-content="$t('restaurant.good.code_desc')">
                              <i class="fa fa-question"></i>
                            </button>
                          </span>
                        </div>
                        <span v-if="errors.code" class="text-danger">
                          <strong>{{ errors.code[0] }}</strong>
                        </span>
                      </div>
                    </div>
                    <div class="form-group " :class="{'has-error': errors.name}">
                      <label class="col-lg-3 control-label">
                        {{ $t('restaurant.good.name') }} <span class="text-danger">*</span>
                      </label>
                      <div class="col-lg-9">
                        <div class="input-group">
                          <input v-model="name" type="text" class="form-control">
                          <span class="input-group-btn">
                            <button class="btn btn-info"
                                    data-container="body"
                                    type="button"
                                    data-toggle="popover"
                                    data-placement="right"
                                    data-trigger="focus"
                                    data-html="true"
                                    :data-content="$t('restaurant.good.name_desc')">
                              <i class="fa fa-question"></i>
                            </button>
                          </span>
                        </div>
                        <span v-if="errors.name" class="text-danger">
                          <strong>{{ errors.name[0] }}</strong>
                        </span>
                      </div>
                    </div>
                    <div class="form-group " :class="{'has-error': errors.group_menu_ids}">
                      <label class="col-lg-3 control-label">
                        {{ $t('restaurant.good.group') }} <span class="text-danger">*</span>
                      </label>
                      <div class="col-lg-9">
                        <div class="input-group">
                          <multiselect
                            v-model="menuSelected"
                            label="name"
                            track-by="name"
                            :placeholder="$t('restaurant.good.select_group')"
                            :allow-empty="false"
                            :show-labels="false"
                            :multiple="true"
                            :options="menus">
                            <template slot="option" slot-scope="props">
                              <span :class="{ 'menu-lv0': props.option.level == 0,
                                              'menu-lv1': props.option.level == 1,
                                              'menu-lv2': props.option.level == 2 }">{{ props.option.name }}</span>
                            </template>
                          </multiselect>
                          <span class="input-group-btn">
                            <button class="btn btn-info"
                                    data-container="body"
                                    type="button"
                                    data-toggle="popover"
                                    data-placement="right"
                                    data-trigger="focus"
                                    data-html="true"
                                    :data-content="$t('restaurant.good.group_menus_desc')">
                              <i class="fa fa-question"></i>
                            </button>
                          </span>
                        </div>
                        <span v-if="errors.group_menu_ids" class="text-danger">
                          <strong>{{ errors.group_menu_ids[0] }}</strong>
                        </span>
                      </div>
                    </div>
                    <div class="form-group " :class="{'has-error': errors.price}">
                      <label class="col-lg-3 control-label">
                        {{ $t('restaurant.good.price') }} <span class="text-danger">*</span>
                      </label>
                      <div class="col-lg-9">
                        <div class="input-group">
                          <input v-model="price"
                                 type="number"
                                 class="form-control"
                                 min="0"
                                 step="1000">
                          <span class="input-group-btn">
                            <button class="btn btn-info"
                                    data-container="body"
                                    type="button"
                                    data-toggle="popover"
                                    data-placement="right"
                                    data-trigger="focus"
                                    data-html="true"
                                    :data-content="$t('restaurant.good.price_desc')">
                              <i class="fa fa-question"></i>
                            </button>
                          </span>
                        </div>
                        <span v-if="errors.price" class="text-danger">
                          <strong>{{ errors.price[0] }}</strong>
                        </span>
                      </div>
                    </div>
                    <div class="form-group " :class="{'has-error': errors.price_origin}">
                      <label class="col-lg-3 control-label">{{ $t('restaurant.good.price_origin') }}</label>
                      <div class="col-lg-9">
                        <div class="input-group">
                          <input v-model="priceOrigin"
                                 type="number"
                                 class="form-control"
                                 min="0"
                                 step="1000">
                          <span class="input-group-btn">
                            <button class="btn btn-info"
                                    data-container="body"
                                    type="button"
                                    data-toggle="popover"
                                    data-placement="right"
                                    data-trigger="focus"
                                    data-html="true"
                                    :data-content="$t('restaurant.good.price_origin_desc')">
                              <i class="fa fa-question"></i>
                            </button>
                          </span>
                        </div>
                        <span v-if="errors.price_origin" class="text-danger">
                          <strong>{{ errors.price_origin[0] }}</strong>
                        </span>
                      </div>
                    </div>
                    <div class="form-group" :class="{'has-error': errors.unit}">
                      <label class="col-lg-3 control-label">
                        {{ $t('restaurant.good.unit') }} <span class="text-danger">*</span>
                      </label>
                      <div class="col-lg-9">
                        <div class="input-group">
                          <div v-check="{permission: 'group.update-profile'}"
                               class="input-group-addon"
                               data-toggle="modal"
                               href="#setupUnits"
                               :title="$t('word.setup') + ' ' + $t('restaurant.setup.unit')">
                            <span class="fa fa-cog"></span>
                          </div>
                          <multiselect
                            v-model="unit"
                            :allow-empty="false"
                            :show-labels="false"
                            label="name"
                            :placeholder="$t('restaurant.good.choose_unit')"
                            :options="units"></multiselect>
                          <span class="input-group-btn">
                            <button class="btn btn-info"
                                    data-container="body"
                                    type="button"
                                    data-toggle="popover"
                                    data-placement="right"
                                    data-trigger="focus"
                                    data-html="true"
                                    :data-content="$t('restaurant.good.basic_unit_desc')">
                              <i class="fa fa-question"></i>
                            </button>
                          </span>
                        </div>
                        <span v-if="errors.unit" class="text-danger">
                          <strong>{{ errors.unit[0] }}</strong>
                        </span>
                      </div>
                    </div>
                    <div class="form-group " :class="{'has-error': errors.discount}">
                      <label class="col-lg-3 control-label">
                        {{ $t('restaurant.good.discount') }}
                      </label>
                      <div class="col-lg-9">
                        <div class="input-group">
                          <div class="input-group-addon"
                               data-toggle="tooltip"
                               :title="$t('word.change_discount')"
                               @click="discountType == discountMoney ? discountType = discountPercent :
                                 discountType = discountMoney">
                            <span v-if="discountType == discountMoney">VND</span>
                            <span v-else>&nbsp;&nbsp;%&nbsp;&nbsp;</span>
                          </div>
                          <input v-model="discount"
                                 type="number"
                                 class="form-control"
                                 min="0"
                                 :step="discountType == discountMoney ? '1000' : '1'">
                          <span class="input-group-btn">
                            <button class="btn btn-info"
                                    data-container="body"
                                    type="button"
                                    data-toggle="popover"
                                    data-placement="right"
                                    data-trigger="focus"
                                    data-html="true"
                                    :data-content="$t('restaurant.good.discount_desc')">
                              <i class="fa fa-question"></i>
                            </button>
                          </span>
                        </div>
                        <span v-if="errors.discount" class="text-danger">
                          <strong>{{ errors.discount[0] }}</strong>
                        </span>
                      </div>
                    </div>
                    <div class="form-group m-l-5" :class="{'has-error': errors.is_sale}">
                      <div class="checkbox checkbox-success">
                        <input id="isSale" v-model="isSale" type="checkbox">
                        <label for="isSale">{{ $t('word.is_sale') }}</label>
                        <button class="btn btn-info pull-right m-r-15"
                                data-container="body"
                                type="button"
                                data-toggle="popover"
                                data-placement="right"
                                data-trigger="focus"
                                data-html="true"
                                :data-content="$t('restaurant.good.is_sale_desc')">
                          <i class="fa fa-question"></i>
                        </button>
                      </div>
                      <span v-if="errors.is_sale" class="text-danger">
                        <strong>{{ errors.is_sale[0] }}</strong>
                      </span>
                    </div>
                  </form>
                </div>
                <div v-viewer="config" class="col-md col-12">
                  <div class="form-group text-center m-t-15">
                    <div v-show="maxUploaded" class="fileinput justify-content-around" data-provides="fileinput">
                      <button class="btn btn-info btn-file">
                        <i class="fas fa-upload"></i> {{ $t('word.upload_image') }}
                        <input type="file" name="..." multiple @change="processImage">
                      </button>
                      <button class="btn btn-info" @click.prevent="chooseImage()">
                        <i class="fas fa-images"></i> {{ $t('word.choose_image') }}
                      </button>
                    </div>
                  </div>
                  <div class="row">
                    <div v-for="(image, index) in imagesPreview"
                         :key="index"
                         class="col-md-4 col-6"
                         :class="{ 'has-error': errors['images.' + index] }">
                      <div class="position-relative list-image">
                        <img :src="image"
                             alt="image"
                             style="width: 100%"
                             data-toggle="modal"
                             data-target=".bs-example-modal-lg"
                             class="zoom-in image-border">
                        <button class="btn btn-danger btn-delete-image btn-circle" @click="deleteImage(index)">
                          <i class="fa fa-times"></i>
                        </button>
                      </div>
                      <span v-if="errors['images.' + index]" class="text-danger">
                        <strong>{{ errors['images.' + index][0] }}</strong>
                      </span>
                    </div>
                  </div>
                  <div class="text-center">
                    <span v-if="errors.images" class="text-danger">
                      <strong>{{ errors.images[0] }}</strong>
                    </span>
                  </div>
                  <div class="row">
                    <div v-for="(image, index) in systemImages"
                         :key="index"
                         class="col-md-4 col-6">
                      <div class="position-relative list-image">
                        <img :src="$asset(image)"
                             alt="image"
                             style="width: 100%"
                             data-toggle="modal"
                             data-target=".bs-example-modal-lg"
                             class="zoom-in image-border">
                        <button class="btn btn-danger btn-delete-image btn-circle"
                                @click="systemImages.splice(index, 1)">
                          <i class="fa fa-times"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-info">
                <div class="panel-heading" data-perform="panel-collapse">
                  {{ $t('restaurant.good.add_property') }}
                  <div class="pull-right">
                    <i class="fa fa-chevron-down"></i>
                  </div>
                </div>
                <div class="panel-wrapper collapse" aria-expanded="false">
                  <div class="panel-body">
                    <div v-if="properties.length > 0" class="form-group">
                      <div class="row">
                        <div class="col-md-5 hidden-xs">
                          <label for="">{{ $t('word.property') }}</label>
                        </div>
                        <div class="col-md-6 hidden-xs">
                          <label for="">{{ $t('word.value') }}</label>
                        </div>
                      </div>
                      <div v-for="(property, index) in properties" :key="index" class="row m-b-10">
                        <div class="col-md-5">
                          <multiselect
                            v-model="property.name"
                            :allow-empty="false"
                            :show-labels="false"
                            :placeholder="$t('word.search_or_add')"
                            :options="goods_properties"></multiselect>
                          <span v-if="errors[`properties.${index}.name`]" class="text-danger">
                            <strong>{{ errors[`properties.${index}.name`][0] }}</strong>
                          </span>
                        </div>
                        <div class="col-md-6">
                          <input v-model="property.value" type="text" class="form-control">
                          <span v-if="errors[`properties.${index}.value`]" class="text-danger">
                            <strong>{{ errors[`properties.${index}.value`][0] }}</strong>
                          </span>
                        </div>
                        <div class="col-md-1 m-t-5">
                          <button class="btn btn-circle btn-danger"
                                  @click="properties.splice(index, 1)">
                            <i class="fa fa-trash"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-success btn-outline" @click="addProperties()">
                      <i class="fa fa-plus-circle"></i> {{ $t('restaurant.good.add_property') }}
                    </button>
                    <button type="button"
                            class="btn btn-info btn-outline pull-right"
                            data-toggle="modal"
                            href="#manage-properties">
                      <i class="fa fa-cog"></i> {{ $t('restaurant.good.manage_properties') }}
                    </button>
                  </div>
                </div>
              </div>

              <div class="panel panel-info">
                <div class="panel-heading" data-perform="panel-collapse">
                  {{ $t('restaurant.good.conversion_units') }}
                  <div class="pull-right">
                    <i class="fa fa-chevron-down"></i>
                  </div>
                </div>
                <div class="panel-wrapper collapse" aria-expanded="false">
                  <div class="panel-body">
                    <div v-if="conversionUnits.length > 0" class="form-group">
                      <div class="row">
                        <div class="col-xs-4">
                          <label for="">{{ $t('restaurant.good.choose_unit') }}</label>
                        </div>
                        <div class="col-xs-3">
                          <label for="">{{ $t('restaurant.good.conversion_value') }}</label>
                        </div>
                        <div class="col-xs-4">
                          <label for="">{{ $t('restaurant.good.price') }}</label>
                        </div>
                      </div>
                      <div v-for="(conversion, index) in conversionUnits" :key="index" class="row m-b-10">
                        <div class="col-xs-4">
                          <multiselect
                            v-model="conversion.unit"
                            :allow-empty="false"
                            :show-labels="false"
                            label="name"
                            :placeholder="$t('restaurant.good.choose_unit')"
                            :options="units"></multiselect>
                          <span v-if="errors[`conversion_units.${index}.unit`]" class="text-danger">
                            <strong>{{ errors[`conversion_units.${index}.unit`][0] }}</strong>
                          </span>
                        </div>
                        <div class="col-xs-3">
                          <input v-model="conversion.value"
                                 type="number"
                                 min="0"
                                 class="form-control"
                                 @keyup="conversion.price = conversion.value * price">
                          <span v-if="errors[`conversion_units.${index}.value`]" class="text-danger">
                            <strong>{{ errors[`conversion_units.${index}.value`][0] }}</strong>
                          </span>
                        </div>
                        <div class="col-xs-4">
                          <input v-model="conversion.price"
                                 type="number"
                                 min="0"
                                 step="1000"
                                 class="form-control">
                          <span v-if="errors[`conversion_units.${index}.price`]" class="text-danger">
                            <strong>{{ errors[`conversion_units.${index}.price`][0] }}</strong>
                          </span>
                        </div>
                        <div class="col-xs-1 m-t-5">
                          <button class="btn btn-circle btn-danger"
                                  @click="conversionUnits.splice(index, 1)">
                            <i class="fa fa-trash"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-success btn-outline" @click="addConversionUnit()">
                      <i class="fa fa-plus-circle"> {{ $t('restaurant.good.add_conversion_unit') }}</i>
                    </button>
                    <button type="button"
                            class="btn btn-info btn-outline pull-right"
                            data-toggle="modal"
                            href="#setupUnits">
                      <i class="fa fa-cog"></i> {{ $t('word.setup') }} {{ $t('restaurant.setup.unit') }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div id="tab2" class="tab-panel ">
              <div class="form-group panel panel-info">
                <div class="panel-heading">
                  {{ $t('restaurant.good.norm_inventory') }}
                </div>
                <div class="panel-wrapper">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md form-group">
                        <label for="" class="col control-label" :class="{ 'text-danger': errors.inventory_min }">{{
                          $t('word.min') }}</label>
                        <div class="col-auto" :class="{ 'has-error': errors.inventory_min }">
                          <div class="input-group">
                            <input v-model="inventoryMin" type="number" class="form-control" min="0">
                            <span class="input-group-btn">
                              <button class="btn btn-info"
                                      data-container="body"
                                      type="button"
                                      data-toggle="popover"
                                      data-placement="right"
                                      data-trigger="focus"
                                      data-html="true"
                                      :data-original-title="$t('restaurant.good.inventory_min')"
                                      :data-content="$t('restaurant.good.inventory_min_desc')">
                                <i class="fa fa-question"></i>
                              </button>
                            </span>
                          </div>
                          <span v-if="errors.inventory_min" class="text-danger">
                            <strong>{{ errors.inventory_min[0] }}</strong>
                          </span>
                        </div>
                      </div>
                      <div class="col-md form-group">
                        <label for=""
                               class="col control-label"
                               :class="{ 'text-danger': errors.inventory_max }">{{ $t('word.max') }}</label>
                        <div class="col-auto" :class="{ 'has-error': errors.inventory_max }">
                          <div class="input-group">
                            <input v-model="inventoryMax" type="number" class="form-control" min="0">
                            <span class="input-group-btn">
                              <button class="btn btn-info"
                                      data-container="body"
                                      type="button"
                                      data-toggle="popover"
                                      data-placement="left"
                                      data-trigger="focus"
                                      data-html="true"
                                      :data-original-title="$t('restaurant.good.inventory_max')"
                                      :data-content="$t('restaurant.good.inventory_max_desc')">
                                <i class="fa fa-question"></i>
                              </button>
                            </span>
                          </div>
                          <span v-if="errors.inventory_max" class="text-danger">
                            <strong>{{ errors.inventory_max[0] }}</strong>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" :class="{ ' has-error': errors.description }">
                <label class="control-label">{{ $t('restaurant.good.description') }}*</label>
                <div>
                  <textarea v-model="description" cols="30" rows="10" class="form-control"></textarea>
                  <span v-if="errors.description" class="text-danger">
                    <strong>{{ errors.description[0] }}</strong>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-info" @click.prevent="store()">
              <i :class="[loading ? 'far fa-spinner-third fa-spin' : 'far fa-check']"></i> {{ $t('word.save') }}
            </button>
            <router-link :to="{ name: 'restaurant.good_import.list' }" class="btn btn-default">
              <i class="fa fa-ban"></i> {{ $t('word.cancel') }}
            </router-link>
          </div>
        </div>
      </div>
    </div>
    <setup-units></setup-units>
    <manage-properties></manage-properties>
  </div>
</template>
<script>
  import { STORE_IMPORTED_GOODS } from './../../../../api'
  import handlePreviewImage from './../../../../mixins/handle_preview_image.js'
  import GET_CODE from './../../../../apollo/query/good/get_code.gql'
  import { DISCOUNT_TYPE_FIXED } from './../../../../constants.js'
  import goodsMixin from './../goods_mixins.js'
  import GOODS_QUERY from './../../../../apollo/query/good/list.gql'

  export default {
    mixins: [handlePreviewImage, goodsMixin],
    data() {
      return {
        loading: false,
        config: { movable: false, toolbar: true, navbar: true, title: true, zoomable: true },
        errors: [],
        name: '',
        menuSelected: [],
        price: '',
        priceOrigin: '',
        unit: null,
        isSale: false,
        discount: 0,
        discountType: DISCOUNT_TYPE_FIXED,
        inventoryMin: 0,
        inventoryMax: 0,
        description: '',
        properties: [],
        // imagesShowed: [],
        // imageShowing: '',
        conversionUnits: [],
        systemImages: []
      }
    },
    computed: {
      maxUploaded() {
        return this.limitImage - this.images.length - this.systemImages.length
      }
    },
    apollo: {
      code_good: {
        query: GET_CODE,
        variables() {
          return {
            groupId: this.groupId
          }
        },
        fetchPolicy: 'network-only',
        result({ data }) {
          this.code = data.code_good
        }
      },
    },
    created() {
      bus.$on('select_image', this.choosed)
    },
    updated() {
      $('[data-toggle="tooltip"]').tooltip()
      $('[href="#setupUnits"]').tooltip()
    },
    methods: {
      addConversionUnit() {
        this.conversionUnits.push({ unit: '', value: 1, price: 0 })
      },
      deleteImage(index) {
        this.imagesPreview.splice(index, 1)
        this.images.splice(index, 1)
      },
      addProperties() {
        this.properties.push({ name: '', value: '' })
      },
      chooseImage() {
        bus.$emit('modal', {
          component: 'choose-image',
          size: 'lg',
          payload: {
            max: this.maxUploaded,
            name: this.name
          }
        })
      },
      choosed(images) {
        this.systemImages = [...this.systemImages, ...images]
      },
      store() {
        this.loading = true
        let formData = new FormData()
        formData.append('group_id', this.groupId)
        formData.append('name', this.name)
        formData.append('code', this.code)
        formData.append('price', this.price)
        formData.append('price_origin', this.priceOrigin)
        formData.append('unit', this.unit ? this.unit.value : '')
        formData.append('is_sale', this.isSale ? '1' : '0')
        formData.append('discount', this.discount)
        formData.append('discount_type', this.discountType)
        formData.append('description', this.description)
        formData.append('inventory_min', this.inventoryMin)
        formData.append('inventory_max', this.inventoryMax)
        for (let image of this.images) {
          formData.append('images[]', image)
        }
        for (let url of this.systemImages) {
          formData.append('system_images[]', url)
        }
        formData.append('properties', JSON.stringify(this.properties))
        var conversionUnits = []
        this.conversionUnits.forEach(item => {
          conversionUnits.push({
            unit: item.unit.value,
            value: item.value,
            price: item.price
          })
        })
        formData.append('conversion_units', JSON.stringify(conversionUnits))
        for (let menu of this.menuSelected) {
          formData.append('group_menu_ids[]', menu.id)
        }

        axios.post(STORE_IMPORTED_GOODS, formData, {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        }).then(res => {
          this.$awn.success(this.$t('word.created'))
          try {
            const store = this.$apollo.provider.defaultClient
            const query = {
              query: GOODS_QUERY,
              variables: {
                groupId: this.groupId,
                page: 1,
                type: 1
              }
            }
            const data = store.readQuery(query)
            res.data.good.id = res.data.good._id
            res.data.good.__typename = 'good'
            res.data.good.inventory_number = 0
            res.data.good.groupMenus = this.menuSelected
            data.goods.data.unshift(res.data.good)
            store.writeQuery({ ...query, data: data })
          } catch (e) {

          }
          this.$router.push({
            name: 'restaurant.good_import.list'
          })
        }).catch(err => {
          if (typeof err.response !== undefined && err.response.status == 422) {
            this.errors = err.response.data.errors
          }
        }).finally(() => {
          this.loading = false
        })
      }
    }
  }
</script>
<style scoped lang="scss">
  .panel-info {
    border: solid 1px #41b3f9;
    cursor: pointer;
  }

  .tab-content {
    .tab-panel {
      display: none;
    }
    .active {
      display: block;
    }
  }

  .zoom-in {
    cursor: zoom-in;
  }

  .control-label {
    text-align: left !important;
  }

  .input-group-addon {
    cursor: pointer;
  }

  .input-group {
    .form-control {
      z-index: 0;
    }
  }

</style>
