<template>
  <div id="m-s-check-goods" class="m-s-modal">
    <div class="modal-header">
      <h4 class="modal-title">
        {{ $t('manage_sale.modal.check_goods_and_invoice') }} {{ invoice.code || '' }}
      </h4>
    </div>
    <div class="modal-body">
      <div class="form-material">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th><strong>{{ this.$t('manage_sale.modal.good_name') }}</strong></th>
              <th class="text-right" width="80px">
                <strong>{{ this.$t('manage_sale.modal.amount_ordered') }}</strong>
              </th>
              <th class="text-center" width="80px">
                <strong>{{ this.$t('manage_sale.modal.amount_returned') }}</strong>
              </th>
              <th class="text-right" width="80px">
                <strong>{{ this.$t('manage_sale.modal.amount_used') }}</strong>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(good, index) in invoiceItems" :key="good.id">
              <td>{{ good.name }}</td>
              <td class="text-right">{{ good.count_order }}</td>
              <td class="text-center">
                <input class="form-control text-center" type="number"
                       min="0"
                       :max="good.count_order"
                       :value="good.return_count"
                       @input="changeCountReturn($event.target.value, index)">
              </td>
              <td class="text-right">{{ good.count }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" @click="closeModal">
        <i class="far fa-ban"></i> {{ $t('manage_sale.modal.close') }}
      </button>
      <button type="button" class="btn btn-primary" @click="save">
        <i class="far fa-check"></i> {{ $t('word.save') }}
      </button>
    </div>
  </div>
</template>
<script>
  import SALE_INVENTORY_MUTATION from './../../../../../apollo/mutation/sale/inventory.gql'
  import { EVENTS_TYPE } from './../../../../../constants.js'

  export default {
    name: 'MSCheckGoods',
    props: {
      payload: {
        type: Object,
        required: true
      }
    },
    data() {
      return {
        invoice: {},
        invoiceItems: []
      }
    },
    watch: {
      payload(value) {
        this.setData(value)
      }
    },
    created() {
      this.setData(this.payload)
    },
    methods: {
      setData(payload) {
        this.invoice = payload.invoice
        this.invoiceItems = []
        this.invoice.goods.forEach(item => {
          item.return_count = item.return_count || 0
          item.count = item.count
          item.count_order = item.count + item.return_count
          this.invoiceItems.push(item)
        })
      },
      changeCountReturn(value, index) {
        let good = this.invoiceItems[index]
        good.return_count = parseInt(value) >= 0 ?
          (parseInt(value) <= good.count_order ? parseInt(value) : good.count_order) : 0
        good.count = good.count_order - good.return_count
        this.$set(this.invoiceItems, index, good)
      },
      save() {
        this.invoice.goods = this.invoiceItems
        let items = []
        this.invoiceItems.forEach(item => {
          if (item.return_count > 0) {
            items.push({
              goods_id: item.id,
              count: item.return_count
            })
          }
        })
        this.$apollo.mutate({
          mutation: SALE_INVENTORY_MUTATION,
          variables: {
            groupId: this.$store.state.current.group.id,
            invoiceId: this.invoice.id,
            goodsItems: items
          }
        }).then(result => {
          this.$awn.success(this.$t('word.updated'))
          window.Echo.private(`${this.groupId}.sale`).whisper('InvoiceUpdated', {
            invoice: result.data.sale_inventory,
            type: EVENTS_TYPE.INVOICE_UPDATED
          })
        }).finally(() => {
          this.closeModal()
        })
      },
      closeModal() {
        bus.$emit('close-modal')
      }
    }
  }
</script>