<template>
  <div id="m-s-discount-goods" class="m-s-modal">
    <form action="" class="form-horizontal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{ $t('manage_sale.modal.discount_items') }}</h4>
      </div>
      <div class="modal-body">
        <div class="form-group modal-field">
          <label for="price-new" class="col-sm-4 control-label modal-field__label">
            {{ $t('manage_sale.modal.new_price') }}:
          </label>
          <div class="col-sm-8">
            <input id="price-new"
                   v-model="formatPriceDishAfterDiscount"
                   type="text"
                   class="form-control modal-field__text"
                   placeholder="" disabled>
          </div>
        </div>
        <div class="form-group modal-field discount-item">
          <label for="value-price-discount" class="col-sm-4 control-label modal-field__label">
            {{ $t('manage_sale.modal.discount') }}:
          </label>
          <div class="col-sm-8">
            <div class="d-flex flex-row">
              <button class="p-2 btn btn-discount" type="button"
                      :class="{ 'discount-selected': (discountGoodType === getDiscountTypeFixed) }"
                      @click="selectDiscountDishType(getDiscountTypeFixed)">VND
              </button>
              <button class="p-2 btn btn-discount modal-btn-percent" type="button"
                      :class="{ 'discount-selected': (discountGoodType === getDiscountTypePercent) }"
                      @click="selectDiscountDishType(getDiscountTypePercent)">%
              </button>
              <template v-if="discountGoodType === getDiscountTypeFixed">
                <input ref="valueDiscountDish"
                       :value="formatDiscountDishValue"
                       type="text"
                       class="p-2 form-control modal-field__text"
                       @keydown.prevent="enterValueFixedDiscountDish"
                       @keydown.delete="deleteValueDiscountDish"
                       @keydown.enter="applyDiscount">
              </template>
              <template v-else>
                <input id="value-price-discount"
                       ref="valueDiscountDish"
                       :value="formatDiscountDishValue"
                       type="text"
                       class="p-2 form-control modal-field__text"
                       @keydown.prevent="enterValuePercentDiscountDish"
                       @keydown.delete="deleteValueDiscountDish"
                       @keydown.enter="applyDiscount">
              </template>
            </div>
          </div>
        </div>
        <div class="calc">
          <div class="d-flex justify-content-center">
            <button class="p-2 btn btn-default btn--number"
                    type="button" @click="selectValueDiscountDish('1')">1</button>
            <button class="p-2 btn btn-default btn--number" type="button"
                    @click="selectValueDiscountDish('2')">2</button>
            <button class="p-2 btn btn-default btn--number" type="button"
                    @click="selectValueDiscountDish('3')">3</button>
          </div>
          <div class="d-flex justify-content-center">
            <button class="p-2 btn btn-default btn--number" type="button"
                    @click="selectValueDiscountDish('4')">4</button>
            <button class="p-2 btn btn-default btn--number" type="button"
                    @click="selectValueDiscountDish('5')">5</button>
            <button class="p-2 btn btn-default btn--number" type="button"
                    @click="selectValueDiscountDish('6')">6</button>
          </div>
          <div class="d-flex justify-content-center">
            <button class="p-2 btn btn-default btn--number" type="button"
                    @click="selectValueDiscountDish('7')">7</button>
            <button class="p-2 btn btn-default btn--number" type="button"
                    @click="selectValueDiscountDish('8')">8</button>
            <button class="p-2 btn btn-default btn--number" type="button"
                    @click="selectValueDiscountDish('9')">9</button>
          </div>
          <div class="d-flex justify-content-center">
            <button class="p-2 btn btn-default btn--number" type="button"
                    @click="selectValueDiscountDish('000')">000</button>
            <button class="p-2 btn btn-default btn--number" type="button"
                    @click="selectValueDiscountDish('0')">0</button>
            <button class="p-2 btn btn-default btn--number btn--delete" type="button"
                    @click="selectValueDiscountDish('')"><i class="fa fa-times"></i></button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default">
          <i class="far fa-ban"></i> {{ $t('manage_sale.modal.close') }}
        </button>
        <button type="button" class="btn btn-primary" @click="applyDiscount">
          <i class="far fa-check"></i> {{ $t('manage_sale.modal.apply') }}
        </button>
      </div>
    </form>
  </div>
</template>
<script>
  import {
    formatPrice,
    priceGoodAfterDiscount
  } from './../../../../../helpers/handle_function.js'
  import {
    DISCOUNT_TYPE_FIXED,
    DISCOUNT_TYPE_PERCENT
  } from './../../../../../constants.js'
  import SALE_UPDATE_GOODS_DISCOUNT
    from './../../../../../apollo/mutation/sale/update_discount_goods.gql'
  import { EVENTS_TYPE } from './../../../../../constants.js'

  export default {
    name: 'MSDiscountDish',
    props: {
      payload: {
        type: Object,
        required: true
      }
    },
    data() {
      return {
        itemInvoice: {},
        discountGoodType: DISCOUNT_TYPE_FIXED,
        discountGoodValue: '',
        priceAfterDiscountGood: 0
      }
    },
    computed: {
      getDiscountTypeFixed() {
        return DISCOUNT_TYPE_FIXED
      },
      getDiscountTypePercent() {
        return DISCOUNT_TYPE_PERCENT
      },
      formatDiscountDishValue() {
        if (this.discountGoodType === DISCOUNT_TYPE_FIXED) {
          return (this.discountGoodValue.length > 0) ? formatPrice(Number(this.discountGoodValue)) : ''
        } else {
          return (this.discountGoodValue.length > 0) ? this.discountGoodValue : ''
        }
      },
      formatPriceDishAfterDiscount() {
        const price = (this.priceAfterDiscountGood > 0) ? this.priceAfterDiscountGood : this.itemInvoice.price
        return formatPrice(price)
      }
    },
    watch: {
      payload(value) {
        this.setData()
      },
      discountGoodValue(value) {
        let valueNumber = Number(value)
        if (this.discountGoodType === DISCOUNT_TYPE_FIXED) {
          this.priceAfterDiscountGood = Number(this.itemInvoice.price - valueNumber)
        } else {
          this.priceAfterDiscountGood = (this.itemInvoice.price * (100 - valueNumber)) / 100
        }
      }
    },
    created() {
      this.setData()
    },
    methods: {
      setData() {
        this.itemInvoice = this.payload.goods
        if (this.itemInvoice.discount) {
          this.discountGoodType = this.itemInvoice.discount_type
          this.discountGoodValue = this.itemInvoice.discount.toString()
          this.priceAfterDiscountGood = priceGoodAfterDiscount(this.itemInvoice)
        } else {
          this.discountGoodType = DISCOUNT_TYPE_FIXED
          this.discountGoodValue = '0'
          this.priceAfterDiscountGood = this.itemInvoice.price
        }
        this.focusValueDiscountDish()
      },
      selectDiscountDishType(type) {
        this.discountGoodType = type
        this.discountGoodValue = '0'
        this.focusValueDiscountDish()
      },
      enterValueFixedDiscountDish(e) {
        if (e.key.match(/[0-9]/)) {
          this.selectValueDiscountDish(e.key)
        }
      },
      enterValuePercentDiscountDish(e) {
        if (e.key.match(/[0-9.]/)) {
          this.selectValueDiscountDish(e.key)
        }
      },
      deleteValueDiscountDish() {
        this.selectValueDiscountDish('')
      },
      // Hàm xử lý khi lựa chọn một giá trị discount
      selectValueDiscountDish(val) {
        if (val.length > 0) {
          let newValue = Number(this.discountGoodValue + val)
          if (this.discountGoodType === DISCOUNT_TYPE_FIXED) {
            if (Number(newValue) > this.itemInvoice.price) {
              this.discountGoodValue = this.itemInvoice.price.toString()
            } else {
              this.discountGoodValue += val
            }
          } else {
            if (newValue > 100) {
              this.discountGoodValue = '100'
            } else {
              this.discountGoodValue += val
            }
          }
        } else {
          this.discountGoodValue = this.discountGoodValue.slice(0, this.discountGoodValue.length - 1)
        }
        this.focusValueDiscountDish()
      },
      applyDiscount() {
        this.$apollo.mutate({
          mutation: SALE_UPDATE_GOODS_DISCOUNT,
          variables: {
            groupId: this.$store.state.current.group.id,
            invoiceId: this.payload.invoiceId,
            goodsId: this.itemInvoice.id,
            discount: Number(this.discountGoodValue),
            discountType: this.discountGoodType
          }
        }).then(result => {
          this.$awn.success(this.$t('word.updated'))

          window.Echo.private(`${this.groupId}.sale`).whisper('InvoiceUpdated', {
            invoice: result.data.sale_update_goods_discount,
            type: EVENTS_TYPE.DISCOUNT_CHANGED
          })
        }).finally(() => {
          bus.$emit('close-modal')
        })
      },
      focusValueDiscountDish() {
        setTimeout(() => {
          this.$refs.valueDiscountDish.focus()
        }, 500)
      }
    }
  }
</script>
