<template>
  <div id="m-s-tables-order" class="m-s-modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title"><b>{{ payload.invoice_code }}</b></h4>
      <div class="clearfix"></div>
    </div>
    <div class="modal-body">
      <form class="form-horizontal">
        <div class="form-group">
          <label for="order-type" class="col-sm-4 control-label">
            {{ $t('manage_sale.modal.order_type') }}
          </label>
          <div class="col-sm-8">
            <div id="order-type" class="radio radio-primary">
              <input id="use-table"
                     v-model="invoiceType"
                     type="radio" 
                     :value="useTable" 
                     name="invoiceType">
              <label for="use-table" class="m-r-30">
                {{ $t('manage_sale.modal.use_table') }}
              </label>
              <template v-if="payload.is_draft === true">
                <input id="not-use-table" v-model="invoiceType" type="radio"
                       name="invoiceType" :value="notUseTable">
                <label for="not-use-table">
                  {{ $t('manage_sale.modal.call_bring_home') }}
                </label>
              </template>
            </div>
          </div>
        </div>
        <div v-if="invoiceType === useTable" class="form-group">
          <label for="tables-select" class="col-sm-4 control-label">
            {{ $t('manage_sale.modal.select_table') }}
          </label>
          <div class="col-sm-8">
            <multiselect id="tables-select"
                         v-model="tablesCurrentInvoice"
                         label="name"
                         track-by="id"
                         :placeholder="$t('manage_sale.modal.select_table_want_to_add')"
                         :deselect-label="$t('manage_sale.modal.press_enter_to_delete')"
                         :select-label="$t('manage_sale.modal.press_enter_to_select')"
                         :selected-label="$t('manage_sale.modal.used')"
                         :option-height="200"
                         :options="tablesAbleSelect"
                         :custom-label="position"
                         :multiple="true"
                         :taggable="true">
              <template slot="option" slot-scope="props">
                <span>{{ props.option.name }} - {{ props.option.place_name }}</span>
              </template>
            </multiselect>
          </div>
        </div>
      </form>
      <div class="text-right">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <i class="far fa-ban"></i> {{ $t('manage_sale.modal.close') }}
        </button>
        <button type="button" class="btn btn-primary" @click="update()">
          <i class="far fa-check"></i> {{ $t('manage_sale.modal.save') }}
        </button>
      </div>
    </div>
  </div>
</template>
<script>
  import {
    INVOICE_TYPE_USE_TABLE,
    INVOICE_TYPE_NOT_USE_TABLE,
    TABLE_STATUS
  } from '../../../../../constants.js'
  import SALE_CHANGE_TABLE from './../../../../../apollo/mutation/sale/change_table.gql'
  import SALE_PLACES_QUERY from './../../../../../apollo/query/sale/sale_places.gql'
  import SALE_INVOICES_QUERY from './../../../../../apollo/query/sale/sale_invoices.gql'
  import { EVENTS_TYPE } from './../../../../../constants.js'

  export default {
    name: 'MSTablesInvoice',
    props: {
      payload: {
        type: Object,
        required: true
      }
    },
    data() {
      return {
        invoiceId: '',
        invoiceCode: '',
        invoiceType: 1,
        tablesCurrentInvoice: [] // Danh sách bàn của curent order
      }
    },
    computed: {
      useTable() {
        return INVOICE_TYPE_USE_TABLE
      },
      notUseTable() {
        return INVOICE_TYPE_NOT_USE_TABLE
      },
      tables() {
        return this.$store.getters.tables
      },
      tablesAbleSelect() {
        return this.tables.filter(table => {
          const isEmpty = table.status === TABLE_STATUS.AVAILABLE
          const isCurrentOrder = this.payload.table_ids.includes(table.id)
          return isEmpty || isCurrentOrder
        })
      },
      getTablesBeforeChange() {
        return this.tables.filter(table => {
          return this.payload.table_ids.includes(table.id)
        })
      },
      groupId() {
        return this.$store.state.current.group.id
      },
      placeIds() {
        return this.$store.getters.placesManage
      }
    },
    watch: {
      payload() {
        this.setData()
      },
      invoiceType(type) {
        if (type === INVOICE_TYPE_USE_TABLE) {
          this.tablesCurrentInvoice = this.getTablesBeforeChange
        } else {
          this.tablesCurrentInvoice = []
        }
      }
    },
    created() {
      this.setData()
    },
    methods: {
      position({ name, place_name }) {
        return `${name} - ${place_name}`
      },
      setData() {
        this.invoiceId = this.payload.invoice_id
        this.invoiceCode = this.payload.invoice_code
        this.invoiceType = (this.payload.table_ids.length > 0) ? this.useTable : this.notUseTable
        this.tablesCurrentInvoice = this.getTablesBeforeChange
      },
      update() {
        if (this.payload.is_draft) {
          this.asyncCacheInvoiceTables()
        } else {
          this.updateInvoiceTables()
        }

      },
      updateInvoiceTables() {
        const tableIds = this.tablesCurrentInvoice.map(table => table.id)
        this.$apollo.mutate({
          mutation: SALE_CHANGE_TABLE,
          variables: {
            invoiceId: this.invoiceId,
            groupId: this.groupId,
            tableIds: tableIds
          }
        }).then(result => {
          this.$awn.success(this.$t('word.updated'))

          window.Echo.private(`${this.groupId}.sale`).whisper('InvoiceUpdated', {
            invoice: result.data.sale_change_table,
            type: EVENTS_TYPE.INVOICE_UPDATED
          })

          const availableTables = this.payload.table_ids.filter(item => !tableIds.includes(item))
          // Cập nhật bộ đêm apollo cho sale_places query
          const client = this.$apollo.provider.defaultClient
          const query = {
            query: SALE_PLACES_QUERY,
            variables: {
              groupId: this.groupId,
              placeIds: this.placeIds
            }
          }
          let data = client.readQuery(query)
          data.sale_places = data.sale_places.map(place => {
            place.tables = place.tables.map(table => {
              if (tableIds.includes(table.id)) {
                table.status = TABLE_STATUS.ACTING
              } else if (availableTables.includes(table.id)) {
                table.status = TABLE_STATUS.AVAILABLE
              }
              return table
            })
            return place
          })
          client.writeQuery({ ...query, data: data })

          bus.$emit('close-modal')
        })
      },
      asyncCacheInvoiceTables() {
        // Cập nhật bộ đêm apollo cho sale_places query
        const tableIds = this.tablesCurrentInvoice.map(table => table.id)
        const availableTables = this.payload.table_ids.filter(item => !tableIds.includes(item))
        const client = this.$apollo.provider.defaultClient
        const query = {
          query: SALE_PLACES_QUERY,
          variables: {
            groupId: this.groupId,
            placeIds: this.placeIds
          }
        }
        const data = client.readQuery(query)
        data.sale_places = data.sale_places.map(place => {
          place.tables = place.tables.map(table => {
            if (tableIds.includes(table.id)) {
              table.status = TABLE_STATUS.ACTING
            } else if (availableTables.includes(table.id)) {
              table.status = TABLE_STATUS.AVAILABLE
            }
            return table
          })
          return place
        })
        client.writeQuery({ ...query, data: data })

        const invoicesQuery = {
          query: SALE_INVOICES_QUERY,
          variables: {
            groupId: this.groupId,
            placeIds: this.placeIds
          }
        }
        const invoicesData = client.readQuery(invoicesQuery)
        invoicesData.sale_invoices = invoicesData.sale_invoices.map(invoice => {
          if (invoice.id === this.invoiceId) {
            invoice.table_ids = tableIds
          }
          return invoice
        })
        client.writeQuery({ ...invoicesQuery, data: invoicesData })

        bus.$emit('close-modal')
      }
    }
  }
</script>
