<template>
  <div id="m-s-shortcut" class="m-s-modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">{{ $t('manage_sale.modal.list_shortcuts') }}</h4>
      <div class="clearfix"></div>
    </div>
    <div class="modal-body">
      <div class="shortcut">
        <ul>
          <li>
            <div class="key">F1:</div>
            <div class="note">{{ $t('manage_sale.modal.select_table') }}</div>
          </li>
          <li>
            <div class="key">F2:</div>
            <div class="note">{{ $t('manage_sale.modal.select_good') }}</div>
          </li>
        </ul>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-default">
        <i class="far fa-ban"></i> {{ $t('manage_sale.modal.close') }}
      </button>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'MSShortcut'
  }
</script>