<template>
  <div id="m-s-discount-invoice" class="m-s-modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">{{ $t('manage_sale.modal.discount_order') }}</h4>
      <div class="clearfix"></div>
    </div>
    <div class="modal-body">
      <form action="" class="form-horizontal">
        <div class="form-group modal-field">
          <label for="value-discount" class="col-sm-4 control-label modal-field__label">
            {{ $t('manage_sale.modal.value') }}:
          </label>
          <div class="col-sm-8">
            <div class="d-flex flex-row">
              <button type="button" class="p-2 btn btn-discount"
                      :class="{ 'discount-selected': (discountOrderType === getDiscountTypeFixed) }"
                      @click="selectDiscountOrderType(getDiscountTypeFixed)">VND
              </button>
              <button type="button" class="p-2 btn btn-discount modal-btn-percent"
                      :class="{ 'discount-selected': (discountOrderType === getDiscountTypePercent) }"
                      @click="selectDiscountOrderType(getDiscountTypePercent)">%
              </button>
              <template v-if="discountOrderType === getDiscountTypeFixed">
                <input id="value-discount"
                       ref="valueDiscountOrder"
                       v-model="discountOrderValueFormat"
                       type="text"
                       class="p-2 form-control modal-field__text"
                       @keydown.prevent="enterValueFixedDiscountOrder"
                       @keydown.delete="deleteValueDiscountOrder"
                       @keydown.enter="applyDiscount">
              </template>
              <template v-else>
                <input id="value-discount"
                       ref="valueDiscountOrder"
                       v-model="discountOrderValueFormat"
                       type="text"
                       class="p-2 form-control modal-field__text"
                       @keydown.prevent="enterValuePercentDiscountOrder"
                       @keydown.delete="deleteValueDiscountOrder"
                       @keydown.enter="applyDiscount">
              </template>
            </div>
          </div>
        </div>
        <div class="calc">
          <div class="d-flex justify-content-center">
            <button class="p-2 btn btn-default btn--number" type="button"
                    @click="selectValueDiscountOrder('1')">1</button>
            <button class="p-2 btn btn-default btn--number" type="button"
                    @click="selectValueDiscountOrder('2')">2</button>
            <button class="p-2 btn btn-default btn--number" type="button"
                    @click="selectValueDiscountOrder('3')">3</button>
          </div>
          <div class="d-flex justify-content-center">
            <button class="p-2 btn btn-default btn--number" type="button"
                    @click="selectValueDiscountOrder('4')">4</button>
            <button class="p-2 btn btn-default btn--number" type="button"
                    @click="selectValueDiscountOrder('5')">5</button>
            <button class="p-2 btn btn-default btn--number" type="button"
                    @click="selectValueDiscountOrder('6')">6</button>
          </div>
          <div class="d-flex justify-content-center">
            <button class="p-2 btn btn-default btn--number" type="button"
                    @click="selectValueDiscountOrder('7')">7</button>
            <button class="p-2 btn btn-default btn--number" type="button"
                    @click="selectValueDiscountOrder('8')">8</button>
            <button class="p-2 btn btn-default btn--number" type="button"
                    @click="selectValueDiscountOrder('9')">9</button>
          </div>
          <div class="d-flex justify-content-center">
            <button v-if="discountOrderType === getDiscountTypeFixed"
                    class="p-2 btn btn-default btn--number" type="button"
                    @click="selectValueDiscountOrder('000')">000</button>
            <button v-else class="p-2 btn btn-default btn--number" type="button"
                    @click="selectValueDiscountOrder('.')">.</button>
            <button class="p-2 btn btn-default btn--number" type="button"
                    @click="selectValueDiscountOrder('0')">0</button>
            <button class="p-2 btn btn-default btn--number btn--delete" type="button"
                    @click="selectValueDiscountOrder('')">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-default">
        <i class="far fa-ban"></i> {{ $t('manage_sale.modal.close') }}
      </button>
      <button type="button" class="btn btn-primary" @click="applyDiscount">
        <i class="far fa-check"></i> {{ $t('manage_sale.modal.apply') }}
      </button>
    </div>
  </div>
</template>
<script>
  import { formatPrice } from './../../../../../helpers/handle_function.js'
  import { getValueDiscountInvoice } from './../../../../../helpers/helper_manage_sale.js'
  import { DISCOUNT_TYPE_FIXED, DISCOUNT_TYPE_PERCENT, EVENTS_TYPE }
    from './../../../../../constants.js'
  import UPDATE_INVOICE_DISCOUNT
    from './../../../../../apollo/mutation/sale/update_invoice_discount.gql'

  export default {
    props: {
      payload: {
        type: Object,
        required: true
      }
    },
    data() {
      return {
        orderId: '',
        subtotal: 0,
        discountOrderType: DISCOUNT_TYPE_FIXED,
        discountOrderValue: '',
        discountOrderValueFormat: ''
      }
    },
    computed: {
      getDiscountTypeFixed() {
        return DISCOUNT_TYPE_FIXED
      },
      getDiscountTypePercent() {
        return DISCOUNT_TYPE_PERCENT
      }
    },
    watch: {
      payload() {
        this.setData()
      },
      discountOrderValue(value) {
        if (this.discountOrderType === DISCOUNT_TYPE_FIXED) {
          this.discountOrderValueFormat = (value.length > 0) ? formatPrice(Number(value), 0) : ''
        } else {
          this.discountOrderValueFormat = (value.length > 0) ? value : ''
        }
      }
    },
    created() {
      this.setData()
    },
    methods: {
      setData() {
        this.orderId = this.payload.invoiceId
        this.discountOrderValue = this.payload.discount
        this.discountOrderType = this.payload.discount_type
        this.subtotal = this.payload.subtotal_order
        this.focusValueDiscountOrder()
      },
      selectDiscountOrderType(type) {
        this.discountOrderType = type
        this.discountOrderValue = ''
        this.focusValueDiscountOrder()
      },
      selectValueDiscountOrder(val) {
        if (val.length > 0) {
          let newValue = Number(this.discountOrderValue + val)
          if (this.discountOrderType === DISCOUNT_TYPE_FIXED) {
            if (Number(newValue) > Number(this.subtotal)) {
              this.discountOrderValue = this.subtotal.toString()
            } else {
              this.discountOrderValue += val
            }
          } else {
            if (newValue > 100) {
              this.discountOrderValue = '100'
            } else {
              this.discountOrderValue += val
            }
          }
        } else {
          this.discountOrderValue = this.discountOrderValue.slice(0, this.discountOrderValue.length - 1)
        }
        this.$refs.valueDiscountOrder.focus()
      },
      enterValueFixedDiscountOrder(e) {
        // Chỉ cho nhập số
        if (e.key.match(/[0-9]/)) {
          this.selectValueDiscountOrder(e.key)
        }
      },
      enterValuePercentDiscountOrder(e) {
        // Chỉ cho nhập số và dấu .
        if (e.key.match(/[0-9.]/)) {
          this.selectValueDiscountOrder(e.key)
        }
      },
      deleteValueDiscountOrder(e) {
        this.selectValueDiscountOrder('')
      },
      applyDiscount() {
        this.$apollo.mutate({
          mutation: UPDATE_INVOICE_DISCOUNT,
          variables: {
            groupId: this.$store.state.current.group.id,
            invoiceId: this.payload.invoiceId,
            discount: getValueDiscountInvoice(this.discountOrderValue, this.discountOrderType),
            discountType: this.discountOrderType
          }
        }).then(result => {
          this.$awn.success(this.$t('word.updated'))
          window.Echo.private(`${this.groupId}.sale`).whisper('InvoiceUpdated', {
            invoice: result.data.sale_delete_goods_item,
            type: EVENTS_TYPE.DISCOUNT_CHANGED
          })
          bus.$emit('close-modal')
        })
      },
      focusValueDiscountOrder() {
        setTimeout(() => {
          this.$refs.valueDiscountOrder.focus()
        }, 500)
      }
    }
  }
</script>