<template>
  <div id="m-s-matching-invoices-tables" class="m-s-modal">
    <div class="modal-body">
      <div style="margin-bottom: 20px;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"><b>{{ currentInvoice.code }}</b></h4>
        <div class="clearfix"></div>
      </div>
      <div>
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#combine-table" aria-controls="combine-table" role="tab" data-toggle="tab">
              <span>{{ $t('manage_sale.modal.combine_table') }}</span>
            </a>
          </li>
          <li class="tab-current">
            <a href="#combine-order" aria-controls="combine-order" role="tab" data-toggle="tab">
              <span>{{ $t('manage_sale.modal.combine_order') }}</span>
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="combine-table">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="combine-tables" class="col-sm-3 control-label">
                  {{ $t('manage_sale.modal.select_table') }}
                </label>
                <div class="col-sm-9">
                  <multiselect id="combine-tables"
                               v-model="tablesSelectedCombine"
                               label="name"
                               track-by="id"
                               :placeholder="$t('manage_sale.modal.select_table_want_to_combine')"
                               :deselect-label="$t('manage_sale.modal.press_enter_to_delete')"
                               :select-label="$t('manage_sale.modal.press_enter_to_select')"
                               :selected-label="$t('manage_sale.modal.selected')"
                               :option-height="200"
                               :options="listTablesCanSelect"
                               :custom-label="nameWithTable"
                               :multiple="true"
                               :taggable="true"
                               @select="onConbineTableSelected"
                               @remove="onCombineTableRemoved">
                    <template slot="option" slot-scope="props">
                      <span>{{ props.option.name }} - {{ props.option.place_name }}</span>
                    </template>
                  </multiselect>
                </div>
              </div>
            </form>
            <table v-if="tablesSelectedCombine.length > 0" class="table color-table info-table">
              <thead>
                <tr>
                  <th>{{ $t('word.sort') }}</th>
                  <th>Code</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in invoicesSelectedCombineTable" :key="index">
                  <td>{{ index + 1 }}</td>
                  <td>{{ item.code }}</td>
                </tr>
              </tbody>
            </table>
            <div class="text-right">
              <button type="button" class="btn btn-default" data-dismiss="modal">
                <i class="far fa-ban"></i> {{ $t('manage_sale.modal.close') }}
              </button>
              <button type="button" class="btn btn-primary"
                      :disabled="tablesSelectedCombine.length === 0"
                      @click="processCombineTables">
                <i class="far fa-check"></i> {{ $t('manage_sale.modal.combine_table') }}
              </button>
            </div>
          </div>
          <div id="combine-order" role="tabpanel" class="tab-pane">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="combine-order" class="col-sm-3 control-label">
                  {{ $t('manage_sale.modal.select_order') }}
                </label>
                <div class="col-sm-9">
                  <multiselect id="combine-order"
                               v-model="invoicesSelectedCombine"
                               label="code"
                               track-by="id"
                               :placeholder="$t('manage_sale.modal.select_order_want_to_combine')"
                               :deselect-label="$t('manage_sale.modal.press_enter_to_delete')"
                               :select-label="$t('manage_sale.modal.press_enter_to_select')"
                               :selected-label="$t('manage_sale.modal.selected')"
                               :option-height="200"
                               :options="listInvoicesCanSelect"
                               :multiple="true"
                               :taggable="true">
                    <template slot="option" slot-scope="props">
                      <span>{{ props.option.code }}</span>
                    </template>
                  </multiselect>
                </div>
              </div>
            </form>
            <div class="text-right">
              <button type="button" class="btn btn-default" data-dismiss="modal">
                <i class="far fa-ban"></i> {{ $t('manage_sale.modal.close') }}
              </button>
              <button type="button" class="btn btn-primary"
                      :disabled="invoicesSelectedCombine.length === 0"
                      @click="processCombineInvoices">
                <i class="far fa-check"></i> {{ $t('manage_sale.modal.combine_order') }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import { INVOICE_STATUS_INITED, TABLE_STATUS }
    from '../../../../../constants.js'
  import SALE_PLACES_QUERY from './../../../../../apollo/query/sale/sale_places.gql'
  import SALE_INVOICES_QUERY from './../../../../../apollo/query/sale/sale_invoices.gql'
  import MERGE_TABLES_MUTATION from './../../../../../apollo/mutation/sale/merge_table.gql'
  import MERGE_INVOICES_MUTATION from './../../../../../apollo/mutation/sale/merge_invoices.gql'
  import { EVENTS_TYPE } from './../../../../../constants.js'

  export default {
    name: 'MSMatchingOrdersTables',
    props: {
      payload: {
        type: Object,
        required: true
      }
    },
    data() {
      return {
        invoices: [],
        currentInvoice: {
          table_ids: []
        },
        // Id những invoice được gộp vào
        idCombineInvoices: [],
        // Danh sách table được chọn để gộp vào
        tablesSelectedCombine: [],
        // Danh sách invoice được chọn để gộp vào
        invoicesSelectedCombine: [],
        invoicesSelectedCombineTable: []
      }
    },
    computed: {
      listTablesCanSelect() {
        let tableIdsDraft = []
        const invoicesDraft = this.invoices.filter(invoice => invoice.is_draft === true)
        if (invoicesDraft.length > 0) {
          tableIdsDraft = invoicesDraft.map(invoice => {
            return invoice.table_ids
          }).reduce((result, tableIds) => result.concat(tableIds))
        }
        return [...this.$store.getters.tables].filter(table => {
          const isNotCurrentTables = !this.currentInvoice.table_ids.includes(table.id)
          const isNotTableDraft = !tableIdsDraft.includes(table.id)
          const isActingTable = table.status === TABLE_STATUS.ACTING
          return isNotCurrentTables && isNotTableDraft && isActingTable
        })
      },
      listInvoicesCanSelect() {
        return this.invoices.filter(invoice => {
          const isNotCurrentInvoice = invoice.code !== this.currentInvoice.code
          const isNotDraft = invoice.is_draft !== true
          const isInited = invoice.status === INVOICE_STATUS_INITED
          return isNotCurrentInvoice && isNotDraft && isInited
        })
      },
      groupId() {
        return this.$store.state.current.group.id
      },
      placeIdsManage() {
        return this.$store.getters.placesManage
      },
    },
    watch: {
      payload() {
        this.setData()
      }
    },
    created() {
      this.setData()
    },
    methods: {
      nameWithTable({ name, place_name }) {
        return `${name} - ${place_name}`
      },
      resetData() {
        this.idCombineInvoices = []
      },
      setData() {
        this.invoices = [...this.payload.invoices]
        let index = this.invoices.findIndex(invoice => invoice.id === this.payload.invoice_id)
        if (index !== -1) {
          this.currentInvoice = this.invoices[index]
        }
        this.tablesSelectedCombine = []
        this.invoicesSelectedCombine = []
        this.resetData()
      },
      // B3 Xử lý invoice khi gộp hóa đơn
      processInvoicesWhenCombineInvoices() {
        this.$apollo.mutate({
          mutation: MERGE_INVOICES_MUTATION,
          variables: {
            groupId: this.groupId,
            invoiceId: this.currentInvoice.id,
            invoiceIds: this.idCombineInvoices
          }
        }).then(result => {
          this.$awn.success(this.$t('word.updated'))

          window.Echo.private(`${this.groupId}.sale`)
                .whisper('InvoiceUpdated', {
                  invoice: result.data.merge_invoices,
                  type: EVENTS_TYPE.INVOICES_COMBINE,
                  invoiceIds: this.idCombineInvoices
                })

          const client = this.$apollo.provider.defaultClient
          // Xoá những invoice được gộp vào từ bộ đệm của apollo
          const query = {
            query: SALE_INVOICES_QUERY,
            variables: {
              groupId: this.groupId,
              placeIds: this.placeIdsManage
            }
          }
          const data = client.readQuery(query)
          data.sale_invoices = data.sale_invoices.filter(item => !this.idCombineInvoices.includes(item.id))
          client.writeQuery({ ...query, data: data })

          // Cập nhật invoice_id những bàn được gộp vào
          const placeQuery = {
            query: SALE_PLACES_QUERY,
            variables: {
              groupId: this.groupId,
              placeIds: this.placeIdsManage
            }
          }
          const placesData = client.readQuery(placeQuery)
          const tableIds = []
          this.tablesSelectedCombine.forEach(table => {
            tableIds.push(table.id)
          })
          placesData.sale_places = placesData.sale_places.map(place => {
            place.tables = place.tables.map(table => {
              if (tableIds.includes(table.id)) {
                table.invoice_id = this.currentInvoice.id
              }
              return table
            })
            return place
          })
          client.writeQuery({ ...placeQuery, data: placesData })

          bus.$emit('close-modal')
        })
      },
      // B2 Thiết lập danh sách hóa đơn gộp vào khi gộp hóa đơn
      setInvoiceIdsCombinedWhenCombineInvoices() {
        this.idCombineInvoices = this.invoicesSelectedCombine.map(invoice => invoice.id)
      },
      // B1: Xử lý gộp đơn
      processCombineInvoices() {
        this.resetData()
        this.setInvoiceIdsCombinedWhenCombineInvoices()
        this.processInvoicesWhenCombineInvoices()
      },
      // B3 Xử lý invoice khi gộp bàn
      processInvoicesWhenCombineTables() {
        let invoiceIds = []
        this.invoicesSelectedCombineTable.forEach(item => {
          invoiceIds.push(item.id)
        })
        this.$apollo.mutate({
          mutation: MERGE_TABLES_MUTATION,
          variables: {
            invoiceId: this.currentInvoice.id,
            groupId: this.groupId,
            invoiceIds: invoiceIds
          }
        }).then(result => {
          this.$awn.success(this.$t('word.updated'))

          window.Echo.private(`${this.groupId}.sale`)
                .whisper('InvoiceUpdated', {
                  invoice: result.data.merge_tables,
                  type: EVENTS_TYPE.TABLES_COMBINED,
                  invoiceIds: invoiceIds
                })

          const client = this.$apollo.provider.defaultClient
          // Xoá những invoice được gộp vào từ bộ đệm của apollo
          const query = {
            query: SALE_INVOICES_QUERY,
            variables: {
              groupId: this.groupId,
              placeIds: this.placeIdsManage
            }
          }
          const data = client.readQuery(query)
          data.sale_invoices = data.sale_invoices.filter(item => !invoiceIds.includes(item.id))
          client.writeQuery({ ...query, data: data })

          // Cập nhật trạng thái những bàn được trả ra
          const placeQuery = {
            query: SALE_PLACES_QUERY,
            variables: {
              groupId: this.groupId,
              placeIds: this.placeIdsManage
            }
          }
          const placesData = client.readQuery(placeQuery)
          const tableIds = []
          this.tablesSelectedCombine.forEach(table => {
            tableIds.push(table.id)
          })
          placesData.sale_places = placesData.sale_places.map(place => {
            place.tables = place.tables.map(table => {
              if (tableIds.includes(table.id)) {
                table.status = TABLE_STATUS.AVAILABLE
              }
              return table
            })
            return place
          })
          client.writeQuery({ ...placeQuery, data: placesData })

          bus.$emit('close-modal')
        })
      },
      // B2 Thiết lập danh sách hóa đơn gộp vào khi gộp bàn
      setInvoiceIdsCombinedWhenCombineTables() {
        this.invoices.forEach((invoice, index) => {
          // Khác invoice hiện tại
          if (invoice.code !== this.currentInvoice.code) {
            const iTable = invoice.table_ids.findIndex(tableId => {
              const iCombineTable = this.tablesSelectedCombine.findIndex(combineTable => combineTable.id === tableId)
              return iCombineTable !== -1
            })
            if (iTable !== -1) {
              this.idCombineInvoices.unshift(invoice.id)
            }
          }
        })
      },
      // B1: Xử lý gộp bàn
      processCombineTables() {
        this.resetData()
        this.setInvoiceIdsCombinedWhenCombineTables()
        this.processInvoicesWhenCombineTables()
      },
      onConbineTableSelected(table) {
        this.payload.invoices.forEach(item => {
          if (item.table_ids.includes(table.id) && this.invoicesSelectedCombineTable.indexOf(item) === -1) {
            this.invoicesSelectedCombineTable.push(item)
          }
        })
      },
      onCombineTableRemoved(table) {
        this.payload.invoices.forEach(item => {
          if (item.table_ids.includes(table.id) && this.invoicesSelectedCombineTable.indexOf(item) >= 0) {
            let index = this.invoicesSelectedCombineTable.findIndex(el => el.id === item.id)
            this.invoicesSelectedCombineTable.splice(index, 1)
          }
        })
      }
    }
  };
</script>
<style scoped>
  #combine-orders-tables .modal-title { display: block!important; }
  .close i { color: #000000; }
  .box-discount { margin: 25px 10px; }
  .discount__info {
    width: 150px;
    height: 170px;
    padding-top: 13px!important;
    padding-bottom: 13px!important;
    text-align: center;
    background-color: #b1d7ff;
    border: 1px solid #1c7dd5;
    cursor: pointer;
  }
  .discount__select { text-align: center; }
</style>