<template>
  <div id="m-s-number-goods-invoice" class="m-s-modal">
    <form class="form-horizontal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{ $t('manage_sale.modal.change_number_good') }}</h4>
      </div>
      <div class="modal-body">
        <div v-if="payload.count_max" class="form-group modal-field">
          <label class="col-sm-7 control-label modal-field__label">{{ $t('manage_sale.modal.quantity_set') }}: </label>
          <div class="col-sm-5 text-right">
            <p class="form-control-static modal-field__text">{{ payload.count_max }}</p>
          </div>
        </div>
        <div class="form-group modal-field">
          <label class="col-sm-7 control-label modal-field__label">{{ $t('word.count') }}: </label>
          <input ref="valueNumberOrder"
                 v-model="newCount"
                 type="number"
                 class="col-sm-5 form-control-static modal-field__text"
                 @keydown.prevent="enterValueCount"
                 @keydown.delete="deleteValueCount"
                 @keydown.enter="applyChangeCountItem">
        </div>
        <div class="calc">
          <div class="d-flex justify-content-center">
            <button class="p-2 btn btn-default btn--number" type="button"
                    @click="selectCount('1')">1</button>
            <button class="p-2 btn btn-default btn--number" type="button"
                    @click="selectCount('2')">2</button>
            <button class="p-2 btn btn-default btn--number" type="button"
                    @click="selectCount('3')">3</button>
          </div>
          <div class="d-flex justify-content-center">
            <button class="p-2 btn btn-default btn--number" type="button"
                    @click="selectCount('4')">4</button>
            <button class="p-2 btn btn-default btn--number" type="button"
                    @click="selectCount('5')">5</button>
            <button class="p-2 btn btn-default btn--number" type="button"
                    @click="selectCount('6')">6</button>
          </div>
          <div class="d-flex justify-content-center">
            <button class="p-2 btn btn-default btn--number" type="button"
                    @click="selectCount('7')">7</button>
            <button class="p-2 btn btn-default btn--number" type="button"
                    @click="selectCount('8')">8</button>
            <button class="p-2 btn btn-default btn--number" type="button"
                    @click="selectCount('9')">9</button>
          </div>
          <div class="d-flex justify-content-center">
            <button class="p-2 btn btn-default btn--number" type="button"
                    @click="selectCount('000')">000</button>
            <button class="p-2 btn btn-default btn--number" type="button"
                    @click="selectCount('0')">0</button>
            <button class="p-2 btn btn-default btn--number btn--delete" type="button"
                    @click="selectCount('')"><i class="fa fa-times"></i></button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default">
          <i class="far fa-ban"></i> {{ $t('manage_sale.modal.close') }}
        </button>
        <button type="button" class="btn btn-primary" @click="applyChangeCountItem">
          <i class="far fa-check"></i> {{ $t('manage_sale.modal.apply') }}
        </button>
      </div>
    </form>
  </div>
</template>
<script>
  import UPDATE_GOODS_COUNT from './../../../../../apollo/mutation/sale/update_goods_count.gql'
  import SALE_INVOICES_QUERY from './../../../../../apollo/query/sale/sale_invoices.gql'

  export default {
    name: 'MSNumberGoodsInvoice',
    props: {
      payload: {
        type: Object,
        required: true
      }
    },
    data() {
      return {
        newCount: String
      }
    },
    computed: {
      groupId() {
        return this.$store.state.current.group.id
      },
      placeIds() {
        return this.$store.getters.placesManage
      },
    },
    watch: {
      payload() {
        this.reset()
      }
    },
    created() {
      this.reset()
    },
    methods: {
      reset() {
        this.newCount = ''
        this.focusValueCount()
      },
      selectCount(val) {
        if (val.length > 0) {
          this.newCount += val
        } else {
          const lengthString = this.newCount.length
          this.newCount = this.newCount.slice(0, lengthString - 1)
        }
      },
      enterValueCount(e) {
        if (e.key.match(/[0-9]/)) {
          this.selectCount(e.key)
        }
      },
      deleteValueCount() {
        this.selectCount('')
      },
      applyChangeCountItem() {
        if (!this.newCount) {
          return this.$awn.alert(this.$t('manage_sale.modal.the_value_is_empty'))
        }
        const newCount = parseInt(this.newCount)
        if (this.payload.count_max && newCount > this.payload.count_max) {
          this.$awn.alert(this.$t('manage_sale.modal.invalid_amount_returned'))
          this.reset()
        } else {
          if (this.payload.count_max) {
            // bus.$emit('setItemNumber', { newCount: parseInt(this.newCount) })
            this.setReturnItemCount(parseInt(this.newCount))
          } else {
            this.additionGoodsItem(newCount)
          }
          bus.$emit('close-modal')
        }
      },
      additionGoodsItem(count) {
        this.$apollo.mutate({
          mutation: UPDATE_GOODS_COUNT,
          variables: {
            invoiceId: this.payload.invoice_id,
            groupId: this.groupId,
            goodsId: this.payload.goods_id,
            goodsCount: count
          }
        }).then(() => {
          this.$awn.success(this.$t('word.updated'))
        })
      },
      setReturnItemCount(count) {
        const client = this.$apollo.provider.defaultClient
        const query = {
          query: SALE_INVOICES_QUERY,
          variables: {
            groupId: this.groupId,
            placeIds: this.placeIds
          }
        }
        const data = client.readQuery(query)
        data.sale_invoices = data.sale_invoices.map(invoice => {
          if (invoice.id === this.payload.invoice_id) {
            invoice.goods.map(goods => {
              if (goods.id === this.payload.goods_id) {
                goods.return_count = count
              }
              return goods
            })
          }
          return invoice
        })
        client.writeQuery({ ...query, data: data })
      },
      focusValueCount() {
        setTimeout(() => {
          this.$refs.valueNumberOrder.focus()
        }, 500)
      }
    }
  }
</script>