<template>
  <div id="m-s-note-order" class="m-s-modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">{{ $t('manage_sale.modal.note_order') }}</h4>
    </div>
    <div class="modal-body">
      <form action="" class="form-horizontal">
        <div class="form-group">
          <label for="note-content" class="col-sm-3 control-label">{{ $t('manage_sale.modal.content') }}</label>
          <div class="col-sm-8">
            <textarea id="note-content" v-model="content" class="form-control"></textarea>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-default">
        <i class="far fa-ban"></i> {{ $t('manage_sale.modal.close') }}
      </button>
      <button type="button" class="btn btn-primary" @click="saveNote">
        <i class="far fa-check"></i> {{ $t('manage_sale.modal.save') }}
      </button>
    </div>
  </div>
</template>
<script>
  import UPDATE_NOTE_INVOICE from './../../../../../apollo/mutation/sale/update_note.gql'
  import SALE_INVOICES_QUERY from './../../../../../apollo/query/sale/sale_invoices.gql'

  export default {
    name: 'MSNoteInvoice',
    props: {
      payload: {
        type: Object,
        default: () => {}
      }
    },
    data() {
      return {
        content: this.payload.content || ''
      }
    },
    computed: {
      groupId() {
        return this.$store.getters.groupId
      },
      placeIds() {
        return this.$store.getters.placesManage
      }
    },
    watch: {
      payload(value) {
        this.content = value.content
      }
    },
    methods: {
      saveNote() {
        if (this.payload.is_return) {
          this.updateReturnInvoiceNote()
        } else {
          this.updateOrderInvoiceNote()
        }
      },
      updateReturnInvoiceNote() {
        const client = this.$apollo.provider.defaultClient
        const query = {
          query: SALE_INVOICES_QUERY,
          variables: {
            groupId: this.groupId,
            placeIds: this.placeIds
          }
        }
        const data = client.readQuery(query)
        data.sale_invoices = data.sale_invoices.map(invoice => {
          if (invoice.id === this.payload.order_id) {
            invoice.note = this.content
          }
          return invoice
        })
        client.writeQuery({ ...query, data: data })
        bus.$emit('close-modal')
      },
      updateOrderInvoiceNote() {
        this.$apollo.mutate({
          mutation: UPDATE_NOTE_INVOICE,
          variables: {
            invoiceId: this.payload.order_id,
            groupId: this.groupId,
            note: this.content
          }
        }).then(() => {
          this.$awn.success(this.$t('word.updated'))
          bus.$emit('close-modal')
        }).catch(() => {
          this.$awn.alert(this.$t('manage_sale.client_notify.cant_action'))
        })
      }
    }
  }
</script>
<style scoped>
  #note-content { height: 120px; }
</style>