<template>
  <section id="wrapper" class="new-login-register" style="overflow-y: scroll;">
    <div class="lg-info-panel">
      <div class="inner-panel">
        <div class="lg-content">
          <a href="javascript:void(0)" class="p-10 di">
            <img src="images/icon.png">
          </a>
          <h2>{{ $t("word.slogan") }}</h2>
          <p class="text-muted">{{ $t("word.info_more") }}</p>
        </div>
      </div>
    </div>
    <div class="new-login-box">
      <div class="white-box">
        <form id="loginform" class="form-horizontal new-lg-form">
          <div class="form-group ">
            <div class="col-xs-12">
              <h3>{{ $t("login.word.sign_in") }}</h3>
              <p class="text-muted">
                {{ $t("login.word.enter_detail") }}
              </p>
            </div>
          </div>
          <div class="form-group m-t-20" :class="{ 'has-error': errors.username }">
            <div class="col-xs-12">
              <label>{{ $t("word.username") }} {{ $t("word.or") }} {{ $t("word.email") }}</label>
              <input v-model="username"
                     class="form-control"
                     type="text"
                     :placeholder="$t('word.username') + '/' + $t('word.email')"
                     @change="changeInput()">
              <span v-if="errors.username" class="help-block">
                {{ errors.username[0] }}
              </span>
            </div>
          </div>

          <div class="form-group" :class="{ 'has-error': errors.password }">
            <div class="col-xs-12">
              <label>{{ $t("word.password") }}</label>
              <input v-model="password"
                     class="form-control"
                     type="password"
                     :placeholder="$t('word.password')"
                     @change="changeInput()">
              <span v-if="errors.password" class="help-block">
                {{ errors.password[0] }}
              </span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <div class="checkbox checkbox-primary pull-left p-t-0">
                <input id="checkbox-signup" v-model="remember" type="checkbox">
                <label for="checkbox-signup">{{ $t("word.remember") }}</label>
              </div>
              <router-link id="to-recover" to="/forget-password" class="text-dark pull-right">
                <i class="fa fa-lock m-r-5"></i> {{ $t("word.forgot_pass") }}
              </router-link>
            </div>
          </div>
          <div class="form-group text-center m-t-20">
            <div class="col-xs-12">
              <button class="btn btn-primary btn-lg btn-block text-uppercase"
                      @click.prevent="login()">
                <i v-if="loading" class="far fa-spin fa-spinner-third pull-left"></i>
                <i v-else class="far fa-unlock pull-left"></i> 
                {{ $t("word.login") }}
              </button>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12 text-center">
              <p>
                {{ $t("word.dont_have_account") }}
                <router-link to="/register" class="text-primary m-l-5">
                  <b>{{ $t("word.sign_up") }}</b>
                </router-link>
              </p>
            </div>
          </div>

          <div class="text-center m-t-30">
            <a :href="googleSocial"
               target="_blank"
               class="btn btn-social btn-google text-white col-12">
              <i class="fab fa-google-plus-g pull-left"
                 style="margin-top: 2px; font-size: 20px;"></i>
              <span class="text-center">Google</span>
            </a>
            <a :href="facebookSocial"
               target="_blank"
               class="btn btn-social btn-facebook text-white col-12 m-t-10">
              <i class="fab fa-facebook-f pull-left"
                 style="margin-top: 2px; margin-left: 5px; font-size: 18px;"></i>
              <span class="text-center">Facebook</span>
            </a>
          </div>

          <div class="form-group m-t-30">
            <div class="col-sm-12 text-center select-lang">
              <button type="button" :class="[isViLang, 'btn-lang']" @click="changeLanguage('vi')">
                {{ $t("config.language.0") }}
              </button>
              <button type="button" :class="[isEnLang, 'btn-lang']" @click="changeLanguage('en')">
                {{ $t("config.language.1") }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</template>
<script>
  import { LOGIN } from './../../api'
  import LangHelper from './../../helpers/language'

  export default {
    data() {
      return {
        username: '',
        password: '',
        remember: false,
        language: null,
        errors: [],
        message: '',
        loading: false
      }
    },
    computed: {
      isViLang: function() {
        return this.language == 'vi' ? 'active' : ''
      },
      isEnLang: function() {
        return this.language == 'en' ? 'active' : ''
      },
      facebookSocial() {
        return window.Laravel.app_url + '/social/facebook'
      },
      googleSocial() {
        return window.Laravel.app_url + '/social/google'
      }
    },
    created() {
      this.language = this.$i18n.locale
      window.addEventListener('message', this.onMessage, false)
    },
    methods: {
      login() {
        this.loading = true
        axios.post(LOGIN, {
          username: this.username,
          password: this.password,
          remember: this.remember
        })
        .then(result => {
          this.loading = false
          const currentUser = result.data.user
          currentUser.permissions = []
          this.$store.dispatch('setAuth', {
            access_token: result.data.access_token,
            user: currentUser
          }).then(() => {
            this.$router.push('/')
          })
        })
        .catch(error => {
          this.loading = false
          if (error.response.status === 422) {
            this.errors = error.response.data.errors
          }
          if (error.response.status === 401) {
            this.$awn.alert(error.response.data.message)
          }
        })
      },
      changeInput() {
        this.errors = []
      },
      changeLanguage(lang) {
        if (lang != this.$i18n.locale) {
          this.errors = []
          LangHelper.setLanguage(lang)
          this.language = lang
          this.$i18n.locale = lang
          this.$awn.success(this.$t('word.language_changed'))
        }
      },
      onMessage(e) {
        if (e.origin !== window.origin || !e.data.token) {
          return
        }
        let user = JSON.parse(e.data.user.replace(/&quot;/g, '"'))
        let token = e.data.token
        user.permissions = []
        this.$store.dispatch('setAuth', {
          access_token: token,
          user: user
        }).then(() => {
          this.$router.push('/')
        })
      }
    }
  }
</script>
<style scoped>
  .router-enter-active {
    transition: all 0.35s ease;
  }
  .router-enter {
    transform: translateX(-100%);
    opacity: 0;
  }
  .router-leave-to {
    opacity: 0;
  }
  .btn-lang {
    border: none;
    border-bottom: 2px solid #cccccc;
    background-color: #ffffff;
  }
  .select-lang .active {
    color: #27a1f2;
    border-bottom: 2px solid #27a1f2;
  }
  .btn-facebook { background: #3b6ed3!important; }
  .btn-facebook:hover { background: #5b81cc!important; }
  .btn-google { background: #EA4335; }
  .btn-google:hover { background: #f36b5f; }
  .btn-social { font-size: 16px; }
  .btn-social:hover { color: #fff; }
</style>
