<template>
  <section id="wrapper" class="new-login-register" style="overflow-y: scroll;">
    <div class="lg-info-panel">
      <div class="inner-panel">
        <div class="lg-content">
          <a href="javascript:void(0)" class="p-10 di">
            <img src="images/icon.png">
          </a>
          <h2>{{ $t("word.slogan") }}</h2>
          <p class="text-muted">
            {{ $t("word.info_more") }}
          </p>
        </div>
      </div>
    </div>
    <div class="new-login-box">
      <div class="white-box" style="height: auto; margin-top: 0px;">
        <form id="loginform" class="form-horizontal new-lg-form">
          <div class="form-group ">
            <div class="col-xs-12">
              <h3>{{ $t("login.word.sign_up") }}</h3>
              <p class="text-muted">
                {{ $t("login.word.enter_detail") }}
              </p>
            </div>
          </div>
          <div class="form-group" :class="{ 'has-error': errors.first_name }">
            <div class="col-xs-12">
              <input v-model="first_name"
                     class="form-control"
                     type="text"
                     :placeholder="$t('word.first_name')"
                     @change="changeInput()">
              <span v-if="errors.first_name" class="help-block">
                {{ errors.first_name[0] }}
              </span>
            </div>
          </div>

          <div class="form-group" :class="{ 'has-error': errors.last_name }">
            <div class="col-xs-12">
              <input v-model="last_name"
                     class="form-control"
                     type="text"
                     :placeholder="$t('word.last_name')"
                     @change="changeInput()">
              <span v-if="errors.last_name" class="help-block">
                {{ errors.last_name[0] }}
              </span>
            </div>
          </div>

          <div class="form-group" :class="{ 'has-error': errors.email }">
            <div class="col-xs-12">
              <div class="col-xs-12 input-group">
                <input v-model="email"
                       class="form-control"
                       type="text"
                       :placeholder="$t('word.email')"
                       @change="changeInput()">
                <span class="input-group-btn">
                  <button type="button"
                          data-container="body"
                          data-toggle="popover"
                          data-placement="right"
                          data-trigger="focus"
                          data-html="true"
                          :data-original-title="$t('login.word.why_email')"
                          :data-content="$t('login.word.email_desc')"
                          class="btn btn-primary popover-info">
                    <i class="fa fa-question"></i>
                  </button>
                </span>
              </div>
              <span v-if="errors.email" class="help-block">
                {{ errors.email[0] }}
              </span>
            </div>
          </div>

          <div class="form-group" :class="{ 'has-error': errors.phone_number }">
            <div class="col-xs-12">
              <div class="col-xs-12 input-group">
                <input v-model="phone_number"
                       class="form-control"
                       type="text"
                       :placeholder="$t('word.phone_number')"
                       @change="changeInput()">
                <span class="input-group-btn">
                  <button type="button"
                          data-container="body"
                          data-toggle="popover"
                          data-placement="right"
                          data-trigger="focus"
                          data-html="true"
                          :data-original-title="$t('login.word.why_phone_number')"
                          :data-content="$t('login.word.phone_number_desc')"
                          class="btn btn-primary popover-info">
                    <i class="fa fa-question"></i>
                  </button>
                </span>
              </div>
              <span v-if="errors.phone_number" class="help-block">
                {{ errors.phone_number[0] }}
              </span>
            </div>
          </div>

          <div class="form-group" :class="{ 'has-error': errors.password }">
            <div class="col-xs-12">
              <input v-model="password"
                     class="form-control"
                     name="password"
                     type="password"
                     :placeholder="$t('word.password')"
                     @change="changeInput()">
              <span v-if="errors.password" class="help-block">
                {{ errors.password[0] }}
              </span>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-12">
              <input v-model="password_confirmation"
                     class="form-control"
                     name="password_confirmation"
                     type="password"
                     :placeholder="$t('word.comfirm_password')"
                     @change="changeInput()">
            </div>
          </div>

          <div class="form-group" :class="{ 'has-error': errors.term }">
            <div class="col-md-12">
              <div class="checkbox checkbox-primary p-t-0">
                <input id="checkbox-signup" v-model="term" type="checkbox" name="term">
                <label for="checkbox-signup">
                  {{ $t("word.agree_term") }}
                  <a :href="urlPolicy" target="_blank">
                    <b>{{ $t("word.term") }}</b>
                  </a>
                </label>
              </div>
              <span v-if="errors.term" class="help-block">
                {{ errors.term[0] }}
              </span>
            </div>
          </div>

          <div class="form-group text-center m-t-20">
            <div class="col-xs-12">
              <button class="btn btn-primary btn-lg btn-block
                             text-uppercase"
                      @click.prevent="register()">
                <i v-if="loading" class="far fa-spin fa-spinner-third pull-left"></i>
                <i v-else class="far fa-unlock pull-left"></i> 
                <span>{{ $t("word.sign_up") }}</span>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center"></div>
          </div>
          <div class="form-group m-b-0">
            <div class="col-sm-12 text-center">
              <p>
                {{ $t("word.register_have_account") }}
                <router-link to="/login" class="text-primary m-l-5">
                  <b>{{ $t("word.login") }}</b>
                </router-link>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</template>
<script>
  import { REGISTER } from './../../api'
  export default {
    data() {
      return {
        errors: [],
        loading: false,
        first_name: '',
        last_name: '',
        email: '',
        phone_number: '',
        password: '',
        password_confirmation: '',
        term: false
      }
    },
    computed: {
      urlPolicy: function() {
        return window.Laravel.webDomain + '/policy'
      }
    },
    mounted() {
      $('#wrapper').scrollTop(100)
      $('[data-toggle="popover"]').popover()
    },
    methods: {
      register() {
        this.loading = true
        if (!this.term) {
          this.$awn.alert(this.$t('auth.term'))
          this.loading = false
          return
        }
        axios.post(REGISTER, {
            first_name: this.first_name,
            last_name: this.last_name,
            email: this.email,
            phone_number: this.phone_number,
            password: this.password,
            password_confirmation: this.password_confirmation,
            term: this.term
          })
          .then(result => {
            this.loading = false
              this.$awn.success(this.$t('auth.register.success'))
              this.$store
                .dispatch('setAuth', {
                  access_token: result.data.access_token,
                  user: result.data.user
                })
                .then(() => {
                  this.$router.push('/')
                })
          })
          .catch(error => {
            this.loading = false
            if (error.response.status === 422) {
              this.errors = error.response.data.errors
            }
          })
      },
      changeInput() {
        this.errors = []
      }
    }
  }
</script>
<style scoped>
  .input-group-btn:last-child > .btn {
    border-radius: 0px;
  }
</style>
