<template>
  <section id="wrapper" class="new-login-register" style="overflow: scroll;">
    <div class="lg-info-panel">
      <div class="inner-panel">
        <div class="lg-content">
          <a href="javascript:void(0)" class="p-10 di">
            <img src="images/icon.png">
          </a>
          <h2>{{ $t("word.slogan") }}</h2>
          <p class="text-muted">
            {{ $t("word.info_more") }}
          </p>
        </div>
      </div>
    </div>
    <div class="new-login-box">
      <div class="white-box">
        <div class="col-xs-12 text-center" style="margin-top: 10px;">
          <b class="text-info">{{ $t('mail.verify_email.verifying') }}</b><br>
          <div class="panel-heading">
            <pulse-loader :loading="true" :color="'#27a1f2'"></pulse-loader>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
  import PulseLoader from 'vue-spinner/src/PulseLoader'
  import { VERIFY_EMAIL } from './../../api.js'

  export default {
    components: {
      PulseLoader
    },
    async created() {
      delete axios.defaults.params['group_id']
      await axios.post(`${VERIFY_EMAIL}/${this.$route.params.userId}/?expires=${this.$route.query.expires}&signature=
      ${this.$route.query.signature}`)
        .then(result => {
          this.$awn.success(result.data.message)
          this.$store.dispatch('setVerified', true)
        })
        .catch(error => {
          if (error.response.status === 401) {
            this.$awn.alert(this.$t('mail.verify_email.auth_required'))
          }
          if (error.response.status === 403) {
            this.$awn.warning(this.$t('mail.verify_email.authorize_invalid'))
          }
        })
        .finally(() => {
          window.axios.defaults.params['group_id'] = this.$store.getters.groupId
        })
      this.$router.push('/')
    }
  }
</script>