<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">{{ $t('master.tag_manager.add_tag') }}</h4>
      </div>
      <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
          <li><router-link :to="{name: 'home'}">{{ $t('word.home') }}</router-link></li>
          <li><router-link :to="{name: 'master.tag.list'}">{{ $t('master.tag_manager.tag') }}</router-link></li>
          <li class="active">{{ $t('word.add') }}</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="white-box col">
        <div class="panel-body">
          <div class="col-sm-12">
            <form action="#" method="POST">
              <div class="form-group form-group-field tag-input" :class="{ 'has-error' : errors.name }">
                <label>Tên nhãn</label>
                <input id="name"
                       v-model="name"
                       class="form-control"
                       type="text"
                       name="name">
                <span v-if="errors.name" class="text-danger">
                  <strong>{{ errors.name[0] }}</strong>
                </span>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-success btn-rounded btn-submit-form" @click.prevent="save()">
                  <i class="fa fa-save"></i> {{ $t('word.submit') }}
                </button>
                <router-link :to="{name: 'master.tag.list'}" class="btn btn-danger btn-rounded">
                  <i class="fa fa-remove"></i> {{ $t('word.cancel') }}
                </router-link>
              </div>
            </form>
          </div>
        </div>
        <div v-if="scaleLoading" class="screen-loading">
          <scale-loader :loading="scaleLoading" :color="'#27a1f2'"></scale-loader>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import { STORE_TAG } from './../../../api_master'
  import ScaleLoader from 'vue-spinner/src/ScaleLoader'
  export default {
    name: 'CreateTag',
    components: { ScaleLoader },
    data() {
      return {
        scaleLoading: false,
        name: '',
        errors: []
      }
    },
    methods: {
      save() {
        let data = {
          'name': this.name
        }
        this.scaleLoading = true
        axios.post(STORE_TAG, data).then(result => {
          this.scaleLoading = false
          this.$router.push({ name: 'master.tag.list' })
          this.$awn.success(result.data.message)
        }).catch(error => {
          this.scaleLoading = false
          if (typeof error.response !== undefined && error.response.status == 422) {
            this.errors = error.response.data.errors
          }
        })
      }
    }
  }
</script>