<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">{{ $t('master.tag_manager.add_tag') }}</h4>
      </div>
      <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{name: 'home'}">{{ $t('word.home') }}</router-link>
          </li>
          <li>
            <router-link :to="{name: 'master.tag.list'}">Tag</router-link>
          </li>
          <li class="active">{{ $t('word.edit') }}</li>
        </ol>
      </div>
    </div>
    <div v-if="!loading" class="row">
      <div class="white-box col">
        <div class="panel-body">
          <div class="col-sm-12">
            <form action="#" method="POST">
              <div class="form-group form-group-field tag-input" :class="{ 'has-error' : errors.name }">
                <label>Tên thẻ</label>
                <input id="name"
                       v-model="name"
                       class="form-control"
                       type="text"
                       name="name">
                <span v-if="errors.name" class="text-danger">
                  <strong>{{ errors.name[0] }}</strong>
                </span>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-success btn-rounded btn-submit-form" @click.prevent="save()">
                  <i class="fa fa-save"></i> {{ $t('word.submit') }}
                </button>
                <router-link :to="{name: 'master.tag.list'}" class="btn btn-danger btn-rounded">
                  <i class="fa fa-remove"></i> {{ $t('word.cancel') }}
                </router-link>
              </div>
            </form>
          </div>
        </div>
        <div v-if="scaleLoading" class="screen-loading">
          <scale-loader :loading="scaleLoading" :color="'#27a1f2'"></scale-loader>
        </div>
      </div>
    </div>
    <div v-if="loading" class="spinner-rise">
      <rise-loader :loading="loading" :color="'#27a1f2'"></rise-loader>
    </div>
  </div>
</template>
<script>
  import { GET_TAG_EDIT, UPDATE_TAG } from './../../../api_master'
  import RiseLoader from 'vue-spinner/src/RiseLoader'
  import ScaleLoader from 'vue-spinner/src/ScaleLoader'

  export default {
    name: 'EditTag',
    components: { RiseLoader, ScaleLoader },
    data() {
      return {
        tagId: '',
        name: '',
        errors: [],
        loading: true,
        scaleLoading: false
      }
    },
    created() {
      this.tagId = this.$route.params.id
      axios.get(`${GET_TAG_EDIT}/${this.tagId}`).then(result => {
        this.name = result.data.name
      }).finally(() => {
        this.loading = false
      })
    },
    methods: {
      save() {
        this.scaleLoading = true
        let data = {
          'name': this.name,
          '_method': 'PUT'
        }
        axios.post(`${UPDATE_TAG}/${this.tagId}`, data).then(result => {
          this.$awn.success(result.data.message)
          this.$router.push({ name: 'master.tag.list' })
        }).catch(error => {
          if (typeof error.response !== undefined && error.response.status == 422) {
            this.errors = error.response.data.errors
          }
        }).then(() => {
          this.scaleLoading = false
        })
      }
    }
  }
</script>