<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <h4 class="page-title">{{ $t('master.tag_manager.tag_manager') }}</h4>
      </div>
      <div class="col-sm-6 col-md-8 col-xs-12">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{name: 'home'}">{{ $t('word.home') }}</router-link>
          </li>
          <li class="active">{{ $t('master.tag_manager.tag') }}</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="white-box col">
        <div class="filterform">
          <form id="filter" action="#" method="GET">
            <div class="row">
              <div class="radio radio-info col-xs-3 col-xs-offset-3 text-center">
                <input id="visible" v-model="filterStatus" type="radio" value="1">
                <label for="visible">{{ $t('master.not_delete') }}</label>
              </div>
              <div class="radio radio-info col-xs-6 unvisible text-center">
                <input id="unvisible" v-model="filterStatus" type="radio" value="0">
                <label for="unvisible">{{ $t('master.deleted') }}</label>
              </div>
            </div>
          </form>
        </div>
        <div class="searchform clearfix">
          <h3 class="box-title row">
            <span class="col row">{{ $t('word.list') }}</span>
            <router-link :to="{name: 'master.tag.create'}" class="btn btn-info pull-right btn-rounded col-auto">
              <i class="fa fa-plus"></i> {{ $t('word.create') }}
            </router-link>
          </h3>
        </div>

        <div class="table-responsive">
          <table class="table color-table info-table table-responsive">
            <thead>
              <tr>
                <th class="sort">{{ $t('word.sort') }}</th>
                <th>Tên thẻ</th>
                <th class="status">{{ $t('word.status') }}</th>
                <th width="150px" class="text-right">Số lần sử dụng</th>
                <th v-if="filterStatus === '0'" width="120px" class="text-center">Ngày xóa</th>
                <th class="actions">
                  <div>
                    <span>Số lượng <span
                      class="badge m-l-5">{{ (tags.length) ? tags.length : '0' }}/{{ total }}</span></span>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <template v-if="!loading">
                <tr v-for="(tag, index) in tags" :key="index">
                  <td>{{ (currentPage - 1) * perPage + index + 1 }}</td>
                  <td>{{ tag.name }}</td>
                  <td class="text-center">
                    <div @change="changeStatus(tag.id, tag.status)">
                      <switches v-model="tag.status" theme="bootstrap" color="success"></switches>
                    </div>
                  </td>
                  <td class="text-right">{{ tag.usage_count }}</td>
                  <td v-if="filterStatus === '0'">{{ getDeleteDate(tag.deleted_at.date) }}</td>
                  <td class="text-center">
                    <router-link v-if="!tag.deleted_at"
                                 :to="{name: 'master.tag.edit', params: {id: tag.id}}"
                                 data-toggle="tooltip"
                                 :title="$t('word.edit')"
                                 class="btn btn-info btn-circle"><i class="fa fa-pencil"></i>
                    </router-link>
                    <div v-if="tag.deleted_at" class="display-inline">
                      <a class="btn btn-success btn-circle"
                         data-toggle="tooltip"
                         :title="$t('word.restore')"
                         @click="restoreTag(tag.id, index)"><i class="fa fa-recycle"></i>
                      </a>
                    </div>
                    <div v-else class="display-inline">
                      <a class="btn btn-danger btn-circle"
                         data-toggle="tooltip"
                         :title="$t('word.delete')"
                         @click="deleteTag(tag.id, index)">
                        <i class="fa fa-trash"></i>
                      </a>
                    </div>
                  </td>
                </tr>
              </template>

              <tr v-if="loading">
                <td colSpan="6">
                  <pulse-loader :loading="loading" :color="'#27a1f2'"></pulse-loader>
                </td>
              </tr>
              <tr v-else-if="tags.length === 0">
                <td colSpan="6" class="no-data">{{ $t('word.no_data') }}</td>
              </tr>
            </tbody>
          </table>
          <pagination v-if="lastPage > 1"
                      :current-page="currentPage"
                      :total-page="lastPage"
                      @changePage="changePage"></pagination>
          <div v-if="scaleLoading" class="screen-loading">
            <scale-loader :loading="scaleLoading" :color="'#27a1f2'"></scale-loader>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import moment from 'moment'
  import Switches from 'vue-switches'
  import { GET_TAG_LIST, GET_TAG_CHANGE_STATUS, DELETE_TAG, RESTORE_TAG } from './../../../api_master'
  import Pagination from './../../partials/pagination'
  import PulseLoader from 'vue-spinner/src/PulseLoader'
  import ScaleLoader from 'vue-spinner/src/ScaleLoader'

  export default {
    name: 'TagList',
    components: { Switches, Pagination, PulseLoader, ScaleLoader },
    data() {
      return {
        loading: true,
        scaleLoading: false,
        tags: {},
        filterStatus: '1',
        total: 0,
        currentPage: 1,
        perPage: 10,
        lastPage: null
      }
    },
    watch: {
      filterStatus: function(value) {
        this.loading = true
        axios.get(`${GET_TAG_LIST}/${parseInt(value)}`)
            .then(result => {
              this.tags = result.data.tags.data
              this.setPagination(result.data.tags.pagination)
            })
            .finally(() => {
              this.loading = false
            })
      }
    },
    created() {
      axios.get(GET_TAG_LIST)
          .then(result => {
            this.tags = result.data.tags.data
            this.setPagination(result.data.tags.pagination)
          })
          .finally(() => {
            this.loading = false
          })
    },
    updated() {
      $('[data-toggle="tooltip"]').tooltip()
    },
    methods: {
      getDeleteDate(date) {
        if (typeof date !== 'undefined') {
          return moment(date, 'YYYY-MM-DD HH:mm:ss').format('DD-MM-YYYY')
        }
        return ''
      },
      changePage(page) {
        this.loading = true
        axios.get(`${GET_TAG_LIST}?page=${page}`)
            .then(result => {
              this.tags = result.data.tags.data
              this.setPagination(result.data.tags.pagination)
            })
            .finally(() => {
              this.loading = false
            })
      },
      setPagination(pagination) {
        this.total = pagination.total
        this.perPage = pagination.per_page
        this.lastPage = pagination.total_page
        this.currentPage = pagination.current_page
      },
      changeStatus(tagId, tagStatus) {
        let data = {
          id: tagId,
          status: (tagStatus === true) ? 1 : 0
        }
        axios.put(GET_TAG_CHANGE_STATUS, data).then(() => {})
      },
      deleteTag(tagId, index) {
        let conf = confirm(this.$i18n.t('master.tag_manager.delete_tag_confirm'))
        if (conf) {
          this.scaleLoading = true
          axios.delete(`${DELETE_TAG}/${tagId}`)
              .then(result => {
                if (result.data.is_success) {
                  this.tags.splice(index, 1)
                  this.$awn.success(result.data.message)
                } else {
                  this.$awn.alert(result.data.message)
                }
              })
              .finally(() => {
                this.scaleLoading = false
              })
        }
      },
      restoreTag(tagId, index) {
        let conf = confirm(this.$i18n.t('master.tag_manager.restore_tag_confirm'))
        if (conf) {
          let method = {
            '_method': 'PUT'
          }
          axios.put(`${RESTORE_TAG}/${tagId}`, method).then(result => {
            this.scaleLoading = false
            this.tags.splice(index, 1)
            this.$awn.success(result.data.message)
          }).finally(() => {
            this.scaleLoading = false
          })
        }
      }
    }
  }
</script>
<style scoped>
  .unvisible {
    margin-top: 10px;
  }

  .usage-count {
    width: 120px;
  }

  .display-inline {
    display: inline-block;
  }
</style>