<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-sm col-12">
        <h4 class="page-title">{{ $t('restaurant.manage_group_menus') }}</h4>
      </div>
      <div class="col-12 col-sm-auto">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{name: 'home'}">{{ $t('word.home') }}</router-link>
          </li>
          <li>
            <router-link :to="{name: 'restaurant.menu.list'}">{{ $t('restaurant.group_menu.menu') }}</router-link>
          </li>
          <li class="active">{{ $t('word.add') }}</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="white-box col-12">
        <div class="row justify-content-center">
          <div class="col-sm-8 col-md-6">
            <i class="text-muted pull-right">({{ $t('common.required_fields') }})</i>
            <div class="clearfix"></div>
            <div class="form-group" :class="{ 'has-error' : errors.name }">
              <label>{{ $t('restaurant.group_menu.name') }} <span class="text-danger h4">*</span></label>
              <input id="name"
                     v-model="name"
                     class="form-control"
                     type="text"
                     name="name">
              <span v-if="errors.name" class="text-danger">
                <strong>{{ errors.name[0] }}</strong>
              </span>
            </div>
            <div class="form-group" :class="{ 'has-error' : errors.parent_id }">
              <label>{{ $t('restaurant.group_menu.group_parent_menu') }} </label> 
              <i class="text-muted pull-right font-13">({{ $t('common.not_required') }})</i>
              <div class="input-group">
                <multiselect
                  v-model="menuSelected"
                  :placeholder="$t('restaurant.group_menu.choose_group_menu')"
                  :options="parentGroupMenu"
                  :allow-empty="false"
                  :show-labels="false"
                  :searchable="false"
                  label="name"
                  track-by="id">
                  <template slot="option" slot-scope="props">
                    <div v-if="props.option.level == 0" class="menu-lv0">{{ props.option.name }}</div>
                    <div v-if="props.option.level == 1" class="menu-lv1">{{ props.option.name }}</div>
                    <div v-if="props.option.level == 2" class="menu-lv2">{{ props.option.name }}</div>
                  </template>
                </multiselect>
                <span class="input-group-btn" style="top: 1px;">
                  <button
                    type="button"
                    data-container="body"
                    data-toggle="popover"
                    data-placement="right"
                    data-trigger="focus"
                    data-html="true"
                    :data-content="$t('restaurant.explain_parent_group_menu')"
                    class="btn btn-primary popover-info">
                    <i class="fa fa-question"></i>
                  </button>
                </span>
              </div>
              <span v-if="errors.parent_id" class="text-danger">
                <strong>{{ errors.parent_id[0] }}</strong>
              </span>
            </div>
            <div class="form-group" :class="{ 'has-error' : errors.description }">
              <label>{{ $t('word.description') }}</label>  
              <i class="text-muted pull-right font-13">({{ $t('common.not_required') }})</i>
              <textarea
                id="description"
                v-model="description"
                class="form-control"
                name="description"
                rows="6"></textarea>
              <span v-if="errors.description" class="text-danger">
                <strong>{{ errors.description[0] }}</strong>
              </span>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-info" :disabled="loading" @click.prevent="save()">
            <i :class="[loading ? 'far fa-spin fa-spinner-third' : 'far fa-check']"></i> 
            {{ $t('word.submit') }}
          </button>
          <router-link :to="{name: 'restaurant.menu.list'}" class="btn btn-default">
            <i class="fa fa-ban"></i> {{ $t('word.cancel') }}
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import GROUP_MENUS_QUERY from '@apollo/query/group_menu/list.gql'
  import CREATE_GROUP_MENU_MUTATION from '@apollo/mutation/group_menu/create.gql'

  export default {
    data() {
      return {
        loading: false,
        name: '',
        description: '',
        menuSelected: null,
        parentGroupMenu: [],
        errors: []
      }
    },
    computed: {
      selectedLabel() {
        return this.$t('word.selected_label')
      },
      groupId() {
        return this.$store.getters.groupId
      }
    },
    apollo: {
      group_menus: {
        query: GROUP_MENUS_QUERY,
        variables() {
          return {
            groupId: this.groupId
          }
        },
        manual: true,
        result({ data: { group_menus } }) {
          this.parentGroupMenu = []
          group_menus.forEach(item => {
            this.parentGroupMenu.push(item)
            item.childs.forEach(child => {
              this.parentGroupMenu.push({ ...child, parentId: item.id })
            })
          })
        }
      }
    },
    methods: {
      updateQueryData(data, groupMenu) {
        if (this.menuSelected) {
          if (this.menuSelected.level == 0) {
            let index0 = data.group_menus.findIndex(menu => menu.id == this.menuSelected.id)
            data.group_menus[index0].childs.push(groupMenu)
          } else if (this.menuSelected.level == 1) {
            let index0 = data.group_menus.findIndex(menu => menu.id == this.menuSelected.parentId)
            let index1 = data.group_menus[index0].childs.findIndex(menu => menu.id == this.menuSelected.id)
            data.group_menus[index0].childs[index1].childs.push(groupMenu)
          }
        } else {
          data.group_menus.push(groupMenu)
        }
        return data
      },
      save() {
        this.loading = true
        this.$apollo.mutate({
          mutation: CREATE_GROUP_MENU_MUTATION,
          variables: {
            groupId: this.groupId,
            name: this.name,
            description: this.description,
            parentId: this.menuSelected ? this.menuSelected.id : ''
          },
          update: (store, { data: { create_group_menu } }) => {
            try {
              const query = {
                query: GROUP_MENUS_QUERY,
                variables: {
                  groupId: this.groupId
                }
              }
              let data = store.readQuery(query)
              data = this.updateQueryData(data, create_group_menu)
              store.writeQuery({ ...query, data: data })
            } catch (e) {}
          }
        }).then(() => {
          this.$awn.success(this.$t('word.created'))
          this.$router.push({ name: 'restaurant.menu.list' })
        }).catch(err => {
          if (err.graphQLErrors[0].message === 'validation') {
            this.errors = err.graphQLErrors[0].extensions.validation
          }
        }).finally(() => this.loading = false)

      }
    }
  }
</script>
<style scoped>
  .popover-info {
    margin-top: -1px;
  }
</style>