<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-12 col-sm">
        <h4 class="page-title">{{ $t('restaurant.manage_group_menus') }}</h4>
      </div>
      <div class="col-12 col-sm-auto">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{name: 'home'}">{{ $t('word.home') }}</router-link>
          </li>
          <li>
            <router-link :to="{name: 'restaurant.menu.list'}">{{ $t('restaurant.group_menu.menu') }}</router-link>
          </li>
          <li class="active">{{ $t('word.edit') }}</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="white-box col-12">
        <div class="row justify-content-center">
          <div class="col-sm-8 col-md-6">
            <div class="form-group field" :class="{ 'has-error' : errors.name }">
              <label>{{ $t('restaurant.group_menu.name') }}</label>
              <input v-model="group_menu.name" class="form-control" type="text" name="name">
              <span v-if="errors.name" class="text-danger">
                <strong>{{ errors.name[0] }}</strong>
              </span>
            </div>
            <div class="form-group field" :class="{ 'has-error' : errors.description }">
              <label>{{ $t('word.description') }}</label>
              <textarea id="description" v-model="group_menu.description" class="form-control"
                        name="description" rows="6"></textarea>
              <span v-if="errors.description" class="text-danger">
                <strong>{{ errors.description[0] }}</strong>
              </span>
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-info btn-submit-form"
                      :disabled="updating" @click.prevent="save()">
                <i :class="[updating ? 'far fa-spin fa-spinner-third' : 'far fa-check']"></i> 
                {{ $t('word.update') }}
              </button>
              <router-link :to="{name: 'restaurant.menu.list'}" class="btn btn-default">
                <i class="fa fa-ban"></i> {{ $t('word.cancel') }}
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import GROUP_MENU_QUERY from '@apollo/query/group_menu/get_by_id.gql'
  import UPDATE_GROUP_MENU_MUTATION from '@apollo/mutation/group_menu/update.gql'

  export default {
    data() {
      return {
        loading: false,
        updating: false,
        group_menu: {},
        errors: []
      }
    },
    computed: {
      groupMenuId() {
        return this.$route.params.groupMenuId
      },
      groupId() {
        return this.$store.getters.groupId
      }
    },
    apollo: {
      group_menu: {
        query: GROUP_MENU_QUERY,
        variables() {
          return {
            groupMenuId: this.groupMenuId
          }
        }
      }
    },
    methods: {
      save() {
        this.updating = true

        this.$apollo.mutate({
          mutation: UPDATE_GROUP_MENU_MUTATION,
          variables: {
            groupId: this.groupId,
            groupMenuId: this.groupMenuId,
            name: this.group_menu.name,
            description: this.group_menu.description
          }
        }).then(() => {
          this.$awn.success(this.$t('restaurant.group_menu.update_select_success'))
          this.$router.push({ name: 'restaurant.menu.list' })
        }).catch(error => {
          if (error.graphQLErrors[0].message === 'validation') {
            this.errors = error.graphQLErrors[0].extensions.validation
          }
        }).finally(() => {
          this.updating = false
        })
      }
    }
  }
</script>