<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-sm col-12">
        <h4 class="page-title">{{ $t('restaurant.manage_group_menus') }}</h4>
      </div>
      <div class="col-sm col-12">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{name: 'home'}">{{ $t('word.home') }}</router-link>
          </li>
          <li class="active">{{ $t('restaurant.group_menu.menu') }}</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="white-box col-12">
        <div class="row clearfix">
          <h3 class="box-title row col-12 justify-content-end">
            <span class="col-sm hidden-xs row">{{ $t('word.list') }}</span>
            <router-link v-check="{ permission: 'group-menus.create' }"
                         :to="{name: 'restaurant.menu.create'}"
                         class="btn btn-info col-auto">
              <i class="fa fa-plus"></i> {{ $t('word.create') }}
            </router-link>
          </h3>
        </div>

        <table class="table color-table info-table table-responsive">
          <thead>
            <tr>
              <th></th>
              <th>{{ $t('restaurant.group_menu.name') }}</th>
              <th>{{ $t('word.description') }}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <template>
              <template v-for="(menu, index) in group_menus">
                <!-- Menu level 0 -->
                <tr :key="menu.id" class="menu-lv0">
                  <td>
                    <span
                      v-show="hasChilds(menu)"
                      class="text-left cursor-pointer"
                      :class="{ 'fa fa-plus-circle': !menu.open, 'fa fa-minus-circle': menu.open }"
                      @click="openMenuLv0(index)"></span>
                  </td>
                  <td class="text-left">{{ menu.name }}</td>
                  <td>{{ menu.description }}</td>
                  <td class="text-center">
                    <router-link
                      v-check="{ permission: 'group-menus.delete' }"
                      :to="{name: 'restaurant.menu.edit', params: {groupMenuId: menu.id}}"
                      data-toggle="tooltip"
                      :title="$t('word.edit')"
                      class="btn btn-info btn-circle">
                      <i class="fa fa-pencil-alt"></i>
                    </router-link>
                    <button
                      v-check="{ permission: 'group-menus.delete' }"
                      class="btn btn-danger btn-circle"
                      data-toggle="tooltip"
                      :disabled="deleting.includes(menu.id)"
                      :title="$t('word.delete')"
                      @click="deleteGroupMenu(menu, [index])">
                      <i :class="deleting.includes(menu.id) ? 'far fa-spin fa-circle-notch' : 'fa fa-trash'"></i>
                    </button>
                  </td>
                </tr>
                <template v-if="menu.open">
                  <!-- Menu level 1 -->
                  <template v-for="(menuChildLv1, indexChildLv1) in menu.childs">
                    <tr :key="menuChildLv1.id" class="menu-lv1">
                      <td>
                        <span
                          v-show="hasChilds(menuChildLv1)"
                          class="cursor-pointer"
                          :class="{'fa fa-plus-circle': !menuChildLv1.open, 'fa fa-minus-circle': menuChildLv1.open }"
                          @click="openMenuLv1(index, indexChildLv1)"></span>
                      </td>
                      <td class="p-l-20">{{ menuChildLv1.name }}</td>
                      <td>{{ menuChildLv1.description }}</td>
                      <td class="text-center">
                        <router-link
                          v-check="{ permission: 'group-menus.delete' }"
                          :to="{name: 'restaurant.menu.edit', params: {groupMenuId: menuChildLv1.id}}"
                          data-toggle="tooltip"
                          :title="$t('word.edit')"
                          class="btn btn-info btn-circle">
                          <i class="fa fa-pencil-alt"></i>
                        </router-link>
                        <button
                          v-check="{ permission: 'group-menus.delete' }"
                          class="btn btn-danger btn-circle"
                          data-toggle="tooltip"
                          :disabled="deleting.includes(menuChildLv1.id)"
                          :title="$t('word.delete')"
                          @click="deleteGroupMenu(menuChildLv1, [index, indexChildLv1])">
                          <i :class="deleting.includes(menuChildLv1.id) ?
                            'far fa-spin fa-circle-notch' : 'fa fa-trash'"></i>
                        </button>
                      </td>
                    </tr>
                    <template v-if="menuChildLv1.open">
                      <!-- Menu level 2 -->
                      <template v-for="(menuChildLv2, indexChildLv2) in menuChildLv1.childs">
                        <tr :key="menuChildLv2.id" class="menu-lv2">
                          <td></td>
                          <td class="p-l-30">{{ menuChildLv2.name }}</td>
                          <td>{{ menuChildLv2.description }}</td>
                          <td class="text-center">
                            <router-link
                              v-check="{ permission: 'group-menus.delete' }"
                              :to="{ name: 'restaurant.menu.edit', params: {groupMenuId: menuChildLv2.id} }"
                              data-toggle="tooltip"
                              :title="$t('word.edit')"
                              class="btn btn-info btn-circle">
                              <i class="fa fa-pencil-alt"></i>
                            </router-link>
                            <button
                              v-check="{ permission: 'group-menus.delete' }"
                              class="btn btn-danger btn-circle"
                              data-toggle="tooltip "
                              :disabled="deleting.includes(menuChildLv2.id)"
                              :title="$t('word.delete')"
                              @click="deleteGroupMenu(menuChildLv2, [index, indexChildLv1, indexChildLv2])">
                              <i :class="deleting.includes(menuChildLv2.id) ?
                                'far fa-spin fa-circle-notch' : 'fa fa-trash'"></i>
                            </button>
                          </td>
                        </tr>
                      </template>
                    </template>
                  </template>
                </template>
              </template>
            </template>

            <tr v-if="$apollo.loading">
              <td colspan="4">
                <pulse-loader loading="true" :color="'#27a1f2'"></pulse-loader>
              </td>
            </tr>
            <tr v-else-if="group_menus.length === 0">
              <td class="no-data" colspan="4">{{ $t('word.no_data') }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
  import PulseLoader from 'vue-spinner/src/PulseLoader'
  import GROUP_MENUS_QUERY from '@apollo/query/group_menu/list.gql'
  import DELETE_MENU_MUTATION from '@apollo/mutation/group_menu/delete.gql'

  export default {
    name: 'MenuList',
    components: { PulseLoader },
    data() {
      return {
        group_menus: [],
        loading: true,
        deleting: []
      }
    },
    computed: {
      groupId() {
        return this.$store.getters.groupId
      }
    },
    apollo: {
    group_menus: {
      query: GROUP_MENUS_QUERY,
      update: data => data.group_menus,
      variables() {
        return {
          groupId: this.groupId
        }
      },
      result({ data: { group_menus } }) {
        group_menus.map(menuLv0 => {
          if (this.hasChilds(menuLv0)) {
            menuLv0.open = menuLv0.open || false
            menuLv0.childs.map(menuLv1 => {
              if (this.hasChilds(menuLv1)) {
                menuLv1.open = menuLv1.open || false
              }
              return menuLv1
            })
          }
          return menuLv0
        })
        }
      }
    },
    methods: {
      hasChilds(item) {
        return item.childs.length ? true : false
      },
      openMenuLv0(iMenuLv0) {
        const menu = this.group_menus[iMenuLv0]
        menu.open = !menu.open
        this.$set(this.group_menus, iMenuLv0, menu)
      },
      openMenuLv1(iMenuLv0, iMenuLv1) {
        const menu = this.group_menus[iMenuLv0].childs[iMenuLv1]
        menu.open = !menu.open
        this.$set(this.group_menus[iMenuLv0].childs, iMenuLv1, menu)
      },
      checkHasGoods(menu) {
        if (menu.goods_ids && menu.goods_ids.length) {
          return true
        }
        return false
      },
      deleteGroupMenu(menu, index) {
        let check = this.checkHasGoods(menu)
        if (!check) {
          switch (menu.level) {
            case 1:
              for (let i = 0; i < menu.childs.length; i++) {
                if (this.checkHasGoods(menu.childs[i])) {
                  check = true
                  break
                }
              }
              break
            case 0:
              for (let i = 0; i < menu.childs.length; i++) {
                if (this.checkHasGoods(menu.childs[i])) {
                  check = true
                  break
                }
                let menuChilds = menu.childs[i]
                for (let j = 0; j < menuChilds.childs.length; j++) {
                  if (this.checkHasGoods(menuChilds.childs[j])) {
                    check = true
                    break
                  }
                }
              }
              break
          }
        }
        if (check) {
          this.$awn.alert(
            this.$t('restaurant.group_menu.notification_group_child_menu_has_dishs')
          )
        } else {
          let conf = confirm(this.$t('restaurant.group_menu.confirm_delete'))
          if (conf) {
            this.deleting.push(menu.id)
            this.$apollo.mutate({
              mutation: DELETE_MENU_MUTATION,
              variables: {
                groupId: this.groupId,
                groupMenuId: menu.id
              }
            }).then(({ data: { delete_group_menu } }) => {
              if (delete_group_menu.code === 200) {
                if (index.length == 3) {
                  this.group_menus[index[0]].childs[index[1]].childs.splice(index[2], 1)
                } else if (index.length == 2) {
                  this.group_menus[index[0]].childs.splice(index[1], 1)
                } else {
                  this.group_menus.splice(index[0], 1)
                }
                this.$awn.success(this.$t('deleted'))
              }
            }).finally(() => {
              this.deleting.filter(id => id !== menu.id)
            })
          }
        }
      }
    }
  }
</script>

<style scoped lang="scss">
  .menu-lv0 {
    font-weight: bold;
  }

  .menu-lv1 {
    td:nth-child(1) {
      padding-left: 15px;
    }
  }

  .menu-lv2 {
    font-size: 12px;
    td:nth-child(1) {
      padding-left: 30px;
    }
  }

  .sort {
    padding-left: 20px;
  }
</style>