<template>
  <div class="container-fluid">
    <div v-if="!loading" class="row bg-title">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">{{ $t('master.contact.contact') }}</h4>
      </div>
      <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{name: 'home'}">{{ $t('word.home') }}</router-link>
          </li>
          <li class="active">{{ $t('word.contact') }}</li>
        </ol>
      </div>
    </div>
    <form v-if="!loading" action="#" method="POST">
      <div class="row">
        <div class="config col-sm-12">
          <div class="section-config">
            <div class="type-config">
              <button type="button" class="btn btn-success btn-rounded" @click.prevent="save()">
                <i class="fa fa-save"> {{ $t('configuration.save_config') }}</i>
              </button>
            </div>
            <div class="white-box">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group" :class="{ 'has-error' : errors.address }">
                    <label for="address">{{ $t('configuration.contactInformation.address') }}</label>
                    <input id="address"
                           v-model="contactInformation.address"
                           class="form-control"
                           type="text"
                           name="address">
                    <span v-if="errors.address" class="text-danger">
                      <strong>{{ errors.address[0] }}</strong>
                    </span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group" :class="{ 'has-error' : errors.phone_number }">
                    <label for="phone_number">{{ $t('configuration.contactInformation.phone_number') }}</label>
                    <input id="phone_number"
                           v-model="contactInformation.phone_number"
                           class="form-control"
                           type="text"
                           name="phone_number">
                    <span v-if="errors.phone_number" class="text-danger">
                      <strong>{{ errors.phone_number[0] }}</strong>
                    </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group" :class="{ 'has-error' : errors.fax }">
                    <label for="fax">{{ $t('configuration.contactInformation.fax') }}</label>
                    <input id="fax"
                           v-model="contactInformation.fax"
                           class="form-control"
                           type="text"
                           name="fax">
                    <span v-if="errors.fax" class="text-danger">
                      <strong>{{ errors.fax[0] }}</strong>
                    </span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group" :class="{ 'has-error' : errors.fb }">
                    <label for="fb">{{ $t('configuration.contactInformation.fb') }}</label>
                    <input id="fb"
                           v-model="contactInformation.fb"
                           class="form-control"
                           type="text"
                           name="fb">
                    <span v-if="errors.fb" class="text-danger">
                      <strong>{{ errors.fb[0] }}</strong>
                    </span>
                  </div>
                </div>
              </div>
              <div v-if="scaleLoading" class="screen-loading">
                <scale-loader :loading="scaleLoading" :color="'#27a1f2'"></scale-loader>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div v-if="loading" class="spinner-rise">
      <rise-loader :loading="loading" :color="'#27a1f2'"></rise-loader>
    </div>
  </div>
</template>
<script>
  import { GET_CONTACT_INFORMATION, STORE_CONTACT_INFORMATION } from './../../../api_master.js'
  import RiseLoader from 'vue-spinner/src/RiseLoader'
  import ScaleLoader from 'vue-spinner/src/ScaleLoader'

  export default {
    name: 'ContactInformation',
    components: { RiseLoader, ScaleLoader },
    data() {
      return {
        contactInformation: {},
        errors: [],
        loading: true,
        scaleLoading: false
      }
    },
    created() {
      axios.get(GET_CONTACT_INFORMATION)
        .then(result => {
          this.contactInformation = result.data.contact_information || {}
        })
        .finally(() => {
          this.loading = false
        })
    },
    methods: {
      save() {
        let data = {
          'address': this.contactInformation.address,
          'phone_number': this.contactInformation.phone_number,
          'fax': this.contactInformation.fax,
          'fb': this.contactInformation.fb,
        }
        this.scaleLoading = true
        axios.post(STORE_CONTACT_INFORMATION, data)
          .then(result => {
            this.$awn.success(result.data.message)
            this.scaleLoading = false
            this.errors = {}
          })
          .catch(error => {
            if (typeof error.response !== undefined && error.response.status == 422) {
              this.errors = error.response.data.errors
            }
          })
      }
    }
  }
</script>