<template>
  <div>
    <template v-if="type == 1">
      <div v-if="revenues.length > 1" class="text-center">
        <h4 class="col box-title">
          {{ $t('restaurant.report_sale') + ' ' + titleDate.toLowerCase() }}
        </h4>
        <div class="col-auto col-sm-offset-1 m-b-30">
          <ul class="nav customtab nav-tabs" role="tablist">
            <li role="presentation" class="active" @click="changeTypeOfChart(1)">
              <a href="#home1" aria-controls="home" role="tab"
                 data-toggle="tab" aria-expanded="true">{{ $t('restaurant.by_hour') }}</a></li>
            <li role="presentation" @click="changeTypeOfChart(2)">
              <a href="#profile1" aria-controls="profile" role="tab"
                 data-toggle="tab" aria-expanded="false">{{ $t('restaurant.by_day_of_week') }}</a></li>
            <li role="presentation" @click="changeTypeOfChart(3)">
              <a href="#messages1" aria-controls="messages" role="tab"
                 data-toggle="tab" aria-expanded="false">{{ $t('restaurant.by_date') }}</a></li>
          </ul>
        </div>
        <g-chart type="ColumnChart"
                 :data="revenues"
                 :options="configChart"
                 style="min-height: 450px"></g-chart>
      </div>
      <div v-else class="chart-height">
        <h3 class="text-muted">{{ $t('word.no_data') }}</h3>
      </div>
    </template>
    <template v-else>
      <div id="tableReport" class="table-responsive">
        <div class="text-center">
          <h2>{{ $t('restaurant.report_sale') }} {{ $t('word.by_time') }}</h2>
          <div class="m-b-20">{{ titleDate }}</div>
        </div>
        <table id="table" class="table color-table info-table table-responsive">
          <thead>
            <tr>
              <th>{{ $t('word.time') }}</th>
              <th>{{ $t('word.total_value') }}</th>
              <th>{{ $t('restaurant.value_returned') }}</th>
              <th>{{ $t('restaurant.real_revenue') }}</th>
            </tr>
          </thead>
          <tbody v-if="!$apollo.queries.restaurant_revenue_report.loading">
            <template v-if="reportData.length > 0">
              <tr class="text-right tr-total">
                <td colspan="2"><b>{{ formatPrice(total + totalReturned) }}</b></td>
                <td><b>{{ formatPrice(totalReturned) }}</b></td>
                <td><b>{{ formatPrice(total) }}</b></td>
              </tr>
              <template v-for="(data, index) in reportData">
                <tr :key="index">
                  <td class="cursor-pointer">
                    <a v-if="diff <= 31" @click="setOpen(index, data)"><b>
                      <i v-check="{permission: 'invoice.list'}" class="fa"
                         :class="[data.show_invoices_list ? 'fa-minus-circle': 'fa-plus-circle']">
                      </i> {{ getTimestamp(data.time) }}</b></a>
                    <a v-else @click="emitReport(data)"><b>{{ getTimestamp(data.time) }}</b></a>
                  </td>
                  <td>{{ formatPrice(data.total + data.total_returned) }}</td>
                  <td>{{ formatPrice(data.total_returned) }}</td>
                  <td>{{ formatPrice(data.total) }}</td>
                </tr>
                <tr :key="'key' + index">
                  <td colspan="4" style="padding: 0 0 0 30px">
                    <table v-if="data.show_invoices_list && data.invoices && data.invoices.length > 0" 
                           class="table"
                           style="background-color: #f7fafc">
                      <tbody>
                        <tr :key="'head-child' + index" class="tr-head2">
                          <th>{{ $t('restaurant.invoice.code') }}</th>
                          <th>{{ $t('restaurant.invoice.recipient') }}</th>
                          <th>{{ $t('word.created_at') }}</th>
                          <th class="text-right">{{ $t('word.total_money') }}</th>
                        </tr>
                        <tr v-for="invoice in data.invoices" :key="invoice.code">
                          <td>
                            <a href="javascript:void(0)" @click="detail(invoice.id)">
                              {{ invoice.code }}</a>
                          </td>
                          <td>{{ invoice.recipient.fullname }}</td>
                          <td>{{ convertToDateTime(invoice.created_at) }}</td>
                          <td class="text-right">{{ formatPrice(invoice.total) }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </template>
            </template>
            <tr v-else>
              <td class="no-data text-center" colspan="4">{{ $t('word.no_data') }}</td>
            </tr>
          </tbody>
          <tbody v-else>
            <tr>
              <td colspan="4" class="text-center">
                <pulse-loader :loading="true" :color="'#41ABE3'"></pulse-loader>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </template>
  </div>
</template>

<script>
  import { GChart } from 'vue-google-charts'
  import PulseLoader from 'vue-spinner/src/PulseLoader'
  import { convertToDate, convertToDateTime } from './../../../../../helpers/handle_date_time.js'
  import { formatPrice } from './../../../../../helpers/handle_function.js'
  import configChart from './../../../../../mixins/config_chart.js'
  import moment from 'moment'
  import REVENUE_CHART_QUERY from './../../../../../apollo/query/statistical/revenue_chart.gql'
  import REVENUE_REPORT_QUERY from './../../../../../apollo/query/statistical/revenue_report.gql'
  import INVOICES_QUERY from './../../../../../apollo/query/invoice/list_for_report.gql'

  export default {
    components: { GChart, PulseLoader },
    mixins: [configChart],
    props: {
      type: {
        type: Number,
        default: 1
      },
      start: {
        type: String,
        required: true
      },
      end: {
        type: String,
        required: true
      },
    },
    data() {
      return {
        revenues: [],
        reportData: [],
        total: 0,
        totalReturned: 0,
      }
    },
    apollo: {
      restaurant_revenue_chart: {
        query: REVENUE_CHART_QUERY,
        variables() {
          return {
            groupId: this.groupId
          }
        },
        manual: true,
        result({ data }) {
          this.revenues = [
            [this.$t('word.date'), this.$t('restaurant.revenue')]
          ]
          data.restaurant_revenue_chart.forEach(item => {
            this.revenues.push([item.x, parseInt(item.y)])
          })
          this.getConfigChart()
        }
      },
      restaurant_revenue_report: {
        query: REVENUE_REPORT_QUERY,
        variables() {
          return {
            groupId: this.groupId
          }
        },
        manual: true,
        result({data}) {
          this.reportData = data.restaurant_revenue_report
          this.total = 0
          this.totalReturned = 0
          this.reportData.map(item => {
            this.total += parseInt(item.total)
            this.totalReturned += parseInt(item.total_returned)
            return item.show_invoices_list = false
          })
        }
      }
    },
    computed: {
      groupId() {
        return this.$store.getters.groupId
      },
      diff() {
        return moment.duration(moment(this.end).diff(moment(this.start))).asDays()
      },
      titleDate() {
        if (this.diff > 0) {
          return this.$t('word.from_date') + ' ' + convertToDate(this.start) +
                 ' ' + this.$t('word.to_date') + ' ' + convertToDate(this.end)
        } else {
          return this.$t('word.date') + ' ' + convertToDate(this.start)
        }
      },
      locale() {
        return this.$i18n.locale
      }
    },
    watch: {
      start: function() {
        this.$apollo.queries.restaurant_revenue_chart.refetch({
          startDate: this.start,
          endDate: this.end
        })
        this.$apollo.queries.restaurant_revenue_report.refetch({
          startDate: this.start,
          endDate: this.end
        })
      }
    },
    methods: {
      getTimestamp(time) {
        if (time.hour) {
          return time.hour
        }
        if (time.day) {
          return `${time.day}-${time.month}-${time.year}`
        }
        if (time.month) {
          return `${time.month}-${time.year}`
        }
        return time.year
      },
      setOpen(index, data) {
        let startTime
        let endTime
        if (this.diff == 0) {
          startTime = moment(data.time.hour + ':00', 'H:i').startOf('hour').format('YYYY-MM-DD HH:mm:ss')
          endTime = moment(data.time.hour + ':00', 'H:i').endOf('hour').format('YYYY-MM-DD HH:mm:ss')
        } else {
          startTime = moment(data.time.year + '-' + data.time.month + '-' + data.time.day)
                      .startOf('day').format('YYYY-MM-DD HH:mm:ss')
          endTime = moment(data.time.year + '-' + data.time.month + '-' + data.time.day)
                      .endOf('day').format('YYYY-MM-DD HH:mm:ss')
        }

        this.$emit('loading', true)
        this.$apollo.query({
          query: INVOICES_QUERY,
          variables: {
            groupId: this.groupId,
            startDate: startTime,
            endDate: endTime
          }
        }).then(result => {
          this.reportData[index].invoices = result.data.invoices.data
          this.reportData.map((item, key) => {
            if (key != index) {
              item.show_invoices_list = false
            } else {
              item.show_invoices_list = !item.show_invoices_list
            }
            return item
          })
          this.$set(this.reportData, index, this.reportData[index])
        }).finally(() => {
          this.$emit('loading', false)
        })
      },
      emitReport(data) {
        let start = moment().format('YYYY-MM-DD')
        let end = moment().format('YYYY-MM-DD')
        if (data.time.month) {
          start = moment(data.time.year + '-' + data.time.month, 'YYYY-MM')
                      .startOf('month').format('YYYY-MM-DD')
          end = moment(data.time.year + '-' + data.time.month, 'YYYY-MM')
                      .endOf('month').format('YYYY-MM-DD')
        } else {
          start = moment(data.time.year, 'YYYY')
                      .startOf('year').format('YYYY-MM-DD')
          end = moment(data.time.year, 'YYYY')
                      .endOf('year').format('YYYY-MM-DD')
        }
        this.$emit('reportMonth', { start: start, end: end })          
      },
      convertToDateTime(date) {
        return convertToDateTime(date)
      },
      formatPrice(price) {
        return formatPrice(price)
      },
      getConfigChart() {
        delete this.configChart.hAxis.minValue
        let width = 'auto'
        if (this.revenues.length > 0 && this.revenues.length < 10) {
          width = `${parseInt(this.revenues.length * 10)}%`
        }
        this.configChart.bar = {
          groupWidth: width
        }
        if (this.revenues.length > 20) {
          this.configChart.chartArea.left = '50'
          this.configChart.chartArea.width = '100%'
          this.configChart.legend = { position: 'none' }
        } else {
          delete this.configChart.chartArea.left
          delete this.configChart.chartArea.width
          delete this.configChart.legend
        }
      },
      detail(id) {
        bus.$emit('modal', {
          component: 'detail-invoice',
          backdrop: 'static',
          size: 'lg',
          payload: id
        })
      },
      changeTypeOfChart(type) {
        this.$apollo.queries.restaurant_revenue_chart.refetch({
          groupId: this.groupId,
          type: type
        })
      }
    }
  }
</script>

<style scoped lang="scss">
  #table {
    tr {
      td, th {
        &:nth-child(2), &:nth-child(3), &:nth-child(4) {
          text-align: right;
        }
      }
    }
  }
  .chart-height {
    min-height: 500px;
    h3 {
      margin: auto;
    }
  }

  .tr-head2 {
    background-color: #86e5ff;
  }
</style>