<template>
  <div class="row">
    <template v-if="type == 1">
      <div class="white-box col-12">
        <div class="title-chart">
          <h3> {{ $t('restaurant.top_10_hot_sell') }} - {{ $t('restaurant.follow_count') }}</h3>
        </div>
        <div v-if="loading" class="chart-height">
          <clip-loader :loading="true" :color="'#27a1f2'" style="margin: auto"></clip-loader>
        </div>
        <div v-else-if="topSellingByAmount.length > 1">
          <g-chart ref="gChartBestCount"
                   type="BarChart"
                   :data="topSellingByAmount"
                   :options="configChart"
                   :events="chartEventsBestCount"
                   style="min-height: 450px"></g-chart>
        </div>
        <div v-else class="chart-height b-m-30" style="min-height: 450px">
          <h3>{{ $t('word.no_data') }}</h3>
        </div>
      </div>

      <div class="white-box col-12 m-t-10">
        <div class="title-chart">
          <h3>{{ $t('restaurant.top_10_hot_sell') }} - {{ $t('restaurant.follow_revenue') }}</h3>
        </div>
        <div v-if="loading" class="chart-height">
          <clip-loader :loading="true" :color="'#27a1f2'" style="margin: auto"></clip-loader>
        </div>
        <div v-else-if="bestRevenue.length > 1">
          <g-chart ref="gChartBestRevenue"
                   type="BarChart"
                   :data="bestRevenue"
                   :options="configChart"
                   :events="chartEventsBestRevenue"
                   style="min-height: 450px"></g-chart>
        </div>
        <div v-else class="chart-height" style="min-height: 450px">
          <h3>{{ $t('word.no_data') }}</h3>
        </div>
      </div>
    </template>
    <template v-else>
      <div id="tableReport" class="white-box col-12 table-responsive">
        <div class="title-chart text-center">
          <h3>{{ $t('restaurant.report_sale') }} {{ $t('word.by_goods') }}</h3>
          <div>{{ titleDate }}</div>
        </div>
        <div class="text-right"><i>{{ $t('restaurant.not_have_discount_total_invoice') }}</i></div>

        <div v-if="loading" class="chart-height">
          <clip-loader :loading="true" :color="'#27a1f2'" style="margin: auto"></clip-loader>
        </div>
        <table v-else id="table" class="table color-table info-table table-responsive">
          <thead>
            <tr>
              <th>{{ $t('restaurant.good.code') }}</th>
              <th>{{ $t('restaurant.good.name') }}</th>
              <th>{{ $t('word.count') }}</th>
              <th>{{ $t('restaurant.revenue') }}</th>
              <th>{{ $t('restaurant.count_returned') }}</th>
              <th>{{ $t('restaurant.value_returned') }}</th>
              <th>{{ $t('restaurant.real_revenue') }}</th>
            </tr>
          </thead>
          <tbody>
            <template v-if="datas.length > 0">
              <tr class="tr-total">
                <td colspan="2" class="text-left">{{ $t('word.number_goods') }}: {{ datas.length }}</td>
                <td class="text-right">{{ formatPrice(totalCount) }}</td>
                <td>{{ formatPrice(total + totalReturned) }}</td>
                <td>{{ formatPrice(totalCountReturned) }}</td>
                <td>{{ formatPrice(totalReturned) }}</td>
                <td>{{ formatPrice(total) }}</td>
              </tr>
              <template v-for="(data, index) in datas">
                <tr :key="index">
                  <td class="cursor-pointer">
                    <router-link 
                      :to="{name: 'restaurant.good_sale.edit', params: {goodId: data.id}}"
                      class="hidden-print">{{ data.code }}</router-link>
                    <span class="show-print">{{ data.code }}</span>
                  </td>
                  <td>{{ data.name }}</td>
                  <td>{{ formatPrice(data.count) }}</td>
                  <td>{{ formatPrice(data.total + data.total_returned) }}</td>
                  <td>{{ formatPrice(data.count_returned) }}</td>
                  <td>{{ formatPrice(data.total_returned) }}</td>
                  <td>{{ formatPrice(data.total) }}</td>
                </tr>
              </template>
            </template>
            <tr v-else>
              <td class="no-data text-center" colspan="6">{{ $t('word.no_data') }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </template>
  </div>
</template>

<script>
  import { GChart } from 'vue-google-charts'
  import { formatPrice } from './../../../../../helpers/handle_function.js'
  import configChart from './../../../../../mixins/config_chart.js'
  import ClipLoader from 'vue-spinner/src/ClipLoader'
  import moment from 'moment'

  export default {
    components: { GChart, ClipLoader },
    mixins: [configChart],
    props: {
      type: {
        type: Number,
        required: true
      },
      datas: {
        type: Array,
        required: true
      },
      start: {
        type: String,
        required: true
      },
      end: {
        type: String,
        required: true
      },
      loading: {
        type: Boolean,
        default: true
      }
    },
    data() {
      return {
        totalCount: 0,
        totalCountReturned: 0,
        total: 0,
        totalReturned: 0,
        chartEventsBestCount: {
          select: () => {
            let selection = this.$refs.gChartBestCount.chartObject.getSelection()
            let datas = this.datas.slice(0)
            datas.sort((a, b) => b.count - a.count)
            if (selection.length > 0 && selection[0].row != null && selection[0].column != null) {
              let route = this.$router.resolve({
                name: 'restaurant.good_sale.edit',
                params: { goodId: datas[selection[0].row].id }
              })
              window.open(route.href, '_blank')
            }
          }
        },
        chartEventsBestRevenue: {
          select: () => {
            let selection = this.$refs.gChartBestRevenue.chartObject.getSelection()
            let datas = this.datas.slice(0)
            datas.sort((a, b) => b.total - a.total)
            if (selection.length > 0 && selection[0].row != null && selection[0].column != null) {
              let route = this.$router.resolve({
                name: 'restaurant.good_sale.edit',
                params: { goodId: datas[selection[0].row].id }
              })
              window.open(route.href, '_blank')
            }
          }
        }
      }
    },
    computed: {
      topSellingByAmount() {
        let datas = this.datas.slice(0)
        datas = datas.sort((a, b) => b.count - a.count).slice(0, 10).map(data => {
          return [data.name, data.count]
        })
        datas.unshift([this.$t('restaurant.good.name'), this.$t('word.count')])
        return datas
      },
      bestRevenue() {
        let datas = this.datas.slice(0, 10).map(data => {
          return [data.name, data.total]
        })
        datas.unshift([this.$t('restaurant.good.name'), this.$t('restaurant.revenue')])
        return datas
      },
      titleDate() {
        if (moment(this.end).diff(this.start) > 0) {
          return this.$t('word.from_date') + ' ' + this.start + ' ' + this.$t('word.to_date')
              + ' ' + this.end
        } else {
          return this.$t('word.date') + ' ' + this.start
        }
      },
    },
    watch: {
      datas: function() {
        this.prepareData() 
      }
    },
    created() {
      this.prepareData() 
    },
    methods: {
      prepareData() {
        this.totalCount = 0
        this.totalCountReturned = 0
        this.total = 0
        this.totalReturned = 0
        this.datas.forEach(item => {
          this.totalCount += item.count
          this.totalCountReturned += item.count_returned
          this.total += item.total
          this.totalReturned += item.totalReturned
        })
      },
      formatPrice(price) {
        return formatPrice(price)
      }
    }
  }
</script>

<style scoped lang="scss">
  .chart-height {
    min-height: 400px;
  }
  #table {
    tr {
      td, th {
        &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7) {
          text-align: right;
        }
      }
    }
  }
  .title-chart h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
  }
</style>