<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-12 col-sm">
        <h4 class="page-title">{{ $t('restaurant.manage_table') }}</h4>
      </div>
      <div class="col-12 col-sm-auto">
        <ol class="breadcrumb">
          <li><router-link :to="{ name: 'home' }">{{ $t('word.home') }}</router-link></li>
          <li><router-link :to="{ name: 'restaurant.table.list' }">{{ $t('word.table') }}</router-link></li>
          <li class="active">{{ $t('word.create') }}</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="white-box col">
        <div class="row justify-content-center">
          <div class="col-sm-8 col-md-6">
            <div class="form-group col-12 m-b-15" :class="{' has-error' : errors.name}">
              <label>{{ $t('restaurant.table.name') }} <span class="text-danger">*</span></label>
              <div class="form-group">
                <input v-model="name" type="text" class="form-control">
                <span v-if="errors.name" class="text-danger">
                  <strong>{{ errors.name[0] }}</strong>
                </span>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-sm-6 m-b-15" :class="{ ' has-error' : errors.sort === true }">
                  <label>{{ $t('restaurant.table.sort') }}</label>
                  <input v-model="sort" type="number" min="0" class="form-control">
                  <span v-if="errors.sort" class="text-danger">
                    <strong>{{ errors.sort[0] }}</strong>
                  </span>
                </div>
                <div class="form-group col-sm-6" :class="{ ' has-error' : errors.count_seat }">
                  <label for="">{{ $t('restaurant.table.seat') }} <span class="text-danger">*</span></label>
                  <input v-model="seat" type="number" min="0" class="form-control">
                  <span v-if="errors.count_seat" class="text-danger">
                    <strong>{{ errors.count_seat[0] }}</strong>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group col-12 m-b-15" :class="{ ' has-error' : errors.place_id }">
              <label>{{ $t('restaurant.place.select') }} <span class="text-danger">*</span></label>
              <div class="form-group">
                <multiselect
                  v-model="placeSelected"
                  label="name"
                  track-by="id"
                  select-label=""
                  deselect-label=""
                  selected-label=""
                  :searchable="false"
                  :options="places"></multiselect>
                <span v-if="errors.place_id" class="text-danger">
                  <strong>{{ errors.place_id[0] }}</strong>
                </span>
              </div>
            </div>
            <div class="form-group col-12 m-b-15" :class="{ ' has-error' : errors.description }">
              <label>{{ $t('word.description') }}</label>
              <textarea v-model="description" class="form-control" rows="5"></textarea>
              <span v-if="errors.description" class="text-danger">
                <strong>{{ errors.description[0] }}</strong>
              </span>
            </div>
            <div class="text-center col-12">
              <button type="button" class="btn btn-info"
                      :disabled="loadingCreate" @click.prevent="store()">
                <i :class="[loadingCreate ? 'far fa-spin fa-spinner-third' : 'far fa-check']"></i> 
                {{ $t('word.save') }}
              </button>
              <button type="button" 
                      class="btn btn-default" 
                      @click.prevent="$router.go(-1)">
                <i class="far fa-ban"></i> {{ $t('word.cancel') }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import GET_PLACES_QUERY from '@apollo/query/place/list.gql'
  import CREATE_TABLE_MUTATION from '@apollo/mutation/table/create.gql'
  import GET_TABLES_QUERY from '@apollo/query/table/list.gql'
  export default {
    data() {
      return {
        loadingCreate: false,
        errors: [],
        name: '',
        sort: 0,
        seat: 4,
        description: '',
        places: [],
        placeSelected: {}
      }
    },
    computed: {
      groupId() {
        return this.$store.getters.groupId
      }
    },
    apollo: {
      places: {
        query: GET_PLACES_QUERY,
        variables() {
          return {
            groupId: this.groupId
          }
        }
      }
    },
    methods: {
      store() {
        this.loadingCreate = true
        this.$apollo
          .mutate({
            mutation: CREATE_TABLE_MUTATION,
            variables: {
              placeId: this.placeSelected.id, 
              groupId: this.groupId, 
              sort: this.sort, 
              countSeat: this.seat, 
              name: this.name, 
              description: this.description
            },
            update: (store, { data: { create_table } }) => {
              const query = {
                query: GET_TABLES_QUERY,
                  variables: {
                    groupId: this.groupId,
                    page: 1,
                    name: '',
                    status: null,
                    placeId: ''
                  }
                }
              try {
                const data = store.readQuery(query)
                data.tables.data.unshift(create_table)
                store.writeQuery({...query, data: data})
              } catch (e) {}
            }
          })
          .then(() => {
            this.$awn.success(this.$t('restaurant.table.create_success'))
            this.$router.push({name: 'restaurant.table.list'})
          })
          .catch(err => {
            if (err.graphQLErrors[0].message === 'validation') {
              this.errors = err.graphQLErrors[0].extensions.validation
            }
          })
          .finally(() => {
            this.loadingCreate = false
          })
      }
    },
  }
</script>

