<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-12 col-sm">
        <h4 class="page-title">{{ $t('restaurant.manage_table') }}</h4></div>
      <div class="col-12 col-sm-auto">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{ name: 'home' }">{{ $t('word.home') }}</router-link>
          </li>
          <li>
            <router-link :to="{ name: 'restaurant.table.list' }">{{ $t('word.table') }}</router-link>
          </li>
          <li class="active">{{ $t('word.edit') }}</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="white-box col">
        <div class="row justify-content-center">
          <div class="col-sm-8 col-md-6">
            <template>
              <div class="form-group m-b-15 col-12 " :class="{'has-error': errors.name}">
                <label>{{ $t('restaurant.table.name') }} <span class="text-danger">*</span></label>
                <input v-model="table.name" type="text" class="form-control">
                <span v-if="errors.name" class="text-danger">
                  <strong>{{ errors.name[0] }}</strong>
                </span>
              </div>
              <div class="col-12">
                <div class="row">
                  <div class="form-group col-sm-6" :class="{ 'has-error': errors.sort === true }">
                    <label>{{ $t('restaurant.table.sort') }}</label>
                    <input v-model="table.sort" type="number" min="0" class="form-control">
                    <span v-if="errors.sort" class="text-danger">
                      <strong>{{ errors.sort[0] }}</strong>
                    </span>
                  </div>
                  <div class="col-sm-6 form-group" :class="{'has-error': errors.count_seat}">
                    <label for="">{{ $t('restaurant.table.seat') }} <span class="text-danger">*</span></label>
                    <input v-model="table.count_seat" type="number" min="0" class="form-control">
                    <span v-if="errors.count_seat" class="text-danger">
                      <strong>{{ errors.count_seat[0] }}</strong>
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group m-b-15 col-12 " :class="{'has-error': errors.place_id}">
                <label>{{ $t('restaurant.place.select') }} <span class="text-danger">*</span></label>
                <multiselect v-model="table.place"
                             label="name"
                             track-by="id"
                             select-label=""
                             deselect-label=""
                             selected-label=""
                             :searchable="false"
                             :options="places"></multiselect>
                <span v-if="errors.place_id" class="text-danger">
                  <strong>{{ errors.place_id[0] }}</strong>
                </span>
              </div>
              <div class="form-group m-b-15 col-12 " :class="{ ' has-error' : errors.description }">
                <label>{{ $t('word.description') }}</label>
                <textarea v-model="table.description" class="form-control" rows="5"></textarea>
                <span v-if="errors.description" class="text-danger">
                  <strong>{{ errors.description[0] }}</strong>
                </span>
              </div>
              <div class="text-center col-12">
                <button type="button" class="btn btn-info" :disabled="loadingUpdate" @click.prevent="update()">
                  <i :class="[loadingUpdate ? 'far fa-spin fa-spinner-third' : 'far fa-check']"></i> 
                  {{ $t('word.update')
                  }}
                </button>
                <button type="button" 
                        class="btn btn-default" 
                        @click.prevent="$router.go(-1)">
                  <i class="far fa-ban"></i> {{ $t('word.cancel') }}
                </button>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import GET_PLACES_OPTION_QUERY from '@apollo/query/place/option_list.gql'
  import GET_TABLE_QUERY from '@apollo/query/table/get_by_id.gql'
  import UPDATE_TABLE_MUTATION from '@apollo/mutation/table/update.gql'

  export default {
    props: {
      tableId: {
        type: String,
        required: true
      }
    },
    data() {
      return {
        loadingUpdate: false,
        errors: {},
        table: {},
        places: []
      }
    },
    computed: {
      loadingData() {
        return this.$apollo.loading
      },
      groupId() {
        return this.$store.getters.groupId
      }
    },
    apollo: {
      places: {
        query: GET_PLACES_OPTION_QUERY,
        variables() {
          return {
            groupId: this.groupId
          }
        }
      },
      table: {
        query: GET_TABLE_QUERY,
        variables() {
          return {
            tableId: this.tableId
          } 
        }
      }
    },
    methods: {
      update() {
        this.loadingUpdate = true
        this.$apollo
          .mutate({
            mutation: UPDATE_TABLE_MUTATION,
            variables: {
              groupId: this.groupId,
              placeId: this.table.place.id,
              tableId: this.tableId, 
              sort: this.table.sort, 
              countSeat: this.table.count_seat, 
              name: this.table.name, 
              description: this.table.description
            }
          })
          .then(() => {
            this.$awn.success(this.$t('restaurant.table.update_success'))
            this.$router.go(-1)
          })
          .catch(err => {
            if (err.graphQLErrors[0].message === 'validation') {
              this.errors = err.graphQLErrors[0].extensions.validation
            }
          })
          .finally(() => {
            this.loadingUpdate = false
          })
      }
    },
  }
</script>
