<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-12 col-sm">
        <h4 class="page-title">{{ $t('restaurant.manage_table') }}</h4>
      </div>
      <div class="col-12 col-sm-auto">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{ name: 'home' }">{{ $t('word.home') }}</router-link>
          </li>
          <li class="active">{{ $t('restaurant.table.table') }}</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="white-box col-12">
        <div class="row clearfix">
          <h3 class="col-12 box-title row justify-content-end">
            <span class="col-sm hidden-xs row">{{ $t('word.list') }}</span>
            <div class="col-auto row">
              <button class="btn btn-info m-r-10"
                      data-toggle="collapse"
                      data-target="#search"
                      aria-expanded="false"
                      aria-controls="collapseExample">
                <i class="fa fa-search"></i>
                {{ $t('word.search') }}
              </button>
              <button v-if="hasChecked"
                      type="button"
                      class="btn btn-info m-r-10"
                      @click="downloadManyQRCode(size)">
                <i class="fa fa-download"></i>
                {{ $t('word.download') }}
              </button>
              <button v-check="{ permission: 'table.list' }"
                      class="btn btn-info m-r-10"
                      type="button"
                      @click="importTable()">
                <i class="fa fa-file-alt"></i>
                {{ $t('word.import_file') }}
              </button>
              <router-link v-check="{ permission: 'table.list' }"
                           class="btn btn-info"
                           :to="{ name: 'restaurant.table.create' }">
                <i class="fa fa-plus"></i>
                {{ $t('word.create') }}
              </router-link>
            </div>
          </h3>
          <div class="col-12">
            <div class="row">
              <div id="search" class="collapse col-12">
                <div class="row">
                  <div class="form-group col">
                    <input type="text"
                           class="form-control"
                           :value="name"
                           :placeholder="$t('restaurant.table.name')"
                           @keyup.enter="searchName">
                  </div>
                  <div class="col">
                    <multiselect
                      v-model="placeSelected"
                      track-by="id"
                      label="name"
                      :options="places"
                      :placeholder="$t('restaurant.place.place')"
                      :show-labels="false"
                      :searchable="false"
                      @remove="placeSelected = ''">
                      <span slot="noOptions">{{ $t("word.no_data") }}</span>
                    </multiselect>
                  </div>
                  <div class="col">
                    <multiselect
                      v-model="statusSelected"
                      label="name"
                      track-by="value"
                      :options="statuOptions"
                      :searchable="false"
                      :show-labels="false"
                      :placeholder="$t('word.status')"
                      @remove="statusSelected = ''"></multiselect>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table color-table info-table table-responsive">
            <thead>
              <tr>
                <th>
                  <div class="checkbox checkbox-primary pull-left" style="margin: 0; top: 5px;">
                    <input ref="checkAll" :checked="tableChecked.length && tableChecked.length === tables.length"
                           type="checkbox" @change="checkAllInput">
                    <label></label>
                  </div>
                </th>
                <th>{{ $t('restaurant.table.sort') }}</th>
                <th>{{ $t('restaurant.table.name') }}</th>
                <th>{{ $t('restaurant.place.place') }}</th>
                <th>{{ $t('restaurant.table.seat') }}</th>
                <th>{{ $t('word.status') }}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="loading">
                <td colspan="7">
                  <pulse-loader :loading="true" :color="'#147DDC'"></pulse-loader>
                </td>
              </tr>
              <template v-else>
                <tr v-for="(table, index) in tables" :key="table.id">
                  <td>
                    <div class="checkbox checkbox-info pull-left">
                      <input v-model="tableChecked"
                             type="checkbox"
                             class="form-check-input"
                             :value="table.id">
                      <label></label>
                    </div>
                  </td>
                  <td>{{ table.sort }}</td>
                  <td>{{ table.name }}</td>
                  <td>{{ table.place.name }}</td>
                  <td>{{ table.count_seat }}</td>
                  <td>
                    <span v-if="table.status == 0"
                          class="label label-danger">{{ $t('restaurant.table.inactive') }}</span>
                    <span v-else-if="table.status == 1"
                          class="label label-success">{{ $t('restaurant.table.available') }}</span>
                    <span v-else-if="table.status == 2"
                          class="label label-info">{{ $t('restaurant.table.acting') }}</span>
                    <span v-else-if="table.status == 3"
                          class="label label-warning">{{ $t('restaurant.table.booking') }}</span>
                  </td>
                  <td>
                    <button type="button"
                            class="btn btn-circle btn-primary"
                            data-toggle="tooltip"
                            :title="$t('word.qrcode')"
                            @click="showQRCode(table)">
                      <i class="far fa-qrcode"></i>
                    </button>
                    <router-link
                      v-check="{ permission: 'table.update' }"
                      :to="{ name: 'restaurant.table.edit', params: { tableId: table.id }}"
                      class="btn btn-circle btn-info"
                      data-toggle="tooltip"
                      :title="$t('word.edit')">
                      <i class="fa fa-pencil-alt"></i>
                    </router-link>
                    <button
                      v-check="{ permission: 'table.delete' }"
                      class="btn btn-danger btn-circle"
                      data-toggle="tooltip"
                      :title="$t('word.delete')"
                      :disabled="table.deleting"
                      @click="deleteTable(table.id, index)">
                      <i :class="[table.deleting ? 'far fa-circle-notch fa-spin' : 'fa fa-trash']"></i>
                    </button>
                  </td>
                </tr>
                <tr v-if="tables.length == 0">
                  <td class="no-data" colspan="6">{{ $t('word.no_data') }}</td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
        <pagination v-if="!loading && pagination.last_page > 1"
                    :current-page="pagination.current_page"
                    :total-page="pagination.last_page"
                    @changePage="changePage"></pagination>
      </div>
    </div>
    <div id="qr" style="z-index: -1; display: inline-block" class=""></div>
  </div>
</template>
<script>
  import PulseLoader from 'vue-spinner/src/PulseLoader'
  import Pagination from '@components/partials/pagination'
  import GET_PLACES_OPTION_QUERY from '@apollo/query/place/option_list.gql'
  import GET_TABLES_QUERY from '@apollo/query/table/list.gql'
  import DELETE_TABLE_MUTATION from '@apollo/mutation/table/delete.gql'

  require('@js/assets/js/canvas-toBlob')
  export default {
    components: {
      PulseLoader,
      Pagination
    },
    props: {
      page: {
        type: Number,
        default: 1
      },
      name: {
        type: String,
        default: ''
      },
      status: {
        type: Number,
        default: null
      },
      placeId: {
        type: String,
        default: ''
      }
    },
    data() {
      return {
        html: '',
        tables: [],
        places: [],
        placeSelected: null,
        statusSelected: null,
        statuOptions: [
          { name: this.$t('restaurant.table.inactive'), value: 0 },
          { name: this.$t('restaurant.table.available'), value: 1 },
          { name: this.$t('restaurant.table.acting'), value: 2 },
          { name: this.$t('restaurant.table.booking'), value: 3 }
        ],
        pagination: {
          per_page: 20,
          curent_page: 1,
          last_page: 1
        },
        QRCodeSize: [
          '220x220',
          '400x400',
          '550x550'
        ],
        tableChecked: [],
      }
    },
    computed: {
      loading() {
        return this.$apollo.loading
      },
      groupId() {
        return this.$store.getters.groupId
      },
      serviceType() {
        return this.$store.getters.serviceType
      },
      hasChecked() {
        if (this.tableChecked.length) {
          return true
        }
        return false
      }
    },
    watch: {
      placeSelected(place) {
        this.placeId = place ? place.id : null
      },
      statusSelected(status) {
        this.status = status ? status.value : null
      }
    },
    apollo: {
      places: {
        query: GET_PLACES_OPTION_QUERY,
        variables() {
          return {
            groupId: this.groupId
          }
        },
        result({ data: { places } }) {
          if (this.placeId) {
            this.placeSelected = places.find(place => {
              return place.id == this.placeId
            }) || ''
          }
          if (this.name || this.statusSelected || this.placeSelected) {
            $('#search').collapse('show')
          }
        }
      },
      tables: {
        query: GET_TABLES_QUERY,
        variables() {
          return {
            groupId: this.groupId,
            page: this.page,
            name: this.name,
            status: this.status,
            placeId: this.placeId
          }
        },
        manual: true,
        result({ data: { tables } }) {
          tables.data.map(table => {
            table.deleting = false
            return table
          })
          this.tables = tables.data
          this.pagination = {
            per_page: tables.per_page,
            current_page: tables.current_page,
            last_page: tables.last_page
          }
        }
      }
    },
    created() {
      this.statusSelected = this.statuOptions.find(status => {
        return status.value == this.status
      }) || ''
    },
    updated() {
      $('[data-toggle="tooltip"]').tooltip()
    },
    methods: {
      checkAllInput(e) {
        if (e.target.checked) {
          this.tables.forEach(item => {
            this.tableChecked.push(item.id)
          })
        } else {
          this.tableChecked = []
        }
      },
      async downloadManyQRCode() {
        const tableChecked = this.tables.filter(table => {
          return this.tableChecked.includes(table.id)
        })

        let tableDatas = []
        for (let table of tableChecked) {
          tableDatas.push({
            data: {
              table_id: table.id,
              table_name: table.name,
              group_id: this.groupId,
              type: this.serviceType
            },
            place_name: table.place.name
          })
        }
        bus.$emit('modal', {
          component: 'qr-code-render-multiple',
          payload: tableDatas,
          size: 'lg'
        })
      },
      importTable() {
        bus.$emit('modal', {
          component: 'import',
          backdrop: 'static',
          payload: 'import_table'
        })
      },
      changePage(page) {
        this.tables = []
        this.page = page
      },
      searchName(event) {
        this.name = event.target.value
      },
      deleteTable(id, index) {
        let conf = confirm(this.$t('restaurant.table.confirm_delete'))
        if (conf) {
          const table = this.tables[index]
          table.deleting = true
          this.$set(this.tables, index, table)

          this.$apollo
              .mutate({
                mutation: DELETE_TABLE_MUTATION,
                variables: {
                  groupId: this.groupId,
                  tableId: id
                }
              })
              .then(() => {
                this.tables.splice(index, 1)
                this.$awn.success(this.$t('restaurant.table.delete_success'))
              })
        }
      },
      showQRCode(table) {
        let data = {
          table_id: table.id,
          table_name: table.name,
          group_id: this.groupId,
          type: this.serviceType
        }
        bus.$emit('modal', {
          component: 'qr-code-render',
          payload: {
            data: JSON.stringify(data),
            name: table.name,
            place_name: table.place.name
          }
        })
      }
    }
  }
</script>
<style lang="scss" scoped>
  th, td {
    text-align: center;
  }
</style>
