<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-12 col-sm">
        <h4 class="page-title">{{ $t('restaurant.manage_template') }}</h4>
      </div>
      <div class="col-12 col-sm-auto">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{ name: 'home' }">{{ $t('word.home') }}</router-link>
          </li>
          <li class="active">{{ $t('restaurant.template.template') }}</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="white-box col-12">
        <ul class="nav customtab nav-tabs" role="tablist">
          <li role="presentation" :class="{ 'active': typeTemplate == typeSaleInvoice }">
            <a @click.prevent="typeTemplate = typeSaleInvoice">
              <span class="visible-xs">
                <i class="ti-home"></i>
              </span>
              <span class="hidden-xs"> {{ $t('restaurant.invoice_form.sale') }}</span>
            </a>
          </li>
          <li role="presentation" :class="{ 'active': typeTemplate == typeImportInvoice }">
            <a @click.prevent="typeTemplate = typeImportInvoice">
              <span class="visible-xs">
                <i class="ti-user"></i>
              </span>
              <span class="hidden-xs">{{ $t('restaurant.invoice_form.import') }}</span>
            </a>
          </li>
          <li role="presentation" :class="{ 'active': typeTemplate == typeReturnedInvoice }">
            <a @click.prevent="typeTemplate = typeReturnedInvoice">
              <span class="visible-xs">
                <i class="ti-user"></i>
              </span>
              <span class="hidden-xs">{{ $t('restaurant.invoice_form.returned') }}</span>
            </a>
          </li>
        </ul>
        <div>
          <div class="row box-title justify-content-center">
            <div class="col-auto">
              <multiselect v-model="templateSelected"
                           track-by="name"
                           label="name"
                           select-label=""
                           deselect-label=""
                           selected-label=""
                           :placeholder="$t('restaurant.invoice_form.choose')"
                           :no-options="$t('restaurant.invoice_form.empty_list')"
                           :searchable="false"
                           :allow-empty="false"
                           :options="templates"></multiselect>
            </div>
            <div class="col-auto p-l-0">
              <button v-check="{ permission: 'form-invoice.create' }"
                      class="btn btn-outline btn-default waves-effect waves-light btn-template"
                      @click="createTemplate">
                <i class="far fa-plus"></i>
              </button>
              <template v-if="!templateSelected.default">
                <button v-check="{ permission: 'form-invoice.update' }"
                        class="btn btn-outline btn-default waves-effect waves-light btn-template"
                        @click="editTemplate">
                  <i class="far fa-pen-fancy"></i>
                </button>
                <button v-check="{ permission: 'form-invoice.delete' }"
                        class="btn btn-outline btn-default waves-effect waves-light btn-template"
                        @click="deleteInvoiceForm(templateSelected._id)">
                  <i class="far fa-trash"></i>
                </button>
              </template>
            </div>
          </div>
          <clip-loader v-if="loading" :loading="loading" color="#27a1f2"></clip-loader>
          <template v-else-if="templateSelected.name">
            <div class="row">
              <div class="col-md-6 overflow-auto">
                <div v-html="templateSelected.content"></div>
              </div>
              <div class="col-md-6">
                <div class="row overflow-auto justify-content-center">
                  <div class="col-auto">
                    <div id="preview-template">
                      <template-compiled :type="typeTemplate"
                                         :template-editor="templateSelected.content"
                                         :variables-value="variablesValue"
                                         :size="templateSelected.size"></template-compiled>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </template>
          <div v-else class="d-flex justify-content-center m-t-10">
            <h4>{{ $t('restaurant.invoice_form.no_data') }}</h4>
          </div>
        </div>
      </div>
    </div>
    <editor-create :type="typeTemplate"
                   :variables-value="variablesValue"
                   :template-default="templateDefault"
                   :config="config"
                   :size-default="sizeDefault"
                   @storedInvoice="storedInvoice"></editor-create>
    <editor-edit :template="templateSelected"
                 :template-default="templateDefault"
                 :variables-value="variablesValue"
                 :config="config"
                 @updatedInvoice="updatedInvoice"></editor-edit>
  </div>
</template>
<script>
  import {
    INVOICE_FORM_TYPE_SALE_INVOICE,
    INVOICE_FORM_TYPE_IMPORT_INVOICE,
    INVOICE_FORM_TYPE_RETURNED_INVOICE,
    SIZE_A4,
    SIZE_K80,
    SIZE_TEMPLATE
  } from './../../../constants.js'
  import { LIST_INVOICE_FROM, DELETE_INVOICE_FORM } from './../../../api.js'
  import ClipLoader from 'vue-spinner/src/ClipLoader'
  import templateImportInvoice from './../../../print_template/import_invoice'
  import templateSaleInvoice from './../../../print_template/sale_invoice'
  import templateReturnedInvoice from './../../../print_template/returned_invoice'
  import templateDatasImportInvoice from './../../../variables_value_template/import_invoice'
  import templateDatasSaleInvoice from '../../../variables_value_template/sale_invoice'
  import templateDatasReturnedInvoice from '../../../variables_value_template/returned_invoice'
  import TemplateCompiled from './template_compiled'
  import configCkeditor from './../../../mixins/config_ckeditor.js'
  import helperSaleInvoice from './../../../helpers/sale_invoice_default'
  import helperImportInvoice from './../../../helpers/import_invoice_default'
  import helperReturnedInvoice from './../../../helpers/returned_invoice_default'

  var EditorCreate = () => import('./editors/create.vue')
  var EditorEdit = () => import('./editors/edit.vue')

  export default {
    name: 'TemplateList',
    components: { ClipLoader, TemplateCompiled, EditorCreate, EditorEdit },
    mixins: [configCkeditor],
    data() {
      return {
        loading: true,
        typeTemplate: null,
        templateGroups: {},
        templateSelected: {},
        width: '',
        height: '',
        sizeDefault: {},
        variablesValue: {},
        templateDefault: [],
      }
    },
    computed: {
      typeSaleInvoice() {
        return INVOICE_FORM_TYPE_SALE_INVOICE
      },
      typeImportInvoice() {
        return INVOICE_FORM_TYPE_IMPORT_INVOICE
      },
      typeReturnedInvoice() {
        return INVOICE_FORM_TYPE_RETURNED_INVOICE
      },
      templates() {
        let templates = (this.templateGroups[this.typeTemplate] || []).slice(0)
        if (this.templateDefault) {
          templates = templates.concat(this.templateDefault)
        }
        return templates
      },
      lang() {
        return this.$i18n.locale
      },
    },
    watch: {
      typeTemplate: async function() {
        await this.renderForm()
        this.templateSelected = this.templates[0] || {}
      },
      lang: async function() {
        let index = this.templates.findIndex(obj => obj.name == this.templateSelected.name)
        await this.renderForm()
        this.templateSelected = this.templates[index] || {}
      }
    },
    created() {
      this.typeTemplate = INVOICE_FORM_TYPE_SALE_INVOICE
      this.getListForms()
    },
    methods: {
      getListForms() {
        this.loading = true
        axios.get(LIST_INVOICE_FROM)
            .then((res) => {
              this.templateGroups = res.data.invoice_forms
              this.templateSelected = this.templates[0] || {}
              this.loading = false
            })
      },
      renderForm() {
        let sizes = []
        switch (this.typeTemplate) {
          case this.typeImportInvoice:
            this.variablesValue = templateDatasImportInvoice[this.lang]
            sizes = [SIZE_A4]
            this.templateDefault = []
            for (let size of sizes) {
              let sizeDefault = {
                size: size,
                type: this.typeImportInvoice,
                name: this.$t('word.template_default') + ` (${SIZE_TEMPLATE[size].name})`,
                content: templateImportInvoice[this.lang][size],
                default: true
              }
              this.templateDefault.push(sizeDefault)
              if (size == SIZE_A4) this.sizeDefault = sizeDefault
            }
            break
          case this.typeSaleInvoice:
            this.variablesValue = templateDatasSaleInvoice[this.lang]
            sizes = [SIZE_K80]
            this.templateDefault = []
            for (let size of sizes) {
              let sizeDefault = {
                size: size,
                type: this.typeSaleInvoice,
                name: this.$t('word.template_default') + ` (${SIZE_TEMPLATE[size].name})`,
                content: templateSaleInvoice[this.lang][size],
                default: true
              }
              this.templateDefault.push(sizeDefault)
              if (size == SIZE_K80) this.sizeDefault = sizeDefault
            }
            break
          case this.typeReturnedInvoice:
            this.variablesValue = templateDatasReturnedInvoice[this.lang]
            sizes = [SIZE_K80]
            this.templateDefault = []
            for (let size of sizes) {
              let sizeDefault = {
                size: size,
                type: this.typeSaleInvoice,
                name: this.$t('word.template_default') + ` (${SIZE_TEMPLATE[size].name})`,
                content: templateReturnedInvoice[this.lang][size],
                default: true
              }
              this.templateDefault.push(sizeDefault)
              if (size == SIZE_K80) this.sizeDefault = sizeDefault
            }
            break
        }
      },
      deleteInvoiceForm(id) {
        if (confirm(this.$t('invoice_form.confirm_delete'))) {
          axios.delete(`${DELETE_INVOICE_FORM}/${id}`)
              .then(res => {
                this.templateGroups[this.typeTemplate] =
                    this.templateGroups[this.typeTemplate].filter(obj => obj._id !== id)
                this.templateSelected = this.templates[0] || null
                let templateStorage = {}
                switch (this.templateSelected.type) {
                  case this.typeSaleInvoice:
                    templateStorage = helperSaleInvoice.getItem()
                    break
                  case this.typeImportInvoice:
                    templateStorage = helperImportInvoice.getItem()
                    break
                  case this.typeReturnedInvoice:
                    templateStorage = helperReturnedInvoice.getItem()
                    break
                }
                if (templateStorage._id && templateStorage._id == id) {
                  switch (this.templateSelected.type) {
                    case this.typeSaleInvoice:
                      helperSaleInvoice.removeItem()
                      break
                    case this.typeImportInvoice:
                      helperImportInvoice.removeItem()
                      break
                    case this.typeReturnedInvoice:
                      helperReturnedInvoice.removeItem()
                      break
                  }
                }
                this.$awn.success(res.data.message)
              })
        }
      },
      storedInvoice(invoice) {
        this.templateSelected = invoice
        this.templateGroups[this.typeTemplate] = this.templateGroups[this.typeTemplate] || []
        this.templateGroups[this.typeTemplate].unshift(invoice)
      },
      updatedInvoice(invoice) {
        this.templateSelected = { ...this.templateSelected, ...invoice }
        let index = this.templateGroups[this.typeTemplate].findIndex(obj => obj._id == invoice._id)
        this.templateGroups[this.typeTemplate][index] = invoice
        this.$set(this.templateGroups[this.typeTemplate], index, this.templateGroups[this.typeTemplate][index])
        let template = {}
        switch (invoice.type) {
          case this.typeSaleInvoice:
            template = helperSaleInvoice.getItem()
            break
          case this.typeImportInvoice:
            template = helperImportInvoice.getItem()
            break
          case this.typeReturnedInvoice:
            template = helperReturnedInvoice.getItem()
            break
        }
        if (template._id && template._id == invoice._id) {
          switch (invoice.type) {
            case this.typeSaleInvoice:
              helperSaleInvoice.setItem(this.templateSelected)
              break
            case this.typeImportInvoice:
              helperImportInvoice.getItem(this.templateSelected)
              break
            case this.typeReturnedInvoice:
              helperReturnedInvoice.getItem(this.templateSelected)
              break
          }
        }
      },
      createTemplate() {
        $('#editor-create').modal('show')
      },
      editTemplate() {
        $('#editor-edit').modal('show')
      },
    },
  }
</script>
<style scoped>
  #preview-template {
    background-color: #eef3f7;
  }

  .btn-template {
    height: 100%;
  }
</style>
<style lang="scss">
  #edit-template {
    .multiselect {
      .multiselect__tags {
        padding: 5px 30px 0 5px;
        min-height: 34px !important;
      }
      .multiselect__content-wrapper, .multiselect__single {
        font-size: 12px !important;
      }
      .multiselect__select {
        padding: 0;
        top: -3px !important;
      }
    }
  }
</style>
