<template>
  <div id="selectTemplate" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">
            {{ $t('restaurant.invoice_form.choose_template') }}
          </h4>
          <div class="clearfix"></div>
        </div>
        <div class="row modal-body justify-content-center">
          <div v-if="templates" class="col-auto">
            <button v-for="(item, index) in templates"
                    :key="index"
                    class="btn m-t-10 m-r-15"
                    :class="item.name == templateSelected.name &&
                      item.size == templateSelected.size ? 'btn-info' : 'btn-default btn-default'"
                    @click="templateSelected = item">{{ item.name }}({{ size[item.size].name }})
            </button>
          </div>
        </div>
        <div class="modal-footer">
          <template>
            <button class="btn btn-info" @click="select()">
              <i class="fa fa-print"></i> {{ $t('word.print') }}
            </button>
          </template>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <i class="far fa-ban"></i> {{ $t('word.close') }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { SIZE_TEMPLATE } from '../../../constants'

  export default {
    name: 'SelectTemplate',
    props: {
      templates: {
        type: Array,
        default: null
      },
      template: {
        type: Object,
        default: null
      }
    },
    data() {
      return {
        templateSelected: {}
      }
    },
    computed: {
      size() {
        return SIZE_TEMPLATE
      }
    },
    watch: {
      template: function() {
        this.templateSelected = this.template
      }
    },
    methods: {
      select() {
        this.$emit('selected', this.templateSelected)
        $('#selectTemplate').modal('hide')
      }
    },
  }
</script>

<style scoped>

</style>