<template>
  <div :class="{ 'K80': size == sizeK80, 'A4': size == sizeA4}">
    <component :is="templateCompiled"></component>
  </div>
</template>
<script>
  import handleTemplate from './../../../helpers/handle_template.js'
  import { SIZE_A4, SIZE_K80, INVOICE_FORM_TYPE_SALE_INVOICE } from './../../../constants.js'

  export default {
    props: {
      type: {
        type: Number,
        default: 1
      },
      variablesValue: {
        type: Object,
        default: () => {}
      },
      templateEditor: {
        type: String,
        default: ''
      },
      size: {
        type: Number,
        default: null
      }
    },
    data() {
      return {
        templateCompiled: {},
      }
    },
    computed: {
      tableVariables() {
        return Object.keys(this.$t('config.invoice_form.variables.' + this.type + '.in_table'))
      },
      loopVariable() {
        return this.$t('config.invoice_form.variables.' + this.type + '.loop')
      },
      otherVariables() {
        return Object.keys(this.$t('config.invoice_form.variables.' + this.type + '.other'))
      },
      sizeA4() {
        return SIZE_A4
      },
      sizeK80() {
        return SIZE_K80
      },
      typeSale() {
        return INVOICE_FORM_TYPE_SALE_INVOICE
      }
    },
    watch: {
      templateEditor: function() {
        this.getTemplate()
      },
      variablesValue() {
        this.getTemplate()
      }
    },
    created() {
      this.getTemplate()
    },
    methods: {
      getTemplate() {
        this.templateCompiled = {
          template: this.replaceVariablesTemplate(this.templateEditor),
          data: () => {
            return this.variablesValue
          },
        }
      },
      replaceVariablesTemplate(template) {
        template = '<div class="col" id="invoiceForm">' + template + '</div>'
        let array = template.split('<tbody>')
        let newTemplate = ''
        array.forEach((ele, index) => {
          if (this.setIncludeVariableTable(ele) && ele.includes('<td')) {
            newTemplate = newTemplate + this.handleLoopTable(ele)
          } else {
            newTemplate = newTemplate + ele + (index == (array.length - 1) ? '' : '<tbody>')
          }
        })
        return newTemplate
      },
      handleLoopTable(string) {
        let newStr = ''
        let arr = string.split('</tbody>')
        let arrTr = arr[0].split('<tr>')
        var hasTemplate = false
        for (let i = 1; i < arrTr.length; i++) {
          if (this.setIncludeVariableTable(arrTr[i]) && !hasTemplate) {
            hasTemplate = true
            newStr = newStr + `<template v-for="(object, index) in ${this.loopVariable}"><tr :key="index">` + arrTr[i]
          } else {
            newStr = newStr + '<tr>' + arrTr[i]
          }
        }
        newStr = this.replaceVariablesTable(newStr)
        return newStr + '</template></tbody>' + arr[1]
      },
      replaceVariablesTable(str) {
        let common = Object.keys(this.$t('config.invoice_form.variables.common'))
        if (this.setStandardVariable(str, common[0])) {
          str = handleTemplate.replaceAll(str, common[0], 'index + 1')
        }
        if (this.type == this.typeSale) {
          let other = Object.keys(this.$t(`config.invoice_form.variables.${this.type}.other`))
          if (this.setStandardVariable(str, other[0])) {
            str = handleTemplate.replaceAll(str, other[0],
                `${this.tableVariables[5]}}} <span style="text-decoration: line-through"
                v-if="parseFloat(${this.tableVariables[4]}) > 0">{{ ${this.tableVariables[3]} }}</span>{{  `)
          }
        }
        for (let variable of this.tableVariables) {
          if (this.tableVariables[4] == variable) {
            str = handleTemplate.replaceAll(str, variable, `object.${variable}`)
          } else if (this.setStandardVariable(str, variable)) {
            str = handleTemplate.replaceAll(str, variable, `object.${variable}`)
          }
        }
        return str
      },
      setStandardVariable(str, variable) {
        let newStr = str.replace(/ /g, '')
        if (newStr.includes(`{{${variable}}}`)) {
          return true
        } else {
          return false
        }
      },
      setIncludeVariableTable(string) {
        let newStr = string.replace(/ /g, '')
        for (let variable of this.tableVariables) {
          if (newStr.includes(`{{${variable}}}`)) {
            return true
          }
        }
      },
    }
  }
</script>
<style lang="scss">
  .K80 {
    width: 8cm;
    border: dotted 1px;
  }

  .A4 {
    width: 100%;
    th, td {
      padding: 5px;
    }
  }
</style>