<template>
  <div>
    <h4>{{ $t('restaurant.invoice_form.list_variable') }}</h4>
    <div class="row overflow-auto p-20">
      <div v-for="(value, key) in variables" :key="key" class="col-md-6 col-12">
        <div class="row m-b-15">
          <div class="col-5"><strong><span>{{</span>{{ key }}<span>}}:</span></strong></div>
          <div class="col-7">{{ value }}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'UsedVariables',
    props: {
      variables: {
        type: Object,
        default: null
      }
    },
    data() {
      return {}
    }
  }
</script>

<style scoped>

</style>