<template>
  <div>
    <nav class="navbar navbar-default navbar-static-top m-t-0">
      <div class="navbar-header">
        <div class="top-left-part">
          <router-link class="logo" :to="{ name: 'master.home' }">
            <b><img src="/images/zeko.png" width="30" alt="home" class="dark-logo"></b>
            <span class="hidden-xs"><img src="/images/manage.png" height="35" alt="home" class="dark-logo"></span>
          </router-link>
        </div>
        <ul class="nav navbar-top-links navbar-left">
          <li>
            <a
              href="#"
              class="waves-effect waves-light"
              @click.prevent="toggleMenu()"><i class="fa fa-bars"></i></a>
          </li>
        </ul>
        <ul class="nav navbar-top-links navbar-right pull-right">
          <li id="#wrap" class="dropdown">
            <a
              class="dropdown-toggle profile-pic"
              data-toggle="dropdown"
              href="#">
              <img
                :src="$avatar(avatar)"
                alt="user-img"
                width="32"
                height="32"
                class="img-circle"><b class="hidden-xs">{{ firstname }}</b>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-user animated flipInY">
              <li>
                <div class="dw-user-box" style="display: flex">
                  <div class="u-img"><img :src="$avatar(avatar, 'x2')" alt="user"></div>
                  <div class="u-text">
                    <h4>{{ firstname }}</h4>
                    <p class="text-muted" data-toggle="tooltip" :title="email">
                      {{ email }}
                    </p>
                  </div>
                </div>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <router-link :to="{ name: 'user.profile', params: { userId: $store.state.auth.user.id || 'null' } }">
                  <i class="fa fa-user"></i> {{ $t("word.my_profile") }}
                </router-link>
              </li>

              <li role="separator" class="divider"></li>
              <li>
                <a :href="webDomain"><i class="fa fa-home"></i> {{ $t("word.home") }}</a>
              </li>

              <li role="separator" class="divider"></li>
              <li>
                <a v-if="!loading" href="#" @click.prevent="logout()"><i class="fa fa-power-off"></i> {{
                  $t("word.logout") }}</a>
                <scale-loader :loading="loading" :color="'#27a1f2'"><i class="fa fa-power-off"></i>
                  {{ $t("word.logout") }}
                </scale-loader>
              </li>
            </ul>
          </li>
        </ul>
        <!-- <ul class="nav navbar-top-links navbar-right">
        <notification></notification>
        </ul> -->
        <ul class="nav navbar-top-links navbar-right locale">
          <li id="#language" class="dropdown locale-dropdown">
            <img
              class="dropdown lang-icon lang-select"
              data-toggle="dropdown"
              :src="langImage"
              alt="">
            <ul class="dropdown-menu dropdown-menu-right dropdown-lang">
              <li @click="selectLanguage('vi')">
                <div class="img">
                  <img class="lang-icon" src="/images/lang/vn.svg" alt="">
                </div>
                <div class="text">{{ $t("config.language.0") }}</div>
              </li>
              <li class="divider"></li>
              <li @click="selectLanguage('en')">
                <div class="img">
                  <img class="lang-icon" src="/images/lang/en.svg" alt="">
                </div>
                <div class="text">{{ $t("config.language.1") }}</div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <!--  <qrcode-render
       :data="qrData"
       :keyId="companyId"
       v-if="type == 11"></qrcode-render> -->
  </div>
</template>

<script>
  import ScaleLoader from 'vue-spinner/src/ScaleLoader'
  import LangHelper from './../../../helpers/language'
  import logout from './../../../mixins/logout.js'

  export default {
    components: { ScaleLoader },
    mixins: [logout],
    data() {
      return {
        langImage: '',
        loading: false
      }
    },
    computed: {
      firstname() {
        return this.$store.getters.firstname
      },
      email() {
        return this.$store.getters.email
      },
      fullname() {
        return this.$store.getters.firstname + this.$store.getters.lastname
      },
      avatar() {
        return this.$store.getters.avatar
      },
      webDomain() {
        return window.Laravel.webDomain
      }
    },
    created() {
      if (this.$i18n.locale == 'vi') {
        this.langImage = './../../images/lang/vn.svg'
      } else {
        this.langImage = './../../images/lang/en.svg'
      }
    },
    methods: {
      logout() {
        $('.dropdown-menu').on('click', function(e) {
          e.stopPropagation()
        })
        this.loading = true
        this.logoutExec()
      },
      toggleMenu() {
        this.$emit('toggle-sidebar')
      },
      selectLanguage(lang) {
        if (lang != this.$i18n.locale) {
          LangHelper.setLanguage(lang)
          this.$i18n.locale = lang
          if (lang == 'vi') {
            this.langImage = '/images/lang/vn.svg'
          } else {
            this.langImage = '/images/lang/en.svg'
          }
          this.$awn.success(this.$t('word.language_changed'))
        }
      },
    }
  }
</script>

<style scoped>
  .locale {
    min-height: 45px;
    cursor: pointer;
    float: right;
  }

  .lang-icon {
    height: 20px;
    border-radius: 2px;
  }

  .lang-select {
    margin-left: 15px;
    margin-right: 5px
  }

  .locale-dropdown {
    padding: 10px 5px;
  }

  .locale-dropdown .dropdown-lang {
    position: absolute;
    top: 45px;
  }

  .locale-dropdown .dropdown-lang .img {
    display: inline;
  }

  .locale-dropdown .dropdown-lang .text {
    display: inline;
  }

  .locale-dropdown .dropdown-lang img {
    margin: 5px 10px;
  }

  .navbar,
  .navbar-header,
  .navbar-left,
  div.top-left-part.text-center,
  .navbar-right {
    height: 45px !important;
    min-height: 45px !important;
  }
</style>
