<template>
  <div>
    <router-view></router-view>
    <detect-network @detected-condition="detected"></detect-network>
    <div v-show="!state" class="alert alert-danger internet">
      <i class="fa fa-spin fa-spinner-third"></i> &nbsp;&nbsp;{{ $t('word.no_internet') }}
    </div>
  </div>
</template>
<script>
  import detectNetwork from 'v-offline'

  export default {
    components: {
      detectNetwork
    },
    data() {
      return {
        state: true
      }
    },
    methods: {
      detected(e) {
        this.state = e
        this.$store.dispatch('setInternet', e)
      }
    }
  }
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style type="text/css">
  .internet { position: fixed; bottom: 0; left: 20px; z-index: 10000; border-radius: 25px; }
  .spinner-rise { position: absolute; top: 50%; left: calc(50% + 135px); transform: translate(-50%, -50%); }
  .pointer { cursor: pointer; }
  .bg-title { margin-bottom: 10px; }
  table { border-spacing: 0; }
  /*style notification toast*/
  .awn-toast .awn-toast-icon .fa { font-size: 30px; color: #FFFFFF; }
  .awn-toast.awn-toast-success { background: #4CB050; color: #FFFFFF; }
  .awn-toast.awn-toast-success .awn-toast-progress-bar { background: #4CB050; }
  .awn-toast.awn-toast-warning { background: #ffc107; color: #FFFFFF; }
  .awn-toast.awn-toast-warning .awn-toast-progress-bar { background: #ffc107; }
  .awn-toast.awn-toast-alert { background: #dc3545; color: #FFFFFF; }
  .awn-toast.awn-toast-alert .awn-toast-progress-bar { background: #dc3545; }
  .awn-toast.awn-toast-info { background: #17a2b8; color: #FFFFFF; }
  .awn-toast.awn-toast-info b { font-weight: bold; color: #FFFFFF; }
  .awn-toast.awn-toast-info .awn-toast-progress-bar { background: #17a2b8; }
  .awn-toast.awn-toast-success .awn-toast-progress-bar:after,
  .awn-toast.awn-toast-warning .awn-toast-progress-bar:after,
  .awn-toast.awn-toast-alert .awn-toast-progress-bar:after,
  .awn-toast.awn-toast-info .awn-toast-progress-bar:after { background: #FEFEFE; }
  .multiselect {
    min-height: 38px !important;
  }
  .multiselect__tags {
    border-radius: 2px!important;
    min-height: 38px !important;
    border: 1px solid #CCCCCC !important;
    min-width: 180px !important;
    color: #565656 !important;
  }
  .multiselect__select {
    top: 1px !important;
    width: unset;
    top: unset;
    padding: 8px;
  }
  .multiselect__content-wrapper {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    display: relative;
  }
  .multiselect__input, .multiselect__single {
    font-size: 14px;
    /*min-height: 0px;*/
  }
  .has-error .multiselect__tags{
    border-color: red !important;
  }
  .multiselect__placeholder {
    margin-top: 0px;
    padding-top: 0 !important;
    margin-bottom: 8px !important;
  }
  .multiselect__input::placeholder {
    color: #b7b7b7;
  }
  .multiselect__option--highlight {
    background: #2cabe3;
  }
  .option__small {
    font-size: 14px;
  }
  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td,
  .table>thead>tr>th {
    padding: 10px 8px;
    border-bottom: 0.1px solid #EEE;
  }
  .day__month_btn, .month__year_btn {
    background: #61BCE8;
    font-weight: bold;
  }
  b {
    font-weight: 700;
  }
</style>