<template>
  <div id="wrapper">
    <navbar @toggle-sidebar="toggleMenu"></navbar>
    <sidebar @toggle-sidebar="toggleMenu"></sidebar>
    <div id="page-wrapper" :class="{ 'm-l-0': isServiceHomePage }">
      <router-view></router-view>
      <footer-component></footer-component>
    </div>
    <modal></modal>
    <div id="print-template-invoice">
      <div class="print-box"></div>
    </div>

    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>

    <!-- Your customer chat code -->
    <div class="fb-customerchat"
         attribution=setup_tool
         page_id="108469260680800"
         theme_color="#0084ff"
         :logged_in_greeting="$t('word.start_messenger')"
         :logged_out_greeting="$t('word.start_messenger')">
    </div>
  </div>
</template>
<script>
  var Navbar = () => import('./partials/navbar.vue')
  var Sidebar = () => import('./partials/sidebar/index.vue')
  var FooterComponent = () => import('./partials/footer.vue')
  var Modal = () => import('./partials/modal.vue')
  import USER_QUERY from './../apollo/query/me/user.gql'
  import logout from './../mixins/logout.js'

  export default {
    components: { Navbar, Sidebar, FooterComponent, Modal },
    mixins: [logout],
    computed: {
      isServiceHomePage() {
        return this.$store.getters.serviceType ? false : true
      }
    },
    apollo: {
      me: {
        query: USER_QUERY,
        result ({ data }) {
          this.$store.dispatch('setUserInfo', data.me)
        },
        error (error) {
          if (error.networkError && error.networkError.statusCode === 401) {
            this.$awn.alert(this.$t('auth.expires_token'))
            this.logoutExec()
          }
        }
      }
    },
    created() {
      bus.$on('print', this.print)
    },
    mounted() {
      $('#side-menu').metisMenu()
      window.fbAsyncInit = function () {
        FB.init({
          xfbml: true,
          version: 'v6.0'
        })
      };

      (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0]
        if (d.getElementById(id)) return
        js = d.createElement(s)
        js.id = id
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js'
        fjs.parentNode.insertBefore(js, fjs)
      }(document, 'script', 'facebook-jssdk'))
    },
    methods: {
      toggleMenu() {
        $('body').toggleClass('show-sidebar').toggleClass('hide-sidebar')
        $('.sidebar-head .open-close-custom i').toggleClass('ti-menu')
      },
      print(html) {
        $('#print-template-invoice .print-box').html(html)
        $('#wrapper').addClass('printing')
        $('#print-template-invoice').show()
        $('#awn-toast-container').css('display', 'none')
        $('#fb-root').css('display', 'none')
        window.print()
        $('#awn-toast-container').css('display', '')
        $('#wrapper').removeClass('printing')
        $('#print-template-invoice').hide()
        $('#fb-root').css('display', 'block')
      }
    }
  }
</script>
<style scoped>
  .m-l-0 {
    margin-left: 0!important;
  }
</style>