<template>
  <div>
    <div v-if="!verified" class="unverified alert row">
      <div class="col align-self-center">
        <i class="fas fa-exclamation-circle text-danger"></i> 
        <span v-html="$t('auth.not_verified')"></span>
      </div>
      <div class="col-auto">
        <router-link to="/verification" class="btn btn-danger pull-right">
          {{ $t('auth.verification') }}
        </router-link>
      </div>
    </div>
    <master v-if="currentService == masterService"></master>
    <timekeeping v-if="currentService == timekeepingService"></timekeeping>
    <restaurant v-if="currentService == restaurantService"></restaurant>
    <register-service v-if="!currentService"></register-service>
  </div>
</template>
<script>
  const RegisterService = () => import('./register_service.vue')
  const Master = () => import('./master.vue')
  const Timekeeping = () => import('./timekeeping.vue')
  const Restaurant = () => import('./restaurant.vue')

  import {
    MASTER_SERVICE,
    TIMEKEEPING_SERVICE,
    RESTAURANT_SERVICE
  } from '../../constants.js'

  export default {
    components: {
      Master,
      Timekeeping,
      Restaurant,
      RegisterService
    },
    computed: {
      masterService() {
        return MASTER_SERVICE
      },
      timekeepingService() {
        return TIMEKEEPING_SERVICE
      },
      restaurantService() {
        return RESTAURANT_SERVICE
      },
      currentService() {
        return this.$store.getters.serviceType
      },
      verified() {
        return this.$store.getters.verified
      }
    },
    mounted() {
      // Thông báo kết quả thanh toán
      let errorCode = this.$route.query.errorCode
      if (errorCode !== undefined) {
        if (errorCode == 0) {
          this.$awn.success('Thanh toán thành công!')
        } else {
          this.$awn.alert(this.$route.query.localMessage)
        }
      }
    },
  }
</script>

<style lang="scss" scoped>
  .unverified {
    background-color: #FBE9E7;
  }
</style>
