<template>
  <div class="container-fluid">
    <div class="row">
      <div class="white-box col m-t-15">
        <div class="searchform clearfix">
          <h3 class="box-title justify-content-end row">
            <span class="col-sm hidden-xs row">{{ $t('home.master.new_group_list') }}</span>
            <div class="col-auto row">
              <date-picker
                class="datepicker"
                :value="month"
                :language="language"
                input-class="form-control"
                wrapper-class="wrapper"
                format="MM-yyyy"
                :placeholder="$t('word.month_report')"
                :minimum-view="'month'"
                :maximum-view="'month'"
                @input="onSelectMonth"></date-picker>
            </div>
          </h3>
          <div class="list-group pull-right">
            <li class="list-group-item">
              <span>Tổng số nhóm đăng ký mới</span>
              <b class="pull-right badge badge-success">{{ groups.length }}</b>
            </li>
            <li class="list-group-item">
              <span>Số nhóm không có bất kỳ dữ liệu chấm công, hoá đơn, hàng hoá</span>
              <b class="pull-right badge badge-warning">{{ groupNonDataCount }}</b>
            </li>
            <li class="list-group-item">
              <span>Số nhóm có ít nhất 20 dữ liệu chấm công, hoặc tối thiểu 10 món,
                hoặc tối thiểu 10 hoá đơn</span>
              <b class="pull-right badge badge-info">{{ groupHasDataCount }}</b>
            </li>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table color-table info-table table-responsive">
            <thead>
              <tr>
                <th>#</th>
                <th>{{ $t("common.organization_name") }}</th>
                <th>{{ $t('word.service_type') }}</th>
                <th class="text-center">{{ $t('home.master.register_date') }}</th>
                <th class="text-center">{{ $t('home.master.number_user') }}</th>
                <th class="text-center">Số lượng chấm công</th>
                <th class="text-center">Số lượng món</th>
                <th class="text-center">Số lượng hoá đơn</th>
              </tr>
            </thead>
            <tbody v-if="loading">
              <tr>
                <td colspan="8" class="text-center">
                  <span class="fas fa-spinner-third fa-spin text-primary"></span>
                </td>
              </tr>
            </tbody>
            <tbody v-else-if="groups.length > 0">
              <tr v-for="(group, index) in groups" :key="group.id">
                <td>{{ (index + 1) }}</td>
                <td>{{ group.name }}</td>
                <td>{{ (group.service_type === 1) ? $t("word.time_keeping") : $t("word.restaurant") }}</td>
                <td class="text-center">{{ covertDate(group.created_at) }}</td>
                <td class="text-center">{{ group.users_count }}</td>
                <td class="text-center">{{ group.timekeepings_count }}</td>
                <td class="text-center">{{ group.goods_count }}</td>
                <td class="text-center">{{ group.invoices_count }}</td>
              </tr>
            </tbody>
            <tbody v-else>
              <tr>
                <td colspan="8" class="text-center">Không có nhóm đăng ký mới nào</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import moment from 'moment'
  import DatePicker from 'vuejs-datepicker'
  import * as lang from 'vuejs-datepicker/src/locale'
  import GROUPS_QUERY from './../../apollo/query/group/list_statistic_in_master.gql'
  import { TIMEKEEPING_SERVICE } from './../../constants.js'

  export default {
    name: 'Master',
    components: { DatePicker },
    data() {
      return {
        loading: true,
        month: moment().format('YYYY-MM'),
        groups: [],
        groupNonDataCount: 0,
        groupHasDataCount: 0
      }
    },
    computed: {
      language() {
        return lang[this.$i18n.locale]
      }
    },
    created() {
      this.$store.dispatch('setMasterGroup')
      moment.locale(window.Laravel.locale)
    },
    apollo: {
      statistic_groups: {
        client: 'master',
        query: GROUPS_QUERY,
        variables() {
          return {
            month: this.month
          }
        },
        result ({ data, loading }) {
          this.groups = data.statistic_groups
          this.loading = loading
          this.groups.forEach(item => {
            if (item.service_type === TIMEKEEPING_SERVICE) {
              if (item.timekeepings_count === 0) {
                this.groupNonDataCount += 1
              }
              if (item.timekeepings_count >= 30) {
                this.groupHasDataCount += 1
              }
            } else {
              if (item.goods_count === 0 && item.invoices_count === 0) {
                this.groupNonDataCount += 1
              }
              if (item.goods_count >= 10 && item.invoices_count === 10) {
                this.groupHasDataCount += 1
              }
            }
          })
          console.log(data)
        }
      }
    },
    methods: {
      covertDate(date) {
        return moment(date, 'YYYY-MM-DD HH:mm:ss').format('DD-MM-YYYY')
      },
      coverPriceType(priceType) {
        return this.$t('config.product.price_type.' + priceType)
      },
      onSelectMonth(datetime) {
        this.loading = true
        this.month = moment(datetime).format('YYYY-MM')
      }
    }
  }
</script>

<style scoped lang="scss">
  .datepicker {
    width: 300px;
  }
  .badge {
    margin-left: 50px;
  }
  .searchform {
    margin-bottom: 10px;
  }
</style>