<template>
  <div class="container-fluid">
    <div class="row m-t-10">
      <div class="white-box col-12">
        <div class="panel panel-default">
          <div class="panel-heading text-center">
            <b class="h3">{{ $t("common.services_list") }}</b>
          </div>
          <div class="panel-wrapper">
            <div class="row panel-body justify-content-center">
              <div class="col-xs-6 col-sm-4 col-md-3 text-center">
                <div class="box-item">
                  <i class="fad fa-calendar"></i>
                  <b>{{ $t("common.timekeeping_application_qr") }}</b>
                </div>
              </div>
              <div class="col-xs-6 col-sm-4 col-md-3 text-center">
                <div class="box-item">
                  <i class="fad fa-coffee-togo"></i>
                  <b>{{ $t("common.restaurant_manage") }}</b>
                </div>
              </div>
            </div>

            <div class="clearfix divider"></div>
            
            <div class="panel-body text-center">
              <div class="col-xs-12 col-sm-8">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe
                    width="480" height="315" frameborder="0"
                    src="https://www.youtube.com/embed/0uwUkh250mc"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <b class="h3">{{ $t("common.get_from_zeko") }}</b>
                <ul class="list-group m-t-30 text-left">
                  <li class="list-group-item">
                    <i class="fa fa-check-circle text-primary m-r-10"></i> 
                    Phần mềm quản lý chuyên nghiệp
                  </li>
                  <li class="list-group-item">
                    <i class="fa fa-check-circle text-primary m-r-10"></i> 
                    Dùng thử miễn phí tháng đầu tiên
                  </li>
                  <li class="list-group-item">
                    <i class="fa fa-check-circle text-primary m-r-10"></i> 
                    Miễn phí cài đặt phần mềm
                  </li>
                  <li class="list-group-item">
                    <i class="fa fa-check-circle text-primary m-r-10"></i> 
                    Tối ưu hoá chi phí, dùng bao nhiêu trả tiền bấy nhiêu
                  </li>
                  <li class="list-group-item">
                    <i class="fa fa-check-circle text-primary m-r-10"></i> 
                    Hỗ trợ và tư vấn 24/7
                  </li>
                </ul>
                <button class="btn btn-lg btn-primary" @click="createGroup()">
                  {{ $t("common.initialize_business_establishment") }}
                </button>
              </div>
            </div>
            <div class="clearfix divider"></div>

            <div class="panel-body text-center">
              <div class="col-xs-12 col-md-10 col-md-offset-1">
                <b class="h3">Hướng dẫn cài đặt và sử dụng</b>
                <div class="row m-t-30">
                  <div class="col-xs-6 col-sm-4 col-md-2 d-flex flex-column ug-item">
                    <i class="fad fa-2x fa-registered text-primary m-t-15 m-b-15"></i>
                    <span>Đăng ký tài khoản</span>
                  </div>
                  <div class="col-xs-6 col-sm-4 col-md-2 d-flex flex-column ug-item">
                    <i class="fad fa-2x fa-plus-circle text-primary m-t-15 m-b-15"></i>
                    <span>Khởi tạo gian hàng</span>
                  </div>
                  <div class="col-xs-6 col-sm-4 col-md-2 d-flex flex-column ug-item">
                    <i class="fad fa-2x fa-user text-primary m-t-15 m-b-15"></i>
                    <span>Quản lý người dùng</span>
                  </div>
                  <div class="col-xs-6 col-sm-4 col-md-2 d-flex flex-column ug-item">
                    <i class="fad fa-2x fa-user-cog text-primary m-t-15 m-b-15"></i>
                    <span>Quản lý phân quyền</span>
                  </div>
                  <div class="col-xs-6 col-sm-4 col-md-2 d-flex flex-column ug-item">
                    <i class="fad fa-2x fa-boxes text-primary m-t-15 m-b-15"></i>
                    <span>Quản lý kho</span>
                  </div>
                  <div class="col-xs-6 col-sm-4 col-md-2 d-flex flex-column ug-item">
                    <i class="fad fa-2x fa-print text-primary m-t-15 m-b-15"></i>
                    <span>Quản lý mẫu in</span>
                  </div>
                </div>
                <div class="row m-t-30">
                  <div class="col-xs-6 col-sm-4 col-md-2 d-flex flex-column ug-item">
                    <i class="fad fa-2x fa-magic text-primary m-t-15 m-b-15"></i>
                    <span>Quản lý thực đơn</span>
                  </div>
                  <div class="col-xs-6 col-sm-4 col-md-2 d-flex flex-column ug-item">
                    <i class="fad fa-2x fa-box text-primary m-t-15 m-b-15"></i>
                    <span>Quản lý nhập hàng</span>
                  </div>
                  <div class="col-xs-6 col-sm-4 col-md-2 d-flex flex-column ug-item">
                    <i class="fad fa-2x fa-location text-primary m-t-15 m-b-15"></i>
                    <span>Quản lý khu vực</span>
                  </div>
                  <div class="col-xs-6 col-sm-4 col-md-2 d-flex flex-column ug-item">
                    <i class="fad fa-2x fa-ball-pile text-primary m-t-15 m-b-15"></i>
                    <span>Quản lý nhóm hàng hoá</span>
                  </div>
                  <div class="col-xs-6 col-sm-4 col-md-2 d-flex flex-column ug-item">
                    <i class="fad fa-2x fa-chart-line-down text-primary m-t-15 m-b-15"></i>
                    <span>Báo cáo thống kê</span>
                  </div>
                  <div class="col-xs-6 col-sm-4 col-md-2 d-flex flex-column ug-item">
                    <i class="fad fa-2x fa-phone-laptop text-primary m-t-15 m-b-15"></i>
                    <span>Màn hình POS bán hàng</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    computed: {
      verified() {
        return this.$store.getters.verified
      },
      phoneVerified() {
        return this.$store.getters.phoneVerified
      }
    },
    methods: {
      createGroup() {
        if (!this.verified || !this.phoneVerified) {
          this.$awn.alert(this.$t('auth.verify_email_and_phone_number_is_required'))
          return this.$router.push('/verification')
        }
        bus.$emit('modal', {
          component: 'create-group'
        })
      }
    }
  }
</script>
<style scoped lang="scss">
.box-item {
  padding: 20px;
  display: grid;
  border-radius: 4px;
  min-height: 170px;
}
.box-item i {
  color: #007bff;
  font-size: 60px;
  margin: 10px 0 20px 0;
}
.box-item b {
  color: #171717;
}
.list-group {
  margin: 50px;
}
.list-group-item {
  padding: 20px;
  font-weight: 400;
  font-size: 17px;
}
.btn-primary {
  margin-top: 50px;
}
.divider {
  margin: 15px 0;
}
.ug-item {
  padding: 20px 0;
  span {
    margin-bottom: 15px;
  }
}
.ug-item:hover {
  background-color: #F8F9FA;
  cursor: pointer;
}
</style>
