<template>
  <div class="container-fluid">
    <div class="row m-t-10">
      <div class="white-box col-12 m-b-15">
        <div class="row row-in">
          <div class="col-lg-3 col-sm-6 col-12 row-in-br b-r-none general">
            <ul class="col-in">
              <li><span class="circle circle-md bg-info"><i class="fa fa-file-invoice-dollar"></i></span></li>
              <li>
                <h4 class="title-aggregate">{{ $t('restaurant.purchased_invoice_number') }}</h4>
                <div class="progress">
                  <div class="progress-bar progress-bar-info"
                       role="progressbar"
                       aria-valuenow="40"
                       aria-valuemin="0"
                       aria-valuemax="100"
                       style="width: 100%"></div>
                </div>
                <div>{{ restaurant_overview.purchased_invoice }}</div>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-sm-6 col-12 row-in-br general">
            <ul class="col-in">
              <li>
                <span class="circle circle-md bg-primary">
                  <i class="fa fa-concierge-bell" aria-hidden="true"></i>
                </span>
              </li>
              <li>
                <h4 class="title-aggregate">{{ $t('restaurant.inited_invoice_number') }}</h4>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary"
                       role="progressbar"
                       aria-valuenow="40"
                       aria-valuemin="0"
                       aria-valuemax="100"
                       style="width: 100%"></div>
                </div>
                <div>{{ restaurant_overview.inited_invoice }}</div>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-sm-6 col-12 row-in-br general">
            <ul class="col-in">
              <li><span class="circle circle-md bg-warning"><i class="fas fa-exchange"></i></span></li>
              <li>
                <h4 class="title-aggregate">{{ $t('restaurant.returned_invoice.invoice') }}</h4>
                <div class="progress">
                  <div class="progress-bar progress-bar-warning"
                       role="progressbar"
                       aria-valuenow="40"
                       aria-valuemin="0"
                       aria-valuemax="100"
                       style="width: 100%"></div>
                </div>
                <div>{{ restaurant_overview.returned_invoice }}</div>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-sm-6 col-12 b-0 general">
            <ul class="col-in">
              <li><span class="circle circle-md bg-success"><i class="fas fa-dollar-sign"></i></span></li>
              <li>
                <h4 class="title-aggregate">{{ $t('restaurant.revenue') }}</h4>
                <div class="progress">
                  <div class="progress-bar progress-bar-success"
                       role="progressbar"
                       aria-valuenow="40"
                       aria-valuemin="0"
                       aria-valuemax="100"
                       style="width: 100%"></div>
                </div>
                <div>{{ formatPrice(restaurant_overview.revenue) }} VND</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="white-box col-12">
        <div class="row col-12 justify-content-end">
          <h4 class="col box-title">
            {{ $t('restaurant.revenue') }} - {{ optionsDate[timeSelected] }}
            <span class="text-primary">
              <i class="fa fa-usd-circle"></i> {{ formatPrice(restaurant_overview.revenue) }}
            </span>
          </h4>

          <div v-click-outside="hiddenOptionsTime" class="group-options">
            <div class="option-selected" :class="{ 'active': show}" @click="show = !show">
              <span class="text-primary">
                {{ optionsDate[timeSelected] }} <i class="fa fa-angle-down"></i></span>
            </div>
            <div v-show="show" class="list-option">
              <div v-for="(value, key) in optionsDate"
                   :key="key"
                   class="option-item"
                   :class="{ 'active': key == timeSelected}"
                   @click="selectTime(key)">
                <span class="hide-menu">{{ value }}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="justify-content-end m-b-30">
          <ul class="nav customtab nav-tabs col-auto" role="tablist">
            <li role="presentation" class="active" @click="changeTypeOfChart(1)">
              <a href="#home1" aria-controls="home" role="tab"
                 data-toggle="tab" aria-expanded="true">{{ $t('restaurant.by_hour') }}</a></li>
            <li role="presentation" @click="changeTypeOfChart(2)">
              <a href="#profile1" aria-controls="profile" role="tab"
                 data-toggle="tab" aria-expanded="false">{{ $t('restaurant.by_day_of_week') }}</a></li>
            <li role="presentation" @click="changeTypeOfChart(3)">
              <a href="#messages1" aria-controls="messages" role="tab"
                 data-toggle="tab" aria-expanded="false">{{ $t('restaurant.by_date') }}</a></li>
          </ul>
        </div>

        <div v-if="$apollo.queries.restaurant_revenue_chart.loading" class="chart-height">
          <clip-loader :loading="true" :color="'#27a1f2'" style="margin: auto"></clip-loader>
        </div>
        <div v-else-if="revenues.length > 1">
          <g-chart type="ColumnChart"
                   :data="revenues"
                   :options="configChart"
                   style="min-height: 400px"></g-chart>
        </div>
        <div v-else class="chart-height">
          <h3>{{ $t('word.no_data') }}</h3>
        </div>
      </div>
      <div class="white-box col-12 m-t-10">
        <div v-click-outside="hiddenOptionsChartType" class="col-12 row justify-content-end">
          <h4 class="col box-title">
            {{ $t('restaurant.top_10_hot_sell') }} - {{ optionsDate[timeSelected] }}
          </h4>
          <div class="group-options" @click="showBestGood = !showBestGood">
            <div class="option-selected" :class="{ 'active': showBestGood}">
              <a><span v-html="optionsTopSelling[topSellingGoodsType]"></span> <i class="fa fa-angle-down"></i></a>
            </div>
            <div v-show="showBestGood" class="list-option">
              <div v-for="(value, index) in optionsTopSelling"
                   :key="index"
                   class="option-item"
                   :class="{ 'active': topSellingGoodsType == index}"
                   @click="topSellingGoodsType = index">
                <span class="hide-menu" v-html="value"></span>
              </div>
            </div>
          </div>

          <div v-click-outside="hiddenOptionsGoodsTime" class="group-options">
            <div class="option-selected"
                 :class="{ 'active': showOptionsGoodsTime}"
                 @click="showOptionsGoodsTime = !showOptionsGoodsTime">
              <span class="text-primary">
                {{ optionsDate[optionsGoodsTimeSelected] }} <i class="fa fa-angle-down"></i></span>
            </div>
            <div v-show="showOptionsGoodsTime" class="list-option">
              <div v-for="(value, key) in optionsDate"
                   :key="key"
                   class="option-item"
                   :class="{ 'active': key == optionsGoodsTimeSelected}"
                   @click="selectOptionsGoodsTime(key)">
                <span class="hide-menu">{{ value }}</span>
              </div>
            </div>
          </div>
        </div>
        <div v-if="$apollo.queries.top_selling_goods.loading" class="chart-height">
          <clip-loader :loading="true" :color="'#27a1f2'" style="margin: auto"></clip-loader>
        </div>
        <div v-else-if="topSellingChartData.length > 1">
          <g-chart type="BarChart"
                   :data="topSellingChartData"
                   :options="configChart"
                   style="min-height: 400px"></g-chart>
        </div>
        <div v-else class="chart-height">
          <h3>{{ $t('word.no_data') }}</h3>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import OVERVIEW_QUERY from './../../apollo/query/statistical/overview.gql'
  import REVENUE_CHART_QUERY from './../../apollo/query/statistical/revenue_chart.gql'
  import TOP_SELLING_GOODS from './../../apollo/query/statistical/top_selling_goods.gql'
  import { GChart } from 'vue-google-charts'
  import ClipLoader from 'vue-spinner/src/ClipLoader'
  import { formatPrice } from '../../helpers/handle_function.js'
  import { getStartAndEndDateByOption } from './../../helpers/handle_date_time.js'
  import configChart from './../../mixins/config_chart.js'

  export default {
    components: { GChart, ClipLoader },
    mixins: [configChart],
    data() {
      return {
        startDate: '',
        endDate: '',
        optionsDate: this.$t('config.mini_options_period_time'),
        timeSelected: 'today',
        optionsGoodsTimeSelected: 'today',
        show: false,
        showOptionsGoodsTime: false,
        showBestGood: false,
        optionsTopSelling: [this.$t('restaurant.follow_revenue'), this.$t('restaurant.follow_count')],
        topSellingGoodsType: 0,
        topSellingGoods: [],
        revenues: [],
        restaurant_overview: {}
      }
    },
    computed: {
      groupId() {
        return this.$store.getters.groupId
      },
      topSellingChartData() {
        let data = []
        if (this.topSellingGoodsType === 0) {
          data = [
            [this.$t('restaurant.good.name'), this.$t('restaurant.revenue')]
          ]
          this.topSellingGoods.forEach(item => {
            if (item.total) {
              data.push([item.name, item.total])
            }
          })
        } else {
          data = [
            [this.$t('restaurant.good.name'), this.$t('word.count')]
          ]
          this.topSellingGoods.forEach(item => {
            if (item.count) {
              data.push([item.name, item.count])
            }
          })
        }
        return data
      }
    },
    apollo: {
      restaurant_overview: {
        query: OVERVIEW_QUERY,
        variables() {
          return {
            groupId: this.groupId
          }
        }
      },
      restaurant_revenue_chart: {
        query: REVENUE_CHART_QUERY,
        variables() {
          return {
            groupId: this.groupId
          }
        },
        manual: true,
        result({ data }) {
          this.revenues = [
            [this.$t('word.date'), this.$t('restaurant.revenue')]
          ]
          data.restaurant_revenue_chart.forEach(item => {
            this.revenues.push([item.x, parseInt(item.y)])
          })
        }
      },
      top_selling_goods: {
        query: TOP_SELLING_GOODS,
        variables() {
          return {
            groupId: this.groupId
          }
        },
        manual: true,
        result ({ data }) {
          this.topSellingGoods = data.top_selling_goods
          this.topSellingGoodsType = 0
        }
      }
    },
    methods: {
      hiddenOptionsTime() {
        this.show = false
      },
      hiddenOptionsGoodsTime() {
        this.showOptionsGoodsTime = false
      },
      hiddenOptionsChartType() {
        this.showBestGood = false
      },
      formatPrice(money) {
        return formatPrice(money)
      },
      selectTime(time) {
        this.show = false
        this.timeSelected = time
        let period = getStartAndEndDateByOption(time)
        this.startDate = period.startDate
        this.endDate = period.endDate

        this.$apollo.queries.restaurant_overview.refetch({
          startDate: this.startDate,
          endDate: this.endDate
        })
        this.$apollo.queries.restaurant_revenue_chart.refetch({
          startDate: this.startDate,
          endDate: this.endDate
        })
      },
      selectOptionsGoodsTime(time) {
        this.showOptionsGoodsTime = false
        this.optionsGoodsTimeSelected = time
        let period = getStartAndEndDateByOption(time)
        this.startDate = period.startDate
        this.endDate = period.endDate

        this.$apollo.queries.top_selling_goods.refetch({
          startDate: this.startDate,
          endDate: this.endDate
        })
      },
      changeTypeOfChart(type) {
        this.$apollo.queries.restaurant_revenue_chart.refetch({
          type: type
        })
      }
    }
  }
</script>
<style scoped lang="scss">
  .chart-height {
    min-height: 400px;
  }
  .general {
    margin-bottom: 10px;
  }

  .col-in li.col-middle {
    width: 50%;
  }

  .company-tabs {
    width: 100%;
    background: #fff;
  }

  .table td[rowspan] {
    vertical-align: middle;
  }

  h3 {
    font-weight: 400;
  }

  .group-options {
    cursor: pointer;
    font-size: 12px;
    min-width: 130px;
    .option-selected {
      padding: 5px 15px;
      &.active {
        border: solid 1px #00AEEF;
      }
    }
    .list-option {
      position: absolute;
      min-width: 130px;
      background-color: white;
      z-index: 2;
      .option-item {
        padding: 5px 15px;
        border-bottom: solid 2px;
        border-right: solid 1px;
        border-left: solid 1px;
        border-color: #f2f2f2 #c1c1c1;
        right: 0;
        &.active {
          background-color: #00AEEF;
          border: solid 1px #00AEEF;
        }
        &:hover {
          background-color: #00AEEF;
          border: solid 1px #00AEEF;
        }
      }
    }
  }
  .title-aggregate {
    font-size: 16px;
    font-weight: 400;
  }
  .box-title {
    font-weight: 450;
    font-size: 14px;
    text-transform: uppercase;
  }
</style>