<template>
  <div class="container-fluid">
    <home-loading v-if="loading"></home-loading>
    <template v-else>
      <div class="row m-t-10">
        <div class="white-box col-12">
          <div class="row row-in">
            <div class="col-lg-4 col-sm-6 row-in-br  b-r-none general">
              <ul class="col-in">
                <li><span class="circle circle-md bg-info"><i class="mdi mdi-account"></i></span></li>
                <li class="col-last"><h3 class="counter text-right m-t-20">{{ group.users_count }}</h3></li>
                <li class="col-middle">
                  <h4>{{ $t('home.company.number_employee') }}</h4>
                  <div class="progress">
                    <div class="progress-bar progress-bar-info"
                         role="progressbar"
                         aria-valuenow="40"
                         aria-valuemin="0"
                         aria-valuemax="100"
                         style="width: 100%"></div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-lg-4 col-sm-6 row-in-br general">
              <ul class="col-in">
                <li>
                  <span class="circle circle-md bg-primary"><i class="mdi mdi-calendar-clock" aria-hidden="true"></i>
                  </span>
                </li>
                <li class="col-last"><h3 class="counter text-right m-t-15">{{ shiftCount }}</h3></li>
                <li class="col-middle">
                  <h4>{{ $t('home.company.number_shift') }}</h4>
                  <div class="progress">
                    <div class="progress-bar progress-bar-primary"
                         role="progressbar"
                         aria-valuenow="40"
                         aria-valuemin="0"
                         aria-valuemax="100"
                         style="width: 100%"></div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-lg-4 col-sm-6 b-0 general">
              <ul class="col-in">
                <li><span class="circle circle-md bg-success"><i class="fas fa-dollar-sign"></i></span></li>
                <li class="col-middle">
                  <h4>{{ $t('home.company.expiration_date') }}</h4>
                  <div class="progress">
                    <div class="progress-bar progress-bar-success"
                         role="progressbar"
                         aria-valuenow="40"
                         aria-valuemin="0"
                         aria-valuemax="100"
                         style="width: 100%"></div>
                  </div>
                  <span class="label label-success">{{ formatDate(group.expiration_date) }}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row m-t-10">
        <div class="white-box col-12">
          <h3 class="box-title">{{ $t('home.company.company_info') }}</h3>
          <div class="table-responsive">
            <table class="table color-bordered-table info-bordered-table">
              <tbody>
                <tr>
                  <th>{{ $t('word.company_name') }}</th>
                  <td> {{ group.name || '' }}</td>
                </tr>
                <tr>
                  <th>{{ $t("common.area") }}</th>
                  <td>{{ group.area.name || '' }}</td>
                </tr>
                <tr>
                  <th>{{ $t("common.commune") }}</th>
                  <td>{{ group.commune.name || '' }}</td>
                </tr>
                <tr>
                  <th>{{ $t("common.address_detail") }}</th>
                  <td>{{ group.address || '' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row m-t-10">
        <div class="white-box col-12">
          <h3 class="box-title">{{ $t('home.company.calendar') }}</h3>
          <div id="calendar-company">
            <scale-loader :loading="scheduling" :color="'#27a1f2'"></scale-loader>
          </div>
        </div>
      </div>

      <div class="row m-t-10">
        <div class="white-box col-12">
          <h3 class="box-title">{{ $t('home.company.shifts') }}</h3>
          <div class="table-responsive">
            <table class="table color-bordered-table info-bordered-table">
              <thead>
                <tr>
                  <th>{{ $t('home.company.name') }}</th>
                  <th>{{ $t('word.checkin') }}</th>
                  <th>{{ $t('word.checkout') }}</th>
                  <th>{{ $t('datetime.week.1') }}</th>
                  <th>{{ $t('datetime.week.2') }}</th>
                  <th>{{ $t('datetime.week.3') }}</th>
                  <th>{{ $t('datetime.week.4') }}</th>
                  <th>{{ $t('datetime.week.5') }}</th>
                  <th>{{ $t('datetime.week.6') }}</th>
                  <th>{{ $t('datetime.week.7') }}</th>
                </tr>
              </thead>
              <tbody>
                <template v-for="(shift, index) in shifts">
                  <tr :key="index">
                    <td :rowspan="shift.type == 1 ? 1 : 2">
                      <span class="label label-info">{{ shift.name }}</span>
                    </td>
                    <td><b class="text-info">{{ shift.times[0].checkin }}</b></td>
                    <td><b class="text-danger">{{ shift.times[0].checkout }}</b></td>
                    <td :rowspan="shift.type == 1 ? 1 : 2">
                      <span v-if="shift.schedules.indexOf('monday') != -1" class="mdi mdi-check text-success"></span>
                      <span v-else class="mdi mdi-close text-danger"></span>
                    </td>
                    <td :rowspan="shift.type == 1 ? 1 : 2">
                      <span v-if="shift.schedules.indexOf('tuesday') != -1" class="mdi mdi-check text-success"></span>
                      <span v-else class="mdi mdi-close text-danger"></span>
                    </td>
                    <td :rowspan="shift.type == 1 ? 1 : 2">
                      <span v-if="shift.schedules.indexOf('wednesday') != -1" class="mdi mdi-check text-success"></span>
                      <span v-else class="mdi mdi-close text-danger"></span>
                    </td>
                    <td :rowspan="shift.type == 1 ? 1 : 2">
                      <span v-if="shift.schedules.indexOf('thursday') != -1" class="mdi mdi-check text-success"></span>
                      <span v-else class="mdi mdi-close text-danger"></span>
                    </td>
                    <td :rowspan="shift.type == 1 ? 1 : 2">
                      <span v-if="shift.schedules.indexOf('friday') != -1" class="mdi mdi-check text-success"></span>
                      <span v-else class="mdi mdi-close text-danger"></span>
                    </td>
                    <td :rowspan="shift.type == 1 ? 1 : 2">
                      <span v-if="shift.schedules.indexOf('saturday') != -1" class="mdi mdi-check text-success"></span>
                      <span v-else class="mdi mdi-close text-danger"></span>
                    </td>
                    <td :rowspan="shift.type == 1 ? 1 : 2">
                      <span v-if="shift.schedules.indexOf('sunday') != -1" class="mdi mdi-check text-success"></span>
                      <span v-else class="mdi mdi-close text-danger"></span>
                    </td>
                  </tr>
                  <tr v-if="shift.type == 2" :key="index + 'a'">
                    <td><b class="text-info">{{ shift.times[1].checkin }}</b></td>
                    <td><b class="text-danger">{{ shift.times[1].checkout }}</b></td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>
<script>
  require('fullcalendar')
  import moment from 'moment'
  import ScaleLoader from 'vue-spinner/src/ScaleLoader'
  import HomeLoading from './../templates/loading/home.vue'
  import GROUP_QUERY from './../../apollo/query/group/group_in_home.gql'
  import SHIFTS_QUERY from './../../apollo/query/shift/list.gql'

  export default {
    name: 'HomeTimekeeping',
    components: { ScaleLoader, HomeLoading },
    data() {
      return {
        group: [],
        shifts: [],
        userCount: '',
        loading: true,
        scheduling: true,
        hook: null
      }
    },
    computed: {
      groupId() {
        return this.$store.getters.groupId
      },
      shiftCount() {
        return this.shifts ? this.shifts.length : 0
      }
    },
    apollo: {
      group: {
        query: GROUP_QUERY,
        variables() {
          return {
            id: this.groupId
          }
        },
        result ({ loading }) {
          this.loading = loading
          this.$nextTick().then(() => {
            this.scheduleInit()
          })
        }
      },
      shifts: {
        query: SHIFTS_QUERY,
        variables() {
          return {
            groupId: this.groupId
          }
        }
      }
    },
    created() {
      moment.locale(window.Laravel.locale)
    },
    methods: {
      formatDate(date) {
        return moment(date).format('L')
      },
      scheduleInit() {
        this.scheduling = false
        var colorCell = ['#378006', '#92A8D1', '#45B8AC', '#955251']
        var days = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']
        var arrEventsId = []
        var schedulesShift = []
        var indexColor = 0
        var schedules = this.shifts
        $('#calendar-company').fullCalendar({
          header: {},
          eventLimit: true,
          eventLimitClick: 'popover',
          eventLimitText: 'Xem thêm',
          dayPopoverFormat: 'DD, MM, YYYY',
          views: {
            month: {
              titleFormat: 'DD, MM, YYYY',
              eventLimit: 2
            },
          },
          height: 700,
          editable: true,
          timeFormat: 'h:mmA',
          displayEventEnd: true,
          eventRender: (event, element) => {
            element.popover({
              animation: true,
              delay: 100,
              content: () => {
                var time = element.find('.fc-content .fc-time').html()
                var title = element.find('.fc-content .fc-title').html()
                var contentHolder = $('<div />')
                contentHolder.append(time + ' ' + title)
                return contentHolder.html()
              },
              trigger: 'hover'
            })
          },
        })
        if ((schedules !== undefined) && (schedules.length > 0)) {
          schedules.forEach(schedule => {
            var dow = []
            var stt = 1
            $.each(days, (index, day) => {
              if (schedule.schedules.indexOf(day) != -1) {
                if (day != 'sunday') {
                  dow.push(stt)
                } else {
                  dow.push(0)
                }
              }
              stt++
            })
            $.each(schedule.times, (indexTime, time) => {
              if (time.checkin && time.checkout) {
                schedulesShift.push({
                  id: indexColor,
                  title: schedule.name,
                  start: time.checkin,
                  end: time.checkout,
                  dow: dow,
                  allDay: true, // will make the time show
                  backgroundColor: colorCell[indexColor],
                  borderColor: colorCell[indexColor]
                })
                arrEventsId.push(indexColor)
                indexColor++
              }
            })
          })
        }
        $('#calendar-company').fullCalendar('renderEvents', schedulesShift)
        $('.fc-today-button, .fc-prev-button, .fc-next-button').click(() => {
          $('#calendar-company').fullCalendar('renderEvents', schedulesShift, false)
        })
      }
    }
  }
</script>
<style type="text/css" scoped>
  @import '~fullcalendar/dist/fullcalendar.css';

  .general {
    margin-bottom: 10px;
  }

  .col-in li.col-middle {
    width: 50%;
  }

  .company-tabs {
    width: 100%;
    background: #fff;
  }

  .table td[rowspan] {
    vertical-align: middle;
  }

  h3 {
    font-weight: 400;
  }
</style>