<template>
  <div class="container-fluid position-relative">
    <div class="row bg-title">
      <div class="col-12 col-sm">
        <h4 class="page-title">{{ $t('word.report') }} {{ $t('restaurant.report_type.sale') }}</h4>
      </div>
      <div class="col-12 col-sm-auto">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{ name: 'home' }">{{ $t('word.home') }}</router-link>
          </li>
          <li class="active">{{ $t('word.report') }}</li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="white-box col">
        <div class="row">
          <div class="col-6 col-md">
            <div class="btn-group btn-group-justified">
              <a class="btn btn-info" role="button"
                 :class="{ 'btn-outline' : reportTypeSelected !== 1 }"
                 @click="reportTypeSelected = 1">
                {{ $t('restaurant.goods_report.by_revenue') }}
              </a>
              <a class="btn btn-info" role="button"
                 :class="{ 'btn-outline' : reportTypeSelected !== 2 }"
                 @click="reportTypeSelected = 2">   
                {{ $t('restaurant.profit') }}
              </a>
              <a class="btn btn-info" role="button"
                 :class="{ 'btn-outline' : reportTypeSelected !== 3 }"
                 @click="reportTypeSelected = 3">   
                {{ $t('restaurant.imported') }}
              </a>
            </div>
          </div>
          <div v-show="reportTypeSelected != 3" class="col-6 col-md">
            <div class="btn-group btn-group-justified">
              <a class="btn btn-info" role="button"
                 :class="{ 'btn-outline' : reportFormSelected !== 1 }"
                 @click="reportFormSelected = 1">
                {{ $t('word.chart') }}
              </a>
              <a class="btn btn-info" role="button"
                 :class="{ 'btn-outline' : reportFormSelected !== 2 }"
                 @click="reportFormSelected = 2">   
                {{ $t('word.report') }}
              </a>
            </div>
          </div>
          <div v-click-outside="setShowOptionsTime" class="col-6 col-md">
            <label class="label-option" @click="showOptionsTime = !showOptionsTime">
              {{ timeSelected.value }}</label>
            <transition name="fade">
              <div v-show="showOptionsTime" class="options-time">
                <option-times @selectTime="selectTime"></option-times>
              </div>
            </transition>
          </div>
          <div class="col-6 col-md">
            <div id="dateRangePicker">
              <date-range-picker
                :locale-data="locale"
                :ranges="ranges"
                :max-date="maxDate"
                opens="left"
                date-range=""
                @update="selectPicker">
                <div slot="input">
                  <i class="fal fa-calendar-alt m-t-5"></i> {{ periodDate }}
                  <b class="caret pull-right"></b>
                </div>
              </date-range-picker>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 m-t-10" style="min-height: 500px;">
        <fullscreen ref="fullscreen" @change="fullscreenChange()">
          <keep-alive>
            <component :is="component"
                       :type="reportFormSelected"
                       :datas="goodsData"
                       :start="startDate"
                       :end="endDate"
                       :loading="$apollo.queries.goods_report.loading"></component>
          </keep-alive>
        </fullscreen>
      </div>
    </div>
    <div v-if="reportFormSelected == 2" class="bottom-action">
      <button class="btn btn-danger btn-rounded pull-right" @click="toggle()">
        <i class="fa fa-expand"></i> {{ $t('word.fullscreen') }}
      </button>
      <button class="btn btn-info btn-rounded pull-right" @click="print()">
        <i class="fa fa-print"></i> {{ $t('word.print') }}
      </button>
      <button id="xlsx-export" class="btn btn-info btn-rounded pull-right" @click="exportTable()">
        <i class="fa fa-file-excel"></i> {{ $t('time_keeping.export_to_xlsx') }}
      </button>
    </div>
    <div class="loading-report" :class="{'active': loading}">
      <fade-loaded :loading="loading" :color="'#27a1f2'"></fade-loaded>
    </div>
  </div>
</template>

<script>
  import { REPORT_GOODS } from './../../../../api.js'
  import GOODS_REPORT_QUERY from './../../../../apollo/query/statistical/goods_report.gql'
  import DateRangePicker from 'vue2-daterange-picker/src/components/DateRangePicker'
  import {
    convertToDate,
    convertToYearMonthDay,
    getStartAndEndDateByOption
  } from './../../../../helpers/handle_date_time.js'
  import moment from 'moment'
  import configRangePicker from './../../../../mixins/config_range_picker.js'
  import TableExport from 'tableexport'
  import FadeLoaded from 'vue-spinner/src/FadeLoader'

  var OptionTimes = () => import('../../../partials/option_time.vue')
  var ReportRevenue = () => import('./sale/index.vue')
  var ReportProfit = () => import('./profit/index.vue')
  var ReportImported = () => import('./imported/index.vue')

  export default {
    components: {
      OptionTimes, DateRangePicker, ReportRevenue, ReportProfit, FadeLoaded, ReportImported
    },
    mixins: [configRangePicker],
    data() {
      return {
        loading: false,
        timeSelected: {
          name: 'today',
          value: this.$t('word.today')
        },
        showOptionsTime: false,
        startDate: moment().format('YYYY-MM-DD'),
        endDate: '',
        typeTimeOptionSelected: 1,
        datas: [],
        reportForms: [],
        reportFormSelected: 1,
        reportTypes: [],
        reportTypeSelected: 1,
        goodsData: []
      }
    },
    computed: {
      groupId() {
        return this.$store.getters.groupId
      },
      restaurantName() {
        return this.$store.state.current.group.name
      },
      periodDate() {
        return this.typeTimeOptionSelected == 2 ?
            (convertToDate(this.startDate) + ' - ' + convertToDate(this.endDate)) :
            this.$t('word.period')
      },
      component() {
        if (this.reportTypeSelected === 1) {
          return 'report-revenue'
        } else if (this.reportTypeSelected === 2) {
          return 'report-profit'
        }
        return 'report-imported'
      }
    },
    apollo: {
      goods_report: {
        query: GOODS_REPORT_QUERY,
        variables() {
          return {
            groupId: this.groupId
          }
        },
        manual: true,
        result ({ data }) {
          this.goodsData = data.goods_report
          console.log(data)
        }
      }
    },
    created() {
      this.maxDate = convertToYearMonthDay(Date.now())
      this.reportForms = [
        { name: this.$t('word.chart'), value: 1 },
        { name: this.$t('word.report'), value: 2 }
      ]
      this.reportTypes = [
        { name: this.$t('restaurant.goods_report.by_revenue'), value: 1 },
        { name: this.$t('restaurant.profit'), value: 2 },
        { name: this.$t('restaurant.imported'), value: 3 },
      ]
    },
    methods: {
      async getDatas(start, end) {
        this.loading = true
        let query = `start=${moment(start).format('DD-MM-YYYY')}&end=${moment(end).format('DD-MM-YYYY')}`
        if (this.reportTypeSelected.value == 3) {
          await this.getImportDatas(query)
        } else {
          await this.getSaleDatas(query)
        }
        this.startDate = start
        this.endDate = end
        this.loading = false
      },
      async getSaleDatas(query) {
        await axios.get(`${REPORT_GOODS}?${query}`)
            .then(res => {
              this.datas = res.data.datas
            })
            .catch(err => {
              if (err.response && err.response.status == 422) {
                this.errors = err.response.data.errors
              }
            })
      },
      async getImportDatas(query) {
        await axios.get(`${REPORT_GOODS}/imported?${query}`)
            .then(res => {
              this.datas = res.data.datas
            })
            .catch(err => {
              if (err.response && err.response.status == 422) {
                this.errors = err.response.data.errors
              }
            })
      },
      setShowOptionsTime() {
        this.showOptionsTime = false
      },
      selectTime(time) {
        this.timeSelected = time
        this.showOptionsTime = false
        let period = getStartAndEndDateByOption(time.name)
        this.startDate = period.startDate
        this.endDate = period.endDate
        this.$apollo.queries.goods_report.refetch({
          startDate: this.startDate,
          endDate: this.endDate,
        })
        // this.typeTimeOptionSelected = 1
        // this.getDatas(period.startDate, period.endDate)
      },
      selectPicker(date) {
        this.startDate = moment(date.startDate).format('YYYY-MM-DD')
        this.endDate = moment(date.endDate).format('YYYY-MM-DD')
        this.$apollo.queries.goods_report.refetch({
          startDate: this.startDate,
          endDate: this.endDate
        })
      },
      fullscreenChange(fullscreen) {
        this.fullscreen = fullscreen
      },
      toggle() {
        this.$refs['fullscreen'].toggle()
      },
      exportTable() {
        var tableId = 'table'
        var ExportButtons = $('#table')
        var instance = new TableExport(ExportButtons, {
          filename: `Report-${convertToDate(this.startDate)}to${convertToDate(this.endDate)}`,
          formats: ['xlsx'],
          exportButtons: false
        })
        var XLSX = instance.CONSTANTS.FORMAT.XLSX
        var array = []
        var exportDataXLSX = instance.getExportData()[tableId][XLSX]
        for (let data of exportDataXLSX.data) {
          let arr = []
          for (let obj of data) {
            if (obj) obj.v = obj.v.replace('.', ',')
            arr.push(obj)
          }
          array.push(arr)
        }
        instance.export2file(
            array,
            exportDataXLSX.mimeType,
            exportDataXLSX.filename,
            exportDataXLSX.fileExtension,
            exportDataXLSX.merges
        )
      },
      print() {
        $('td .fa-plus-circle').css('display', 'none')
        let html = $('#tableReport').html()
        bus.$emit('print', html)
        $('td .fa-plus-circle').css('display', 'inline-block')
      }
    }
  }
</script>

<style scoped lang="scss">
  .label-option {
    display: block;
    height: 38px;
    cursor: pointer;
    border: 1px solid #c5c5c5;
    border-radius: 2px;
    line-height: 28px;
    padding: 3px 15px 0 8px;
    font-weight: 400 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      border-color: #4bc6f2;
    }
  }

  .options-time {
    position: absolute;
    top: 100%;
    z-index: 1000;
  }

  #dateRangePicker {
    cursor: pointer;
    div:first-child {
      width: 100%;
    }
  }

  .caret {
    float: right;
    margin-top: 10px;
  }

  tr {
    td:nth-child(5) {
      text-align: right;
    }
    th:last-child {
      text-align: right;
    }
  }

  .bottom-action {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px;
    z-index: 10;
  }

  .bottom-action button {
    margin: 5px;
  }

  .fullscreen {
    background: #FEFEFE !important;
  }

  .chart-height {
    min-height: 400px;
    display: flex;
    h3 {
      color: #e0e0e0;
      margin: auto;
    }
  }

  .loading-report {
    position: absolute;
    height: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 11;
    .v-spinner {
      top: calc(50vh - 25px);
      left: 50%;
    }
    &.active {
      display: block;
    }
  }
  .btn-group-justified .btn { height: 38px; font-size: 13px; padding: 8px }  
</style>