<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <h4 class="page-title">{{ $t('word.permission_manage') }}</h4></div>
      <div class="col-sm-6 col-md-8 col-xs-12">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{ name: 'home' }">{{ $t('word.home') }}</router-link>
          </li>
          <li class="active">{{ $t('word.permission') }}</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="white-box col-12">
        <div v-if="loading == false">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="form-group col-12 col-sm-4">
                  <label class="control-label">{{ $t('word.role') }}</label>
                  <multiselect v-model="currentRole"
                               :options="roles"
                               :custom-label="customLabelRole"
                               :placeholder="$t('word.select_role')"
                               select-label=""
                               deselect-label=""
                               selected-label=""
                               :searchable="false"></multiselect>
                </div>
              </div>
            </div>
            <div v-show="currentRole.name === 'owner'" class="col-12">
              <u class="text-muted">{{ $t('permission.message.cannot_change_owner_role') }}</u>
            </div>
            <div v-for="(permissionsGroup, label) in permissions" :key="label"
                 class="col-12 col-sm-4 col-md-3">
              <label class="control-label m-t-20">{{ $t('permission.group_permission.' + label) }}</label>
              <div v-for="(permission, key) in permissionsGroup" :key="key" class="checkbox checkbox-info">
                <input :id="permission.name"
                       v-model="currentRole.permission_ids"
                       type="checkbox"
                       :value="permission.id"
                       :disabled="currentRole.name === 'owner'">
                <label :for="permission.name">{{ $t('permission.permission.' + permission.name) }}</label>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button type="button"
                    class="btn btn-info m-t-20"
                    :disabled="updating || currentRole.name == 'owner'"
                    @click="updateRolePermissions">
              <i class="fal" :class="[updating ? 'fa-spinner-third fa-spin' : 'fa-check']"></i> 
              {{ $t('word.update') }}
            </button>
          </div>
        </div>
        <div class="col-12 text-center">
          <pulse-loader :loading="loading" :color="'#27a1f2'" class="align-content-center m-t-30"></pulse-loader>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import ROLES_QUERY from '@apollo/query/permission/get_roles_by_group_id.gql'
  import PERMISSIONS_QUERY from '@apollo/query/permission/get_permissions_by_group_id.gql'
  import UPDATE_PERMISSION_ROLE from '@apollo/mutation/permission/update_permission_role.gql'
  import PulseLoader from 'vue-spinner/src/PulseLoader'

  export default {
    components: { PulseLoader },
    data() {
      return {
        loading: true,
        roles: [],
        permissions: [],
        currentRole: '',
        updating: false
      }
    },
    apollo: {
      roles: {
        query: ROLES_QUERY,
        variables() {
          return {
            groupId: this.groupId
          }
        },
        result({ data, loading }) {
          this.loading = loading
          if (!this.currentRole.id) {
            this.currentRole = data.roles[0]
          }
        }
      },
      permissions: {
        query: PERMISSIONS_QUERY,
        variables() {
          return {
            groupId: this.groupId
          }
        },
        manual: true,
        result ({ data }) {
          Array.prototype.groupBy = function(prop) {
            return this.reduce(function(groups, item) {
              const val = item[prop]
                groups[val] = groups[val] || []
                groups[val].push(item)
                return groups
            }, {})
          }
          this.permissions = data.permissions.groupBy('label')
        }
      }
    },
    computed: {
      groupId() {
        return this.$store.getters.groupId
      }
    },
    methods: {
      updateRolePermissions() {
        this.updating = true
        this.$apollo.mutate({
          mutation: UPDATE_PERMISSION_ROLE,
          variables: {
            roleId: this.currentRole.id,
            permissionIds: this.currentRole.permission_ids,
            groupId: this.groupId
          }
        }).then(() => {
          this.$awn.success(this.$t('word.updated'))
        }).finally(() => {
          this.updating = false
        })
      },
      customLabelRole({ name }) {
        return name ? this.$t(`permission.role.${name}`) : this.$t('word.select_role')
      },
    }
  }
</script>