<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <h4 class="page-title">{{ $t('word.role_manage') }}</h4></div>
      <div class="col-sm-6 col-md-8 col-xs-12">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{ name: 'home' }">{{ $t('word.home') }}</router-link>
          </li>
          <li class="active">{{ $t('word.role') }}</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="white-box col-12">
        <h5 class="col-12"><b>{{ $t('word.assign_new_role') }}</b></h5>
        <div v-check="{ permission: 'permission.role-assign' }" class="col-12">
          <div class="row">
            <div class="col-12 col-sm">
              <multiselect v-model="userSelected"
                           track-by="id"
                           :custom-label="customLabel"
                           :placeholder="$t('word.email_phone_number_or_name')"
                           :loading="searching"
                           :options="usersSearch"
                           :internal-search="false"
                           select-label=""
                           deselect-label=""
                           selected-label=""
                           @input="onUserSelect"
                           @search-change="searchUser">
                <template v-if="props.option.id" slot="singleLabel" slot-scope="props">
                  <div class="row">
                    <avatar :username="props.option.fullname"
                            :size="22"
                            class="col-auto m-l-10 p-l-0 p-r-0"
                            color="#fff"
                            :src="props.option.avatars ? props.option.avatars.x2 : ''"></avatar>
                    <span class="option__desc col">
                      <span class="option__title"> {{ props.option.fullname }}</span>
                    </span>
                  </div>
                </template>

                <template slot="option" slot-scope="props">
                  <div class="row">
                    <div class="col-xs-2">
                      <avatar :username="props.option.fullname"
                              :size="32"
                              color="#fff"
                              :src="props.option.avatars ? props.option.avatars.x2 : ''"></avatar>
                    </div>
                    <div class="col-xs-10">
                      {{ props.option.fullname }}<br>
                      <span class="option__small">{{ props.option.email }}</span>
                    </div>
                  </div>
                </template>
                <li v-if="currentPage <= lastPage" slot="afterList" class="m-t-15 m-b-10 text-center">
                  <button href="#" class="btn btn-primary" @click="loadmore()">
                    <i v-if="$apollo.queries.users_role.loading"
                       class="far fa-spinner-third fa-spin"></i>
                    {{ $t('word.loadmore') }}
                  </button>
                </li>
                <span slot="noResult">{{ $t('word.no_data') }}</span>
                <span slot="noOptions">{{ $t('word.no_data') }}</span>
              </multiselect>
              <span v-if="errors.user_id" class="text-danger">
                {{ errors.user_id[0] }}
              </span>
            </div>
            <div class="col-12 col-sm">
              <multiselect v-model="roleSelected"
                           :options="roles"
                           :custom-label="customLabelRole"
                           :placeholder="$t('word.select_role')"
                           select-label=""
                           deselect-label=""
                           selected-label=""
                           :searchable="false"
                           :disabled="userSelected !== null && userSelected.id ? false : true">
              </multiselect>
              <span v-if="errors.role_id" class="text-danger">
                {{ errors.role_id[0] }}
              </span>
            </div>
            <div class="col-12 col-sm-auto">
              <button type="button" class="btn btn-info" :disabled="assigning" @click="assignRole()">
                <i :class="{ 'far fa-spinner-third fa-spin' : assigning }"></i> 
                {{ $t('word.role_assign') }}
              </button>
            </div>
          </div>
        </div>

        <h5 class="m-t-30 col-12"><b>{{ $t('word.now_roles') }}</b></h5>
        <div id="accordion" class="panel-group col-12">
          <div v-for="(user, index) in users" :key="user.id" class="panel panel-default">
            <div class="item">
              <div class="col-xs-2">
                <avatar :username="user.fullname"
                        color="#fff"
                        :src="user.avatars ? user.avatars.x2 : ''"></avatar>
              </div>
              <div class="col-xs-4">
                <b>{{ user.fullname }}</b><br>
                <span>{{ user.phone_number }}</span>
              </div>
              <div class="col-xs-2">
                <span class="label label-primary">{{ $t('permission.role.' + user.role_group.name) }}</span>
              </div>
              <div class="col-xs-4">
                <a v-if="user.role_group.name !== 'owner'"
                   v-check="{ permission: 'permission.role-assign' }"
                   data-toggle="collapse"
                   data-parent="#accordion"
                   :href="`#collapse${index}`"
                   class="btn btn-sm btn-info pull-right">
                  <i class="fa fa-pencil-alt"></i> {{ $t('word.edit') }}
                </a>
              </div>
            </div>

            <div :id="`collapse${index}`" class="panel-collapse collapse">
              <div class="panel panel-default">
                <div class="panel-wrapper collapse in">
                  <div class="panel-body">
                    <div class="col-xs-9 col-md-5 col-md-offset-3">
                      <multiselect v-model="user.role_group"
                                   :options="roles"
                                   :custom-label="customLabelRole"
                                   :placeholder="$t('word.select_role')"
                                   select-label=""
                                   deselect-label=""
                                   selected-label=""
                                   :searchable="false"></multiselect>
                    </div>
                    <div class="col-xs-3">
                      <button type="button" class="btn btn-primary m-t-5"
                              :disabled="updating" @click="updateRole(user)">
                        <i class="far" :class="[updating ? 'fa-circle-notch fa-spin' : 'fa-check']"></i>
                        {{ $t('word.update') }}
                      </button>
                    </div>
                  </div>
                  <div v-check="{ permission: 'permission.role-assign' }"
                       class="panel-footer text-right">
                    <small>{{ $t('word.revoke_desc') }}</small>
                    <button type="button"
                            class="btn btn-default btn-xs"
                            @click.prevent="revoke(user.id)">
                      <i class="fa fa-user-slash"></i> {{ $t('word.revoke') }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <pulse-loader :loading="loading" :color="'#27a1f2'" class="col align-self-center"></pulse-loader>
      </div>
    </div>
  </div>
</template>
<script>
  import USERS_ROLER_QUERY from './../../../apollo/query/permission/get_roler_in_group.gql'
  import USERS_OUT_ROLE_QUERY from './../../../apollo/query/user/users_role.gql'
  import ASSIGN_ROLE from './../../../apollo/mutation/permission/assign_role.gql'
  import REVOKE_ROLE from './../../../apollo/mutation/permission/revoke_role.gql'
  import UPDATE_ROLE from './../../../apollo/mutation/permission/update_role.gql'
  import PulseLoader from 'vue-spinner/src/PulseLoader'

  export default {
    components: { PulseLoader },
    data() {
      return {
        userSelected: {},
        roleSelected: {},
        loading: true,
        searching: false,
        users: [],
        usersSearch: [],
        roles: [],
        errors: [],
        assigning: false,
        updating: false,
        currentPage: 1,
        lastPage: 1
      }
    },
    apollo: {
      group: {
        query: USERS_ROLER_QUERY,
        variables() {
          return {
            id: this.groupId
          }
        },
        manual: true,
        result({ data, loading }) {
          this.loading = loading
          this.users = data.group.users_role
          this.roles = data.group.roles
          this.roles.map(role => {
            if (role.name.includes('owner')) {
              role.$isDisabled = true
            }
            return role
          })
        }
      },
      users_role: {
        query: USERS_OUT_ROLE_QUERY,
        variables() {
          return {
            outRole: true,
            groupId: this.groupId,
            keyword: '',
            page: 1
          }
        },
        manual: true,
        result({ data }) {
          this.usersSearch = data.users_role.data
          this.currentPage = data.users_role.current_page + 1
          this.lastPage = data.users_role.last_page
        }
      }
    },
    computed: {
      groupId() {
        return this.$store.getters.groupId
      }
    },
    updated() {
      $('[data-toggle="tooltip"]').tooltip()
    },
    methods: {
      searchUser: _.debounce(function(search) {
        if (search != '') {
          this.searching = true
          this.$apollo.queries.users_role.refetch({
            keyword: search,
            page: 1
          }).finally(() => {
            this.searching = false
          })
        }
      }, 500),
      changeUserPermission(newRole) {
        this.currentUser.role_name = newRole
        this.users.splice(this.indexCurrentUser, 1, this.currentUser)
      },
      customLabel({ fullname }) {
        return fullname || this.$t('word.email_phone_number_or_name')
      },
      customLabelRole({ name }) {
        return name ? this.$t(`permission.role.${name}`) : this.$t('word.select_role')
      },
      onUserSelect(user) {
        if (user !== null) {
          this.roleSelected = user.group_role
        }
      },
      assignRole() {
        this.errors = []
        this.assigning = true
        this.$apollo.mutate({
          mutation: ASSIGN_ROLE,
          variables: {
            userId: this.userSelected && this.userSelected.id ? this.userSelected.id : '',
            groupId: this.groupId,
            roleId: this.roleSelected && this.roleSelected.id ? this.roleSelected.id : null
          },
          update: store => {
            const query = {
              query: USERS_OUT_ROLE_QUERY,
              variables: {
                outRole: true,
                groupId: this.groupId,
                keyword: '',
                page: 1
              }
            }
            const data = store.readQuery(query)
            let index = data.users_role.data.findIndex(item => item.id === this.userSelected.id)
            data.users_role.data.splice(index, 1)
            store.writeQuery({ ...query, data: data })
            this.userSelected = {}
          }
        }).then(() => {
          this.$awn.success(this.$t('word.updated'))
        }).catch(error => {
          if (error.graphQLErrors[0].message === 'validation') {
            this.errors = error.graphQLErrors[0].extensions.validation
          }
        }).finally(() => {
          this.assigning = false
        })
      },
      revoke(userId) {
        let conf = confirm(this.$t('company.permission.delete_user_confirm'))
        if (!conf) {
          return
        }
        this.$apollo.mutate({
          mutation: REVOKE_ROLE,
          variables: {
            groupId: this.groupId,
            userId: userId
          }
        }).then(() => {
          this.$awn.success(this.$t('company.permission.delete_user_success'))
        })
      },
      updateRole(user) {
        this.updating = true
        this.$apollo.mutate({
          mutation: UPDATE_ROLE,
          variables: {
            userId: user.id,
            groupId: this.groupId,
            roleId: user.role_group.id
          }
        }).then(() => {
          this.$awn.success(this.$t('word.updated'))
        }).finally(() => {
          this.updating = false
        })
      },
      loadmore() {
        if (this.currentPage <= this.lastPage) {
          this.$apollo.queries.users_role.fetchMore({
            variables: {
              page: this.currentPage
            },
            updateQuery: (previousResult, { fetchMoreResult }) => {
              const currentDatas = previousResult.users_role.data
              const newDatas = fetchMoreResult.users_role.data
              return {
                users_role: {
                  __typename: previousResult.users_role.__typename,
                  data: [...currentDatas, ...newDatas],
                  current_page: fetchMoreResult.users_role.current_page,
                  last_page: fetchMoreResult.users_role.last_page
                }
              }
            }
          })
        }
      }
    }
  }
</script>
<style scoped>
  .item {
    padding: 15px;
    border-bottom: 1px solid #E6E6E6;
    height: 80px;
  }

  .panel-wrapper {
    border: 1px solid #E6E6E6;
    background: #F5F6F7;
  }
</style>