<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-12 col-sm">
        <h4 class="page-title">{{ $t('restaurant.manage_goods') }}</h4></div>
      <div class="col-12 col-sm-auto">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{ name: 'home' }">{{ $t('word.home') }}</router-link>
          </li>
          <li>
            <router-link :to="{ name: 'restaurant.good_sale.list' }">{{ $t('restaurant.good.good') }}</router-link>
          </li>
          <li class="active">{{ $t('word.edit') }}</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="white-box col-12">
        <div class="panel-body">
          <ul class="nav customtab nav-tabs m-b-30" role="tablist">
            <!-- Thông tin cơ bản -->
            <li class="active">
              <a href="#tab1"
                 data-toggle="tab"
                 aria-expanded="true">{{ $t('word.information') }}</a>
            </li>
            <!-- mô tả và hạn mức tồn -->
            <li>
              <a href="#tab2"
                 data-toggle="tab"
                 aria-expanded="false">{{ $t('restaurant.good.description') }}</a>
            </li>
            <!-- các thành phần cấu thành -->
            <li v-if="good.type && good.type != typeImported" v-check="{ permission: 'goods.list'}">
              <a href="#tab3" data-toggle="tab" aria-expanded="false">{{ $t('word.ingredient') }}</a>
            </li>
          </ul>
          <div class="tab-content">
            <div id="tab1" class="tab-panel active in">
              <div class="row">
                <div class="col-md col-12">
                  <form class="form-horizontal">
                    <!-- Mã hàng hoá -->
                    <div class="form-group " :class="{'has-error': errors.code }">
                      <label class="col-lg-3 control-label">
                        {{ $t('restaurant.good.code') }} <span class="text-danger">*</span>
                      </label>
                      <div class="col-lg-9">
                        <div class="input-group">
                          <input v-model="good.code" type="text" class="form-control">
                          <span class="input-group-btn">
                            <button class="btn btn-info"
                                    data-container="body"
                                    type="button"
                                    data-toggle="popover"
                                    data-placement="right"
                                    data-trigger="focus"
                                    data-html="true"
                                    :data-content="$t('restaurant.good.code_desc')">
                              <i class="fa fa-question"></i>
                            </button>
                          </span>
                        </div>
                        <span v-if="errors.code" class="text-danger">
                          <strong>{{ errors.code[0] }}</strong>
                        </span>
                      </div>
                    </div>

                    <!-- Tên hàng hoá -->
                    <div class="form-group " :class="{'has-error': errors.name}">
                      <label class="col-lg-3 control-label">
                        {{ $t('restaurant.good.name') }} <span class="text-danger">*</span>
                      </label>
                      <div class="col-lg-9">
                        <div class="input-group">
                          <input v-model="good.name" type="text" class="form-control">
                          <span class="input-group-btn">
                            <button class="btn btn-info"
                                    data-container="body"
                                    type="button"
                                    data-toggle="popover"
                                    data-placement="right"
                                    data-trigger="focus"
                                    data-html="true"
                                    :data-content="$t('restaurant.good.name_desc')">
                              <i class="fa fa-question"></i>
                            </button>
                          </span>
                        </div>
                        <span v-if="errors.name" class="text-danger">
                          <strong>{{ errors.name[0] }}</strong>
                        </span>
                      </div>
                    </div>

                    <!-- Nhóm hàng -->
                    <div class="form-group " :class="{'has-error': errors.group_menu_ids}">
                      <label class="col-lg-3 control-label">
                        {{ $t('restaurant.good.group') }} <span class="text-danger">*</span>
                      </label>
                      <div class="col-lg-9">
                        <div class="input-group">
                          <multiselect
                            v-model="good.groupMenus"
                            label="name"
                            track-by="id"
                            :placeholder="$t('restaurant.good.select_group')"
                            :allow-empty="false"
                            :show-labels="false"
                            :multiple="true"
                            :options="menus">
                            <template slot="option" slot-scope="props">
                              <span :class="{ 'menu-lv0': props.option.level == 0,
                                              'menu-lv1': props.option.level == 1,
                                              'menu-lv2': props.option.level == 2 }">{{ props.option.name }}</span>
                            </template>
                          </multiselect>
                          <span class="input-group-btn">
                            <button class="btn btn-info"
                                    data-container="body"
                                    type="button"
                                    data-toggle="popover"
                                    data-placement="right"
                                    data-trigger="focus"
                                    data-html="true"
                                    :data-content="$t('restaurant.good.group_menus_desc')">
                              <i class="fa fa-question"></i>
                            </button>
                          </span>
                        </div>
                        <span v-if="errors.group_menu_ids" class="text-danger">
                          <strong>{{ errors.group_menu_ids[0] }}</strong>
                        </span>
                      </div>
                    </div>

                    <!-- Gía bán -->
                    <div class="form-group " :class="{ 'has-error': errors.price }">
                      <label class="col-lg-3 control-label">
                        {{ $t('restaurant.good.price') }} <span class="text-danger">*</span>
                      </label>
                      <div class="col-lg-9">
                        <div class="input-group">
                          <input v-model="good.price"
                                 type="number"
                                 class="form-control"
                                 min="0"
                                 step="1000">
                          <span class="input-group-btn">
                            <button class="btn btn-info"
                                    data-container="body"
                                    type="button"
                                    data-toggle="popover"
                                    data-placement="right"
                                    data-trigger="focus"
                                    data-html="true"
                                    :data-content="$t('restaurant.good.price_desc')">
                              <i class="fa fa-question"></i>
                            </button>
                          </span>
                        </div>
                        <span v-if="errors.price" class="text-danger">
                          <strong>{{ errors.price[0] }}</strong>
                        </span>
                      </div>
                    </div>

                    <!-- Giá gốc -->
                    <div v-if="!(good.type == typeSell && ingredients.length > 0)"
                         class="form-group "
                         :class="{'has-error': errors.price_origin}">
                      <label class="col-lg-3 control-label">{{ $t('restaurant.good.price_origin') }}</label>
                      <div class="col-lg-9">
                        <div class="input-group">
                          <input v-model="good.price_origin"
                                 type="number"
                                 class="form-control"
                                 min="0"
                                 step="1000">
                          <span class="input-group-btn">
                            <button class="btn btn-info"
                                    data-container="body"
                                    type="button"
                                    data-toggle="popover"
                                    data-placement="right"
                                    data-trigger="focus"
                                    data-html="true"
                                    :data-content="$t('restaurant.good.price_origin_desc')">
                              <i class="fa fa-question"></i>
                            </button>
                          </span>
                        </div>
                        <span v-if="errors.price_origin" class="text-danger">
                          <strong>{{ errors.price_origin[0] }}</strong>
                        </span>
                      </div>
                    </div>

                    <!-- Đơn vị tính -->
                    <div class="form-group " :class="{'has-error': errors.unit}">
                      <label class="col-lg-3 control-label">
                        {{ $t('restaurant.good.unit') }} <span class="text-danger">*</span>
                      </label>
                      <div class="col-lg-9">
                        <div class="input-group">
                          <div v-check="{permission: 'group.update-profile'}"
                               class="input-group-addon"
                               data-toggle="modal"
                               href="#setupUnits"
                               :title="$t('word.setup') + ' ' + $t('restaurant.setup.unit')">
                            <i class="fa fa-cog"></i>
                          </div>
                          <multiselect
                            v-model="unitSelected"
                            label="name"
                            :allow-empty="false"
                            :placeholder="$t('restaurant.good.choose_unit')"
                            :show-labels="false"
                            :options="units"></multiselect>
                          <span class="input-group-btn">
                            <button class="btn btn-info"
                                    data-container="body"
                                    type="button"
                                    data-toggle="popover"
                                    data-placement="right"
                                    data-trigger="focus"
                                    data-html="true"
                                    :data-content="$t('restaurant.good.basic_unit_desc')">
                              <i class="fa fa-question"></i>
                            </button>
                          </span>
                        </div>
                        <span v-if="errors.unit" class="text-danger">
                          <strong>{{ errors.unit[0] }}</strong>
                        </span>
                      </div>
                    </div>

                    <!-- Giảm giá -->
                    <div class="form-group " :class="{'has-error': errors.discount}">
                      <label class="col-lg-3 control-label">
                        {{ $t('restaurant.good.discount') }}
                      </label>
                      <div class="col-lg-9">
                        <div class="input-group">
                          <div class="input-group-addon"
                               @click="good.discount_type == discountMoney ? good.discount_type = discountPercent :
                                 good.discount_type = discountMoney">
                            <span v-if="good.discount_type == discountMoney">VND</span>
                            <span v-else>&nbsp;&nbsp;%&nbsp;&nbsp;</span>
                          </div>
                          <input v-model="good.discount"
                                 type="number"
                                 class="form-control"
                                 min="0"
                                 :step="good.discount_type == discountMoney ? '1000' : '1'">
                          <span class="input-group-btn">
                            <button class="btn btn-info"
                                    data-container="body"
                                    type="button"
                                    data-toggle="popover"
                                    data-placement="right"
                                    data-trigger="focus"
                                    data-html="true"
                                    :data-content="$t('restaurant.good.discount_desc')">
                              <i class="fa fa-question"></i>
                            </button>
                          </span>
                        </div>
                        <span v-if="errors.discount" class="text-danger">
                          <strong>{{ errors.discount[0] }}</strong>
                        </span>
                      </div>
                    </div>
                  </form>
                </div>

                <!-- Upload hình ảnh -->
                <div v-viewer="config" class="col-sm col-12">
                  <div class="form-group text-center m-t-15">
                    <div v-show="maxUploaded" class="fileinput justify-content-around" data-provides="fileinput">
                      <button class="btn btn-info btn-file">
                        <i class="fas fa-upload"></i> {{ $t('word.upload_image') }}
                        <input ref="files" type="file" name="..."
                               multiple
                               @change="addImage">
                      </button>
                      <button class="btn btn-info" @click.prevent="chooseImage()">
                        <i class="fas fa-images"></i> {{ $t('word.choose_image') }}
                      </button>
                    </div>
                  </div>
                  <div class="row">
                    <div v-for="(image, index) in good.images" :key="index" class="col-md-4 col-6">
                      <div class="position-relative list-image">
                        <img :src="$asset(image)"
                             alt="image"
                             style="width: 100%"
                             data-toggle="modal"
                             data-target=".bs-example-modal-lg"
                             class="zoom-in image-border">
                        <button class="btn btn-danger btn-delete-image btn-circle" @click="deleteOldImage(image)">
                          <i class="fa fa-times"></i>
                        </button>
                      </div>
                      <span v-if="errors['images.' + index]" class="text-danger">
                        <strong>{{ errors['images.' + index][0] }}</strong>
                      </span>
                    </div>
                  </div>

                  <div class="text-center">
                    <i v-if="imageUploading" class="fa fa-2x fa-spinner-third fa-spin text-primary m-t-30"></i>
                    <span v-if="errors.images" class="text-danger">
                      <strong>{{ errors.images[0] }}</strong>
                    </span>
                  </div>
                  <div class="row">
                    <div v-for="(image, index) in systemImages"
                         :key="index"
                         class="col-md-4 col-6">
                      <div class="position-relative list-image">
                        <img :src="$asset(image)"
                             alt="image"
                             style="width: 100%"
                             data-toggle="modal"
                             data-target=".bs-example-modal-lg"
                             class="zoom-in image-border">
                        <button class="btn btn-danger btn-delete-image btn-circle"
                                @click="systemImages.splice(index, 1)">
                          <i class="fa fa-times"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Các thuộc tính -->
              <div class="panel panel-info">
                <div class="panel-heading" data-perform="panel-collapse">
                  {{ $t('restaurant.good.add_property') }}
                  <div class="pull-right">
                    <i class="fa fa-chevron-down"></i>
                  </div>
                </div>
                <div class="panel-wrapper collapse"
                     :class="{ 'in': good.properties && good.properties.length > 0}"
                     aria-expanded="false">
                  <div class="panel-body">
                    <div v-if="good.properties && good.properties.length > 0" class="form-group">
                      <div class="row">
                        <div class="col-sm-5 hidden-xs">
                          <label for="">{{ $t('word.property') }}</label>
                        </div>
                        <div class="col-sm-6 hidden-xs">
                          <label for="">{{ $t('word.value') }}</label>
                        </div>
                      </div>
                      <div v-for="(property, index) in good.properties" :key="index" class="row m-b-10">
                        <div class="col-sm-5">
                          <multiselect
                            v-model="property.name"
                            :allow-empty="false"
                            :show-labels="false"
                            :placeholder="$t('word.search_or_add')"
                            :options="goods_properties"></multiselect>
                          <span v-if="errors[`properties.${index}.name`]" class="text-danger">
                            <strong>{{ errors[`properties.${index}.name`][0] }}</strong>
                          </span>
                        </div>
                        <div class="col-sm-6">
                          <input v-model="property.value" type="text" class="form-control">
                          <span v-if="errors[`properties.${index}.value`]" class="text-danger">
                            <strong>{{ errors[`properties.${index}.value`][0] }}</strong>
                          </span>
                        </div>
                        <div class="col-sm-1 m-t-5">
                          <button class="btn btn-circle btn-danger"
                                  @click="good.properties.splice(index, 1)">
                            <i class="fa fa-trash"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-success btn-outline" @click="addProperties()">
                      <i class="fa fa-plus-circle"></i> {{ $t('restaurant.good.add_property') }}
                    </button>
                    <button type="button"
                            class="btn btn-info btn-outline pull-right"
                            data-toggle="modal"
                            href="#manage-properties">
                      <i class="fa fa-cog"></i> {{ $t('restaurant.good.manage_properties') }}
                    </button>
                  </div>
                </div>
              </div>

              <!-- Các biến thể kích thước -->
              <div class="panel panel-info">
                <div class="panel-heading" data-perform="panel-collapse">
                  {{ $t('restaurant.good.conversion_units') }}
                  <div class="pull-right">
                    <i class="fa fa-chevron-down"></i>
                  </div>
                </div>
                <div class="panel-wrapper collapse"
                     aria-expanded="false"
                     :class="{ 'in': good.childs && good.childs.length > 0 }">
                  <div class="panel-body">
                    <div v-if="good.childs && good.childs.length > 0 || conversionUnits.length > 0" class="form-group">
                      <div class="row">
                        <div class="col-xs-4">
                          <label for="">{{ $t('restaurant.good.choose_unit') }}</label>
                        </div>
                        <div class="col-xs-3">
                          <label for="">{{ $t('restaurant.good.conversion_value') }}</label>
                        </div>
                        <div class="col-xs-4">
                          <label for="">{{ $t('restaurant.good.price') }}</label>
                        </div>
                      </div>

                      <!-- giá trị quy đổi đã có -->
                      <div v-for="(conversion, index) in good.childs" :key="conversion.id" class="row m-b-10">
                        <div class="col-xs-4">
                          <input type="text"
                                 min="0"
                                 class="form-control"
                                 :value="$te(`config.goods.units.${conversion.unit}`) ?
                                   $t(`config.goods.units.${conversion.unit}`) : conversion.unit"
                                 disabled="true">
                        </div>
                        <div class="col-xs-3">
                          <input type="number"
                                 min="0"
                                 class="form-control"
                                 :value="conversion.conversion_value"
                                 disabled="true">
                        </div>
                        <div class="col-xs-4">
                          <input type="number"
                                 min="0"
                                 step="1000"
                                 class="form-control"
                                 :value="conversion.price"
                                 disabled="true">
                        </div>
                        <div class="col-xs-1 m-t-5">
                          <button class="btn btn-circle btn-danger"
                                  @click="removeConversion(conversion.id, index)">
                            <i class="fa fa-trash"></i>
                          </button>
                        </div>
                      </div>

                      <!-- giá trị quy đổi mới -->
                      <div v-for="(conversion, index) in conversionUnits" :key="index" class="row m-b-10">
                        <div class="col-xs-4">
                          <multiselect
                            v-model="conversion.unit"
                            track-by="name"
                            :allow-empty="false"
                            :show-labels="false"
                            label="name"
                            :placeholder="$t('restaurant.good.choose_unit')"
                            :options="units"></multiselect>
                          <span v-if="errors[`conversion_units.${index}.unit`]" class="text-danger">
                            <strong>{{ errors[`conversion_units.${index}.unit`][0] }}</strong>
                          </span>
                        </div>
                        <div class="col-xs-3">
                          <input v-model="conversion.value"
                                 type="number"
                                 min="0"
                                 class="form-control"
                                 @keyup="conversion.price = conversion.value * good.price">
                          <span v-if="errors[`conversion_units.${index}.value`]" class="text-danger">
                            <strong>{{ errors[`conversion_units.${index}.value`][0] }}</strong>
                          </span>
                        </div>
                        <div class="col-xs-4">
                          <input v-model="conversion.price"
                                 type="number"
                                 min="0"
                                 step="1000"
                                 class="form-control">
                          <span v-if="errors[`conversion_units.${index}.price`]" class="text-danger">
                            <strong>{{ errors[`conversion_units.${index}.price`][0] }}</strong>
                          </span>
                        </div>
                        <div class="col-xs-1 m-t-5">
                          <button class="btn btn-circle btn-danger"
                                  @click="conversionUnits.splice(index, 1)">
                            <i class="fa fa-trash"></i>
                          </button>
                        </div>
                      </div>

                    </div>
                    <button class="btn btn-success btn-outline" @click="addConversionUnit()">
                      <i class="fa fa-plus-circle"></i> {{ $t('restaurant.good.add_conversion_unit') }}
                    </button>
                    <button type="button"
                            class="btn btn-info btn-outline pull-right"
                            data-toggle="modal"
                            href="#setupUnits">
                      <i class="fa fa-cog"></i> {{ $t('word.setup') }} {{ $t('restaurant.setup.unit') }}
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Tab mô tả và định mức tồn -->
            <div id="tab2" class="tab-panel ">
              <div class="form-group panel panel-info">
                <div class="panel-heading">
                  {{ $t('restaurant.good.norm_inventory') }}
                </div>
                <div class="panel-wrapper">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md form-group">
                        <label for="" class="col control-label" :class="{ 'text-danger': errors.inventory_min }">{{
                          $t('word.min') }}</label>
                        <div class="col-auto" :class="{ 'has-error': errors.inventory_min }">
                          <div class="input-group">
                            <input v-model="good.inventory_min" type="number" min="0" class="form-control">
                            <span class="input-group-btn">
                              <button class="btn btn-info"
                                      data-container="body"
                                      type="button"
                                      data-toggle="popover"
                                      data-placement="right"
                                      data-trigger="focus"
                                      data-html="true"
                                      :data-original-title="$t('restaurant.good.inventory_min')"
                                      :data-content="$t('restaurant.good.inventory_min_desc')">
                                <i class="fa fa-question"></i>
                              </button>
                            </span>
                          </div>
                          <span v-if="errors.inventory_min" class="text-danger">
                            <strong>{{ errors.inventory_min[0] }}</strong>
                          </span>
                        </div>
                      </div>
                      <div class="col-md form-group">
                        <label for=""
                               class="col control-label"
                               :class="{ 'text-danger': errors.inventory_max }">{{ $t('word.max') }}</label>
                        <div class="col-auto" :class="{ 'has-error': errors.inventory_max }">
                          <div class="input-group">
                            <input v-model="good.inventory_max" type="number" min="0" class="form-control">
                            <span class="input-group-btn">
                              <button class="btn btn-info"
                                      data-container="body"
                                      type="button"
                                      data-toggle="popover"
                                      data-placement="right"
                                      data-trigger="focus"
                                      data-html="true"
                                      :data-original-title="$t('restaurant.good.inventory_max')"
                                      :data-content="$t('restaurant.good.inventory_max_desc')">
                                <i class="fa fa-question"></i>
                              </button>
                            </span>
                          </div>
                          <span v-if="errors.inventory_max" class="text-danger">
                            <strong>{{ errors.inventory_max[0] }}</strong>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" :class="{ ' has-error': errors.description }">
                <label class="control-label">{{ $t('restaurant.good.description') }}*</label>
                <div>
                  <textarea v-model="good.description" cols="30" rows="10" class="form-control"></textarea>
                  <span v-if="errors.description" class="text-danger">
                    <strong>{{ errors.description[0] }}</strong>
                  </span>
                </div>
              </div>
            </div>

            <!-- TAB các thành phần cấu thành -->
            <div v-if="good.type != typeImported" id="tab3" v-check="{ permission: 'goods.list'}" class="tab-panel">
              <select-ingredients :ingredients="ingredients" :errors="errors"></select-ingredients>
            </div>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-info" @click.prevent="update()">
              <i :class="[loading ? 'far fa-spinner-third fa-spin' : 'far fa-check']"></i> {{ $t('word.submit') }}
            </button>
            <router-link
              :to="{ name: 'restaurant.good_sale.list', params: { type: good.is_sale == 1 ? 'menu' : 'imported'}}"
              class="btn btn-default">
              <i class="fa fa-ban"></i> {{ $t('word.cancel') }}
            </router-link>
          </div>
        </div>
      </div>
    </div>
    <setup-units></setup-units>
    <manage-properties></manage-properties>
  </div>
</template>
<script>
  import { UPDATE_GOODS_IMAGES } from './../../../../api.js'
  var SelectIngredients = () => import('./../../../elements/select_ingredients.vue')
  import GET_GOOD_BY_ID from './../../../../apollo/query/good/get_by_id.gql'
  import DELETE_IMAGE from './../../../../apollo/mutation/good/delete_image.gql'
  import UPDATE_GOOD from './../../../../apollo/mutation/good/update.gql'
  import DELETE_GOOD from './../../../../apollo/mutation/good/delete.gql'
  import goodsMixin from './../goods_mixins.js'

  export default {
    components: {
      SelectIngredients
    },
    mixins: [goodsMixin],
    data() {
      return {
        config: { movable: false, toolbar: true, navbar: true, title: true, zoomable: true },
        loading: false,
        menuSelected: [],
        errors: [],
        units: [],
        unitSelected: null,
        good: {},
        numberNew: 0,
        ingredients: [],
        conversionUnits: [],
        images: [],
        imageUploading: false,
        systemImages: [],
        limitImage: 5
      }
    },
    computed: {
      goodId() {
        return this.$route.params.goodId
      },
      maxUploaded() {
        return this.limitImage - (this.good.images ? this.good.images.length : 0) - this.systemImages.length
      }
    },
    apollo: {
      good: {
        query: GET_GOOD_BY_ID,
        variables() {
          return {
            groupId: this.groupId,
            goodId: this.goodId
          }
        },
        result({ data }) {
          this.ingredients = data.good.ingredients || []
          this.unitSelected = {
            value: data.good.unit,
            name: this.transUnit(data.good.unit)
          }
        }
      }
    },
    created() {
      bus.$on('select_image', this.choosed)
    },
    methods: {
      addProperties() {
        let object = { name: '', value: '' }
        this.good.properties.push(object)
      },
      addConversionUnit() {
        this.conversionUnits.push({ unit: '', value: 1, price: 0 })
      },
      chooseImage() {
        bus.$emit('modal', {
          component: 'choose-image',
          size: 'lg',
          payload: {
            max: this.maxUploaded,
            name: this.name
          }
        })
      },
      choosed(images) {
        this.systemImages = [...this.systemImages, ...images]
      },
      deleteOldImage(url) {
        if (confirm(this.$t('word.confirm_delete_image'))) {
          this.imageUploading = true
          this.$apollo.mutate({
            mutation: DELETE_IMAGE,
            variables: {
              groupId: this.groupId,
              goodId: this.goodId,
              imageUrl: url
            }
          }).finally(() => {
            this.imageUploading = false
          })
        }
      },
      addImage() {
        this.imageUploading = true
        this.images = this.$refs.files.files

        let formData = new FormData()
        formData.append('good_id', this.goodId)
        formData.append('group_id', this.groupId)
        for (let i = 0; i < this.images.length; i++) {
          formData.append('images[]', this.images[i])
        }
        formData.append('_method', 'PUT')

        axios.post(UPDATE_GOODS_IMAGES, formData, {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        }).then(result => {
          const client = this.$apollo.provider.defaultClient
          const query = {
            query: GET_GOOD_BY_ID,
            variables: {
              goodId: this.goodId,
              groupId: this.groupId
            }
          }
          const data = client.readQuery(query)
          data.good.images = data.good.images.concat(result.data.images)
          client.writeQuery({ ...query, data: data })
        }).catch(error => {
          if (error.response && error.response.status == 422) {
            this.errors = error.response.data.errors
          }
        }).finally(() => {
          this.imageUploading = false
        })

      },
      update() {
        this.loading = true
        this.errors = []
        var groupMenuIds = []
        this.good.groupMenus.forEach(item => {
          groupMenuIds.push(item.id)
        })

        var conversionUnits = []
        this.conversionUnits.forEach(item => {
          conversionUnits.push({
            unit: item.unit.value,
            value: item.value,
            price: item.price
          })
        })

        var properties = []
        this.good.properties.forEach(item => {
          delete item.__typename
          properties.push(item)
        })

        var ingredients = []
        this.ingredients.forEach(item => {
          delete item.__typename
          ingredients.push(item)
        })

        this.$apollo.mutate({
          mutation: UPDATE_GOOD,
          variables: {
            goodId: this.goodId,
            groupId: this.groupId,
            name: this.good.name,
            code: this.good.code,
            price: this.good.price,
            priceOrigin: this.good.price_origin,
            unit: this.unitSelected ? this.unitSelected.value : '',
            inventoryMin: this.good.inventory_min,
            inventoryMax: this.good.inventory_max,
            discount: this.good.discount,
            discountType: this.good.discount_type || 2,
            description: this.good.description,
            isSale: this.good.is_sale,
            properties: this.good.properties,
            groupMenuIds: groupMenuIds,
            conversionUnits: conversionUnits,
            ingredients: ingredients,
            systemImages: this.systemImages
          }
        }).then(() => {
          this.$awn.success(this.$t('word.updated'))
          this.$router.push({ name: 'restaurant.good_sale.list' })
        }).catch(error => {
          this.errors = error.graphQLErrors[0].extensions.validation
        }).finally(() => {
          this.loading = false
        })
      },
      removeConversion(id, index) {
        if (confirm(this.$t('restaurant.good.confirm_delete'))) {
          this.$apollo.mutate({
            mutation: DELETE_GOOD,
            variables: {
              groupId: this.groupId,
              goodId: id
            }
          })
              .then(() => {
                this.good.childs.splice(index, 1)
                this.$awn.success(this.$t('word.deleted'))
              })
        }
      }
    }
  }
</script>
<style scoped lang="scss">
  .panel-info {
    border: solid 1px #41b3f9;
    cursor: pointer
  }

  .tab-content {
    .tab-panel {
      display: none;
    }
    .active {
      display: block;
    }
  }

  .list-image {
    margin-top: 15px;
    span {
      &.fa-times {
        cursor: pointer;
        &:hover {
          padding: 3px;
          background-color: #de3434;
          border: solid 1px #987272;
          border-radius: 50%;
        }
      }
      &.image {
        position: absolute;
        color: #FFF;
        top: 4px;
        width: 22px;
        height: 22px;
        text-align: center;
        padding: 2px;
        right: 4px;
      }
    }
    img {
      &.new-image {
        height: 70px;
      }
    }
    &.has-error {
      border: solid 1px red;
    }
  }

  .has-error {
    .list-image {
      border: solid 1px red;
    }
  }

  .zoom-in {
    cursor: zoom-in;
  }

  .input-group-addon {
    cursor: pointer;
  }

  .input-group {
    .form-control {
      z-index: 0;
    }
  }

  .control-label {
    text-align: left !important;
  }
</style>
