<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-12 col-sm">
        <h4 class="page-title">{{ $t('restaurant.manage_menu') }}</h4>
      </div>
      <div class="col-12 col-sm-auto">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{ name: 'home' }">{{ $t('word.home') }}</router-link>
          </li>
          <li class="active">{{ $t('restaurant.good.menu') }}</li>
        </ol>
      </div>
    </div>
    <!-- Phần danh sách -->
    <div class="row">
      <div class="white-box col-12">
        <div class="row clearfix">
          <h3 class="col-12 box-title row justify-content-end">
            <span class="col-sm hidden-xs row">{{ $t('word.list') }}</span>
            <div class="col-auto row">
              <button class="btn btn-info m-r-10"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapseExample"
                      aria-expanded="false"
                      aria-controls="collapseExample">
                <i class="fa fa-search"></i> {{ $t('word.search') }}
              </button>

              <div v-if="hasChecked"
                   class="btn group-type m-r-10 position-relative"
                   @mouseover="showOptionsAction = true"
                   @mouseleave="showOptionsAction = false">
                <span><i class="fa fa-bars"></i> {{ $t('word.manipulation') }}</span>
                <div v-show="showOptionsAction" class="group-type-goods">
                  <div v-check="{permission: 'goods.update'}"
                       data-toggle="modal"
                       href="#selectMenu">
                    {{ $t('restaurant.good.change_group_menus') }}
                  </div>
                  <div v-if="!statusSelected || statusSelected.value != 2"
                       v-check="{permission: 'goods.update'}"
                       @click="disableManyGoods()">
                    {{ $t('restaurant.good.inactive') }}
                  </div>
                  <div v-if="!statusSelected || statusSelected.value != 1"
                       v-check="{permission: 'goods.update'}"
                       @click="enableManyGoods()">
                    {{ $t('restaurant.good.reactive') }}</div>
                  <div v-check="{permission: 'goods.delete'}" @click="deleteMany()">
                    {{ $t('word.delete') }} {{ $t('restaurant.good.good') }}
                  </div>
                </div>
              </div>

              <div class="btn group-type m-r-10 position-relative"
                   @mouseover="showOptionsCreate = true"
                   @mouseleave="showOptionsCreate = false">
                <span><i class="fa fa-plus"></i> {{ $t('word.create') }}</span>
                <div v-show="showOptionsCreate" class="group-type-goods">
                  <div v-check="{ permission: 'goods.list'}" @click="showModalCreateMenu()">
                    {{ $t('restaurant.good.from_imported_goods') }}
                  </div>
                  <div>
                    <router-link :to="{ name: 'restaurant.good_sale.create' }">
                      {{ $t('word.create_new') }}
                    </router-link>
                  </div>
                </div>
              </div>

              <div v-click-outside="hiddenOption" class="position-relative">
                <button class="btn btn-success dropdown-toggle waves-effect waves-light"
                        @click="showOptions = !showOptions">
                  <span class="mdi mdi-format-list-bulleted"><i class="mdi mdi-chevron-down"></i></span>
                </button>
                <div v-show="showOptions" class="group-field slideInDown animated">
                  <div v-for="(value, key) in goodFieldsShowed" :key="key" class="checkbox checkbox-success">
                    <input :id="key" v-model="goodFieldsShowed[key]" type="checkbox">
                    <label :for="key">{{ $t(`restaurant.good.${key}`) }}</label>
                  </div>
                </div>
              </div>
            </div>
          </h3>
          <!-- Phần lọc trong danh sách -->
          <div id="collapseExample" class="collapse col-12">
            <div class="row">
              <div class="form-group col-sm-3">
                <input v-model="name"
                       type="text"
                       class="form-control"
                       :placeholder="$t('restaurant.good.name')"
                       @keyup.enter="search()">
              </div>
              <div class="form-group col-sm-3">
                <multiselect
                  v-model="inventorySelected"
                  label="name"
                  track-by="value"
                  :placeholder="$t('restaurant.good.inventory')"
                  :show-labels="false"
                  :options="inventoryOptions"
                  @input="search()"></multiselect>
              </div>
              <div class="form-group col-sm-3">
                <multiselect
                  v-model="statusSelected"
                  label="name"
                  track-by="value"
                  :placeholder="$t('restaurant.good.status')"
                  :show-labels="false"
                  :options="statusOptions"
                  @input="search()"></multiselect>
              </div>
              <div class="form-group col-sm-3">
                <multiselect
                  v-model="menuSelected"
                  label="name"
                  track-by="id"
                  :placeholder="$t('restaurant.good.select_group')"
                  :show-labels="false"
                  :options="menus"
                  @input="onSelectGroupMenu">
                  <template slot="option" slot-scope="props">
                    <span :class="{ 'menu-lv0': props.option.level == 0,
                                    'menu-lv1': props.option.level == 1,
                                    'menu-lv2': props.option.level == 2 }">
                      {{ props.option.name }}
                    </span>
                  </template>
                </multiselect>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table color-table info-table">
            <thead>
              <tr>
                <th>
                  <div class="checkbox checkbox-primary" style="margin: 0; top: 5px;">
                    <input type="checkbox" @change="checkAllInput">
                    <label></label>
                  </div>
                </th>
                <template v-for="(value, key) in goodFieldsShowed">
                  <th v-show="value" v-if="key != 'properties'" :key="key">{{
                    $t(`restaurant.good.${key}`) }}
                  </th>
                </template>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <template v-if="!loading">
                <tr v-for="(good, index) in goods.data" :key="good.id">
                  <td>
                    <div class="checkbox checkbox-info pull-left">
                      <input v-model="goodChecked" type="checkbox" class="form-check-input" :value="good.id">
                      <label></label>
                    </div>
                  </td>
                  <template v-for="(value, key) in goodFieldsShowed">
                    <td v-show="value" v-if="key != 'properties'" :key="key">
                      <template v-if="key == 'name'">
                        <p class="fw-500">{{ good.name }}</p>
                        <div v-if="good.properties" style="font-size: 10px;">
                          {{ good.properties.map(obj => obj.value).join('-') }}
                        </div>
                      </template>
                      <span v-else-if="key == 'unit'">{{ units[good.unit] || good.unit }}</span>
                      <span v-for="(groupMenu, gIndex) in good.groupMenus"
                            v-else-if="key == 'group_menus'"
                            :key="gIndex">
                        {{ groupMenu.name }} <br>
                      </span>
                      <span v-else-if="key == 'discount'"> {{ getDiscount(good) }}</span>
                      <span v-else-if="key == 'is_sale'"><i :class="{ 'fa fa-check': good.is_sale == 1}"></i></span>
                      <template v-else-if="key == 'type'">
                        <span>{{ $t('restaurant.good.processed_goods') }}</span>
                      </template>
                      <span v-else-if="key == 'status'"
                            class="label"
                            :class="[good.status === active ? 'label-success' : 'label-danger']">
                        {{ good.status == inactive ?$t('word.stop') : $t('word.active') }}
                      </span>
                      <span v-else-if="key != 'code'">
                        {{ formatNumber(good[key]) == 0 ? '' : formatNumber(good[key]) }}
                      </span>
                      <span v-else>{{ good[key] }}</span>
                    </td>
                  </template>
                  <td>
                    <div class="pull-right">
                      <router-link
                        v-check="{ permission: 'goods.update' }"
                        :to="{ name: 'restaurant.good_sale.edit', params: { goodId: good.id }}"
                        class="btn btn-circle btn-info"
                        data-toggle="tooltip"
                        :title="$t('word.edit')">
                        <i class="fa fa-pencil-alt"></i>
                      </router-link>
                      <a v-if="good.status == inactive"
                         v-check="{ permission: 'goods.update' }"
                         class="btn btn-circle btn-success"
                         data-toggle="tooltip"
                         :title="$t('restaurant.good.reactive')"
                         @click.prevent="enableGood(good.id, index)">
                        <i class="fa fa-unlock"></i>
                      </a>
                      <a v-else
                         v-check="{ permission: 'goods.update' }"
                         class="btn btn-circle btn-warning"
                         data-toggle="tooltip"
                         :title="$t('restaurant.good.inactive')"
                         @click.prevent="disableGood(good.id, index)">
                        <i :class="loadingDisable == index ? 'fa fa-circle-notch fa-spin' : 'fa fa-lock'"></i>
                      </a>
                      <a v-check="{ permission: 'goods.delete' }"
                         class="btn btn-danger btn-circle"
                         data-toggle="tooltip"
                         :title="$t('word.delete')"
                         @click="deleteGood(good.id, index)"><i class="fa fa-trash"></i></a>
                    </div>
                  </td>
                </tr>
              </template>
              <tr v-if="loading">
                <td :colspan="lengthFieldShowed + 1">
                  <pulse-loader :loading="true" :color="'#27a1f2'"></pulse-loader>
                </td>
              </tr>
              <tr v-else-if="!loading && goods.data.length == 0">
                <td class="no-data" :colspan="lengthFieldShowed + 1">{{ $t('word.no_data') }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <pagination v-if="goods.last_page > 1"
                    :current-page="goods.current_page"
                    :total-page="goods.last_page"
                    @changePage="changePage"></pagination>
      </div>
    </div>
    <select-group-menus :group-menus="menus" @updated="changeGroupMenus"></select-group-menus>
  </div>
</template>
<script>
  import {
    GOODS_STATUS_ACTIVE,
    GOODS_STATUS_INACTIVE,
    GOODS_TYPE_IMPORTED,
    GOODS_TYPE_SELL,
    DISCOUNT_TYPE_PERCENT
  } from './../../../../constants'
  import goodFields from './../../../../helpers/goods_fields.js'
  import Pagination from './../../../../components/partials/pagination'
  import PulseLoader from 'vue-spinner/src/PulseLoader'
  import handleGroupMenus from './../../../../mixins/list_menu.js'

  var SelectGroupMenus = () => import('./../../../elements/select_group_menus.vue')

  import GOODS_QUERY from './../../../../apollo/query/good/list.gql'
  import GROUP_MENUS_QUERY from './../../../../apollo/query/group_menu/list.gql'
  import DELETE_GOOD from './../../../../apollo/mutation/good/delete.gql'
  import DELETE_MANY_GOODS from './../../../../apollo/mutation/good/delete_many.gql'
  import DISABLE_GOOD from './../../../../apollo/mutation/good/disable.gql'
  import DISABLE_MANY_GOODS from './../../../../apollo/mutation/good/disable_many.gql'
  import ENABLE_GOOD from './../../../../apollo/mutation/good/enable.gql'
  import ENABLE_MANY_GOODS from './../../../../apollo/mutation/good/enable_many.gql'
  import UPDATE_GOOD_GROUP_MENU from './../../../../apollo/mutation/good/update_group_menus.gql'

  export default {
    components: {
      Pagination,
      PulseLoader,
      SelectGroupMenus
    },
    mixins: [handleGroupMenus],
    data() {
      return {
        page: 1,
        loading: true,
        goods: {
          data: []
        },
        showOptions: false,
        goodFieldsShowed: {},
        inventoryOptions: [],
        goodSelected: {},
        name: '',
        menuSelected: [],
        inventorySelected: null,
        groupMenuId: null,
        statusOptions: [],
        statusSelected: null,
        showOptionsCreate: false,
        showOptionsAction: false,
        loadingDisable: null,
        goodChecked: []
      }
    },
    computed: {
      groupId() {
        return this.$store.state.current.group.id
      },
      lengthFieldShowed() {
        let count = 0
        for (let property in this.goodFieldsShowed) {
          if (property != Object.keys(this.goodFieldsShowed).pop() && this.goodFieldsShowed[property]) {
            count++
          }
        }
        return count
      },
      units() {
        return this.$t('config.goods.units')
      },
      inactive() {
        return GOODS_STATUS_INACTIVE
      },
      active() {
        return GOODS_STATUS_ACTIVE
      },
      goodsImported() {
        return GOODS_TYPE_IMPORTED
      },
      goodsSell() {
        return GOODS_TYPE_SELL
      },
      hasChecked() {
        if (this.goodChecked.length) {
          return true
        }
        return false
      }
    },
    watch: {
      'goodFieldsShowed': {
        handler: function(val) {
          goodFields.setItem(val)
        },
        deep: true
      }
    },
    created() {
      let url = new URL(window.location.href)
      this.page = url.searchParams.get('page') || 1
      if (this.$route.query.code) this.name = this.$route.query.code
      this.goodFieldsShowed = goodFields.getItem()
      this.inventoryOptions = [
        { name: this.$t('restaurant.good.lower_inventory'), value: 1 },
        { name: this.$t('restaurant.good.upper_inventory'), value: 2 },
        { name: this.$t('restaurant.good.exist_inventory'), value: 3 },
        { name: this.$t('restaurant.good.empty_inventory'), value: 4 },
      ]
      this.statusOptions = [
        { name: this.$t('restaurant.good.active'), value: 1 },
        { name: this.$t('restaurant.good.inactive'), value: 2 }
      ]
    },
    apollo: {
      goods: {
        query: GOODS_QUERY,
        variables() {
          return {
            groupId: this.groupId,
            page: this.page,
            isSale: true,
            name: this.name
          }
        },
        result({ loading }) {
          this.loading = loading
        }
      },
      group_menus: {
        query: GROUP_MENUS_QUERY,
        variables() {
          return {
            groupId: this.groupId
          }
        },
        result({ data }) {
          this.handleGroupMenus(data.group_menus)
        }
      }
    },
    updated() {
      $('[data-toggle="tooltip"]').tooltip()
    },
    methods: {
      checkAllInput(e) {
        if (e.target.checked) {
          this.goods.data.forEach(item => {
            this.goodChecked.push(item.id)
          })
        } else {
          this.goodChecked = []
        }
      },
      search() {
        this.loading = true
        this.$apollo.queries.goods.refetch({
          page: 1,
          isSale: true,
          groupId: this.$store.state.current.group.id,
          name: this.name,
          status: this.statusSelected ? this.statusSelected.value : null,
          inventory: this.inventorySelected ? this.inventorySelected.value : null,
          groupMenuId: this.groupMenuId
        })
      },
      formatNumber(number) {
        return new Intl.NumberFormat('vi-VN').format(number)
      },
      getDiscount(good) {
        if (good.discount_type == DISCOUNT_TYPE_PERCENT) {
          return good.discount ? (good.discount + '%') : 0
        } else {
          return good.discount ? (this.formatNumber(good.discount) + ' VND') : 0
        }
      },
      changeShowChild(index) {
        this.goods.data[index].showChild = !this.goods.data[index].showChild
      },
      enableGood(id) {
        if (confirm(this.$t('restaurant.good.confirm_enable'))) {
          this.$apollo.mutate({
            mutation: ENABLE_GOOD,
            variables: {
              groupId: this.groupId,
              goodId: id
            }
          }).then(() => {
            this.$awn.success(this.$t('word.updated'))
          })
        }
      },
      disableGood(id) {
        if (confirm(this.$t('restaurant.good.confirm_disable'))) {
          this.$apollo.mutate({
            mutation: DISABLE_GOOD,
            variables: {
              groupId: this.groupId,
              goodId: id
            }
          }).then(() => {
            this.$awn.success(this.$t('word.updated'))
          })
        }
      },
      deleteGood(id, index) {
        if (confirm(this.$t('restaurant.good.confirm_delete'))) {
          this.$apollo.mutate({
            mutation: DELETE_GOOD,
            variables: {
              groupId: this.groupId,
              goodId: id
            }
          })
              .then(() => {
                this.goods.data.splice(index, 1)
                this.$awn.success(this.$t('word.deleted'))
              })
        }
      },
      changePage(page) {
        window.history.replaceState(null, null, `${window.location.origin + window.location.pathname}?page=${page}`)
        this.loading = true
        this.$apollo.queries.goods.refetch({
          page: page,
          isSale: true,
          groupId: this.groupId,
          name: this.name,
          groupMenuId: this.groupMenuId,
          status: this.statusSelected,
          inventory: this.inventorySelected
        })
      },
      showModalImport() {
        bus.$emit('modal', {
          component: 'import',
          backdrop: 'static',
          payload: 'import_goods'
        })
      },
      hiddenOption() {
        this.showOptions = false
      },
      changeGroupMenus(groupMenuIds) {
        this.$apollo.mutate({
          mutation: UPDATE_GOOD_GROUP_MENU,
          variables: {
            groupId: this.groupId,
            groupMenuIds: groupMenuIds,
            goodIds: this.goodChecked
          }
        }).then(() => {
          this.$awn.success(this.$t('word.updated'))
        })
      },
      disableManyGoods() {
        if (confirm(this.$t('restaurant.good.confirm_many_inactive'))) {
          this.$apollo.mutate({
            mutation: DISABLE_MANY_GOODS,
            variables: {
              groupId: this.groupId,
              goodIds: this.goodChecked
            }
          }).then(() => {
            this.goodChecked = []
            this.$awn.success(this.$t('word.updated'))
          })
        }
      },
      enableManyGoods() {
        if (confirm(this.$t('restaurant.good.confirm_many_inactive'))) {
          this.$apollo.mutate({
            mutation: ENABLE_MANY_GOODS,
            variables: {
              groupId: this.groupId,
              goodIds: this.goodChecked
            }
          }).then(() => {
            this.goodChecked = []
            this.$awn.success(this.$t('word.updated'))
          })
        }
      },
      deleteMany() {
        if (confirm(this.$t('restaurant.good.confirm_delete_many'))) {
          this.$apollo.mutate({
            mutation: DELETE_MANY_GOODS,
            variables: {
              groupId: this.groupId,
              goodIds: this.goodChecked
            }
          }).then(() => {
            this.goods.data.forEach((item, index) => {
              if (this.goodChecked.includes(item.id)) {
                this.goods.data.splice(index, 1)
              }
            })
            this.goodChecked = []
            this.$awn.success(this.$t('word.deleted'))
          })
        }
      },
      onSelectGroupMenu(selected) {
        this.loading = true
        this.groupMenuId = selected.id
        this.$apollo.queries.goods.refetch({
          page: 1,
          isSale: true,
          groupId: this.groupId,
          name: this.name,
          groupMenuId: this.groupMenuId,
          status: this.statusSelected,
          inventory: this.inventorySelected
        })
      },
      showModalCreateMenu() {
        bus.$emit('modal', {
          component: 'select-menu',
          size: 'lg'
        })
      }
    },
  }
</script>

<style scoped lang="scss">
  .restaurant-tabs {
    width: 100%;
    background: #fff;
  }

  tr {
    th {
      white-space: nowrap;
    }
    td {
      &:last-child {
        white-space: nowrap;
      }
    }
  }

  .tab, .tab a {
    height: 51px !important;
  }

  .tab a {
    padding-top: 13px !important;
  }

  .tab a span {
    font-weight: 500;
    font-size: 16px;
  }

  .tabs-vertical li.active a, .tabs-vertical li.active a:hover, .tabs-vertical li.active a:focus {
    background: #41B3F9;
    border-right: #FD8008 solid 3px !important;
  }

  .group-field {
    position: absolute;
    padding: 5px 20px;
    white-space: nowrap;
    right: 0 !important;
    transition: all .5s ease-in-out;
    background-color: white;
    z-index: 2;
    border: solid 1px #CCCCCC;
  }

  .checkbox {
    label {
      text-transform: capitalize;
      line-height: 1.4;
    }
  }

  .waves-effect {
    padding: 4px;
  }

  input[type = checkbox] {
    width: 20px;
    height: 20px;
  }

  .group-type {
    background: #4eabe2;
    color: white;
    border: 1px solid #4eabe2;
    &:hover {
      color: white;
      background-color: #61bbe8;
    }
    .group-type-goods {
      min-width: 150px;
      background-color: #5CBA46;
      color: #fff;
      position: absolute;
      padding: 5px 0;
      top: calc(100% + 1px);
      left: -1px;
      text-align: left;
      white-space: nowrap;
      z-index: 2;
      div {
        padding: 8px 10px;
        &:hover {
          background-color: #4bac4d;
        }
      }
      a {
        color: #fff;
      }
    }
  }

  .fa-check {
    color: green;
  }

  td {
    &:nth-child(5), &:nth-child(6), &:nth-child(8), &:nth-child(9), &:nth-child(10), &:nth-child(11) {
      text-align: right;
    }
    &:nth-child(1) {
      text-align: center;
    }
  }

  th {
    &:nth-child(5), &:nth-child(6), &:nth-child(8), &:nth-child(9), &:nth-child(10), &:nth-child(11) {
      text-align: right;
    }
  }
</style>
