<template>
  <div class="row">
    <div id="tableReport" class="table-responsive white-box col-12">
      <div class="text-center m-b-10">
        <div class="title-chart">
          <h3> {{ $t('restaurant.report_imported') }} - {{ $t('word.by_goods') }}</h3>
          <div>{{ titleDate }}</div>
        </div>
      </div>
      <table id="table" class="table color-table info-table table-responsive">
        <thead>
          <tr>
            <th>{{ $t('restaurant.good.code') }}</th>
            <th>{{ $t('restaurant.good.name') }}</th>
            <th>{{ $t('word.count') }}</th>
            <th>{{ $t('word.total_value') }}</th>
            <th>{{ $t('word.discount') }}</th>
            <th>{{ $t('word.payment') }}</th>
          </tr>
        </thead>
        <tbody>
          <template v-if="datas.length">
            <tr class="tr-total">
              <td colspan="2" class="text-left">{{ $t('word.number_goods') }}: {{ datas.length }}</td>
              <td class="text-right">{{ formatPrice(totalCount) }}</td>
              <td>{{ formatPrice(subtotal) }}</td>
              <td>{{ formatPrice(discounted) }}</td>
              <td>{{ formatPrice(totalPayment) }}</td>
            </tr>
            <template v-for="(data, index) in datas">
              <tr :key="index">
                <td class="cursor-pointer">
                  <router-link :to="{name: 'restaurant.good_import.list', query: {code: data.code}}"
                               class="hidden-print">{{ data.code }}
                  </router-link>
                  <span class="show-print">{{ data.code }}</span>
                </td>
                <td>{{ data.name }}</td>
                <td>{{ formatPrice(data.count) }}</td>
                <td>{{ formatPrice(data.total + data.discounted) }}</td>
                <td>{{ formatPrice(data.discounted) }}</td>
                <td>{{ formatPrice(data.total) }}</td>
              </tr>
            </template>
          </template>
          <tr v-else>
            <td class="no-data text-center" colspan="6">{{ $t('word.no_data') }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
  import { convertToDate } from './../../../../../helpers/handle_date_time.js'
  import { formatPrice } from '../../../../../helpers/handle_function.js'
  import moment from 'moment'

  export default {
    name: 'Index',
    props: {
      type: {
        type: Number,
        default: 2
      },
      datas: {
        type: Array,
        default: null
      },
      start: {
        type: String,
        default: ''
      },
      end: {
        type: String,
        default: ''
      },
    },
    data() {
      return {
        totalCount: 0,
        discounted: 0,
        totalOrigin: 0,
        totalPayment: 0
      }
    },
    computed: {
      subtotal() {
        return this.discounted + this.totalPayment
      },
      titleDate() {
        if (moment(this.end).diff(this.start) > 0) {
          return this.$t('word.from_date') + ' ' + convertToDate(this.start) + ' ' + this.$t('word.to_date')
              + ' ' + convertToDate(this.end)
        } else {
          return this.$t('word.date') + ' ' + convertToDate(this.start)
        }
      }
    },
    watch: {
      datas: function() {
        this.getData()
      }
    },
    created() {
      this.getData()
    },
    methods: {
      getData() {
        this.totalCount = 0
        this.discounted = 0
        this.totalPayment = 0
        this.datas.forEach(obj => {
          this.totalCount += obj.count
          this.discounted += obj.discounted
          this.totalPayment += obj.total
        })
      },
      convertToDate(date) {
        return date ? convertToDate(date) : ''
      },
      formatPrice(price) {
        return formatPrice(price)
      },
    }
  }
</script>

<style scoped lang="scss">
  #table {
    tr {
      td, th {
        &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6) {
          text-align: right;
        }
      }
    }
  }

  .title-chart {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
  }
</style>