<template>
  <div>
    <div class="row wrapper">
      <div class="col-sm d-flex flex-column">
        <div class="navbar-header p-l-30">
          <span class="nav navbar-left">{{ $t('restaurant.kitchen.list_goods') }}</span>
          <div class="nav navbar-right m-t-5">
            <ul class="nav nav-pills" role="tablist">
              <li class="active">
                <a href="#tab1" data-toggle="tab" aria-expanded="true">
                  {{ $t('word.prioritize') }}
                </a>
              </li>
              <li>
                <a href="#tab2" data-toggle="tab" aria-expanded="false">
                  {{ $t('restaurant.good.menu') }}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="white-box flex-grow-1 overflow-auto">
          <div class="tab-content">
            <!-- Sắp xếp theo thời gian (ưu tiên) -->
            <div id="tab1" class="tab-panel active in">
              <list-by-time :booked-goods="bookedGoods"></list-by-time>
            </div>
            <!-- Nhóm theo món -->
            <div id="tab2" class="tab-panel">
              <list-by-invoice :group-goods="groupGoods"></list-by-invoice>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm d-flex flex-column">
        <div class="navbar-header">
          <span class="nav navbar-left">
            {{ showProcessed ? $t('restaurant.kitchen.list_processed') :
              $t('restaurant.kitchen.list_invoice') }}
          </span>
          <!-- Các nút chức năng -->
          <ul class="nav navbar-top-links navbar-right">
            <li :title="!showProcessed ?
                  $t('restaurant.kitchen.list_processed') :
                  $t('restaurant.kitchen.list_invoice')"
                @click.prevent="showProcessed = !showProcessed">
              <a href="javascript:void(0)">
                <i class="fa" :class="!showProcessed ? 'fa-truck' : 'fa-receipt'"></i>
              </a>
            </li>
            <li :title="$t('word.setting')" @click.prevent="modalSetup()">
              <a href="javascript:void(0)"><i class="fa fa-cog"></i></a>
            </li>
            <li :title="$t('word.sound_notify')" @click.prevent="changeSoundSetting()">
              <a href="javascript:void(0)">
                <i class="fa" :class="{ 'fa-volume-up': setting.sound, 'fa-volume-slash': !setting.sound}"></i>
              </a>
            </li>
            <li id="#wrap" class="dropdown">
              <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="javascript:void(0)">
                <i class="fa fa-bars"></i>
              </a>
              <ul class="dropdown-menu dropdown-user animated flipInY">
                <li>
                  <router-link :to="{ name: 'home' }">
                    <i class="fa fa-home"></i> {{ $t("word.restaurant_manage") }}
                  </router-link>
                </li>

                <li v-check-role="{ role: 'owner,cashier,admin' }"
                    role="separator" class="divider"></li>
                <li v-check-role="{ role: 'owner,cashier,admin' }">
                  <router-link :to="{ name: 'restaurant.manage-sale.sale' }">
                    <i class="fa fa-fax"></i> {{ $t("word.sale_manage") }}
                  </router-link>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a v-if="!loading" href="javascript:void(0)" @click.prevent="logoutExec()">
                    <i class="fa fa-power-off"></i>
                    {{ $t("word.logout") }}
                  </a>
                  <scale-loader :loading="loading" :color="'#27a1f2'">
                    <i class="fa fa-power-off"></i>
                    {{ $t("word.logout") }}
                  </scale-loader>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="white-box overflow-auto flex-grow-1">
          <keep-alive>
            <component :is="component"
                       :tables="tables"
                       :invoices="invoicesShowed"
                       :goods="processedGoods"></component>
          </keep-alive>
        </div>
      </div>
    </div>
    <modal></modal>
    <div v-if="loading" class="loading">
      <scale-loader :color="'#27a1f2'"></scale-loader>
    </div>
  </div>
</template>
<script>
  import ScaleLoader from 'vue-spinner/src/ScaleLoader'
  import SALE_INVOICES_QUERY from './../../../apollo/query/sale/sale_invoices.gql'
  import { GOODS_STATUS } from './../../../constants.js'
  import logout from './../../../mixins/logout.js'
  import handleUnit from './../../../mixins/handle_unit.js'
  import setting from './../../../helpers/setting_kitchen.js'
  import sound from './../../restaurants/manage_sale/mixins/sounds'
  import { Howl } from 'howler'
  import SALE_PLACES_QUERY from './../../../apollo/query/sale/sale_places.gql'
  import cache from './cache.js'

  export default {
    name: 'Kitchen',
    components: {
      ScaleLoader,
      'processed-goods': () => import('./processed_goods.vue'),
      'list-by-invoice': () => import('./list_by_invoice.vue'),
      'list-by-time': () => import('./list_by_time.vue'),
      'invoice': () => import('./invoice.vue'),
      'modal': () => import('../../partials/modal'),
    },
    mixins: [logout, handleUnit, sound, cache],
    data() {
      return {
        invoices: [],
        invoicesShowed: [],
        loading: true,
        tables: [],
        bookedGoods: [],
        processedGoods: [],
        groupGoods: [],
        setting: {},
        notifyCustomer: null,
        showProcessed: false
      }
    },
    apollo: {
      sale_places: {
        query: SALE_PLACES_QUERY,
        variables() {
          return {
            groupId: this.groupId
          }
        },
        manual: true,
        result ({ data }) {
          data.sale_places.forEach(place => {
            place.tables.forEach(table => {
              this.tables.push({
                id: table.id,
                name: table.name,
                description: table.description,
                count_seat: table.count_seat,
                status: table.status,
                place_id: place.id,
                place_name: place.name,
                show: true
              })
            })
          })
        }
      },
      sale_invoices: {
        query: SALE_INVOICES_QUERY,
        variables() {
          return {
            groupId: this.groupId
          }
        },
        manual: true,
        result({ data, loading }) {
          this.loading = loading

          this.invoices = JSON.parse(JSON.stringify(data.sale_invoices))
          this.invoicesShowed = JSON.parse(JSON.stringify(data.sale_invoices))
          this.setData()
        }
      },
    },
    computed: {
      groupId() {
        return this.$store.getters.groupId
      },
      component() {
        if (this.showProcessed) {
          return 'processed-goods'
        }
        return 'invoice'
      },
    },
    created() {
      window.Echo.private(`${this.groupId}.sale`)
          .listen('Restaurant\\InvoiceUpdated', payload => {
            this.invoiceUpdated(payload.invoice)
            this.notify(payload)
          })
          .listen('Restaurant\\InvoiceCreated', payload => {
            this.invoiceCreated(payload.invoice)
            this.notify(payload)
          })
          .listen('Restaurant\\InvoiceDestroyed', payload => {
            this.invoiceDestroyed(payload.invoice_id)
          })
      bus.$on('update-setting-kitchen', () => {
        this.setData()
      })
    },
    mounted() {
      this.$nextTick(() => {
        this.notifyCustomer = new Howl({
          src: '/sound/notify-from-customer.mp3',
        })
      })
    },
    methods: {
      setData() {
        this.setting = setting.getItem()

        this.bookedGoods = []
        this.processedGoods = []
        this.groupGoods = []

        this.invoices.forEach(invoice => {
          invoice.goods.forEach(goods => {
            if (this.setting.hideGoodIds.includes(goods.id)) {
              return
            }
            goods.orders.forEach(order => {
              if (order.status === GOODS_STATUS.BOOKED) {
                this.bookedGoods.push({
                  id: goods.id,
                  name: goods.name,
                  code: goods.code,
                  unit: goods.unit,
                  count: order.count,
                  created_at: order.created_at,
                  invoice_id: invoice.id,
                  invoice_code: invoice.code,
                  tables: this.getTableName(invoice.table_ids || [])
                })
                this.bookedGoods.sort((a, b) => a.created_at >= b.created_at ? 1 : -1)

                // Xử lý groupGoods (nhóm theo món)
                let index = this.groupGoods.findIndex(item => item.id === goods.id)
                if (index === -1) {
                  this.groupGoods.push({
                    id: goods.id,
                    name: goods.name,
                    code: goods.code,
                    unit: goods.unit,
                    count: order.count,
                    invoice_id: invoice.id,
                    invoice_code: invoice.code,
                  })
                } else {
                  this.groupGoods[index].count += order.count
                }
              }
              if (order.status === GOODS_STATUS.PROCESSED) {
                this.processedGoods.push({
                  name: goods.name,
                  code: goods.code,
                  unit: goods.unit,
                  count: order.count,
                  created_at: order.created_at,
                  invoice_id: invoice.id,
                  invoice_code: invoice.code,
                  tables: this.getTableName(invoice.table_ids || [])
                })
                this.processedGoods.sort((a, b) => a.created_at >= b.created_at ? 1 : -1)
              }
            })
          })
        })

        this.invoicesShowed = this.invoicesShowed.map(invoice => {
          invoice.goods = invoice.goods.map(goods => {
            goods.orders = goods.orders.filter(order => order.status === GOODS_STATUS.BOOKED)
            return goods
          }).filter(goods => {
            return !this.setting.hideGoodIds.includes(goods.id) && goods.orders.length > 0
          })
          return invoice
        }).filter(invoice => invoice.goods.length > 0)
      },
      getTableName(ids) {
        let tables = []
        for (let id of ids) {
          let table = this.tables.find(table => table.id === id)
          tables.push(table.name + ' - ' + table.place_name)
        }
        return tables.length ? tables.join(', ') : this.$t('manage_sale.modal.call_bring_home')
      },
      notify(payload) {
        const messageContent = payload.invoice.code + '<br />' +
            this.getTableName(payload.invoice.table_ids || []) + '<br />' +
            this.$t(`manage_sale.notify.${payload.type}`)
        this.$awn.info(messageContent)
        if (this.setting.sound) {
          this.notifyCustomer.play()
        }
      },
      modalSetup() {
        bus.$emit('modal', {
          component: 'setting-kitchen'
        })
      },
      changeSoundSetting() {
        this.setting.sound = !this.setting.sound
        setting.setItem(this.setting)
      }
    }
  }
</script>
<style scoped lang="scss">
  .white-box {
    height: calc(100% - 45px);
    padding: 0 13px;
  }
  .wrapper {
    background-color: #edf1f5;
    height: 100vh;
    .col-sm {
      height: 100%;
      padding: 0 3px;
    }
  }
  .navbar-header {
    padding: 0 15px;
    min-height: 45px;
    span {
      color: white;
      font-size: 16px;
      padding-top: 12px;
    }
  }
  .tab-content {
    margin: 0;
  }
  .nav-pills {
    margin-right: 15px;
    li {
      a {
        color: white;
      }
      &.active a {
        background-color: white;
        color: black;
        border-radius: 4px 4px 0 0;
      }
      a:hover {
        border-radius: 4px 4px 0 0;
        color: black;
      }
    }
  }
  .loading {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    z-index: 1;
  }
  .v-spinner {
    margin: auto;
  }
  .p-l-30 {
    padding-left: 30px;
  }
</style>
