<template>
  <div class="ms__scrollbar-custom w-box">
    <div v-for="(invoice, index) in invoices" :key="invoice.id">
      <div class="d-flex justify-content-end align-items-center box-item">
        <div class="item-name flex-grow-1">
          <a href="javascript:void(0)">
            <span class="text-left cursor-pointer"
                  @click="expand(invoice, index)">
              <i :class="{'fa fa-plus-circle': !invoice.open,
                          'fa fa-minus-circle': invoice.open}"></i>
              {{ getTableName(invoice.table_ids) }} ({{ invoice.code }})
            </span>
          </a>
        </div>
        <div class="action-item">
          <button v-check="{permission: 'invoice.update'}"
                  class="btn btn-circle btn-success"
                  data-toggle="tooltip"
                  :disabled="invoice.updating"
                  :title="$t('restaurant.kitchen.processed_all')"
                  @click.prevent="updateProcessedInvoice(invoice, index)">
            <i :class="invoice.updating ? 'far fa-spinner-third fa-spin' :
              'fa fa-angle-double-right'"></i>
          </button>
        </div>
      </div>
      <div v-show="!invoice.is_close" :key="invoice.id">
        <template v-for="(goods, goodsIndex) in invoice.goods">
          <template v-for="(order, orderIndex) in goods.orders">
            <div :key="goods.id + orderIndex"
                 class="d-flex justify-content-end align-items-center box-item">
              <div class="name-item flex-grow-1 m-l-30"><b>{{ goods.name }}</b></div>
              <div class="unit-item">{{ order.count }}</div>
              <div class="text-muted info-item">{{ fromNow(order.created_at) }}</div>
              <div class="action-item">
                <button v-check="{permission: 'invoice.update'}"
                        class="btn btn-circle btn-info"
                        data-toggle="tooltip"
                        :disabled="order.updating"
                        :title="$t('restaurant.kitchen.processed_all')"
                        @click.prevent="updateProcessedGoodItem(
                          invoice, goods.id, order.created_at, index, goodsIndex, orderIndex
                        )">
                  <i :class="order.updating ? 'far fa-spinner-third fa-spin' :
                    'fa fa-angle-double-right'"></i>
                </button>
              </div>
            </div>
          </template>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
  import UPDATE_PROCESSED_BY_INVOICE from './../../../apollo/mutation/kitchen/update_processed_by_invoice.gql'
  import moment from 'moment'

  export default {
    props: {
      invoices: {
        type: Array,
        required: true
      },
      tables: {
        type: Array,
        required: true
      }
    },
    computed: {
      groupId() {
        return this.$store.getters.groupId
      }
    },
    methods: {
      getTableName(ids) {
        let tables = []
        for (let id of ids) {
          let table = this.tables.find(table => table.id === id)
          tables.push(table.name + ' - ' + table.place_name)
        }
        return tables.length ? tables.join(', ') : this.$t('manage_sale.modal.call_bring_home')
      },
      fromNow(date) {
        return moment(date).fromNow()
      },
      expand(invoice, index) {
        invoice.is_close = !invoice.is_close ? true : false
        this.$set(this.invoices, index, invoice)
      },
      updateProcessedInvoice(invoice, index) {
        invoice.updating = true
        this.$set(this.invoices, index, invoice)

        this.$apollo.mutate({
          mutation: UPDATE_PROCESSED_BY_INVOICE,
          variables: {
            groupId: this.groupId,
            invoiceId: invoice.id,
          }
        }).then(() => {
          this.$awn.success(this.$t('word.updated'))
        })
      },
      updateProcessedGoodItem(invoice, goodsId, createdAt, index, goodsIndex, orderIndex) {
        invoice.goods[goodsIndex].orders[orderIndex].updating = true
        this.$set(this.invoices, index, invoice)

        this.$apollo.mutate({
          mutation: UPDATE_PROCESSED_BY_INVOICE,
          variables: {
            groupId: this.groupId,
            invoiceId: invoice.id,
            goodsId: goodsId,
            createdAt: createdAt
          }
        }).then(() => {
          this.$awn.success(this.$t('word.updated'))
        })
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "./../../../../sass/restaurants/components/_scrollbar.scss";

  .w-box {
    height: 100%;
    padding: 15px;
  }
  .btn-circle {
    font-size: 18px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }
  .box-item {
    border-bottom: 0.5px solid #eee;
    font-size: 13.5px;
    padding: 10px 5px;
    .text-muted {
      font-size: 11px;
    }
    .action-item {
      width: 100px;
      text-align: right;
    }
    .info-item {
      width: 170px;
    }
    .unit-item {
      width: 60px;
    }
  }
</style>
