<template>
  <div class="ms__scrollbar-custom p-15">
    <div v-for="(goods, index) in bookedGoods" :key="index"
         class="d-flex justify-content-end align-items-center box-item">
      <div class="flex-grow-1 name-item">
        <div class="name-goods">
          <b>{{ goods.name }}</b> 
          <span class="text-muted fs-11"> - {{ getUnit(goods.unit) }}</span>
        </div>
        <div class="text-muted">{{ goods.invoice_code }}</div>
      </div>
      <td class="unit-item">{{ goods.count }}</td>
      <div class="info-item">
        <div>{{ goods.tables }}</div>
        <div class="text-muted">{{ fromNow(goods.created_at) }}</div>
      </div>
      <div class="action-item">
        <button v-check="{permission: 'invoice.update'}"
                class="btn btn-circle btn-info"
                data-toggle="tooltip"
                :disabled="goods.updating"
                :title="$t('restaurant.kitchen.processed_all')"
                @click.prevent="updateProcessedItem(goods, index)">
          <i :class="goods.updating ? 'far fa-spinner-third fa-spin' :
            'fa fa-angle-double-right'">
          </i>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
  import UPDATE_PROCESSED_BY_INVOICE from './../../../apollo/mutation/kitchen/update_processed_by_invoice.gql'
  import handleUnit from './../../../mixins/handle_unit.js'
  import moment from 'moment'

  export default {
    mixins: [handleUnit],
    props: {
      bookedGoods: {
        type: Array,
        required: true
      }
    },
    computed: {
      groupId() {
        return this.$store.getters.groupId
      }
    },
    methods: {
      fromNow(timestamp) {
        return moment(timestamp).fromNow()
      },
      updateProcessedItem(goods, index) {
        goods.updating = true
        this.$set(this.bookedGoods, index, goods)
        this.$apollo.mutate({
          mutation: UPDATE_PROCESSED_BY_INVOICE,
          variables: {
            groupId: this.groupId,
            invoiceId: goods.invoice_id,
            goodsId: goods.id,
            createdAt: goods.created_at
          }
        }).then(() => {
          this.$awn.success(this.$t('word.updated'))
        })
      }
    }
  }
</script>

<style scoped lang="scss">
  @import "./../../../../sass/restaurants/components/_scrollbar.scss";
  .btn-circle {
    font-size: 18px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }
  .box-item {
    border-bottom: 0.5px solid #eee;
    font-size: 13.5px;
    padding: 10px 5px;
    .text-muted {
      font-size: 11px;
    }
    .action-item {
      width: 100px;
      text-align: right;
    }
    .info-item {
      width: 170px;
    }
    .unit-item {
      width: 60px;
    }
  }
  .p-15 {
    padding: 15px
  }
</style>