<template>
  <div class="ms__scrollbar-custom p-15">
    <div v-for="(goods, index) in groupGoods" :key="index"
         class="d-flex justify-content-end align-items-center box-item">
      <div class="item-name flex-grow-1">
        <b>{{ goods.name }}</b> 
        <span class="text-muted fs-11"> - {{ getUnit(goods.unit) }}</span>
      </div>
      <div class="unit-item">{{ goods.count }}</div>
      <div class="action-item">
        <button v-check="{permission: 'invoice.update'}"
                class="btn btn-circle btn-info"
                data-toggle="tooltip"
                :disabled="goods.updating"
                :title="$t('restaurant.kitchen.processed_all')"
                @click.prevent="updateProcessedByGoodsId(goods, index)">
          <i :class="goods.updating ? 'far fa-circle-notch fa-spin' :
            'fa fa-angle-double-right'"></i>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
  import UPDATE_PROCESSED_BY_GOODS from './../../../apollo/mutation/kitchen/update_processed_by_goods.gql'
  import handleUnit from './../../../mixins/handle_unit.js'

  export default {
    mixins: [handleUnit],
    props: {
      groupGoods: {
        type: Array,
        required: true
      }
    },
    computed: {
      groupId() {
        return this.$store.getters.groupId
      }
    },
    methods: {
      updateProcessedByGoodsId(goods, index) {
        goods.updating = true
        this.$set(this.groupGoods, index, goods)
        this.$apollo.mutate({
          mutation: UPDATE_PROCESSED_BY_GOODS,
          variables: {
            groupId: this.groupId,
            goodsId: goods.id
          }
        }).then(() => {
          this.$awn.success(this.$t('word.updated'))
        })
      }
    }
  }
</script>

<style scoped lang="scss">
  @import "./../../../../sass/restaurants/components/_scrollbar.scss";
  
  .box-item {
    border-bottom: 0.5px solid #eee;
    font-size: 13.5px;
    padding: 10px 5px;
    .text-muted {
      font-size: 11px;
    }
    .action-item {
      width: 100px;
      text-align: right;
    }
    .info-item {
      width: 170px;
    }
    .unit-item {
      width: 60px;
    }
  }
  .p-15 {
    padding: 15px
  }
  .btn-circle {
    font-size: 18px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }
</style>