<template>
  <div class="ms__scrollbar-custom w-box">
    <div v-for="(good, index) in goods" :key="index"
         class="d-flex justify-content-end align-items-center box-item">
      <div class="flex-grow-1 name-item">
        <b>{{ good.name }}</b> 
        <span class="text-muted fs-11"> - {{ getUnit(good.unit) }}</span>
        <div class="text-muted">{{ good.invoice_code }}</div>
      </div>
      <div class="unit-item">{{ good.count }}</div>
      <div class="info-item text-right">
        {{ good.tables }}
        <div class="text-muted">{{ fromNow(good.created_at) }}</div>
      </div>
    </div>
  </div>
</template>

<script>
  import handleUnit from './../../../mixins/handle_unit.js'
  import moment from 'moment'
  
  export default {
    mixins: [handleUnit],
    props: {
      goods: {
        type: Array,
        required: true
      }
    },
    methods: {
      fromNow(timestamp) {
        return moment(timestamp).fromNow()
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "./../../../../sass/restaurants/components/_scrollbar.scss";

  .w-box {
    height: 100%;
    padding: 15px;
  }
  .btn-circle {
    font-size: 18px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }
  .box-item {
    border-bottom: 0.5px solid #eee;
    font-size: 13.5px;
    padding: 10px 5px;
    .text-muted {
      font-size: 11px;
    }
    .action-item {
      width: 100px;
      text-align: right;
    }
    .info-item {
      width: 170px;
    }
    .unit-item {
      width: 60px;
    }
  }
</style>