<template>
  <div>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        ×
      </button>
      <h5 class="modal-title">
        <b>{{ $t("restaurant.kitchen.list_not_show") }}</b>
      </h5>
    </div>
    <div class="modal-body">
      <div class="panel panel-info">
        <div class="form-group">
          <div class="input-group">
            <multiselect
              track-by="id"
              label="name"
              :allow-empty="false"
              :show-labels="false"
              :placeholder="$t('word.search_or_add')"
              :options="goods"
              @select="selectGood"></multiselect>
            <span class="input-group-btn">
              <button class="btn btn-info"
                      data-toggle="tooltip"
                      :title="$t('restaurant.good.select_group')"
                      @click.prevent="chooseGroupMenus()">
                <i class="fa fa-list-ul"></i>
              </button>
            </span>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table color-table info-table">
            <thead>
              <tr>
                <th>{{ $t('restaurant.good.name') }}</th>
                <th>{{ $t('restaurant.good.code') }}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="good in preventGoods" :key="good.id">
                <td>{{ good.name }}</td>
                <td>{{ good.code }}</td>
                <td>
                  <button class="btn btn-danger btn-circle"
                          data-toggle="tooltip"
                          :title="$t('word.delete')"
                          @click="deleteGood(good.id)"><i class="fa fa-trash"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">
        <i class="fa fa-ban"></i> {{ $t("word.cancel") }}
      </button>
      <button type="button" class="btn btn-info" data-dismiss="modal" @click="confirm()">
        <i class="fa" :class="[loading ? 'fa-spin fa-circle-notch' : 'fa-check']"></i>
        {{ $t("word.confirm") }}
      </button>
    </div>
  </div>
</template>

<script>
  import SALE_MENU from './../../../apollo/query/sale/sale_menu.gql'
  import setting from './../../../helpers/setting_kitchen.js'

  export default {
    data() {
      return {
        goods: [],
        preventGoods: [],
        setting: setting.getItem()
      }
    },
    apollo: {
      sale_menu: {
        query: SALE_MENU,
        variables() {
          return {
            groupId: this.groupId
          }
        },
        manual: true,
        result({ data }) {
          this.goods = data.sale_menu
          this.preventGoods = this.goods.filter(goods => {
            return this.setting.hideGoodIds.includes(goods.id)
          })
        }
      },
    },
    computed: {
      groupId() {
        return this.$store.getters.groupId
      },
    },
    watch: {
      'setting.hideGoodIds': {
        handler: function(value) {
          this.preventGoods = this.goods.filter(obj => value.includes(obj.id))
        },
        deep: true
      }
    },
    created() {
      bus.$on('choose-group-menus', menus => {
        let ids = menus.map(menu => menu.id)
        let goodIds = this.goods.filter(goods => {
          return goods.group_menu_ids.some(id => ids.includes(id))
        }).map(goods => goods.id)
        this.setting.hideGoodIds = _.union([...this.setting.hideGoodIds, ...goodIds])
      })
    },
    methods: {
      selectGood(good) {
        if (!this.setting.hideGoodIds.includes(good.id)) {
          this.setting.hideGoodIds.push(good.id)
        }
      },
      deleteGood(id) {
        this.setting.hideGoodIds = this.setting.hideGoodIds.filter(value => value !== id)
      },
      confirm() {
        setting.setItem(this.setting)
        bus.$emit('update-setting-kitchen')
      },
      chooseGroupMenus() {
        bus.$emit('modal2', {
          component: 'choose-group-menus'
        })
      },
    }
  }
</script>

<style scoped>
  .input-group-addon {
    cursor: pointer;
  }
</style>
