<template>
  <div class="modal-content">
    <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <ul class="nav customtab nav-tabs m-b-30" role="tablist">
        <li class="active">
          <a href="#tab1"
             data-toggle="tab"
             aria-expanded="true">{{ $t('word.information') }}</a>
        </li>
        <li>
          <a href="#tab2"
             data-toggle="tab"
             aria-expanded="false">{{ $t('restaurant.returned_invoice.invoice') }}</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="tab1" class="tab-panel fade active in">
          <div class="row">
            <div class="col-md-8 col-12">
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr>
                      <td width="40%">{{ $t('restaurant.invoice.code') }}</td>
                      <td>{{ invoice.code }}</td>
                    </tr>
                    <tr>
                      <td width="40%">{{ $t('word.created_at') }}</td>
                      <td>{{ convertToDateTime(invoice.created_at) }}</td>
                    </tr>
                    <tr>
                      <td width="40%">{{ $t('word.customer') }}</td>
                      <td>{{ getUsersName() }}</td>
                    </tr>
                    <tr>
                      <td width="40%">{{ $t('restaurant.table.table') }}</td>
                      <td>{{ getTablesName() }}</td>
                    </tr>
                    <tr>
                      <td width="40%">{{ $t('word.status') }}</td>
                      <td>
                        <span v-if="invoice.status == 1"
                              class="label label-success">{{ $t('restaurant.invoice.inited') }}</span>
                        <span v-else-if="invoice.status == 2"
                              class="label label-info">{{ $t('restaurant.invoice.purchased') }}</span>
                        <span v-else-if="invoice.status == 3"
                              class="label label-warning">{{ $t('restaurant.invoice.disable') }}</span>
                      </td>
                    </tr>
                    <tr>
                      <td width="40%">{{ $t('restaurant.invoice.recipient') }}</td>
                      <td>
                        {{ invoice.recipient.fullname }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div>{{ invoice.note }}</div>
            </div>
          </div>
          <div class="row col-12">
            <table class="table color-table info-table table-responsive">
              <thead>
                <tr>
                  <th>{{ $t('restaurant.good.code') }}</th>
                  <th>{{ $t('restaurant.good.name') }}</th>
                  <th>{{ $t('word.count') }}</th>
                  <th>{{ $t('restaurant.good.price') }}</th>
                  <th>{{ $t('word.discount') }}</th>
                  <th class="text-right">{{ $t('word.total_money') }}</th>
                </tr>
              </thead>
              <tbody>
                <template v-if="invoice.goods && invoice.goods.length > 0">
                  <tr v-for="(good, index) in invoice.goods" :key="index">
                    <td>{{ good.code }}</td>
                    <td>{{ good.name }}</td>
                    <td>{{ formatPrice(good.count) }}</td>
                    <td>{{ formatPrice(good.price) }}</td>
                    <td>{{ getDiscount(good) }}</td>
                    <td class="text-right">{{ formatPrice(good.total) }}</td>
                  </tr>
                  <tr class="text-right out-table">
                    <td colspan="5"><strong>{{ $t('word.discount') }}:</strong></td>
                    <td>{{ formatPrice(invoice.total_discount) }}</td>
                  </tr>
                  <tr class="text-right out-table">
                    <td colspan="5"><strong>{{ $t('word.total_money') }}:</strong></td>
                    <td>{{ formatPrice(invoice.total) }}</td>
                  </tr>
                </template>
                <tr v-else class="text-center">
                  <td colspan="6">{{ $t('word.no_data') }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div id="tab2" class="tab-panel">
          <div class="row col-12">
            <table class="table color-table info-table table-responsive">
              <thead>
                <tr>
                  <th>{{ $t('restaurant.invoice.code') }}</th>
                  <th>{{ $t('word.creator') }}</th>
                  <th>{{ $t('word.created_at') }}</th>
                  <th class="text-right">{{ $t('word.total_money') }}</th>
                </tr>
              </thead>
              <tbody>
                <template v-if="returnedInvoices.length > 0">
                  <tr v-for="(rInvoice, index) in returnedInvoices" :key="index">
                    <td>
                      <router-link :to="{name: 'restaurant.returned_invoice.list', params: { code: rInvoice.code}}"
                                   data-dismiss="modal">{{ rInvoice.code }}
                      </router-link>
                    </td>
                    <td>{{ rInvoice.creator.fullname }}</td>
                    <td>{{ convertToDateTime(rInvoice.created_at) }}</td>
                    <td class="text-right">{{ formatPrice(rInvoice.total) }}</td>
                  </tr>
                  <tr class="text-right out-table">
                    <td colspan="3"><strong>{{ $t('word.total_money') }}:</strong></td>
                    <td>{{ formatPrice(totalReturnedInvoice) }}</td>
                  </tr>
                </template>
                <tr v-else class="text-center">
                  <td colspan="5">{{ $t('word.no_data') }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">
        <i class="far fa-ban"></i> {{ $t('word.close') }}
      </button>
    </div>
  </div>
</template>

<script>
  import INVOICE_QUERY from './../../../apollo/query/invoice/detail.gql'
  import { formatPrice } from '../../../helpers/handle_function.js'
  import { convertToDateTime } from './../../../helpers/handle_date_time.js'
  import { DISCOUNT_TYPE_PERCENT } from '../../../constants'

  export default {
    name: 'Detail',
    props: {
      payload: {
        type: String,
        default: ''
      }
    },
    data() {
      return {
        tables: [],
        users: [],
        totalReturnedInvoice: 0,
        invoice: {
          recipient: {},
          tables: [],
          users: []
        },
        returnedInvoices: []
      }
    },
    apollo: {
      invoice: {
        query: INVOICE_QUERY,
        variables() {
          return {
            invoiceId: this.payload
          }
        },
        result({ data }) {
          this.returnedInvoices = data.invoice.returned_invoices
          this.totalReturnedInvoice = 0
          this.returnedInvoices.forEach(item => {
            this.$totalReturnedInvoice += item.total
          })
        }
      }
    },
    methods: {
      convertToDateTime(date) {
        return convertToDateTime(date)
      },
      formatPrice(number) {
        return formatPrice(number)
      },
      getUsersName() {
        let arr = this.invoice.users.map(obj => obj.fullname)
        return arr.join(', ')
      },
      getTablesName() {
        let arr = this.invoice.tables.map(obj => obj.name)
        return arr.join(', ')
      },
      getDiscount(good) {
        if (good.discount_type == DISCOUNT_TYPE_PERCENT) {
          return good.discount + '%'
        }
        return formatPrice(good.discount || 0)
      },
    }
  }
</script>

<style scoped lang="scss">
  tr {
    td, th {
      &:nth-child(4), &:nth-child(5) {
        text-align: right;
      }
    }
  }
</style>