<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-12 col-sm">
        <h4 class="page-title">{{ $t('restaurant.manage_place') }}</h4>
      </div>
      <div class="col-12 col-sm-auto">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{ name: 'home' }">{{ $t('word.home') }}</router-link>
          </li>
          <li>
            <router-link :to="{ name: 'restaurant.place.list' }">{{ $t('restaurant.place.place') }}</router-link>
          </li>
          <li class="active">{{ $t('word.create') }}</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="white-box col-12">
        <div class="row justify-content-center">
          <div class="col-sm-8 col-md-6">
            <div class="form-group col-12 m-t-15"
                 :class="{'has-error': errors.name}">
              <label>{{ $t('restaurant.place.name') }}
                <span class="text-danger">*</span>
              </label>
              <input v-model="name" type="text" class="form-control">
              <span v-if="errors.name" class="text-danger">
                <strong>{{ errors.name[0] }}</strong>
              </span>
            </div>
            <div class="form-group col-12 m-t-15"
                 :class="{ ' has-error' : errors.description }">
              <label>{{ $t('word.description') }}</label>
              <textarea v-model="description" class="form-control" rows="5"></textarea>
              <span v-if="errors.description" class="text-danger">
                <strong>{{ errors.description[0] }}</strong>
              </span>
            </div>
            <div class="text-center col-12">
              <button type="button" class="btn btn-info" :disabled="loadingCreate"
                      @click.prevent="store()">
                <i :class="[loadingCreate ? 'far fa-spinner-third fa-spin' : 'far fa-check']"></i>
                {{ $t('word.submit') }}
              </button>
              <button type="button" 
                      class="btn btn-default" 
                      @click.prevent="$router.go(-1)">
                <i class="far fa-ban"></i> {{ $t('word.cancel') }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CREATE_PLACE_QUERY from '@apollo/mutation/place/create.gql'
import GET_PLACES_QUERY from '@apollo/query/place/list.gql'

export default {
  data() {
    return {
      loadingCreate: false,
      errors: {},
      name: '',
      description: '',
      restaurant: {}
    }
  },
  computed: {
    groupId() {
      return this.$store.getters.groupId
    }
  },
  methods: {
    store() {
      this.loadingCreate = true
      this.$apollo
        .mutate({
          mutation: CREATE_PLACE_QUERY,
          variables: {
            groupId: this.groupId,
            name: this.name,
            description: this.description
          },
          update: (store, { data: { create_place } }) => {
            const query = {
              query: GET_PLACES_QUERY,
              variables: {
                groupId: this.groupId
              }
            }
            try {
              const data = store.readQuery(query)
              data.places.unshift(create_place)
              store.writeQuery({ ...query, data: data })
            } catch (e) {}
          }
        })
        .then(() => {
          this.$awn.success(this.$t('restaurant.place.create_success'))
          this.$router.push({ name: 'restaurant.place.list' })
        })
        .catch(err => {
          if (err.graphQLErrors[0].message === 'validation') {
            this.errors = err.graphQLErrors[0].extensions.validation
          }
        })
        .finally(() => {
          this.loadingCreate = false
        })
    }
  }
}
</script>