<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-12 col-sm">
        <h4 class="page-title">{{ $t('restaurant.manage_place') }}</h4>
      </div>
      <div class="col-12 col-sm-auto">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{ name: 'home' }">{{ $t('word.home') }}</router-link>
          </li>
          <li>
            <router-link :to="{ name: 'restaurant.place.list' }">{{ $t('restaurant.place.place') }}</router-link>
          </li>
          <li class="active">{{ $t('word.edit') }}</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="white-box col-12">
        <div class="row justify-content-center">
          <div class="col-sm-8 col-md-6">
            <template>
              <div class="form-group m-b-15 " :class="{'has-error': errors.name}">
                <label>{{ $t('restaurant.place.name') }}</label>
                <input v-model="place.name" type="text" class="form-control">
                <span v-if="errors.name" class="text-danger">
                  <strong>{{ errors.name[0] }}</strong>
                </span>
              </div>
              <div class="form-group m-b-15" :class="{ ' has-error' : errors.description }">
                <label>{{ $t('word.description') }}</label>
                <textarea v-model="place.description" class="form-control" rows="5"></textarea>
                <span v-if="errors.description" class="text-danger">
                  <strong>{{ errors.description[0] }}</strong>
                </span>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-info" @click.prevent="update()">
                  <i :class="[updating ? 'far fa-spin fa-spinner-third' : 'fa fa-check']"></i> 
                  {{ $t('word.update') }}
                </button>
                <button type="button" 
                        class="btn btn-default" 
                        @click.prevent="$router.go(-1)">
                  <i class="far fa-ban"></i> {{ $t('word.cancel') }}
                </button>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import GET_PLACE_BY_ID_QUERY from '@apollo/query/place/get_by_id.gql'
  import UPDATE_PLACE_QUERY from '@apollo/mutation/place/update.gql'

  export default {
    props: {
      placeId: {
        type: String,
        required: true
      }
    },
    data() {
      return {
        updating: false,
        errors: {},
        place: {}
      }
    },
    computed: {
      groupId() {
        return this.$store.getters.groupId
      }
    },
    apollo: {
      place: {
        query: GET_PLACE_BY_ID_QUERY,
        variables() {
          return {
            placeId: this.placeId
          }
        }
      }
    },
    methods: {
      update() {
        this.updating = true
        this.$apollo
          .mutate({
            mutation: UPDATE_PLACE_QUERY,
            variables: {
              groupId: this.groupId,
              placeId: this.placeId,
              name: this.place.name,
              description: this.place.description
            }
          })
          .then(() => {
            this.$awn.success(this.$t('restaurant.place.update_success'))
            this.$router.push({ name: 'restaurant.place.list' })
          })
          .catch(err => {
            if (err.graphQLErrors[0].message === 'validation') {
              this.errors = err.graphQLErrors[0].extensions.validation
            }
          })
          .finally(() => {
            this.updating = false
          })
      }
    }
  }
</script>