<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-12 col-sm">
        <h4 class="page-title">{{ $t('restaurant.manage_place') }}</h4></div>
      <div class="col-12 col-sm-auto">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{ name: 'home' }">{{ $t('word.home') }}</router-link>
          </li>
          <li class="active">{{ $t('restaurant.place.place') }}</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="white-box col-12">
        <h3 class="box-title row justify-content-end">
          <span class="col-sm hidden-xs row">{{ $t('word.list') }}</span>
          <div class="col-auto row">
            <button v-check="{ permission: 'place.create' }"
                    class="btn btn-info m-r-10"
                    type="button"
                    @click="importPlace()">
              <i class="fa fa-file-alt"></i> {{ $t('word.import_file') }}
            </button>
            <router-link v-check="{ permission: 'place.create' }"
                         class="btn btn-info"
                         :to="{ name: 'restaurant.place.create' }">
              <i class="fa fa-plus"></i> {{ $t('word.create') }}
            </router-link>
          </div>
        </h3>
        <div>
          <table class="table color-table info-table table-responsive">
            <thead>
              <tr>
                <th>{{ $t('word.sort') }}</th>
                <th>{{ $t('restaurant.place.name') }}</th>
                <th>{{ $t('word.description') }}</th>
                <th>{{ $t('word.created_at') }}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(place, index) in places" :key="place.id">
                <td>{{ index + 1 }}</td>
                <td>{{ place.name }}</td>
                <td>{{ place.description }}</td>
                <td>{{ convertDate(place.created_at) }}</td>
                <td>
                  <router-link v-check="{ permission: 'place.update' }"
                               :to="{ name: 'restaurant.place.edit', params: { placeId: place.id }}"
                               class="btn btn-circle btn-info"
                               data-toggle="tooltip"
                               :title="$t('word.edit')">
                    <i class="fa fa-pencil-alt"></i>
                  </router-link>
                  <a v-check="{ permission: 'place.delete' }"
                     class="btn btn-danger btn-circle"
                     data-toggle="tooltip"
                     :title="$t('word.delete')"
                     @click="deletePlace(place.id, index)">
                    <i :class="[place.deleting ? 'far fa-spinner-third fa-spin' : 'fa fa-trash']"></i>
                  </a>
                </td>
              </tr>
              <tr v-if="loading">
                <td colspan="5">
                  <pulse-loader :loading="loading" color="#27a1f2"></pulse-loader>
                </td>
              </tr>
              <tr v-else-if="!loading && places.length == 0">
                <td class="no-data" colspan="4">{{ $t('word.no_data') }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import PulseLoader from 'vue-spinner/src/PulseLoader'
  import moment from 'moment'
  import GET_PLACES_QUERY from '@apollo/query/place/list.gql'
  import DELETE_PLACE_QUERY from '@apollo/mutation/place/delete.gql'

  export default {
    components: {
      PulseLoader
    },
    data() {
      return {
        places: []
      }
    },
    computed: {
      groupId() {
        return this.$store.getters.groupId
      },
      loading() {
        return this.$apollo.loading
      }
    },
    apollo: {
      places: {
        query: GET_PLACES_QUERY,
        variables() {
          return {
            groupId: this.groupId
          }
        },
        result({ data: { places } }) {
          places.map(place => {
            return place.deleting
          })
        }
      }
    },
    updated() {
      $('[data-toggle="tooltip"]').tooltip()
    },
    methods: {
      deletePlace(id, index) {
        let conf = confirm(this.$t('restaurant.place.confirm_delete'))
        if (conf) {
          const place = this.places[index]
          place.deleting = true
          this.$set(this.places, index, place)

          this.$apollo.mutate({
            mutation: DELETE_PLACE_QUERY,
            variables: {
              groupId: this.groupId,
              placeId: id
            },
            update: (store, { data: { delete_place } }) => {
              if (delete_place.code == 200) {
                const query = {
                  query: GET_PLACES_QUERY,
                  variables: {
                    groupId: this.groupId
                  }
                }
                const data = store.readQuery(query)
                const iPlace = data.places.findIndex(place => place.id == id)
                data.places.splice(iPlace, 1)
                store.writeQuery({ ...query, data: data })
              }
            }
          })
          .then(() => {
            this.$awn.success(this.$t('restaurant.place.delete_success'))
          })
        }
      },
      convertDate(date) {
        return moment(date).format('DD-MM-YYYY')
      },
      importPlace() {
        bus.$emit('modal', {
          component: 'import',
          backdrop: 'static',
          payload: 'import_place'
        })
      }
    },
  }
</script>

<style scoped>
  th, td {
    text-align: center;
  }
</style>