<template>
  <section id="wrapper">
    <div class="header">
      <h1><b>Chính sách bảo mật</b></h1>
    </div>
    <div class="body">
      <h2>1. Mục đích và nội dung thu thập</h2>

      <p>ZEKO yêu cầu khách hàng cung cấp các thông tin cơ bản bao gồm: email, điện thoại, tên đăng nhập, mật khẩu đăng nhập, địa chỉ khi khách hàng đăng ký sử dụng dịch vụ của ZEKO và một số thông tin không bắt buộc khác khi khách hàng muốn tương tác với một số nội dung trên website và ứng dụng ZEKO. ZEKO sử dụng các thông tin này nhằm liên hệ xác nhận với khách hàng và đảm bảo quyền lợi cho Khách hàng khi cần thiết.</p>

      <p>Việc bạn truy cập, đăng ký, sử dụng ZEKO có nghĩa rằng bạn đồng ý và chấp nhận ràng buộc bởi các quy định trong chính sách bảo mật của chúng tôi.</p>

      <p>Khách hàng sẽ tự chịu trách nhiệm về bảo mật và lưu giữ mọi hoạt động sử dụng dịch vụ dưới tên đăng ký, mật khẩu và hộp thư điện tử và/hoặc số điện thoại của mình. ZEKO không chịu trách nhiệm về các thất thoát dữ liệu, bí mật thông tin của khách hàng do khách hàng vô tình hoặc cố ý gây ra. Ngoài ra, Khách hàng có trách nhiệm thông báo kịp thời cho ZEKO về những hành vi sử dụng trái phép, lạm dụng, vi phạm bảo mật, lưu giữ tên đăng ký và mật khẩu của bên thứ ba để có biện pháp giải quyết phù hợp.</p>


      <h2>2. Dịch vụ, ứng dụng liên kết với ZEKO</h2>
      <p>Để đảm bảo quyền lợi và trải nghiệm tốt nhất cho Khách hàng, ZEKO áp dụng một số điều khoản riêng khi Khách hàng sử dụng các dịch vụ, ứng dụng do ZEKO cung cấp hoặc có liên kết với ZEKO:</p>
      <div class="sub-body">
        <i><u>A. Đối với khách hàng sử dụng Ứng dụng ZEKO từ Apple App Store hoặc GooglePlay, bạn hiểu và chấp nhận rằng ZEKO có quyền:</u></i>
        <div class="p-l-30">
          <p>1- Lấy vị trí hiện tại của bạn;</p>
          <p>2- Ghi dữ liệu của Ứng dụng ZEKO lên thẻ nhớ;</p>

          <p>3- Truy cập vào Internet từ thiết bị của bạn.</p>

          <p>Tất cả các truy cập này chỉ được chúng tôi thực hiện khi có sự đồng ý của bạn. Bạn hiểu và chấp nhận rằng, khi bạn đã cấp quyền cho chúng tôi, bạn sẽ không có bất kỳ khiếu nại nào đối với việc truy cập này.</p>
        </div>
      </div>
      <div class="sub-body">
        <i><u>B. Đối với tài khoản Facebook, Google của Khách hàng khi liên kết ZEKO, ZEKO sẽ yêu cầu quyền truy cập các thông tin sau:</u></i>

        <div class="p-l-30">
          <p>1- Quyền truy cập vào địa chỉ email của người dùng ác nhân để sử dụng để tích hợp với ZEKO;</p>

          <p>2- Quyền truy cập vào tập hợp các mục công khai trên Trang Facebook đã tích hợp với ZEKO;</p>

          <p>3- Cho phép truy cập vào tập hợp các mục công khai trên Tài khoản cá nhân của người dùng có tương tác với Trang Facebook tích hợp với ZEKO.</p>

          <p>4- Cho phép truy cập hộp thư trên Trang Facebook tích hợp với ZEKO thông qua ZEKO;</p>

          <p>5- Cho phép gửi và nhận tin nhắn, bình luận trên Trang Facebook tích hợp với ZEKO thông qua ZEKO.</p>
        </div>
      </div>

      <h2>3. Phạm vi sử dụng thông tin</h2>
      <p>ZEKO sử dụng thông tin Khách hàng cung cấp để:</p>

      <div class="sub-body">
        <p>– Cung cấp các dịch vụ đến Khách hàng.</p>

        <p>– Gửi các thông báo về các hoạt động trao đổi thông tin giữa Khách hàng và đơn vị Hỗ trợ kĩ thuật của ZEKO.</p>

        <p>– Ngăn ngừa các hoạt động phá hủy tài khoản người dùng của Khách hàng hoặc các hoạt động giả mạo Khách hàng.</p>

        <p>– Liên lạc và giải quyết với khách hàng trong những trường hợp đặc biệt.</p>

        <p>– ZEKO có trách nhiệm hợp tác cung cấp thông tin cá nhân Khách hàng khi có yêu cầu từ cơ quan nhà nước có thẩm quyền.</p>

        <p>– Chia sẻ thông tin cần thiết cho bên đối tác nếu nhận được sự đồng ý của Khách hàng.</p>
      </div>

      <h2>4. Cam kết bảo mật thông tin cá nhân Khách hàng</h2>
      <p>Thông tin của Khách hàng trên ZEKO được ZEKO cam kết bảo mật tuyệt đối theo chính sách bảo vệ thông tin cá nhân của ZEKO. Việc thu thập và sử dụng thông tin của mỗi Khách hàng chỉ được thực hiện khi có sự đồng ý của Khách hàng đó, trừ những trường hợp pháp luật có quy định khác. ZEKO cam kết:</p>

      <div class="sub-body">
        <p>– Không sử dụng, không chuyển giao, cung cấp hay tiết lộ cho bên thứ ba nào về thông tin cá nhân của Khách hàng khi không có sự cho phép hoặc đồng ý từ Khách hàng, trừ những trường hợp pháp luật có quy định khác.</p>

        <p>– Bảo mật tuyệt đối mọi thông tin giao dịch trực tuyến của Khách hàng bao gồm thông tin hóa đơn, chứng từ kế toán số hóa tại khu vực dữ liệu trung tâm an toàn của ZEKO.</p>
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>
  .header {
    background:url('/images/login-register.jpg') no-repeat center center / cover !important;
    height: 400px;
    width: 100%;
  }
  .header {
    h1 {
      color: #fff;
      padding: 30px;
      margin: 0;
    }
  }
  .body {
    @media only screen and (min-width: 1024px) {
      padding: 15px 80px;
    }
    @media only screen and (max-width: 720px) {
      padding: 15px;
    }
    .sub-body {
      padding: 0 40px;
    }
    span {
      padding: 0 80px;

    }
  }
</style>