<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">{{ $t('master.group_manager.edit_group') }}</h4></div>
      <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{name: 'home'}">{{ $t('word.home') }}</router-link>
          </li>
          <li>
            <router-link :to="{name: 'master.company.list'}">{{ $t('master.group_manager.group') }}</router-link>
          </li>
          <li class="active">{{ $t('word.edit') }}</li>
        </ol>
      </div>
    </div>
    <div v-if="!loading" class="row">
      <div class="white-box col">
        <div class="panel-body">
          <form>
            <div class="row">
              <div class="col-md-4 col-md-offset-4">
                <div class="form-group" :class="{ 'has-error' : errors.expired_at }">
                  <label>{{ $t('word.expiration_date') }}</label>
                  <datepicker v-model="expired_at"
                              format="dd-MM-yyyy"
                              input-class="form-control"
                              wrapper-class="wrapper"
                              :language="language"></datepicker>
                  <span v-if="errors.expired_at" class="text-danger">
                    <strong>{{ errors.expired_at[0] }}</strong>
                  </span>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-success btn-rounded btn-submit-form" @click.prevent="save()">
                <i class="fa fa-save"></i> {{ $t('word.submit') }}
              </button>
              <router-link :to="{name: 'master.company.list'}" class="btn btn-danger btn-rounded">
                <i class="fa fa-remove"></i> {{ $t('word.cancel') }}
              </router-link>
            </div>
          </form>
        </div>
        <scale-loader :loading="scaleLoading" :color="'#27a1f2'"></scale-loader>
      </div>
    </div>
    <div v-if="loading" class="spinner-rise">
      <rise-loader :loading="loading" :color="'#27a1f2'"></rise-loader>
    </div>
  </div>
</template>
<script>
  import moment from 'moment'
  import { GET_GROUP_EDIT_MASTER, UPDATE_GROUP_MASTER } from './../../../api_master'
  import Datepicker from 'vuejs-datepicker'
  // import { en, vi } from 'vuejs-datepicker/dist/locale';
  import RiseLoader from 'vue-spinner/src/RiseLoader'
  import ScaleLoader from 'vue-spinner/src/ScaleLoader'

  export default {
    name: 'EditCompany',
    components: { Datepicker, RiseLoader, ScaleLoader },
    data() {
      return {
        companyId: '',
        expired_at: '',
        errors: [],
        loading: true,
        scaleLoading: false
      }
    },
    computed: {
      language() {
        if (window.Laravel.locale == 'en') {
          return en
        }
        return vi
      }
    },
    created() {
      this.companyId = this.$route.params.id
      axios.get(`${GET_GROUP_EDIT_MASTER}/${this.companyId}`).then(result => {
        if (typeof result.data.expired_at != 'undefined' && result.data.expired_at) {
          let date = new Date(result.data.expired_at)
          if (isNaN(date.getTime())) {
            this.expired_at = new Date(moment(result.data.expired_at, 'DD-MM-YYYY').format('YYYY-MM-DD'))
          } else {
            this.expired_at = date
          }
        }
      }).finally(() => {
        this.loading = false
      })
    },
    methods: {
      save() {
        this.scaleLoading = true
        let data = {
          'expired_at': moment(this.expired_at).format('YYYY-MM-DD'),
          '_method': 'PUT'
        }
        axios.post(`${UPDATE_GROUP_MASTER}/${this.companyId}`, data)
            .then(result => {
              this.$router.push({ name: 'master.company.list' })
              this.$awn.success(result.data.message)
            })
            .catch(error => {
              if (typeof error.response !== undefined && error.response.status == 422) {
                this.errors = error.response.data.errors
              }
            })
            .then(() => {
              this.scaleLoading = false
            })
      }
    }
  }
</script>