<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <h4 class="page-title">{{ $t('master.group_manager.group_manager') }}</h4>
      </div>
      <div class="col-sm-6 col-md-8 col-xs-12">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{name: 'home'}">{{ $t('word.home') }}</router-link>
          </li>
          <li class="active">{{ $t('master.group_manager.group') }}</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="white-box col">
        <div class="searchform clearfix">
          <h3 class="col-12 box-title row justify-content-end">
            <span class="col-sm hidden-xs row">{{ $t('word.list') }}</span>
            <div class="col-auto row">
              <button class="btn btn-info m-r-10"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapseExample"
                      aria-expanded="false"
                      aria-controls="collapseExample">
                <i class="fa fa-chevron-down"></i> {{ $t('word.filter') }}
              </button>
            </div>
          </h3>
          <div id="collapseExample" class="collapse col-12">
            <div class="row justify-content-between">
              <div class="form-group col-sm-3">
                <input v-model="customer"
                       type="text"
                       class="form-control"
                       placeholder="Email, số điện thoại khách hàng"
                       @keyup.enter="search()">
              </div>
              <div class="form-group col-sm-3">
                <multiselect
                    v-model="careStatusSelected"
                    label="key"
                    track-by="value"
                    :show-labels="false"
                    :options="careStatus"
                    :allow-empty="false"
                    @input="search()"></multiselect>
              </div>
              <div class="form-group col-sm-3">
                <multiselect
                    v-model="statusSelected"
                    label="key"
                    track-by="value"
                    :show-labels="false"
                    :options="status"
                    :allow-empty="false"
                    @input="search()"></multiselect>
              </div>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table color-table info-table">
            <thead>
              <tr>
                <th class="sort">{{ $t('word.sort') }}</th>
                <th>{{ $t("common.organization_name") }}</th>
                <th>{{ $t('word.address') }}</th>
                <th>{{ $t('word.service_type') }}</th>
                <th>{{ $t('word.manage') }}</th>
                <th>Tình trạng chăm sóc</th>
                <th>Ngày đăng ký</th>
                <th class="actions"></th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="loading">
                <td colSpan="8">
                  <pulse-loader :loading="loading" :color="'#27a1f2'"></pulse-loader>
                </td>
              </tr>
              <template v-else-if="groups.data && groups.data.length > 0">
                <tr v-for="(group, index) in groups.data" :key="index">
                  <td>{{ (groups.current_page - 1) * groups.per_page + index + 1 }}</td>
                  <td>{{ group.name }}</td>
                  <td>{{ getAddress(group) }}</td>
                  <td>{{ nameService(group.service_type) }}</td>
                  <td>
                    <a href="javascript:void(0)" @click.prevent="showGroup(group.owner.groups_owner)">
                      {{ group.owner.last_name + ' ' + group.owner.first_name }}
                    </a>
                    <div>Email: {{ group.owner.email }}</div>
                    <div>Sđt: {{ group.owner.phone_number }}</div>
                  </td>
                  <td>
                    <div>{{ careInformation(group.care_status) }}</div>
                    <button class="btn btn-success" @click.prevent="modalUpdateCare(index)">Cập nhật</button>
                  </td>
                  <td>{{ convertToDateTime(group.created_at) }}</td>
                  <td class="text-center">
                    <button v-if="group.is_active" class="btn btn-danger btn-circle"
                            title="Tạm dừng hoạt động nhóm này"
                            data-toggle="tooltip"
                            @click.prevent="disableGroup(group.id)">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </template>
              <tr v-else>
                <td class="no-data" colSpan="8">{{ $t('word.no_data') }}</td>
              </tr>
            </tbody>
          </table>
          <pagination v-if="groups.last_page > 1"
                      :current-page="groups.current_page"
                      :total-page="groups.last_page"
                      @changePage="search($event)"></pagination>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import Pagination from './../../partials/pagination'
  import PulseLoader from 'vue-spinner/src/PulseLoader'
  import GROUPS from './../../../apollo/query/group/list_in_master.gql'
  import {convertToDateTime} from "../../../helpers/handle_date_time"
  import UPDATE_CARE_STATUS from './../../../apollo/mutation/group/update_care_status.gql'
  import DISABLE_GROUP from './../../../apollo/mutation/group/disable.gql'
  import handleGroupInformation from './../../../mixins/handle_group_information'

  export default {
    name: 'CompanyList',
    components: {Pagination, PulseLoader},
    mixins: [handleGroupInformation],
    data() {
      return {
        loading: true,
        groups: {},
        customer: '',
        careStatus: [],
        careStatusSelected: {},
        status: [],
        statusSelected: {},
        indexCare: -1
      }
    },
    apollo: {
      groups: {
        client: 'master',
        query: GROUPS,
        variables() {
          return {
            careStatus: 1,
            status: true,
            page: 1,
          }
        },
        result({loading}) {
          this.loading = loading
        }
      }
    },
    created() {
      this.careStatus = [
        {key: 'Chưa tư vấn', value: 1},
        {key: 'Đang tư vấn', value: 2},
        {key: 'Đã tư vấn', value: 3}
      ]
      this.careStatusSelected = this.careStatus[0]
      this.status = [
        {key: 'Đang hoạt động', value: true},
        {key: 'Dừng hoạt động', value: false},
      ]
      this.statusSelected = this.status[0]
      bus.$on('update-care-information', this.updateCareInformation)
    },
    updated() {
      $('[data-toogle="tooltip"]').tooltip()
    },
    methods: {
      search(page = 1) {
        this.loading = true
        this.$apollo.queries.groups.refetch({
          page: page,
          careStatus: this.careStatusSelected.value,
          status: this.statusSelected.value,
          customer: this.customer
        })
      },
      careInformation(careStatus) {
        if (careStatus) {
          switch (careStatus.status) {
            case 1:
              return 'Chưa liên hệ tư vấn'
            case 2:
              return (careStatus.description || '').slice(0, 20) + ' ...'
            case 3:
              return 'Đã tư vấn sử dụng xong'
            default:
              return ''
          }
        }
      },
      convertToDateTime(date) {
        return convertToDateTime(date)
      },
      modalUpdateCare(index) {
        this.indexCare = index
        bus.$emit('modal', {
          component: 'update-care-information',
          payload: this.groups.data[index].care_status || {}
        })
      },
      updateCareInformation(data) {
        this.$apollo.mutate({
          client: 'master',
          mutation: UPDATE_CARE_STATUS,
          variables: {
            groupId: this.groups.data[this.indexCare].id,
            status: data.status,
            description: data.description || ''
          },
        })
      },
      showGroup(groups) {
        bus.$emit('modal', {
          component: 'user-groups',
          size: 'lg',
          payload: groups
        })
      },
      disableGroup(id) {
        if (confirm(
          'Thao tác sẽ dừng hoạt động tạm thời nhóm này. Bạn nên kiểm tra kỹ trước khi thực hiện thao tác. ' +
          'Tiếp tục thực hiện?')
        )
          this.$apollo.mutate({
            client: 'master',
            mutation: DISABLE_GROUP,
            variables: {
              id: id,
            },
          })
      }
    }
  }
</script>
<style scoped lang="scss">
  .group-type-goods {
    display: none;
  }

  .group-type {
    &:hover {
      .group-type-goods {
        display: block;
      }
    }
  }
</style>