<template>
  <modal-form>
    <b slot="title">Cập nhật thông tin chăm sóc khách hàng</b>
    <template slot="body">
      <div class="radio radio-info">
        <input id="notcare" v-model.number="careStatus.status" type="radio" value="1">
        <label for="notcare">Chưa tư vấn</label>
      </div>
      <div class="radio radio-info"
           data-toggle="collapse"
           data-target="#collapse"
           aria-expanded="false"
           aria-controls="collapse">
        <input id="caring" v-model.number="careStatus.status" type="radio" value="2">
        <label for="caring">Đang tư vấn</label>
      </div>
      <div id="collapse" class="collapse form-group col-12">
        <label class="label-info">Tình trạng chăm sóc khách hàng:</label>
        <textarea v-model.trim="careStatus.description"
                  cols="30"
                  rows="10"
                  class="form-control"></textarea>
      </div>
      <div class="radio radio-info">
        <input id="cared" v-model.number="careStatus.status" type="radio" value="3">
        <label for="cared">Đã tư vấn</label>
      </div>
    </template>
    <button slot="btn-action" type="button" class="btn btn-info" @click="update()">
      <i class="fa fa-save"></i> {{ $t('word.update') }}
    </button>
  </modal-form>
</template>

<script>
  import ModalForm from './../../partials/modal-form'

  export default {
    name: 'UpdateCareStatus',
    components: {ModalForm},
    props: {
      payload: {
        type: Object,
        default: () => {
        }
      }
    },
    data() {
      return {
        careStatus: {}
      }
    },
    watch: {
      'payload': {
        handler: function (value) {
          this.careStatus = JSON.parse(JSON.stringify(value)) || {}
        },
        deep: true
      }
    },
    created() {
      this.careStatus = JSON.parse(JSON.stringify(this.payload)) || {}
    },
    methods: {
      update() {
        if (this.careStatus.status == this.payload.status &&
          this.careStatus.description == this.payload.description
        ) this.$awn.alert('Vui lòng thay đổi thông tin trước khi cập nhật')
        else {
          bus.$emit('update-care-information', this.careStatus)
          $('#modal').modal('hide')
        }
      }
    }
  }
</script>

<style scoped lang="scss">

</style>