<template>
  <modal-form>
    <b slot="title">Danh sách nhóm đã đăng ký </b>
    <template slot="body">
      <div class="table-responsive">
        <table class="table color-table info-table">
          <thead>
            <tr>
              <th>{{ $t("common.organization_name") }}</th>
              <th>{{ $t('word.address') }}</th>
              <th>{{ $t('word.service_type') }}</th>
              <th>Ngày đăng ký</th>
              <th>Tình trạng chăm sóc</th>
              <th class="actions"></th>
            </tr>
          </thead>
          <tbody>
              <tr v-for="(group, index) in payload" :key="index">
                <td>{{ group.name }}</td>
                <td>{{ getAddress(group) }}</td>
                <td>{{ nameService(group.service_type) }}</td>
                <td>{{ convertToDateTime(group.created_at) }}</td>
                <td>{{ careInformation(group.care_status) }}
                </td>
                <td class="text-center">
                </td>
              </tr>
            <tr v-if="payload.length = 0">
              <td class="no-data" colSpan="6">{{ $t('word.no_data') }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </template>
  </modal-form>
</template>

<script>
  import ModalForm from './../../partials/modal-form'
  import {convertToDateTime} from "../../../helpers/handle_date_time";
  import handleGroupInformation from './../../../mixins/handle_group_information'

  export default {
    name: 'UserGroups',
    components: {ModalForm},
    mixins: [handleGroupInformation],
    props: {
      payload: {
        type: Array,
        default: () => []
      }
    },
    methods: {
      convertToDateTime(date) {
        return convertToDateTime(date)
      },
      careInformation(careStatus) {
        if (careStatus) {
          switch (careStatus.status) {
            case 1:
              return 'Chưa liên hệ tư vấn'
            case 2:
              return careStatus.description || ''
            case 3:
              return 'Đã tư vấn sử dụng'
            default:
              return ''
          }
        }
      },
    }
  }
</script>

<style scoped lang="scss">

</style>