<template>
  <div class="container-fluid">
    <div v-if="!loading" class="row bg-title">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">{{ $t('master.user_guide.add_guide') }}</h4></div>
      <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{name: 'home'}">{{ $t('word.home') }}</router-link>
          </li>
          <li>
            <router-link :to="{name: 'master.guide.list'}">{{ $t('word.news') }}</router-link>
          </li>
          <li class="active">{{ $t('word.add') }}</li>
        </ol>
      </div>
    </div>
    <div class="white-box col">
      <div class="table-responsive">
        <div class="col-sm-12">
          <form id="form-create-news" action="#" method="POST" enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-8 col-offset-md-2">
                <div class="form-group" :class="{ 'has-error' : errors.title }">
                  <label for="title">{{ $t('word.title') }}</label>
                  <input id="title"
                         v-model="title"
                         class="form-control"
                         type="text"
                         name="title">
                  <span v-if="errors.title" class="text-danger">
                    <strong>{{ errors.title[0] }}</strong>
                  </span>
                </div>
                <div class="form-group" :class="{ 'has-error' : errors.slug }">
                  <label for="slug">Slug</label>
                  <input id="slug"
                         v-model="slug"
                         class="form-control"
                         type="text"
                         name="title">
                  <span v-if="errors.slug" class="text-danger">
                    <strong>{{ errors.slug[0] }}</strong>
                  </span>
                </div>
                <div class="form-group" :class="{ 'has-error' : errors.meta_title }">
                  <label>{{ $t('word.title') }} meta</label>
                  <input v-model="metaTitle" class="form-control" type="text" name="title">
                  <span v-if="errors.meta_title" class="text-danger">
                    <strong>{{ errors.meta_title[0] }}</strong>
                  </span>
                </div>
                <div class="form-group" :class="{ 'has-error' : errors.meta_description }">
                  <label>{{ $t('word.description') }} meta</label>
                  <textarea id="description"
                            v-model="metaDescription"
                            class="form-control"
                            name="description"
                            rows="5"></textarea>
                  <span v-if="errors.meta_description" class="text-danger">
                    <strong>{{ errors.meta_description[0] }}</strong>
                  </span>
                </div>
                <div class="form-group" :class="{ 'has-error': errors.service_type }">
                  <label for="service">{{ $t('word.service_type') }}</label>
                  <multiselect id="service"
                               v-model="service"
                               label="name"
                               track-by="value"
                               placeholder="Lựa chọn loại dịch vụ"
                               deselect-label="Nhấn enter để xóa"
                               select-label="Nhấn enter để chọn"
                               selected-label="Đã chọn"
                               :allow-empty="false"
                               :options="services"
                               :multiple="true"></multiselect>

                  <span v-if="errors.service_type" class="text-danger">
                    <strong>{{ errors.service_type[0] }}</strong>
                  </span>
                </div>
                <div class="form-group" :class="{ 'has-error': errors.category }">
                  <label for="type">{{ $t('word.category_guide') }}</label>
                  <multiselect id="type"
                               v-model="category"
                               label="name"
                               track-by="value"
                               placeholder="Lựa chọn loại bài hướng dẫn"
                               deselect-label="Nhấn enter để xóa"
                               select-label="Nhấn enter để chọn"
                               selected-label="Đã chọn"
                               :allow-empty="false"
                               :options="categories"
                               :taggable="true"></multiselect>

                  <span v-if="errors.category" class="text-danger">
                    <strong>{{ errors.category[0] }}</strong>
                  </span>
                </div>
                <div class="form-group" :class="{ 'has-error': errors.sort }">
                  <label for="sort">{{ $t('word.sort') }}</label>
                  <input id="sort"
                         v-model="sort"
                         class="form-control"
                         type="number"
                         min="0"
                         name="sort">
                  <span v-if="errors.sort" class="text-danger">
                    <strong>{{ errors.sort[0] }}</strong>
                  </span>
                </div>
                <div class="form-group" :class="{ 'has-error' : errors.tagSelected }">
                  <label for="tagSelected">{{ $t('word.list_tag') }}</label>
                  <multiselect id="tagSelected"
                               v-model="tagSelected"
                               label="name"
                               track-by="_id"
                               placeholder="Lựa chọn nhãn thêm vào"
                               deselect-label="Nhấn enter để xóa"
                               select-label="Nhấn enter để chọn"
                               selected-label="Đã chọn"
                               :options="tags"
                               :allow-empty="false"
                               :multiple="true"
                               :taggable="true"
                               @tag="addTag"></multiselect>

                  <span v-if="errors.tagSelected" class="text-danger">
                    <strong>{{ errors.tagSelected[0] }}</strong>
                  </span>
                </div>
                <div class="form-group" :class="{ 'has-error' : errors.hashes }">
                  <label for="">Hashtag</label>
                  <multiselect v-model="hashSelected"
                               placeholder="Lựa chọn Hashtag thêm vào"
                               deselect-label="Nhấn enter để xóa"
                               select-label="Nhấn enter để chọn"
                               selected-label="Đã chọn"
                               :options="hashes"
                               :multiple="true"
                               :taggable="true"
                               @tag="addHashes"></multiselect>

                  <span v-if="errors.tagSelected" class="text-danger">
                    <strong>{{ errors.tagSelected[0] }}</strong>
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group" :class="{ 'has-error' : errors.content }">
                  <label for="content">{{ $t('word.content') }}</label>
                  <froala v-model="content" class="form-control" :tag="'textarea'" :config="configFroala"></froala>
                  <span v-if="errors.content" class="text-danger">
                    <strong>{{ errors.content[0] }}</strong>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group text-center">
              <button type="button"
                      class="btn btn-success btn-rounded btn-submit-form"
                      :disabled="loading"
                      @click.prevent="save()">
                <i :class="[loading ? 'far fa-circle-notch fa-spin' : 'fa fa-save']"></i> {{ $t('word.submit') }}
              </button>
              <router-link :to="{name: 'master.guide.list'}" class="btn btn-danger btn-rounded"><i
                class="fa fa-remove"> {{ $t('word.cancel') }}</i></router-link>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import { GET_GUIDE_CREATE, STORE_GUIDE } from './../../../api_master'
  import { strToSlug } from './../../../helpers/handle_function.js'
  import configFroala from './../../../mixins/config_froala.js'

  export default {
    name: 'CreateGuide',
    mixins: [configFroala],
    data() {
      return {
        title: '',
        slug: '',
        category: '',
        sort: 0,
        tagSelected: [],
        content: '',
        categories: [],
        tags: [],
        metaDescription: '',
        metaTitle: '',
        hashes: [],
        hashSelected: [],
        errors: {},
        loading: false,
        service: [],
        services: []
      }
    },
    computed: {
      configFroala() {
        let config = this.config
        config.imageUploadParam = `image_${this.category ? this.category.name : 'Chung'}`
        return config
      }
    },
    watch: {
      title: function() {
        this.slug = strToSlug(this.title)
      }
    },
    created() {
      axios.get(GET_GUIDE_CREATE).then(res => {
        this.tags = res.data.tags
        let categories = this.$t('configuration.category')
        this.categories = Object.keys(categories).map(key => {
          return {
            value: key,
            name: categories[key].name
          }
        })
        let services = this.$t('configuration.service')
        this.services = Object.keys(services).map(key => {
          return {
            value: key,
            name: services[key]
          }
        })
      })
    },
    methods: {
      addTag(newTag) {
        const tag = {
          name: newTag,
          _id: newTag
        }
        this.tags.push(tag)
        this.tagSelected.push(tag)
      },
      addHashes(value) {
        this.hashes.push(value)
        this.hashSelected.push(value)
      },
      save() {
        this.loading = true
        let payload = {
          title: this.title,
          slug: this.slug,
          meta_title: this.metaTitle,
          meta_description: this.metaDescription,
          sort: this.sort,
          content: this.content,
          hashes: this.hashSelected,
          tags: (this.tagSelected || []).slice(0).map(obj => obj.name),
          service_type: (this.service || []).slice(0).map(obj => obj.value),
          category: this.category.value || '',
        }
        axios.post(STORE_GUIDE, payload)
            .then(res => {
              this.$router.push({ name: 'master.guide.list' })
              this.$awn.success(res.data.message)
            })
            .catch(error => {
              if (typeof error.response !== undefined && error.response.status == 422) {
                this.errors = error.response.data.errors
              }
            })
            .finally(() => {
              this.loading = false
            })
      }
    }
  }
</script>
<style scoped>
  .img-thumbnail {
    max-width: 200px;
    max-height: 200px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin: 5px 5px 10px 5px;
  }

  .item {
    display: inline-table;
    line-height: 1.5;
  }

  @media screen and (max-width: 767px) {
    .table-responsive {
      border: none;
    }
  }
</style>