<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">{{ $t('master.user_guide.user_guide') }}</h4>
      </div>
      <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{name: 'home'}">{{ $t('word.home') }}</router-link>
          </li>
          <li class="active">{{ $t('word.guide') }}</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="white-box col">
        <div class="filterform">
          <form id="filter" action="#" method="GET">
            <div class="row">
              <div class="radio radio-info col-xs-3 col-xs-offset-3 text-center">
                <input id="visible" v-model="status" type="radio" value="1">
                <label for="visible">{{ $t('master.not_delete') }}</label>
              </div>
              <div class="radio radio-info col-xs-6 unvisible text-center">
                <input id="unvisible" v-model="status" type="radio" value="0">
                <label for="unvisible">{{ $t('master.deleted') }}</label>
              </div>
            </div>
          </form>
        </div>

        <div class="searchform clearfix">
          <h3 class="box-title row">
            <span class="col row">{{ $t('word.list') }}</span>
            <router-link :to="{name: 'master.guide.create'}"
                         class="btn btn-info pull-right btn-create btn-rounded col-auto">
              <i class="fa fa-plus"></i> {{ $t('word.create') }}
            </router-link>
          </h3>
        </div>

        <div class="table-responsive">
          <table class="table color-table info-table table-responsive">
            <thead>
              <tr>
                <th class="sort">{{ $t('word.sort') }}</th>
                <th>{{ $t('word.title') }}</th>
                <th>{{ $t('word.category_guide') }}</th>
                <th class="text-center">{{ $t('word.list_tag') }}</th>
                <th v-if="status == 0" width="120px" class="text-center">Ngày xóa</th>
                <th class="actions"></th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="loading">
                <td colSpan="5">
                  <pulse-loader :loading="loading" :color="'#27a1f2'"></pulse-loader>
                </td>
              </tr>
              <template v-else-if="guides.data && guides.data.length > 0">
                <tr v-for="(guide, index) in guides.data" :key="index">
                  <td>{{ (guides.current_page - 1) * guides.per_page + index + 1 }}</td>
                  <td>{{ guide.title }}</td>
                  <td>{{ categories[guide.category].name }}</td>
                  <td class="text-center">
                    <span v-for="tag in guide.tags" :key="tag" class="label label-primary tag-name">{{ tag }}</span>
                  </td>
                  <td v-if="status == 0">{{ convertToDate(guide.deleted_at) }}</td>
                  <td class="text-center">
                    <template v-if="!guide.deleted_at">
                      <router-link :to="{name: 'master.guide.edit', params: {id: guide._id}}"
                                   data-toggle="tooltip"
                                   :title="$t('word.edit')"
                                   class="btn btn-info btn-circle"><i class="fa fa-pencil"></i>
                      </router-link>
                      <div class="display-inline">
                        <a class="btn btn-danger btn-circle"
                           data-toggle="tooltip"
                           :title="$t('word.delete')"
                           @click="deleteGuide(guide._id, index)"><i class="fa fa-trash"></i>
                        </a>
                      </div>
                    </template>
                    <div v-else class="display-inline">
                      <a class="btn btn-success btn-circle"
                         data-toggle="tooltip"
                         :title="$t('word.restore')"
                         @click="restoreGuide(guide._id, index)"><i class="fa fa-recycle"></i>
                      </a>
                    </div>
                  </td>
                </tr>
              </template>
              <tr v-else>
                <td colSpan="5" class="no-data">{{ $t('word.no_data') }}</td>
              </tr>
            </tbody>
          </table>
          <pagination v-if="guides.last_page > 1"
                      :current-page="guides.current_page"
                      :total-page="guides.last_page"
                      @changePage="changePage"></pagination>
          <div v-if="scaleLoading" class="screen-loading">
            <scale-loader :loading="scaleLoading" :color="'#27a1f2'"></scale-loader>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import { GET_GUIDE_LIST, DELETE_GUIDE, RESTORE_GUIDE } from './../../../api_master'
  import Pagination from './../../partials/pagination'
  import PulseLoader from 'vue-spinner/src/PulseLoader'
  import ScaleLoader from 'vue-spinner/src/ScaleLoader'
  import { convertToDate } from './../../../helpers/handle_date_time.js'

  export default {
    name: 'GuideList',
    components: { Pagination, PulseLoader, ScaleLoader },
    data() {
      return {
        loading: true,
        scaleLoading: false,
        guides: {},
        status: '1',
      }
    },
    computed: {
      categories() {
        return this.$t('configuration.category')
      }
    },
    watch: {
      status: function() {
        this.getGuides()
      }
    },
    created() {
      this.getGuides()
    },
    methods: {
      getGuides(page = 1) {
        this.loading = true
        axios.get(`${GET_GUIDE_LIST}?status=${this.status}&page=${page}`)
          .then(result => {
            this.guides = result.data.guides
            this.loading = false
          })
      },
      changePage(page) {
        this.getGuides(page)
      },
      deleteGuide(guideId, index) {
        let conf = confirm(this.$i18n.t('master.user_guide.delete_guide_confirm'))
        if (conf) {
          this.scaleLoading = true
          axios.delete(`${DELETE_GUIDE}/${guideId}`).then(result => {
            this.guides.data.splice(index, 1)
            this.$awn.success(result.data.message)
            this.scaleLoading = false
          })
        }
      },
      restoreGuide(guideId, index) {
        let conf = confirm(this.$i18n.t('master.user_guide.restore_guide_confirm'))
        if (conf) {
          let method = {
            '_method': 'PUT'
          }
          axios.post(`${RESTORE_GUIDE}/${guideId}`, method)
            .then(result => {
            this.guides.data.splice(index, 1)
            this.$awn.success(result.data.message)
            this.scaleLoading = false
          })
        }
      },
      convertToDate(date) {
        return convertToDate(date)
      }
    }
  }
</script>
<style scoped>
  .unvisible {
    margin-top: 10px;
  }

  .tag-name {
    margin-right: 5px;
  }

  .display-inline {
    display: inline-block;
  }

  .list-tags {
    max-width: 250px;
    line-height: 25px !important;
  }

  .list-tags .label {
    display: inline-block;
  }
</style>
