<template>
  <div v-if="!riseLoading" class="modal-content">
    <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <ul class="nav nav-tabs">
        <li class="active">
          <a :href="'#common' + payload._id" data-toggle="tab" aria-expanded="true">
            {{ $t('word.information') }}
          </a>
        </li>
        <li v-if="payload.type == goodsSell">
          <a :href="'#ingredients' + payload._id" data-toggle="tab" aria-expanded="false">
            {{ $t('word.ingredient') }}
          </a>
        </li>
        <li>
          <a href="#related" data-toggle="tab" aria-expanded="false">
            {{ $t('restaurant.good.related') }}
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div :id="'common' + payload._id" class="tab-panel active fade in">
          <div class="row">
            <div class="col-md col-12">
              <div v-if="payload && payload.images.length > 0" class="row form-group">
                <div class="col-md-9 col-12">
                  <img
                    :src="$urlImage + payload.images[imageSelected]"
                    alt="image"
                    class="img-responsive">
                </div>
                <div class="col-md-3 col-12">
                  <template v-for="(image, index) in payload.images">
                    <div v-if="index != imageSelected" :key="index" class="col-12 p-10">
                      <img
                        :src="$urlImage + image"
                        alt="image"
                        class="cursor-pointer img-responsive opaque"
                        @click="imageSelected = index">
                    </div>
                  </template>
                </div>
              </div>
              <div class="form-group">
                <h4 class="box-title">{{ $t('word.description') }}</h4>
                <div v-html="payload.description"></div>
              </div>
            </div>
            <div class="col-md col-12">
              <h3 class="box-title">{{ $t('restaurant.good.detail') }}</h3>
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr>
                      <td width="40%">{{ $t('restaurant.good.code') }}</td>
                      <td>{{ payload.code }}</td>
                    </tr>
                    <tr>
                      <td width="40%">{{ $t('restaurant.good.name') }}</td>
                      <td>{{ payload.name }}</td>
                    </tr>
                    <tr>
                      <td :rowspan="payload.groupMenus.length">{{ $t('restaurant.good.group') }}</td>
                      <td>{{ payload.groupMenus[0].name }}</td>
                    </tr>
                    <template v-for="(group, index) in payload.groupMenus">
                      <tr v-if="index > 0" :key="index">
                        <td>{{ group.name }}</td>
                      </tr>
                    </template>
                    <tr>
                      <td>{{ $t('restaurant.good.price') }}</td>
                      <td>{{ payload.price }}</td>
                    </tr>
                    <tr>
                      <td>{{ $t('restaurant.good.price_origin') }}</td>
                    <!-- <td>{{ getPriceOrigin() }}</td> -->
                    </tr>
                    <tr>
                      <td>{{ $t('word.unit') }}</td>
                      <td>{{ units[payload.unit] || payload.unit }}</td>
                    </tr>
                    <template v-if="payload.type == goodsImported">
                      <tr>
                        <td>{{ $t('restaurant.good.inventory_number') }}</td>
                        <td>{{ payload.inventory_number }}</td>
                      </tr>
                      <tr>
                        <td>{{ $t('restaurant.good.inventory_level') }}</td>
                        <td>{{ payload.inventory_min }} > {{ payload.inventory_max }}</td>
                      </tr>
                    </template>
                    <template v-if="payload.properties.length > 1">
                      <tr>
                        <td
                          :rowspan="payload.properties.length">{{ $t('restaurant.good.properties') }}
                        </td>
                        <td>{{ payload.properties[0].name }}: {{ payload.properties[0].value }}</td>
                      </tr>
                      <template v-for="(property, index) in payload.properties">
                        <tr v-if="index != 0" :key="index">
                          <td>{{ property.name }}: {{ property.value }}</td>
                        </tr>
                      </template>
                    </template>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div :id="'ingredients' + payload._id" class="tab-panel ingredients">
          <table class="table color-table info-table table-responsive">
            <thead>
              <tr>
                <th>{{ $t('word.sort') }}</th>
                <th>{{ $t('restaurant.good.code') }}</th>
                <th>{{ $t('restaurant.good.ingredient_name') }}</th>
                <th>{{ $t('word.count') }}</th>
                <th>{{ $t('restaurant.good.price_origin') }}</th>
                <th>{{ $t('word.total_money') }}</th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="payload.ingredients && payload.ingredients.length == 0">
                <td colspan="6" class="no-data">{{ $t('word.no_data') }}</td>
              </tr>
              <tr v-for="(good, index) in payload.ingredients" :key="index">
                <td>{{ index + 1 }}</td>
                <td>{{ good.code }}</td>
                <td>{{ good.name }}</td>
                <td>{{ good.count }}</td>
                <td>{{ good.price_origin }}</td>
                <td>{{ parseInt(good.count * good.price_origin) }}</td>
              </tr>
              <tr class="text-right out-table">
                <td colspan="5">
                  <strong>{{ $t('word.total_money') }}</strong>
                </td>
                <td>{{ totalMoneyIngredient }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="related" class="tab-panel">
          <table class="table color-table info-table table-responsive">
            <thead>
              <tr>
                <th>{{ $t('restaurant.good.code') }}</th>
                <th>{{ $t('restaurant.good.name') }}</th>
                <th>{{ $t('restaurant.good.price') }}</th>
                <th
                  v-if="payload.type == goodsImported">{{ $t('restaurant.good.inventory_number') }}
                </th>
                <th v-else-if="payload.type == goodsSell">{{ $t('word.ingredient') }}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            <!-- <tr v-if="payload.childs.length == 0">
            <td colspan="5" class="no-data">{{ $t('word.no_data')}}</td>
            </tr>-->
            <!--  <tr v-for="(child, index) in payload.childs" :key="child._id">
            <td>{{ child.code }}</td>
            <td>
              <span class="pointer">{{ child.name }}</span>
              <div style="font-size: 10px;"><i>{{ getSuffixesName(child.properties) }}</i>
              </div>
            <td>{{ formatPrice(child.price) }}</td>
            <td v-if="payload.type == goodsImported">{{ formatPrice(child.inventory_number) }}</td>
            <td v-if="payload.type == goodsSell">
              <div v-for="ingredient in child.ingredients" :key="ingredient.id">
                <span><strong>{{ ingredient.name }}: </strong></span>{{ ingredient.count }} {{ units[ingredient.unit]
                || ingredient.unit }}
              </div>
            </td>
            <td>
              <router-link :to="{ name: 'restaurant.goods.edit', params: { goodId: child._id }}"
                           v-check="{ permission: 'goods.update' }"
                           class="btn btn-circle btn-info" data-toggle="tooltip" data-dismiss="modal"
                           :title="$t('word.edit')"><i
                  class="fa fa-pencil-alt"></i></router-link>
              <a v-if="child.status == inactive" v-check="{ permission: 'goods.update' }"
                 @click.prevent="enableGood(child._id, index)"
                 class="btn btn-circle btn-warning"
                 data-toggle="tooltip" :title="$t('restaurant.good.reactive')">
                <i class="fa fa-unlock"></i>
              </a>
              <a v-else @click.prevent="disableGood(child._id, index)" v-check="{ permission: 'goods.update' }"
                 class="btn btn-circle btn-success"
                 data-toggle="tooltip" :title="$t('restaurant.good.inactive')">
                <i class="fa fa-lock"></i>
              </a>
              <a @click="deleteGood(child._id, index)" v-check="{ permission: 'goods.delete' }"
                 class="btn btn-danger btn-circle" data-toggle="tooltip"
                 :title="$t('word.delete')"><i class="fa fa-trash"></i></a>
            </td>
            </tr>-->
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">
        <i class="far fa-ban"></i>
        {{ $t('word.close') }}
      </button>
      <a
        type="button"
        class="btn btn-info waves-effect text-left"
        data-dismiss="modal"
        @click="copy()">{{ $t('restaurant.good.add_ralated_goods') }}</a>
    </div>
  </div>
  <div v-else class="spinner-rise">
    <rise-loader :loading="riseLoading" :color="'#27a1f2'"></rise-loader>
  </div>
</template>
<script>
  import { ENABLE_GOODS, DISABLE_GOODS, DELETE_GOODS } from '../../../api'
  import {
    GOODS_STATUS_ACTIVE,
    GOODS_STATUS_INACTIVE,
    GOODS_TYPE_IMPORTED,
    GOODS_TYPE_SELL
  } from '../../../constants'
  import RiseLoader from 'vue-spinner/src/RiseLoader'
  import { formatPrice } from '../../../helpers/handle_function.js'

  export default {
    components: { RiseLoader },
    props: {
      payload: {
        type: Object,
        default: null
      }
    },
    data() {
      return {
        riseLoading: false,
        url: this.$urlImage,
        imageSelected: 0
      }
    },
    computed: {
      typeUrl() {
        switch (this.payload.type) {
          case 2:
            return 'processed'
          default:
            return ''
        }
      },
      units() {
        return this.$t('config.goods.units')
      },
      totalMoneyIngredient() {
        let total = 0
        for (let i in this.payload.ingredients) {
          total +=
              this.payload.ingredients[i].count *
              this.payload.ingredients[i].price_origin
        }
        return parseInt(total) || 0
      },
      inactive() {
        return GOODS_STATUS_INACTIVE
      },
      active() {
        return GOODS_STATUS_ACTIVE
      },
      goodsImported() {
        return GOODS_TYPE_IMPORTED
      },
      goodsSell() {
        return GOODS_TYPE_SELL
      }
    },
    created() {
      console.log(this.payload)
    },
    methods: {
      getSuffixesName(options) {
        var name = ''
        for (let i = 0; i < options.length; i++) {
          name = name + '-' + options[i].value
        }
        return name
      },
      enableGood(id, index) {
        axios.put(`${ENABLE_GOODS}/${id}`).then(res => {
          this.payload.childs[index].status = this.active
          this.$awn.success(res.data.message)
        })
      },
      disableGood(id, index) {
        let conf = confirm(this.$t('restaurant.good.confirm_disable'))
        if (conf) {
          axios.put(`${DISABLE_GOODS}/${id}`).then(res => {
            this.payload.childs[index].status = this.inactive
            this.$awn.success(res.data.message)
          })
        }
      },
      deleteGood(id, index) {
        let conf = confirm(this.$t('restaurant.good.confirm_delete'))
        if (conf) {
          axios.delete(`${DELETE_GOODS}/${id}`).then(() => {
            this.payload.childs.splice(index, 1)
          })
        }
      },
      copy() {
        this.$router.push({
          name: 'restaurant.good_import.create',
          params: { good: this.payload, type: this.typeUrl }
        })
      },
      getPriceOrigin() {
        switch (this.payload.type) {
          case 2:
            var money = 0
            for (let i in this.payload.ingredients) {
              money += this.payload.ingredients[i].price_origin * this.payload.ingredients[i].count
            }
            return formatPrice(money)
          default:
            return formatPrice(this.payload.price_origin)
        }
      },
      formatPrice(number) {
        return formatPrice(number)
      }
    }
  }
</script>
<style scoped lang="scss">
  .opaque {
    opacity: 0.5;
  }

  .ingredients {
    th,
    td {
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        text-align: right;
      }
    }
  }
</style>