<template>
  <div>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">
        {{ $t('word.add') }} {{ $t('restaurant.good.menu') }} {{
          $t('restaurant.good.from_imported_goods') }}
      </h4>
      <div class="clearfix"></div>
    </div>
    <div class="modal-body">
      <div class="row">
        <div v-for="(good, index) in goods" :key="index" class="col-md-4 col-sm-3 col-6">
          <div class="checkbox checkbox-success checkbox-circle">
            <input :id="good._id" v-model="good.is_sale" type="checkbox">
            <label :for="good._id">{{ good.name }}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info" @click.prevent="save()">
        <i :class="[loading ? 'far fa-spinner-third fa-spin' : 'far fa-check']"></i>
        {{ $t('word.save') }}
      </button>
      <button class="btn btn-default" data-dismiss="modal">
        <i class="far fa-ban"></i>
        {{ $t('word.cancel') }}
      </button>
    </div>
  </div>
</template>

<script>
import { LIST_IMPORTED_GOODS, UPDATE_LIST_MENU } from '../../../api'

export default {
  name: 'SelectMenu',
  data() {
    return {
      goods: [],
      loading: false
    }
  },
  created() {
    axios.get(LIST_IMPORTED_GOODS).then(res => {
      this.goods = res.data.goods
    })
  },
  methods: {
    save() {
      this.loading = true
      let arr = this.goods.filter(obj => obj.is_sale).map(obj => obj._id)
      axios.put(UPDATE_LIST_MENU, { goods_sale: arr }).then(res => {
        $('#modal').modal('hide')
        this.$awn.success(res.data.message)
        location.reload()
      })
    }
  }
}
</script>

<style scoped>
</style>