<template>
  <div class="modal-content">
    <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <div class="row">
        <div class="col-md-8 col-12">
          <h3 class="box-title">{{ $t('restaurant.invoice.detail') }}</h3>
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td width="40%">{{ $t('restaurant.invoice.code') }}</td>
                  <td>{{ invoice.code }}</td>
                </tr>
                <tr>
                  <td width="40%">{{ $t('word.created_at') }}</td>
                  <td>{{ convertToDateTime(invoice.created_at) }}</td>
                </tr>
                <tr>
                  <td width="40%">{{ $t('restaurant.returned_invoice.pay_for') }}</td>
                  <td>
                    <a v-if="invoice.invoice" href="#" data-dismiss="modal"
                       @click.prevent="redirectInvoice()">
                      {{ invoice.invoice.code }}</a>
                  </td>
                </tr>
                <tr>
                  <td width="40%">{{ $t('word.status') }}</td>
                  <td>
                    <span v-if="invoice.status == 1"
                          class="label label-info">{{ $t('restaurant.returned_invoice.paid') }}</span>
                    <span v-else-if="invoice.status == 2"
                          class="label label-warning">{{ $t('restaurant.returned_invoice.disable') }}</span>
                  </td>
                </tr>
                <tr>
                  <td width="40%">{{ $t('restaurant.invoice.recipient') }}</td>
                  <td>{{ invoice.creator ? invoice.creator.fullname : '' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div>{{ invoice.note }}</div>
        </div>
      </div>
      <div class="row col-12">
        <table class="table color-table info-table table-responsive">
          <thead>
            <tr>
              <th>{{ $t('restaurant.good.code') }}</th>
              <th>{{ $t('restaurant.good.name') }}</th>
              <th>{{ $t('word.count') }}</th>
              <th>{{ $t('restaurant.good.price') }}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-if="payload.goods && payload.goods.length == 0" class="text-center">
              <td colspan="5">{{ $t('word.no_data') }}</td>
            </tr>
            <tr v-for="(good, index) in invoice.goods" :key="index">
              <td>{{ good.code }}</td>
              <td>{{ good.name }}</td>
              <td>{{ formatPrice(good.count) }}</td>
              <td>{{ formatPrice(good.price) }}</td>
            </tr>
            <tr class="text-right">
              <td colspan="3"><strong>{{ $t('word.total_money') }}:</strong></td>
              <td>{{ formatPrice(invoice.total) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">
        <i class="far fa-ban"></i> {{ $t('word.close') }}
      </button>
    </div>
  </div>
</template>

<script>
  import RETURNED_INVOICE from './../../../apollo/query/returned_invoice/get_by_id.gql'
  import { formatPrice } from './../../../helpers/handle_function.js'
  import { convertToDateTime } from './../../../helpers/handle_date_time.js'

  export default {
    name: 'Detail',
    props: {
      payload: {
        type: String,
        default: ''
      }
    },
    data() {
      return {
        invoice: {},
        total: 0,
      }
    },
    apollo: {
      returned_invoice: {
        query: RETURNED_INVOICE,
        variables() {
          return {
            returnedInvoiceId: this.payload.returned_invoice_id
          }
        },
        result ({ data }) {
          this.total = 0
          this.invoice = data.returned_invoice
        }
      }
    },
    methods: {
      convertToDateTime(date) {
        return convertToDateTime(date)
      },
      formatPrice(number) {
        return formatPrice(number)
      },
      redirectInvoice() {
        this.$router.push({ name: 'restaurant.invoice.list', params: {
          code: this.invoice.invoice.code
        }})
      }
    }
  }
</script>

<style scoped lang="scss">
  tr {
    td, th {
      &:nth-child(4), &:nth-child(5) {
        text-align: right;
      }
    }
  }
</style>