<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-12 col-sm">
        <h4 class="page-title">{{ $t('restaurant.manage_invoice') }}</h4>
      </div>
      <div class="col-12 col-sm-auto">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{ name: 'home' }">{{ $t('word.home') }}</router-link>
          </li>
          <li class="active">{{ $t('restaurant.invoice.invoice') }}</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="white-box col-12">
        <div class="row clearfix">
          <h3 class="col-12 box-title row justify-content-end">
            <span class="col-sm hidden-xs row">{{ $t('word.list') }}</span>
            <div class="col-auto row">
              <button class="btn btn-info m-r-10"
                      data-toggle="collapse"
                      data-target="#search"
                      aria-expanded="false"
                      aria-controls="collapseExample">
                <i class="fa fa-search"></i> {{ $t('word.filter') }}
              </button>
            </div>
          </h3>
          <div class="col-12">
            <div class="row">
              <div id="search" class="collapse col-12">
                <div class="row">
                  <div class="form-group col-6 col-md">
                    <input v-model="code"
                           type="text"
                           class="form-control"
                           :placeholder="$t('restaurant.invoice.code')"
                           @keyup.enter="search">
                  </div>
                  <div class="form-group col-6 col-md">
                    <date-picker v-model="startDate"
                                 :language="language"
                                 input-class="form-control"
                                 wrapper-class="wrapper"
                                 format="dd-MM-yyyy"
                                 :placeholder="$t('word.start_date')"
                                 @input="search"></date-picker>
                  </div>
                  <div class="form-group col-6 col-md">
                    <date-picker v-model="endDate"
                                 :language="language"
                                 input-class="form-control"
                                 wrapper-class="wrapper"
                                 format="dd-MM-yyyy"
                                 :placeholder="$t('word.end_date')"
                                 @input="search"></date-picker>
                  </div>
                  <div class="form-group col-6 col-md">
                    <multiselect v-model="statusSelected"
                                 :options="statusOptions"
                                 label="name"
                                 track-by="value"
                                 :searchable="false"
                                 :show-labels="false"
                                 :placeholder="$t('word.status')"
                                 @input="search"></multiselect>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table color-table info-table invoice-table">
            <thead>
              <tr>
                <th>#</th>
                <th>{{ $t('restaurant.invoice.code') }}</th>
                <th>{{ $t('word.creator') }}</th>
                <th>{{ $t('word.created_at') }}</th>
                <th>{{ $t('word.total_money') }}</th>
                <th>{{ $t('word.status') }}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="loading">
                <td colspan="7">
                  <pulse-loader :loading="loading" :color="'#27a1f2'"></pulse-loader>
                </td>
              </tr>
              <template v-else-if="invoices.data && invoices.data.length > 0">
                <tr v-for="(invoice, index) in invoices.data" :key="invoice._id">
                  <td>{{ index + 1 }}</td>
                  <td>{{ invoice.code }}</td>
                  <td>{{ invoice.creator.fullname }}</td>
                  <td>{{ convertToDate(invoice.created_at) }}</td>
                  <td>{{ getTotal(invoice) }}</td>
                  <td>
                    <span v-if="invoice.status == statusPaid"
                          class="label label-success">{{ $t('restaurant.returned_invoice.paid') }}</span>
                    <span v-else-if="invoice.status == statusDisabled" class="label label-default">
                      {{ $t('restaurant.returned_invoice.disable') }}</span>
                  </td>
                  <th>
                    <button class="btn btn-info btn-circle"
                            data-toggle="tooltip"
                            :title="$t('word.detail')"
                            @click="detail(invoice._id)">
                      <i class="fa fa-info"></i>
                    </button>
                    <template v-check="{ permission: 'returned-invoice.disable'}">
                      <a v-if="invoice.status == statusPaid"
                         class="btn btn-danger btn-circle"
                         data-toggle="tooltip"
                         :title="$t('restaurant.invoice.disable')"
                         @click="disable(invoice._id, index)">
                        <i class="far fa-lock"></i>
                      </a>
                      <a v-else class="btn btn-danger btn-circle" disabled="true">
                        <i class="far fa-lock"></i>
                      </a>
                    </template>
                    <template v-check="{permission: 'form-invoice.list'}">
                      <a v-if="invoice.status == statusPaid"
                         class="btn btn-primary btn-circle"
                         data-toggle="tooltip"
                         :title="$t('word.print')"
                         @click="print(invoice)">
                        <i class="far fa-print"></i>
                      </a>
                      <a v-else disabled="true" class="btn btn-info btn-circle">
                        <i class="far fa-print"></i>
                      </a>
                    </template>
                  </th>
                </tr>
              </template>
              <tr v-else>
                <td class="no-data" colspan="6">{{ $t('word.no_data') }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <pagination v-if="invoices.last_page > 1"
                    :current-page="invoices.current_page"
                    :total-page="invoices.last_page"
                    @changePage="changePage"></pagination>
      </div>
    </div>
    <div style="display: none">
      <template-compiled :type="typeReturned"
                         :variables-value="variablesValue"
                         :template-editor="templateSelected.content"
                         :size="parseInt(templateSelected.size)"></template-compiled>
    </div>
    <select-template :templates="templates"
                     :template="templateSelected"
                     @selected="selectTemplate"></select-template>
  </div>
</template>

<script>
  import { LIST_RETURNED_INVOICE, DISABLE_RETURNED_INVOICE, LIST_INVOICE_FORM_BY_TYPE } from './../../../api'
  import {
    INVOICE_FORM_TYPE_RETURNED_INVOICE,
    RETURNED_INVOICE_PAID,
    RETURNED_INVOICE_DISABLED,
    SIZE_K80,
    SIZE_TEMPLATE
  } from './../../../constants'
  import PulseLoader from 'vue-spinner/src/PulseLoader'
  import Pagination from './../../partials/pagination'
  import DatePicker from 'vuejs-datepicker'
  import * as lang from 'vuejs-datepicker/src/locale'
  import { convertToDate } from './../../../helpers/handle_date_time.js'
  import moment from 'moment'
  import { formatPrice } from './../../../helpers/handle_function.js'
  import templateSaleInvoice from './../../../helpers/returned_invoice_default'
  import exampleTemplates from './../../../print_template/returned_invoice'
  import SelectTemplate from './../../restaurants/templates/select_template'
  import TemplateCompiled from './../../restaurants/templates/template_compiled'
  import variablesValue from './../../../mixins/set_variables_returned_invoice'
  import { totalInvoice } from './../../../helpers/calculate_invoice.js'

  export default {
    name: 'ListInvoice',
    components: {
      PulseLoader, Pagination, DatePicker, SelectTemplate, TemplateCompiled
    },
    mixins: [variablesValue],
    data() {
      return {
        loading: false,
        invoices: {},
        startDate: null,
        endDate: null,
        code: '',
        statusOptions: [],
        statusSelected: null,
        templateSelected: {},
        templates: [],
        loadedTemplate: false,
        variablesValue: {}
      }
    },
    computed: {
      language() {
        return lang[this.locale]
      },
      locale() {
        return this.$i18n.locale
      },
      statusPaid() {
        return RETURNED_INVOICE_PAID
      },
      statusDisabled() {
        return RETURNED_INVOICE_DISABLED
      },
      typeReturned() {
        return INVOICE_FORM_TYPE_RETURNED_INVOICE
      }
    },
    watch: {
      templateSelected: function() {
        this.setSize()
      }
    },
    created() {
      this.code = this.$route.params.code
      this.date = Date.now()
      this.statusOptions = [
        { name: this.$t('restaurant.returned_invoice.paid'), value: 1 },
        { name: this.$t('restaurant.returned_invoice.disable'), value: 2 },
      ]
      this.getInvoices()
    },
    updated() {
      $('[data-toggle="tooltip"]').tooltip()
    },
    destroyed() {
      $('style[title=\'size\']').remove()
    },
    methods: {
      getInvoices(page = 1) {
        this.loading = true
        let start = this.startDate ? `start=${moment(this.startDate).format('DD-MM-YYYY')}&` : ''
        let end = this.endDate ? `end=${moment(this.endDate).format('DD-MM-YYYY')}&` : ''
        let queryCode = this.code ? `code=${this.code}&` : ''
        let queryStatus = this.statusSelected && this.statusSelected.value ? `status=${this.statusSelected.value}&` : ''
        axios.get(`${LIST_RETURNED_INVOICE}?${start}${end}${queryCode}${queryStatus}page=${page}`)
            .then(res => {
              this.loading = false
              this.invoices = res.data.invoices
            })
            .catch(() => {
              this.loading = false
            })
      },
      getTotal(invoice) {
        return formatPrice(totalInvoice(invoice))
      },
      async print(invoice) {
        this.variablesValue = this.getValueInvoice(invoice)
        if (!this.loadedTemplate) {
          await axios.get(`${LIST_INVOICE_FORM_BY_TYPE}?type=${this.typeReturned}`)
              .then(res => {
                this.templates = res.data.invoice_forms
                let examples = exampleTemplates[this.locale]
                for (let index in examples) {
                  this.templates.push({
                    size: index,
                    type: this.typeReturnedInvoice,
                    name: this.$t('word.template_default'),
                    content: exampleTemplates[this.locale][index],
                  })
                }
                if (templateSaleInvoice.getItem()) {
                  this.templateSelected = templateSaleInvoice.getItem()
                } else {
                  this.templateSelected = this.templates.find(obj => obj.size == SIZE_K80)
                  templateSaleInvoice.setItem(this.templateSelected)
                }
                this.loadedTemplate = true
              })
        }
        $('#selectTemplate').modal('show')
      },
      convertToDate(date) {
        return convertToDate(date)
      },
      search() {
        this.getInvoices()
      },
      async selectTemplate(template) {
        this.templateSelected = template
        templateSaleInvoice.setItem(template)
        await this.convertPrintData()
      },
      convertPrintData() {
        this.setSize()
        this.$nextTick(() => {
          bus.$emit('print', $('#invoiceForm').html())
        })
      },
      setSize() {
        $('style[title=\'size\']').remove()
        let size = SIZE_TEMPLATE[this.templateSelected.size]
        let value = size.width + (size.height ? ` ${size.height}` : '')
        $('head').append('<style title=\'size\'>@media print {@page { size: ' + value + ';}}</style>')
      },
      detail(invoiceId) {
        bus.$emit('modal', {
          component: 'detail-returned-invoice',
          backdrop: 'static',
          size: 'lg',
          payload: {
            returned_invoice_id: invoiceId
          }
        })
      },
      disable(id, index) {
        let conf = confirm(this.$t('restaurant.invoice.confirm_disable'))
        if (conf) {
          axios.put(`${DISABLE_RETURNED_INVOICE}/${id}`)
              .then(res => {
                this.invoices.data[index].status = this.statusDisabled
                this.$awn.success(res.data.message)
              })
        }
      },
      changePage(page) {
        this.getInvoices(page)
      }
    }
  }
</script>

<style scoped lang="scss">
  tr {
    th, td {
      &:nth-child(5) {
        text-align: right;
      }
      &:nth-child(6), &:nth-child(7) {
        text-align: center;
      }
    }
  }
</style>