<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">{{ $t('master.slider_manager.edit_slider') }}</h4>
      </div>
      <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{name: 'home'}">{{ $t('word.home') }}</router-link>
          </li>
          <li>
            <router-link :to="{name: 'master.slider.list'}">{{ $t('master.slider_manager.slider') }}</router-link>
          </li>
          <li class="active">{{ $t('word.edit') }}</li>
        </ol>
      </div>
    </div>
    <div v-if="!loading" class="row">
      <div class="white-box col">
        <div class="panel-body">
          <div class="col-sm-12">
            <form id enctype="multipart/form-data">
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group" :class="{ 'has-error' : errors.title }">
                    <label>{{ $t('word.title') }}</label>
                    <input
                      id="title"
                      v-model="slider.title"
                      class="form-control"
                      type="text"
                      name="title">
                    <span v-if="errors.title" class="text-danger">
                      <strong>{{ errors.title[0] }}</strong>
                    </span>
                  </div>
                  <div class="form-group" :class="{ 'has-error' : errors.link }">
                    <label>{{ $t('word.link') }}</label>
                    <input
                      id="link"
                      v-model="slider.link"
                      class="form-control"
                      type="text"
                      name="link">
                    <span v-if="errors.link" class="text-danger">
                      <strong>{{ errors.link[0] }}</strong>
                    </span>
                  </div>
                  <div class="form-group" :class="{ 'has-error' : errors.type }">
                    <label>{{ $t('word.type') }}</label>
                    <multiselect
                      v-model="type"
                      value="value"
                      track-by="value"
                      label="name"
                      allow-empty="false"
                      :options="displayTypes"
                      :placeholder="$t('master.slider_manager.type')"
                      select-label
                      selected-label
                      deselect-label
                      disabled="true"></multiselect>
                    <span v-if="errors.type" class="text-danger">
                      <strong>{{ errors.type[0] }}</strong>
                    </span>
                  </div>
                </div>
                <div class="col-md-5 col-md-offset-2">
                  <div
                    class="form-group select-slider-image"
                    :class="{ 'has-error' : errors.image }">
                    <label class="item" for="image">{{ $t('word.image') }}</label>
                    <img
                      id="slider-image"
                      class="img-thumbnail item"
                      :class="isDisplayImage ? 'display-img' : ''"
                      :src="linkImage"
                      width="100"
                      height="70">
                    <input id="image"
                           class="item"
                           type="file"
                           name="image"
                           @change="fileChange">
                    <span v-if="errors.image" class="text-danger">
                      <strong>{{ errors.image[0] }}</strong>
                    </span>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button
                  type="button"
                  class="btn btn-success btn-rounded btn-submit-form"
                  @click.prevent="save()">
                  <i class="fa fa-save"></i>
                  {{ $t('word.submit') }}
                </button>
                <router-link :to="{name: 'master.slider.list'}" class="btn btn-danger btn-rounded">
                  <i class="fa fa-remove"></i>
                  {{ $t('word.cancel') }}
                </router-link>
              </div>
            </form>
          </div>
        </div>
        <div v-if="scaleLoading" class="screen-loading">
          <scale-loader :loading="scaleLoading" :color="'#27a1f2'"></scale-loader>
        </div>
      </div>
    </div>
    <div v-if="loading" class="spinner-rise">
      <rise-loader :loading="loading" :color="'#27a1f2'"></rise-loader>
    </div>
  </div>
</template>
<script>
import { GET_SLIDER_EDIT, UPDATE_SLIDER } from './../../../api_master'
import RiseLoader from 'vue-spinner/src/RiseLoader'
import ScaleLoader from 'vue-spinner/src/ScaleLoader'
import {
  SLIDE_TYPE_SHOW_WEB,
  SLIDE_TYPE_SHOW_MOBILE
} from '../../../constants.js'
export default {
  name: 'EditSlider',
  components: { RiseLoader, ScaleLoader },
  data() {
    return {
      sliderId: '',
      slider: {
        title: '',
        link: '',
        type: '',
        photo_url: ''
      },
      image: '',
      type: {},
      displayTypes: [],
      linkImage: '',
      isDisplayImage: false,
      errors: [],
      loading: true,
      scaleLoading: false
    }
  },
  created() {
    this.displayTypes = [
      {
        name: this.$t('master.slider_manager.type_show_web'),
        value: SLIDE_TYPE_SHOW_WEB
      },
      {
        name: this.$t('master.slider_manager.type_show_mobile'),
        value: SLIDE_TYPE_SHOW_MOBILE
      }
    ]
    this.sliderId = this.$route.params.id
    axios
      .get(`${GET_SLIDER_EDIT}/${this.sliderId}`)
      .then(result => {
        this.slider = result.data.slider
        this.type = this.displayTypes.find(
          type => type.value === this.slider.type
        )
        if (typeof result.data.slider.photo_url['origin'] != 'undefined') {
          this.linkImage = this.$baseUrl(
            result.data.slider.photo_url['origin']
          )
          this.isDisplayImage = true
        }
      })
      .finally(() => {
        this.loading = false
      })
  },
  methods: {
    fileChange(e) {
      let files = e.target.files || e.dataTransfer.files
      if (!files.length) return
      this.createImage(files[0])
    },
    createImage(file) {
      let reader = new FileReader()
      let vm = this
      reader.onload = e => {
        vm.image = file
        vm.linkImage = e.target.result
        vm.isDisplayImage = true
      }
      reader.readAsDataURL(file)
    },
    save() {
      this.scaleLoading = true

      let formData = new FormData()

      formData.append('title', this.slider.title)
      formData.append('link', this.slider.link)
      formData.append('image', this.image)
      formData.append('_method', 'PUT')

      axios
        .post(`${UPDATE_SLIDER}/${this.sliderId}`, formData, {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        })
        .then(result => {
          this.scaleLoading = false
          this.$awn.success(result.data.message)
          this.$router.push({ name: 'master.slider.list' })
        })
        .catch(error => {
          this.scaleLoading = false
          if (
            typeof error.response !== undefined &&
            error.response.status == 422
          ) {
            this.errors = error.response.data.errors
          }
        })
    }
  }
}
</script>
<style scoped>
.img-thumbnail {
  display: none;
}
.display-img {
  display: inline-block;
}
</style>