<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">{{ $t('master.slider_manager.slider_manager') }}</h4>
      </div>
      <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{name: 'home'}">{{ $t('word.home') }}</router-link>
          </li>
          <li class="active">{{ $t('master.slider_manager.slider') }}</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="white-box col">
        <div class="searchform clearfix">
          <h3 class="box-title row">
            <span class="col row">{{ $t('word.list') }}</span>
            <router-link
              :to="{name: 'master.slider.create'}"
              class="btn btn-info pull-right btn-rounded col-auto">
              <i class="fa fa-plus"></i>
              {{ $t('word.create') }}
            </router-link>
          </h3>
        </div>
        <div class="table-responsive">
          <table class="table color-table info-table table-responsive">
            <thead>
              <tr>
                <th class="sort">{{ $t('word.sort') }}</th>
                <th>{{ $t('word.title') }}</th>
                <th width="100">{{ $t('word.image') }}</th>
                <th>{{ $t('word.link') }}</th>
                <th class="status">{{ $t('word.status') }}</th>
                <th class="actions"></th>
              </tr>
            </thead>
            <tbody>
              <template v-if="!loading">
                <tr v-for="(slider, index) in sliders" :key="slider.id">
                  <td>{{ (currentPage - 1) * perPage + index + 1 }}</td>
                  <td :title="slider.title">{{ getSubString(slider.title) }}</td>
                  <td>
                    <img
                      :src="getLinkImage(slider.photo_url.origin)"
                      height="60"
                      class="img-thumbnail">
                  </td>
                  <td :title="slider.link">{{ getSubString(slider.link) }}</td>
                  <td class="text-center">
                    <div @change="changeStatus(slider.id, slider.status)">
                      <switches v-model="slider.status" theme="bootstrap" color="success"></switches>
                    </div>
                  </td>
                  <td class="text-center">
                    <router-link
                      :to="{name: 'master.slider.edit', params: {id: slider.id}}"
                      data-toggle="tooltip"
                      :title="$t('word.edit')"
                      class="btn btn-info btn-circle">
                      <span class="fa fa-pencil"></span>
                    </router-link>
                    <a
                      class="btn btn-danger btn-circle"
                      data-toggle="tooltip"
                      :title="$t('word.delete')"
                      @click="deleteSlider(slider.id, index)">
                      <i class="fa fa-trash"></i>
                    </a>
                  </td>
                </tr>
              </template>

              <tr v-if="loading">
                <td colspan="6">
                  <pulse-loader :loading="loading" :color="'#27a1f2'"></pulse-loader>
                </td>
              </tr>
              <tr v-else-if="sliders.length === 0">
                <td colspan="6" class="text-center">{{ $t('word.no_data') }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <pagination
          v-if="lastPage > 1"
          :current-page="currentPage"
          :total-page="lastPage"
          @changePage="changePage"></pagination>
      </div>
    </div>
  </div>
</template>
<script>
  import Switches from 'vue-switches'
  import {
    GET_SLIDER_LIST,
    GET_SLIDER_CHANGE_STATUS,
    DELETE_SLIDER
  } from './../../../api_master'
  import Pagination from './../../partials/pagination'
  import PulseLoader from 'vue-spinner/src/PulseLoader'

  export default {
    name: 'SliderList',
    components: {
      Switches,
      Pagination,
      PulseLoader,
    },
    data() {
      return {
        loading: true,
        sliders: {},
        currentPage: 1,
        perPage: 10,
        lastPage: null
      }
    },
    created() {
      axios.get(GET_SLIDER_LIST)
        .then(result => {
          this.sliders = result.data.sliders.data
          this.setPagination(result.data.sliders.pagination)
        })
        .finally(() => {
          this.loading = false
        })
    },
    updated() {
      $('[data-toggle="tooltip"]').tooltip()
    },
    methods: {
      getLinkImage(url) {
        return this.$baseUrl(url)
      },
      getSubString(str) {
        return str.length > 50 ? str.substr(0, 50) + '...' : str
      },
      changePage(page) {
        this.loading = true
        axios
          .get(`${GET_SLIDER_LIST}?page=${page}`)
          .then(result => {
            this.sliders = result.data.sliders.data
            this.setPagination(result.data.sliders.pagination)
          })
          .finally(() => {
            this.loading = false
          })
      },
      setPagination(pagination) {
        this.perPage = pagination.per_page
        this.lastPage = pagination.total_page
        this.currentPage = pagination.current_page
      },
      changeStatus(sliderId, sliderStatus) {
        let data = {
          status: sliderStatus === true ? 1 : 0
        }
        axios.put(`${GET_SLIDER_CHANGE_STATUS}/${sliderId}`, data)
          .then(() => {})
      },
      deleteSlider(sliderId, index) {
        let conf = confirm(
          this.$i18n.t('master.slider_manager.delete_slider_confirm')
        )
        if (conf) {
          axios
            .delete(`${DELETE_SLIDER}/${sliderId}`)
            .then(result => {
              this.sliders.splice(index, 1)
              this.$awn.success(result.data.message)
            })
            .catch(error => {
              this.$awn.alert(error.response.data.message)
            })
        }
      }
    }
  }
</script>