<template>
  <div class="container-fluid">
    <div class="row">
      <div class="white-box col" style="margin-top: 10px;">
        <div>
          <h3 class="box-title row">
            {{ $t('word.report') }} {{ companyName }}
          </h3>
        </div>
        <form class="form-inline" action="#">
          <div class="row">
            <div class="form-group col-md-3 col-sm-6" :class="{ 'has-error' : errors.month }">
              <date-picker v-model="monthYear"
                           :language="language"
                           input-class="form-control"
                           wrapper-class="wrapper"
                           format="MM-yyyy"
                           :placeholder="$t('word.month_report')"
                           :minimum-view="'month'"
                           :maximum-view="'month'"></date-picker>
              <span v-if="errors.month" class="help-block"><strong>{{ errors.month[0] }}</strong></span>
            </div>
            <div class="form-group col-md-3 col-sm-6" :class="{ 'has-error' : errors.start_date }">
              <date-picker v-model="startDate"
                           :language="language"
                           input-class="form-control"
                           wrapper-class="wrapper"
                           format="dd-MM-yyyy"
                           :placeholder="$t('word.start_date')"></date-picker>
              <span v-if="errors.start_date" class="help-block"><strong>{{ errors.start_date[0] }}</strong></span>
            </div>
            <div class="form-group col-md-3 col-sm-6" :class="{ 'has-error' : errors.end_date }">
              <date-picker v-model="endDate"
                           :language="language"
                           input-class="form-control"
                           wrapper-class="wrapper"
                           format="dd-MM-yyyy"
                           :placeholder="$t('word.end_date')"></date-picker>
              <span v-if="errors.end_date" class="help-block"><strong>{{ errors.end_date[0] }}</strong></span>
            </div>
            <div class="col-md-3 col-sm-6">
              <button type="button" class="btn btn-primary pull-right" @click.prevent="search()">
                <i class="fa fa-eye-slash"></i> {{ $t('word.view_report') }}
              </button>
            </div>
          </div>
        </form>
        <div id="table-timekeeping-report">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 align-left">
              <h5 v-if="monthYear"
                  v-html="$t('time_keeping.list_table_timekeeping_in_month', { month: convertMonth(monthYear) } )"></h5>
              <h5 v-else
                  v-html="$t('time_keeping.list_table_timekeeping', {
                    from: convertStartDate(startDate), to: convertEndDate(endDate) } )"></h5>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 align-right">
              <h5>
                <span class="pull-right desc-not-enought">{{ $t('time_keeping.not_enought') }}</span>
                <span class="pull-right desc-empty">{{ $t('time_keeping.empty') }}</span>
                <span class="pull-right"
                      style="margin-right: 10px; font-weight: 500;">{{ $t('time_keeping.desc') }}</span>
              </h5>
            </div>
          </div>
          <fullscreen v-if="!loading" ref="fullscreen" @change="fullscreenChange()">
            <table id="table" class="table-bordered table-hover table-condensed timekeeping-report">
              <thead>
                <tr>
                  <th rowspan="2">#</th>
                  <th class="head-column" style="min-width: 200px" rowspan="2">{{ $t('word.full_name') }}</th>
                  <th v-for="(p, index) in period"
                      :key="index"
                      style="min-width: 55px"
                      :class="[ getDayOfWeekByDate(p) == 7 ? 'sunday' : '' ]">
                    {{ convertToDateMonth(p) }}
                  </th>
                  <th rowspan="2">{{ $t('time_keeping.total_work') }}</th>
                  <th rowspan="2">{{ $t('time_keeping.total_time') }} ({{ $t('time_keeping.hour') }})</th>
                  <th rowspan="2">{{ $t('time_keeping.take_leave') }} ({{ $t('time_keeping.day') }})</th>
                  <th rowspan="2">{{ $t('time_keeping.late') }} ({{ $t('time_keeping.time') }})</th>
                  <th rowspan="2">{{ $t('time_keeping.early') }} ({{ $t('time_keeping.time') }})</th>
                  <th rowspan="2">{{ $t('time_keeping.late') }} ({{ $t('time_keeping.minutes') }})</th>
                  <th rowspan="2">{{ $t('time_keeping.early') }} ({{ $t('time_keeping.minutes') }})</th>
                  <th rowspan="2">{{ $t('time_keeping.overtime') }} ({{ $t('time_keeping.hour') }})</th>
                </tr>
                <tr>
                  <th v-for="(p, index) in period" :key="index" :class="[ getDayOfWeekByDate(p) == 7 ? 'sunday' : '' ]">
                    {{ $t(`datetime.week.${ getDayOfWeekByDate(p) }`) }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(user, key) in users" :key="user._id">
                  <td class="stt">{{ key + 1 }}</td>
                  <td style="text-align: left;">
                    <router-link :to="{ name: 'employee.report', params: { userId: user._id },
                                        query: { start_date: (startDate ? convertStartDate(startDate) : ''),
                                                 end_date: (endDate ? convertEndDate(endDate) : ''),
                                                 month_year: (monthYear ? convertMonth(monthYear) : '') }}">
                      <b><i class="mdi mdi-account"></i> {{ user.name }}</b>
                    </router-link>
                  </td>
                  <td v-for="(timeKeeping, tKey) in user.time_keepings"
                      :key="tKey"
                      :class="[
                        timeKeeping.date == 7 ? 'sunday' : '',
                        timeKeeping.is_checked == 2 && timeKeeping.date != 0 ? ' not-checked' : '',
                        timeKeeping.is_checked == 3 && timeKeeping.date != 0 ? ' empty' : '' ]">
                    <span :data-original-title="timeKeeping.tooltip"
                          data-toggle="tooltip"
                          data-html="true"
                          :class="[ timeKeeping.is_checked == 1 ? 'tooltip-info ' : '',
                                    timeKeeping.is_checked == 2 ? 'tooltip-warning' : '' ]">{{ timeKeeping.time }}
                    </span>
                  </td>
                  <td class="text-center">{{ user.total_work }}</td>
                  <td class="text-center">{{ user.total_time }}</td>
                  <td class="text-center">{{ user.take_leave }}</td>
                  <td class="text-center">{{ user.late }}</td>
                  <td class="text-center">{{ user.early }}</td>
                  <td class="text-center">{{ user.late_mi }}</td>
                  <td class="text-center">{{ user.early_mi }}</td>
                  <td class="text-center">{{ user.over_time }}</td>
                </tr>
              </tbody>
            </table>
          </fullscreen>
          <scale-loader :loading="loading" :color="'#27a1f2'"></scale-loader>
        </div>
      </div>
    </div>
    <div class="bottom-action">
      <button class="btn btn-danger btn-rounded pull-right" @click="toggle()">
        <i class="fa fa-expand"></i> {{ $t('word.fullscreen') }}
      </button>
      <button id="csv-export" class="btn btn-info btn-rounded pull-right" @click="exportTable('csv')">
        <i class="fa fa-file-csv"></i> {{ $t('time_keeping.export_to_csv') }}
      </button>
      <button id="xlsx-export" class="btn btn-info btn-rounded pull-right" @click="exportTable('xlsx')">
        <i class="fa fa-file-excel"></i> {{ $t('time_keeping.export_to_xlsx') }}
      </button>
    </div>
  </div>
</template>

<script>
  import ScaleLoader from 'vue-spinner/src/ScaleLoader'
  import DatePicker from 'vuejs-datepicker'
  import * as lang from 'vuejs-datepicker/src/locale'
  import moment from 'moment'
  import { REPORT_TIME_KEEPING } from './../../../api'
  import common from './../../../helpers/common'
  import TableExport from 'tableexport'

  export default {
    name: 'TimeKeepingReport',
    components: { DatePicker, ScaleLoader },
    data() {
      return {
        loading: false,
        fullscreen: false,
        errors: [],
        monthYear: '',
        startDate: '',
        endDate: '',
        users: [],
        timekeepings: [],
        period: []
      }
    },
    computed: {
      groupId() {
        return this.$store.state.current.group.id
      },
      language() {
        return lang[this.$i18n.locale]
      },
      companyName() {
        return this.$store.state.current.group.name
      }
    },
    watch: {
      startDate() {
        this.monthYear = ''
      },
      endDate() {
        this.monthYear = ''
      }
    },
    created() {
      let urlParams = new URLSearchParams(window.location.search)

      if (urlParams.get('start_date')) this.startDate = urlParams.get('start_date')
      if (urlParams.get('end_date')) this.endDate = urlParams.get('end_date')
      if (urlParams.get('month_year')) this.monthYear = urlParams.get('month_year')

      this.getData()
    },
    updated() {
      $('[data-toggle="tooltip"]').tooltip()
    },
    methods: {
      search() {
        this.users = []
        this.timekeepings = []
        this.getData()
      },
      async getData() {
        this.loading = true
        let query = {}
        if (this.startDate) query.start_date = this.convertStartDate(this.startDate)
        if (this.endDate) query.end_date = this.convertEndDate(this.endDate)
        if (this.monthYear) query.month_year = this.convertMonth(this.monthYear)

        await axios.get(REPORT_TIME_KEEPING + `?${common.urlGenerate(query)}`)
            .then(result => {
              this.period = result.data.period
              this.timekeepings = result.data.timekeepings
              this.timekeepings.every(async timekeepings => {
                let user = timekeepings[0].user
                user.name = this.$getFullName(user.first_name, user.last_name)

                let totalWork = 0 // Số công
                let totalTime = 0 // Số công theo giờ
                let takeLeave = 0 // Số lần nghỉ phép
                let late = 0 // Số lần vào muộn
                let lateMi = 0 // Số phút vào muộn
                let early = 0 // Số lần ra sớm
                let earlyMi = 0 // SỐ phút ra sớm
                let overTime = 0 // THời gian thêm giờ
                let timeKeepingObj = []
                await this.period.forEach(async (p) => {
                  let tooltip = '' // tooltip
                  let time = '' // Thời gian làm 1 ngày
                  let isChecked = 3 // 1: enought, 2: not enought, 3: empty
                  let timeKeeping = timekeepings.find(obj => obj.date == this.convertFullDate(p))

                  if (timeKeeping) {
                    timeKeeping.shift_allow_time = timeKeeping.shift_allow_time || 0
                    if (timeKeeping.type == 3) takeLeave++
                    if (timeKeeping.shift_type == 1) {
                      if (timeKeeping.times[0].checkin != undefined && timeKeeping.times[0].checkout != undefined) {
                        isChecked = 1
                        totalWork++
                        tooltip = this.$t('word.checkin') + ': ' + timeKeeping.times[0].checkin.time + '  ' +
                            this.$t('word.checkout') + ': ' + timeKeeping.times[0].checkout.time
                        time = this.getDiffTime(timeKeeping.times[0].checkin.time, timeKeeping.times[0].checkout.time)
                        totalTime += time
                        let diffCheckIn = this.getDiffTime(
                            timeKeeping.target_time[0].checkin, timeKeeping.times[0].checkin.time
                        )
                        let diffCheckout = this.getDiffTime(
                            timeKeeping.times[0].checkout.time, timeKeeping.target_time[0].checkout
                        )
                        // Xác đinh số lần và số phút đi muộn
                        if (diffCheckIn > timeKeeping.shift_allow_time) {
                          late++
                          lateMi += (diffCheckIn - timeKeeping.shift_allow_time)
                        }
                        // Tính số lần và số phút về sớm
                        if (diffCheckout > timeKeeping.shift_allow_time) {
                          early++
                          earlyMi += (diffCheckout - timeKeeping.shift_allow_time)
                        }
                        // Tính thời gian thêm giờ
                        if (diffCheckIn < 0) {
                          overTime -= diffCheckIn
                        }
                        if (diffCheckout < 0) {
                          overTime -= diffCheckout
                        }
                      } else { // Nếu quét thiếu
                        time = '----'
                        let checkinTooltip = timeKeeping.times[0].checkin != undefined ?
                            timeKeeping.times[0].checkin.time : '--:--'
                        let checkoutTooltip = timeKeeping.times[0].checkout != undefined ?
                            timeKeeping.times[0].checkout.time : '--:--'
                        tooltip = this.$t('word.checkin') + ': ' + checkinTooltip + '  ' + this.$t('word.checkout') +
                            ': ' + checkoutTooltip
                        isChecked = 2
                      }
                    } else {  // Truờng hợp quét 4 lần 1 ngày
                      // Nếu quét đủ 1 ngày 4 lần
                      if (timeKeeping.times[0].checkin != undefined
                          && timeKeeping.times[0].checkout != undefined
                          && timeKeeping.times[1].checkin != undefined
                          && timeKeeping.times[1].checkout != undefined) {
                        totalWork++
                        let diffCheckIn1 = this.getDiffTime(
                            timeKeeping.target_time[0].checkin, timeKeeping.times[0].checkin.time
                        )
                        let diffCheckIn2 = this.getDiffTime(
                            timeKeeping.target_time[1].checkin, timeKeeping.times[1].checkin.time
                        )
                        let diffCheckout1 = this.getDiffTime(
                            timeKeeping.times[0].checkout.time, timeKeeping.target_time[0].checkout
                        )
                        let diffCheckout2 = this.getDiffTime(
                            timeKeeping.times[1].checkout.time, timeKeeping.target_time[1].checkout
                        )
                        // Tính số lần và số phút đi muộn
                        if (diffCheckIn1 > timeKeeping.shift_allow_time) {
                          late++
                          lateMi += (diffCheckIn1 - timeKeeping.shift_allow_time)
                        }
                        if (diffCheckIn2 > timeKeeping.shift_allow_time) {
                          late++
                          lateMi += (diffCheckIn2 - timeKeeping.shift_allow_time)
                        }
                        // Tính số lần và số phút về sớm
                        if (diffCheckout1 > timeKeeping.shift_allow_time) {
                          early++
                          earlyMi += (diffCheckout1 - timeKeeping.shift_allow_time)
                        }
                        if (diffCheckout2 > timeKeeping.shift_allow_time) {
                          early++
                          earlyMi += (diffCheckout2 - timeKeeping.shift_allow_time)
                        }
                        // Tính thời gian thêm giờ
                        if (diffCheckIn1 < 0) {
                          overTime -= diffCheckIn1
                        }
                        if (diffCheckout2 < 0) {
                          overTime -= diffCheckout2
                        }
                        // Quy đổi ra định dạng giờ lẻ phút
                        time = this.getDiffTime(timeKeeping.times[0].checkin.time, timeKeeping.times[0].checkout.time)
                        time += this.getDiffTime(
                            timeKeeping.times[1].checkin.time, timeKeeping.times[1].checkout.time
                        )
                        totalTime += time
                        tooltip = this.$t('word.checkin') + ': ' + timeKeeping.times[0].checkin.time + '  ' +
                            this.$t('word.checkout') + ': ' + timeKeeping.times[0].checkout.time + '<br>' +
                            this.$t('word.checkin') + ': ' + timeKeeping.times[1].checkin.time + '  ' +
                            this.$t('word.checkout') + ': ' + timeKeeping.times[1].checkout.time
                        isChecked = 1
                        // Nếu quét thiếu lượt ra hoặc lượt vào
                      } else {
                        time = '----'
                        isChecked = 2
                        tooltip = this.$t('word.checkin') + ': ' +
                            (timeKeeping.times[0].checkin != undefined ? timeKeeping.times[0].checkin.time : '--:--')
                            + '  ' + this.$t('word.checkout') + ': ' + (timeKeeping.times[0].checkout != undefined ?
                                timeKeeping.times[0].checkout.time : '--:--')
                            + '<br>' + this.$t('word.checkin') + ': ' + (timeKeeping.times[1].checkin != undefined ?
                                timeKeeping.times[1].checkin.time : '--:--') + '  ' + this.$t('word.checkout') + ': '
                            + (timeKeeping.times[1].checkout != undefined ?
                                timeKeeping.times[1].checkout.time : '--:--')
                      }
                    }
                  }
                  timeKeepingObj.push({
                    time: typeof time == 'number' ? this.convertMinutesToHour(time) : time,
                    tooltip: tooltip,
                    is_checked: isChecked,
                    date: this.getDayOfWeekByDate(p)
                  })
                })
                user.time_keepings = timeKeepingObj
                user.total_work = totalWork
                user.total_time = this.convertMinutesToHour(totalTime)
                user.late = late
                user.late_mi = this.convertMinutesToHour(lateMi)
                user.early = early
                user.early_mi = this.convertMinutesToHour(earlyMi)
                user.take_leave = takeLeave
                user.over_time = this.convertMinutesToHour(overTime)
                this.users.push(user)
              })
              this.loading = false
              if (common.urlGenerate(query).length > 0) {
                window.history.replaceState(
                    null, null, `${window.location.origin + window.location.pathname}?${common.urlGenerate(query)}`
                )
              }
            }).catch(error => {
              this.loading = false
              if (error.response && error.response.status == 422) {
                this.errors = error.response.data.errors
              } else if (error.response && error.response.status === 402) {
                this.$awn.alert(error.response.data.message)
              }
            })
      },
      convertFullDate(date) {
        return moment(date).format('YYYY-MM-DD')
      },
      convertMonth(date) {
        return moment(date).format('YYYY-MM')
      },
      convertPeriodDate(date) {
        return moment(date).format('DD-MM-YYYY')
      },
      convertStartDate(date) {
        if (date) {
          return moment(date).format('YYYY-MM-DD')
        }
        return moment().startOf('month').format('YYYY-MM-DD')
      },
      convertEndDate(date) {
        if (date) {
          return moment(date).format('YYYY-MM-DD')
        }
        return moment().endOf('month').format('YYYY-MM-DD')
      },
      convertToDateMonth(date) {
        return moment(date).format('DD-MM')
      },
      getDayOfWeekByDate(date) {
        return moment(date).isoWeekday()
      },
      getDiffTime(time1, time2) {
        time1 = moment(time1, 'hh:mm')
        time2 = moment(time2, 'hh:mm')
        return time2.diff(time1, 'minutes')
      },
      convertMinutesToHour(minutes) {
        let hour = Math.floor(minutes / 60)
        let minute = minutes % 60
        return (hour > 0 ? hour + 'h' + minute : minutes)
      },
      toggle() {
        this.$refs['fullscreen'].toggle()
      },
      fullscreenChange(fullscreen) {
        this.fullscreen = fullscreen
      },
      exportTable(type) {
        let start = this.startDate || moment().startOf('month').format('DD-MM-YYYY')
        let end = this.endDate || moment().endOf('month').format('DD-MM-YYYY')
        var tableId = 'table'
        var ExportButtons = $('#table')
        var instance = new TableExport(ExportButtons, {
          filename: `Report-${start}-${end}`,
          formats: ['xlsx', 'csv'],
          exportButtons: false
        })
        var XLSX = instance.CONSTANTS.FORMAT.XLSX
        var CSV = instance.CONSTANTS.FORMAT.CSV

        var exportDataXLSX = instance.getExportData()[tableId][XLSX]
        var exportDataCSV = instance.getExportData()[tableId][CSV]

        // var bytesXLSXX = instance.getFileSize(exportDataXLSX.data, exportDataXLSX.fileExtension);
        // var bytesCSV = instance.getFileSize(exportDataCSV.data, exportDataCSV.fileExtension);

        if (type == 'xlsx') {
          instance.export2file(
              exportDataXLSX.data,
              exportDataXLSX.mimeType,
              exportDataXLSX.filename,
              exportDataXLSX.fileExtension,
              exportDataXLSX.merges
          )
        } else if (type == 'csv') {
          instance.export2file(
              exportDataCSV.data,
              exportDataCSV.mimeType,
              exportDataCSV.filename,
              exportDataCSV.fileExtension,
              exportDataCSV.merges
          )
        }
      }
    }
  }
</script>

<style type="text/css" scoped>
  .wrapper {
    margin-bottom: 20px;
  }

  .form-inline {
    margin-bottom: 15px;
  }

  .timekeeping-report {
    display: inherit;
    margin-top: 20px;
    overflow: auto;
    min-height: 400px;
  }

  .timekeeping-report tr td {
    white-space: nowrap;
    vertical-align: middle !important;
  }

  th, td {
    text-align: center;
    min-width: 55px;
  }

  .sunday {
    background: #FEBCAE;
  }

  .not-checked {
    background: #F6FFA9;
  }

  .empty {
    background: #CCCC;
  }

  .desc-not-enought {
    padding: 10px;
    background: #F6FFA9;
    margin-top: -10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight: 500;
    color: #FC0107;
  }

  .desc-empty {
    padding: 10px;
    background: #CCCCCC;
    color: #FFF;
    margin-top: -10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: 500;
    color: #0F80FF;
  }

  .bottom-action {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px;
    z-index: 10;
  }

  .bottom-action button {
    margin: 5px;
  }

  .fullscreen {
    background: #FEFEFE !important;
  }
</style>
