<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-12 col-sm">
        <h4 class="page-title">{{ $t('word.user_manage') }}</h4>
      </div>
      <div class="col-12 col-sm-auto">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{ name: 'home' }">{{ $t('word.home') }}</router-link>
          </li>
          <li><a href="javascript:history.go(-1)">{{ $t('word.time_keeping') }}</a></li>
          <li class="active">{{ $t('word.detail') }}</li>
        </ol>
      </div>
    </div>
    <div v-if="!loading" class="row">
      <div class="white-box col">
        <div class="searchform clearfix">
          <div class="panel-wrapper collapse in" aria-expanded="true">
            <div class="panel-body">
              <table class="table color-bordered-table info-bordered-table">
                <tbody>
                  <tr>
                    <td>{{ $t('word.avatar') }}</td>
                    <td colspan="2">
                      <avatar :username="timekeeping.user.last_name"
                              :size="45"
                              alt="user-img"
                              class="avatar"
                              color="#fff"
                              :src="timekeeping.user.avatars ? timekeeping.user.avatars.x2 : ''"></avatar>
                    </td>
                  </tr>
                  <tr>
                    <td>{{ $t('word.name') }}</td>
                    <td colspan="2">{{ userName }}</td>
                  </tr>
                  <tr>
                    <td>{{ $t('word.phone_number') }}</td>
                    <td colspan="2">{{ timekeeping.user.phone_number }}</td>
                  </tr>
                  <tr>
                    <td>{{ $t('word.time_keeping_date') }}</td>
                    <td colspan="2">{{ timekeeping.date }}</td>
                  </tr>
                  <template v-for="(timeCheck, index) in timekeeping.times">
                    <tr :key="index">
                      <td :rowSpan="(timeCheck.checkin && timeCheck.checkin.photo_url) ? 4 : 3">
                        {{ $t('word.checkin') }}
                      </td>
                      <td>{{ $t('word.time') }}</td>
                      <td><b>{{ timeCheck.checkin && timeCheck.checkin.time || '' }}</b></td>
                    </tr>
                    <tr :key="index + 'a'">
                      <td>{{ $t('word.address') }}</td>
                      <td>
                        <button v-if="timeCheck.checkin && timeCheck.checkin.location" 
                                class="link-map" 
                                type="button"
                                @click="showPositionMap(timeCheck.checkin.location)">
                          {{ $t('word.detail') }}
                        </button>
                        <template v-else>{{ $t('word.no_location') }}</template>
                      </td>
                    </tr>
                    <tr :key="index + 'b'">
                      <td>{{ $t('word.type') }}</td>
                      <td>
                        <span v-if="timeCheck.checkin && timeCheck.checkin.photo_url" class="label label-danger">
                          {{ $t('word.borrow') }}
                        </span>
                        <span v-else-if="timekeeping.is_addition && timeCheck.checkin.address"
                              class="label label-warning">
                          {{ $t('word.addition') }}
                        </span>
                        <span v-else-if="timekeeping.is_take_leave" class="label label-primary">
                          {{ $t('word.take_leave') }}
                        </span>
                        <span v-else-if="timekeeping.is_switch" class="label label-info">
                          {{ $t('word.take_leave') }}
                        </span>
                        <span v-else-if="typeof timeCheck.checkin == 'undefined'"></span>
                        <span v-else class="label label-success">{{ $t('word.normal') }}</span>
                      </td>
                    </tr>
                    <tr v-if="timeCheck.checkin && timeCheck.checkin.photo_url" :key="index + 'c'">
                      <td>{{ $t('word.photo') }}</td>
                      <td><img :src="$asset(timeCheck.checkin.photo_url)"></td>
                    </tr>
                    <tr :key="index + 'd'">
                      <td :rowSpan="timeCheck.checkout && timeCheck.checkout.photo_url ? 4 : 3">
                        {{ $t('word.checkout') }}
                      </td>
                      <td>{{ $t('word.time') }}</td>
                      <td><b>{{ timeCheck.checkout && timeCheck.checkout.time || '' }}</b></td>
                    </tr>
                    <tr :key="index + 'e'">
                      <td>{{ $t('word.address') }}</td>
                      <td>
                        <button v-if="timeCheck.checkout && timeCheck.checkout.location" 
                                class="link-map" 
                                type="button"
                                @click="showPositionMap(timeCheck.checkout.location)">
                          {{ $t('word.detail') }}
                        </button>
                        <template v-else>{{ $t('word.no_location') }}</template>
                      </td>
                    </tr>
                    <tr :key="index + 'f'">
                      <td>{{ $t('word.type') }}</td>
                      <td>
                        <span v-if="timeCheck.checkout && timeCheck.checkout.photo_url" class="label label-danger">
                          {{ $t('word.borrow') }}
                        </span>
                        <span v-else-if="timekeeping.is_addition && timeCheck.checkout.address"
                              class="label label-warning">
                          {{ $t('word.addition') }}
                        </span>
                        <span v-else-if="timekeeping.is_take_leave" class="label label-primary">
                          {{ $t('word.take_leave') }}
                        </span>
                        <span v-else-if="timekeeping.is_switch" class="label label-info">
                          {{ $t('word.take_leave') }}
                        </span>
                        <span v-else-if="typeof timeCheck.checkout == 'undefined'"></span>
                        <span v-else class="label label-success">{{ $t('word.normal') }}</span>
                      </td>
                    </tr>
                    <tr v-if="timeCheck.checkout && timeCheck.checkout.photo_url" :key="index + 'g'">
                      <td>{{ $t('word.photo') }}</td>
                      <td><img :src="$asset(timeCheck.checkout.photo_url)"></td>
                    </tr>
                  </template>
                </tbody>
              </table>
              <div class="form-actions text-center">
                <a href="javascript: history.go(-1)" class="btn btn-default">
                  <i class="fa fa-undo"></i> {{ $t('word.back') }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-else class="white-box row">
      <loading></loading>
      <loading></loading>
    </div>

    <!-- Modal -->
    <div id="timekeepingLocation" class="modal fade" tabindex="-1"
         role="dialog"
         aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 id="myModalLabel" class="modal-title">{{ $t('word.map') }}</h4>
          </div>
          <div class="modal-body">
            <div id="map"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import TIMEKEEPING_QUERY from './../../../apollo/query/timekeeping/get_by_id.gql'
  import Loading from './../../templates/loading/listing.vue'
  import GoogleMapsLoader from 'google-maps'

  export default {
    components: {
      Loading
    },
    data() {
      return {
        map: null,
        marker: null
      }
    },
    computed: {
      loading() {
        return this.$apollo.loading
      },
      id() {
        return this.$route.params.id
      },
      userName() {
        return this.timekeeping.user.first_name + ' ' + this.timekeeping.user.last_name
      }
    },
    apollo: {
      timekeeping: {
        query: TIMEKEEPING_QUERY,
        variables() {
          return {
            timekeepingId: this.id
          }
        }
      }
    },
    mounted() {
      GoogleMapsLoader.KEY = 'AIzaSyA2LEL7RzS7HzMkcSAboDbrRbgvsvxCxTw'
      GoogleMapsLoader.LANGUAGE = 'EN'
      GoogleMapsLoader.load(google => {
        let pos = {lat: 0.0, lng: 0.0}
        this.map = new google.maps.Map(document.getElementById('map'), {
          center: pos,
          zoom: 16
        })
      })
    },
    methods: {
      showPositionMap(position) {
        const pos = {
          lat: position.latitude,
          lng: position.longitude
        }
        this.map.setCenter(pos)
        this.marker = new google.maps.Marker({
          position: pos, 
          map: this.map
        })
        $('#timekeepingLocation').modal('show')
      }
    }
  }
</script>
<style scoped>
  .container-fluid {
    position: relative;
  }
  .spinner-rise {
    margin-top: 40vh;
  }
  .link-map {
    border: none;
    background-color: #ffffff;
    color: blue;
    text-decoration: underline;
  }
  #map {
    min-height: 490px;
    max-height: 490px;
  }
  img {
    max-height: 100px;
  }
</style>