<template>
  <div class="container-fluid">
    <div class="row" style="margin-top: 10px;">
      <div class="white-box col">
        <form class="form-inline" action="#">
          <div class="row">
            <div class="form-group col-md-3 col-sm-6" :class="{ 'has-error' : errors.month }">
              <date-picker v-model="monthYear"
                           :language="language"
                           input-class="form-control"
                           wrapper-class="wrapper"
                           format="MM-yyyy"
                           :placeholder="$t('word.month_report')"
                           :minimum-view="'month'"
                           :maximum-view="'month'"></date-picker>
              <span v-if="errors.month" class="help-block"><strong>{{ errors.month[0] }}</strong></span>
            </div>
            <div class="form-group col-md-3 col-sm-6" :class="{ 'has-error' : errors.start_date }">
              <date-picker v-model="startDate"
                           :language="language"
                           input-class="form-control"
                           wrapper-class="wrapper"
                           format="dd-MM-yyyy"
                           :placeholder="$t('word.start_date')"></date-picker>
              <span v-if="errors.start_date" class="help-block"><strong>{{ errors.start_date[0] }}</strong></span>
            </div>
            <div class="form-group col-md-3 col-sm-6" :class="{ 'has-error' : errors.end_date }">
              <date-picker v-model="endDate"
                           :language="language"
                           input-class="form-control"
                           wrapper-class="wrapper"
                           format="dd-MM-yyyy"
                           :placeholder="$t('word.end_date')"></date-picker>
              <span v-if="errors.end_date" class="help-block"><strong>{{ errors.end_date[0] }}</strong></span>
            </div>
            <div class="col-md-3 col-sm-6">
              <button type="button" class="btn btn-primary btn-rounded pull-right" @click.prevent="search()">
                <i class="fa fa-eye-slash"></i> {{ $t('word.view_report') }}
              </button>
            </div>
          </div>
        </form>
        <div id="table-timekeeping-report">
          <h5>{{ $t('time_keeping.list_table_timekeeping_employee') }}
            <router-link :to="{ name: 'company.user.detail', params: { userId: userId }}"><b>{{ userName }}</b>
            </router-link>
          </h5>
          <fullscreen v-if="!loading" ref="fullscreen" @change="fullscreenChange()">
            <table id="table" class="table-bordered table-hover table-condensed timekeeping-report">
              <thead>
                <tr>
                  <th>#</th>
                  <th class="head-column" style="min-width: 100px">{{ $t('word.date') }}</th>
                  <th>{{ $t('word.checkin') }}</th>
                  <th>{{ $t('word.checkout') }}</th>
                  <th>{{ $t('time_keeping.take_leave') }} ({{ $t('time_keeping.day') }})</th>
                  <th>{{ $t('time_keeping.late') }} ({{ $t('time_keeping.time') }})</th>
                  <th>{{ $t('time_keeping.early') }} ({{ $t('time_keeping.time') }})</th>
                  <th>{{ $t('time_keeping.late') }} ({{ $t('time_keeping.minutes') }})</th>
                  <th>{{ $t('time_keeping.early') }} ({{ $t('time_keeping.minutes') }})</th>
                  <th>{{ $t('time_keeping.overtime') }} ({{ $t('time_keeping.minutes') }})</th>
                  <th>{{ $t('time_keeping.time_work') }} ({{ $t('time_keeping.hour') }})</th>
                  <th>{{ $t('time_keeping.total_work') }}</th>
                </tr>
              </thead>
              <tbody>
                <template v-for="(data, index) in datas">
                  <tr :key="index" :class="[ getDayOfWeek(data.date) == 7 ? 'sunday' : '' ]">
                    <td :rowspan="data.type == 2 ? 2 : 1"><b>{{ $t(`datetime.week.${getDayOfWeek(data.date)}`) }}</b>
                    </td>
                    <td :rowspan="data.type == 2 ? 2 : 1">{{ convertPeriodDate(data.date) }}</td>
                    <td>{{ data.time != null && data.time[0].checkin != undefined ? data.time[0].checkin.time : '' }}
                    </td>
                    <td>{{ data.time != null && data.time[0].checkout != undefined ? data.time[0].checkout.time : '' }}
                    </td>
                    <td :rowspan="data.type == 2 ? 2 : 1">
                      <i v-if="data.take_leave" class="fa fa-check"></i><span class="hide">1</span>
                    </td>
                    <td :rowspan="data.type == 2 ? 2 : 1">
                      <i v-if="data.late != false" class="fa fa-check"></i><span class="hide">1</span>
                    </td>
                    <td :rowspan="data.type == 2 ? 2 : 1">
                      <i v-if="data.early != false" class="fa fa-check"></i><span class="hide">1</span>
                    </td>
                    <td :rowspan="data.type == 2 ? 2 : 1">{{ data.late_mi }}</td>
                    <td :rowspan="data.type == 2 ? 2 : 1">{{ data.early_mi }}</td>
                    <td :rowspan="data.type == 2 ? 2 : 1">{{ data.over_time }}</td>
                    <td :rowspan="data.type == 2 ? 2 : 1">{{ data.time_work }}</td>
                    <td :rowspan="data.type == 2 ? 2 : 1">{{ data.total_work_item || '' }}</td>
                  </tr>
                  <tr v-if="data.type == 2" :key="index + 'a'">
                    <td>{{ data.time != null ? data.time[1].checkin.time : '' }}</td>
                    <td>{{ data.time != null ? data.time[1].checkout.time : '' }}</td>
                  </tr>
                </template>
                <tr>
                  <td colspan="4"><b>{{ $t('word.total') }}</b></td>
                  <td>{{ total.total_take_leave }}</td>
                  <td>{{ total.total_late }}</td>
                  <td>{{ total.total_early }}</td>
                  <td>{{ total.total_late_mi }}</td>
                  <td>{{ total.total_early_mi }}</td>
                  <td>{{ total.total_over_time }}</td>
                  <td>{{ total.total_time }}</td>
                  <td>{{ total.total_work }}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>#</th>
                  <th class="head-column" style="min-width: 100px">{{ $t('word.date') }}</th>
                  <th>{{ $t('word.checkin') }}</th>
                  <th>{{ $t('word.checkout') }}</th>
                  <th>{{ $t('time_keeping.take_leave') }} ({{ $t('time_keeping.day') }})</th>
                  <th>{{ $t('time_keeping.late') }} ({{ $t('time_keeping.time') }})</th>
                  <th>{{ $t('time_keeping.early') }} ({{ $t('time_keeping.time') }})</th>
                  <th>{{ $t('time_keeping.late') }} ({{ $t('time_keeping.minutes') }})</th>
                  <th>{{ $t('time_keeping.early') }} ({{ $t('time_keeping.minutes') }})</th>
                  <th>{{ $t('time_keeping.overtime') }} ({{ $t('time_keeping.minutes') }})</th>
                  <th>{{ $t('time_keeping.time_work') }} ({{ $t('time_keeping.hour') }})</th>
                  <th>{{ $t('time_keeping.total_work') }}</th>
                </tr>
              </tfoot>
            </table>
          </fullscreen>
          <scale-loader :loading="loading" :color="'#27a1f2'"></scale-loader>
        </div>
      </div>
    </div>
    <div class="bottom-action">
      <button class="btn btn-danger btn-rounded pull-right" @click="toggle()">
        <i class="fa fa-expand"></i> {{ $t('word.fullscreen') }}
      </button>
      <button id="csv-export" class="btn btn-info btn-rounded pull-right" @click="exportTable('csv')">
        <i class="fa fa-file-csv"></i> {{ $t('time_keeping.export_to_csv') }}
      </button>
      <button id="xlsx-export" class="btn btn-info btn-rounded pull-right" @click="exportTable('xlsx')">
        <i class="fa fa-file-excel"></i> {{ $t('time_keeping.export_to_xlsx') }}
      </button>
    </div>
  </div>
</template>

<script>
  import ScaleLoader from 'vue-spinner/src/ScaleLoader'
  import DatePicker from 'vuejs-datepicker'
  import * as lang from 'vuejs-datepicker/src/locale'
  import moment from 'moment'
  import { REPORT_TIME_KEEPING_EMPLOYEE } from './../../../api'
  import common from './../../../helpers/common'
  import TableExport from 'tableexport'

  export default {
    components: { DatePicker, ScaleLoader },
    data() {
      return {
        loading: false,
        fullscreen: false,
        errors: [],
        monthYear: '',
        startDate: '',
        endDate: '',
        user: [],
        datas: [],
        total: []
      }
    },
    computed: {
      groupId() {
        return this.$store.state.current.group.id
      },
      userId() {
        return this.$route.params.userId
      },
      language() {
        return lang[this.$i18n.locale]
      },
      userName() {
        if (this.user.first_name || this.user.last_name) {
          return this.user.first_name + ' ' + this.user.last_name
        } else {
          return ''
        }
      }
    },
    watch: {
      startDate() {
        this.monthYear = ''
      },
      endDate() {
        this.monthYear = ''
      }
    },
    created() {
      this.startDate = this.$route.query.start_date || ''
      this.endDate = this.$route.query.end_date || ''
      this.monthYear = this.$route.query.month_year || ''
      this.getData()
    },
    methods: {
      search() {
        this.datas = []
        this.getData()
      },
      async getData() {
        this.loading = true
        let query = {}
        if (this.startDate) query.start_date = this.convertFullDate(this.startDate)
        if (this.endDate) query.end_date = this.convertFullDate(this.endDate)
        if (this.monthYear) query.month_year = this.convertDate(this.monthYear)
        await axios.get(`${REPORT_TIME_KEEPING_EMPLOYEE}/${this.userId}?${common.urlGenerate(query)}`)
            .then(async result => {
              this.user = result.data.user

              let timeKeepings = result.data.time_keepings
              let period = result.data.period
              var totalTime = 0
              var totalWork = 0
              var totalTakeLeave = 0
              var totalOverTime = 0
              var totalLate = 0
              var totalLateMi = 0
              var totalEarly = 0
              var totalEarlyMi = 0
              await period.forEach(async p => {
                let data = {}
                let totalTimeItem = 0
                let takeLeave = false
                let late = false
                let lateMi = 0
                let early = false
                let earlyMi = 0
                let overTime = 0
                let timeObject = null
                let type = 1
                await timeKeepings.every(async timeKeeping => {
                  if (this.convertFullDate(p) == timeKeeping.date) {
                    timeKeeping.shift_allow_time = timeKeeping.shift_allow_time || 0
                    if (timeKeeping.type == 3) {
                      totalTakeLeave++
                      takeLeave = true
                    }
                    timeObject = timeKeeping.times
                    type = timeKeeping.shift_type
                    if (timeKeeping.shift_type == 1) {
                      if (timeKeeping.times[0].checkin != undefined && timeKeeping.times[0].checkout != undefined) {
                        totalWork++
                        totalTimeItem += this.getDiffTime(
                            timeKeeping.times[0].checkin.time, timeKeeping.times[0].checkout.time
                        )
                        totalTime += totalTimeItem
                        data.total_work_item = 1
                        let diffCheckIn = this.getDiffTime(
                            timeKeeping.target_time[0].checkin, timeKeeping.times[0].checkin.time
                        )
                        let diffCheckout = this.getDiffTime(
                            timeKeeping.times[0].checkout.time, timeKeeping.target_time[0].checkout
                        )
                        // Tính số lần và số phút đi muộn
                        if (diffCheckIn > timeKeeping.shift_allow_time) {
                          late = true
                          totalLate++
                          lateMi += (diffCheckIn - timeKeeping.shift_allow_time)
                          totalLateMi += lateMi
                        }
                        // Tính số lần và số phút về sớm
                        if (diffCheckout > timeKeeping.shift_allow_time) {
                          early = true
                          totalEarly++
                          earlyMi += (diffCheckout - timeKeeping.shift_allow_time)
                          totalEarlyMi += earlyMi
                        }
                        // Tính thời gian thêm giờ
                        if (diffCheckIn < 0) {
                          overTime -= diffCheckIn
                          totalOverTime += overTime
                        }
                        if (diffCheckout < 0) {
                          overTime -= diffCheckout
                          totalOverTime += overTime
                        }
                      }
                    } else { // 1 ngay quet 4 lan
                      if (timeKeeping.times[0].checkin != undefined && timeKeeping.times[0].checkout != undefined
                          && timeKeeping.times[1].checkin != undefined && timeKeeping.times[1].checkout != undefined) {
                        totalWork++
                        totalTimeItem += this.getDiffTime(
                            timeKeeping.times[0].checkin.time, timeKeeping.times[0].checkout.time
                        )
                        totalTimeItem += this.getDiffTime(
                            timeKeeping.times[1].checkin.time, timeKeeping.times[1].checkout.time
                        )
                        totalTime += totalTimeItem
                        data.total_work_item = 1
                        let diffCheckIn1 = this.getDiffTime(
                            timeKeeping.target_time[0].checkin, timeKeeping.times[0].checkin.time
                        )
                        let diffCheckIn2 = this.getDiffTime(
                            timeKeeping.target_time[1].checkin, timeKeeping.times[1].checkin.time
                        )
                        let diffCheckout1 = this.getDiffTime(
                            timeKeeping.times[0].checkout.time, timeKeeping.target_time[0].checkout
                        )
                        let diffCheckout2 = this.getDiffTime(
                            timeKeeping.times[1].checkout.time, timeKeeping.target_time[1].checkout
                        )
                        // Số lần và số phút đi muộn
                        if (diffCheckIn1 > timeKeeping.shift_allow_time) {
                          late = true
                          totalLate++
                          lateMi += (diffCheckIn1 - timeKeeping.shift_allow_time)
                          totalLateMi += lateMi
                        }
                        if (diffCheckIn2 > timeKeeping.shift_allow_time) {
                          late = true
                          totalLate++
                          lateMi += (diffCheckIn2 - timeKeeping.shift_allow_time)
                          totalLateMi += lateMi
                        }
                        // Tính số lần và số phút về sớm
                        if (diffCheckout1 > timeKeeping.shift_allow_time) {
                          early = true
                          totalEarly++
                          earlyMi += (diffCheckout1 - timeKeeping.shift_allow_time)
                          totalEarlyMi += earlyMi
                        }
                        if (diffCheckout2 > timeKeeping.shift_allow_time) {
                          early++
                          earlyMi += (diffCheckout2 - timeKeeping.shift_allow_time)
                        }
                        // Tính thời gian thêm giờ
                        if (diffCheckIn1 < 0) {
                          overTime -= diffCheckIn1
                          totalOverTime += overTime
                        }
                        if (diffCheckout2 < 0) {
                          overTime -= diffCheckout2
                          totalOverTime += overTime
                        }
                      }
                    }
                    return false
                  }
                })
                data.date = p
                data.time = timeObject
                data.type = type
                data.time_work = this.convertMinutesToHour(totalTimeItem)
                data.take_leave = takeLeave
                data.over_time = this.convertMinutesToHour(overTime)
                data.late = late
                data.late_mi = this.convertMinutesToHour(lateMi)
                data.early = early
                data.early_mi = this.convertMinutesToHour(earlyMi)
                this.datas.push(data)
              })
              this.total = {
                total_take_leave: totalTakeLeave,
                total_late: totalLate,
                total_late_mi: this.convertMinutesToHour(totalLateMi),
                total_early: totalEarly,
                total_early_mi: this.convertMinutesToHour(totalEarlyMi),
                total_over_time: this.convertMinutesToHour(totalOverTime),
                total_work: totalWork,
                total_time: this.convertMinutesToHour(totalTime)
              }
              this.loading = false
              if (common.urlGenerate(query).length > 0) {
                window.history.replaceState(
                    null, null, `${window.location.origin + window.location.pathname}?${common.urlGenerate(query)}`
                )
              }
            }).catch(error => {
              this.loading = false
              if (error.response.status === 402) {
                this.$awn.alert(error.response.data.message)
              } else if (error.response.status === 422) {
                this.errors = error.response.data.errors
              }
            })
      },
      convertFullDate(date) {
        return moment(date).format('YYYY-MM-DD')
      },
      convertDate(date) {
        return moment(date).format('YYYY-MM')
      },
      convertPeriodDate(date) {
        return moment(date).format('DD-MM-YYYY')
      },
      convertStartDate() {
        if (this.startDate) {
          return moment(this.startDate).format('DD-MM-YYYY')
        }
        return moment().startOf('month').format('DD-MM-YYYY')
      },
      convertEndDate() {
        if (this.endDate) {
          return moment(this.endDate).format('DD-MM-YYYY')
        }
        return moment().endOf('month').format('DD-MM-YYYY')
      },
      getDayOfWeek(date) {
        return moment(date).isoWeekday()
      },
      getDiffTime(time1, time2) {
        time1 = moment(time1, 'hh:mm')
        time2 = moment(time2, 'hh:mm')
        return time2.diff(time1, 'minutes')
      },
      convertMinutesToHour(minutes) {
        if (typeof minutes == 'number') {
          let hour = Math.floor(minutes / 60)
          let minute = minutes % 60
          return (hour > 0 ? hour + 'h' + minute : minutes)
        }
      },
      toggle() {
        this.$refs['fullscreen'].toggle() // recommended
        // this.fullscreen = !this.fullscreen // deprecated
      },
      fullscreenChange(fullscreen) {
        this.fullscreen = fullscreen
      },
      exportTable(type) {
        let start = this.startDate || moment().startOf('month').format('DD-MM-YYYY')
        let end = this.endDate || moment().endOf('month').format('DD-MM-YYYY')
        var tableId = 'table'
        var ExportButtons = $('#table')
        var instance = new TableExport(ExportButtons, {
          filename: `${this.userName}-${start}-${end}`.substr(0, 30),
          formats: ['xlsx', 'csv'],
          exportButtons: false
        })
        var XLSX = instance.CONSTANTS.FORMAT.XLSX
        var CSV = instance.CONSTANTS.FORMAT.CSV

        var exportDataXLSX = instance.getExportData()[tableId][XLSX]
        var exportDataCSV = instance.getExportData()[tableId][CSV]
        if (type == 'xlsx') {
          instance.export2file(
              exportDataXLSX.data,
              exportDataXLSX.mimeType,
              exportDataXLSX.filename,
              exportDataXLSX.fileExtension,
              exportDataXLSX.merges
          )
        } else if (type == 'csv') {
          instance.export2file(
              exportDataCSV.data,
              exportDataCSV.mimeType,
              exportDataCSV.filename,
              exportDataCSV.fileExtension,
              exportDataCSV.mergers
          )
        }
      }
    }
  }
</script>

<style type="text/css" scoped>
  .wrapper {
    margin-bottom: 20px;
  }

  .form-inline {
    margin-bottom: 15px;
  }

  .timekeeping-report {
    display: inherit;
    margin-top: 20px;
    overflow: auto;
    min-height: 400px;
  }

  .timekeeping-report tr td {
    white-space: nowrap;
    vertical-align: middle !important;
  }

  th, td {
    text-align: center;
    min-width: 55px;
  }

  .sunday {
    background: #FEBCAE;
  }

  .not-checked {
    background: #F6FFA9;
  }

  .empty {
    background: #CCCCCC;
  }

  .desc-not-enought {
    padding: 10px;
    background: #F6FFA9;
    margin-top: -10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight: 500;
    color: #FC0107;
  }

  .desc-empty {
    padding: 10px;
    background: #CCCCCC;
    margin-top: -10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: 500;
    color: #0F80FF;
  }

  .bottom-action {
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px;
    z-index: 10;
  }

  .bottom-action button {
    margin: 5px;
  }

  .fullscreen {
    background: #FEFEFE !important;
  }

  .fa-check {
    color: green;
  }
</style>
