<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-12 col-sm">
        <h4 class="page-title">{{ $t('word.time_keeping_manage') }}</h4>
      </div>
      <div class="col-12 col-sm-auto">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{ name: 'home' }">{{ $t('word.home') }}</router-link>
          </li>
          <li class="active">{{ $t('word.time_keeping') }}</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="white-box col">
        <div class="clearfix">
          <h3 class="box-title row">
            <span class="col-sm hidden-xs row">{{ $t('word.list') }}</span>
            <div class="row col-sm-auto">
              <button class="btn btn-info pull-right"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapseExample"
                      aria-expanded="false"
                      aria-controls="collapseExample">
                <i class="far fa-chevron-down"></i> {{ $t('word.filter') }}
              </button>
            </div>
          </h3>
          <form>
            <div id="collapseExample" class="collapse">
              <div class="row">
                <div class="form-group col-6 col-sm">
                  <date-picker :language="language"
                               input-class="form-control"
                               :placeholder="$t('word.start_date')"
                               format="dd-MM-yyyy"
                               @selected="onStartDateSelected"></date-picker>
                </div>
                <div class="form-group col-6 col-sm">
                  <date-picker :language="language"
                               input-class="form-control"
                               format="dd-MM-yyyy"
                               :placeholder="$t('word.end_date')"
                               @selected="onEndDateSelected"></date-picker>
                </div>
                <div class="form-group col-6 col-sm">
                  <multiselect track-by="id"
                               :placeholder="$t('word.email_phone_number_or_name')"
                               :loading="searching"
                               :options="users.data"
                               :internal-search="false"
                               select-label=""
                               deselect-label=""
                               selected-label=""
                               @open="getUserList"
                               @input="onUserSelect"
                               @search-change="searchUser">
                    <template v-if="props.option.id" slot="singleLabel" slot-scope="props">
                      <avatar :username="timekeeping.user.last_name"
                              :size="22"
                              alt="user-img"
                              class="avatar"
                              color="#fff"
                              :src="props.option.avatars ? props.option.avatars.x2 : ''"></avatar>
                      <span class="option__desc">
                        <span class="option__title"> {{ props.option.fullname }}</span>
                      </span>
                    </template>
                    <template slot="option" slot-scope="props">
                      <div class="row">
                        <div class="col-xs-2">
                          <avatar :username="timekeeping.user.last_name"
                                  :size="22"
                                  alt="user-img"
                                  class="avatar"
                                  color="#fff"
                                  :src="props.option.avatars ? props.option.avatars.x2 : ''"></avatar>
                        </div>
                        <div class="col-xs-10">
                          {{ props.option.fullname }}<br>
                          <span class="option__small">{{ props.option.email }}</span>
                        </div>
                      </div>
                    </template>
                    <li v-if="users.current_page < users.last_page" slot="afterList" 
                        class="m-t-15 m-b-10 text-center">
                      <button href="#" class="btn btn-primary" @click.prevent="loadmore()">
                        <i v-if="$apollo.queries.users_group.loading"
                           class="far fa-spinner-third fa-spin"></i>&nbsp;&nbsp;
                        {{ $t('word.loadmore') }}
                      </button>
                    </li>
                    <span slot="noResult">{{ $t('word.no_data') }}</span>
                    <span slot="noOptions">{{ $t('word.no_data') }}</span>
                  </multiselect>
                </div>
                <div class="form-group col-6 col-sm-auto">
                  <button type="button" class="btn btn-primary pull-right" @click="getListTimeKeeping(1)">
                    <i class="fa fa-search"></i> {{ $t('word.search') }}
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="table-responsive">
          <table id="table-time-keeping-list" class="table color-table info-table table-responsive">
            <thead>
              <tr>
                <th>{{ $t('word.avatar') }}</th>
                <th>{{ $t('word.name') }}</th>
                <th>{{ $t('word.phone_number') }}</th>
                <th>{{ $t('word.time_keeping_date') }}</th>
                <th>{{ $t('word.check') }}</th>
                <th>{{ $t('word.type') }}</th>
                <th v-check="{ permission: 'timekeeping.detail' }"></th>
              </tr>
            </thead>
            <tbody>
              <template v-for="(time, index) in timekeepings.data">
                <tr :key="index">
                  <td :rowspan="time.shift_type == 1 ? 2 : 4">
                    <div class="row justify-content-center">
                      <avatar :username="time.user.last_name + ' ' + time.user.first_name"
                              :size="45"
                              alt="user-img"
                              class="avatar"
                              color="#fff"
                              :src="time.user.avatars ? time.user.avatars.x2 : ''"></avatar>
                    </div>
                  </td>
                  <td :rowspan="time.shift_type == 1 ? 2 : 4">
                    <b>{{ time.user.last_name + ' ' + time.user.first_name }}</b>
                  </td>
                  <td :rowspan="time.shift_type == 1 ? 2 : 4">{{ time.user.phone_number }}</td>
                  <td :rowspan="time.shift_type == 1 ? 2 : 4">{{ time.date }}</td>
                  <td>
                    <div class="pull-left text-info"><b>{{ $t('word.checkin') }}: </b></div>
                    <div class="pull-right"><b>{{ time.times[0].checkin && time.times[0].checkin.time || '' }}</b></div>
                  </td>
                  <td>
                    <span v-if="time.times[0].checkin && time.times[0].checkin.photo_url"
                          class="label label-danger pull-right">{{ $t('word.borrow') }}</span>
                    <span v-else-if="time.is_addition && time.times[0].checkin.address"
                          class="label label-warning pull-right">{{ $t('word.addition') }}</span>
                    <span v-else-if="time.is_take_leave"
                          class="label label-primary pull-right">{{ $t('word.take_leave') }}</span>
                    <span v-else-if="time.is_switch"
                          class="label label-info pull-right">{{ $t('word.take_leave') }}</span>
                    <span v-else-if="typeof time.times[0].checkin == 'undefined'"></span>
                    <span v-else class="label label-success pull-right">{{ $t('word.normal') }}</span>
                  </td>
                  <td v-check="{ permission: 'timekeeping.detail' }" :rowspan="time.shift_type == 1 ? 2 : 4">
                    <router-link :to="{ name: 'timekeeping.detail', params: {id: time.id }}" class="btn btn-info">
                      {{ $t('word.detail') }}
                    </router-link>
                  </td>
                </tr>
                <tr :key="index + 'a'">
                  <td>
                    <div class="pull-left text-warning"><b>{{ $t('word.checkout') }} : </b></div>
                    <div class="pull-right">
                      <b>{{ time.times[0].checkout && time.times[0].checkout.time || '' }}</b>
                    </div>
                  </td>
                  <td>
                    <span v-if="time.times[0].checkout && time.times[0].checkout.photo_url"
                          class="label label-danger pull-right">{{ $t('word.borrow') }}</span>
                    <span v-else-if="time.is_addition && time.times[0].checkout.address"
                          class="label label-warning pull-right">{{ $t('word.addition') }}</span>
                    <span v-else-if="time.is_take_leave"
                          class="label label-primary pull-right">{{ $t('word.take_leave') }}</span>
                    <span v-else-if="time.is_switch"
                          class="label label-info pull-right">{{ $t('word.take_leave') }}</span>
                    <span v-else-if="typeof time.times[0].checkout == 'undefined'"></span>
                    <span v-else class="label label-success pull-right">{{ $t('word.normal') }}</span>
                  </td>
                </tr>
                <template v-if="time.shift_type == 2">
                  <tr :key="index + 'b'">
                    <td>
                      <div class="pull-left text-info"><b>{{ $t('word.checkin') }} : </b></div>
                      <div>{{ time.times[1].checkin && time.times[1].checkin.time || '' }}</div>
                    </td>
                    <td>
                      <span v-if="time.times[1].checkin && time.times[1].checkin.photo_url"
                            class="label label-danger pull-right">{{ $t('word.borrow') }}</span>
                      <span v-else-if="time.is_addition && time.times[1].checkin.address"
                            class="label label-warning pull-right">{{ $t('word.addition') }}</span>
                      <span v-else-if="time.is_take_leave"
                            class="label label-primary pull-right">{{ $t('word.take_leave') }}</span>
                      <span v-else-if="time.is_switch"
                            class="label label-info pull-right">{{ $t('word.take_leave') }}</span>
                      <span v-else-if="typeof time.times[1].checkin == 'undefined'"></span>
                      <span v-else class="label label-success pull-right">{{ $t('word.normal') }}</span>
                    </td>
                  </tr>
                  <tr :key="index + 'c'">
                    <td>
                      <div class="pull-left text-warning"><b>{{ $t('word.checkout') }} : </b></div>
                      <div class="pull-right">{{ time.times[1].checkout && time.times[1].checkout.time || '' }}</div>
                    </td>
                    <td>
                      <span v-if="time.times[1].checkout && time.times[1].checkout.photo_url"
                            class="label label-danger pull-right">
                        {{ $t('word.borrow') }}</span>
                      <span v-else-if="time.is_addition && time.times[1].checkout.address"
                            class="label label-warning pull-right">
                        {{ $t('word.addition') }}</span>
                      <span v-else-if="time.is_take_leave"
                            class="label label-primary pull-right">{{ $t('word.take_leave') }}</span>
                      <span v-else-if="time.is_switch"
                            class="label label-info pull-right">{{ $t('word.take_leave') }}</span>
                      <span v-else-if="typeof time.times[1].checkout == 'undefined'"></span>
                      <span v-else class="label label-success pull-right">{{ $t('word.normal') }}</span>
                    </td>
                  </tr>
                </template>
              </template>
              <tr v-if="!$apollo.queries.timekeepings.loading && timekeepings.data.length === 0">
                <td colSpan="7" class="no-data">{{ $t('word.no_data') }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <pagination v-if="lastPage > 1"
                    :current-page="currentPage"
                    :total-page="lastPage"
                    @changePage="changePage"></pagination>
        <div v-if="$apollo.queries.timekeepings.loading">
          <pulse-loader :loading="$apollo.queries.timekeepings.loading" :color="'#27a1f2'">
          </pulse-loader>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import TIMEKEEPINGS_QUERY from './../../../apollo/query/timekeeping/list.gql'
  import USERS_GROUP_QUERY from './../../../apollo/query/employee/list.gql'
  import PulseLoader from 'vue-spinner/src/PulseLoader'
  import Pagination from './../../partials/pagination'
  import DatePicker from 'vuejs-datepicker'
  import * as lang from 'vuejs-datepicker/src/locale'
  import moment from 'moment'

  export default {
    components: { PulseLoader, Pagination, DatePicker },
    data() {
      return {
        timekeepings: {
          data: []
        },
        currentPage: 1,
        perPage: 10,
        lastPage: null,
        users: {
          data: [],
          current_page: 1,
          last_page: 1
        },
        searching: false
      }
    },
    apollo: {
      timekeepings: {
        query: TIMEKEEPINGS_QUERY,
        variables() {
          return {
            groupId: this.groupId,
            page: 1
          }
        },
        result ({ data }) {
          this.currentPage = data.timekeepings.current_page
          this.lastPage = data.timekeepings.last_page
          this.perPage = data.timekeepings.per_page
        }
      }
    },
    computed: {
      language() {
        return lang[this.$i18n.locale]
      },
      groupId() {
        return this.$store.getters.groupId
      }
    },
    methods: {
      changePage(page) {
        this.$apollo.queries.timekeepings.refetch({
          page: page
        })
      },
      customLabel({ first_name, last_name }) {
        return first_name ? `${last_name} ${first_name}` :
          this.$t('word.email_phone_number_or_name')
      },
      getUserList() {
        this.$apollo.addSmartQuery('users_group', {
          query: USERS_GROUP_QUERY,
          variables() {
            return {
              groupId: this.groupId,
              page: 1
            }
          },
          manual: true,
          result ({ data }) {
            this.users = data.users_group
          }
        })
      },
      loadmore() {
        if (this.users.current_page < this.users.last_page) {
          this.$apollo.queries.users_group.fetchMore({
            variables: {
              page: this.users.current_page + 1
            },
            updateQuery: (previousResult, { fetchMoreResult }) => {
              const currentDatas = previousResult.users_group.data
              const newDatas = fetchMoreResult.users_group.data
              return {
                users_group: {
                  __typename: previousResult.users_group.__typename,
                  data: [...currentDatas, ...newDatas],
                  current_page: fetchMoreResult.users_group.current_page,
                  last_page: fetchMoreResult.users_group.last_page,
                  per_page: fetchMoreResult.users_group.per_page
                }
              }
            }
          })
        }
      },
      searchUser: _.debounce(function(search) {
        if (search != '') {
          this.searching = true
          this.$apollo.queries.users_group.refetch({
            keyword: search,
            page: 1
          })
          .finally(() => {
            this.searching = false
          })
        }
      }, 500),
      onUserSelect(user) {
        this.$apollo.queries.timekeepings.refetch({
          page: 1,
          userId: user.id
        })
      },
      onStartDateSelected(date) {
        this.$apollo.queries.timekeepings.refetch({
          page: 1,
          startDate: moment(date).format('DD-MM-YYYY')
        })
      },
      onEndDateSelected(date) {
        this.$apollo.queries.timekeepings.refetch({
          page: 1,
          endDate: moment(date).format('DD-MM-YYYY')
        })
      }
    }
  }
</script>
<style scoped>
  td, th {
    text-align: center;
  }
</style>