<template>
  <div id="m-s-select-return-invoice" class="m-s-modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title"><b>{{ $t("manage_sale.modal.select_return_invoice") }}</b></h4>
    </div>
    <div class="modal-body">
      <div class="row h-100">
        <div class="col-md-3 col-sm-3 col-xs-12 search">
          <label for="form-search" class="form-label">{{ this.$t('word.search') }}</label>
          <form class="form-horizontal form-search">
            <div class="form-group">
              <date-range-picker :locale-data="locale" 
                                 :max-date="maxDate"
                                 class="input-date-picker"
                                 date-range=""
                                 opens="right"
                                 @update="selectPicker">
                <div slot="input" class="input-date-picker">
                  <i class="fal fa-calendar-alt"></i> {{ periodDate }}
                </div>
              </date-range-picker>
            </div>
            <div class="form-group">
              <input v-model="invoiceCode" type="text" class="form-control"
                     :placeholder="$t('manage_sale.modal.search_invoies_by_code')">
            </div>
          </form>
          <div class="text-right">
            <button type="button" class="btn btn-info" @click="search()">
              {{ this.$t('word.search') }}
            </button>
          </div>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12 table-invoices">
          <div class="d-flex flex-column h-100">
            <div class="mb-auto p-2 table-wrapper ms__scrollbar-custom">
              <table class="table color-table info-table">
                <thead>
                  <tr>
                    <th>{{ this.$t('word.order_code') }}</th>
                    <th>{{ this.$t('word.table') }}/{{ this.$t('word.place') }}</th>
                    <th>{{ this.$t('word.created_at') }}</th>
                    <th>{{ this.$t('word.employee') }}</th>
                    <th class="text-center">{{ this.$t('word.total_money') }}</th>
                    <th class="text-center">
                      <button class="btn btn-circle btn-default" @click.prevent="reload()">
                        <i class="far" :class="[$apollo.loading ? 
                          'fa-spinner-third fa-spin' :
                          'fa-redo']"></i>
                      </button>
                    </th>
                  </tr>
                </thead>
                <tbody v-if="!loading">
                  <tr v-for="invoice in invoices" :key="invoice.id">
                    <td>{{ invoice.code }}</td>
                    <td>{{ (invoice.table_ids.length > 0) ?
                      invoicePosition(invoice.table_ids) :
                      $t('manage_sale.modal.call_bring_home') }}</td>
                    <td>{{ invoice.created_at }}</td>
                    <td>{{ invoice.recipient.fullname }}</td>
                    <td class="text-center">{{ formatPrice(invoice.total) }}</td>
                    <td class="text-center">
                      <button class="btn btn-sm btn-default" @click="selectInvoice(invoice)">
                        {{ $t('word.choose') }}
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <bounce-loader :loading="loading" color="#4eabe2" class="m-t-30"></bounce-loader>   
            </div>
            <div class="p-2">
              <pagination v-if="lastPage > 1" 
                          :current-page="currentPage"
                          :total-page="lastPage" 
                          @changePage="changePage"></pagination>
            </div>
            <div class="p-2 text-right return-invoice">
              <button type="button" class="btn btn-default" data-dismiss="modal">
                <i class="far fa-ban"></i> {{ this.$t('word.close') }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import moment from 'moment'
  import BounceLoader from 'vue-spinner/src/PulseLoader.vue'
  import DateRangePicker from 'vue2-daterange-picker'
  import 'vue2-daterange-picker/dist/vue2-daterange-picker.css'
  import configRangePicker from './../../../../mixins/config_range_picker.js'
  import { formatPrice, getFullName } from './../../../../helpers/handle_function.js'
  import { invoicePosition } from './../../../../helpers/helper_manage_sale.js'
  import Pagination from './../../../partials/pagination.vue'
  import PURCHASED_INVOICES_QUERY from './../../../../apollo/query/invoice/list.gql'

  export default {
    name: 'MSSelectReturnInvoice',
    components: { BounceLoader, DateRangePicker, Pagination },
    mixins: [ configRangePicker ],
    data() {
      return {
        loading: true,
        invoices: [],
        startDate: '',
        endDate: '',
        invoiceCode: '',
        currentPage: 1,
        lastPage: 1
      }
    },
    computed: {
      periodDate() {
        if (this.startDate && this.endDate) {
          return this.startDate + ' - ' + this.endDate
        }
        return this.$t('word.period')
      },
      tables() {
        return this.$store.getters.tables
      },
      groupId() {
        return this.$store.getters.groupId
      }
    },
    apollo: {
      invoices: {
        query: PURCHASED_INVOICES_QUERY,
        variables() {
          return {
            groupId: this.groupId,
            page: 1,
            status: 2 // Hoá đơn đã thanh toán
          }
        },
        manual: true,
        result ({ data, loading }) {
          this.invoices = data.invoices.data
          this.currentPage = data.invoices.current_page
          this.lastPage = data.invoices.last_page
          this.loading = loading
        }
      }
    },
    created() {
      this.maxDate = moment().format('YYYY-MM-DD')
    },
    methods: {
      formatPrice(amount) {
        return formatPrice(amount)
      },
      getFullName(firstName, lastName) {
        return getFullName(firstName, lastName)
      },
      convertFullDate(date) {
        return moment(date).format('DD-MM-YYYY')
      },
      invoicePosition(tableIds) {
        return invoicePosition(this.tables, tableIds)
      },
      selectPicker(date) {
        if (moment(date.startDate).isSameOrBefore(date.endDate)) {
          this.startDate = moment(date.startDate).format('DD-MM-YYYY')
          this.endDate = moment(date.endDate).format('DD-MM-YYYY')
          this.$apollo.queries.invoices.refetch({
            page: 1,
            startDate: moment(date.startDate).startOf('day').format('YYYY-MM-DD HH:mm:ss'),
            endDate: moment(date.endDate).endOf('day').format('YYYY-MM-DD HH:mm:ss')
          })
        }
      },
      reload() {
        this.$apollo.queries.invoices.refetch({})
      },
      search() {
        this.$apollo.queries.invoices.refetch({
          page: 1,
          code: this.invoiceCode || null
        })
      },
      changePage(page) {
        this.$apollo.queries.invoices.refetch({
          page: page
        })
      },
      selectInvoice(invoice) {
        window.bus.$emit('returnInvoiceSelected', invoice)
        bus.$emit('close-modal')
      }
    }
  }
</script>
<style scoped>
  .input-date-picker { display: inline }
  .fa-calendar-alt { margin-top: 7px; }
</style>