<template>
  <div id="m-s-setting" class="m-s-modal">
    <div class="modal-header">
      <h4 class="modal-title">
        <span v-show="currentSetting === 'general-setting'">
          {{ $t('manage_sale.modal.general_settings') }}</span>
        <span v-show="currentSetting === 'place-setting'">
          {{ $t('manage_sale.modal.management_settings') }}
        </span>
      </h4>
      <div class="clearfix"></div>
    </div>
    <div class="modal-body">
      <keep-alive>
        <template v-if="currentSetting === 'general-setting'">
          <form class="form-horizontal form-material">
            <div class="form-group">
              <label for="next-page" class="col-sm-8 control-label">
                {{ $t('manage_sale.modal.switch_ordering_screen_when_table_set') }}
              </label>
              <div id="next-page" class="col-sm-4">
                <switches v-model="autoNextScreen" theme="bootstrap" color="success"></switches>
              </div>
            </div>
            <div class="form-group">
              <label for="place-number" class="col-sm-8 control-label">
                {{ $t('manage_sale.modal.number_places_displayed_in_screen') }}
              </label>
              <div id="place-number" class="col-sm-2">
                <input v-model="placeNumber" class="form-control" type="number" min="0">
              </div>
            </div>
            <div class="form-group">
              <label for="print-order" class="col-sm-8 control-label">
                {{ $t('manage_sale.modal.print_invoice_when_making_payment') }}
              </label>
              <div id="print-order" class="col-sm-4">
                <switches v-model="printInvoice" theme="bootstrap" color="success"></switches>
              </div>
            </div>
            <div class="form-group">
              <label for="notify-sound" class="col-sm-8 control-label">
                {{ $t('manage_sale.modal.use_sound_when_announcing') }}
              </label>
              <div id="notify-sound" class="col-sm-4">
                <switches v-model="notifySound" theme="bootstrap" color="success"></switches>
              </div>
            </div>
          </form>
        </template>
        <template v-else-if="currentSetting = 'place-setting'">
          <div class="d-flex flex-wrap">
            <template v-for="place in places">
              <div :key="place.id" class="checkbox checkbox-primary p-2 place">
                <input :id="place.id" v-model="placesManage" type="checkbox" :value="place.id">
                <label :for="place.id">{{ place.name }}</label>
              </div>
            </template>
          </div>
        </template>
      </keep-alive>
      <div class="row">
        <div class="col-sm-12 text-right p-r-20">
          <a v-if="isGeneralSetting" href="#"
             @click.stop="currentSetting = 'place-setting'">
            {{ $t('manage_sale.modal.management_place_setup') }}
          </a>
          <a v-else href="#" @click.stop="currentSetting = 'general-setting'">
            {{ $t('manage_sale.modal.basic_setup') }}
          </a>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" @click="closeModal()">
        <i class="far fa-ban"></i> {{ $t('manage_sale.modal.cancel') }}
      </button>
      <button type="button" class="btn btn-primary" @click="setting()">
        <i class="far fa-check"></i> {{ $t('manage_sale.modal.setting') }}
      </button>
    </div>
  </div>
</template>
<script>
  import Switches from 'vue-switches'
  import configManageSale from './../../../../helpers/config_manage_sale.js'
  import PLACES_QUERY from './../../../../apollo/query/place/list.gql'

  export default {
    name: 'MSSetting',
    components: { Switches },
    data() {
      return {
        currentSetting: 'general-setting', // Phần thiết lập khu vực cho cài đặt
        autoNextScreen: true,
        placeNumber: 4,
        placesManage: [],
        printInvoice: true,
        notifySound: true,
        places: []
      }
    },
    computed: {
      isPlaceSetting() {
        return this.currentSetting === 'place-setting'
      },
      isGeneralSetting() {
        return this.currentSetting === 'general-setting'
      },
      groupId() {
        return this.$store.getters.groupId
      }
    },
    apollo: {
      places: {
        query: PLACES_QUERY,
        variables() {
          return {
            groupId: this.groupId
          }
        }
      }
    },
    created() {
      this.autoNextScreen = this.$store.getters.autoNextScreen
      this.placeNumber = this.$store.getters.placeNumber
      this.placesManage = this.$store.getters.placesManage
      this.printInvoice = this.$store.getters.printInvoice
      this.notifySound = this.$store.getters.notifySound
    },
    methods: {
      closeModal() {
        bus.$emit('close-modal')
      },
      setting() {
        const config = {
          auto_next_screen: this.autoNextScreen,
          place_number: parseInt(this.placeNumber),
          places_manage: this.placesManage,
          print_invoice: this.printInvoice,
          notify_sound: this.notifySound
        }
        this.$store.dispatch('setConfig', config)
        configManageSale.setItem(config)
        this.closeModal()
      }
    }
  }
</script>

<style type="text/css" scoped>
  .place {
    width: calc(50% - 60px);
    margin: 0 30px;
  }
</style>