<template>
  <div v-if="isLoadingLeftScreen" id="loader-left-screen">
    <clip-loader class="loader"></clip-loader>
  </div>
</template>
<script>
  import { ClipLoader } from 'vue-spinner/dist/vue-spinner.min.js'
  export default {
    name: 'LoaderLeftScreen',
    components: { ClipLoader },
    computed: {
      isLoadingLeftScreen() {
        return this.$store.getters.isLoadingLeftScreen
      }
    }
  }
</script>