<template>
  <div id="m-s-confirm" class="m-s-modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">{{ payload.title }}</h4>
    </div>
    <div class="modal-body">
      <div class="text-center">
        <button type="button" data-dismiss="modal" class="btn btn-default m-r-10">
          <i class="far fa-ban"></i> {{ $t('manage_sale.modal.cancel') }}
        </button>
        <button type="button" class="btn btn-primary" @click="confirm">
          <i class="far fa-check"></i> {{ $t('manage_sale.modal.confirm') }}
        </button>
      </div>
    </div>
  </div>
</template>
<script>
  import SALE_DELETE_GOODS_ITEM from './../../../../apollo/mutation/sale/delete_goods_item.gql'
  import SALE_DELETE_INVOICE from './../../../../apollo/mutation/sale/delete_invoice.gql'
  import SALE_INVOICES_QUERY from './../../../../apollo/query/sale/sale_invoices.gql'
  import asyncCache from './../mixins/async_cache.js'

  export default {
    name: 'MSConfirm',
    mixins: [ asyncCache ],
    props: {
      payload: {
        type: Object,
        required: true
      }
    },
    computed: {
      groupId() {
        return this.$store.state.current.group.id
      },
      placeIdsManage() {
        return this.$store.getters.placesManage
      },
    },
    methods: {
      confirm() {
        bus.$emit('close-modal')
        switch(this.payload.type) {
          case 'confirm-delete-dish':
            this.confirmDeleteDish()
            break
          case 'confirm-delete-order':
            this.cofirmDeleteOrder()
            break
        }
      },
      confirmDeleteDish() {
        this.$apollo.mutate({
          mutation: SALE_DELETE_GOODS_ITEM,
          variables: {
            invoiceId: this.payload.invoiceId,
            groupId: this.groupId,
            goodsId: this.payload.goodsId,
            createdAt: this.payload.orderCreatedAt,
            count: this.payload.orderCount
          }
        }).then(() => {
          this.$awn.success(this.$t('word.deleted'))
        })
      },
      cofirmDeleteOrder() {
        if (this.payload.isReturn) {
          this.deleteReturnInvoice()
        } else {
          this.deletePurchaseInvoice()
        }
      },
      deleteReturnInvoice() {
        const client = this.$apollo.provider.defaultClient
        const query = {
          query: SALE_INVOICES_QUERY,
          variables: {
            groupId: this.groupId,
            placeIds: this.placeIdsManage
          }
        }
        const data = client.readQuery(query)
        let index = data.sale_invoices.findIndex(item => item.id === this.payload.invoiceId)
        data.sale_invoices.splice(index, 1)
        client.writeQuery({ ...query, data: data })
        this.$awn.success(this.$t('word.deleted'))
      },
      deletePurchaseInvoice() {
        this.$apollo.mutate({
          mutation: SALE_DELETE_INVOICE,
          variables: {
            invoiceId: this.payload.invoiceId,
            groupId: this.groupId
          }
        }).then(() => {
          this.invoiceDestroyed(this.payload.invoiceId)
          this.$awn.success(this.$t('word.deleted'))
        })
      }
    }
  }
</script>