<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-12 col-sm">
        <h4 class="page-title">{{ $t('word.service_fee') }} {{ $t('word.month') }} {{ month }}</h4>
      </div>
    </div>
    <div class="row">
      <div class="white-box col-12">
        <div>
          <table class="table color-table info-table table-responsive">
            <thead>
              <tr>
                <th>{{ $t('word.organization') }}</th>
                <th>{{ $t('payment.how_to_charge') }}</th>
                <th>{{ $t('word.total_money') }}</th>
                <th class="text-center">{{ $t('word.status') }}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in fees" :key="item.id">
                <td>
                  <div class="checkbox checkbox-info">
                    <input :id="item.group.id"
                           v-model="item.selected" type="checkbox"
                           class="form-check-input"
                           :disabled="item.status !== 0"
                           @click="onChecked(item, index)">
                    <label :for="item.group.id"> &nbsp;&nbsp;&nbsp;<i></i>{{ item.group.name }}</label>
                  </div>
                </td>
                <template v-if="item.group.service_type === timekeepingService">
                  <td>
                    <span class="label label-default">{{ $t('payment.restaurant.package_3') }}</span>
                  </td>
                  <td>
                    {{ formatPrice(timekeepingFee) }}
                  </td>
                </template>
                <template v-else>
                  <td>
                    <multiselect
                      v-model="item.package_selected"
                      :options="packages"
                      label="label"
                      track-by="value"
                      :placeholder="$t('payment.select_how_to_charge')"
                      select-label=""
                      deselect-label=""
                      selected-label=""
                      :allow-empty="false"
                      class="multiselect"
                      :disabled="item.status !== 0"
                      @select="packageSelected($event, index)"></multiselect>
                  </td>
                  <td>
                    {{ formatPrice(item[`fee${item.package}`]) }}
                  </td>
                </template>
                <td class="text-right">
                  <span v-if="item.status === 0" class="label label-danger">
                    {{ $t('restaurant.import_invoice.temporary') }}
                  </span>
                  <span v-else-if="item.status === 2" class="label label-success">
                    {{ $t('restaurant.import_invoice.finished') }}
                  </span>
                  <span v-else-if="item.status === 1" class="label label-warning">
                    {{ $t('payment.inprogress') }}
                  </span>
                </td>
                <td class="text-right">
                  <template v-if="item.status === 1 || item.status === 2">
                    <span class="text-muted">{{ item.transaction.updated_at }}</span><br>
                    {{ item.transaction.user.fullname }}
                  </template>
                </td>
              </tr>
              <tr v-if="loading">
                <td colspan="6" class="text-center">
                  <pulse-loader :loading="loading" color="#27a1f2"></pulse-loader>
                </td>
              </tr>
              <tr v-else-if="fees.length === 0">
                <td class="no-data" colspan="6">{{ $t('word.no_data') }}</td>
              </tr>
              <tr>
                <td colspan="5"><b>{{ $t('payment.total_fee') }}: {{ formatPrice(totalPayment) }}</b></td>
              </tr>
            </tbody>
          </table>
        </div>
        <button v-if="fees.length"
                type="button"
                class="btn btn-success pull-left m-l-5 m-r-15"
                data-toggle="collapse" href="#purchase-method"
                role="button" aria-expanded="false" aria-controls="collapseExample">
          <i class="fab fa-paypal"></i> {{ $t('word.payment') }}
        </button>
        <div id="purchase-method" class="collapse">
          <div class="card card-body card-info">
            <b class="m-t-5 m-r-15">{{ $t('payment.select_purchase_method') }}</b>
            <button class="btn btn-rounded momo m-r-15"
                    :disabled="momoLoading"
                    @click.prevent="momo()">
              <i v-if="momoLoading" class="far fa-spinner-third fa-spin"></i> 
              <img v-else src="/images/momo.png" alt="MOMO" width="19"> 
              {{ $t('payment.pay_with') }} MOMO
            </button>
            <button class="btn btn-rounded btn-default vnpay m-r-15">
              <i class="fa fa-qrcode text-primary"></i> {{ $t('payment.pay_with') }} 
              <span style="color: #E51316;">VN</span><span style="color: #2D5C8B;">PAY</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { formatPrice } from './../../helpers/handle_function.js'
  import PulseLoader from 'vue-spinner/src/PulseLoader'
  import SERVICE_FEE from './../../apollo/query/service_fee/list.gql'
  import PAY_SF_WITH_MOMO from './../../apollo/mutation/payment/payment_momo.gql'
  import {
    TIMEKEEPING_SERVICE,
    RESTAURANT_SERVICE,
    TIMEKEEPING_FEE_1,
    RESTAURANT_FEE_1,
    RESTAURANT_FEE_2,
    RESTAURANT_FEE_3
  } from './../../constants.js'
  import moment from 'moment'

  export default {
    name: 'ServicePayment',
    components: { PulseLoader },
    data() {
      return {
        fees: [],
        loading: true,
        momoLoading: false,
        packages: [
          { value: 1, label: this.$t('payment.restaurant.package_1') },
          { value: 2, label: this.$t('payment.restaurant.package_2') },
          { value: 3, label: this.$t('payment.restaurant.package_3') },
        ]
      }
    },
    computed: {
      timekeepingService() {
        return TIMEKEEPING_SERVICE
      },
      restaurantService() {
        return RESTAURANT_SERVICE
      },
      timekeepingFee() {
        return TIMEKEEPING_FEE_1
      },
      totalPayment() {
        let total = 0
        this.fees.forEach(item => {
          if (item.status === 0 && item.selected) {
            switch (item.group.service_type) {
              case this.timekeepingService:
                total += this.timekeepingFee
                break
              case this.restaurantService:
                total += item[`fee${item.package}`]
                break
              default:
                break
            }
          }
        })
        return total
      },
      month() {
        return moment().subtract(1, 'month').format('MM-YYYY')
      }
    },
    apollo: {
      service_fees: {
        query: SERVICE_FEE,
        result({ data, loading }) {
          this.loading = loading
          this.fees = JSON.parse(JSON.stringify(data.service_fees))
          this.fees.map(item => {
            switch (item.group.service_type) {
              case this.timekeepingService:
                item.amount = this.timekeepingFee
                break
              case this.restaurantService:
                item.fee1 = item.invoices_count * RESTAURANT_FEE_1
                item.fee2 = item.revenue * RESTAURANT_FEE_2 / 100
                item.fee3 = RESTAURANT_FEE_3
                if (!item.paid) {
                  item.amount = Math.min(item.fee1, item.fee2, item.fee3)
                  item.package = [item.fee1, item.fee2, item.fee3].findIndex(number => number === item.amount) + 1
                  item.package_selected = this.packages[item.package - 1]
                } else {
                  item.amount = item.amount
                }
                break
              default:
            }
            if (item.status === 0) {
              item.selected = true
            }
            return item
          })
        }
      }
    },
    methods: {
      formatPrice(number) {
        return formatPrice(number)
      },
      onChecked(fee, index) {
        fee.selected = !fee.selected
        this.$set(this.fees, index, fee)
      },
      momo() {
        this.momoLoading = true
        let serviceFees = []
        this.fees.forEach(item => {
          if (item.selected) {
            serviceFees.push({
              service_fee_id: item.id,
              package: item.package || null
            })
          }
        })
        this.$apollo.mutate({
          mutation: PAY_SF_WITH_MOMO,
          variables: {
            serviceFees: serviceFees
          }
        }).then(result => {
          this.$apollo.queries.service_fees.refetch()
          window.open(result.data.pay_service_fee_with_momo_web, '_blank')
        }).catch(error => {
          this.$awn.alert(error.graphQLErrors[0].message)
        }).finally(() => {
          this.momoLoading = false
        })
      },
      packageSelected(args, index) {
        let item = this.fees[index]
        item.package = args.value
        this.$set(this.fees, index, item)
      }
    }
  }
</script>

<style scoped>
  .momo {
    background-color: #BB0077;
    color: #fff;
  }
  .zalo-pay {
    background-color: #4E8FE4;
    color: #fff;
  }
  .multiselect {
    margin-right: 50px;
    max-width: 300px;
  }
</style>
