<template>
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Thêm mới thư mục ảnh</h4>
      <div class="clearfix"></div>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label class="col-lg-4 control-label">Tên hàng hóa / Thực đơn</label>
        <div class="col-lg-8">
          <input v-model="name" type="text" class="form-control">
          <span v-if="errors.name" class="text-danger">
            <strong>{{ errors.name[0] }}</strong>
          </span>
        </div>
      </div>
      <div v-viewer="config" class="row form-group">
        <div v-for="(image, index) in imagesPreview"
             :key="index"
             class="col-md-4 col-6">
          <div class="position-relative group-image">
            <img :src="image"
                 alt="image"
                 style="width: 100%"
                 data-toggle="modal"
                 data-target=".bs-example-modal-lg"
                 class="zoom-in image-border">
            <span class="btn btn-danger btn-circle" @click="deleteImage(index)">
              <i class="fa fa-times"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group text-center m-b-0">
        <div class="fileinput" data-provides="fileinput">
          <button class="btn btn-info btn-file">
            <i class="fas fa-images"></i> {{ $t('word.upload_image') }}
            <input type="file" name="..." multiple @change="processImage">
          </button>
        </div>
      </div>
    </div>
    <div class="modal-footer center-block">
      <div class="col-12 text-center">
        <button class="btn btn-default" data-dismiss="modal">
          <i class="far fa-ban"></i> {{ $t('word.cancel') }}
        </button>
        <button class="btn btn-info" :disabled="loading" @click.prevent="create()">
          <i class="far fa-check"></i> Tạo mới
        </button>
      </div>
    </div>
  </div>
</template>

<script>
  import previewImage from './../../../mixins/handle_preview_image.js'
  import CREATE from './../../../apollo/mutation/good_image/create.gql'
  import GOOD_IMAGES from './../../../apollo/query/good_image/list.gql'

  export default {
    name: 'CreateImage',
    mixins: [previewImage],
    data() {
      return {
        name: '',
        limitImage: 0,
        loading: false,
        errors: {}
      }
    },
    methods: {
      deleteImage(index) {
        this.images.splice(index, 1)
        this.imagesPreview.splice(index, 1)
      },
      create() {
        this.loading = true
        this.$apollo.mutate({
              client: 'master',
              mutation: CREATE,
              variables: {
                name: this.name,
                images: this.images
              },
              context: {
                hasUpload: true
              },
              update: (store, { data: {store_good_image} }) => {
                const query = {
                  query: GOOD_IMAGES,
                  variables: {
                    name: '',
                    page: 1
                  }
                }
                try {
                  const data = store.readQuery(query)
                  let index = data.good_images.data.findIndex(obj => obj.id === store_good_image.id)
                  if (index === -1) data.good_images.data.unshift(store_good_image)
                  else data.good_images.data[index] = store_good_image
                  store.writeQuery({ ...query, data: data })
                } catch (e) {
                }
              }
            })
            .then(() => {
              this.images = []
              this.imagesPreview = []
              this.errors = {}
              this.$awn.success('Đã thêm thư mục ảnh mới')
              $('#modal').modal('hide')
            })
            .catch(err => {
              if (err.graphQLErrors[0].message === 'validation') {
                this.errors = err.graphQLErrors[0].extensions.validation
              }
            })
            .finally(() => {
              this.loading = false
            })
      }
    }
  }
</script>

<style scoped lang="scss">
  .group-image {
    position: relative;
    margin-top: 15px;
    .btn {
      display: none;
      position: absolute;
      top: 10px;
      right: 10px;
    }
    &:hover .btn {
      display: block;
    }
  }
</style>
