<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-12 col-sm">
        <h4 class="page-title">Quản lý ảnh Hàng hóa / Thực đơn</h4></div>
    </div>
    <div class="row">
      <div class="white-box col">
        <div class="row justify-content-around">
          <div class="col">
            <ol class="breadcrumb">
              <li>
                <router-link :to="{ name: 'master.home' }">{{ $t('word.home') }}</router-link>
              </li>
              <li class="active cursor-pointer" @click.prevent="tab = 1">Quản lý ảnh</li>
              <li v-if="tab === 2" class="active"><i>{{ imageSelected.name }}</i></li>
            </ol>
          </div>
          <div class="form-group col-auto">
            <input v-model="name" type="text" class="form-control"
                   placeholder="Tên hàng hóa"
                   @keyup.enter="search($event.target.value)">
          </div>
        </div>
        <div v-if="tab === 1" class="row">
          <div class="col-sm-3 col-md-2">
            <div class="folder flex-column justify-content-center"
                 data-toggle="tooltip"
                 @click="addFolder()">
              <a href="javascript:void(0)">
                <i class="fa fa-plus-circle"></i>
              </a>
              <div>Thêm mới</div>
            </div>
          </div>
          <div v-for="(image, index) in goodImages" :key="image.id" class="col-sm-3 col-md-2">
            <div class="folder flex-column justify-content-center"
                 data-toggle="tooltip"
                 :title="image.name"
                 @click.stop="seeImage(image)">
              <a href="javascript:void(0)">
                <i :class="image.urls.length ? 'fa fa-folder-open' : 'fa fa-folder default'"></i>
              </a>
              <div>
                <span>{{ image.name }}</span>
              </div>
              <button class="btn btn-circle btn-danger btn-delete-image" :disabled="deletingIndexFolder === index"
                      @click.stop="deleteFolder(image.id, index)">
                <span class="fa fa-times"></span>
              </button>
            </div>
          </div>
        </div>
        <template v-else>
          <div v-viewer="config">
            <div class="row">
              <div v-for="(url, index) in imageSelected.urls" :key="url" class="col-sm-3 col-md-2">
                <div class="group-image">
                  <img :src="$asset(url)"
                       :alt="imageSelected.name"
                       class="img-responsive image-border"
                       data-toggle="modal"
                       data-target=".bs-example-modal-lg">
                  <button class="btn btn-circle btn-danger btn-delete-image" :disabled="deletingIndex === index"
                          @click.prevent="deleteImage(url, index)">
                    <i class="fa fa-times"></i>
                  </button>
                </div>
              </div>
            </div>
            <div v-if="images.length">
              <div class="row form-group">
                <div v-for="(image, index) in imagesPreview"
                     :key="index"
                     class="col-md-2 col-sm-3">
                  <div class="position-relative group-image">
                    <img :src="image"
                         alt="image"
                         style="width: 100%"
                         data-toggle="modal"
                         data-target=".bs-example-modal-lg"
                         class="zoom-in image-border">
                    <button class="btn btn-danger btn-delete-image btn-circle" @click="deletePreviewImage(index)">
                      <i class="fa fa-times"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center m-t-15">
              <div class="fileinput" data-provides="fileinput">
                <button class="btn btn-info btn-file">
                  <i class="fas fa-images"></i> {{ $t('word.upload_image') }}
                  <input type="file" name="..." multiple @change="processImage">
                </button>
              </div>
              <button v-if="images.length"
                      class="btn btn-info m-l-15"
                      :disabled="uploading"
                      @click="updateImage()"><i class="fa fa-save"></i> Cập nhật
              </button>
            </div>
          </div>
        </template>
        <pulse-loader :loading="loading" :color="'#27a1f2'"></pulse-loader>
        <div v-show="tab === 1 && currentPage < lastPage && !loading" class="text-center">
          <a href="javascript:void(0)" @click.prevent="loadMore()">Tải nhiều hơn ...</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import IMAGES from './../../../apollo/query/good_image/list.gql'
  import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
  import previewImages from './../../../mixins/handle_preview_image'
  import ADD_IMAGES from '../../../apollo/mutation/good_image/add_images.gql'
  import DELETE_IMAGE from './../../../apollo/mutation/good_image/delete_image.gql'
  import DELETE_GOOD_IMAGE from './../../../apollo/mutation/good_image/delete_model.gql'

  export default {
    name: 'List',
    components: { PulseLoader },
    mixins: [previewImages],
    data() {
      return {
        name: '',
        config: { movable: false, toolbar: true, navbar: true, title: true, zoomable: true },
        goodImages: [],
        deletingIndexFolder: -1,
        lastPage: 1,
        currentPage: 1,
        perPage: 1,
        loading: true,
        tab: 1,
        imageSelected: {},
        deletingIndex: -1,
        errors: {},
        limitImage: 0,
        uploading: false
      }
    },
    apollo: {
      good_images: {
        query: IMAGES,
        variables() {
          return {
            name: '',
            page: 1
          }
        },
        result({ data, loading }) {
          this.loading = loading
          this.goodImages = data.good_images.data
          this.currentPage = data.good_images.current_page
          this.lastPage = data.good_images.last_page
          this.perPage = data.good_images.per_page
        }
      }
    },
    methods: {
      search(name) {
        this.loading = true
        this.$apollo.queries.good_images.refetch({
          name: name,
        })
      },
      seeImage(image) {
        this.tab = 2
        this.imageSelected = image
      },
      addFolder() {
        bus.$emit('modal', {
          component: 'create-image',
        })
      },
      loadMore() {
        this.loading = true
        return new Promise((resolve) => {
          this.$apollo.queries.good_images.fetchMore({
            variables: {
              page: this.currentPage + 1
            },
            updateQuery: (previousResult, { fetchMoreResult }) => {
              const newDatas = [...this.goodImages, ...fetchMoreResult.good_images.data]
              return {
                good_images: {
                  __typename: previousResult.good_images.__typename,
                  data: newDatas,
                  current_page: fetchMoreResult.good_images.current_page,
                  last_page: fetchMoreResult.good_images.last_page,
                  per_page: fetchMoreResult.good_images.per_page
                }
              }
            }
          }).then(() => {
            this.$nextTick(() => {
              this.loading = false
            })
            resolve()
          })
        })
      },
      deletePreviewImage(index) {
        this.images.splice(index, 1)
        this.imagesPreview.splice(index, 1)
      },
      deleteImage(url, index) {
        this.deletingIndex = index
        this.$apollo.mutate({
              client: 'master',
              mutation: DELETE_IMAGE,
              variables: {
                id: this.imageSelected.id,
                url: url
              },
            })
            .then(res => {
              let index = this.goodImages.findIndex(obj => obj.id === res.data.delete_good_image.id)
              this.goodImages[index] = res.data.delete_good_image
              this.imageSelected = res.data.delete_good_image
              this.$awn.success('Đã xóa ảnh danh mục "' + this.imageSelected.name + '"')
            })
            .catch(err => {
              this.$awn.alert(err.graphQLErrors[0].message)
            })
            .finally(() => this.deletingIndex = -1)
      },
      deleteFolder(id, index) {
        this.deletingIndexFolder = index
        this.$apollo.mutate({
              client: 'master',
              mutation: DELETE_GOOD_IMAGE,
              variables: {
                id: id,
              },
            })
            .then(() => {
              this.goodImages.splice(index, 1)
              this.$awn.success('Đã xóa thư mục ảnh')
            })
            .catch(err => {
              this.$awn.alert(err.graphQLErrors[0].message)
            })
            .finally(() => this.deletingIndexFolder = -1)
      },
      updateImage() {
        this.uploading = true
        this.$apollo.mutate({
              client: 'master',
              mutation: ADD_IMAGES,
              variables: {
                id: this.imageSelected.id,
                images: this.images
              },
              context: {
                hasUpload: true
              },
            })
            .then(res => {
              let index = this.goodImages.findIndex(obj => obj.id === res.data.add_good_images.id)
              this.goodImages[index] = res.data.add_good_images
              this.imageSelected = res.data.add_good_images
              this.images = []
              this.imagesPreview = []
              this.$awn.success('Đã thêm ảnh mới vào danh mục "' + this.imageSelected.name + '"')
            })
            .catch(err => {
              if (err.graphQLErrors[0].message === 'validation') {
                this.errors = err.graphQLErrors[0].extensions.validation
              }
            })
            .finally(() => this.uploading = false)
      }
    }
  }
</script>

<style scoped lang="scss">
  .folder {
    text-align: center;
    position: relative;
    padding: 10px;
    i {
      color: #efd270;
      font-size: 80px;
      &.default {
        color: #CCCCCC;
      }
    }
    &:hover {
      background-color: #edf4fd;
      border-radius: 5px;
      border: solid 1px #b8d6fb;
      .btn-delete-image {
        display: block;
      }
    }
  }

  .breadcrumb > li + li:before {
    content: '>';
  }
</style>
