<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-12 col-sm">
        <h4 class="page-title">{{ $t('word.shift_manage') }}</h4>
      </div>
      <div class="col-12 col-sm-auto">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{ name: 'home' }">{{ $t('word.home') }}</router-link>
          </li>
          <li>
            <router-link :to="{ name: 'shift.list' }">{{ $t('word.shifts') }}</router-link>
          </li>
          <li class="active">{{ $t('word.create') }}</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="white-box col">
        <div class="panel-body">
          <label class="text-muted">{{ $t('shifts.choose_type_shift') }}</label>
          <ul class="nav nav-pills m-b-30 ">
            <li :class="{ 'active': typeShift == 1 }" @click="typeShift = 1">
              <a class="pointer">{{ $t('shifts.2_times_scan_per_day') }}</a>
            </li>
            <li :class="{ 'active': typeShift == 2 }" @click="typeShift = 2">
              <a class="pointer">{{ $t('shifts.4_times_scan_per_day') }}</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active">
              <div class="row">
                <div class="col-md-6">
                  <form autocomplete="off">
                    <div class="form-group" :class="{ 'has-error' : errors.name }">
                      <label>{{ $t('word.shiftname') }}</label>
                      <input v-model="name" type="text" class="form-control" name="name">
                      <span v-if="errors.name" class="text-danger">
                        {{ errors.name[0] }}
                      </span>
                    </div>
                    <div class="row">
                      <div class="form-group col-xs-6" :class="{ 'has-error' : errors.start_time_1 }">
                        <label>{{ $t('word.start_time') }} 
                          {{ typeShift == 2 ? $t('shifts.first_haft_shift') : '' }}</label>
                        <input id="checkin1"
                               v-model="checkin1"
                               type="text"
                               class="form-control"
                               name="start_time_1"
                               @focus="clockPicker('checkin1')">
                        <span v-if="errors.start_time_1" class="text-danger">
                          {{ errors.start_time_1[0] }}
                        </span>
                      </div>

                      <div class="form-group col-xs-6" :class="{ 'has-error' : errors.end_time_1 }">
                        <label>{{ $t('word.end_time') }} 
                          {{ typeShift == 2 ? $t('shifts.first_haft_shift') : '' }}</label>
                        <input id="checkout1"
                               v-model="checkout1"
                               type="text"
                               class="form-control"
                               name="end_time_1"
                               @focus="clockPicker('checkout1')">
                        <span v-if="errors.end_time_1" class="text-danger">
                          {{ errors.end_time_1[0] }}
                        </span>
                      </div>

                      <div v-if="typeShift == 2"
                           class="form-group col-xs-6"
                           :class="{ 'has-error' : errors.start_time_2 }">
                        <label>{{ $t('word.start_time') + ' ' + $t('shifts.second_haft_shift') }}</label>
                        <input id="checkin2"
                               v-model="checkin2"
                               type="text"
                               class="form-control"
                               name="start_time_2"
                               @focus="clockPicker('checkin2')">
                        <span v-if="errors.start_time_2" class="text-danger">
                          {{ errors.start_time_2[0] }}
                        </span>
                      </div>

                      <div v-if="typeShift == 2"
                           class="form-group col-xs-6"
                           :class="{ 'has-error' : errors.end_time_2 }">
                        <label>{{ $t('word.end_time') + ' ' + $t('shifts.second_haft_shift') }}</label>
                        <input id="checkout2"
                               v-model="checkout2"
                               type="text"
                               class="form-control"
                               name="end_time_2"
                               @focus="clockPicker('checkout2')">
                        <span v-if="errors.end_time_2" class="text-danger">
                          {{ errors.end_time_2[0] }}
                        </span>
                      </div>
                    </div>

                    <div class="form-group">
                      <label>{{ $t('shifts.allow_time') }}</label>
                      <button class="btn btn-default btn-circle m-l-10"
                              type="button"
                              data-container="body"
                              data-toggle="popover"
                              data-placement="right"
                              data-trigger="focus"
                              data-html="true"
                              :data-content="$t('shifts.allow_time_desc')">
                        <i class="fa fa-question"></i>
                      </button>
                      <vue-slider v-model="allowTime"
                                  class="m-t-20"
                                  :tooltip="'always'"
                                  :min="0"
                                  :max="60"
                                  :interval="5"
                                  :data="[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60]"
                                  :piecewise="true"
                                  :piecewise-label="true"
                                  :piecewise-style="{ backgroundColor: '#ccc',
                                                      visibility: 'visible', width: '12px',
                                                      height: '12px' }">
                      </vue-slider>
                      <span v-if="errors.allow_time" class="text-danger">
                        {{ errors.allow_time[0] }}
                      </span>
                    </div>
                    <br>

                    <div class="form-group">
                      <label>{{ $t('word.choose_calendar') }}</label>
                      <div class="checkbox checkbox-success">
                        <input id="monday" v-model="schedules" value="monday" type="checkbox">
                        <label for="monday"> {{ $t('word.monday') }} </label>
                      </div>
                      <div class="checkbox checkbox-success">
                        <input id="tuesday" v-model="schedules" value="tuesday" type="checkbox">
                        <label for="tuesday"> {{ $t('word.tuesday') }} </label>
                      </div>
                      <div class="checkbox checkbox-success">
                        <input id="wednesday" v-model="schedules" value="wednesday" type="checkbox">
                        <label for="wednesday"> {{ $t('word.wednesday') }} </label>
                      </div>
                      <div class="checkbox checkbox-success">
                        <input id="thursday" v-model="schedules" value="thursday" type="checkbox">
                        <label for="thursday"> {{ $t('word.thursday') }} </label>
                      </div>
                      <div class="checkbox checkbox-success">
                        <input id="friday" v-model="schedules" value="friday" type="checkbox">
                        <label for="friday"> {{ $t('word.friday') }} </label>
                      </div>
                      <div class="checkbox checkbox-success">
                        <input id="saturday" v-model="schedules" value="saturday" type="checkbox">
                        <label for="saturday"> {{ $t('word.saturday') }} </label>
                      </div>
                      <div class="checkbox checkbox-danger">
                        <input id="sunday" v-model="schedules" value="sunday" type="checkbox">
                        <label for="sunday"> {{ $t('word.sunday') }} </label>
                      </div>
                    </div>
                    <div class="text-center">
                      <button type="button" class="btn btn-info" 
                              :disabled="loading" @click="storeShift()">
                        <i :class="[loading ? 'far fa-spinner-third fa-spin' : 'far fa-check']">
                        </i>  {{ $t('word.submit') }}
                      </button>
                      <a href="javascript:history.go(-1)" class="btn btn-default">
                        <i class="far fa-ban"></i>  {{ $t('word.cancel') }}
                      </a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
<script>
  import CREATE_SHIFT_MUTATION from './../../../apollo/mutation/shift/create.gql'
  import SHIFTS_QUERY from './../../../apollo/query/shift/list.gql'
  import VueSlider from 'vue-slider-component'
  import 'vue-slider-component/theme/default.css'

  export default {
    components: { VueSlider },
    data() {
      return {
        loading: false,
        typeShift: 1,
        name: '',
        schedules: ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday'],
        errors: [],
        checkin1: '',
        checkout1: '',
        checkin2: '',
        checkout2: '',
        allowTime: 0
      }
    },
    computed: {
      groupId() {
        return this.$store.getters.groupId
      }
    },
    methods: {
      clockPicker(id) {
        require('./../../../assets/js/bootstrap-clockpicker.min')
        $(`#${id}`).clockpicker({
          placement: 'bottom',
          align: 'left',
          autoclose: true,
          default: 'now',
          afterDone: () => {
            this[id] = $(`#${id}`).val()
          }
        })
      },
      storeShift() {
        this.loading = true
        this.$apollo.mutate({
          mutation: CREATE_SHIFT_MUTATION,
          variables: {
            name: this.name,
            shiftType: this.typeShift,
            schedules: this.schedules,
            allowTime: this.allowTime,
            checkin1: this.checkin1,
            checkout1: this.checkout1,
            checkin2: this.checkin2,
            checkout2: this.checkout2,
            groupId: this.groupId
          },
          update: (store, { data: { create_shift } }) => {
            const query = {
              query: SHIFTS_QUERY,
              variables: { groupId: this.groupId }
            }
            try {
              const data = store.readQuery(query)
              data.shifts.push(create_shift)
              store.writeQuery({...query, data: data })
            } catch (e) {}
          }
        }).then(() => {
          this.$awn.success(this.$t('word.created'))
          this.$router.push({ name: 'shift.list' })
        }).catch(error => {
          if (error.graphQLErrors[0].message === 'validation') {
            this.errors = error.graphQLErrors[0].extensions.validation
          }
        }).finally(() => {
          this.loading = false
        })
      }
    },
  }
</script>
<style scoped lang="scss">
  @import './../../../assets/css/bootstrap-clockpicker.min.css';
</style>