<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-12 col-sm">
        <h4 class="page-title">{{ $t('word.shift_manage') }}</h4></div>
      <div class="col-12 col-sm-auto">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{name: 'home'}">{{ $t('word.home') }}</router-link>
          </li>
          <li>
            <router-link :to="{ name: 'shift.list' }">{{ $t('word.shifts') }}</router-link>
          </li>
          <li class="active">{{ $t('word.edit') }}</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="white-box col">
        <div class="panel-body">
          <label class="text-muted">{{ $t('shifts.choose_type_shift') }}</label>
          <ul class="nav nav-pills m-b-30 ">
            <li :class="{ 'active': shift.type == 1 }" @click="shift.type = 1"><a class="pointer">{{
              $t('shifts.2_times_scan_per_day') }}</a></li>
            <li :class="{ 'active': shift.type == 2 }" @click="shift.type = 2"><a class="pointer">{{
              $t('shifts.4_times_scan_per_day') }}</a></li>
          </ul>
          <div class="tab-content br-n pn">
            <div class="tab-pane active">
              <div class="row">
                <div class="col-md-6">
                  <form>
                    <input type="hidden" name="type" value="1">
                    <div class="form-group" :class="{ 'has-error' : errors.name }">
                      <label>{{ $t('word.shiftname') }}</label>
                      <input v-model="shift.name" type="text" class="form-control" name="name">
                      <span v-if="errors.name" class="text-danger">
                        <strong>{{ errors.name[0] }}</strong>
                      </span>
                    </div>
                    <div class="row">
                      <div class="form-group col-xs-6" :class="{ 'has-error' : errors.start_time_1 }">
                        <label>{{ $t('word.start_time') }} {{ shift.type == 2 ? $t('shifts.first_haft_shift') :
                          '' }}</label>
                        <input id="input1"
                               v-model="shift.times[0].checkin"
                               type="text"
                               class="form-control"
                               name="start_time_1"
                               @focus="clockPicker('input1')">
                        <span v-if="errors.start_time_1" class="text-danger">
                          <strong>{{ errors.start_time_1[0] }}</strong>
                        </span>
                      </div>

                      <div class="form-group col-xs-6" :class="{ 'has-error' : errors.end_time_1 }">
                        <label>{{ $t('word.end_time') }} {{ shift.type == 2 ? $t('shifts.first_haft_shift') : ''
                        }}</label>
                        <input id="input2"
                               v-model="shift.times[0].checkout"
                               type="text"
                               class="form-control"
                               name="end_time_1"
                               @focus="clockPicker('input2')">
                        <span v-if="errors.end_time_1" class="text-danger">
                          <strong>{{ errors.end_time_1[0] }}</strong>
                        </span>
                      </div>
                      <template v-if="shift.type == 2">
                        <div class="form-group col-xs-6" :class="{ 'has-error' : errors.start_time_2 }">
                          <label>{{ $t('word.start_time') + ' ' + $t('shifts.second_haft_shift') }}</label>
                          <input id="input3"
                                 v-model="shift.times[1].checkin"
                                 type="text"
                                 class="form-control"
                                 name="start_time_2"
                                 @focus="clockPicker('input3')">
                          <span v-if="errors.start_time_2" class="text-danger">
                            <strong>{{ errors.start_time_2[0] }}</strong>
                          </span>
                        </div>

                        <div class="form-group col-xs-6" :class="{ 'has-error' : errors.end_time_2 }">
                          <label>{{ $t('word.end_time') + ' ' + $t('shifts.second_haft_shift') }}</label>
                          <input id="input4"
                                 v-model="shift.times[1].checkout"
                                 type="text"
                                 class="form-control"
                                 name="end_time_2"
                                 @focus="clockPicker('input4')">
                          <span v-if="errors.end_time_2" class="text-danger">
                            <strong>{{ errors.end_time_2[0] }}</strong>
                          </span>
                        </div>
                      </template>
                    </div>

                    <div class="form-group">
                      <label>{{ $t('shifts.allow_time') }}</label>
                      <button class="btn btn-default btn-circle m-l-10"
                              type="button"
                              data-container="body"
                              data-toggle="popover"
                              data-placement="right"
                              data-trigger="focus"
                              data-html="true"
                              :data-content="$t('shifts.allow_time_desc')">
                        <i class="fa fa-question"></i>
                      </button>
                      <vue-slider v-model="shift.allow_time"
                                  class="m-t-20"
                                  :tooltip="'always'"
                                  :min="0"
                                  :max="60"
                                  :interval="5"
                                  :data="[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60]"
                                  :piecewise="true"
                                  :piecewise-label="true"
                                  :piecewise-style="{ backgroundColor: '#ccc',
                                                      visibility: 'visible',
                                                      width: '12px',
                                                      height: '12px' }"></vue-slider>
                      <span v-if="errors.allow_time" class="text-danger">
                        {{ errors.allow_time[0] }}
                      </span>
                    </div>
                    <br>

                    <div class="form-group">
                      <label>{{ $t('word.choose_calendar') }}</label>
                      <div class="checkbox checkbox-success">
                        <input id="monday" v-model="shift.schedules" value="monday" type="checkbox">
                        <label for="monday"> {{ $t('word.monday') }} </label>
                      </div>
                      <div class="checkbox checkbox-success">
                        <input id="tuesday" v-model="shift.schedules" value="tuesday" type="checkbox">
                        <label for="tuesday"> {{ $t('word.tuesday') }} </label>
                      </div>
                      <div class="checkbox checkbox-success">
                        <input id="wednesday" v-model="shift.schedules" value="wednesday" type="checkbox">
                        <label for="wednesday"> {{ $t('word.wednesday') }} </label>
                      </div>
                      <div class="checkbox checkbox-success">
                        <input id="thursday" v-model="shift.schedules" value="thursday" type="checkbox">
                        <label for="thursday"> {{ $t('word.thursday') }} </label>
                      </div>
                      <div class="checkbox checkbox-success">
                        <input id="friday" v-model="shift.schedules" value="friday" type="checkbox">
                        <label for="friday"> {{ $t('word.friday') }} </label>
                      </div>
                      <div class="checkbox checkbox-success">
                        <input id="saturday" v-model="shift.schedules" value="saturday" type="checkbox">
                        <label for="saturday"> {{ $t('word.saturday') }} </label>
                      </div>
                      <div class="checkbox checkbox-danger">
                        <input id="sunday" v-model="shift.schedules" value="sunday" type="checkbox">
                        <label for="sunday"> {{ $t('word.sunday') }} </label>
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="button" class="btn btn-info" :disabled="loading" @click="updateShift()">
                        <i :class="[loading ? 'far fa-spin fa-spinner-third' : 'far fa-check']">
                        </i>  {{ $t('word.update') }}
                      </button>
                      <a href="javascript:history.go(-1)" class="btn btn-default">
                        <i class="far fa-ban"></i>  {{ $t('word.cancel') }}
                      </a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import SHIFT_QUERY from './../../../apollo/query/shift/get_by_id.gql'
  import UPDATE_SHIFT_MUTATION from './../../../apollo/mutation/shift/update.gql'
  import VueSlider from 'vue-slider-component'
  import 'vue-slider-component/theme/default.css'

  export default {
    components: { VueSlider },
    data() {
      return {
        loading: false,
        name: '',
        shift: {
          type: 1,
          name: null,
          schedules: [],
          times: [
            { checkin: null, checkout: null },
            { checkin: null, checkout: null },
          ]
        },
        errors: []
      }
    },
    apollo: {
      shift: {
        query: SHIFT_QUERY,
        variables() {
          return {
            shiftId: this.shiftId
          }
        }
      }
    },
    computed: {
      shiftId() {
        return this.$route.params.shiftId
      },
      groupId() {
        return this.$store.getters.groupId
      }
    },
    methods: {
      updateShift() {
        this.loading = true
        this.$apollo.mutate({
          mutation: UPDATE_SHIFT_MUTATION,
          variables: {
            id       : this.shift.id,
            name     : this.shift.name,
            shiftType: this.shift.type,
            schedules: this.shift.schedules,
            allowTime: this.shift.allow_time,
            checkin1 : this.shift.times[0].checkin,
            checkout1: this.shift.times[0].checkout,
            checkin2 : this.shift.times[1] ? this.shift.times[1].checkin : null,
            checkout2: this.shift.times[1] ? this.shift.times[1].checkout : null,
            groupId  : this.groupId
          }
        }).then(() => {
          this.$awn.success(this.$t('word.updated'))
          this.$router.push({ name: 'shift.list' })
        }).catch(error => {
          if (error.graphQLErrors[0].message === 'validation') {
            this.errors = error.graphQLErrors[0].extensions.validation
          }
        }).finally(() => {
          this.loading = false
        })
      },
      clockPicker(id) {
        require('./../../../assets/js/bootstrap-clockpicker.min')
        $(`#${id}`).clockpicker({
          donetext: 'Done',
          autoclose: true,
          afterDone: () => {
            switch (id) {
              case 'input1':
                this.shift.times[0].checkin = $(`#${id}`).val()
                break
              case 'input2':
                this.shift.times[0].checkout = $(`#${id}`).val()
                break
              case 'input3':
                this.shift.times[1].checkin = $(`#${id}`).val()
                break
              case 'input4':
                this.shift.times[1].checkout = $(`#${id}`).val()
                break
            }
          }
        })
      },
    }
  }
</script>
<style scoped lang="scss">
  @import './../../../assets/css/bootstrap-clockpicker.min.css';
</style>