<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-12 col-sm">
        <h4 class="page-title">{{ $t('word.shift_manage') }}</h4>
      </div>
      <div class="col-12 col-sm-auto">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{ name: 'home' }">{{ $t('word.home') }}</router-link>
          </li>
          <li class="active">{{ $t('word.shifts') }}</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="white-box col-12">
        <h3 class="box-title row">
          <span class="col row">{{ $t('word.list') }}</span>
          <router-link v-check="{ permission: 'shift.create' }"
                       :to="{ name: 'shift.create' }"
                       class="btn btn-info pull-right col-auto">
            <i class="fa fa-plus"></i> {{ $t('shifts.add') }}
          </router-link>
        </h3>
        <div class="table-responsive">
          <table class="table color-table info-table table-responsive">
            <thead>
              <tr>
                <th>#</th>
                <th>{{ $t('word.shiftname') }}</th>
                <th>{{ $t('word.checkin') }}</th>
                <th>{{ $t('word.checkout') }}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <template v-for="(shift, index) in shifts">
                <tr :key="shift.id">
                  <td :rowSpan="shift.type == 2 ? 2 : 1">{{ index + 1 }}</td>
                  <td :rowSpan="shift.type == 2 ? 2 : 1">{{ shift.name }}</td>
                  <td>{{ shift.times[0].checkin }}</td>
                  <td>{{ shift.times[0].checkout }}</td>
                  <td :rowSpan="shift.type == 2 ? 2 : 1">
                    <router-link v-check="{ permission: 'shift.update' }"
                                 :to="{ name: 'shift.edit', params: { shiftId: shift.id }}"
                                 class="btn btn-info btn-circle"
                                 data-toggle="tooltip"
                                 :title="$t('word.edit')">
                      <i class="fa fa-pencil-alt"></i>
                    </router-link>
                    <button v-check="{ permission: 'shift.delete' }"
                            class="btn btn-danger btn-circle"
                            data-toggle="tooltip"
                            :title="$t('word.delete')"
                            :disabled="shift.deleting"
                            @click="deleteShift(shift.id, index)">
                      <i :class="[shift.deleting ? 'far fa-circle-notch fa-spin' : 'fa fa-trash']"></i>
                    </button>
                    <router-link v-check="{ permission: 'shift.user-list' }"
                                 :to="{ name: 'shift.user.list', params: { shiftId: shift.id } }"
                                 class="btn btn-primary btn-circle"
                                 data-toggle="tooltip"
                                 :title="$t('word.employee_list')">
                      <i class="fa fa-user"></i>
                    </router-link>
                  </td>
                </tr>
                <tr v-if="shift.type == 2" :key="index">
                  <td>{{ shift.times[1].checkin }}</td>
                  <td>{{ shift.times[1].checkout }}</td>
                </tr>
              </template>
              <tr v-if="loading">
                <td colSpan="5">
                  <pulse-loader :loading="loading" :color="'#27a1f2'"></pulse-loader>
                </td>
              </tr>
              <tr v-else-if="shifts.length === 0">
                <td colSpan="5" class="text-center">{{ $t('word.no_data') }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import PulseLoader from 'vue-spinner/src/PulseLoader'
  import SHIFTS_QUERY from './../../../apollo/query/shift/list.gql'
  import DELETE_SHIFT from './../../../apollo/mutation/shift/delete.gql'

  export default {
    components: { PulseLoader },
    data() {
      return {
        shifts: [],
        loading: true
      }
    },
    computed: {
      groupId() {
        return this.$store.getters.groupId
      }
    },
    apollo: {
      shifts: {
        query: SHIFTS_QUERY,
        variables() {
          return {
            groupId: this.groupId
          }
        },
        manual: true,
        result({ data, loading }) {
          this.loading = loading
          data.shifts = data.shifts.map(shift => {
            shift.deleting = false
            return shift
          })
          this.shifts = data.shifts
        }
      }
    },
    updated() {
      $('[data-toggle="tooltip"]').tooltip()
    },
    methods: {
      deleteShift(shiftId, index) {
        if (confirm(this.$t('company.shift.delete_shift_confirm'))) {
          this.shifts[index].deleting = true
          this.$apollo.mutate({
            mutation: DELETE_SHIFT,
            variables: {
              groupId: this.groupId,
              shiftId: shiftId
            },
            update: store => {
              const query = {
                query: SHIFTS_QUERY,
                variables: { groupId: this.groupId }
              }
              const data = store.readQuery(query)
              data.shifts = data.shifts.filter(shift => shift.id !== shiftId)
              store.writeQuery({ ...query, data: data })
            }
          }).then(() => {
            this.$awn.success(this.$t('word.deleted'))
          })
        }
      }
    }
  }
</script>