<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-12 col-sm">
        <h4 class="page-title">{{ $t('word.user_list_by_shift') }} "<span class="text-danger">{{ shift.name }}</span>"
        </h4></div>
      <div class="col-12 col-sm-auto">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{ name: 'home' }">{{ $t('word.home') }}</router-link>
          </li>
          <li>
            <router-link :to="{ name: 'shift.list' }">{{ $t('word.shifts') }}</router-link>
          </li>
          <li class="active">{{ $t('word.employee_list') }}</li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="white-box col">
        <div class="row clearfix">
          <h3 class="col-sm hidden-xs">{{ $t('word.list') }}</h3>
          <div class="form-group col-auto col-md-5">
            <input type="text" class="form-control" :placeholder="$t('word.name_or_phone')"
                   @input="search">
          </div>
          <div class="col">
            <router-link v-check="{ permission: 'shift.user-add' }"
                         class="btn btn-info pull-right"
                         :to="{ name: 'shift.user.add', params: {shiftId: shiftId }}">
              <i class="fa fa-plus"></i> {{ $t('word.set_user') }}
            </router-link>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table color-table info-table">
            <thead>
              <tr>
                <th>#</th>
                <th>{{ $t('word.avatar') }}</th>
                <th>{{ $t('word.name') }}</th>
                <th>{{ $t('word.email') }}</th>
                <th>{{ $t('word.phone_number') }}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(user, index) in users" :key="user.id">
                <td>{{ generateSort(index) }}</td>
                <td>
                  <avatar :username="user.fullname"
                          :size="45"
                          alt="user-img"
                          class="avatar"
                          :src="user.avatars ? user.avatars.x2 : ''"></avatar>
                </td>
                <td>{{ user.fullname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone_number }}</td>
                <td>
                  <router-link
                    :to="{ name: 'company.user.detail', params: { userId: user.id }}"
                    class="btn btn-info btn-circle"
                    :title="$t('word.detail')"
                    data-toggle="tooltip">
                    <i class="fa fa-info"></i>
                  </router-link>
                  <a v-check="{ permission: 'shift.user-remove' }"
                     class="btn btn-danger btn-circle"
                     :title="$t('word.delete')"
                     data-toggle="tooltip"
                     @click="deleteUserShift(user.id, index)">
                    <i :class="[user.deleting ? 'far fa-spin fa-circle-notch' : 'fa fa-user-alt-slash']"></i>
                  </a>
                </td>
              </tr>
              <tr v-if="loading">
                <td colspan="6">
                  <pulse-loader :loading="loading" :color="'#27a1f2'"></pulse-loader>
                </td>
              </tr>
              <tr v-else-if="users.length === 0">
                <td colspan="6" class="text-center">{{ $t('word.no_data') }}</td>
              </tr>
            </tbody>
          </table>
          <pagination v-if="lastPage > 1"
                      :current-page="currentPage"
                      :total-page="lastPage"
                      @changePage="changePage"></pagination>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import PulseLoader from 'vue-spinner/src/PulseLoader'
  import Pagination from './../../partials/pagination'
  import USERS_SHIFT_QUERY from './../../../apollo/query/user/users_shift.gql'
  import SHIFT_QUERY from './../../../apollo/query/shift/get_by_id.gql'
  import REMOVE_USER_FROM_SHIFT from './../../../apollo/mutation/shift/remove_user.gql'

  export default {
    components: { Pagination, PulseLoader },
    data() {
      return {
        loading: true,
        users: [],
        currentPage: 1,
        lastPage: 1,
        perPage: 1,
        shift: {}
      }
    },
    computed: {
      shiftId() {
        return this.$route.params.shiftId
      },
      groupId() {
        return this.$store.getters.groupId
      }
    },
    apollo: {
      users_shift: {
        query: USERS_SHIFT_QUERY,
        variables() {
          return {
            page: 1,
            groupId: this.groupId,
            shiftId: this.shiftId
          }
        },
        manual: true,
        result ({data, loading}) {
          this.loading = loading
          data.users_shift.data.map(user => {
            return user.deleting = false
          })
          this.users = data.users_shift.data
          this.currentPage = data.users_shift.current_page
          this.lastPage = data.users_shift.last_page
          this.perPage = data.users_shift.per_page
        }
      },
      shift: {
        query: SHIFT_QUERY,
        variables() {
          return {
            shiftId: this.shiftId
          }
        }
      }
    },
    updated() {
      $('[data-toggle="tooltip"]').tooltip()
    },
    methods: {
      search: _.debounce(function(e) {
        if (e.target.value != '') {
          this.$apollo.queries.users_shift.refetch({
            page: 1,
            keyword: e.target.value
          })
        }
      }, 500),
      changePage(page) {
        this.$apollo.queries.users_shift.refetch({
          page: page
        })
      },
      deleteUserShift(userId, index) {
        if (confirm(this.$t('company.shift.delete_user_confirm'))) {
          this.users[index].deleting = true
          this.$set(this.users, index, this.users[index])

          this.$apollo.mutate({
            mutation: REMOVE_USER_FROM_SHIFT,
            variables: {
              groupId: this.groupId,
              userId: userId,
              shiftId: this.shiftId
            }
          }).then(() => {
            this.users.splice(index, 1)
            this.$awn.success(this.$t('word.deleted'))
          })
        }
      },
      generateSort(index) {
        return (this.currentPage - 1) * this.perPage + index + 1
      },
    }
  }
</script>