<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-12 col-sm">
        <h4 class="page-title">{{ $t('word.set_user') }}: "<span class="text-danger">{{ shift.name }}</span>"</h4>
      </div>
      <div class="col-12 col-sm-auto">
        <ol class="breadcrumb">
          <li>
            <router-link :to="{ name: 'shift.list' }">{{ $t('word.shifts') }}</router-link>
          </li>
          <li>
            <router-link :to="{ name: 'shift.user.list', params: { shiftId: shiftId } }">{{ $t('word.employee') }}
            </router-link>
          </li>
          <li class="active">{{ $t('word.set_user') }}</li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="white-box col">
        <div class="row">
          <h3 class="col-sm hidden-xs">{{ $t('word.list') }}</h3>
          <div class="form-group col-sm-5 col-auto">
            <input type="text" class="form-control" :placeholder="$t('word.name_or_phone')" @input="search">
          </div>
          <span class="col"></span>
        </div>
        <div class="table-responsive">
          <table class="table color-table info-table">
            <thead>
              <tr>
                <th>
                  <div class="checkbox checkbox-primary" style="margin: 0; top: 5px;">
                    <input type="checkbox" :checked="userChecked.length && userChecked.length === checkAll.length"
                           @change="checkAllInput">
                    <label></label>
                  </div>
                </th>
                <th>{{ $t('word.avatar') }}</th>
                <th>{{ $t('word.name') }}</th>
                <th>{{ $t('word.email') }}</th>
                <th>{{ $t('word.phone_number') }}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(user, index) in users" :key="user.id">
                <td>
                  <div class="checkbox checkbox-info">
                    <input v-model="userChecked" type="checkbox" class="form-check-input" :value="user.id">
                    <label></label>
                  </div>
                </td>
                <td>
                  <avatar :username="user.fullname"
                          :size="45"
                          alt="user-img"
                          class="avatar"
                          :src="user.avatars ? user.avatars.x2 : ''"></avatar>
                </td>
                <td>{{ user.fullname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone_number }}</td>
                <td>
                  <a class="btn btn-info btn-circle"
                     data-toggle="tooltip"
                     :title="$t('word.add_user')"
                     @click="addUser(user.id, index)">
                    <i :class="[user.deleting ? 'far fa-spin fa-circle-notch' : 'fa fa-user-plus']"></i>
                  </a>
                </td>
              </tr>
              <tr v-if="loading">
                <td colSpan="6">
                  <pulse-loader :loading="true" :color="'#27a1f2'"></pulse-loader>
                </td>
              </tr>
              <tr v-else-if="users.length === 0">
                <td colSpan="6" class="no-data">{{ $t('word.no_data') }}</td>
              </tr>
            </tbody>
          </table>
          <pagination v-if="lastPage > 1"
                      :current-page="currentPage"
                      :total-page="lastPage"
                      @changePage="changePage"></pagination>
        </div>
        <button v-if="users.length"
                type="button"
                class="btn btn-primary submit_action"
                @click="addUsers()">
          <i class="fa fa-user-plus"></i> {{ $t('word.add_all_user') }}
        </button>
      </div>
    </div>
  </div>
</template>
<script>
  import PulseLoader from 'vue-spinner/src/PulseLoader'
  import Pagination from './../../partials/pagination'
  import USERS_SHIFT_QUERY from './../../../apollo/query/user/users_shift.gql'
  import SHIFT_QUERY from './../../../apollo/query/shift/get_by_id.gql'
  import ASSIGN_USER_TO_SHIFT from './../../../apollo/mutation/shift/assign_user.gql'
  import MULTI_ASSIGN_USER_TO_SHIFT from './../../../apollo/mutation/shift/multi_assign_user.gql'

  export default {
    components: { PulseLoader, Pagination },
    data() {
      return {
        loading: true,
        users: [],
        currentPage: 1,
        lastPage: 1,
        perPage: 1,
        checkAll: [],
        shift: {},
        userChecked: []
      }
    },
    computed: {
      shiftId() {
        return this.$route.params.shiftId
      },
      language() {
        return this.$i18n.locale
      },
      groupId() {
        return this.$store.getters.groupId
      }
    },
    apollo: {
      users_shift: {
        query: USERS_SHIFT_QUERY,
        variables() {
          return {
            page: 1,
            groupId: this.groupId,
            shiftId: this.shiftId,
            outside: true
          }
        },
        fetchPolicy: 'no-cache',
        result({ data, loading }) {
          this.loading = loading
          data.users_shift.data.map(user => {
            return user.deleting = false
          })
          data.users_shift.data.forEach(val => {
            this.checkAll.push(val.id)
          })
          this.users = data.users_shift.data
          this.currentPage = data.users_shift.current_page
          this.lastPage = data.users_shift.last_page
          this.perPage = data.users_shift.per_page
        }
      },
      shift: {
        query: SHIFT_QUERY,
        variables() {
          return {
            shiftId: this.shiftId
          }
        }
      }
    },
    updated() {
      $('[data-toggle="tooltip"]').tooltip()
    },
    methods: {
      search: _.debounce(function(e) {
        this.$apollo.queries.users_shift.refetch({
          keyword: e.target.value
        })
      }, 500),
      addUser(userId, index) {
        let conf = confirm(this.$t('company.shift.add_users_confirm'))
        if (conf) {
          this.users[index].deleting = true
          this.$set(this.users, index, this.users[index])

          this.$apollo.mutate({
            mutation: ASSIGN_USER_TO_SHIFT,
            variables: {
              userId: userId,
              groupId: this.groupId,
              shiftId: this.shiftId
            }
          }).then(() => {
            this.$awn.success(this.$t('word.updated'))
            this.users.splice(index, 1)
            this.checkAll = this.checkAll.filter(id => id !== userId)
          })
        }
      },
      addUsers() {
        if (confirm(this.$t('company.shift.add_users_confirm'))) {
          this.$apollo.mutate({
            mutation: MULTI_ASSIGN_USER_TO_SHIFT,
            variables: {
              groupId: this.groupId,
              shiftId: this.shiftId,
              userIds: this.userChecked
            }
          }).then(() => {
            this.$awn.success(this.$t('word.updated'))
            this.users = this.users.filter(obj => !this.userChecked.includes(obj.id))
            this.checkAll = this.checkAll.filter(id => !this.userChecked.includes(id))
          })
        }
      },
      changePage(page) {
        this.$apollo.queries.users_shift.refetch({
          page: page
        })
      },
      checkAllInput(e) {
        if (e.target.checked) {
          this.userChecked = this.checkAll
        } else {
          this.userChecked = []
        }
      }
    },
  }
</script>