<template>
  <div>
    <div id="setupUnits" class="modal fade" data-modal-index="1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">
              <b>{{ $t('word.setup') }} {{ $t('restaurant.setup.unit') }}</b>
              <button type="button"
                      class="btn btn-rounded btn-outline btn-primary btn-sm pull-right"
                      data-toggle="modal"
                      data-target="#addUnit">
                <i class="fa fa-plus-circle"></i> {{ $t('word.add') }}
              </button>
            </h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div v-for="(unit, index) in units" :key="index"
                   class="col-md-4 col-sm-3 col-6">
                <div class="checkbox checkbox-success checkbox-circle">
                  <input :id="unit.name" v-model="unit.checked" type="checkbox">
                  <label :for="unit.name">{{ trans(unit.name) }}</label>
                </div>
              </div>
            </div>
            <listing v-if="$apollo.queries.goods_units.loading"></listing>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info" :disabled="loading" 
                    @click.prevent="save()">
              <i :class="[loading ? 'far fa-spinner-third fa-spin' : 'far fa-check']"></i> {{ $t('word.save') }}
            </button>
            <button class="btn btn-default" data-dismiss="modal">
              <i class="fa fa-ban"></i> {{ $t('word.cancel') }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <add-unit @addUnit="addUnit"></add-unit>
  </div>
</template>

<script>
  var AddUnit = () => import('./../../elements/add_unit.vue')
  var Listing = () => import('./../../templates/loading/listing.vue')
  import UNITS_QUERY from './../../../apollo/query/good/get_units.gql'
  import UPDATE_GOOD_UNTIS from './../../../apollo/mutation/good/update_good_units.gql'

  export default {
    components: { AddUnit, Listing },
    data() {
      return {
        loading: false,
        baseUnits: [],
        units: [],
        unitsValue: []
      }
    },
    computed: {
      groupId() {
        return this.$store.getters.groupId
      }
    },
    apollo: {
      goods_units: {
        query: UNITS_QUERY,
        variables() {
          return {
            groupId: this.groupId
          }
        },
        manual: true,
        result ({ data }) {
          this.units = []
          
          let units = data.goods_units || []
          units.forEach(item => {
            this.units.push({ name: item, checked: true })
          })
          let baseUnits = Object.keys(this.$t('config.goods.units'))
          baseUnits.forEach(item => {
            if (!units.includes(item)) {
              this.units.unshift({ name: item, checked: false })
            }
          })

          // Lưu giá trị các đơn vi để kiểm tra exists khi thêm
          this.unitsValue = [...new Set([...units, ...baseUnits])]
          this.unitsValue = this.unitsValue.map(item => {
            return this.trans(item)
          })
        }
      }
    },
    methods: {
      save() {
        this.loading = true
        var units = []
        this.units.forEach(item => {
          if (item.checked) {
            units.push(item.name)
          }
        })

        this.$apollo.mutate({
          mutation: UPDATE_GOOD_UNTIS,
          variables: {
            groupId: this.groupId,
            units: units
          },
          update: store => {
            const query = {
              query: UNITS_QUERY,
              variables: { groupId: this.groupId }
            }
            const data = store.readQuery(query)
            data.goods_units = units
            store.writeQuery({ ...query, data: data })
          }
        })
        .then(() => {
          this.$awn.success(this.$t('word.updated'))
          $('#setupUnits').modal('hide')
        })
        .finally(() => {
          this.loading = false
        })
      },
      addUnit(unit) {
        if (unit != '' && !this.unitsValue.includes(unit)) {
          this.units.push({
            name: unit,
            checked: true
          })
          this.unitsValue.push(unit)
        } else {
          this.$awn.alert(this.$t('word.existed_unit'))
        }
      },
      trans(key) {
        if (this.$te(`config.goods.units.${key}`)) {
          return this.$t(`config.goods.units.${key}`)
        }
        return key
      }
    }
  }
</script>

<style scoped lang="scss">
  .btn-add {
    margin: auto;
    cursor: pointer;
  }
</style>