<template>
  <div id="editor-edit"
       class="modal fade"
       tabindex="-1"
       role="dialog"
       aria-labelledby="editTemplateInvoice"
       aria-hidden="true"
       style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 id="editTemplateInvoice" class="modal-title">{{ $t('restaurant.invoice_form.edit') }}
            <a @click="showVariables = !showVariables">
              <span><i class="fa fa-info"
                       data-toggle="tooltip"
                       :title="$t('restaurant.invoice_form.list_variable')"></i></span>
            </a>
          </h4>
        </div>
        <div class="modal-body">
          <div v-show="!showVariables" id="edit-template">
            <!-- Tên mẫu in và mẫu gợi ý -->
            <div class="row">
              <div class="col-md-6">
                <div class="row justify-content-start form-label">
                  <div class="col-auto">
                    <label class="control-label label-text">{{ $t('restaurant.invoice_form.name') }}</label>
                  </div>
                  <div class="col-4" :class="{'has-error': errors.name}">
                    <input v-model="name" type="text" class="form-control">
                    <span v-if="errors.name" class="text-danger label-text">
                      <strong>{{ errors.name[0] }}</strong>
                    </span>
                  </div>
                  <div class="col-auto">
                    <label class="control-label label-text">{{ $t('restaurant.invoice_form.size') }}</label>
                  </div>
                  <div class="col-4">
                    <multiselect :value="templateSelected"
                                 track-by="name"
                                 label="name"
                                 select-label=""
                                 deselect-label=""
                                 selected-label=""
                                 :no-options="$t('restaurant.invoice_form.empty_list')"
                                 :searchable="false"
                                 :allow-empty="false"
                                 :options="templateDefault"
                                 @input="changeTemplate"></multiselect>
                  </div>
                </div>
                <div id="editor-template">
                  <div class="ckeditor">
                    <textarea id="ckeditor-edit" name="ckeditor"></textarea>
                  </div>
                  <div v-if="errors.content">
                    <span class="text-danger">
                      <strong>{{ errors.content[0] }}</strong>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row justify-content-center">
                  <div class="col-auto">
                    <div id="preview-template">
                      <template-compiled :type="template.type"
                                         :template-editor="templateSelected.content"
                                         :variables-value="variablesValue"
                                         :size="templateSelected.size"></template-compiled>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Nhóm các button xử lý -->
            <div class="row m-t-10 justify-content-end">
              <div class="col-auto">
                <button type="button"
                        class="btn btn-default waves-effect text-left"
                        data-dismiss="modal"><i class="far fa-ban"></i> {{ $t('word.close') }}
                </button>
                <button type="button"
                        class="btn btn-info waves-effect text-left m-l-10"
                        :disabled="loading"
                        @click="editInvoiceForm">
                  <i :class="[loading ? 'far fa-circle-notch fa-spin' : 'fa fa-save']"></i> {{ $t('word.update') }}
                </button>
              </div>
            </div>
          </div>
          <used-variables v-if="showVariables" :variables="variables"></used-variables>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import TemplateCompiled from '../template_compiled.vue'
  import { UPDATE_INVOICE_FORM } from './../../../../api.js'
  import UsedVariables from './../used_variables'

  export default {
    name: 'EditorEdit',
    components: {
      TemplateCompiled,
      UsedVariables
    },
    props: {
      template: {
        type: Object,
        default: null
      },
      variablesValue: {
        type: Object,
        default: null
      },
      templateDefault: {
        type: Array,
        default: null
      },
      config: {
        type: Object,
        default: null
      },
    },
    data() {
      return {
        name: '',
        ckeditor: null,
        errors: {},
        templateSelected: {},
        showVariables: false,
        loading: false
      }
    },
    computed: {
      variables() {
        return {
          ...this.$t(`config.invoice_form.variables.${this.template.type}.out_table`),
          ...this.$t('config.invoice_form.variables.stt'),
          ...this.$t(`config.invoice_form.variables.${this.template.type}.in_table`),
          ...this.$t(`config.invoice_form.variables.${this.type}.other`)
        }
      }
    },
    mounted() {
      this.$nextTick(() => {
        this.ckeditor = CKEDITOR.replace('ckeditor-edit', this.config)
        // Cập nhật màn hình preview khi thay đổi giá trị trong editor
        this.ckeditor.on('change', event => {
          this.$set(this.templateSelected, 'content', event.editor.getData())
        })
        $('#editor-edit').on('show.bs.modal', () => {
          this.name = this.template.name
          this.templateSelected = {
            content: this.template.content,
            size: this.template.size
          }
          this.ckeditor.setData(this.templateSelected.content)
        })
        $('#editor-edit').on('hide.bs.modal', () => {
          this.errors = {}
          this.showVariables = false
        })
      })
    },
    methods: {
      changeTemplate(template) {
        if (confirm(this.$t('invoice_form.confirm_change_template'))) {
          this.templateSelected = template
          this.ckeditor.setData(this.templateSelected.content)
        }
      },
      editInvoiceForm() {
        this.loading = true
        let payload = {
          name: this.name,
          type: this.template.type,
          content: this.templateSelected.content,
          size: this.templateSelected.size
        }
        axios.put(`${UPDATE_INVOICE_FORM}/${this.template._id}`, payload)
          .then(res => {
            this.loading = false
            payload._id = this.template._id
            this.$emit('updatedInvoice', payload)
            $('#editor-edit').modal('hide')
            this.$awn.success(res.data.message)
          })
          .catch(err => {
            this.loading = false
            if (typeof err.response !== undefined && err.response.status === 422) {
              this.errors = err.response.data.errors
            }
          })
      }
    }
  }
</script>
<style scoped lang="scss">
  .modal-dialog {
    width: 100%;
    padding: 30px;
    margin: 0;
  }

  .form-label {
    .label-text {
      font-size: 12px;
    }
    .form-control {
      height: 34px;
    }
  }
</style>
