<template>
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-12">
        <h4 class="page-title">{{ $t('common.edit_organization') }}</h4>
      </div>
    </div>
    <div class="row">
      <div class="white-box col-12">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-8 col-md-6">
            <div class="form-group">
              <label for="">{{ $t('word.service_type') }}:</label>
              <input type="text"
                     class="form-control"
                     :value="group.service_type == 1 ? $t('word.time_keeping') : $t('word.restaurant')"
                     disabled>
            </div>
            <div class="form-group">
              <label for="">{{ $t('common.organization_name') }}:</label>
              <input v-model="group.name" type="text" class="form-control">
              <span v-if="errors.name" class="text-danger">
                {{ errors.name[0] }}
              </span>
            </div>
            <form-area :areas-origin="areasOrigin"
                       :communes="communes"
                       :errors="errors"
                       :area-loading="areaLoading"
                       :commune-loading="communeLoading"
                       :area-selected="group.area"
                       :commune-selected="group.commune"
                       :address="group.address"
                       @selectArea="selectArea"
                       @selectCommune="group.commune = $event"
                       @changeAddress="address = $event"></form-area>
            <div class="text-center">
              <button type="button" class="btn btn-info" :disabled="loading" @click="update()">
                <i :class="[loading ? 'far fa-spinner-third fa-spin' : 'far fa-check']"></i>
                {{ $t('word.update') }}
              </button>
              <a href="javascript:history.go(-1)" class="btn btn-default">
                <i class="fa fa-ban"></i> {{ $t('word.cancel') }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import FormArea from './../elements/form_area.vue'
  import GROUP_QUERY from './../../apollo/query/group/group_info.gql'
  import UPDATE_GROUP_MUTATION from './../../apollo/mutation/group/update.gql'
  import AREAS_QUERY from './../../apollo/query/location/areas.gql'
  import COMMUNES_QUERY from './../../apollo/query/location/communes.gql'
  import currentGroupHelper from './../../helpers/current_group.js'

  export default {
    components: { FormArea },
    data() {
      return {
        group: {},
        errors: {},
        loading: false,
        areaLoading: false,
        areasOrigin: [],
        communes: [],
        communeLoading: false,
        areaSelected: {},
        communeSelected: {},
      }
    },
    computed: {
      groupId() {
        return this.$store.getters.groupId
      }
    },
    created() {
      this.group = JSON.parse(currentGroupHelper.getCurrentGroup())
    },
    apollo: {
      group: {
        query: GROUP_QUERY,
        variables() {
          return {
            id: this.groupId
          }
        }
      },
      areas: {
        query: AREAS_QUERY,
        variables: {
          all: true
        },
        manual: true,
        result({ data: { areas } }) {
          this.areasOrigin = areas
          this.areas = areas
        }
      }
    },
    methods: {
      getAreasGroup() {
        this.areaLoading = true
        this.communeLoading = true
        axios.get(`${GET_AREAS}/${this.group.area.id}`)
          .then(res => {
            this.areasOrigin = res.data.areas
            this.areas = res.data.areas
            this.communes = res.data.communes
          })
          .finally(() => {
            this.areaLoading = false
            this.communeLoading = false
          })
      },
      selectArea(area) {
        this.communeLoading = true
        this.group.area = area

        this.$apollo.addSmartQuery('communes', {
          query: COMMUNES_QUERY,
          variables: {
            areaId: area.id
          },
          result ({ loading }) {
            this.communeLoading = loading
          }
        })
      },
      removeTypename(obj) {
        delete obj.__typename
        return obj
      },
      update() {
        this.loading = true
        this.$apollo.mutate({
          mutation: UPDATE_GROUP_MUTATION,
          variables: {
            id: this.groupId,
            name: this.group.name,
            area: this.group.area.id ? this.removeTypename(this.group.area) : null,
            commune: this.group.commune.id ? this.removeTypename(this.group.commune): null,
            address: this.group.address,
          }
        }).then(result => {
          this.$store.dispatch('setCurrentGroup', result.data.update_group)
          currentGroupHelper.setCurrentGroup(result.data.update_group)
          this.$awn.success(this.$t('word.updated'))
        }).catch(error => {
          if (error.graphQLErrors[0].message === 'validation') {
            this.errors = error.graphQLErrors[0].extensions.validation
          }
        }).finally(() => {
          this.loading = false
        })
      }
    }
  }
</script>
