<template>
  <div id="addUnit" class="modal fade" data-modal-index="2">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{ $t('word.add_unit') }}</h4>
          <div class="clearfix"></div>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="">{{ $t('word.unit') }}</label>
            <div class="input-group">
              <input v-model="unit" type="text" class="form-control">
              <div class="input-group-addon">
                <i class="fa fa-weight"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal" @click.prevent="confirm()">
            <i class="far fa-check"></i> {{ $t('word.save') }}
          </button>
          <button class="btn btn-default" data-dismiss="modal">
            <i class="far fa-ban"></i> {{ $t('word.cancel') }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        unit: '',
      }
    },
    methods: {
      confirm() {
        this.$emit('addUnit', this.unit)
      }
    }
  }
</script>

<style scoped>

</style>