<template>
  <div>
    <div class="modal-header">
      <div class="row align-items-center">
        <div class="col">
          <ol class="breadcrumb">
            <li class="active cursor-pointer" @click.prevent="tab = 1">{{ $t('word.folder') }}</li>
            <li v-show="tab === 2" class="active"><i>{{ imageSelected.name }}</i></li>
          </ol>
        </div>
        <div class="col-auto">
          <input v-model="name" type="text"
                 class="form-control input-rounded"
                 :placeholder="$t('word.folder')"
                 @keyup.enter="search">
        </div>
      </div>
    </div>
    <div class="modal-body">
      <loading v-if="loading"></loading>
      <template v-else>
        <div class="text-center text-danger font-weight-bold">
          <i>{{ $t('restaurant.good.max_select_image', {max: payload.max}) }}</i>
        </div>
        <div class="row">
          <template v-for="image in images">
            <div v-for="url in image.urls" :key="url"
                 class="col-md-2 col-sm-3">
              <div class="position-relative cursor-pointer group-image" :class="{'active': imagesChoosed.includes(url)}"
                   @click.prevent="select(url)">
                <img :src="$asset(url)"
                     alt="image"
                     style="width: 100%"
                     data-toggle="modal"
                     data-target=".bs-example-modal-lg"
                     class="zoom-in image-border">
                <button class="btn btn-success btn-circle">
                  <i class="fa fa-check"></i>
                </button>
              </div>
            </div>
          </template>
        </div>
        <div class="text-center m-t-15">
          <button v-if="!loadingMore && currentPage < lastPage" class="btn btn-default" @click.prevent="loadMore()">
            {{ $t('word.loadmore') }}
          </button>
          <pulse-loader v-else :loading="loadingMore" :color="'#27a1f2'"></pulse-loader>
        </div>
      </template>
    </div>
    <div class="modal-footer center-block">
      <div class="col-12 text-center">
        <button class="btn btn-default" data-dismiss="modal">
          <i class="far fa-ban"></i> {{ $t('word.cancel') }}
        </button>
        <button class="btn btn-info" :disabled="!imagesChoosed.length" @click.prevent="confirm()">
          <i class="far fa-check"></i> {{ $t('word.confirm') }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
  import GOOD_IMAGES from './../../apollo/query/good_image/list.gql'
  import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
  import Loading from './../templates/loading/listing'

  export default {
    name: 'ChooseImage',
    components: {Loading, PulseLoader},
    props: {
      payload: {
        type: Object,
        default: () => {
        }
      }
    },
    data() {
      return {
        imageSelected: {},
        imagesChoosed: [],
        images: [],
        loading: true,
        currentPage: 1,
        lastPage: 1,
        perPage: 1,
        name: '',
        loadingMore: false
      }
    },
    apollo: {
      good_images: {
        query: GOOD_IMAGES,
        variables() {
          return {
            name: this.payload.name,
            page: 1
          }
        },
        result({data, loading}) {
          this.loading = loading
          this.images = data.good_images.data
          this.currentPage = data.good_images.current_page
          this.lastPage = data.good_images.last_page
          this.perPage = data.good_images.per_page
        }
      }
    },
    watch: {
      'payload.name': function (value) {
        this.loading = true
        this.name = value
      },
      'payload.max': function () {
        this.imagesChoosed = []
      }
    },
    created() {
      this.name = this.payload.name
    },
    methods: {
      search() {
        this.loading = true
        this.resetData()
        this.$apollo.queries.good_images.refetch({
          name: this.name
        })
      },
      loadMore() {
        this.loadingMore = true
        return new Promise((resolve) => {
          this.$apollo.queries.good_images.fetchMore({
            variables: {
              page: this.currentPage + 1
            },
            updateQuery: (previousResult, {fetchMoreResult}) => {
              const newDatas = [...this.images, ...fetchMoreResult.good_images.data]
              return {
                good_images: {
                  __typename: previousResult.good_images.__typename,
                  data: newDatas,
                  current_page: fetchMoreResult.good_images.current_page,
                  last_page: fetchMoreResult.good_images.last_page,
                  per_page: fetchMoreResult.good_images.per_page
                }
              }
            }
          }).then(() => {
            this.$nextTick(() => {
              this.loadingMore = false
            })
            resolve()
          })
        })
      },
      seeImage(image) {
        this.tab = 2
        if (this.imageSelected.id !== image.id) this.imagesChoosed = []
        this.imageSelected = image
      },
      select(url) {
        if (this.imagesChoosed.includes(url)) {
          let index = this.imagesChoosed.findIndex(str => str === url)
          this.imagesChoosed.splice(index, 1)
        } else if (this.imagesChoosed.length < this.payload.max) {
          this.imagesChoosed.push(url)
        }
      },
      confirm() {
        bus.$emit('select_image', this.imagesChoosed)
        this.resetData()
        $('#modal').modal('hide')
      },
      resetData() {
        this.imageSelected = {}
        this.imagesChoosed = []
        this.tab = 1
      }
    }
  }
</script>

<style scoped lang="scss">
  .folder {
    text-align: center;
    padding: 10px;

    i {
      color: #efd270;
      font-size: 80px;

      &.default {
        color: #CCCCCC;
      }
    }

    &:hover {
      background-color: #edf4fd;
      border-radius: 5px;
      border: solid 1px #b8d6fb;
    }
  }

  .breadcrumb {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
  }

  .modal-header {
    background-color: #f5f5f5;
  }

  .group-image {
    .btn {
      position: absolute;
      display: none;
      top: -10px;
      right: -10px;

      &:hover .fa-check:before {
        content: "\f068";
      }
    }

    img {
      opacity: 0.8;
    }

    &.active {
      img {
        opacity: 1;
        border: solid 2px #147DDC;
      }

      .btn {
        display: block;
      }
    }
  }

  .input-rounded {
    border-radius: 21px;
  }
</style>
