<template>
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">{{ $t('restaurant.good.select_group') }}</h4>
      <div class="clearfix"></div>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <multiselect
          v-model="menuSelected"
          label="name"
          track-by="id"
          :placeholder="$t('restaurant.good.select_group')"
          :show-labels="false"
          :multiple="true"
          :allow-empty="false"
          :options="menus">
          <template slot="option" slot-scope="props">
            <span :class="{ 'menu-lv0': props.option.level == 0,
                            'menu-lv1': props.option.level == 1,
                            'menu-lv2': props.option.level == 2 }">{{ props.option.name }}
            </span>
          </template>
        </multiselect>
      </div>
    </div>
    <div class="modal-footer center-block">
      <div class="col-12 text-center">
        <button class="btn btn-default" data-dismiss="modal">
          <i class="far fa-ban"></i> {{ $t('word.cancel') }}
        </button>
        <button class="btn btn-info" data-dismiss="modal" @click.prevent="confirm()">
          <i class="far fa-check"></i> {{ $t('word.confirm') }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
  import GROUP_MENU_QUERY from './../../apollo/query/group_menu/list.gql'
  import groupMenu from './../../mixins/list_menu.js'

  export default {
    name: 'ChooseMenus',
    mixins: [groupMenu],
    data() {
      return {
        menuSelected: []
      }
    },
    apollo: {
      group_menus: {
        query: GROUP_MENU_QUERY,
        variables() {
          return {
            groupId: this.$store.getters.groupId,
          }
        },
        manual: true,
        result({ data }) {
          this.handleGroupMenus(data.group_menus)
        }
      }
    },
    methods: {
      confirm() {
        bus.$emit('choose-group-menus', this.menuSelected)
      }
    }
  }
</script>

<style scoped>
</style>
