<template>
  <div id="confirm" class="modal fade" data-modal-index="1">
    <div class="modal-dialog" :class="`modal-${size}`">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{ title }}</h4>
          <div class="clearfix"></div>
        </div>
        <div class="modal-body">
          <div>{{ message }}</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal" @click.prevent="$emit('confirmed', true)">
            <i class="fa fa-save"></i> {{ $t('word.confirm') }}
          </button>
          <button class="btn btn-default" data-dismiss="modal" @click="$emit('confirmed', false)">
            <i class="fa fa-remove"></i> {{ $t('word.cancel') }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Confirm',
    props: {
      title: {
        type: String,
        default: ''
      },
      message: {
        type: String,
        default: ''
      },
      size: {
        type: String,
        default: 'sm'
      }
    }
  }
</script>

<style scoped>

</style>