<template>
  <div>
    <div class="form-group">
      <label class="control-label">{{ $t("common.area") }}:</label>
      <multiselect :options="areas"
                   track-by="name"
                   label="name"
                   :placeholder="$t('common.area_placeholder')"
                   select-label=""
                   deselect-label=""
                   selected-label=""
                   :internal-search="false"
                   :preserve-search="true"
                   :loading="areaLoading"
                   :allow-empty="false"
                   :value="areaSelected"
                   @search-change="onSearchAreas"
                   @select="onAreaSelect">
        <span slot="noResult">
          {{ $t("word.no_result") }}
        </span>
        <span slot="noOptions">
          {{ $t("word.no_result") }}
        </span>
      </multiselect>
      <span v-if="errors['area.name']" class="text-danger">
        {{ errors['area.name'][0] }}
      </span>
    </div>
    <div class="form-group">
      <label class="control-label">{{ $t("common.commune") }}:</label>
      <multiselect :options="communes"
                   track-by="name"
                   label="name"
                   :placeholder="$t('common.commune_placeholder')"
                   select-label=""
                   deselect-label=""
                   selected-label=""
                   :value="communeSelected"
                   :allow-empty="false"
                   :loading="communeLoading"
                   :preserve-search="true"
                   @select="onCommuneSelect">
        <span slot="noResult">
          {{ $t("word.no_result") }}
        </span>
        <span slot="noOptions">
          {{ $t("word.no_result") }}
        </span>
      </multiselect>
      <span v-if="errors['commune.name']" class="text-danger">
        {{ errors['commune.name'][0] }}
      </span>
    </div>
    <div class="form-group">
      <label class="control-label">{{ $t("common.address_detail") }}:</label>
      <input type="text"
             class="form-control"
             :value="address"
             :placeholder="$t('common.address_detail_placeholder')"
             @input="emitAddress">
      <span v-if="errors.address" class="text-danger">
        {{ errors.address[0] }}
      </span>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'FormArea',
    props: {
      areasOrigin: {
        type: Array,
        default: () => []
      },
      communes: {
        type: Array,
        required: true
      },
      errors: {
        type: Object,
        required: true
      },
      areaLoading: {
        type: Boolean,
        default: false
      },
      communeLoading: {
        type: Boolean,
        default: false
      },
      areaSelected: {
        type: Object,
        default: null
      },
      communeSelected: {
        type: Object,
        default: null
      },
      address: {
        type: String,
        default: ''
      }
    },
    data() {
      return {
        areas: [],
      }
    },
    watch: {
      areasOrigin() {
        this.areas = this.areasOrigin
      }
    },
    methods: {
      convertVietnamese(str) {
        str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/gi, 'a')
        str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/gi, 'e')
        str = str.replace(/ì|í|ị|ỉ|ĩ/gi, 'i')
        str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/gi, 'o')
        str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/gi, 'u')
        str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/gi, 'y')
        str = str.replace(/đ/gi, 'd')
        return str
      },
      onSearchAreas(value) {
        let keyword = this.convertVietnamese(value).toLowerCase()
        this.areas = this.areasOrigin.filter(area => {
          let areaConverted = this.convertVietnamese(area.name).toLowerCase()
          return areaConverted.includes(keyword)
        })
      },
      onAreaSelect(area) {
        this.$emit('selectArea', area)
        this.onCommuneSelect(null)
      },
      onCommuneSelect(commune) {
        this.$emit('selectCommune', commune)
      },
      emitAddress(e) {
        this.$emit('changeAddress', e.target.value)
      }
    }
  }
</script>