<template>
  <div id="manage-properties" class="modal fade" data-modal-index="2">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"><b>{{ $t('restaurant.good.manage_properties') }}</b></h4>
        </div>
        <div class="modal-body">
          <div class="row justify-content-center">
            <div class="col-6">
              <input v-model="property" type="text" class="form-control">
            </div>
            <div class="col-2">
              <button type="button"
                      class="btn btn-info"
                      style="margin-top: 2px"
                      :disable="loading"
                      @click="addProperties()">
                <i v-if="loading" class="fa fa-spinner-third fa-spin"></i>
                <i v-else>{{ $t('word.add') }}</i>
              </button>
            </div>
          </div>
          <div class="justify-content-center row m-t-15">
            <div class="col-8">
              <div v-for="(item, index) in goods_properties" :key="index"
                   class="row row-item">
                <div class="col">{{ item }}</div>
                <div class="col-auto">
                  <button type="button"
                          class="btn btn-circle btn-danger"
                          @click="remove(item, index)">
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </div>
              <!-- <table class="table">
                <tbody>
                  <tr v-for="(item, index) in goods_properties" :key="index">
                    <td class="text-left">{{ item }}</td>
                    <td class="text-right">
                      <button type="button"
                              class="btn btn-circle btn-danger"
                              @click="remove(item, index)">
                        <i class="fa fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                  <tr v-if="goods_properties.length == 0" colSpan="2" class="text-center">
                    {{ $t('word.no_data') }}
                  </tr>
                </tbody>
              </table> -->
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">
            <i class="fa fa-ban"></i> {{ $t('word.close') }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import CREATE_PROPERTY from './../../apollo/mutation/good/create_property.gql'
  import PROPERTIES_QUERY from './../../apollo/query/good/get_properties.gql'
  import DELETE_GOOD_PROPERTY from './../../apollo/mutation/good/delete_property.gql'

  export default {
    data() {
      return {
        property: '',
        goods_properties: [],
        loading: false
      }
    },
    apollo: {
      goods_properties: {
        query: PROPERTIES_QUERY,
        variables() {
          return {
            groupId: this.groupId
          }
        }
      }
    },
    computed: {
      groupId() {
        return this.$store.getters.groupId
      }
    },
    methods: {
      addProperties() {
        this.loading = true
        this.$apollo.mutate({
          mutation: CREATE_PROPERTY,
          variables: {
            groupId: this.groupId,
            property: this.property
          },
          update: (store, { data: { create_good_property } }) => {
            if (create_good_property.code === 200) {
              const query = {
                query: PROPERTIES_QUERY,
                variables: { groupId: this.groupId }
              }
              const data = store.readQuery(query)
              data.goods_properties.unshift(this.property)
              store.writeQuery({ ...query, data: data })
            }
          }
        }).then(result => {
          this.property = ''
          this.$awn.success(result.data.create_good_property.message)
        }).catch(error => {
          if (error.graphQLErrors[0].message === 'validation') {
            this.errors = error.graphQLErrors[0].validation
          }
        }).finally(() => {
          this.loading = false
        })
      },
      remove(item, index) {
        if (confirm(this.$t('restaurant.confirm_delete_property'))) {
          this.$apollo.mutate({
            mutation: DELETE_GOOD_PROPERTY,
            variables: {
              groupId: this.groupId,
              property: item
            },
            update: (store) => {
              const query = {
                query: PROPERTIES_QUERY,
                variables: { groupId: this.groupId }
              }
              const data = store.readQuery(query)
              data.goods_properties.splice(index, 1)
              store.writeQuery({ ...query, data: data })
            }
          }).then(() => {
            this.$awn.success(this.$t('word.deleted'))
          })
        }
      }
    }
  }
</script>

<style scoped>
  .row-item {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e0e0e0;
  }
</style>