<template>
  <div id="selectMenu" class="modal fade" tabindex="-1"
       role="dialog" data-modal-index="2">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{ $t('restaurant.good.select_group') }}</h4>
          <div class="clearfix"></div>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <multiselect
              v-model="menuSelected"
              label="name"
              track-by="id"
              :placeholder="$t('restaurant.good.select_group')"
              :show-labels="false"
              :multiple="true"
              :allow-empty="false"
              :options="groupMenus">
              <template slot="option" slot-scope="props">
                <span :class="{ 'menu-lv0': props.option.level == 0,
                                'menu-lv1': props.option.level == 1,
                                'menu-lv2': props.option.level == 2 }">{{ props.option.name }}
                </span>
              </template>
            </multiselect>
          </div>
        </div>
        <div class="modal-footer center-block">
          <div class="col-12 text-center">
            <button class="btn btn-default" data-dismiss="modal">
              <i class="far fa-ban"></i> {{ $t('word.cancel') }}
            </button>
            <button class="btn btn-info" data-dismiss="modal" @click.prevent="confirm()">
              <i class="far fa-check"></i> {{ $t('word.update') }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      groupMenus: {
        type: Array,
        default: null
      }
    },
    data() {
      return {
        menuSelected: null
      }
    },
    methods: {
      confirm() {
        if (confirm(this.$t('restaurant.good.confirm_change_menu'))) {
          let menus = []
          for (let menu of this.menuSelected) {
            menus.push(menu.id)
          }
          this.$emit('updated', menus)
        }
      }
    }
  }
</script>

<style scoped>
  .modal-footer {
    border-top: none;
  }
</style>