<template>
  <div class="row justify-content-center">
    <div class="form-group col-12 col-md-7">
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-search"></i>
        </div>
        <input v-model="keyword"
               v-click-outside="hidden"
               type="text"
               class="form-control"
               :placeholder="$t('restaurant.good.name_or_code')"
               @input="search"
               @focus="showIngredient = true">
        <span class="input-group-btn">
          <button class="btn btn-info"
                  data-container="body"
                  type="button"
                  data-toggle="popover"
                  data-placement="right"
                  :data-content="$t('restaurant.good.ingredients_desc')">
            <i class="fa fa-question"></i>
          </button>
        </span>
      </div>
      <div v-if="showIngredient" class="list-goods">
        <div v-if="loading" class="goods-item text-center">
          <clip-loader :loading="loading" :color="'#27a1f2'" :size="'15px'"></clip-loader>
        </div>
        <template v-else-if="goods.data.length > 0">
          <div v-for="good in goods.data"
               :key="good.id"
               class="goods-item"
               @click="selectGoods(good)">
            <div class="row">
              <span class="col-12 col-sm-12"><strong>{{ good.name }}</strong></span>
              <span class="col-12 col-md-6">{{ good.code }}</span>
              <span class="col-12 col-md-6">{{ $t('restaurant.good.price_origin') }}: {{ good.price_origin }}</span>
              <span class="col-12 col-md-6">
                {{ $t('restaurant.good.inventory_number') }}: {{ good.inventory_number || 0 }}
              </span>
            </div>
          </div>
        </template>
        <div v-else class="goods-item text-center">{{ $t('word.no_data') }}</div>
      </div>
    </div>
    <table class="table color-table info-table table-responsive">
      <thead>
        <tr>
          <th style="min-width: 30px"></th>
          <th>{{ $t('restaurant.good.code') }}</th>
          <th>{{ $t('restaurant.good.ingredient_name') }}</th>
          <th style="max-width: 100px;">{{ $t('word.count') }}</th>
          <th>{{ $t('word.unit') }}</th>
          <th>{{ $t('restaurant.good.price_origin') }}</th>
          <th>{{ $t('word.total_money') }}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(good, index) in goodsSelected" :key="index">
          <td><i class="fa fa-times cursor-pointer" @click="goodsSelected.splice(index, 1)"></i></td>
          <td>{{ good.code }}</td>
          <td>{{ good.name }}</td>
          <td>
            <div class="form-material" :class="{ ' has-errors': errors[`ingredients.${index}.count`]}">
              <input class="form-control text-center"
                     type="number"
                     :value="good.count"
                     min="1"
                     @input="change($event.target.value, index)">
            </div>
            <span v-if="errors[`ingredients.${index}.count`]" class="text-danger">
              <strong>{{ errors[`ingredients.${index}.count`][0] }}</strong>
            </span>
          </td>
          <td>{{ units[good.unit] || good.unit }}</td>
          <td>{{ good.price_origin }}</td>
          <td>{{ parseInt(good.count * good.price_origin) }}
          </td>
        </tr>
        <tr v-if="errors.ingredients">
          <td class="text-danger text-center no-data" colspan="7">{{ errors.ingredients[0] }}</td>
        </tr>
        <tr v-else-if="goodsSelected.length == 0">
          <td class="text-center no-data" colspan="7">{{ $t('word.no_data') }}</td>
        </tr>
        <tr v-else class="out-table text-right">
          <td colspan="6"><strong>{{ $t('word.total_money') }}</strong></td>
          <td>{{ totalMoneyIngredient }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  import ClipLoader from 'vue-spinner/src/ClipLoader'
  import GOODS_QUERY from './../../apollo/query/good/ingredient.gql'

  export default {
    components: {
      ClipLoader
    },
    props: {
      ingredients: {
        type: Array,
        default: () => []
      },
      errors: {
        type: Object,
        default: () => {}
      }
    },
    data() {
      return {
        showIngredient: false,
        keyword: '',
        loading: true,
        goodsSelected: [],
        goods: {
          data: []
        }
      }
    },
    apollo: {
      goods: {
        query: GOODS_QUERY,
        variables() {
          return {
            page: 1,
            type: 1,
            groupId: this.$store.state.current.group.id
          }
        },
        result({ loading }) {
          this.loading = loading
        }
      }
    },
    computed: {
      totalMoneyIngredient() {
        let total = 0
        for (let i in this.goodsSelected) {
          total += this.goodsSelected[i].count * this.goodsSelected[i].price_origin
        }
        return parseInt(total) || 0
      },
      units() {
        return this.$t('config.goods.units')
      },
    },
    watch: {
      ingredients: function(newVal) {
        this.goodsSelected = newVal
      }
    },
    created() {
      this.goodsSelected = this.ingredients
    },
    methods: {
      search: _.debounce(function() {
        if (this.keyword.length > 0) {
          this.loading = true
          this.$apollo.queries.goods.refetch({
            groupId: this.$store.state.current.group.id,
            page: 1,
            type: 1,
            name: this.keyword
          }).then(() => {
            this.loading = false
          })
        }
      }, 200),
      selectGoods(good) {
        this.showIngredient = false
        let obj = this.goodsSelected.find(obj => obj.code == good.code)
        if (!obj) {
          good.count = 1
          delete good.__typename
          delete good.inventory_number
          this.goodsSelected.push(good)
        }
      },
      hidden() {
        this.showIngredient = false
      },
      change(value, index) {
        let count = ''
        if (value.indexOf('.') > -1) {
          let arr = value.split('.')
          let decimal = (arr[1].slice(0, 3)).replace(/[^0-9]/g, '')
          count = (parseInt(arr[0]) || 0) + '.' + decimal
        } else {
          count = parseInt(value) || 0
        }
        this.goodsSelected[index].count = count
        this.$set(this.goodsSelected, index, this.goodsSelected[index])
      },
    },
  }
</script>

<style scoped lang="scss">
  .list-goods {
    position: absolute;
    top: 100%;
    width: calc(100% - 30px);
    background-color: white;
    cursor: pointer;
    z-index: 3;
    max-height: 500px;
    overflow: auto;
    .goods-item {
      border: solid #CCCCCC;
      border-width: 0 1px 1px 1px;
      padding: 10px 15px;
      font-size: 11px;
      &:hover {
        background-color: #f5f5f5;
        color: #555;
      }
    }
  }

  .fa-times {
    &:hover {
      font-size: 20px;
      color: #FC0107;
    }
  }

  tr {
    th {
      &:nth-child(6), &:nth-child(7) {
        text-align: right;
      }
      &:nth-child(4) {
        text-align: center;
      }
    }
    td {
      &:nth-child(6), &:nth-child(7) {
        text-align: right;
      }
      &.no-data {
        text-align: center;
      }
    }
  }

  .out-table td {
    border: none;
  }
</style>