<template>
  <div id="carousel-example-captions" data-ride="carousel" class="carousel slide">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
    <ol class="carousel-indicators">
      <li v-for="(image, index) in payload.images"
          :key="index"
          data-target="#carousel-example-captions"
          :class="{ 'active': payload.index == index }"
          :data-slide-to="index"></li>
    </ol>
    <div role="listbox" class="carousel-inner">
      <div v-for="(image, index) in payload.images"
           :key="index"
           class="item"
           :class="{ ' active': payload.index == index}">
        <img :src="image" alt="IMAGE" class="img-responsive">
      </div>
    </div>
    <a href="#carousel-example-captions" role="button" data-slide="prev" class="left carousel-control"><span
      aria-hidden="true"
      class="fa fa-angle-left"></span> <span class="sr-only">Previous</span> </a>
    <a href="#carousel-example-captions" role="button" data-slide="next" class="right carousel-control"><span
      aria-hidden="true"
      class="fa fa-angle-right"></span> <span class="sr-only">Next</span> </a>
  </div>
</template>
<script>

  export default {
    name: 'SlideShow',
    props: {
      payload: {
        type: Object,
        default: null
      }
    },
    data() {
      return {}
    },
    created() {
      require('../../assets/js/owl.carousel.min')
      require('../../assets/js/owl.custom')
    },
  }
</script>
<style scoped lang="scss">
  @import "../../assets/css/owl.carousel.min.css";

  #carousel-example-captions {
    .close {
      position: absolute;
      top: 5px;
      right: 5px;
      z-index: 1;
      padding: 5px;
      background-color: rgba(0, 0, 0, .5);
      color: white;
      border-radius: 2px;
      line-height: 0.7;
      opacity: 1;
    }
  }
</style>