<template>
  <transition name="slide-fade">
    <div v-if="success" class="alert alert-success">
      <span class="mdi mdi-check-circle-outline mdi-24px">&nbsp;<span
        class="title">{{ $t('word.success') }}</span></span>
      <p>{{ message }}</p>
    </div>
    <div v-if="error" class="alert alert-danger">
      <span class="mdi mdi-alert-circle mdi-24px">&nbsp;<span class="title">{{ $t('word.error') }}</span></span>
      <p>{{ message }}</p>
    </div>
    <div v-if="warning" class="alert alert-warning">
      <span class="mdi mdi-alert mdi-24px">&nbsp;<span class="title">{{ $t('word.warning') }}</span></span>
      <p>{{ message }}</p>
    </div>
    <div v-if="info" class="alert alert-info">
      <span class="mdi mdi-alert-circle-outline mdi-24px">
        <span class="title">{{ $t('word.notification') }}</span>
      </span>
      <p>{{ message }}</p>
    </div>
  </transition>
</template>

<script>
  export default {
    name: 'Toast',
    computed: {
      success() {
        return this.$store.state.toast.success
      },
      error() {
        return this.$store.state.toast.error
      },
      warning() {
        return this.$store.state.toast.warning
      },
      info() {
        return this.$store.state.toast.info
      },
      message() {
        return this.$store.state.toast.message
      }
    }
  }
</script>

<style scoped>
  .alert {
    position: fixed;
    border-radius: 5px;
    right: 5px;
    bottom: 0;
    min-width: 300px;
    z-index: 999;
    max-width: 400px;
  }

  .title {
    font-size: 20px;
  }

  .slide-fade-enter-active {
    transition: all 0.5s ease;
  }

  .slide-fade-leave-active {
    transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }

  .slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(200px);
    opacity: 0;
  }

  p {
    margin-left: 25px;
  }
</style>