<template>
  <transition name="slide">
    <div class="chat-box d-flex flex-column justify-content-between">
      <div class="d-flex">
        <div class="panel-danger cursor-pointer" @click="close()">
          <div class="panel-heading">
            <i class="fa fa-times"></i>
          </div>
        </div>
        <div class="panel-primary flex-grow-1">
          <div class="panel-heading text-center">
            <i class="fa fa-comments-alt"></i>  Chat
          </div>
        </div>
      </div>
      <div id="chat-box" class="ms__scrollbar-custom flex-grow-1 box-content">
        <div v-if="loading" class="white-box">
          <listing></listing>
          <listing></listing>
        </div>
        <template v-for="(item, index) in conversation">
          <div v-if="item.from_type === 1" :key="index" class="d-flex flex-column fs-12 m-b-10">
            <span v-show="item.is_show_time"
                  class="time text-muted align-self-center">{{ item.created_at }}</span>
            <div class="d-flex flex-row">
              <img :src="item.creator.avatar || '/images/avatar_x2.png'"
                   alt="avatar" class="avatar img-circle align-self-end">
              <div class="other cursor-pointer" @click="showTime(item, index)">
                {{ item.content }}
              </div>
            </div>
          </div>
          <div v-else :key="index" class="d-flex flex-column fs-12 m-b-10">
            <span v-show="item.is_show_time"
                  class="time text-muted align-self-center">{{ item.created_at }}</span>
            <div class="d-flex flex-row justify-content-end">
              <div class="is-me cursor-pointer" @click="showTime(item, index)">
                {{ item.content }}
              </div>
              <img :src="item.creator.avatar || '/images/avatar_x2.png'"
                   alt="avatar" class="avatar img-circle align-self-end">
            </div>
          </div>
        </template>
        <div v-if="typing" class="text-center box-directive">
          <sync-loader :loading="true" :color="'#00aaee'" :size="'5px'"></sync-loader>
        </div>
      </div>
      <div class="d-flex">
        <textarea ref="input"
                  v-model="content"
                  class="input"
                  @input="changing"
                  @keydown.enter.exact.prevent
                  @keyup.enter.exact="update"
                  @keydown.enter.shift.exact.prevent="newline"></textarea>
        <button class="btn btn-send" @click.prevent="update">
          <i class="mdi mdi-send"></i>
        </button>
      </div>
    </div>
  </transition>
</template>

<script>
  import UPDATE_CONVERSATION from './../../../../apollo/mutation/sale/update_conversation.gql'
  import CONVERSATION_INVOICE_QUERY from './../../../../apollo/query/sale/invoice_conversation.gql'
  var Listing = () => import('./../../../templates/loading/listing.vue')
  import SyncLoader from 'vue-spinner/src/SyncLoader.vue'

  export default {
    components: { Listing, SyncLoader },
    props: {
      invoiceId: {
        type: String,
        required: true
      }
    },
    data() {
      return {
        loading: true,
        content: '',
        conversation: [],
        typing: false,
        whispering: false,
        isSending: false
      }
    },
    computed: {
      groupId() {
        return this.$store.getters.groupId
      },
      fullname() {
        return this.$store.getters.fullname
      }
    },
    apollo: {
      invoice: {
        query: CONVERSATION_INVOICE_QUERY,
        variables() {
          return {
            invoiceId: this.invoiceId
          }
        },
        result ({ data, loading }) {
          this.conversation = JSON.parse(JSON.stringify(data.invoice.conversation))
          this.loading = loading
          setTimeout(() => {
            try {
              this.scrollBottom()
            } catch (e) {}
          }, 100)
        }
      }
    },
    mounted() {
      this.$nextTick(() => {
        this.$refs.input.focus()
      })
      window.Echo.private(`${this.invoiceId}.invoice_conversation`)
            .listen('Restaurant\\ConversationUpdated', data => {
              let client = this.$apollo.provider.defaultClient
              let query = {
                query: CONVERSATION_INVOICE_QUERY,
                variables: { invoiceId: this.invoiceId }
              }
              let invoiceData = client.readQuery(query)
              invoiceData.invoice.conversation.push(data.payload)
              client.writeQuery({ ...query, data: invoiceData })
            })
            .listenForWhisper('changing', () => {
              this.typing = true
              setTimeout(() => {
                this.scrollBottom()
              }, 100)
            })
            .listenForWhisper('stopping', () => {
              this.typing = false
            })
    },
    destroyed() {
      window.Echo.leave(`${this.invoiceId}.invoice_conversation`)
    },
    methods: {
      scrollBottom() {
        let elem = $('#chat-box')
        elem.animate({
          scrollTop: elem[0].scrollHeight - elem[0].clientHeight
        }, 400)
      },
      changing() {
        if (!this.whispering) {
          this.whispering = true
          window.Echo.private(`${this.invoiceId}.invoice_conversation`)
            .whisper('typing', {
              fullname: this.fullname,
            })
        } else if (this.content === '') {
          window.Echo.private(`${this.invoiceId}.invoice_conversation`)
                .whisper('stopping')
          this.whispering = false
        }
      },
      showTime(item, index) {
        item.is_show_time = !item.is_show_time ? true : false
        this.$set(this.conversation, index, item)
      },
      close() {
        this.$emit('closeChatBox')
      },
      newline() {
        this.content = `${this.content}\r`
      },
      update() {
        if (this.isSending) {
          return
        }
        window.Echo.private(`${this.invoiceId}.invoice_conversation`)
                   .whisper('stopping')
        this.isSending = true
        this.$apollo.mutate({
          mutation: UPDATE_CONVERSATION,
          variables: {
            groupId: this.groupId,
            invoiceId: this.invoiceId,
            fromType: 2,
            content: this.content
          }
        }).then(() => {
          this.content = ''
          this.isSending = false
          this.whispering = false
        })
      }
    }
  }
</script>

<style lang="scss" scoped>
  .chat-box {
    width: 300px;
    height: 100%;
    position: absolute;
    z-index: 1000;
    right: 0;
    bottom: 0;
    border-left: 1px solid #ccc;
    .panel-heading {
      height: 43px;
    }
  }
  .slide-leave-active,
  .slide-enter-active {
    transition: all .5s ease;
  }
  .slide-enter,
  .slide-leave-to {
    opacity: 0;
    transform: translateX(300px);
  }
  .input, input:focus {
    padding: 5px;
    border: none;
    border-top: 1px solid #ccc;
    background-color: #fff;
    width: 100%;
    height: 100px;
    resize: none;
  }
  .btn-send {
    position: absolute;
    background-color: #00aaee;
    color: #fff;
    width: 40px;
    height: 40px;
    right: 10px;
    border-radius: 20px;
    bottom: 5px;
    i {
      font-size: 32;
    }
  }
  .box-content {
    padding: 10px 0;
    border-top: 2px solid #e2e9f0;
    background-color: #edf2fa;
    font-size: 13px;
    .avatar {
      width: 30px;
      height: 30px;
      margin: 0 5px;
      background-color: #ccc;
    }
    .other {
      background-color: #fff;
      padding: 6.5px 15px;
      border-radius: 10px;
      max-width: 200px;
    }
    .is-me {
      padding: 6.5px 15px;
      border-radius: 10px;
      max-width: 200px;
      background-color: #00aaee;
      color: #fff;
    }
  }
  .box-directive {
    background-color: #edf2fa;
    padding: 5px;
  }
</style>