<template>
  <div class="d-flex flex-column content">
    <!-- Thêm bớt hóa đơn, thay đổi người dùng, viết note... -->
    <div class="box--1 general">
      <div class="d-flex flex-wrap">
        <div id="order-actions" class="p-2">
          <div class="d-flex flex-row justify-content-end actions">
            <button class="btn-none-button"
                    data-toggle="tooltip"
                    :title="$t('word.refresh')"
                    @click="refresh()">
              <i v-if="loading"
                 class="fa fa-spinner-third fa-spin btn--action btn-action btn-circle"></i>
              <i v-else class="fa fa-redo btn--action btn-action btn-circle"></i>
            </button>
            <button class="btn-none-button"
                    data-toggle="tooltip"
                    :title="$t('manage_sale.modal.note_order')"
                    :disabled="notAction"
                    @click="showModalNoteInvoice()">
              <i class="far fa-comment-alt-lines btn--action btn-action btn-circle set-comment"
                 :class="{ 'noted': currentInvoice.note }"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Danh sách món ăn được chọn -->
    <div class="box--2 dishs-select ms__scrollbar-custom">
      <div class="d-flex flex-column h-100">
        <div class="list-dishs ms__scrollbar-custom flex-shrink-1">
          <div v-for="(item, index) in currentInvoice.goods" :key="item.id">
            <div class="box--1 goods">
              <div class="goods__info p-2">
                <div class="d-flex flex-row align-items-center p-2">
                  <span class="text-muted" style="width: 20px;">{{ index }}</span>
                  <div class="goods_name_and_status">
                    <span class="goods_name">{{ item.name }}</span>
                    <span class="goods_unit text-primary">( {{ getUnit(item.unit) }} )</span>
                  </div>
                  <button class="btn-danger btn-outline btn-decrement btn-circle"
                          @click.stop="decrementItem(item)">
                    <i class="fa fa-minus"></i>
                  </button>
                  <button class="btn-primary btn-outline btn-increment btn-circle"
                          @click.stop="incrementItem(item)">
                    <i class="fa fa-plus"></i>
                  </button>
                  <button class="btn btn-twitter goods_amount"
                          @click.stop="showModalNumberItemReturn(item)">
                    {{ item.return_count || 0 }}
                  </button>
                  <span class="p-2" style="width: 40px">/ {{ item.count }}</span>

                  <template v-if="item.discount">
                    <button class="goods_price" disabled>
                      <div class="price-origin">
                        {{ formatPrice(getPriceAfterDiscount(item)) }}
                        <div class="price-discount">{{ formatPrice(item.price) }}</div>
                      </div>
                    </button>
                    <button class="goods_price-total m-r-15" disabled>
                      {{ formatPrice(getPriceAfterDiscount(item) * item.return_count) }}
                    </button>
                  </template>
                  <template v-else>
                    <button class="goods_price" disabled>
                      <div class="price-origin">{{ formatPrice(item.price) }}</div>
                    </button>
                    <button class="goods_price-total m-r-15" disabled>
                      {{ formatPrice(item.price * item.return_count) }}
                    </button>
                  </template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Thông tin của hóa đơn hiện tại: Nv làm đơn, tổng tiền, discount... -->
    <div class="mt-auto box--1 price">
      <div class="d-flex flex-column">
        <div class="p-2 total">
          <div class="d-flex flex-row">
            <div class="p-2">{{ $t('manage_sale.invoices.refunds') }}</div>
            <div class="ml-auto p-2">{{ formatPrice(totalCurrentInvoice) }} VND</div>
          </div>
        </div>
      </div>
    </div>
    <!-- Thanh toán và hủy đơn -->
    <div class="mt-auto box--1 actions">
      <div class="d-flex justify-content-end">
        <div class="mr-auto p-2 shortcut">
          <div class="shortcut__item"
               :title="$t('manage_sale.invoices.shortcut_title')"
               @click="showModalShortcut()">
            <i class="fas fa-exclamation-circle shortcut__icon"></i>
            {{ $t('manage_sale.invoices.shortcut') }}
          </div>
          <div v-check="{ permission: 'invoice.list' }" class="shortcut__item">
            <router-link :to="{ path: '/restaurant/manage-sale/history' }" target="_blank">
              <i class="fas fa-history shortcut__icon"></i>
              {{ $t('manage_sale.invoices.history_order') }}
            </router-link>
          </div>
          <div v-if="!isCheckout" class="shortcut__item" @click="showModalSetting()">
            <i class="far fa-cog shortcut__icon"></i>
            {{ $t('manage_sale.invoices.setting') }}
          </div>
        </div>
        <template v-if="!isCheckout">
          <template v-if="invoices.length > 0">
            <button class="p-2 btn btn--cancel"
                    :disabled="currentInvoice.is_draft"
                    @click="confirmDeleteInvoice()">
              <i class="far fa-ban"></i>
              {{ $t('manage_sale.invoices.cancel_order') }}
            </button>
          </template>
          <!-- Nút thanh toán -->
          <button class="p-2 btn btn-success"
                  :disabled="processingCheckout"
                  @click="performCheckout()">
            <i class="far fa-shopping-cart"></i>
            {{ $t('manage_sale.invoices.checkout_order') }}
          </button>
        </template>
        
        <!-- Nút quay lại màn hình bán hàng từ màn hình hoá đơn -->
        <template v-else>
          <button class="p-2 btn btn--cancel"
                  @click="backSaleScreen()">
            <i class="fal fa-arrow-alt-to-left"></i>
            {{ $t('manage_sale.invoices.come_back') }}
          </button>
        </template>
      </div>
    </div>
  </div>
</template>
<script>
  import CHECKOUT_RETURN_INVOICE from './../../../../apollo/mutation/sale/purchase_return_invoice.gql'
  import { calcSubtotalReturnInvoice } from './../../../../helpers/helper_manage_sale.js'
  import mixinHandleUnit from './../../../../mixins/handle_unit.js'
  import asyncCache from './../mixins/async_cache.js'
  import mixinInvoices from './../mixins/invoices.js'

  export default {
    mixins: [mixinInvoices, mixinHandleUnit, asyncCache],
    props: {
      currentInvoiceId: {
        type: String,
        default: ''
      },
      loading: {
        type: Boolean,
        default: true
      },
      currentInvoice: {
        type: Object,
        default: () => {}
      }
    },
    data() {
      return {
        processingCheckout: false,
      }
    },
    computed: {
      groupId() {
        return this.$store.getters.groupId
      },
      // Đang ở trang thanh toán
      isCheckout() {
        return this.$store.getters.isCheckout
      },
      // Disable nút chức năng
      notAction() {
        return this.isCheckout || this.isDraftInvoice || this.isNoneCurrentInvoice
      },
      // Tổng tiền các món hàng hóa đơn
      subtotalCurrentInvoice() {
        return calcSubtotalReturnInvoice(this.currentInvoice)
      },
      // Tổng tiền hóa đơn
      totalCurrentInvoice() {
        if (this.isNoneCurrentInvoice) {
          return 0
        }
        return this.subtotalCurrentInvoice
      }
    },
    mounted() {
      bus.$on('confirmedCheckoutInvoice', this.checkout)
    },
    updated() {
      $('[data-toggle="tooltip"]').tooltip({trigger: 'hover'})
    },
    beforeDestroy() {
      bus.$off('confirmedCheckoutInvoice', this.checkout)
    },
    methods: {
      showModalSelectReturnInvoice() {
        bus.$emit('modal', {
          component: 'm-s-select-return-invoice',
          backdrop: 'static'
        })
      },
      refresh() {
        this.$emit('refresh')
      },
      decrementItem(goods) {
        if (goods.return_count === 0) {
          return
        }
        this.decrementItemReturnInvoice(goods.id)
      },
      incrementItem(goods) {
        if (goods.return_count === goods.count) {
          return this.$awn.alert(this.$t('manage_sale.modal.invalid_amount_returned'))
        }
        this.incrementItemReturnInvoice(goods.id)
      },
      performCheckout() {
        // Không cho phép click liên tục vào nút thanh toán
        if (this.processingCheckout) {
          return
        }
        if (!this.currentInvoice.goods || this.currentInvoice.goods.length === 0) {
          return this.$awn.alert(
            this.$t('manage_sale.client_notify.order_have_not_goods_so_not_paid')
          )
        }
        // standardize return invoice
        let index = this.currentInvoice.goods.findIndex(goods => goods.return_count > 0)
        if (index < 0) {
          return this.$awn.alert(this.$t('manage_sale.client_notify.invalid_return_invoice'))
        }
        this.processingCheckout = true
        const invoice = JSON.parse(JSON.stringify(this.currentInvoice))
        invoice.goods = this.getReturnItems(invoice)
        invoice.total = this.totalCurrentInvoice
        bus.$emit('performCheckout', invoice)
      },
      /**
       * Lấy ra mảng những items trả lại trong return invoice
       * @param {Object} returnInvoice 
       */
      getReturnItems(invoice) {
        const returnItems = []
        invoice.goods.forEach(item => {
          if (item.return_count > 0) {
            returnItems.push(item)
          }
        })
        return returnItems
      },
      checkout(invoice) {
        if (!invoice.is_return) {
          return
        }
        const goods = []
        invoice.goods.forEach(item => {
          goods.push({
            id: item.id,
            count: item.return_count
          })
        })
        this.$apollo.mutate({
          mutation: CHECKOUT_RETURN_INVOICE,
          variables: {
            groupId: this.groupId,
            invoiceId: invoice.id,
            goods: goods,
            note: invoice.note
          }
        }).then(() => {
          this.$awn.success(
            this.$t('manage_sale.client_notify.return_bill_payment_successful', {
              invoice_code: invoice.code
            })
          )
          bus.$emit('checkoutSuccessfully')
          this.invoiceDestroyed(invoice.id)
        }).finally(() => {
          this.processingCheckout = false
          this.$store.dispatch('isCheckout', false)
        })
      },
    }
  }
</script>
<style type="text/css" scoped>
  .l-10 {
    left: 10px !important;
  }
  .visible {
    display: block !important;
  }
  .discounted {
    color: #fc7300 !important;
  }
</style>