<template>
  <div class="d-flex flex-column content">
    <chat-box v-if="isChating"
              :note="currentInvoice.note"
              :invoice-id="currentInvoiceId"
              @closeChatBox="isChating = false"></chat-box>
    <!-- Thêm bớt hóa đơn, thay đổi người dùng, viết note... -->
    <div class="box--1 general">
      <div class="d-flex flex-wrap">
        <!-- Chọn/bỏ chọn tất cả món ăn -->
        <div class="mr-auto d-flex align-items-center">
          <div class="checkbox checkbox-primary m-l-10">
            <input id="all-goods"
                   v-model="selectAll"
                   type="checkbox"
                   @change="onSelectAllItems">
            <label for="all-goods">{{ this.$t('manage_sale.invoices.select_all') }}</label>
          </div>
          <transition name="slide-left">
            <button v-if="itemsSelected.length > 0 && !isCheckout"
                    class="btn btn-success btn-sm btn-rounded m-l-10"
                    @click="setItemsStatus(goodsDelivered)">
              <i class="far fa-check"></i> {{ $t('manage_sale.goods.good_status.delivered') }} 
              ({{ itemsSelected.length }})
            </button>
          </transition>
        </div>
        <div id="order-actions" class="p-2">
          <div class="d-flex flex-row justify-content-end actions">
            <button class="btn-none-button"
                    data-toggle="tooltip"
                    title="Chat"
                    :disabled="notAction"
                    @click="isChating = true">
              <i class="fas fa-comments-alt btn--action btn-action btn-circle"
                 :class="{ 'noted': currentInvoice.conversation }"></i>
            </button>
            <button class="btn-none-button"
                    data-toggle="tooltip"
                    :title="$t('manage_sale.modal.note_order')"
                    :disabled="notAction"
                    @click="showModalNoteInvoice()">
              <i class="fas fa-sticky-note btn--action btn-action btn-circle"
                 :class="{ 'noted': currentInvoice.note }"></i>
            </button>
            <button class="btn-none-button"
                    data-toggle="tooltip"
                    :title="$t('manage_sale.modal.check_goods')"
                    :disabled="notAction"
                    @click="showModalCheckGoods()">
              <i class="fas fa-clipboard-list-check btn--action btn-action btn-circle"></i>
            </button>
            <button class="btn-none-button"
                    data-toggle="tooltip"
                    :title="$t('manage_sale.modal.combine_table') +
                      '/' + $t('manage_sale.modal.combine_order')"
                    :disabled="notAction"
                    @click="showModalMatchingInvoicesTables()">
              <i class="fas fa-exchange-alt btn--action btn-action btn-circle"></i>
            </button>
            <button class="btn-none-button"
                    data-toggle="tooltip"
                    :title="$t('word.refresh')"
                    @click="refresh()">
              <i v-if="loading"
                 class="fas fa-spinner-third fa-spin btn--action btn-action btn-circle"></i>
              <i v-else class="fas fa-redo btn--action btn-action btn-circle"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Danh sách món ăn được chọn -->
    <div class="box--2 dishs-select ms__scrollbar-custom">
      <div class="d-flex flex-column h-100">
        <div id="invoice-detail" class="list-dishs ms__scrollbar-custom flex-shrink-1">
          <div v-for="(item, index) in goods" :key="item.id + item.status">
            <div class="box--1 goods">
              <div class="goods__info p-2" @click="expand(index)">
                <div class="d-flex justify-content-end align-items-center">
                  <i v-if="item.is_expand" class="fal fa-chevron-right m-r-15"></i>
                  <i v-else class="fal fa-chevron-down m-r-15"></i>
                  <div class="goods_name_and_status">
                    <span class="goods_name">{{ item.name }}</span>
                    <span class="goods_unit text-primary">( {{ getUnit(item.unit) }} )</span>
                  </div>
                  <div class="d-flex justify-content-center amount">
                    <button class="btn-danger btn-outline btn-decrement btn-rounded"
                            @click.stop="updateDecrementItem(item.id)">
                      <i class="fa fa-minus"></i>
                    </button>
                    <button class="btn goods_amount btn-twitter">
                      {{ item.count }}
                    </button>
                    <button class="btn-primary btn-outline btn-increment btn-rounded"
                            @click.stop="updateIncrementItem(item.id)">
                      <i class="fa fa-plus"></i>
                    </button>
                  </div>
                  <div v-if="item.discount" class="d-flex justify-content-start m-r-5">
                    <button class="goods_price" :disabled="isCheckout"
                            @click.stop="showModalDiscountDish(item)">
                      <div class="price-origin">
                        {{ formatPrice(getPriceAfterDiscount(item)) }}
                      </div>
                      <div class="price-discount">
                        <template v-if="item.discount_type === 1">
                          -{{ formatPrice(item.discount) }}
                        </template>
                        <template v-else>
                          -{{ item.discount }} %
                        </template>
                      </div>
                    </button>
                    <button class="goods_price-total align-items-center fw-500"
                            disabled="disabled">
                      {{ formatPrice(getPriceAfterDiscount(item) * item.count) }}
                    </button>
                  </div>
                  <div v-else class="d-flex justify-content-center align-items-center m-r-5">
                    <button class="goods_price" :disabled="isCheckout"
                            @click.stop="showModalDiscountDish(item)">
                      {{ formatPrice(item.price) }}
                    </button>
                    <button class="goods_price-total" disabled="disabled">
                      <b>{{ formatPrice(item.price * item.count) }}</b>
                    </button>
                  </div>
                </div>
              </div>
              <!-- Các order item trong goods -->
              <div v-for="(orderItem, itemIndex) in item.orders"
                   v-show="item.is_expand"
                   :key="itemIndex"
                   class="goods__info"
                   @click="selectOrderItem(item.id, itemIndex)">
                <hr class="divider">
                <div class="d-flex flex-wrap goods-item"
                     :class="{ 'btn--dish-selected' : orderItem.is_selected }">
                  <div class="d-flex justify-content-start align-items-center">
                    <span class="text-muted time">
                      <i class="fal fa-clock"></i> &nbsp;{{ fromNow(orderItem.created_at) }}
                    </span>
                    <div class="status">
                      <span v-if="orderItem.is_changing" class="label label-default">
                        {{ $t('word.not_save') }}
                      </span>
                      <span v-else-if="orderItem.status === goodsBooked"
                            class="label label-warning">
                        {{ $t('manage_sale.goods.good_status.booked') }}
                      </span>
                      <span v-else-if="orderItem.status === goodsProcessed"
                            class="label label-info">
                        {{ $t('manage_sale.goods.good_status.processed') }}
                      </span>
                      <span v-else-if="orderItem.status === goodsDelivered"
                            class="label label-success">
                        {{ $t('manage_sale.goods.good_status.delivered') }}
                      </span>
                      <span v-else-if="orderItem.status === goodsReturned"
                            class="label label-danger">
                        {{ $t('manage_sale.goods.good_status.returned') }}
                      </span>
                    </div>
                    <span class="goods_amount" disabled="disabled">
                      {{ orderItem.count || 0 }}
                    </span>
                    <div v-if="orderItem.is_disable" class="unavailable">
                      {{ $t('manage_sale.invoices.out_stock') }}
                    </div>
                  </div>
                  <div class="ml-auto">
                    <button v-if="!orderItem.is_changing && orderItem.status === 'booked'"
                            class="btn-delete"
                            :disabled="isCheckout"
                            @click.stop="confirmDeleteItem(item.id, orderItem)">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Thông tin của hóa đơn hiện tại: Nv làm đơn, tổng tiền, discount... -->
    <div class="mt-auto box--1 price">
      <div class="d-flex flex-column">
        <div class="p-2 subtotal highlight">
          <div class="d-flex flex-row">
            <div class="p-2">{{ $t('manage_sale.invoices.subtotal') }}</div>
            <div class="ml-auto p-2">{{ formatPrice(subtotalCurrentInvoice) }} VND</div>
          </div>
        </div>
        <div class="p-2 discount highlight">
          <div class="d-flex flex-row">
            <div class="p-2">{{ $t('manage_sale.invoices.discount') }}</div>
            <div class="ml-auto p-2">
              <button type="button" class="btn-none-button"
                      :disabled="notAction" @click="showModalDiscountInvoice()">
                <i class="fas fa-pen edit-discount"
                   :class="{'discounted': currentInvoice.discount}"></i>
              </button>
              &nbsp;&nbsp;{{ formatPrice(discountCurrentInvoice) }} VND
            </div>
          </div>
        </div>
        <div class="p-2 total">
          <div class="d-flex flex-row">
            <div class="p-2">{{ $t('manage_sale.invoices.customer_need_pay') }}</div>
            <div class="ml-auto p-2">{{ formatPrice(totalCurrentInvoice) }} VND</div>
          </div>
        </div>
      </div>
    </div>
    <!-- Thanh toán và hủy đơn -->
    <div class="mt-auto box--1 actions">
      <div class="d-flex justify-content-end">
        <div class="mr-auto p-2 shortcut">
          <div class="shortcut__item"
               :title="$t('manage_sale.invoices.shortcut_title')"
               @click="showModalShortcut()">
            <i class="fas fa-exclamation-circle shortcut__icon"></i>
            {{ $t('manage_sale.invoices.shortcut') }}
          </div>
          <div v-check="{ permission: 'invoice.list' }" class="shortcut__item">
            <router-link :to="{ path: '/restaurant/manage-sale/history' }" target="_blank">
              <i class="fas fa-history shortcut__icon"></i>
              {{ $t('manage_sale.invoices.history_order') }}
            </router-link>
          </div>
          <div v-if="!isCheckout" class="shortcut__item" @click="showModalSetting()">
            <i class="far fa-cog shortcut__icon"></i>
            {{ $t('manage_sale.invoices.setting') }}
          </div>
        </div>
        <template v-if="!isCheckout">
          <button class="p-2 btn btn--cancel"
                  :disabled="currentInvoice.is_draft"
                  @click="confirmDeleteInvoice()">
            <i class="far fa-ban"></i>
            {{ $t('manage_sale.invoices.cancel_order') }}
          </button>
          <!-- Nút khởi tạo hóa đơn -->
          <button v-if="currentInvoice.is_draft"
                  class="p-2 btn btn-primary btn-update-order"
                  @click="savePurchaseInvoice()">
            <i class="fa fa-plus"></i>
            {{ $t('manage_sale.invoices.initialize') }}
          </button>
          <!-- Nút cập nhật thông tin hóa đơn -->
          <button v-else
                  class="p-2 btn btn-primary btn-update-order"
                  :disabled="!currentInvoice.is_changed"
                  @click="updateCurrentInvoice()">
            <i class="fa fa-bell" :class="{ 'bell': currentInvoice.is_changed }"></i>
            {{ $t('manage_sale.invoices.update') }}
          </button>
          <!-- Nút thanh toán -->
          <button class="p-2 btn btn-success"
                  :disabled="processingCheckout || goods.length === 0"
                  @click="performCheckout()">
            <i class="far fa-shopping-cart"></i>
            {{ $t('manage_sale.invoices.checkout_order') }}
          </button>
        </template>
        
        <!-- Nút quay lại màn hình bán hàng từ màn hình hoá đơn -->
        <template v-else>
          <button class="p-2 btn btn--cancel"
                  @click="backSaleScreen()">
            <i class="fal fa-arrow-alt-to-left"></i>
            {{ $t('manage_sale.invoices.come_back') }}
          </button>
        </template>
      </div>
    </div>
  </div>
</template>
<script>
  import { GOODS_STATUS } from './../../../../constants.js'
  import SALE_INVOICES_QUERY from './../../../../apollo/query/sale/sale_invoices.gql'
  import SALE_CREATE_INVOICE_MUTATION from './../../../../apollo/mutation/sale/create_invoice.gql'
  import ADD_GOODS_ITEM_MUTATION from './../../../../apollo/mutation/sale/addition_goods.gql'
  import PURCHASE_MUTATION from './../../../../apollo/mutation/sale/purchase.gql'
  import { calcSubtotalPurchaseInvoice, discountPurchaseInvoice } from './../../../../helpers/helper_manage_sale.js'
  import mixinInvoices from './../mixins/invoices.js'
  import mixinHandleUnit from './../../../../mixins/handle_unit.js'
  import asyncCache from './../mixins/async_cache.js'
  import moment from 'moment'
  var ChatBox = () => import('./m_chat.vue') 

  export default {
    components: { ChatBox },
    mixins: [mixinInvoices, mixinHandleUnit, asyncCache],
    props: {
      currentInvoiceId: {
        type: String,
        default: ''
      },
      loading: {
        type: Boolean,
        default: true
      },
      currentInvoice: {
        type: Object,
        default: () => {}
      },
      itemsSelected: {
        type: Array,
        default: () => {}
      },
      goods: {
        type: Array,
        default: () => {}
      },
      selectAll: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        currentItem: {},
        indexInvoice: 1,
        processingCheckout: false,
        isChating: false,
      }
    },
    computed: {
      goodsBooked() {
        return GOODS_STATUS.BOOKED
      },
      goodsProcessed() {
        return GOODS_STATUS.PROCESSED
      },
      goodsDelivered() {
        return GOODS_STATUS.DELIVERED
      },
      goodsReturned() {
        return GOODS_STATUS.RETURNED
      },
      groupId() {
        return this.$store.getters.groupId
      },
      placeIdsManage() {
        return this.$store.getters.placesManage
      },
      // Đang ở trang thanh toán
      isCheckout() {
        return this.$store.getters.isCheckout
      },
      // Không có hóa đơn hiện tại
      isNoneCurrentInvoice() {
        return _.isEmpty(this.currentInvoice)
      },
      // Disable nút chức năng
      notAction() {
        return this.isCheckout || this.currentInvoice.is_draft || this.isNoneCurrentInvoice
      },
      // Tổng tiền các món hàng hóa đơn
      subtotalCurrentInvoice() {
        return calcSubtotalPurchaseInvoice(this.currentInvoice)
      },
      // Tiền giảm giá hóa đơn
      discountCurrentInvoice() {
        if (this.isNoneCurrentInvoice) {
          return 0
        }
        return discountPurchaseInvoice(
          this.currentInvoice,
          this.subtotalCurrentInvoice
        )
      },
      // Tổng tiền hóa đơn
      totalCurrentInvoice() {
        if (this.isNoneCurrentInvoice) {
          return 0
        }
        return this.subtotalCurrentInvoice - this.discountCurrentInvoice
      }
    },
    mounted() {
      bus.$on('confirmedCheckoutInvoice', this.checkout)
      bus.$on('addInvoiceItem', this.addItemInvoiceCurrentInvoice)
    },
    updated() {
      $('[data-toggle="tooltip"]').tooltip({trigger: 'hover'})
    },
    beforeDestroy() {
      bus.$off('confirmedCheckoutInvoice', this.checkout)
      bus.$off('addInvoiceItem', this.addItemInvoiceCurrentInvoice)
    },
    methods: {
      fromNow(timestamp) {
        return moment(timestamp).fromNow()
      },
      expand(index) {
        let item = this.goods[index]
        item.is_expand = !item.is_expand
        this.$set(this.goods, index, item)
      },
      /**
       * Thêm 1 goods item vào trong hoá đơn hiện tại
       * 
       * @param {String} goods Goods được chọn
       */
      addItemInvoiceCurrentInvoice(goods) {
        if (Object.entries(this.currentInvoice).length === 0) {
          return this.$awn.alert(this.$t('manage_sale.client_notify.order_not_exist_so_not_add_goods'))
        }
        const index = this.goods.findIndex(item => item.id === goods.id)
        if (index !== -1) {
          this.updateIncrementItem(goods.id)
        } else {
          this.addNewInvoiceItem(this.currentInvoiceId, goods)
          let elem = $('#invoice-detail')
          elem.animate({
            scrollTop: elem[0].scrollHeight - elem[0].clientHeight + 100
          }, 400)
        }
      },
      /**
       * Chọn/bỏ chọn tất cả items
       * 
       * @param {Object} args event tap element DOM
       */
      onSelectAllItems(args) {
        if (args.target.checked) {
          this.selectAllOrderItem()
        } else {
          this.deselectAllOrderItem()
        }
      },
      /**
       * Làm mới dữ liệu
       */
      refresh() {
        this.$emit('refresh')
      },
      /**
       * Cập nhật thêm móm cho hoá đơn
       */
      updateCurrentInvoice() {
        let goods = []
        this.goods.forEach(item => {
          item.orders.forEach(orderItem => {
            if (orderItem.is_changing) {
              goods.push({
                id: item.id,
                count: orderItem.count
              })
            }
          })
        })
        if (goods.length === 0) {
          return
        }
        this.$apollo.mutate({
          mutation: ADD_GOODS_ITEM_MUTATION,
          variables: {
            groupId: this.groupId,
            invoiceId: this.currentInvoiceId,
            goods: goods
          }
        }).then(() => {
          this.$awn.success(this.$t('word.updated'))
        })
      },
      /**
       * Tạo hoá đơn mới
       */
      savePurchaseInvoice() {
        let goods = []
        this.goods.forEach(item => {
          goods.push({
            id: item.id,
            count: item.count
          })
        })
        if (goods.length > 0) {
          this.$apollo.mutate({
            mutation: SALE_CREATE_INVOICE_MUTATION,
            variables: {
              groupId: this.groupId,
              tableIds: this.currentInvoice.table_ids || [],
              goods: goods
            },
            update: (store, { data: { sale_create_invoice }}) => {
              const query = {
                query: SALE_INVOICES_QUERY,
                variables: {
                  groupId: this.groupId,
                  placeIds: this.placeIdsManage
                }
              }
              const data = store.readQuery(query)
              const index = data.sale_invoices.findIndex(item => item.id === this.currentInvoiceId)
              this.currentInvoiceId = sale_create_invoice.id
              data.sale_invoices[index] = sale_create_invoice
              data.sale_invoices[index].is_draft = false
              store.writeQuery({ ...query, data: data })
            }
          }).then(() => {
            this.$awn.success(this.$t('word.created'))
          }).catch(error => {
            if (error.graphQLErrors[0].message == 'validation') {
              this.$awn.alert(this.$t('manage_sale.tables.table_placed'))
            }
          })
        }
      },
      // Kiểm tra những món ăn được đặt đã được giao chưa
      checkDeliveredItems() {
        return this.goods.every(item => {
          return item.orders.every(orderItem => {
            return orderItem.status !== GOODS_STATUS.BOOKED && orderItem.status !== GOODS_STATUS.PROCESSED
          })
        })
      },
      performCheckout() {
        // Không cho phép click liên tục vào nút thanh toán
        if (this.processingCheckout) {
          return
        }
        if (!this.currentInvoice.goods || this.currentInvoice.goods.length === 0) {
          return this.$awn.alert(
            this.$t('manage_sale.client_notify.order_have_not_goods_so_not_paid')
          )
        }
        if (!this.checkDeliveredItems()) {
          return this.$awn.alert(
            this.$t('manage_sale.client_notify.order_can_not_paid_because_item_not_deliver')
          )
        }
        this.processingCheckout = true
        const purchaseInvoice = JSON.parse(JSON.stringify(this.currentInvoice))
        this.currentInvoice.goods = purchaseInvoice.goods
        purchaseInvoice.subtotal = this.subtotalCurrentInvoice
        purchaseInvoice.total = this.totalCurrentInvoice
        bus.$emit('performCheckout', purchaseInvoice)
        this.itemsSelected = []
      },
      checkout(invoice) {
        if (invoice.is_return) {
          return
        }
        this.$apollo.mutate({
          mutation: PURCHASE_MUTATION,
          variables: {
            groupId: this.groupId,
            invoiceId: invoice.id
          }
        }).then(() => {
          this.$awn.success(
            this.$t('manage_sale.client_notify.bill_payment_successful', {
              invoice_code: invoice.code
            })
          )
          bus.$emit('checkoutSuccessfully')
          this.invoiceDestroyed(invoice.id)
        }).finally(() => {
          this.processingCheckout = false
          this.$store.dispatch('isCheckout', false)
        }).catch(() => {
          this.$awn.alert(
            this.$t('manage_sale.client_notify.bill_payment_failed', {
              invoice_code: invoice.code
            })
          )
        })
      },
    }
  }
</script>
<style lang="scss" scoped>
  .visible {
    display: block !important;
  }
  .discounted {
    color: #fc7300 !important;
  }
  .slide-left-leave-active,
  .slide-left-enter-active {
    transition: all .5s ease;
  }
  .slide-left-enter,
  .slide-left-leave-to {
    opacity: 0;
    transform: translateY(-10px);
  }
</style>