<template>
  <div id="dishs" class="d-flex flex-row dishs">
    <div class="box--1 dishs__menu-group" :class="{'hidden-menus': !isShowMenus}">
      <div class="d-flex justify-content-end p-10">
        <a href="#" @click.prevent="setDisplayMenus"><i class="fa fa-bars fa-lg"></i></a>
      </div>

      <ul v-for="menuLv1 in groupMenus" :key="menuLv1.id"
          class="list-group" :class="{'hidden': !isShowMenus}">
        <li class="list-group-item"
            :class="{'active': groupMenu === menuLv1.id}"
            @click="selectMenu(menuLv1.id, '')">
          {{ menuLv1.name }}
          <i v-if="menuLv1.childs && menuLv1.childs.length > 0" class="fa fa-caret-down pull-right"></i>
        </li>
        <template v-if="menuLv1.childs">
          <ul v-for="menuLv2 in menuLv1.childs"
              v-show="groupMenu == menuLv1.id
                || groupMenu == menuLv2.id
                || parentGroupMenu == menuLv2.id"
              :key="menuLv2.id"
              class="list-group m-l-15">
            <li class="list-group-item"
                :class="{'active': groupMenu === menuLv2.id}"
                @click.stop="selectMenu(menuLv2.id, '')">
              {{ menuLv2.name }}
              <i v-if="menuLv2.childs && menuLv2.childs.length > 0" class="fa fa-caret-down pull-right"></i>
            </li>
            <template v-if="menuLv2.childs">
              <li v-for="menuLv3 in menuLv2.childs"
                  v-show="groupMenu == menuLv2.id || groupMenu == menuLv3.id"
                  :key="menuLv3.id"
                  class="list-group-item m-l-15"
                  :class="{'active': groupMenu === menuLv3.id}"
                  @click.stop="selectMenu(menuLv3.id, menuLv3.parent_id)">
                {{ menuLv3.name }}
              </li>
            </template>
          </ul>
        </template>
      </ul>
    </div>
    <div class="p-2 dishs__container" :class="{'w-100': !isShowMenus}">
      <div class="d-flex flex-column h-100">
        <div class="box--1 dishs__search">
          <input v-model="textSearch" type="text" class="form-control input-sm input-search"
                 :placeholder="$t('manage_sale.goods.looking_goods')">
        </div>
        <div class="box--2 dishs__list">
          <div class="d-flex flex-row justify-content-start flex-wrap wrapper ms__scrollbar-custom">
            <div v-for="good in goods" :key="good.code">
              <div v-if="good.show" :key="good.id"
                   class="box--1 dish__wrapper"
                   @click="addInvoiceItem(good)">
                <div class="d-flex flex-column justify-content-center dish">
                  <i v-if="good.status == goodStatusInactive"
                     class="fa fa-exclamation-triangle dish__out-stock"
                     title="Hết sản phẩm"
                     @click.stop="showModalSetGoodStatus(good.id, good.status)"></i>
                  <div v-else class="btn-circle dish__count"
                       title="Số lượng sản phẩm có thể phục vụ"
                       @click.stop="showModalSetGoodStatus(good.id, good.status)">
                    <span v-if="good.type == goodTypeNormal && good.inventory_number > 0">
                      {{ (good.inventory_number > 99) ? "99+" : good.inventory_number }}
                    </span>
                    <i v-else class="fas fa-check"></i>
                  </div>
                  <div class="dish__image text-center">
                    <img v-if="good.images.length > 0" :src="linkImage(good.images[0])" alt="">
                    <span v-else class="bg-faded"></span>
                  </div>
                  <div class="p-2 text-center dish__name"
                       :title="good.name">{{ good.name }}</div>
                  <div class="text-center dish__unit text-muted">{{ getUnit(good.unit) }}</div>
                  <div class="m-t-2 p-2 text-center dish__code">
                    {{ getPrice(good) }} &nbsp;
                    <s v-if="good.discount > 0" class="text-muted">
                      {{ formatPrice(good.discount) }}
                    </s>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import handleUnit from './../../../../mixins/handle_unit.js'
  import {
    GOODS_STATUS_ACTIVE,
    GOODS_STATUS_INACTIVE,
    GOODS_TYPE_IMPORTED,
    GOODS_STATUS
  } from './../../../../constants.js'
  import SALE_MENU from './../../../../apollo/query/sale/sale_menu.gql'
  import GROUP_MENU_QUERY from './../../../../apollo/query/group_menu/list.gql'
  import { formatPrice } from './../../../../helpers/handle_function.js'
  import { getValueDiscountInvoice } from './../../../../helpers/helper_manage_sale.js'
  import moment from 'moment'

  export default {
    name: 'GoodsTab',
    mixins: [handleUnit],
    data() {
      return {
        textSearch: '',
        groupMenu: '',
        parentGroupMenu: '',
        goods: [],
        groupMenus: [
          {
            id: '',
            name: 'Tất cả'
          }
        ],
        isShowMenus: true
      }
    },
    apollo: {
      sale_menu: {
        query: SALE_MENU,
        variables() {
          return {
            groupId: this.groupId
          }
        },
        manual: true,
        result ({ data }) {
          this.goods = data.sale_menu
          this.filter()
        }
      },
      group_menus: {
        query: GROUP_MENU_QUERY,
        variables() {
          return {
            groupId: this.groupId,
            isParent: true
          }
        },
        manual: true,
        result ({ data }) {
          this.groupMenus = this.groupMenus.concat(data.group_menus)
        }
      }
    },
    computed: {
      groupId() {
        return this.$store.state.current.group.id
      },
      goodStatusInactive() {
        return GOODS_STATUS_INACTIVE
      },
      goodTypeNormal() {
        return GOODS_TYPE_IMPORTED
      },
    },
    watch: {
      textSearch() {
        this.filter()
      },
      groupMenu() {
        this.filter()
      }
    },
    mounted() {
      this.$nextTick(function() {
        // Thiết lập trạng thái món ăn
        bus.$on('setItemsSalesStatus', this.setItemsSalesStatus)
      })
    },
    beforeDestroy() {
      bus.$off('setItemsSalesStatus', this.setItemsSalesStatus)
    },
    methods: {
      filter() {
        const textSearchInput = this.formatTextSearch(this.textSearch)
        this.goods.forEach(good => {
          const matchName = this.formatTextSearch(good.name).indexOf(textSearchInput) >= 0
          const matchCode = this.formatTextSearch(good.code).indexOf(textSearchInput) >= 0
          const isMatchTypeDish = this.groupMenu == '' || good.group_menu_ids.includes(this.groupMenu)
          if ((matchName || matchCode) && isMatchTypeDish) good.show = true
          else good.show = false
        })
      },
      getPrice(goods) {
        let discount = getValueDiscountInvoice(goods.discount, goods.discountType)
        return this.formatPrice(goods.price - discount)
      },
      formatPrice(money) {
        return formatPrice(money)
      },
      showModalSetGoodStatus(goodId, goodStatus) {
        bus.$emit('modal', {
          component: 'm-s-set-good-status',
          backdrop: 'static',
          payload: {
            good_id: goodId,
            good_status: goodStatus
          }
        })
      },
      linkImage(link) {
        return `${this.$urlImage}${link}`
      },
      formatTextSearch(text) {
        var str = text
        str = str.toLowerCase()
        str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g,'a')
        str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g,'e')
        str = str.replace(/ì|í|ị|ỉ|ĩ/g,'i')
        str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g,'o')
        str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g,'u')
        str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g,'y')
        str = str.replace(/đ/g,'d')
        str = str.replace(/!|@|%|\^|\*|\(|\)|\+|\=|\<|\>|\?|\/|,|\.|\:|\;|\'|\"|\&|\#|\[|\]|~|\$|_|`|-|{|}|\||\\/g,' ')
        str = str.replace(/ + /g,' ')
        str = str.trim()
        return str
      },
      findGood(goodId) {
        return this.goods.find(good => good.id === goodId)
      },
      setDisplayMenus() {
        if (this.isShowMenus) {
          this.isShowMenus = false
        } else {
          this.isShowMenus = true
        }
      },
      selectMenu(menuId, parentMenuId) {
        this.groupMenu = menuId
        this.parentGroupMenu = parentMenuId
      },
      addInvoiceItem(goods) {
        if (goods.status === GOODS_STATUS_ACTIVE) {
          bus.$emit('addInvoiceItem', {
            id: goods.id,
            code: goods.code,
            name: goods.name,
            price: goods.price,
            price_origin: goods.price_origin,
            unit: goods.unit,
            discount: goods.discount,
            discount_type: goods.discount_type,
            image: goods.images[0],
            count: 1,
            orders: [
              {
                status: GOODS_STATUS.BOOKED,
                count: 1,
                is_changing: true,
                created_at: moment().format('YYYY-MM-DD HH:mm:ss')
              }
            ]
          })
        } else {
          this.$awn.alert(this.$t('manage_sale.modal.goods_expired'))
        }
      },
      setItemsSalesStatus(payload) {
        const item = this.findGood(payload.good_id)
        item.status = payload.good_status
      }
    }
  }
</script>
<style type="text/css" scoped>
  .hidden-menus { width: 33px!important; }
  .list-group-item { cursor: pointer; }
  .fa-caret-down { margin-top: 4px; }
</style>