<template>
  <div id="tables" class="d-flex flex-column tables">
    <div class="p-2 box--1 tables__info">
      <div class="d-flex">
        <div class="p-2">
          {{ $t("manage_sale.tables.number_tables_used") }} /
          {{ $t("manage_sale.tables.number_tables_empty") }} ({{ countTableUsed }}/{{ numberTableEmpty }})
        </div>
        <p class="p-2 ml-auto">
          <u>{{ (placeName != null && typeFilter === placeName) ? placeName :
            $t('manage_sale.tables.type_table_filter.' + typeFilter) }}</u>
        </p>
        <button type="button" class="btn btn-circle btn-info m-l-15 m-r-10"
                data-toggle="tooltip"
                :title="$t('word.refresh')"
                @click="refresh()">
          <i v-if="$apollo.queries.sale_places.loading"
             class="fa fa-spinner-third fa-spin"></i>
          <i v-else class="fa fa-redo"></i>
        </button>
      </div>
    </div>
    <div class="box--2 tables__map">
      <!-- Hiển thị theo tầng/khu vực -->
      <div v-if="placeName != null && typeFilter === placeName"
           class="d-flex flex-row justify-content-start flex-wrap tables-positions ms__scrollbar-custom">
        <template v-for="table in currentFloor.tables">
          <!-- Bàn trống -->
          <div v-if="isTableAvailable(table.status)"
               :key="table.id"
               class="p-2" @click="confirmStatusTable(table)">
            <div class="table__restaurant table--empty"></div>
            <div class="text-center table__name" data-toggle="tooltip" :title="table.name">
              {{ table.name }}
            </div>
          </div>
          <!-- Bàn được đặt hoặc đang được sử dụng -->
          <div v-else :key="table.id" class="p-2" @click="selectTableBookedOrActed(table)">
            <div class="table__restaurant"
                 :class="{ 'table--booking': isTableBooking(table.status),
                           'table--acting': isTableActing(table.status) }">
            </div>
            <div class="text-center table__name"
                 data-toggle="tooltip" :title="table.name">
              {{ table.name }}
            </div>
          </div>
        </template>
      </div>
      <!-- Hiển thị theo trạng thái bàn -->
      <div v-else class="d-flex flex-column justify-content-start 
           tables-positions area ms__scrollbar-custom">
        <template v-for="place in places">
          <div :key="place.id" class="p-2">
            <div class="d-flex flex-column">
              <div class="p-2 area__title">{{ place.name }}</div>
              <div class="p-2">
                <div class="d-flex flex-wrap">
                  <template v-for="table in place.tables">
                    <template v-if="table.show">
                      <!-- Bàn trống -->
                      <div v-if="isTableAvailable(table.status)"
                           :key="table.id" class="p-2" @click="confirmStatusTable(table)">
                        <div class="table__restaurant table--empty"></div>
                        <div class="text-center table__name" data-toggle="tooltip" :title="table.name">
                          {{ table.name }}
                        </div>
                      </div>
                      <!-- Bàn được đặt hoặc đang được sử dụng -->
                      <div v-else :key="table.id" class="p-2" @click="selectTableBookedOrActed(table)">
                        <div class="table__restaurant"
                             :class="{'table--booking': isTableBooking(table.status),
                                      'table--acting': isTableActing(table.status) }">
                        </div>
                        <div class="text-center table__name"
                             data-toggle="tooltip" :title="table.name">
                          {{ table.name }}
                        </div>
                      </div>
                    </template>
                  </template>
                </div>
              </div>
            </div>
          </div>
        </template>
      </div>
    </div>
    <div class="mt-auto p-2 box--1 tables__area-option">
      <div class="d-flex wrapper">
        <div class="p-2">
          <div class="d-flex align-items-start flex-column area-option__status">
            <button type="button"
                    class="p-2 btn btn-sm btn--table-select"
                    :class="{ 'btn--table-selected': (typeFilter === 'all') }"
                    @click="filterTablesWithStatus('all')">
              {{ $t('manage_sale.tables.type_table_filter.all') }}
            </button>
            <button type="button"
                    class="p-2 btn btn-sm btn--table-select"
                    :class="{ 'btn--table-selected': isTableActing(typeFilter) }"
                    @click="filterTablesWithStatus(statusActing)">
              {{ $t('manage_sale.tables.type_table_filter.' + statusActing) }}
            </button>
            <button type="button"
                    class="p-2 btn btn-sm btn--table-select"
                    :class="{ 'btn--table-selected': isTableBooking(typeFilter) }"
                    @click="filterTablesWithStatus(statusBooking)">
              {{ $t('manage_sale.tables.type_table_filter.' + statusBooking) }}
            </button>
            <button type="button"
                    class="p-2 btn btn-sm btn--table-select"
                    :class="{ 'btn--table-selected': isTableAvailable(typeFilter) }"
                    @click="filterTablesWithStatus(statusAvailable)">
              {{ $t('manage_sale.tables.type_table_filter.' + statusAvailable) }}
            </button>
          </div>
        </div>
        <div v-show="places.length > 0" class="p-2 w-h-100 ms__scrollbar-custom">
          <area-option :type-filter="typeFilter"
                       :places="places"
                       @filter-tables-with-floor="filterTablesWithFloor"></area-option>
        </div>
      </div>
    </div>

    <!-- Modal confirm status table Booking or Acting -->
    <div id="confirmStatusTable" class="modal fade" tabindex="-1"
         role="dialog" aria-labelledby="confirmStatusTable">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">{{ $t('manage_sale.modal.confirm_status_table') }}</h4>
          </div>
          <div class="modal-body">
            <div class="title-confirm">
              {{ $t('manage_sale.modal.question_confirm_use_table', {
                table_name: tableSelected.name,
                place_name: tableSelected.place_name
              }) }}
            </div>
            <div class="d-flex justify-content-center">
              <div class="p-2">
                <button type="button" data-dismiss="modal" class="btn btn-default">
                  <i class="far fa-ban"></i> {{ $t('manage_sale.modal.close') }}
                </button>
              </div>
              <div class="p-2">
                <button type="button" class="btn btn-primary" @click="setStatusTableSelected()">
                  <i class="far fa-check"></i> {{ $t('manage_sale.modal.use_table') }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import AreaOption from './tables/tab_area_option.vue'
  import { TABLE_STATUS } from '../../../../constants.js'
  import SALE_PLACES_QUERY from './../../../../apollo/query/sale/sale_places.gql'
  import asyncCache from './../mixins/async_cache.js'

  export default {
    name: 'TablesTab',
    components: { AreaOption },
    mixins: [asyncCache],
    data() {
      return {
        typeFilter: 'all',
        placeName: null,
        places: [],
        tableSelected: {},
      }
    },
    apollo: {
      sale_places: {
        query: SALE_PLACES_QUERY,
        variables() {
          return {
            groupId: this.groupId,
            placeIds: this.placeIdsManage
          }
        },
        manual: true,
        result ({ data }) {
          let tables = []
          data.sale_places.forEach(place => {
            place.tables = place.tables.map(table => {
              table = {
                id: table.id,
                name: table.name,
                description: table.description,
                count_seat: table.count_seat,
                status: table.status,
                place_id: place.id,
                place_name: place.name,
                show: true,
                __typename: table.__typename
              }
              tables.push(table)
              return table
            })
          })
          this.$store.dispatch('setTables', tables)
          this.places = data.sale_places
          bus.$emit('componentLoaded')
        }
      }
    },
    computed: {
      statusAvailable() {
        return TABLE_STATUS.AVAILABLE
      },
      statusActing () {
        return TABLE_STATUS.ACTING
      },
      statusBooking() {
        return TABLE_STATUS.BOOKING
      },
      autoNextScreen() {
        return this.$store.getters.autoNextScreen
      },
      groupId() {
        return this.$store.getters.groupId
      },
      tables() {
        return this.$store.getters.tables
      },
      placeIdsManage() {
        return this.$store.getters.placesManage
      },
      countTableUsed() {
        let count = 0
        this.places.forEach(floor => {
          const tableUsed = floor.tables.filter(table => {
            return (table.status === TABLE_STATUS.ACTING) || (table.status === TABLE_STATUS.BOOKING)
          })
          count += tableUsed.length
        })
        return count
      },
      numberTableEmpty() {
        let numberTableEmpty = 0
        this.places.forEach((floor) => {
          let tableEmpty = floor.tables.filter(table => { return table.status === TABLE_STATUS.AVAILABLE })
          numberTableEmpty += tableEmpty.length
        })
        return numberTableEmpty
      },
      currentFloor() {
        return this.places.find((currentFloor) => {
          return currentFloor.name === this.placeName
        })
      }
    },
    created() {
      this.$store.watch(state => {
        return state.internet.status
      }, (state) => {
        if (state) {
          this.$apollo.queries.sale_places.refetch()
        }
      }, {
        deep: true
      })
    },
    mounted() {
      this.$nextTick(() => {
        bus.$on('successfullyCreatedPurchaseInvoice', this.changeTab)
      })
    },
    beforeDestroy() {
      bus.$off('successfullyCreatedPurchaseInvoice', this.changeTab)
    },
    methods: {
      isTableAvailable(status) {
        return status === TABLE_STATUS.AVAILABLE
      },
      isTableBooking(status) {
        return status === TABLE_STATUS.BOOKING
      },
      isTableActing(status) {
        return status === TABLE_STATUS.ACTING
      },
      filterTablesWithStatus(status) {
        this.typeFilter = status
        this.placeName = null
        this.places.forEach(floor => {
          floor.tables.forEach(table => {
            if (table.status === status || status === 'all') {
              table.show = true
            } else {
              table.show = false
            }
          })
        })
      },
      filterTablesWithFloor(placeName) {
        this.placeName = placeName
        this.typeFilter = placeName
      },
      selectTableBookedOrActed(tableSelected) {
        this.tableSelected = Object.assign({}, tableSelected)
        if (this.tableSelected.status === TABLE_STATUS.ACTING) {
          this.changeTab()
          if (!this.autoNextScreen) {
            this.$awn.success(this.$t('manage_sale.client_notify.table_selected', {
              table_name: tableSelected.name, place_name: tableSelected.place_name
            }))
          }
          bus.$emit('changeCurrentInvoiceByTableId', this.tableSelected.id)
        } else if (this.tableSelected.status === TABLE_STATUS.BOOKING) {
          this.$awn.alert(this.$t('manage_sale.tables.table_placed'))
        }
      },
      setStatusTableSelected() {
        bus.$emit('createInvoiceWithTableSelected', {
          place_id: this.tableSelected.place_id,
          table_id: this.tableSelected.id
        })
        $('#confirmStatusTable').modal('hide')
      },
      confirmStatusTable(tableSelected) {
        this.tableSelected = Object.assign({}, tableSelected)
        $('#confirmStatusTable').modal('show')
      },
      changeTab() {
        if (this.autoNextScreen) {
          bus.$emit('moveGoodTab')
        }
      },
      refresh() {
        this.$apollo.queries.sale_places.refetch()
      }
    }
  }
</script>
<style scoped>
  .table__name { cursor: pointer; }
  .hide-display { display: none; }
  .location { width: 110px; height: 110px; }
  #confirmStatusTable .modal-dialog { width: 460px; }
  #confirmStatusTable .title-confirm { margin-bottom: 16px; font-size: 16px; }
</style>