@mixin margin-vertical($value) {
  margin-top: #{$value}!important;
  margin-bottom: #{$value}!important;
}
@mixin margin-horizontal($value) {
  margin-right: #{$value}!important;
  margin-left: #{$value}!important;
}
@mixin padding-vertical($value) {
  padding-top: #{$value}!important;
  padding-bottom: #{$value}!important;
}
@mixin padding-horizontal($value) {
  padding-right: #{$value}!important;
  padding-left: #{$value}!important;
}
@mixin size($width, $height) {
  width: #{$width}!important;
  height: #{$height}!important;
}
@mixin none-button() {
  background: none!important;
  border: none!important;
  margin: 0!important;
  padding: 0!important;
}
@mixin text-overflow($value) {
  text-overflow: #{$value};
  overflow: hidden;
}
@mixin label-menu($value) {
  width: #{$value};
  text-align: left;
  white-space: nowrap;
  @include text-overflow(ellipsis);
}
@mixin full-size() {
  width: 100%;
  height: 100%;
}
@mixin position-abs-t-l($top, $left) {
  position: absolute;
  top: #{$top};
  left: #{$left};
}
@mixin position-abs-b-l($bottom, $left) {
  position: absolute;
  bottom: #{$bottom};
  left: #{$left};
}