$color-primary-lv1: #387ef5;
$color-primary-lv2: #55ACEE;
$color-primary-lv3: #3899ea;
$color-primary-lv4: #e2e9f0;
$color-primary-lv5: #e0e7fe;
$color-primary-lv6: #f7f8fc;

$color-notification: $color-primary-lv1;
$color-icon: $color-primary-lv2;
$color-boder: $color-primary-lv2;
$color-select-dish: $color-primary-lv4;
$color-primary-background: $color-primary-lv5;
$color-second-background: $color-primary-lv6;
$color-table-empty: #bddfef;
$color-table-acting: #387ef5;
$color-group-menu-lv2: #C0C0C0;
$color-group-menu-lv3: #808080;
$color-name: $color-primary-lv2;
$color-delete: #c62717;
$color-error: #c62717;
$color-background-notification: $color-primary-lv4;
$color-background-active: #275585;
$color-translucent-text: #989898;
$color-field-table: #797979;

$btn-primary: $color-primary-lv2;
$btn-action: $color-primary-lv2;
$btn-primary-hover: #387ef5;
$btn-action-hover: #387ef5;
$btn-cancel: #e8e6e6;
