<template>
  <footer class="footer text-center">2018 &copy; ZEKO development team</footer>
</template>
<script>
export default {
  name: 'FooterComponent'
}
</script>
<style scoped>
.footer {
  left: 0;
}
</style>
