<template>
  <div>
    <div id="modal"
         class="modal fade"
         tabindex="-1"
         role="dialog"
         data-modal-index="1">
      <div class="modal-dialog" :class="[size, component]" role="document">
        <div class="modal-content h-100">
          <keep-alive :include="['m-s-select-return-invoice']">
            <component :is="component" :payload="payload"></component>
          </keep-alive>
        </div>
      </div>
    </div>
    <div v-if="component2"
         id="modal2"
         class="modal fade"
         tabindex="-1"
         role="dialog"
         data-modal-index="2">
      <div class="modal-dialog" :class="[size2, component2]" role="document">
        <div class="modal-content h-100">
          <component :is="component2" :payload="payload2"></component>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import Loading from '../templates/loading/modal_loading.vue'
  import MSConfirm from '../restaurants/manage_sale/general/gen_m_confirm.vue'
  import MSSizeInvoice from '../restaurants/manage_sale/invoice/modal/inv_m_size.vue'
  import MSSetting from '../restaurants/manage_sale/general/gen_m_setting.vue'
  import MSShortcut from '../restaurants/manage_sale/invoices/modal/invs_m_shortcut.vue'
  import MSCheckGoods from '../restaurants/manage_sale/invoices/modal/invs_m_check_goods.vue'
  import MSSetGoodStatus from '../restaurants/manage_sale/restaurant/goods/modal/set_good_status.vue'
  import MSTablesInvoice from '../restaurants/manage_sale/invoices/modal/invs_m_tables_invoice.vue'
  import MSSelectReturnInvoice from '../restaurants/manage_sale/general/gen_m_select_return_invoice.vue'
  import MSDiscountInvoice from '../restaurants/manage_sale/invoices/modal/invs_m_discount_invoice.vue'
  import MSMatchingInvoicesTables from '../restaurants/manage_sale/invoices/modal/invs_m_matching_invoices_tables.vue'
  import MSNumberGoodsInvoice from '../restaurants/manage_sale/invoices/modal/invs_m_number_goods_invoice.vue'
  import MSDiscountGoods from '../restaurants/manage_sale/invoices/modal/invs_m_discount_goods.vue'
  import DetailInvoice from '../restaurants/invoices/detail.vue'

  export default {
    components: {
      MSConfirm,
      MSSizeInvoice,
      MSSetting,
      MSShortcut,
      MSCheckGoods,
      MSSetGoodStatus,
      MSTablesInvoice,
      MSSelectReturnInvoice,
      'import': () => ({
        component: import('../templates/import_export/import.vue'),
        loading: Loading,
        delay: 100,
        timeout: 3000
      }),
      'avatar-upload': () => ({
        component: import('../users/profile/avatar_upload_modal.vue'),
        loading: Loading,
        delay: 100,
        timeout: 3000
      }),
      'qr-code-render': () => ({
        component: import('../partials/qrcode_render.vue'),
      }),
      'qr-code-render-multiple': () => ({
        component: import('../partials/qrcode_render_multiple.vue'),
        loading: Loading,
        delay: 100,
        timeout: 3000
      }),
      'create-group': () => import('../templates/create_group.vue'),
      'add-user-into-group': () => import('../companies/users/add.vue'),
      'import-preview': () => import('../templates/import_export/preview.vue'),
      'import-detail': () => import('../templates/import_export/import_detail.vue'),
      'detail-goods': () => import('../restaurants/goods/detail'),
      DetailInvoice,
      'detail-returned-invoice': () => import('../restaurants/returned_invoices/detail.vue'),
      'detail-import-invoice': () => import('../restaurants/import_invoices/detail'),
      'setup-units': () => import('../restaurants/setups/select_units'),
      'slideshow': () => import('../elements/slideshow'),
      'select-menu': () => import('../restaurants/goods/select_menu'),
      MSNumberGoodsInvoice,
      'm-s-note-invoice': () => import('../restaurants/manage_sale/invoices/modal/invs_m_note_invoice.vue'),
      MSDiscountGoods,
      MSDiscountInvoice,
      MSMatchingInvoicesTables,
      'detail-notification': () => import('../notifications/detail.vue'),
      'join-group': () => import('../requirements/join_group.vue'),
      'setting-kitchen': () => import('./../restaurants/kitchen/setting.vue'),
      'choose-group-menus': () => import('./../elements/choose_group_menus.vue'),
      'create-image': () => import('./../masters/good_image/create'),
      'choose-image': () => import('./../elements/choose_image'),
      'update-care-information': () => import('./../masters/companies/update_care_status'),
      'user-groups': () => import('./../masters/companies/user-groups')
    },
    data() {
      return {
        component: '',
        size: '',
        backdrop: true,
        payload: null,
        component2: '',
        size2: '',
        backdrop2: true,
        payload2: null,
      }
    },
    created() {
      bus.$on('modal', this.showModal)
      bus.$on('modal2', this.showModal2)
      bus.$on('close-modal', this.closeModal)
      bus.$on('close-modal2', this.closeModal2)
    },
    mounted() {
      this.$nextTick(() => {
        $('#modal2').on('hide.bs.modal', function() {
          alert('The modal is about to be hidden.')
        })
      })
    },
    methods: {
      showModal(data) {
        this.component = data.component
        this.payload = data.payload
        this.size = data.size ? `modal-${data.size}` : ''
        this.$nextTick().then(() => {
          $('#modal').modal({
            backdrop: data.backdrop ? data.backdrop : true
          })
        })
      },
      closeModal() {
        $('#modal').modal('hide')
      },
      showModal2(data) {
        this.component2 = data.component
        this.payload2 = data.payload
        this.size2 = data.size ? `modal-${data.size}` : ''
        this.$nextTick().then(() => {
          $('#modal2').modal({
            backdrop2: data.backdrop ? data.backdrop : true
          })
        })
      },
      closeModal2() {
        $('#modal2').modal('hide')
      }
    }
  }
</script>
