<template>
  <div>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">
        <slot name="title"></slot>
      </h4>
    </div>
    <div class="modal-body">
      <slot name="body"></slot>
    </div>
    <div class="modal-footer">
      <div class="col-12 text-center">
        <slot name="btn-action"></slot>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <i class="far fa-ban"></i> {{ $t('word.cancel') }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'ModalForm'
  }
</script>