<template>
  <div id="navbar">
    <nav class="navbar navbar-default navbar-static-top">
      <div :key="groupId" class="navbar-header">
        <div class="top-left-part">
          <router-link class="logo" :to="{ name: (isMasterService) ? 'master.home' : 'home' }">
            <b><img src="/images/zeko.png" width="30" alt="home" class="dark-logo"></b>
            <span class="hidden-xs"><img src="/images/manage.png" height="35" alt="home" class="dark-logo"></span>
          </router-link>
        </div>
        <ul v-show="!isServiceHomePage" class="nav navbar-top-links navbar-left">
          <li>
            <a href="javascript:void(0)"
               class="waves-effect waves-light"
               @click.prevent="toggleMenu()"><i class="fa fa-bars"></i></a>
          </li>
        </ul>
        <ul class="nav navbar-top-links navbar-left branch">
          <multiselect v-model="dataCurrentGroup"
                       :options="totalGroups"
                       label="name"
                       :placeholder="$t('common.select_branch')"
                       select-label=""
                       deselect-label=""
                       selected-label=""
                       :allow-empty="false"
                       :option-height="104"
                       @input="selectGroup">
            <template slot="singleLabel" slot-scope="props">
              <i v-if="props.option.service_type == 1" class="fas fa-address-card">&nbsp;</i>
              <i v-else-if="props.option.service_type == 2" class="fas fa-utensils-alt"></i>
              <span v-else>{{ $t('common.select_branch') }}</span>
              <span class="option__desc"><span class="option__title">{{ props.option.name }}</span></span>
            </template>

            <template slot="option" slot-scope="props">
              <div class="option__desc">
                <span class="option__title">
                  <i v-if="props.option.service_type == 1" class="fas fa-address-card">&nbsp;</i>
                  <i v-else class="fas fa-utensils-alt"></i>
                </span>
                <span class="option__small">  &nbsp;{{ props.option.name }}</span>
              </div>
              <div v-if="props.option.role_current_user" class="option__role m-t-5 m-l-30">
                {{ $t('permission.role.' + props.option.role_current_user.name) }}
              </div>
              <div v-else class="option__role m-t-5 m-l-30">
                {{ $t('word.employee') }}
              </div>
            </template>
            <span slot="noOptions">
              {{ $t("common.list_group_empty") }}
            </span>
          </multiselect>
        </ul>
        
        <ul class="nav navbar-top-links navbar-right">
          <li id="#wrap" class="dropdown">
            <a class="dropdown-toggle profile-pic"
               data-toggle="dropdown"
               href="javascript:void(0)">
              <div class="row">
                <avatar :username="lastname"
                        :size="32"
                        alt="user-img"
                        class="avatar"
                        color="#fff"
                        :src="avatar.x1"
                        :custom-style="{'margin': '6px'}"></avatar>
                <b class="hidden-xs m-r-10">{{ firstname }} <i class="fa fa-caret-down"></i></b>
              </div>
            </a>
            <ul class="dropdown-menu dropdown-user animated flipInY">
              <li>
                <div class="dw-user-box" style="display: flex">
                  <div class="u-img">
                    <avatar :username="firstname"
                            alt="user"
                            color="#fff"
                            :rounded="false"
                            :custom-style="{'border-radius': '5px'}"
                            :src="avatar.x2"></avatar>
                  </div>
                  <div class="u-text">
                    <h4>{{ firstname }}</h4>
                    <p class="text-muted" data-toggle="tooltip" :title="email">
                      {{ email }}
                    </p>
                  </div>
                </div>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <router-link :to="{ name: 'user.profile', params: { userId: $store.state.auth.user.id || 'null' } }">
                  <i class="fa fa-user"></i> {{ $t("word.my_profile") }}
                </router-link>
              </li>

              <li role="separator" class="divider"></li>
              <li>
                <a href="javascript:void(0)" @click.stop="createGroup()">
                  <i class="fa fa-plus-circle"></i>
                  {{ $t("common.initialize_business_establishment") }}
                </a>
              </li>

              <li role="separator" class="divider"></li>
              <li>
                <router-link :to="{ name: 'service.payment' }">
                  <i class="fa fa-usd-circle"></i> {{ $t("word.service_fee") }}
                </router-link>
              </li>

              <li v-if="isMaster" role="separator" class="divider"></li>
              <li v-if="isMaster">
                <router-link :to="{ path: '/master' }">
                  <i class="fa fa-id-card"></i> Master
                </router-link>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a v-if="!loading" href="javascript:void(0)" @click.prevent="logout()">
                  <i class="fa fa-power-off"></i>
                  {{ $t("word.logout") }}
                </a>
                <scale-loader :loading="loading" :color="'#27a1f2'">
                  <i class="fa fa-power-off"></i>
                  {{ $t("word.logout") }}
                </scale-loader>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-top-links navbar-right locale">
          <li id="#language" class="dropdown locale-dropdown language">
            <img class="dropdown lang-icon lang-select"
                 data-toggle="dropdown"
                 :src="langImage">
            <ul class="dropdown-menu dropdown-menu-right dropdown-lang">
              <li @click="selectLanguage('vi')">
                <div class="img">
                  <img class="lang-icon" src="/images/lang/vn.svg" alt="">
                </div>
                <div class="text">{{ $t("config.language.0") }}</div>
              </li>
              <li class="divider"></li>
              <li @click="selectLanguage('en')">
                <div class="img">
                  <img class="lang-icon" src="/images/lang/en.svg" alt="">
                </div>
                <div class="text">{{ $t("config.language.1") }}</div>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-top-links navbar-right">
          <li id="wrap" class="dropdown">
            <a class="dropdown-toggle  waves-effect waves-light"
               data-toggle="dropdown"
               href="javascript:void(0)"
               @click="openNotification()">
              <i class="fas fa-bell notification-icon">
                <b v-if="count" class="number-notification">{{ count }}</b>
              </i>
            </a>
            <notification v-if="loaded"></notification>
          </li>
        </ul>
        <ul v-if="groupId" v-check="{ permission: 'requirement.list' }"
            class="nav navbar-top-links navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle  waves-effect waves-light"
               data-toggle="dropdown"
               href="javascript:void(0)"
               @click="openRequirement()">
              <span class="fas fa-envelope notification-icon">
                <b v-if="countRequirement > 0" class="number-notification">{{ countRequirement }}</b>
              </span>
            </a>
            <requirement v-if="loadedRequirement"></requirement>
          </li>
        </ul>
      </div>
    </nav>
    <template v-if="changeGroupLoading">
      <div class="background-loading"></div>
      <sync-loader class="change-group-loading" :loading="changeGroupLoading" color="#27a1f2"></sync-loader>
    </template>
  </div>
</template>

<script>
  import { MASTER_SERVICE } from '../../constants.js'
  const Notification = () => import('./notification.vue')
  const Requirement = () => import('./requirement')
  const ScaleLoader = () => import('vue-spinner/src/ScaleLoader')
  const SyncLoader = () => import('vue-spinner/src/SyncLoader')
  import LangHelper from './../../helpers/language'
  import logout from './../../mixins/logout.js'
  import GROUPS_QUERY from './../../apollo/query/group/list.gql'
  import GROUP_QUERY from './../../apollo/query/group/detail.gql'
  import COUNT_REQUIREMENT_QUERY from './../../apollo/query/requirement/count_requirement.gql'
  import currentGroupHelper from './../../helpers/current_group.js'

  export default {
    components: { Notification, ScaleLoader, SyncLoader, Requirement },
    mixins: [logout],
    data() {
      return {
        langImage: '',
        services: [],
        dataCurrentGroup: {},
        loading: false,
        changeGroupLoading: false,
        loaded: false,
        loadedRequirement: false,
        countRequirement: 0
      }
    },
    apollo: {
      groups: {
        query: GROUPS_QUERY,
        manual: true,
        result ({ data }) {
          this.$store.dispatch('setTotalGroups', data.groups)
          currentGroupHelper.setTotalGroups(data.groups)
        }
      }
    },
    computed: {
      id() {
        return this.$store.getters.id
      },
      firstname() {
        return this.$store.getters.firstname
      },
      lastname() {
        return this.$store.getters.lastname
      },
      email() {
        return this.$store.getters.email
      },
      fullname() {
        return this.$store.getters.firstname + this.$store.getters.lastname
      },
      verified() {
        return this.$store.getters.verified && this.$store.getters.phoneVerified
      },
      avatar() {
        return this.$store.getters.avatar
      },
      currentGroup() {
        return this.$store.getters.group
      },
      groupId() {
        return this.$store.getters.groupId
      },
      isServiceHomePage() {
        return this.$store.getters.serviceType ? false : true
      },
      count() {
        return this.$store.getters.notifications
      },
      permissions() {
        return this.$store.getters.permissions
      },
      isMaster() {
        return this.$store.getters.isMaster
      },
      isMasterService() {
        return (this.$store.getters.serviceType == MASTER_SERVICE) ? true : false
      },
      totalGroups() {
        return this.$store.state.current.totalGroups
      },
      serviceType() {
        return this.$store.getters.serviceType
      }
    },
    watch: {
      currentGroup(newGroup) {
        this.dataCurrentGroup = newGroup
      }
    },
    created() {
      if ('Notification' in window && window.Notification.permission !== 'denied') {
        window.Notification.requestPermission()
      }

      window.Echo.private(`notification.${this.id}`)
          .listen('NotificationCreated', event => {
            this.showNotify(event.notification)
            this.$store.dispatch('updateNotification', this.count + 1)
          })
      if (this.serviceType === 1) {
        window.Echo.private(`requirement.${this.groupId}`)
            .listen('RequirementCreated', event => {
              this.showRequirement(event.requirement)
              let client = this.$apollo.provider.defaultClient
              let query = {
                query: COUNT_REQUIREMENT_QUERY,
                variables: { groupId: this.groupId }
              }
              let data = client.readQuery(query)
              if (data.count_requirement) {
                data.count_requirement += 1
              }
              client.writeQuery({ ...query, data: data })
            })
      }
      if (this.$i18n.locale == 'vi') {
        this.langImage = '/images/lang/vn.svg'
      } else {
        this.langImage = '/images/lang/en.svg'
      }
      this.dataCurrentGroup = this.currentGroup
      if (this.serviceType === 1) {
        this.getCountRequirement()
      }
    },
    beforeDestroy() {
      if (this.serviceType === 1) {
        this.echo.leave(`requirement.${this.groupId}`)
      }
    },
    methods: {
      getCountRequirement() {
        this.$apollo.addSmartQuery('count_requirement', {
          query: COUNT_REQUIREMENT_QUERY,
          variables() {
            return {
              groupId: this.groupId
            }
          },
          result ({ data }) {
            this.countRequirement = data.count_requirement
          }
        })
      },
      logout() {
        $('.dropdown-menu').on('click', function(e) {
          e.stopPropagation()
        })
        this.loading = true
        this.logoutExec()
      },
      toggleMenu() {
        this.$emit('toggle-sidebar')
      },
      createGroup() {
        if (!this.verified) {
          this.$awn.alert(this.$t('auth.verify_email_and_phone_number_is_required'))
          return this.$router.push('/verification')
        }
        bus.$emit('modal', {
          component: 'create-group'
        })
      },
      selectLanguage(lang) {
        if (lang != this.$i18n.locale) {
          LangHelper.setLanguage(lang)
          this.$i18n.locale = lang
          if (lang == 'vi') {
            this.langImage = '/images/lang/vn.svg'
          } else {
            this.langImage = '/images/lang/en.svg'
          }
          this.$awn.success(this.$t('word.language_changed'))
        }
      },
      selectGroup(selectedOption) {
        this.changeGroupLoading = true
        this.loadedRequirement = false

        this.$apollo.query({
          query: GROUP_QUERY,
          manual: true,
          variables: {
            id: selectedOption.id
          }
        }).then(result => {
            window.axios.defaults.params['group_id'] = selectedOption.id
            currentGroupHelper.setCurrentPermission(result.data.group.permissions_user || [])
            this.$store.dispatch('setCurrentPermissions', result.data.group.permissions_user || [])
              .then(() => {
                this.$store.dispatch('setCurrentGroup', selectedOption).then(() => {
                  if (this.$route.name !== 'home') {
                    this.$router.push({name: 'home'})
                  }
                  this.changeGroupLoading = false
                })
                currentGroupHelper.setCurrentGroup(selectedOption)
              })
        })
      },
      openNotification() {
        if (!this.loaded) {
          this.loaded = true
        }
        // if (this.count) {
        //   axios.put(RESET_NOTIFICATION)
        //       .then(() => {
        //         this.$store.dispatch('updateNotification', 0)
        //       })
        // }
      },
      openRequirement() {
        if (!this.loadedRequirement) {
          this.loadedRequirement = true
        }
      },
      showNotify(notification) {
        if ('Notification' in window && window.Notification.permission === 'granted') {
          new window.Notification('ZEKO', {
            body: this.$t(`notification.messages_original.${notification.type}`, {
              creator: notification.creator ? notification.creator.fullname : null,
              invoice: notification.invoice ? notification.invoice.code : null,
              group: notification.group ? notification.group.name : null,
              shift: notification.shift ? notification.shift.name : null
            }),
            icon: notification.creator && notification.creator.avatars ?
              notification.creator.avatars.x2 : '/images/avatar_x2.png'
          })
        } 
      },
      showRequirement(requirement) {
        if ('Notification' in window && window.Notification.permission === 'granted') {
          new window.Notification('ZEKO', {
            body: this.$t(`requirement.messages.${requirement.type}`, {
              user_assign: requirement.creator ? requirement.creator.fullname : null
            }),
            icon: requirement.creator && requirement.creator.avatars ?
              requirement.creator.avatars.x2 : '/images/avatar_x2.png'
          })
        } 
      }
    },
  }
</script>

<style scoped lang="scss">
  .locale {
    min-height: 50px;
    cursor: pointer;
    float: right;
  }
  .language {
    height: 45px;
  }
  .language:hover {
    background: #459ACB;
  }
  .lang-icon {
    height: 20px;
    border-radius: 2px;
  }
  .lang-select {
    margin: 0 5px;
  }
  .locale-dropdown {
    padding: 10px 5px;
  }
  .locale-dropdown .dropdown-lang {
    position: absolute;
    top: 45px;
  }
  .locale-dropdown .dropdown-lang .img {
    display: inline;
  }

  .locale-dropdown .dropdown-lang .text {
    display: inline;
  }
  .locale-dropdown .dropdown-lang img {
    margin: 5px 10px;
  }
  .navbar,
  .navbar-header,
  .navbar-left,
  div.top-left-part.text-center,
  .navbar-right {
    height: 45px !important;
    min-height: 45px !important;
  }
  .branch {
    min-width: 200px;
    margin-right: 15px;
    float: right;
  }
  .multiselect {
    min-width: 300px;
    margin-top: 3px;
  }
  .background-loading {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1015;
    background-color: #4c56677a;
  }
  .change-group-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1016;
  }
  .option__role {
    font-size: 1.2rem;
  }
  .notification-icon {
    font-size: 16px;
    margin-top: 13px;
    .number-notification {
      position: absolute;
      font-family:Arial, Helvetica, sans-serif;
      top: 5px;
      width: 16px;
      height: 16px;
      right: 3px;
      text-align: center;
      font-size: 9px;
      border-radius: 50%!important;
      padding-top: 2px;
      color: white;
      background-color: red;
    }
  }
</style>
