<template>
  <ul class="dropdown-menu animated list-scroll">
    <li v-if="!loading && notifications.length == 0">
      <div class="drop-title">
        <i class="fa fa-bell-slash"></i> {{ $t('notification.no_notification') }}
      </div>
    </li>
    <li>
      <div class="message-center">
        <a v-for="(notify, index) in notifications"
           :key="notify.id"
           href="javascript:void(0)"
           :class="[ !notify.view ? 'notify-not-active' : '' ]"
           style="display: flex; position: relative"
           :style="loadIndex == index ? 'opacity: 0.5' : ''"
           @click.prevent="detail(notify, index)">
          <div class="box-item col">
            <div class="row">
              <div class="col-auto pull-left">
                <avatar :username="notify.creator ? notify.creator.fullname : 'Zeko'"
                        :size="50"
                        class="row"
                        :src="notify.creator_avatar"></avatar>
              </div>
              <div class="mail-contnet col">
                <span class="mail-desc" v-html="notify.content"></span>
                <span class="timing">{{ notify.time_at }}</span>
              </div>
              <div class="col-auto row align-items-center" @click.prevent="remove(notify.id)">
                <i class="fas fa-ellipsis-h action"></i>
              </div>
              <div v-if="loadIndex == index" class="load-message">
                <clip-loader :loading="true" :color="'black'" :size="'15px'"></clip-loader>
              </div>
            </div>
          </div>
        </a>
        <template v-if="!loading">
          <a v-if="currentPage < totalPage"
             href="javascript:void(0)"
             style="text-align: center!important;"
             @click.prevent="loadmore()">
            {{ $t('word.loadmore') }}
          </a>
          <router-link v-if="$route.name != 'notification.list'"
                       :to="{ name: 'notification.list' }"
                       style="text-align: center!important;">
            {{ $t('notification.notification_all') }}
          </router-link>
        </template>
        <scale-loader :loading="loading" :color="'#27a1f2'"></scale-loader>
      </div>
    </li>
  </ul>
</template>

<script>
  import moment from 'moment'
  import ScaleLoader from 'vue-spinner/src/ScaleLoader'
  import ClipLoader from 'vue-spinner/src/ClipLoader'
  import { GET_NOTIFICATION_BY_ID } from './../../api'
  import NOTIFICATIONS_QUERY from './../../apollo/query/notification/list.gql'
  import MARK_SEEN from './../../apollo/mutation/notification/mark_seen.gql'
  import DELETE_NOTIFICATION_MUTATION from './../../apollo/mutation/notification/delete.gql'

  export default {
    name: 'Notification',
    components: { ScaleLoader, ClipLoader },
    data() {
      return {
        notifications: [],
        currentPage: 1,
        totalPage: 0,
        loading: true,
        loadIndex: null
      }
    },
    computed: {
      id() {
        return this.$store.getters.id
      }
    },
    apollo: {
      my_notifications: {
        query: NOTIFICATIONS_QUERY,
        manual: true,
        result ({ data, loading }) {
          this.loading = loading
          data.my_notifications.data.map(item => {
            item.content = this.getTitle(item)
            item.creator_avatar = item.creator && item.creator.avatars ? item.creator.avatars.x2 : ''
            item.time_at = this.convertDate(item.created_at)
            return item
          })
          this.notifications = data.my_notifications.data
          this.currentPage = data.my_notifications.current_page
          this.totalPage = data.my_notifications.last_page
        }
      }
    },
    created() {
      moment.locale(this.$i18n.locale)

      Echo.private(`notification.${this.id}`)
          .listen('NotificationCreated', event => {
            const notification = this.startdardNotification(event.notification)

            const client = this.$apollo.provider.defaultClient
            const query = {
              query: NOTIFICATIONS_QUERY
            }
            const data = client.readQuery(query)
            data.my_notifications.data.unshift(notification)
            client.writeQuery({ ...query, data: data })
          })
    },
    methods: {
      getTitle(item) {
        return this.$t(`notification.messages.${item.type}`, {
          creator_name: item.creator ? item.creator.fullname : null,
          invoice_code: item.invoice ? item.invoice.code : null,
          group_name: item.group ? item.group.name : null,
          shift_name: item.shift ? item.shift.name : null
        })
      },
      loadmore() {
        $('.dropdown-menu').on('click', function(e) {
          e.stopPropagation()
        })
        if (this.currentPage < this.totalPage) {
          this.loading = true
          this.$apollo.queries.my_notifications.fetchMore({
            variables: {
              page: this.currentPage + 1
            },
            updateQuery: (previousResult, { fetchMoreResult }) => {
              const newDatas = fetchMoreResult.my_notifications.data
              return {
                my_notifications: {
                  __typename: previousResult.my_notifications.__typename,
                  data: [ ...previousResult.my_notifications.data, ...newDatas ],
                  current_page: fetchMoreResult.my_notifications.current_page,
                  last_page: fetchMoreResult.my_notifications.last_page
                }
              }
            }
          })
        }
      },
      convertDate(date) {
        return moment(date).fromNow()
      },
      async detail(notify, index) {
        if (!notify.view) {
          this.$apollo.mutate({
            mutation: MARK_SEEN,
            variables: {
              notificationId: notify.id
            }
          })
        }
        if ([10, 11, 12, 13].includes(notify.type)) {
          this.$router.push({ name: 'user.profile', params: { component: 'organization' } })
        } else if ([14, 15, 16].includes(notify.type)) {
          this.$router.push({ name: 'user.profile', params: { component: 'shift' } })
        } else if ([17, 18, 19, 20, 21, 22].includes(notify.type)) {
          this.loadIndex = index
          $('.dropdown-menu').on('click', function(e) {
            e.stopPropagation()
          })
          await axios.get(`${GET_NOTIFICATION_BY_ID}/${notify._id}`)
              .then(res => {
                this.loadIndex = null
                $('.dropdown').removeClass('open')
                bus.$emit('modal', {
                  component: 'detail-notification',
                  size: 'sm',
                  payload: res.data.notification
                })
              })
        } else if ([101].includes(notify.type)) {
          this.$router.push({ name: 'service.payment' })
        }
      },
      remove(notificationId) {
        this.$apollo.mutate({
          mutation: DELETE_NOTIFICATION_MUTATION,
          variables: {
            notificationId: notificationId
          },
          update: store => {
            const query = {
              query: NOTIFICATIONS_QUERY,
              variables: {
                page: 1
              }
            }
            const data = store.readQuery(query)
            data.my_notifications.data.splice(index, 1)
            store.writeQuery({ ...query, data: data })
          }
        }).then(() => {
          this.$awn.success(this.$t('word.deleted'))
        })
      },
      startdardNotification(notification) {
        notification.id = notification._id
        notification.__typename = 'notification'
        if (notification.creator) {
          notification.creator.__typename = 'notification_creator'
        } else {
          notification.creator = null
        }
        if (notification.group) {
          notification.group.__typename = 'notification_group'
        } else {
          notification.group = null
        }
        if (notification.shift) {
          notification.shift.__typename = 'notification_shift'
        } else {
          notification.shift = null
        }
        if (notification.invoice) {
          notification.invoice.__typename = 'notification_invoice'
        } else {
          notification.invoice = null
        }
        notification.requirement_id = notification.requirement_id || null
        notification.view = false
        delete notification._id
        return notification
      }
    },
  }
</script>
<style scoped>
  .timing {
    font-size: 12px;
    color: #999999;
    margin: 0;
    float: left;
  }
  .notify-not-active {
    background-color: #edf2fa;
  }
  .notify-not-active a {
    color: #7f7f7f;
  }
  .mail-desc {
    white-space: normal !important;
    font-weight: 500;
    max-height: 500px;
    overflow-y: scroll;
  }
  .list-scroll {
    max-height: 550px;
    width: 400px;
    overflow-y: auto;
    padding-bottom: 0;
  }
  .list-scroll li a {
    font-weight: 400;
  }
  .badge {
    top: inherit;
  }
  .load-message {
    position: absolute;
    width: 100%;
    right: 0;
    top: 30%;
  }
  .load-message .v-spinner {
    margin: auto;
  }
  .box-item:hover .action {
    display: inline-block;
  }
  .action {
    padding-right: 0!important;
    display: none;
    color: #ccc;
    cursor: pointer;
  }
  @media (max-width: 768px) {
    .list-scroll {
      left: -95px !important;
      right: auto;
      width: 355px;
      max-height: 500px;
    }
  }
</style>
