<template>
  <div class="row group-option">
    <div v-for="(option, index) in options" :key="index" class="list-option col-6 col-md-4">
      <h6><strong>{{ option[0] }}</strong></h6>
      <div v-for="(value, key) in option[1]" :key="key"
           class="option-item text-primary" @click="selectTime(key, value)">
        <span>{{ value }}</span>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'OptionTime',
    data() {
      return {
        options: []
      }
    },
    created() {
      this.options = this.$t('config.options_period_time')
    },
    methods: {
      selectTime(key, value) {
        this.$emit('selectTime', {
          name: key,
          value: value
        })
      }
    }
  }
</script>

<style scoped lang="scss">
  .group-option {
    min-width: 400px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    // box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    transition: opacity 218ms;
    // filter: drop-shadow(0 -2px 3px rgba(0, 0, 0, .2));
    .list-option {
      white-space: nowrap;
      .option-item {
        padding-bottom: 10px;
        cursor: pointer;
      }
    }
  }
</style>