<template>
  <div class="text-center">
    <ul v-if="totalPage <= 7" class="pagination">
      <li :class="{'disabled' : currentPage == 1 }" 
          @click="redirectPage(currentPage - 1)"><span>«</span></li>
      <li v-for="page in totalPage"
          :key="page"
          :class="{ 'active' : page == currentPage }"
          @click="redirectPage(page)"><span>{{ page }}</span></li>
      <li :class="{ 'disabled' : currentPage == totalPage }" 
          @click="redirectPage(currentPage + 1)"><span>»</span>
      </li>
    </ul>
    <ul v-else-if="currentPage > 3 && currentPage < totalPage - 2" class="pagination">
      <li @click="redirectPage(currentPage - 1)"><span>«</span></li>
      <li @click="redirectPage(1)"><span>1</span></li>
      <li class="disabled"><span>...</span></li>
      <li @click="redirectPage(currentPage - 1)"><span>{{ currentPage - 1 }}</span></li>
      <li class="active"><span>{{ currentPage }}</span></li>
      <li @click="redirectPage(currentPage + 1)"><span>{{ currentPage + 1 }}</span></li>
      <li class="disabled"><span>...</span></li>
      <li @click="redirectPage(totalPage)"><span>{{ totalPage }}</span></li>
      <li :class="{'disabled' : currentPage == totalPage }" 
          @click="redirectPage(currentPage + 1)"><span>»</span>
      </li>
    </ul>
    <ul v-else-if="currentPage <= 3" class="pagination">
      <li :class="{'disabled' : currentPage == 1 }" 
          @click="redirectPage(currentPage - 1)"><span>«</span></li>
      <li v-for="firstPages in 4"
          :key="firstPages"
          :class="{'active' : firstPages == currentPage}"
          @click="redirectPage(firstPages)"><span>{{ firstPages }}</span>
      </li>
      <li class="disabled"><span>...</span></li>
      <li @click="redirectPage(totalPage)"><span>{{ totalPage }}</span></li>
      <li :class="{'disabled' : currentPage == totalPage }" 
          @click="redirectPage(currentPage + 1)"><span>»</span>
      </li>
    </ul>
    <ul v-else class="pagination">
      <li @click="redirectPage(currentPage - 1)"><span>«</span></li>
      <li @click="redirectPage(1)"><span>1</span></li>
      <li class="disabled"><span>...</span></li>
      <li v-for="lastPages in 4"
          :key="lastPages"
          :class="{'active' : totalPage - 4 + lastPages == currentPage }"
          @click="redirectPage(totalPage - 4 + lastPages)">
        <span>{{ totalPage - 4 + lastPages }}</span>
      </li>
      <li :class="{ 'disabled' : currentPage == totalPage }" 
          @click="redirectPage(currentPage + 1)"><span>»</span>
      </li>
    </ul>
  </div>
</template>
<script>
  export default {
    name: 'Pagination',
    props: {
      currentPage: {
        type: [Number, String],
        default: 1
      },
      totalPage: {
        type: [Number, String],
        default: 1
      }
    },
    methods: {
      redirectPage(page) {
        if (page != this.currentPage && page >= 1 && page <= this.totalPage) {
          this.$emit('changePage', page)
        }
      }
    }
  }
</script>
<style scoped>
  .pagination {
    margin: 0!important;
    cursor: pointer;
  }
</style>