<template>
  <div class="text-center">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">{{ $t('word.qrcode') }}</h4>
    </div>
    <div id="qr" class="modal-body text-center qr">
      <qrcode-vue :value="payload.data"
                  :size="550"
                  level="H"></qrcode-vue>
      <template v-if="payload.name">
        <h2>{{ payload.name }} - {{ payload.place_name }}</h2>
        <p class="text-left" v-html="$t('word.guide_image_qr')"></p>
      </template>
    </div>
    <div class="modal-header">
      <a v-if="dataSize"
         class="btn btn-primary"
         :download="payload.name ? `${payload.name}-${payload.place_name}-qrcode.png` : 'qrcode.png'"
         :href="dataSize">
        <i class="fal fa-download"></i> {{ $t('word.download') }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </a>
    </div>
  </div>
</template>
<script>
  import QrcodeVue from 'qrcode.vue'

  export default {
    name: 'QrcodeRender',
    components: { QrcodeVue },
    props: {
      payload: {
        type: Object,
        default: () => {}
      }
    },
    data() {
      return {
        dataSize: '',
      }
    },
    watch: {
      payload: {
        handler: function() {
          this.setQrCode()
        },
        deep: true
      }
    },
    mounted() {
      this.setQrCode()
    },
    methods: {
      setQrCode() {
        this.$nextTick(() => {
          if (this.payload.name) {
            setTimeout(async () => {
              this.dataSize = await this.$html2canvas($('.qr')[0], { type: 'dataURL' })
            }, 500)
          } else this.dataSize = $('#qr canvas')[0].toDataURL()
        })
      }
    }
  }
</script>
<style scoped>
  #qr {
    border: solid 1px #ededed;
  }

  .modal-header {
    border: none;
  }
</style>
