<template>
  <div class="text-center">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">{{ $t('word.qrcode') }}</h4>
    </div>
    <div id="qr" class="modal-body text-center">
      <div v-for="data in payload" :key="data.data.table_id" class="qr">
        <qrcode-vue :value="JSON.stringify(data)"
                    :size="550"
                    level="H"></qrcode-vue>
        <template v-if="data.data.table_name">
          <h2>{{ data.data.table_name }} - {{ data.place_name }}</h2>
          <p v-html="$t('word.guide_image_qr')" class="text-left"></p>
        </template>
      </div>
    </div>
    <div class="modal-header">
      <button :disabled="payload.length !== datas.length"
              class="btn btn-primary"
              @click="download()">
        <i class="fal fa-download"></i> {{ $t('word.download') }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </button>
    </div>
  </div>
</template>
<script>
  import QrcodeVue from 'qrcode.vue'
  import JSZip from 'jszip'
  import { saveAs } from 'file-saver'

  export default {
    name: 'QrcodeRender',
    components: { QrcodeVue },
    props: {
      payload: {
        type: Array,
        default: () => []
      }
    },
    data() {
      return {
        datas: []
      }
    },
    watch: {
      payload: {
        handler: function() {
          this.setQrCode()
        },
        deep: true
      }
    },
    mounted() {
      this.setQrCode()
    },
    methods: {
      setQrCode() {
        this.datas = []
        this.$nextTick(() => {
          setTimeout(async () => {
            for (let selector of $('.qr')) {
              this.datas.push(await this.$html2canvas(selector, { type: 'dataURL' })
              )
            }
          }, 500)
        })
      },
      download() {
        let zip = new JSZip()
        this.datas.forEach((data, index) => {
          zip.file(`QRCode-${this.payload[index].data.table_name}-${this.payload[index].place_name}.png`, data.replace(/^data:image\/(png|jpg);base64,/, ''), {
            base64: true
          })
        })
        zip.generateAsync({ type: 'blob' })
            .then(blob => {
              saveAs(blob, 'QRCode-Table.zip')
            })
            .finally(() => {
              $('#modal').modal('hide')
            })
      }
    }
  }
</script>
<style scoped>
  #qr {
    overflow-x: scroll;
    display: flex;
  }

  .modal-header {
    border: none;
  }

  .qr {
    border: solid 1px #ededed;
    padding: 15px 15px 0 15px;
  }
</style>