<template>
  <ul class="dropdown-menu animated list-scroll">
    <li v-if="!loading && requirements.length == 0">
      <div class="drop-title">{{ $t('requirement.no_requirement') }}</div>
    </li>
    <li v-else>
      <div class="message-center">
        <a v-for="item in requirements"
           :key="item.id"
           href="javascript:void(0)"
           :class="[ item.is_accept !== null ? 'require-not-active' : '' ]"
           style="display: flex;"
           @click.prevent="detail(item)">
          <div class="box-item col">
            <div class="row">
              <div class="col-auto pull-left">
                <avatar :username="item.creator.fullname"
                        :size="50"
                        class="row"
                        :src="item.creator_avatar"></avatar>
              </div>
              <div class="mail-contnet col">
                <span class="mail-desc"
                      v-html="$t(`requirement.messages.${item.type}`,
                                 { 'user_assign': item.creator.fullname })">
                </span>
                <div>
                  <span class="timing">{{ convertDate(item.date) }}</span>
                  <span v-if="item.is_accept === true" class="pull-right label label-success">
                    {{ $t('word.accepted') }}
                  </span>
                  <span v-else-if="item.is_accept === false" class="pull-right label label-danger">
                    {{ $t('word.rejected') }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <scale-loader :loading="loading" :color="'#27a1f2'"></scale-loader>
        <a v-if="currentPage < totalPage && !loading"
           href="javascript:void(0)"
           style="text-align: center!important;"
           @click.prevent="loadmore()">
          {{ $t('word.loadmore') }}
        </a>
      </div>
    </li>
  </ul>
</template>

<script>
  import moment from 'moment'
  import ScaleLoader from 'vue-spinner/src/ScaleLoader'
  import REQUIREMENTS_QUERY from './../../apollo/query/requirement/list.gql'

  export default {
    name: 'Requirement',
    components: { ScaleLoader },
    data() {
      return {
        requirements: [],
        currentPage: 1,
        totalPage: 0,
        loading: true,
      }
    },
    computed: {
      groupId() {
        return this.$store.getters.groupId
      }
    },
    apollo: {
      requirements: {
        query: REQUIREMENTS_QUERY,
        variables() {
          return {
            groupId: this.groupId
          }
        },
        manual: true,
        result ({ data, loading }) {
          this.loading = loading
          this.totalPage = data.requirements.last_page
          this.currentPage = data.requirements.current_page
          this.requirements = data.requirements.data
          this.requirements.map(item => {
            item.creator_avatar = item.creator && item.creator.avatars ? item.creator.avatars.x2 : ''
            return item
          })
        }
      },
    },
    created() {
      Echo.private(`requirement.${this.groupId}`)
          .listen('RequirementCreated', (event) => {
            this.requirements.unshift(event.requirement)
          })
      moment.locale(window.Laravel.locale)
    },
    methods: {
      loadmore() {
        $('.dropdown-menu').on('click', function(e) {
          e.stopPropagation()
        })
        if (this.currentPage < this.totalPage) {
          this.loading = true
          this.$apollo.queries.requirements.fetchMore({
            variables: {
              page: this.currentPage + 1
            },
            updateQuery: (previousResult, { fetchMoreResult }) => {
              const newDatas = fetchMoreResult.requirements.data
              return {
                requirements: {
                  __typename: previousResult.requirements.__typename,
                  data: [ ...previousResult.requirements.data, ...newDatas ],
                  current_page: fetchMoreResult.requirements.current_page,
                  last_page: fetchMoreResult.requirements.last_page
                }
              }
            }
          })
        }
      },
      convertDate(date) {
        return moment(date).format('DD-MM-YYYY')
      },
      detail(item) {
        switch (item.type) {
          case 1:
            this.$router.push({ name: 'requirement.addition_timekeeping', params: { id: item.id } })
            break
          case 3:
            this.$router.push({ name: 'requirement.take_leave', params: { id: item.id } })
            break
          default:
            break
        }
      },
    },
  }
</script>
<style scoped>
  .avatar {
    margin-left: -10px;
    min-width: 50px;
    height: 50px;
  }

  .timing {
    font-size: 12px;
    color: #999999;
    margin: 0;
    float: left;
  }

  .counter-number {
    background: #FC0107;
    border: none !important;
  }

  .require-not-active {
    background: #EFEFEF;
  }

  .require-not-active a {
    color: #7F7F7F;
  }

  .mail-desc {
    white-space: normal !important;
    font-weight: 500;
    max-height: 500px;
    overflow-y: scroll;
  }

  .list-scroll {
    max-height: 550px;
    width: 400px;
    overflow-y: auto;
    padding-bottom: 0;
  }

  .list-scroll li a {
    font-weight: 400;
  }

  .mail-contnet {
    padding-left: 15px;
  }

  .text-executed {
    border-radius: 10px;
    font-weight: 400;
    padding: 3px 5px;
    color: white;
    font-size: 10px;
    background-color: #d0c5ab;
  }

  .badge {
    top: inherit;
  }

  .badge-secondary {
    font-weight: 300;
    margin-right: 10px;
    text-transform: none;
    background-image: linear-gradient(to right, #BCC5D0, #BCCFFF);
  }

  @media (max-width: 768px) {
    .list-scroll {
      left: -95px !important;
      right: auto;
      width: 355px;
      max-height: 500px;
    }
  }
</style>